Repository azerothcore/azerothcore-wotlk, changes with the labels that .github/labeler.yml gives for each.
All labels: file-cpp, DB, CORE, Script, UnitTests, Documentation, Bash, CMake, Workflow, Batch

.github/labeler.yml:

file-cpp:
  - src/**/*.cpp
  - src/**/*.h
  - deps/**/*.cpp
  - deps/**/*.h

DB:
  - data/**/*.sql

CORE:
  - any: ['src/**/*', '!src/server/scripts/*', '!src/tests/*']

Script:
  - src/server/scripts/**/*.cpp
  - src/server/scripts/**/*.h

UnitTests:
  - src/test/**/*

Documentation:
  - ./*.md

Bash:
  - ./*.sh
  - apps/**/*.sh
  - conf/**/*.sh
  - deps/**/*.sh
  - modules/**/*.sh

CMake:
  - ./*.cmake

Workflow:
  - .github/workflows/*

Batch:
  - apps/**/*.bat

codestyle
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScript.h
Labels: file-cpp, CORE

Cleanup + spirits + chest
  src/server/scripts/EasternKingdoms/Stratholme/boss_jarien_and_sothos.cpp
  src/server/scripts/EasternKingdoms/Stratholme/instance_stratholme.cpp
  src/server/scripts/EasternKingdoms/Stratholme/stratholme.h
Labels: file-cpp, CORE, Script

sql query and format
  data/sql/updates/pending_db_world/rev_1637791407206032100.sql
Labels: DB

Almost missed sql changes
  data/sql/updates/pending_db_world/rev_1638053041040101600.sql
Labels: DB

fix(DB/locales): Adds spanish names for auctioneers in orgrimmar (#9245)
  data/sql/updates/pending_db_world/rev_1637254570424531000.sql
Labels: DB

chore(DB): import pending files
  data/sql/updates/db_world/2021_11_28_03.sql
  data/sql/updates/pending_db_world/rev_1637254570424531000.sql
Labels: DB

fix(DB/Spells): Moonkin Form - remove TBC leftover from mana restore passive aura. (#9247)
  data/sql/updates/pending_db_world/rev_1637259614120586400.sql
Labels: DB

chore(DB): import pending files
  data/sql/updates/db_world/2021_11_28_04.sql
  data/sql/updates/pending_db_world/rev_1637259614120586400.sql
Labels: DB

fix(Core/CharacterHandler): Reputation + Map Explore AT_FIRST_LOGIN (#9252)
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Handlers/CharacterHandler.cpp
Labels: file-cpp, CORE

fix(DB): Tin Veins pooling import from vmangos
  data/sql/updates/pending_db_world/rev_1638149063599368700.sql
Labels: DB

update for chances on silver veins
  data/sql/updates/pending_db_world/rev_1638149063599368700.sql
Labels: DB

Update data/sql/updates/pending_db_world/rev_1638125279373569035.sql
  data/sql/updates/pending_db_world/rev_1638125279373569035.sql
Labels: DB

fix(DB/Loot): battered chest loot in starting areas (#9265)
  data/sql/updates/pending_db_world/rev_1637426939576443600.sql
Labels: DB

chore(DB): import pending files
  data/sql/updates/db_world/2021_11_29_00.sql
Labels: DB

db_errors on build?
  data/sql/updates/pending_db_world/rev_1638149063599368700.sql
Labels: DB

fix(DB/Spells): Thera/Stonard Portals Level Req (#9277)
  data/sql/updates/pending_db_world/rev_1637565596089806926.sql
Labels: DB

chore(DB): import pending files
  data/sql/updates/db_world/2021_11_29_01.sql
  data/sql/updates/pending_db_world/rev_1637565596089806926.sql
Labels: DB

update the state of gameobjects to closed
  data/sql/updates/pending_db_world/rev_1638149063599368700.sql
Labels: DB

sql standards
  data/sql/updates/pending_db_world/rev_1638149063599368700.sql
Labels: DB

sql standards
  data/sql/updates/pending_db_world/rev_1637592933273396000.sql
Labels: DB

fix(Raid/AQ40): Ouro not spawning (#9285)
  data/sql/updates/pending_db_world/rev_1637594598317103800.sql
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_ouro.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/temple_of_ahnqiraj.h
Labels: file-cpp, DB, CORE, Script

chore(DB): import pending files
  data/sql/updates/db_world/2021_11_29_02.sql
  data/sql/updates/pending_db_world/rev_1637594598317103800.sql
Labels: DB

fix(Scripts/UBRS): Drakkisath's conflagrate should drop threat temporarily (#9299)
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_drakkisath.cpp
Labels: file-cpp, CORE, Script

fix(DB/loot): Correct Treant's Bane drop rate (#9280)
  data/sql/updates/pending_db_world/rev_1637585876511707240.sql
Labels: DB

chore(DB): import pending files
  data/sql/updates/db_world/2021_11_29_03.sql
  data/sql/updates/pending_db_world/rev_1637585876511707240.sql
Labels: DB

Core/Packet: Guild
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Guilds/Guild.cpp
  src/server/game/Guilds/Guild.h
  src/server/game/Guilds/GuildMgr.cpp
  src/server/game/Guilds/GuildMgr.h
  src/server/game/Handlers/GuildHandler.cpp
  src/server/game/Server/Packets/AllPackets.h
  src/server/game/Server/Packets/GuildPackets.cpp
  src/server/game/Server/Packets/GuildPackets.h
  src/server/game/Server/Protocol/Opcodes.cpp
  src/server/game/Server/WorldSession.h
Labels: file-cpp, CORE

Update.
  src/server/scripts/EasternKingdoms/Scholomance/boss_kormok.cpp
  src/server/scripts/EasternKingdoms/Scholomance/scholomance.h
Labels: file-cpp, CORE, Script

fix(Scripts/Spells): Mind Control should put both caster and target in combat. (#9301)
  data/sql/updates/pending_db_world/rev_1637699382534407800.sql
  src/server/game/Entities/Unit/Unit.cpp
  src/server/scripts/Spells/spell_priest.cpp
Labels: file-cpp, DB, CORE, Script

chore(DB): import pending files
  data/sql/updates/db_world/2021_11_29_04.sql
  data/sql/updates/pending_db_world/rev_1637699382534407800.sql
Labels: DB

fix(DB): Duskwood mineral spawns and pooling
  data/sql/updates/pending_db_world/rev_1638183413923029400.sql
Labels: DB

fix(Core/Entities): add missing nul pointer checks in HandleProcTrigger Spell (#9303)
  src/server/game/Entities/Unit/Unit.cpp
Labels: file-cpp, CORE

fix(DB/Gameobject): Improved Copper Vein spawns and pooling (#9284)
  data/sql/updates/pending_db_world/rev_1637592933273396000.sql
Labels: DB

chore(DB): import pending files
  data/sql/updates/db_world/2021_11_29_05.sql
Labels: DB
