Repository azerothcore/azerothcore-wotlk, changes with the labels that .github/labeler.yml gives for each.
All labels: file-cpp, DB, CORE, Script, UnitTests, Documentation, Bash, CMake, Workflow, Batch

fix(Core/Spells): Increased Arcane Bolt effect radius to 40 yards. (#9217)
  data/sql/updates/pending_db_world/rev_1637600477515479900.sql
  src/server/game/Spells/SpellMgr.cpp
Labels: file-cpp, DB, CORE

chore(DB): import pending files
  data/sql/updates/db_world/2021_11_28_00.sql
  data/sql/updates/pending_db_world/rev_1637600477515479900.sql
Labels: DB

arcanite reaper recipe drop rare fix
  data/sql/updates/pending_db_world/rev_1638100445239760555.sql
Labels: DB

fix(DB/Quest): Alterac Valley trinkets quests (#9222)
  data/sql/updates/pending_db_world/rev_1637109262496158800.sql
Labels: DB

chore(DB): import pending files
  data/sql/updates/db_world/2021_11_28_01.sql
Labels: DB

fix(DB/creature_loot): Remove underlevel RLT from Blackhand Veteran
  data/sql/updates/pending_db_world/rev_1638101787793400851.sql
Labels: DB

fix(DB/SAI) Script templars from Lesser Windstones
  data/sql/updates/pending_db_world/rev_1638105320614262889.sql
Labels: DB

fix(Scripts/MoltenCore): Ragnaros target selector and remove submerge… (#9335)
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_ragnaros.cpp
Labels: file-cpp, CORE, Script

fix(DB/SAI) Script Dukes spawned from Windstones
  data/sql/updates/pending_db_world/rev_1638107879444151149.sql
Labels: DB

Update rev_1638107879444151149.sql
  data/sql/updates/pending_db_world/rev_1638107879444151149.sql
Labels: DB

Update rev_1638105320614262889.sql
  data/sql/updates/pending_db_world/rev_1638105320614262889.sql
Labels: DB

Sql Clean up
  data/sql/updates/pending_db_world/rev_1637692848290406800.sql
Labels: DB

fix(DB/SAI) fix(DB/SAI) Script Lords spawned from Greater Windstones
  data/sql/updates/pending_db_world/rev_1638110187508927447.sql
Labels: DB

add brief
  src/server/game/Scripting/ScriptMgr.h
Labels: file-cpp, CORE

1
  src/server/game/Scripting/ScriptMgr.h
Labels: file-cpp, CORE

Update src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Entities/Creature/CreatureData.h
Labels: file-cpp, CORE

Update src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Entities/Creature/CreatureData.h
Labels: file-cpp, CORE

Update src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Entities/Creature/CreatureData.h
Labels: file-cpp, CORE

Update src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.cpp
Labels: file-cpp, CORE

Update src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.cpp
Labels: file-cpp, CORE

Update src/server/scripts/Commands/cs_reload.cpp
  src/server/scripts/Commands/cs_reload.cpp
Labels: file-cpp, CORE, Script

Update src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.cpp
Labels: file-cpp, CORE

Update src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.cpp
Labels: file-cpp, CORE

Update src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.cpp
Labels: file-cpp, CORE

Update src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.cpp
Labels: file-cpp, CORE

Update src/server/game/Entities/Unit/Unit.h
  src/server/game/Entities/Unit/Unit.h
Labels: file-cpp, CORE

Update src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.cpp
Labels: file-cpp, CORE

Update src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.cpp
Labels: file-cpp, CORE

Bracket Recommendations
  src/server/game/Globals/ObjectMgr.cpp
Labels: file-cpp, CORE

fix(DB/SAI/Gossip) Add missing SAI and gossip to Elder Torntusk
  data/sql/updates/pending_db_world/rev_1638112959691757857.sql
Labels: DB

fix(DB/SAI) Deathstalker Vincent has SAI in DB but not linked
  data/sql/updates/pending_db_world/rev_1638113589865941888.sql
Labels: DB

Update rev_1638100445239760555.sql
  data/sql/updates/pending_db_world/rev_1638100445239760555.sql
Labels: DB

Update rev_1637594598317103800.sql
  data/sql/updates/pending_db_world/rev_1637594598317103800.sql
Labels: DB

chore(Core/Misc): code cleanup
  src/common/Configuration/Config.cpp
Labels: file-cpp, CORE

updated spells and minor inheritance detail
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/boss_emperor_dagran_thaurissan.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/boss_moira_bronzebeard.cpp
Labels: file-cpp, CORE, Script

some more spells
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/boss_anubshiah.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/boss_gorosh_the_dervish.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/boss_grizzle.cpp
Labels: file-cpp, CORE, Script

fix(DB/Creature): Add Fellicent path and spawntime (#9224)
  data/sql/updates/pending_db_world/rev_1637134824779324732.sql
Labels: DB

chore(DB): import pending files
  data/sql/updates/db_world/2021_11_28_02.sql
  data/sql/updates/pending_db_world/rev_1637134824779324732.sql
Labels: DB

fix(DB/SAI) Clean up event_type in Timed Actionlists
  data/sql/updates/pending_db_world/rev_1638125279373569035.sql
Labels: DB

fix(Core/Player): prevent crash exploit spam duel starting (#9226)
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerMisc.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Handlers/DuelHandler.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellEffects.cpp
  src/server/scripts/World/achievement_scripts.cpp
Labels: file-cpp, CORE, Script

.github/labeler.yml:

file-cpp:
  - src/**/*.cpp
  - src/**/*.h
  - deps/**/*.cpp
  - deps/**/*.h

DB:
  - data/**/*.sql

CORE:
  - any: ['src/**/*', '!src/server/scripts/*', '!src/tests/*']

Script:
  - src/server/scripts/**/*.cpp
  - src/server/scripts/**/*.h

UnitTests:
  - src/test/**/*

Documentation:
  - ./*.md

Bash:
  - ./*.sh
  - apps/**/*.sh
  - conf/**/*.sh
  - deps/**/*.sh
  - modules/**/*.sh

CMake:
  - ./*.cmake

Workflow:
  - .github/workflows/*

Batch:
  - apps/**/*.bat
