Repository azerothcore/azerothcore-wotlk, pull requests merged in 2018-07, with the labels that each got.

#925 Fix Maexxna's portal rotation.
  data/sql/updates/pending_db_world/rev_1528849180165830100.sql
  src/server/game/Entities/GameObject/GameObject.cpp
Labels: Area - Instances, Confirmed, Needs Feedback, Needs Testing, To Be Merged

#939 Core/Spells: Fixed Blade FURry not sharing damage/ignoring armor to a…
  src/server/game/Spells/SpellMgr.cpp
Labels: Class - Rogue

#937 Some Gluth fixes...
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/Northrend/Naxxramas/boss_gluth.cpp
Labels: Priority - Low, Raid - Northrend, To Be Merged

#938 Core/Scripts: Sapphiron fixes..
  src/server/scripts/Northrend/Naxxramas/boss_sapphiron.cpp
Labels: Priority - Low, Raid - Northrend

#928 Fix Fishing's spell cast interruption.
  src/server/game/Entities/GameObject/GameObject.cpp
Labels: CORE, General - Mechanics, Priority - High

#965 Fix NPC 7856 (Southsea Freebooter)
  data/sql/updates/pending_db_world/rev_1530734106945512205.sql
Labels: DB, General - NPC

#926 tools improvement
  deps/recastnavigation/Detour/CMakeLists.txt
  deps/recastnavigation/Detour/Include/DetourAssert.h
  deps/recastnavigation/Detour/Include/DetourNavMesh.h
  deps/recastnavigation/Detour/Include/DetourNavMeshQuery.h
  deps/recastnavigation/Detour/Source/DetourAssert.cpp
  deps/recastnavigation/Detour/Source/DetourCommon.cpp
  deps/recastnavigation/Detour/Source/DetourNavMesh.cpp
  deps/recastnavigation/Detour/Source/DetourNavMeshBuilder.cpp
  deps/recastnavigation/Detour/Source/DetourNavMeshQuery.cpp
  deps/recastnavigation/Recast/CMakeLists.txt
  deps/recastnavigation/Recast/Include/RecastAssert.h
  deps/recastnavigation/Recast/Source/RecastAssert.cpp
  deps/recastnavigation/Recast/Source/RecastMesh.cpp
  deps/recastnavigation/Recast/Source/RecastRegion.cpp
  src/common/Collision/VMapDefinitions.h
  src/server/game/Miscellaneous/SharedDefines.h
  src/tools/mesh_extractor/Utils.cpp
  src/tools/mesh_extractor/Utils.h
  src/tools/mmaps_generator/MapBuilder.cpp
  src/tools/vmap4_extractor/vmapexport.cpp
  src/tools/vmap4_extractor/wmo.cpp
  src/tools/vmap4_extractor/wmo.h
Labels: Confirmed, Needs Testing/Feedback, Priority - High

#943 Ahn'Kahet: Amanitar should cast the fungus only on players without "M…
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/boss_amanitar.cpp
Labels: General - NPC, Instance - Dungeon - Northrend, To Be Merged

#931 Change the read method in the module config file.
  src/cmake/ac_macros.cmake
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/scripts/Commands/cs_reload.cpp
  src/server/worldserver/CMakeLists.txt
  src/server/worldserver/Master.cpp
Labels: CORE, To Be Merged
