Repository azerothcore/azerothcore-wotlk, pull requests merged in 2018-11, with the labels that each got.

#1074 Update data/sql/updates/pending_db_world/rev_1542225513703028900.sql
  data/sql/updates/pending_db_world/rev_1542225513703028900.sql
Labels: DB, Priority - Trivial

#1087 DB/QUEST: fix OfferRewardText for The New Horde
  data/sql/updates/pending_db_world/rev_1542756898843297200.sql
Labels: DB, General - Quests, Priority - Low

#1050 CORE/Spell: fix Spell reflected doesn't create DR on reflecting spell target.
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
Labels: CORE, General - PvP, Needs Testing/Feedback, Priority - High

#1088 DB/SAI: fix tortured skeletons in Shadow Labyrinth
  data/sql/updates/pending_db_world/rev_1542839405121938872.sql
Labels: DB, General - NPC, Priority - Low, To Be Merged

#1070 Talk method for translations
  src/server/scripts/EasternKingdoms/zone_silverpine_forest.cpp
Labels: CORE, General - NPC, Priority - Low, To Be Merged
