Repository azerothcore/azerothcore-wotlk, pull requests merged in 2018-09, with the labels that each got.

#1000 DB/Characters: Remove unused tables "uptime" and "cheaters"
  data/sql/base/db_characters/cheaters.sql
  data/sql/base/db_characters/uptime.sql
  data/sql/updates/db_characters/2018_08_08_00.sql
Labels: DB, Priority - Trivial, To Be Merged

#999 log unused config options
  src/common/Configuration/Config.cpp
  src/common/Configuration/Config.h
  src/common/Logging/Log.cpp
Labels: To Be Merged

#1003 Core/Account: Add total time played in account
  data/sql/updates/pending_db_auth/rev_1534268747940576100.sql
  src/common/Database/Implementation/LoginDatabase.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Server/WorldSession.cpp
  src/server/game/Server/WorldSession.h
  src/server/game/Server/WorldSocket.cpp
Labels: CORE, New Feature

#1024 Conf - UseProcessors option explained
  src/server/authserver/authserver.conf.dist
  src/server/worldserver/worldserver.conf.dist
Labels: Priority - Trivial

#1034 DB: Grimtotem Naturalist fix
  data/sql/updates/pending_db_world/rev_1537701976962508800.sql
Labels: Area - Classic, DB, General - NPC
