Repository azerothcore/azerothcore-wotlk, pull requests merged in 2018-06, with the labels that each got.

#898 [DB] Scholomance torch fix
  data/sql/updates/pending_db_world/rev_1527682153565076000.sql
Labels: Area - Instances, Comp - Database, Dungeon - Classic, Priority - Low, To Be Merged

#881 Scripts - Fixed missing headers
  src/server/scripts/Events/hallows_end.cpp
  src/server/scripts/Spells/spell_quest.cpp
Labels: To Be Merged

#891 DK quest chain: Implement reaction for Orgrimmar and Alliance guards while finishing the last quest
  data/sql/updates/pending_db_world/rev_1527626760682403687.sql
Labels: Fix - Needs Testing

#884 Fix NPC 28611 (Scarlet Captain) in the DK area
  data/sql/updates/pending_db_world/rev_1526938640533602197.sql
Labels: Class - Death Knight, Comp - Database, Confirmed, General - NPC, Priority - Low

#851 Quest: Captain Garran Vimes - Missing end event
  data/sql/updates/pending_db_world/rev_1525638748978393236.sql
Labels: Comp - Database, Confirmed, General - Quests, To Be Merged

#912 Module hook for kills performed by pets/totems
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: Needs Testing, Suggestion

#894 Prince Malchezaar: Add cooldown to Amplify Damage in phase 3
  src/server/scripts/EasternKingdoms/Karazhan/boss_prince_malchezaar.cpp
Labels: Area - Instances, Comp - Core, Needs Testing, Not confirmed, Priority - High, Raid - Outland

#927 Core/Arena: fix auto distribute arena points and config option.
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
  src/server/game/Battlegrounds/BattlegroundMgr.h
Labels: Comp - Core, Needs Feedback

#929 Core/Scripts: Add BGScripts and new hooks
  src/server/game/Battlegrounds/Battleground.cpp
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: Needs Feedback, To Be Merged

#805 Remove temporary fix and document possible null in hook
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: Comp - Core, To Be Merged

#770 Fix Lady Deathwhisper intro
  data/sql/updates/pending_db_world/rev_1517167424973293300.sql
  src/server/scripts/Northrend/IcecrownCitadel/boss_lady_deathwhisper.cpp
  src/server/scripts/Northrend/IcecrownCitadel/instance_icecrown_citadel.cpp
Labels: Area - Instances, Comp - Core, Priority - High, Raid - Northrend, To Be Merged

#909 Add GitRevision
  src/common/Debugging/WheatyExceptionReport.cpp
  src/common/GitRevision.cpp
  src/common/GitRevision.h
  src/common/SystemConfig.h
  src/server/authserver/Main.cpp
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/World/World.cpp
  src/server/scripts/Commands/cs_server.cpp
  src/server/worldserver/Master.cpp
Labels: Needs Testing, Suggestion
