Repository azerothcore/azerothcore-wotlk, pull requests merged in 2018-10, with the labels that each got.

#1033 bugfix Pit of Saron intro
  data/sql/updates/pending_db_world/rev_1537654210905936070.sql
Labels: DB, To Be Merged

#913 Barrens: Pathing for kodos; random movement for gazelles
  data/sql/updates/pending_db_world/rev_1528460337456239208.sql
Labels: Area - Classic, To Be Merged

#1031 Silithus sai
  data/sql/updates/pending_db_world/rev_1537455748525502400.sql
Labels: DB, Needs Testing/Feedback

#1046 CORE/conf: Note about MaxCoreStuckTime danger
  src/server/worldserver/worldserver.conf.dist
Labels: Needs Testing/Feedback

#907 Fix zeppelin master gossip text; remove gossip option "Where is the zeppelin now?"
  data/sql/updates/pending_db_world/rev_1528129508252853447.sql
Labels: DB, To Be Merged

#895 Set pools for Ghostlands Mining
  data/sql/updates/pending_db_world/rev_1527664423307226600.sql
Labels: Area - Classic, DB, Needs Testing/Feedback, Priority - Low, To Be Merged

#1037 GM: Unify GM commands
  data/sql/updates/pending_db_world/rev_1537827596332623300.sql
  src/server/scripts/Commands/cs_go.cpp
  src/server/scripts/Commands/cs_list.cpp
  src/server/scripts/Commands/cs_lookup.cpp
Labels: CORE, DB, To Be Merged

#973 Core/Conf: Remove StartAllReputation from player.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Handlers/CharacterHandler.cpp
Labels: CORE, Needs Testing/Feedback, To Be Merged

#1061 Fix voice samples for Headless Horseman during quest "Let the Fires Come!"
  src/server/scripts/Events/hallows_end.cpp
Labels: CORE, To Be Merged
