Repository azerothcore/azerothcore-wotlk, pull requests merged in 2019-12, with the labels that each got.

#2403 fix(DB/SAI): Freed Crusader
  data/sql/updates/pending_db_world/rev_1572823869348028411.sql
Labels: To Be Merged

#2455 Core/Misc: few improvements to ut8 handling
  src/common/Containers.h
  src/common/Utilities/Util.cpp
  src/common/Utilities/Util.h
  src/server/game/Accounts/AccountMgr.cpp
  src/server/game/Accounts/AccountMgr.h
  src/server/scripts/Commands/cs_account.cpp
  src/server/scripts/Commands/cs_ban.cpp
  src/server/scripts/Commands/cs_character.cpp
  src/server/scripts/Commands/cs_lookup.cpp
  src/server/scripts/Commands/cs_misc.cpp
  src/server/worldserver/RemoteAccess/RASocket.cpp
Labels: Priority - High, To Be Merged

#2483 fix(CI): Enable Travis modules check
  .travis.yml
  apps/ci/ci-install-modules.sh
Labels: To Be Merged

#2484 fix(DB): Command reload acore_string
  data/sql/updates/pending_db_world/rev_1575285367471524200.sql
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/World/World.cpp
Labels: To Be Merged

#2405 fix(Core/SpellScript): Remove hard-coded texts from the "Pit of Saron" c++ script
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/pit_of_saron.cpp
Labels: To Be Merged

#2431 fix(Core)Rand shuffle seed (RandomBattlegroundSystem,ICC-Marrowgar & Deathwhisper)
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_lady_deathwhisper.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_lord_marrowgar.cpp
Labels: To Be Merged

#2432 fix(Core/GameObjectScript): Environmental damage of burning game objects
  data/sql/updates/pending_db_world/rev_1573682333945401103.sql
  src/server/game/Grids/Notifiers/GridNotifiers.h
  src/server/scripts/World/go_scripts.cpp
Labels: To Be Merged

#2468 fix(DB/SAI): Re-added Snowblind Follower interaction for quest 14090
  data/sql/updates/pending_db_world/rev_1574778273250296900.sql
Labels: To Be Merged

#2442 feat(Core/ItemHandler): Optional item recovery
  data/sql/updates/pending_db_characters/rev_1575656087867346414.sql
  src/common/Database/Implementation/CharacterDatabase.cpp
  src/common/Database/Implementation/CharacterDatabase.h
  src/server/game/Handlers/ItemHandler.cpp
  src/server/game/Server/WorldSession.h
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/worldserver/worldserver.conf.dist
Labels: To Be Merged

#2452 fix(DB/SAI): Enraged Feral Scar
  data/sql/updates/pending_db_world/rev_1574031504415896764.sql
Labels: To Be Merged

#2478 docs: Revamp the README
  README.md
Labels: Documentation, To Be Merged

#2456 fix(Core/BG) Moved AddObject AV doors after their spawn, closes #2453
  src/server/game/Battlegrounds/Zones/BattlegroundAV.cpp
Labels: To Be Merged

#2470 fix(DB/SAI): Fix SAI error during quest "The Seer's Relic"
  data/sql/updates/pending_db_world/rev_1574892827070035498.sql
Labels: To Be Merged

#2476 fix(CORE/Raid) Save correct data to DB after killing Ragnaros (issue #2464)
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_ragnaros.cpp
Labels: To Be Merged

#2463 fix(DB): Stranglethorn Fishing Extravaganca Event NPC's & Gameobject
  data/sql/updates/pending_db_world/rev_1574370477422185700.sql
Labels: To Be Merged

#2474 fix(DB/SAI): Citizen of New Avalon
  data/sql/updates/pending_db_world/rev_1574980316492398478.sql
Labels: To Be Merged

#2506 fix(Core/Guild): Crash during money deposit / withdrawal
  src/server/game/Guilds/Guild.cpp
Labels: Priority - Critical, To Be Merged

#2482 fix(DB): Various names & title fixes in locales
  data/sql/updates/pending_db_world/rev_1575205045256960000.sql
Labels: To Be Merged

#2511 fix(Core/ItemHandler): crash buy back item
  src/common/Database/Implementation/CharacterDatabase.cpp
  src/server/game/Handlers/ItemHandler.cpp
Labels: Priority - Critical, To Be Merged

#2487 feat(Core/CommandScript): New GM command "player learn"
  data/sql/updates/pending_db_world/rev_1575409612123583009.sql
  src/server/scripts/Commands/CMakeLists.txt
  src/server/scripts/Commands/PlayerCommand.cpp
  src/server/scripts/Commands/PlayerCommand.h
  src/server/scripts/Commands/cs_learn.cpp
  src/server/scripts/Commands/cs_player.cpp
  src/server/scripts/ScriptLoader.cpp
Labels: To Be Merged

#2492 fix(Core/spell) Add an intervene condition to avoid stealth removal
  src/server/game/Spells/Spell.cpp
Labels: To Be Merged

#2499 fix(CORE/Instance): Fixed group spawn UBRS Rend Blackhand
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_rend_blackhand.cpp
Labels: To Be Merged

#2502 fix(DB/SAI): Wastewalker Captive
  data/sql/updates/pending_db_world/rev_1576103837497375056.sql
Labels: To Be Merged

#2507 fix(Core/CreatureScript): Grand Warlock Nethekurse
  data/sql/updates/pending_db_world/rev_1576450864355101200.sql
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/boss_nethekurse.cpp
Labels: To Be Merged

#2508 fix(Core): Glyph of Eternal Water
  data/sql/updates/pending_db_world/rev_1576535250226124911.sql
  src/server/game/Handlers/PetHandler.cpp
  src/server/scripts/Spells/spell_mage.cpp
Labels: To Be Merged

#2509 Renamed TCSoap to ACSoap
  src/server/worldserver/ACSoap/ACSoap.cpp
  src/server/worldserver/ACSoap/ACSoap.h
  src/server/worldserver/Master.cpp
Labels: To Be Merged

#2516 fix(Core/Battlegrounds) Rewrite RandomBG and enabling bg/arenas weights
  src/common/Containers.h
  src/common/Utilities/Util.cpp
  src/common/Utilities/Util.h
  src/server/game/Battlegrounds/Battleground.cpp
  src/server/game/Battlegrounds/Battleground.h
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
  src/server/game/Battlegrounds/BattlegroundMgr.h
  src/server/game/Battlegrounds/BattlegroundQueue.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundAB.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundEY.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundWS.cpp
  src/server/game/DataStores/DBCStores.cpp
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Groups/Group.cpp
  src/server/game/Handlers/QuestHandler.cpp
  src/server/game/Spells/SpellEffects.cpp
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/World/achievement_scripts.cpp
Labels: To Be Merged

#2529 Core/Misc: get back missed headers
  src/common/Define.h
  src/common/Utilities/Util.h
Labels: To Be Merged

#2519 fix(DB/SAI): Snufflenose Gopher
  data/sql/updates/pending_db_world/rev_1576886642925348957.sql
Labels: To Be Merged

#2522 fix(DB/SAI): Kanati Greycloud
  data/sql/updates/pending_db_world/rev_1576973316431604917.sql
  src/server/scripts/Kalimdor/zone_thousand_needles.cpp
Labels: To Be Merged
