Repository azerothcore/azerothcore-wotlk, pull requests merged in 2019-07, with the labels that each got.

#2006 fix(DB/Creatures): Living & Mature lasher
  data/sql/updates/pending_db_world/rev_1561378495704012800.sql
Labels: To Be Merged

#2011 fix(DB/SAI): Mini Diablo, Panda Cub, Sleepy Willy
  data/sql/updates/pending_db_world/rev_1561467004981777657.sql
Labels: To Be Merged

#2007 fix(DB/Spell): Argent Dawn trinkets
  data/sql/updates/pending_db_world/rev_1561387934007172065.sql
  src/server/scripts/Spells/spell_item.cpp
Labels: To Be Merged

#2040 fix(Core/Wintergrasp): Spam msg's
  src/server/game/Battlefield/Zones/BattlefieldWG.h
Labels: To Be Merged

#2018 fix(Core/Wintergrasp): Leaving Wintergrasp with the minimap button
  src/server/game/Battlefield/Battlefield.cpp
  src/server/game/Battlefield/Battlefield.h
  src/server/game/Handlers/MiscHandler.cpp
Labels: To Be Merged

#2059 fix(DB/Creature): Ribbon Pole Dance NPC's
  data/sql/updates/pending_db_world/rev_1562240494889723700.sql
Labels: To Be Merged

#2010 [CFBG module part 3] Core/BG: Rework functions, delete ASSERT's.
  src/server/game/Battlegrounds/Battleground.h
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
  src/server/game/Battlegrounds/BattlegroundQueue.cpp
  src/server/game/Battlegrounds/BattlegroundQueue.h
Labels: Waiting to be tested

#1699 fix(DB/Quest): Fix Fire At Will!
  data/sql/updates/pending_db_world/rev_1554741101083171200.sql
  src/server/scripts/Outland/zone_blades_edge_mountains.cpp
Labels: To Be Merged

#2013 fix(DB/Creature): Warsong Marksman's corpses
  data/sql/updates/pending_db_world/rev_1561310607731551700.sql
Labels: To Be Merged

#2016 fix(DB/Creature): Kargath Grunt equipment
  data/sql/updates/pending_db_world/rev_1561359418814877200.sql
Labels: To Be Merged

#2017 fix(DB/SAI): quest "When All Else Fails"
  data/sql/updates/pending_db_world/rev_1561541013574518977.sql
Labels: To Be Merged

#1820 feat(Core): GUID recycler
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/scripts/Commands/cs_gobject.cpp
  src/server/scripts/Commands/cs_npc.cpp
Labels: CORE, Priority - Critical, To Be Merged

#2021 fix(DB/Creature): Flatland Prowler SAI
  data/sql/updates/pending_db_world/rev_1561621303750042400.sql
Labels: To Be Merged

#2022 fix(DB/Creature): Fixing reports related to DB, SAI, Text
  data/sql/updates/pending_db_world/rev_1561636568439132700.sql
Labels: To Be Merged

#2027 feat(Core/Pool): improve pool manager
  data/sql/updates/pending_db_world/rev_1561816769087112416.sql
  src/server/game/Pools/PoolMgr.cpp
  src/server/game/Pools/PoolMgr.h
Labels: To Be Merged

#2029 fix(DB/creature_text): "Scarlet Medic" / "Scarlet Infantryman"
  data/sql/updates/pending_db_world/rev_1561842370323631350.sql
Labels: To Be Merged

#2031 Fix (DB/gameobject): Faction+flags ID 184632
  data/sql/updates/pending_db_world/rev_1561905129740963200.sql
Labels: To Be Merged

#2033 fix(DB/Quests): For Great Honor & Concerted Efforts
  data/sql/updates/pending_db_world/rev_1561966083359604300.sql
Labels: To Be Merged

#2034 fix(DB/Creature): High Overlord Saurfang
  data/sql/updates/pending_db_world/rev_1561967531437429600.sql
Labels: To Be Merged

#2036 fix(DB/Creature): Razorscale Harpoon Fire State
  data/sql/updates/pending_db_world/rev_1561997614685609600.sql
Labels: To Be Merged

#2037 fix(Core): Online status of accounts
  src/server/game/Server/WorldSession.cpp
Labels: To Be Merged

#2041 fix(DB/SAI): fix movement / SAI errors
  data/sql/updates/pending_db_world/rev_1562110333242304237.sql
Labels: To Be Merged

#2047 fix(DB/SAI): fix a few issues for Jotunheim
  data/sql/updates/pending_db_world/rev_1562149079104513383.sql
Labels: To Be Merged

#2052 fix(Core/CreatureScript): fix Skadi / Grauf text error
  src/server/scripts/Northrend/UtgardeKeep/UtgardePinnacle/boss_skadi.cpp
Labels: To Be Merged

#2015 refactor(Naxxramas): code cleaning
  src/server/scripts/Northrend/Naxxramas/boss_anubrekhan.cpp
  src/server/scripts/Northrend/Naxxramas/boss_four_horsemen.cpp
  src/server/scripts/Northrend/Naxxramas/boss_gluth.cpp
  src/server/scripts/Northrend/Naxxramas/boss_gothik.cpp
  src/server/scripts/Northrend/Naxxramas/boss_grobbulus.cpp
  src/server/scripts/Northrend/Naxxramas/boss_heigan.cpp
  src/server/scripts/Northrend/Naxxramas/boss_kelthuzad.cpp
  src/server/scripts/Northrend/Naxxramas/boss_loatheb.cpp
  src/server/scripts/Northrend/Naxxramas/boss_maexxna.cpp
  src/server/scripts/Northrend/Naxxramas/boss_noth.cpp
  src/server/scripts/Northrend/Naxxramas/boss_patchwerk.cpp
  src/server/scripts/Northrend/Naxxramas/boss_razuvious.cpp
  src/server/scripts/Northrend/Naxxramas/boss_sapphiron.cpp
  src/server/scripts/Northrend/Naxxramas/boss_thaddius.cpp
  src/server/scripts/Northrend/Naxxramas/instance_naxxramas.cpp
Labels: To Be Merged

#2057 fix(DB/Gameobject): Pumpkin wrong placement
  data/sql/updates/pending_db_world/rev_1562236589279335600.sql
Labels: To Be Merged

#2058 fix(DB/SAI): Overthane Balargarde
  data/sql/updates/pending_db_world/rev_1562237566436595766.sql
Labels: To Be Merged

#2050 fix (Core/Boss Scripts) Update boss_hodir.cpp - Fix ice shards cast speed in 10 man
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_hodir.cpp
Labels: To Be Merged

#2060 fix(DB/Core): Dragonflayer Strategist spell "Hurl Dagger"
  data/sql/updates/pending_db_world/rev_1562252728718185214.sql
  src/server/game/Spells/SpellMgr.cpp
Labels: To Be Merged

#2067 fix(Core/Battleground): Warsong flags can be picked up while mounted
  src/server/game/Battlegrounds/Zones/BattlegroundWS.cpp
Labels: To Be Merged

#2110 fix(Core/Boss): Boss Urom
  src/server/scripts/Northrend/Nexus/Oculus/boss_urom.cpp
Labels: To Be Merged

#2068 fix(DB/reference_loot_template): Loot error
  data/sql/updates/pending_db_world/rev_1562421937870171000.sql
Labels: To Be Merged

#2078 fix(DB/SAI): Technician Zhanaa's script on quest turn-in
  data/sql/updates/pending_db_world/rev_1562666306247342200.sql
Labels: To Be Merged

#2066 chore(PR template): automatically add instructions for testing
  pull_request_template.md
Labels: To Be Merged

#2080 fix(DB/CreatureScript): Deathblow to the Legion
  data/sql/updates/pending_db_world/rev_1562779174835710547.sql
  src/server/scripts/Outland/zone_netherstorm.cpp
  src/server/scripts/Outland/zone_shattrath_city.cpp
Labels: To Be Merged

#2115 fix(Core/Spell): Flame Breath (Catapult)
  data/sql/updates/pending_db_world/rev_1563632673695492400.sql
  src/server/game/Spells/SpellMgr.cpp
Labels: To Be Merged

#2083 fix(DB/CreatureScript): The Lurker Below
  data/sql/updates/pending_db_world/rev_1562842380647125073.sql
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_lurker_below.cpp
Labels: To Be Merged

#2085 fix(DB/gameobject): Band-aid fix for Malygos platform
  data/sql/updates/pending_db_world/rev_1560396171418694700.sql
  src/server/scripts/Northrend/Nexus/EyeOfEternity/instance_eye_of_eternity.cpp
Labels: To Be Merged

#2102 fix(DB/Quest): Ending their world
  data/sql/updates/pending_db_world/rev_1563271511100419000.sql
Labels: To Be Merged

#2087 Fix client game crash with invite player to invalid name for Channel.
  src/server/game/Handlers/ChannelHandler.cpp
Labels: To Be Merged

#2090 fix(Core/Quest): Scratches
  src/server/scripts/Outland/zone_blades_edge_mountains.cpp
Labels: To Be Merged

#2114 fix(Core/Achievements): Skill achievements
  src/server/game/Entities/Player/Player.cpp
Labels: To Be Merged

#2131 fix(Core/SAI): fix parameters for action type "SMART_ACTION_UPDATE_TEMPLATE"
  data/sql/updates/pending_db_world/rev_1563920358511875161.sql
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: To Be Merged

#2093 fix(DB/Creature): Enslaved Netherwing Drake flying animation
  data/sql/updates/pending_db_world/rev_1563029982815095900.sql
Labels: To Be Merged

#2112 fix(DB/Waypoint): Saedelin Whitedawn waypoint
  data/sql/updates/pending_db_world/rev_1563566703983662300.sql
Labels: To Be Merged

#1680 fix(Core/DB/Quest): Let Them Eat Crow
  data/sql/updates/pending_db_world/rev_1554387633805928700.sql
  src/server/game/Spells/SpellMgr.cpp
Labels: To Be Merged

#2095 fix (Core/Raid/Boss Script): Remove Goblin Rocket Pack from inventory
  src/server/scripts/Northrend/IcecrownCitadel/boss_icecrown_gunship_battle.cpp
Labels: To Be Merged
