Repository azerothcore/azerothcore-wotlk, pull requests merged in 2019-11, with the labels that each got.

#2360 fix(DB): Make Sunreaver Dragonhawk not attackable in Argent Tournament Grounds
  data/sql/updates/pending_db_world/rev_1571346137981297600.sql
Labels: To Be Merged

#2362 fix(DB/SAI): Quest "Canyon Chase" (Horde/Alliance)
  data/sql/updates/pending_db_world/rev_1571392526938836693.sql
Labels: To Be Merged

#2367 fix(DB/SAI): Garm area
  data/sql/updates/pending_db_world/rev_1571608072211416530.sql
Labels: To Be Merged

#1900 [Spell/Core] Glyph of Shadow Word: Death
  src/server/game/Entities/Unit/Unit.cpp
Labels: To Be Merged

#1913 fix(Core/Spell): Eye of Gruul healing discount spell
  data/sql/updates/pending_db_world/rev_1559162254925218831.sql
  src/server/scripts/Spells/spell_item.cpp
  src/server/scripts/Spells/spell_paladin.cpp
Labels: To Be Merged

#2407 fix(Core/Crash): Improved Utf8toWStr() function to prevent crashes
  src/common/Utilities/Util.cpp
Labels: Priority - Critical, To Be Merged

#2244 fix(Core/Dungeon): Elder Nadox hardcore texts + Ahn'kahar Spell Flinger spells.
  data/sql/updates/pending_db_world/rev_1567002995154862031.sql
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/ahnkahet.h
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/boss_elder_nadox.cpp
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/instance_ahnkahet.cpp
Labels: To Be Merged

#2281 Core/Opcode: simple opcode filter to prevent send non-existing opcode
  src/server/game/Server/WorldSession.cpp
Labels: To Be Merged

#2368 feat(Core/GameEvent): Allow unspecified end_time for game events
  data/sql/updates/pending_db_world/rev_1571672933681916812.sql
  src/server/game/Events/GameEventMgr.cpp
Labels: To Be Merged

#2373 fix(Core/Quest): The Lich, Ras Frostwhisper
  data/sql/updates/pending_db_world/rev_1571737953110374673.sql
  src/server/scripts/EasternKingdoms/Scholomance/instance_scholomance.cpp
  src/server/scripts/EasternKingdoms/Scholomance/scholomance.h
Labels: To Be Merged

#2417 feat(Core/DBLayer): move DatabaseWorkerPool into it's own translation unit
  src/common/Database/DatabaseWorkerPool.cpp
  src/common/Database/DatabaseWorkerPool.h
Labels: To Be Merged

#2427 Fix gossip translations for locales
  src/server/game/Entities/Creature/GossipDef.cpp
Labels: To Be Merged

#2426 fix(Core/MovementHandler): fix crash at null guid in mover
  src/server/game/Handlers/MovementHandler.cpp
Labels: Priority - Critical, Ready for Review, To Be Merged

#2378 fix(Core/GridNotifiers): increased visibility for large creatures, part 2
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Grids/Notifiers/GridNotifiers.cpp
  src/server/game/Grids/Notifiers/GridNotifiers.h
  src/server/game/Grids/Notifiers/GridNotifiersImpl.h
Labels: To Be Merged

#2410 fix(Core): prevent movement exploit
  src/server/game/Chat/ChatLink.cpp
  src/server/game/Handlers/MovementHandler.cpp
  src/server/game/Server/Protocol/Opcodes.cpp
  src/server/game/Server/Protocol/Opcodes.h
  src/server/game/Server/WorldSession.cpp
  src/server/game/Server/WorldSocket.cpp
Labels: Needs feedback, Priority - Critical, To Be Merged

#2412 Core/PacketIO: Restrict CMSG_EMOTE/CMSG_STANDSTATECHANGE to only allow emotes/stand states that client can send by itself
  src/server/game/Handlers/ChatHandler.cpp
  src/server/game/Handlers/MiscHandler.cpp
Labels: Waiting to be tested

#2416 feat(Core/Shared): added new library - shared
  src/server/CMakeLists.txt
  src/server/authserver/CMakeLists.txt
  src/server/shared/CMakeLists.txt
  src/server/shared/Network/RealmSocket.cpp
  src/server/shared/Network/RealmSocket.h
  src/server/shared/Realms/RealmList.cpp
  src/server/shared/Realms/RealmList.h
  src/server/worldserver/CMakeLists.txt
  src/server/worldserver/Master.cpp
Labels: To Be Merged

#2419 feat(Core/Misc): replace all prefix preprocessor defines from CompilerDefs with AC_
  src/common/Common.h
  src/common/CompilerDefs.h
  src/common/Debugging/Errors.cpp
  src/common/Debugging/Errors.h
  src/common/Debugging/WheatyExceptionReport.cpp
  src/common/Debugging/WheatyExceptionReport.h
  src/common/Define.h
  src/common/GitRevision.cpp
  src/common/Logging/Log.cpp
  src/common/Utilities/Util.cpp
  src/server/game/World/World.cpp
  src/server/worldserver/CommandLine/CliRunnable.cpp
Labels: Ready for Review

#2435 fix(Core): uint32 assignment, prevent crash, closes #2433
  src/server/game/Chat/ChatLink.cpp
Labels: To Be Merged

#2443 fix(Core/GridNotifiers): Fix crash
  src/server/game/Grids/Notifiers/GridNotifiers.cpp
Labels: Priority - Critical, To Be Merged

#2451 Core/Deps: fix build
  deps/jemalloc/CMakeLists.txt
Labels: Priority - Critical, Waiting to be tested

#2379 Core/PetAI: Fix aggro and movement IMP Warlock
  src/server/game/AI/CoreAI/PetAI.cpp
  src/server/game/AI/CoreAI/PetAI.h
Labels: To Be Merged

#2381 feat(DB/Translations) Imported german translations from GTDB
  data/sql/updates/pending_db_world/rev_1572025265971877031.sql
Labels: To Be Merged

#2462 fix(DB/game_event): use another default minimum date to avoid import errors
  data/sql/updates/db_world/2019_11_09_00.sql
Labels: To Be Merged

#2384 feat(DB/characters): added comments to worldstates
  data/sql/updates/pending_db_characters/rev_1572030074009407852.sql
  src/server/worldserver/worldserver.conf.dist
Labels: To Be Merged

#2460 Core/Misc: replace ACE based typedefs
  src/common/Define.h
  src/server/game/Events/GameEventMgr.cpp
  src/server/game/Globals/ObjectMgr.cpp
  src/server/scripts/Commands/cs_debug.cpp
  src/server/scripts/Commands/cs_mmaps.cpp
Labels: Ready for Review, Waiting to be tested

#2386 fix(Core/Raid):Putricide mutated abomination being energized by players
  data/sql/updates/pending_db_world/rev_1572032036915466688.sql
  src/server/game/Spells/Auras/SpellAuras.cpp
Labels: To Be Merged

#2393 fix(docker): grabled cjk characters in docker
  docker/database/Dockerfile
Labels: To Be Merged

#2457 fix(Core): Missing updates for creatures; disable Travis modules check
  .travis.yml
  src/server/game/Grids/Notifiers/GridNotifiers.cpp
  src/server/game/Grids/Notifiers/GridNotifiers.h
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
Labels: To Be Merged

#2388 fix(DB/Quest): "Hot and Cold" quest item
  data/sql/updates/pending_db_world/rev_1572128545565068694.sql
Labels: To Be Merged

#2394 Fix Ragnaros magma blast
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_ragnaros.cpp
Labels: To Be Merged

#2398 fix(DB/GameObject): Quest event "The Bones of Nozronn"; quest sparkle for GO type "GAMEOBJECT_TYPE_SPELL_FOCUS"
  data/sql/updates/pending_db_world/rev_1572680805604667000.sql
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Globals/ObjectMgr.cpp
Labels: To Be Merged
