Repository azerothcore/azerothcore-wotlk, pull requests merged in 2019-02, with the labels that each got.

#1388 [Core/ Spell] Val'anyr Hammer of Ancient Kings Fix
  data/sql/updates/pending_db_world/rev_1548850930086940600.sql
  src/server/scripts/Spells/spell_item.cpp
Labels: Waiting to be tested

#1383 Fix(DB/SAI): Small fix for the Rift Spawns (Mage only quests 1920 / 1960)
  data/sql/updates/pending_db_world/rev_1548717283055325995.sql
Labels: To Be Merged

#1389 Core/Spells: Mage permafrost talent
  src/server/game/Spells/Spell.cpp
Labels: Waiting to be tested

#1400 fix(DB): positioning of the control console on the zeppelin "Cloudkisser"
  data/sql/updates/pending_db_world/rev_1549062318108968468.sql
Labels: Waiting to be tested

#1406 fix: spell_scripts DB startup errors
  data/sql/updates/pending_db_world/rev_1549150908212681677.sql
Labels: To Be Merged

#1384 Fix(DB): Backbiter movement and some missing texts in Dalaran
  data/sql/updates/pending_db_world/rev_1548778743987887239.sql
Labels: To Be Merged

#1404 fix: core reporting wrong mail_loot_template startup DB errors
  src/server/game/Loot/LootMgr.cpp
Labels: To Be Merged

#1414 DB/Creature: Troll Roof Stalkers
  data/sql/updates/pending_db_world/rev_1549334128470728600.sql
Labels: To Be Merged

#1405 fix: remove data for unsupported criteria type
  data/sql/updates/pending_db_world/rev_1549149082825412953.sql
Labels: To Be Merged

#1409 DB/Quest: fix prevquest for "Rejold's New Brew"
  data/sql/updates/pending_db_world/rev_1549283497580375600.sql
Labels: To Be Merged

#1157 feat: Added logs_ip_action + more
  data/sql/updates/pending_db_auth/rev_1546018964238773800.sql
  src/common/Database/Implementation/LoginDatabase.cpp
  src/common/Database/Implementation/LoginDatabase.h
  src/server/authserver/Server/AuthSocket.cpp
  src/server/authserver/authserver.conf.dist
  src/server/game/Accounts/AccountMgr.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgr.h
  src/server/game/Server/WorldSession.h
  src/server/game/Server/WorldSocket.cpp
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/scripts/Commands/cs_account.cpp
  src/server/scripts/ScriptLoader.cpp
  src/server/scripts/World/CMakeLists.txt
  src/server/scripts/World/action_ip_logger.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: Priority - High, To Be Merged

#1437 feat(CMake): compatibility with 10.2+ versions of MariaDB lib
  conf/config.cmake.dist
  src/cmake/showoptions.cmake
  src/common/Database/MySQLConnection.cpp
Labels: To Be Merged

#1391 fix(clang): fix build on version 7
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_flame_leviathan.cpp
Labels: To Be Merged

#1440 DB: Fixes Issue #1439 [QUEST] The Shimmering Frond
  data/sql/updates/pending_db_world/rev_1549771974699514200.sql
Labels: To Be Merged

#1410 feat(Travis): speed up and stabilize build process
  .travis.yml
Labels: To Be Merged

#1441 DB: Fixes Issue #1435 [QUEST] hunting for ectoplasm
  data/sql/updates/pending_db_world/rev_1549780782164153600.sql
Labels: To Be Merged

#1436 refactor(Scripts/SpellGeneric): use modern C++ array instead of C array
  src/server/scripts/Spells/spell_generic.cpp
Labels: To Be Merged

#1401 feat(Command): Remove spy command from AC and make it a module
  data/sql/updates/pending_db_world/rev_1549462763029736000.sql
  src/server/game/Miscellaneous/Language.h
  src/server/scripts/Commands/CMakeLists.txt
  src/server/scripts/Commands/cs_spy.cpp
  src/server/scripts/ScriptLoader.cpp
Labels: To Be Merged

#1459 Core/LOS: restruct LOS functions and add LineOfSight check
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
  src/server/game/Movement/MovementGenerators/RandomMovementGenerator.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/scripts/Commands/cs_debug.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_blood_prince_council.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/ulduar.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: On staging

#1463 Core/Player: fix achievements activation
  src/server/game/Achievements/AchievementMgr.cpp
  src/server/game/Entities/Player/Player.cpp
Labels: To Be Merged

#1321 chore(DB): set main DB version
  data/sql/updates/pending_db_world/rev_1547897046380364588.sql
Labels: Needs feedback

#1415 DB/Quest: Quest 4866 and 4224 moved from core to DB
  data/sql/updates/pending_db_world/rev_1549338391766716500.sql
  src/server/scripts/EasternKingdoms/zone_burning_steppes.cpp
  src/server/scripts/ScriptLoader.cpp
Labels: To Be Merged

#1416 Core/Instances: Finally fix instance_reset
  src/server/game/Instances/InstanceSaveMgr.cpp
Labels: To Be Merged

#1460 DB/Creature: [NPC] Rabine Saturna missing text Fixes Issue #1454
  data/sql/updates/pending_db_world/rev_1550020912374137400.sql
Labels: To Be Merged

#1466 DB/Quest: Fall From Grace
  data/sql/updates/pending_db_world/rev_1550101831834633300.sql
Labels: To Be Merged

#1468 DB/Creature: Strange Winged Goblin
  data/sql/updates/pending_db_world/rev_1550171351386065600.sql
Labels: Waiting to be tested

#1445 fix(setup): MySQL 5.7
  data/sql/base/db_auth/account.sql
  data/sql/base/db_world/game_event.sql
  data/sql/updates/db_auth/2019_01_05_00.sql
  data/sql/updates/db_world/2017_10_15_00.sql
  data/sql/updates/db_world/2019_01_08_01.sql
  docker/database/generate-databases.sh
Labels: Waiting to be tested

#1371 Core/Instance: Ruby Sanctum. Resistances ignored
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/Northrend/ChamberOfAspects/RubySanctum/boss_halion.cpp
Labels: To Be Merged

#1443 DB/Quest: Fixes for opened Quest issues
  data/sql/updates/pending_db_world/rev_1549809565412286900.sql
Labels: To Be Merged

#1474 DB: Fixing some issues
  data/sql/updates/pending_db_world/rev_1550318643525669100.sql
Labels: To Be Merged

#1481 Core/Hooks: Add new Player hooks
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Reputation/ReputationMgr.cpp
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: To Be Merged

#1472 Core/Hooks: Adds hooks for start and stop game events
  src/server/game/Events/GameEventMgr.cpp
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: To Be Merged

#1486 feat(CI): improve Travis configuration
  .travis.yml
  apps/ci/ci-before_install.sh
  apps/ci/ci-error-check.sh
  apps/ci/ci-install.sh
  apps/ci/ci-script.sh
Labels: To Be Merged

#1500 Hotfix call sEluna->OnGameEventStart method arg register
  src/server/game/Scripting/ScriptMgr.cpp
Labels: To Be Merged

#1490 DB/Quest: Morrowgrain to darnassus Fixes Issue #1475
  data/sql/updates/pending_db_world/rev_1550522508793114100.sql
Labels: To Be Merged

#1511 Core/Skills: Add FishingBaseSkillLevel dynamic change method
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
Labels: To Be Merged

#1510 feat(CI): dynamically calculate thread count for build process
  apps/ci/ci-install.sh
Labels: To Be Merged

#1492 DB/Item: Hateful Gladiator's Longbow No Range
  data/sql/updates/pending_db_world/rev_1550523799764580600.sql
Labels: To Be Merged

#1412 Core/Commands: Added cheat command
  data/sql/updates/pending_db_world/rev_1549320792563626100.sql
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellEffects.cpp
  src/server/scripts/Commands/CMakeLists.txt
  src/server/scripts/Commands/cs_cheat.cpp
  src/server/scripts/Commands/cs_misc.cpp
  src/server/scripts/ScriptLoader.cpp
Labels: New Feature, To Be Merged

#1516 feat(CI): add commit hashes to the automatic SQL import
  .travis.yml
  apps/db_pendings/import.sh
Labels: Needs feedback, To Be Merged

#1517 fix(DB): Pit of Saron intro creature texts
  data/sql/updates/pending_db_world/rev_1550874957572075786.sql
Labels: To Be Merged

#811 Core/ChatHandler: Update Addon message read fix
  src/server/game/Handlers/ChatHandler.cpp
Labels: To Be Merged

#1479 Core/DB/Quest: Battle for the Undercity
  data/sql/updates/pending_db_world/rev_1550359453246256000.sql
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/EasternKingdoms/zone_undercity.cpp
Labels: To Be Merged

#1523 fix(DB/creature): correct phaseMask of NPC Ravenous jormungar
  data/sql/updates/pending_db_world/rev_1551043636375824487.sql
Labels: To Be Merged
