Repository azerothcore/azerothcore-wotlk, pull requests merged in 2019-04, with the labels that each got.

#1038 DB: Shattered sun marksman SAI
  data/sql/updates/pending_db_world/rev_1537830795157301100.sql
Labels: To Be Merged

#1670 Cmake: Add new hook AFTER_LOAD_CMAKE_MODULES
  CMakeLists.txt
Labels: Cmake

#1648 fix(Core): fix a few issues with "Battle for the Undercity"
  src/server/scripts/EasternKingdoms/zone_undercity.cpp
Labels: To Be Merged

#1656 [DB & SAI] Rough Stone & Dragonmaw Bonewarder
  data/sql/updates/pending_db_world/rev_1553973207096786300.sql
  data/sql/updates/pending_db_world/rev_1553974864385673300.sql
Labels: To Be Merged

#1650 DB/Creature: Spirit of Olum and Spirit of Udalo
  data/sql/updates/pending_db_world/rev_1553769607243300300.sql
Labels: To Be Merged

#1668 Cmake: Add new method addings Eluna files in game lib
  src/server/game/CMakeLists.txt
Labels: Cmake

#1671 fix(Core/Eluna): fix compiler warning concerning Eluna
  src/server/game/Entities/Object/Object.cpp
Labels: To Be Merged

#1665 Fall From Grace
  data/sql/updates/pending_db_world/rev_1554143974096714000.sql
Labels: To Be Merged

#1686 DB/Quest/Gameobject: Adding Despawn time
  data/sql/updates/pending_db_world/rev_1554472237843824900.sql
Labels: To Be Merged

#1681 DB/Misc: Borean Tundra SAI
  data/sql/updates/pending_db_world/rev_1554419361319456000.sql
Labels: To Be Merged

#1673 Core/Commands: Quest Add
  src/server/scripts/Commands/cs_quest.cpp
Labels: To Be Merged

#1630 Core/ICC: Lady Deathwhisper
  data/sql/updates/pending_db_world/rev_1553547175438159300.sql
  src/server/scripts/Northrend/IcecrownCitadel/boss_lady_deathwhisper.cpp
Labels: To Be Merged

#1643 BG Queue Announcer FIX
  data/sql/updates/pending_db_world/rev_1553699751204186600.sql
  src/server/game/Battlegrounds/BattlegroundQueue.cpp
  src/server/game/Miscellaneous/Language.h
  src/server/game/World/World.cpp
  src/server/game/World/World.h
Labels: To Be Merged

#1663 feat(CI): Travis check modules
  .travis.yml
  apps/ci/ci-error-check.sh
  apps/ci/ci-import-db.sh
  apps/ci/ci-install-modules.sh
  apps/ci/ci-worldserver-dry-run.sh
  data/travis/worldserver.conf
Labels: To Be Merged

#1587 Core/Battlegrounds: Fix log errors about creatures not found
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundAV.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundIC.cpp
Labels: To Be Merged

#1662 DB/Quest: Head of Nefarian (A)
  data/sql/updates/pending_db_world/rev_1554113581920680700.sql
Labels: To Be Merged

#1697 fix(CI): fix paths for dry-run check
  apps/ci/ci-error-check.sh
  apps/ci/ci-worldserver-dry-run.sh
  data/travis/worldserver.conf
Labels: To Be Merged

#1558 fix(Docker): allow to use modules
  .dockerignore
  docker/build/Dockerfile
Labels: Priority - High, To Be Merged

#1682 Desolace AI for centaurs
  data/sql/updates/pending_db_world/rev_1554420147566038300.sql
Labels: To Be Merged

#1694 Fix parry aura spells
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: To Be Merged

#1044 chore(git): Add a commit template & introduce new guidelines
  .git_commit_template.txt
  apps/git_tools/setup_git_commit_template.sh
Labels: To Be Merged

#1705 fix(DB/SAI): Shadowlord Deathwail
  data/sql/updates/pending_db_world/rev_1554847609374764694.sql
Labels: To Be Merged

#1664 [Worldserver] Increased limit of realms
  data/sql/updates/pending_db_auth/rev_1554142988374631100.sql
  src/common/Database/Implementation/LoginDatabase.cpp
  src/server/game/Server/WorldSession.cpp
  src/server/worldserver/Master.cpp
Labels: To Be Merged

#1714 [Quest] Tauren Hunter - Training the Beast
  data/sql/updates/pending_db_world/rev_1554941258540189300.sql
Labels: To Be Merged

#1716 DB/Creature: Grom'tor, Son of Oronok
  data/sql/updates/pending_db_world/rev_1555024514010587300.sql
Labels: To Be Merged

#1715 DB - Elwyn Forest loot
  data/sql/updates/pending_db_world/rev_1555017745656363300.sql
Labels: To Be Merged

#1674 Cmake/MYSQL: Correct support MariaDB for windows
  conf/config.cmake.dist
  src/cmake/macros/FindMySQL.cmake
  src/cmake/showoptions.cmake
  src/common/Database/MySQLConnection.cpp
Labels: Waiting to be tested

#1720 fix(DB/SAI): fix creature text for "Battle for the Undercity"
  data/sql/updates/pending_db_world/rev_1555073136028342544.sql
Labels: To Be Merged

#1719 fix(DB/SAI): battle beneath the dark portal
  data/sql/updates/pending_db_world/rev_1555051312474328059.sql
Labels: To Be Merged

#1711 Neferian head gob spawntime updated to 2 hours
  data/sql/updates/pending_db_world/rev_1554920580112420800.sql
Labels: To Be Merged

#1722 fix(DB/Core): Dragonmaw Peon AI
  data/sql/updates/pending_db_world/rev_1555327481238291012.sql
  src/server/scripts/Outland/zone_shadowmoon_valley.cpp
Labels: To Be Merged

#1640 Fix(Core/DB): Hardcoded text - Eastern Kingdoms
  data/sql/updates/pending_db_world/rev_1553654065143975700.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/blackrock_depths.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/boss_tomb_of_seven.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_majordomo_executus.cpp
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter1.cpp
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter2.cpp
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter5.cpp
  src/server/scripts/EasternKingdoms/ScarletEnclave/zone_the_scarlet_enclave.cpp
  src/server/scripts/EasternKingdoms/ScarletMonastery/instance_scarlet_monastery.cpp
  src/server/scripts/EasternKingdoms/ZulAman/boss_hexlord.cpp
  src/server/scripts/EasternKingdoms/ZulAman/boss_nalorakk.cpp
Labels: To Be Merged

#1703 [Dungeon] UBRS - General Drakissath
  data/sql/updates/pending_db_world/rev_1554842995091120500.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_drakkisath.cpp
Labels: To Be Merged

#1721 fix(Core): implement "SCRIPT_COMMAND_MOVEMENT" (35) to fix Defias Thug waypoint errors
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Scripting/MapScripts.cpp
Labels: To Be Merged

#1729 fix(DB/SAI): Head of Nefarian (A&H)
  data/sql/updates/pending_db_world/rev_1555597548140620700.sql
Labels: To Be Merged

#1683 Ragnaros hammer orientation
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_ragnaros.cpp
Labels: To Be Merged

#1726 [Raid] Obsidian Sancturn - Tenebron
  src/server/scripts/Northrend/ChamberOfAspects/ObsidianSanctum/boss_sartharion.cpp
Labels: To Be Merged

#1731 fix(CORE/Spells): Shadowmourne spell effect
  src/server/scripts/Spells/spell_item.cpp
Labels: To Be Merged

#1732 fix(CORE/Spells): Druid forms
  src/server/game/Spells/SpellEffects.cpp
Labels: To Be Merged

#1733 feat(Core/Quest): Quest item reward
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
Labels: To Be Merged

#1754 C'Thun Dark Glare spell timer
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
Labels: Needs feedback, To Be Merged

#1735 fix(DB/SAI): fix mini-event for quest "All Hail Roanauk!"
  data/sql/updates/pending_db_world/rev_1555795494372087220.sql
Labels: To Be Merged

#1743 fix(DB/Creature): Coilskar defender
  data/sql/updates/pending_db_world/rev_1555929516205604900.sql
Labels: To Be Merged

#1762 fix(CORE/Battleground): Captain Galvangar position
  src/server/game/Battlegrounds/Zones/BattlegroundAV.h
Labels: To Be Merged

#1739 fix(DB/Quests): Blood Elfs starting zone class quests
  data/sql/updates/pending_db_world/rev_1555887226948080900.sql
Labels: To Be Merged

#1696 Core/Spells: Change to the way the spell effect SPELL_EFFECT_JUMP work.
  src/server/game/Spells/SpellEffects.cpp
Labels: To Be Merged

#1736 fix(DB/SAI): Trident of Naz'jan to SAI
  data/sql/updates/pending_db_world/rev_1555843331078984800.sql
  src/server/scripts/World/item_scripts.cpp
Labels: To Be Merged

#1751 Eversong Woods missing SAI
  data/sql/updates/pending_db_world/rev_1556033703817978000.sql
Labels: To Be Merged
