Repository azerothcore/azerothcore-wotlk, pull requests merged in 2019-01, with the labels that each got.

#1219 Update creature & gameobject table structure
  data/sql/updates/pending_db_world/rev_1546376375471925090.sql
Labels: To Be Merged

#1212 DB: Enable vanity pets which can virtually fly to follow players on flying mounts
  data/sql/updates/pending_db_world/rev_1546301159513401339.sql
Labels: To Be Merged

#1208 DB: Fix Sen'jin Fetish model
  data/sql/updates/pending_db_world/rev_1546271889931245071.sql
Labels: To Be Merged

#1227 MySQL: refuse any version of MySQL, below 5.6
  src/cmake/macros/FindMySQL.cmake
Labels: Needs Testing/Feedback

#1230 MySQL: account table restructure
  data/sql/updates/pending_db_auth/rev_1546540718864817294.sql
Labels: Needs Testing/Feedback

#1233 Core/Quest: implement Quest Tracker
  data/sql/updates/pending_db_characters/rev_1546637940772193620.sql
  src/common/Database/Implementation/CharacterDatabase.cpp
  src/common/Database/Implementation/CharacterDatabase.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Handlers/QuestHandler.cpp
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/scripts/Commands/cs_quest.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: Needs Testing/Feedback, Priority - Low

#1237 DB/Core: Fix hover height and some flying animations of vanity pets
  data/sql/updates/pending_db_world/rev_1546694249586814731.sql
  src/server/scripts/Pet/pet_generic.cpp
Labels: To Be Merged

#1226 Add support to calculate zoneId/areaId for creatures & gameojects
  src/common/Database/Implementation/WorldDatabase.cpp
  src/common/Database/Implementation/WorldDatabase.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/worldserver/worldserver.conf.dist
Labels: To Be Merged

#1158 Core/Quest Mr.Floppy's Perilous Adventure Quest
  data/sql/updates/pending_db_world/rev_1546128548989877900.sql
  src/server/scripts/Northrend/zone_grizzly_hills.cpp
Labels: To Be Merged

#1244 Apps: Add backticks to version_db_* in create_sql.sh
  data/sql/updates/pending_db_auth/create_sql.sh
  data/sql/updates/pending_db_characters/create_sql.sh
  data/sql/updates/pending_db_world/create_sql.sh
Labels: Priority - Trivial, To Be Merged

#1232 Core/Session: proper client timeout detection
  src/server/game/Server/WorldSession.cpp
  src/server/game/Server/WorldSession.h
  src/server/game/Server/WorldSocket.cpp
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/worldserver/worldserver.conf.dist
Labels: Priority - High, To Be Merged

#1142 Core/Movement: Prevent pet animation stuttering during movement
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
Labels: CORE, Priority - High, To Be Merged

#932 Core/DBC Move WorldSafeLocs.dbc storage to DB
  data/sql/updates/pending_db_world/rev_1529507878019895700.sql
  src/server/game/Battlefield/Battlefield.cpp
  src/server/game/Battlefield/Battlefield.h
  src/server/game/Battlegrounds/Battleground.cpp
  src/server/game/Battlegrounds/Battleground.h
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundAB.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundAB.h
  src/server/game/Battlegrounds/Zones/BattlegroundAV.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundAV.h
  src/server/game/Battlegrounds/Zones/BattlegroundEY.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundEY.h
  src/server/game/Battlegrounds/Zones/BattlegroundIC.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundIC.h
  src/server/game/Battlegrounds/Zones/BattlegroundSA.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundSA.h
  src/server/game/Battlegrounds/Zones/BattlegroundWS.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundWS.h
  src/server/game/DataStores/DBCStores.cpp
  src/server/game/DataStores/DBCStores.h
  src/server/game/DataStores/DBCStructure.h
  src/server/game/DataStores/DBCfmt.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Handlers/MovementHandler.cpp
  src/server/game/Handlers/NPCHandler.cpp
  src/server/game/Misc/GameGraveyard.cpp
  src/server/game/Misc/GameGraveyard.h
  src/server/game/Spells/SpellMgr.cpp
  src/server/game/World/World.cpp
  src/server/scripts/Commands/cs_go.cpp
  src/server/scripts/Commands/cs_misc.cpp
  src/server/scripts/Commands/cs_reload.cpp
  src/server/scripts/Northrend/zone_wintergrasp.cpp
  src/server/scripts/OutdoorPvP/OutdoorPvPEP.cpp
  src/server/scripts/OutdoorPvP/OutdoorPvPNA.cpp
  src/server/scripts/OutdoorPvP/OutdoorPvPZM.cpp
Labels: CORE, DB, To Be Merged

#1228 Core/Events: announce event system improvement.
  data/sql/updates/pending_db_world/rev_1546538959760274673.sql
  src/server/game/Events/GameEventMgr.cpp
  src/server/game/Events/GameEventMgr.h
Labels: Needs Testing/Feedback

#1243 DB/Creature Vile Fin & Ragged Scavenger fix
  data/sql/updates/pending_db_world/rev_1546882798358682300.sql
Labels: To Be Merged

#1241 Core/Quests: Abandon&Finish quest items
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Handlers/QuestHandler.cpp
Labels: CORE, General - Quests

#1247 CMake: Use source_groups to represent the source tree
  CMakeLists.txt
  conf/config.cmake.dist
  src/cmake/macros/GroupSources.cmake
  src/cmake/showoptions.cmake
  src/common/CMakeLists.txt
  src/server/authserver/CMakeLists.txt
  src/server/game/CMakeLists.txt
  src/server/scripts/CMakeLists.txt
  src/server/worldserver/CMakeLists.txt
Labels: Priority - Trivial, To Be Merged

#1229 Valkyr ShadowGuard - Phase 2
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, Instance - Dungeon - Northrend, To Be Merged

#1246 DB/Graveyard: Translate comments to English language
  data/sql/updates/pending_db_world/rev_1546972023891859400.sql
Labels: DB, To Be Merged

#1266 DB/SAI: Finally fix Sen'Jin Fetish
  data/sql/updates/pending_db_world/rev_1547251001073984601.sql
Labels: To Be Merged

#1268 MySQL: fix MySQL 5.6 find mistake
  src/cmake/macros/FindMySQL.cmake
Labels: To Be Merged

#1272 Fixed permission in docker-database
  docker/database/Dockerfile
Labels: To Be Merged

#1273 Several improvements to Docker:
  .gitignore
  docker/authserver/Dockerfile
  docker/authserver/README.md
  docker/authserver/etc/.gitkeep
  docker/authserver/etc/authserver.conf.dist
  docker/authserver/etc/authserver.conf.dockerdist
  docker/worldserver/Dockerfile
  docker/worldserver/README.md
  docker/worldserver/etc/.gitkeep
  docker/worldserver/etc/worldserver.conf.dist
  docker/worldserver/etc/worldserver.conf.dockerdist
  docker/worldserver/logs/.gitkeep
Labels: Docker

#1245 DB/Quest Ulag the Cleaver
  data/sql/updates/pending_db_world/rev_1546933586341240000.sql
  src/server/scripts/EasternKingdoms/zone_tirisfal_glades.cpp
Labels: General - Quests, To Be Merged

#1218 Core/Gossip: Improve gossips related to Dual Talent Specialization
  src/server/game/Entities/Creature/GossipDef.h
  src/server/game/Entities/Player/Player.cpp
Labels: Priority - Trivial, To Be Merged

#1275 Docker: fix connectivity issues on Mac & Windows
  docker/README.md
  docker/authserver/README.md
  docker/authserver/etc/authserver.conf.dockerdist
  docker/database/README.md
  docker/worldserver/README.md
  docker/worldserver/etc/worldserver.conf.dockerdist
Labels: Docker

#1255 Quest abandon finish fix
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, Priority - Trivial, To Be Merged

#1286 Core/MySQL: wait for the DB to be ready
  src/common/Database/MySQLConnection.cpp
Labels: To Be Merged

#1280 DB/SAI: Fix Arakkoa Egg
  data/sql/updates/pending_db_world/rev_1547424818609511100.sql
Labels: Area - Outland, DB, To Be Merged

#1295 Fix sql updates chain
  data/sql/updates/db_world/2019_01_12_00.sql
Labels: Priority - Critical

#1297 CI: Import pending sql from Travis only master branch
  .travis.yml
Labels: To Be Merged

#1291 Core/Spells: Fix DeathKnight T10 Tank 2P Bonus
  src/server/game/Spells/SpellMgr.cpp
Labels: To Be Merged

#1289 Core/Packets: Fix calendar event time
  src/common/Packets/ByteBuffer.h
Labels: CORE, To Be Merged

#1303 DB/SAI: Add event after finishing quest "Alien Egg"
  data/sql/updates/pending_db_world/rev_1547680093399033872.sql
Labels: Area - Classic, DB, General - Quests, To Be Merged

#1304 Core/Instance: Naxxramas conversation fix
  data/sql/updates/pending_db_world/rev_1547686034421572510.sql
  src/server/scripts/Northrend/Naxxramas/boss_kelthuzad.cpp
  src/server/scripts/Northrend/Naxxramas/instance_naxxramas.cpp
  src/server/scripts/Northrend/Naxxramas/naxxramas.h
Labels: Area - Northrend, CORE, DB, Instance - Dungeon - Northrend, To Be Merged

#1319 Fix server motd
  src/server/game/CMakeLists.txt
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Motd/ServerMotd.cpp
  src/server/game/Motd/ServerMotd.h
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/scripts/CMakeLists.txt
  src/server/scripts/Commands/cs_server.cpp
  src/server/worldserver/CMakeLists.txt
  src/server/worldserver/RemoteAccess/RASocket.cpp
Labels: To Be Merged

#1314 Core/Quest Mr.Floppy's Perilous Adventure fix
  src/server/scripts/Northrend/zone_grizzly_hills.cpp
Labels: CORE, General - Quests, To Be Merged

#1323 refactor(DB-world): minor changes
  data/sql/updates/pending_db_world/rev_1547906915621116396.sql
Labels: To Be Merged

#1322 refactor(creature_template): closes #1181
  data/sql/updates/pending_db_world/rev_1547901412383310168.sql
  src/common/Database/Implementation/WorldDatabase.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Entities/Unit/StatSystem.cpp
  src/server/game/Globals/ObjectMgr.cpp
  src/server/scripts/Commands/cs_reload.cpp
  src/server/scripts/Pet/pet_hunter.cpp
Labels: To Be Merged

#1329 refactor(SmartAI): align some SMART_ACTION(s) to TC
  data/sql/updates/pending_db_world/rev_1547942801355864450.sql
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: To Be Merged

#1332 refactor(SmartAI): move AC-only SMART_ACTIONs to avoid conflicts with TC
  data/sql/updates/pending_db_world/rev_1547990516486417003.sql
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: To Be Merged

#1334 DB/Quest: Quest 11223 moved from core to DB
  data/sql/updates/pending_db_world/rev_1548018591192986300.sql
  src/server/scripts/EasternKingdoms/zone_stormwind_city.cpp
Labels: Needs Testing/Feedback

#1340 [Core / Script] Mr Smite Event Update
  src/server/scripts/EasternKingdoms/Deadmines/boss_mr_smite.cpp
Labels: Needs Testing/Feedback

#1339 fix(DB/Command): Add help options for spy command
  data/sql/updates/pending_db_world/rev_1548117070754986000.sql
Labels: DB

#1091 Apps: fix db_assembler typo
  apps/db_assembler/includes/functions.sh
  conf/config.sh.dist
Labels: Priority - Trivial

#1342 DB: Fix crash in waypoint_scripts
  data/sql/updates/pending_db_world/rev_1548170266680613800.sql
Labels: Needs Testing/Feedback, Priority - Critical

#1335 chore(SmartAI): handle unused SmartActions
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: To Be Merged

#1347 chore(bot): improve layout of travis bot commits
  .travis.yml
Labels: To Be Merged

#1333 feat(SmartAI): improve add quest action
  data/sql/updates/pending_db_world/rev_1548013361501724652.sql
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: To Be Merged

#1350 feat(travis): keep staging branch up to date
  .travis.yml
Labels: To Be Merged

#1348 DB/Quest: Lazy Peons SAI
  data/sql/updates/pending_db_world/rev_1548248436991481500.sql
  src/server/scripts/Kalimdor/zone_durotar.cpp
Labels: CORE, DB, General - Quests, To Be Merged

#1341 DB\Quest: Mage Summoner
  data/sql/updates/pending_db_world/rev_1548144375618827200.sql
Labels: DB, General - Quests, To Be Merged

#1257 Scripts/SpellGeneric: use modern C++ array instead of C array
  src/server/scripts/Spells/spell_generic.cpp
Labels: Needs Testing/Feedback

#1234 Core/LOS: restruct LOS functions and add LineOfSight check
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
  src/server/game/Movement/MovementGenerators/RandomMovementGenerator.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/scripts/Commands/cs_debug.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_blood_prince_council.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/ulduar.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, Needs Testing/Feedback, Priority - High

#1349 feat(SmartAI): display error on unsupported targets + align TC enums
  data/sql/updates/pending_db_world/rev_1548282125491483924.sql
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: To Be Merged

#1351 fix(quest): fix some quest chains + align NextQuestID with TC
  data/sql/updates/pending_db_world/rev_1548367133880932410.sql
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Quests/QuestDef.cpp
  src/server/game/Quests/QuestDef.h
Labels: To Be Merged

#1385 Docker: Naming errors for some sql files
  docker/database/generate-databases.sh
Labels: Docker

#1354 DB/Quest: Quest 5742 moved from core to DB
  data/sql/updates/pending_db_world/rev_1548473216184905600.sql
  src/server/scripts/EasternKingdoms/zone_eastern_plaguelands.cpp
Labels: To Be Merged

#1381 feat(conditions): prevent adding bad contitions + align enums with TC
  data/sql/updates/pending_db_world/rev_1548704473723698729.sql
  src/server/game/Conditions/ConditionMgr.cpp
  src/server/game/Conditions/ConditionMgr.h
Labels: To Be Merged

#1387 [Core / Spell] Fixed Amplify Damage
  src/server/game/Spells/SpellMgr.cpp
Labels: Waiting to be tested

#1353 style: Reorder DBs in config.sh.dist
  conf/config.sh.dist
Labels: Bash, Priority - Trivial
