Repository azerothcore/azerothcore-wotlk, pull requests merged in 2019-03, with the labels that each got.

#1444 Allow modules to extend Battlegrounds
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
  src/server/game/Battlegrounds/BattlegroundMgr.h
  src/server/game/Miscellaneous/SharedDefines.h
Labels: To Be Merged

#1551 fix(Docker): no need to duplicate *.dist files
  .gitignore
  bin/acore-docker-generate-etc
  docker/authserver/etc/authserver.conf.dist
  docker/worldserver/etc/worldserver.conf.dist
Labels: Docker, To Be Merged

#1546 Eluna update
  src/server/game/World/World.cpp
Labels: To Be Merged

#1433 Core/Movement: Implement move time skipped handler
  src/server/game/Handlers/MiscHandler.cpp
  src/server/game/Handlers/MovementHandler.cpp
Labels: To Be Merged

#1487 Core/Ulduar: Multiple fixes to Flame Leviathan
  data/sql/updates/pending_db_world/rev_1550445883342398700.sql
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_flame_leviathan.cpp
Labels: To Be Merged

#1550 feat(core): allow to disable auto-kick for idle players
  src/server/game/Server/WorldSession.cpp
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/worldserver/worldserver.conf.dist
Labels: To Be Merged

#1552 fix(Docker/macOS): solve disconnection issues
  docker/worldserver/etc/worldserver.conf.dockerdist
Labels: To Be Merged

#1553 feat(cpp): enable C++17 support
  src/cmake/compiler/clang/settings.cmake
  src/cmake/compiler/gcc/settings.cmake
Labels: Waiting to be tested

#1549 feat(core): allow to debug KickPlayer()
  src/common/Logging/Log.h
  src/server/game/Accounts/AccountMgr.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Handlers/ChatHandler.cpp
  src/server/game/Handlers/MiscHandler.cpp
  src/server/game/Handlers/MovementHandler.cpp
  src/server/game/Server/WorldSession.cpp
  src/server/game/Server/WorldSession.h
  src/server/game/Server/WorldSocket.cpp
  src/server/game/Server/WorldSocket.h
  src/server/game/Server/WorldSocketMgr.cpp
  src/server/game/Warden/Warden.cpp
  src/server/game/Warden/WardenMac.cpp
  src/server/game/World/World.cpp
  src/server/scripts/Commands/cs_character.cpp
  src/server/scripts/Commands/cs_misc.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: To Be Merged

#1561 fix(Modules): solve breaking change
  src/server/game/Server/WorldSession.h
Labels: To Be Merged

#1557 Fixing velocity < 0.01f error after reload
  src/server/scripts/Commands/cs_reload.cpp
Labels: To Be Merged

#1566 Check range of fire totem when casting Fire Nova
  src/server/scripts/Spells/spell_shaman.cpp
Labels: To Be Merged

#1563 fix(Core/WorldSession): change how to storing data in account_tutorial
  src/server/game/Server/WorldSession.cpp
Labels: To Be Merged

#1572 fix(DB): Malmortis creature text
  data/sql/updates/pending_db_world/rev_1552517697995597395.sql
Labels: To Be Merged

#1498 Scripts/Instances/Oculus: improvements
  data/sql/updates/pending_db_world/rev_1550579754213080400.sql
  src/server/scripts/Northrend/Nexus/Oculus/oculus.cpp
Labels: To Be Merged

#1573 feat(CI): improve Travis build time
  .travis.yml
  apps/ci/ci-compile.sh
  apps/ci/ci-import-db.sh
  apps/ci/ci-install.sh
  apps/ci/ci-worldserver-dry-run.sh
Labels: To Be Merged

#1581 Fix(Core): GM command not working while GM mode is on
  src/server/scripts/Commands/cs_gobject.cpp
  src/server/scripts/Commands/cs_npc.cpp
Labels: To Be Merged

#1578 fix(DB): zeppelin master - remove gossip option "Where is the zeppelin now?"
  data/sql/updates/pending_db_world/rev_1552778052775198017.sql
Labels: To Be Merged

#1579 fix(DB): a few improvements to the giant wandering outdoor creatures
  data/sql/updates/pending_db_world/rev_1552778845262248351.sql
Labels: To Be Merged

#1570 fix(DB/Core): play event after quest "Hero of the Mag'har"; extend SAI to play music
  data/sql/updates/pending_db_world/rev_1552430179337425838.sql
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
Labels: To Be Merged

#1584 fix(DB): Fjord Hawk, Fjord Turkey
  data/sql/updates/pending_db_world/rev_1552864578895131621.sql
Labels: To Be Merged

#1586 feat(Core/Chat): Add config option to allow use LFG anywhere not only in city
  src/server/game/Entities/Player/Player.cpp
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/worldserver/worldserver.conf.dist
Labels: To Be Merged

#1567 Core/Ticket System: Ticket comment visual output bug
  src/server/scripts/Commands/cs_ticket.cpp
Labels: To Be Merged

#1592 Update DBCStore.h
  src/common/DataStores/DBCStore.h
Labels: To Be Merged

#1594 Add coverity badge
  README.md
Labels: To Be Merged

#1595 Switch to C++14 to solve compilation issues
  src/cmake/compiler/clang/settings.cmake
  src/cmake/compiler/gcc/settings.cmake
  src/cmake/genrev.cmake
Labels: Waiting to be tested

#1564 Skill perfect item template
  data/sql/updates/pending_db_world/rev_1552232377246845400.sql
  src/server/game/Skills/SkillExtraItems.cpp
  src/server/game/Skills/SkillExtraItems.h
  src/server/game/Spells/SpellEffects.cpp
  src/server/game/World/World.cpp
  src/server/scripts/Commands/cs_reload.cpp
  src/server/scripts/World/npc_professions.cpp
Labels: To Be Merged

#1589 DB/Quest: WANTED: Boss Grog'ak
  data/sql/updates/pending_db_world/rev_1553037475996903400.sql
Labels: To Be Merged

#1598 DB restructuring - world - achievement_reward
  data/sql/updates/pending_db_world/rev_1553131188458998104.sql
  src/server/game/Achievements/AchievementMgr.cpp
Labels: To Be Merged

#1596 DB: Fixing several Npc issues
  data/sql/updates/pending_db_world/rev_1553120573757251500.sql
Labels: To Be Merged

#1599 DB restructuring - world - graveyard_zone
  data/sql/updates/pending_db_world/rev_1553133787666600978.sql
  src/common/Database/Implementation/WorldDatabase.cpp
  src/server/game/Misc/GameGraveyard.cpp
  src/server/scripts/Commands/cs_reload.cpp
Labels: To Be Merged

#1602 Fix(Core/Player): fix periodic eating and drinking emotes
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Miscellaneous/SharedDefines.h
Labels: To Be Merged

#1608 DB/Quest: Ogre Head On A Stick = Party
  data/sql/updates/pending_db_world/rev_1553299513274743300.sql
Labels: To Be Merged

#1610 DB: NPC Librarian Garren
  data/sql/updates/pending_db_world/rev_1553343090705922800.sql
Labels: To Be Merged

#1615 Fix(Core/DB/Ulduar): Assembly of Iron
  data/sql/updates/pending_db_world/rev_1553372596303652700.sql
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_assembly_of_iron.cpp
Labels: To Be Merged

#1614 Fix(Core/Quest): Correct add locale in quest
  src/server/game/Globals/ObjectMgr.cpp
Labels: To Be Merged

#1607 DB/Quest: Heroes of Old
  data/sql/updates/pending_db_world/rev_1553294024713457200.sql
Labels: To Be Merged

#1576 Core/BanManager: Rewrite Ban system
  data/sql/updates/pending_db_world/rev_1552751401332509400.sql
  src/server/game/Misc/BanManager.cpp
  src/server/game/Misc/BanManager.h
  src/server/game/Miscellaneous/Language.h
  src/server/game/Miscellaneous/SharedDefines.h
  src/server/game/Warden/Warden.cpp
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/scripts/Commands/cs_ban.cpp
  src/server/scripts/Kalimdor/zone_silithus.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_general_vezax.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: To Be Merged

#1616 DB/Quest: Assassin's Contract" & "Baron's Demise
  data/sql/updates/pending_db_world/rev_1553383116284680300.sql
Labels: To Be Merged

#1603 Keeping database names consistent troughout the system
  data/sql/create/create_mysql.sql
  data/sql/create/drop_mysql.sql
Labels: To Be Merged

#1631 fix(CI): prevent failing Travis runs
  .travis.yml
Labels: To Be Merged

#1626 Limiting password size
  src/server/game/Accounts/AccountMgr.cpp
Labels: To Be Merged

#1629 fix(DB/Core): quest chain leading to "Battle for the Undercity"
  data/sql/updates/pending_db_world/rev_1553536152748153223.sql
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: To Be Merged

#1634 fix(DB): Fezzix "jumping" through the air
  data/sql/updates/pending_db_world/rev_1553556583989604427.sql
Labels: To Be Merged

#1641 fix(DB/SAI): despawn Jenny when quest "Load'er Up!" is complete
  data/sql/updates/pending_db_world/rev_1553669941222108220.sql
Labels: To Be Merged

#1623 Feat(Core/Item): Item Signature proper way to add it
  src/server/game/Entities/Item/ItemPrototype.h
  src/server/game/Spells/SpellEffects.cpp
Labels: To Be Merged

#1632 Core/Scripts: NPC Iruk gossip from DB
  src/server/scripts/Northrend/zone_borean_tundra.cpp
Labels: To Be Merged

#1645 DB/Quest: Data Rescue
  data/sql/updates/pending_db_world/rev_1553712779275952300.sql
Labels: To Be Merged

#1638 chore(Docker): add comments to explain the building steps
  docker/authserver/Dockerfile
  docker/build/Dockerfile
  docker/database/Dockerfile
  docker/worldserver/Dockerfile
Labels: To Be Merged

#1651 Core/Commands: Learn spell from DB
  src/server/scripts/Commands/cs_learn.cpp
Labels: To Be Merged

#1646 DB/Core: Heroes of old Blizzlike and Fix
  data/sql/updates/pending_db_world/rev_1553731839786525000.sql
Labels: To Be Merged

#1617 Core/Player: On first login cinematics
  src/common/Database/Implementation/CharacterDatabase.cpp
Labels: To Be Merged
