Repository azerothcore/azerothcore-wotlk, pull requests merged in 2020-06, with the labels that each got.

#2972 [Dungeon] Shadowfang Keep
  data/sql/updates/pending_db_world/rev_1588336378116569500.sql
Labels: To Be Merged

#3101 feat(CI): refine cache usage in gh-actions
  .github/workflows/core_build.yml
Labels: Priority - High, To Be Merged

#3103 fix(build): eluna build
  src/common/Database/QueryResult.cpp
  src/common/Database/QueryResult.h
Labels: Priority - Critical

#2974 fix(DB/Quest): A Dire Situation
  data/sql/updates/pending_db_world/rev_1588332453846633800.sql
Labels: To Be Merged

#3104 fix(Core/Clang): make it work with clang 10
  src/server/game/Grids/NGrid.h
Labels: To Be Merged

#2889 fix(Core/MailHandler): Security check
  src/server/game/Handlers/MailHandler.cpp
Labels: To Be Merged

#2975 [Dungeon] The Stockade
  data/sql/updates/pending_db_world/rev_1588336883299094900.sql
Labels: To Be Merged

#2976 [Dungeon] Razorfen Kraul
  data/sql/updates/pending_db_world/rev_1588337024794996000.sql
Labels: To Be Merged

#2977 [Dungeon] Gnomeregan
  data/sql/updates/pending_db_world/rev_1588337177136468800.sql
Labels: To Be Merged

#2978 [Dungeon] Scarlet Monastery
  data/sql/updates/pending_db_world/rev_1588337316614118000.sql
Labels: To Be Merged

#2979 [Dungeon] Razorfen Downs
  data/sql/updates/pending_db_world/rev_1588337666335849000.sql
Labels: To Be Merged

#2980 [Dungeon] Uldaman
  data/sql/updates/pending_db_world/rev_1588337806789523700.sql
Labels: To Be Merged

#2981 [Dungeon] Maraudon
  data/sql/updates/pending_db_world/rev_1588338017197326500.sql
Labels: To Be Merged

#2982 [Dungeon] Zul'farrak
  data/sql/updates/pending_db_world/rev_1588338165355317100.sql
Labels: To Be Merged

#2983 [Dungeon] Sunken Temple
  data/sql/updates/pending_db_world/rev_1588338380679685500.sql
Labels: To Be Merged

#2984 [Dungeon] Hellfire Ramparts
  data/sql/updates/pending_db_world/rev_1588338509800182100.sql
Labels: To Be Merged

#2986 [Dungeon] Shattered Halls
  data/sql/updates/pending_db_world/rev_1588338801814673000.sql
Labels: To Be Merged

#2987 [Dungeon] Blackfathom Deeps
  data/sql/updates/pending_db_world/rev_1588338975542081700.sql
Labels: To Be Merged

#2988 fix(DB/Quest): Mastery of the Crystals
  data/sql/updates/pending_db_world/rev_1588339146103973500.sql
Labels: To Be Merged

#2989 [Zone] Desolace
  data/sql/updates/pending_db_world/rev_1588339406799887900.sql
Labels: To Be Merged

#3117 fix(Core): Worldsocket warning
  src/server/game/Server/WorldSocket.cpp
Labels: To Be Merged

#1302 fix(DB/Locale): Add several entries for frFR
  data/sql/updates/pending_db_world/rev_1547749843733409700.sql
  data/sql/updates/pending_db_world/rev_1547749845530595600.sql
  data/sql/updates/pending_db_world/rev_1547749852954193900.sql
  data/sql/updates/pending_db_world/rev_1547749854533182800.sql
  data/sql/updates/pending_db_world/rev_1547749856254633700.sql
  data/sql/updates/pending_db_world/rev_1547749858153492300.sql
Labels: To Be Merged

#2990 [Zone] Swamp of Sorrows
  data/sql/updates/pending_db_world/rev_1588339766954542200.sql
Labels: To Be Merged

#3116 fix(Core/Battleground): fix queue issue
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
  src/server/game/Battlegrounds/BattlegroundQueue.cpp
  src/server/game/Battlegrounds/BattlegroundQueue.h
Labels: Priority - High, To Be Merged

#3023 fix(CORE): C++ 11 rule of 3 compiant constructors
  deps/g3dlite/include/G3D/Vector3.h
  src/common/Packets/ByteBuffer.h
  src/common/Packets/WorldPacket.h
  src/common/Utilities/Util.h
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Movement/Spline/MoveSplineFlag.h
Labels: To Be Merged

#2991 [Zone] Outland Rares
  data/sql/updates/pending_db_world/rev_1588339999314521100.sql
Labels: To Be Merged

#2992 fix(DB/Creature): Dragonmaw Bonewarder
  data/sql/updates/pending_db_world/rev_1588341202074539400.sql
Labels: To Be Merged

#3134 fix(Core/BG): fix BG_QUEUE_INVITATION_TYPE_NO_BALANCE
  src/server/game/Battlegrounds/Battleground.cpp
Labels: Priority - High, To Be Merged

#3091 refactor(Core/BG): improvements to the queue system
  src/server/game/Battlegrounds/BattlegroundQueue.cpp
  src/server/game/Battlegrounds/BattlegroundQueue.h
Labels: Priority - High, To Be Merged

#3056 fix(Core/Spell): Implement SPELL_ATTR0_CU_DONT_BREAK_STEALTH
  data/sql/updates/pending_db_world/rev_1590187354352733700.sql
  src/server/game/ArenaSpectator/ArenaSpectator.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellInfo.h
  src/server/game/Spells/SpellMgr.cpp
  src/server/game/Spells/SpellMgr.h
Labels: Priority - High, To Be Merged

#2995 these creatures should have no loot
  data/sql/updates/pending_db_world/rev_1588410722246016400.sql
Labels: To Be Merged

#3001 feat(Core/Config): Enable/Disable Debug BG/Arena
  data/sql/updates/pending_db_world/rev_1588709577858892600.sql
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
  src/server/game/Miscellaneous/Language.h
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/worldserver/worldserver.conf.dist
Labels: To Be Merged

#3074 refactor(issue_template): Move it to Githubs "new" place
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Priority - Trivial, To Be Merged

#3013 [Zone] Winterspring
  data/sql/updates/pending_db_world/rev_1589121527805378200.sql
Labels: To Be Merged

#3014 [Zone] Felwood
  data/sql/updates/pending_db_world/rev_1589121823177850900.sql
Labels: To Be Merged

#3015 [Dungeon] Mana Tombs
  data/sql/updates/pending_db_world/rev_1589122109505979000.sql
Labels: To Be Merged

#3016 [Dungeon] Sethekk Halls
  data/sql/updates/pending_db_world/rev_1589122395528568300.sql
Labels: To Be Merged

#3017 [Dungeon] Shadow Labyrinth
  data/sql/updates/pending_db_world/rev_1589122636951229900.sql
Labels: To Be Merged

#2943 fix(Core/SpellScript): "Egg nog" item now transforms you
  data/sql/updates/pending_db_world/rev_1587839068992670400.sql
  src/server/scripts/Spells/spell_item.cpp
Labels: To Be Merged

#3018 [Dungeon] Slave Pens
  data/sql/updates/pending_db_world/rev_1589122762458729700.sql
Labels: To Be Merged

#2850 fix(DB/Misc): Light's Hope Chapel dialogue
  data/sql/updates/pending_db_world/rev_1586071351793266500.sql
Labels: DB, To Be Merged
