Repository azerothcore/azerothcore-wotlk, pull requests merged in 2020-01, with the labels that each got.

#2537 fix(DB/creature): Great Wavethrasher position
  data/sql/updates/pending_db_world/rev_1577659546451711787.sql
Labels: To Be Merged

#2402 feat(DB/Worldstates): added worldstates entry 20004 in characters DB
  data/sql/updates/pending_db_characters/rev_1572815191193825836.sql
Labels: To Be Merged

#2547 chore: Clean up pull_request_template.md
  pull_request_template.md
Labels: Documentation, Priority - Trivial, To Be Merged

#2523 Fixed Nagrand Arena door position
  src/server/game/Battlegrounds/Zones/BattlegroundNA.cpp
Labels: To Be Merged

#2515 fix(DB): Various database cleanups
  data/sql/updates/pending_db_world/rev_1576771426837915100.sql
Labels: To Be Merged

#1695 refactor(Core/BG/AV): code cleanup
  src/server/game/Battlegrounds/Battleground.h
  src/server/game/Battlegrounds/Zones/BattlegroundAV.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundAV.h
Labels: Priority - High, To Be Merged

#2535 fix(DB/SAI): Loramus Thalipedes quests/gossip
  data/sql/updates/pending_db_world/rev_1577618082185968188.sql
  src/server/scripts/Kalimdor/zone_azshara.cpp
Labels: To Be Merged

#1903 refactor(Core/BG/AB): code cleanup
  src/server/game/Battlegrounds/Zones/BattlegroundAB.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundAB.h
Labels: To Be Merged

#2574 fix(Core/Battlegrounds): Fix compile error
  src/server/game/Battlegrounds/Zones/BattlegroundAB.h
Labels: To Be Merged

#2556 feat(Core/Hook): New PlayerScript hook "OnPetInitStatsForLevel"
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: Suggestion, To Be Merged

#2549 fix(core): Improve output for 2 small errors
  src/server/authserver/Main.cpp
  src/server/game/World/World.cpp
  src/server/worldserver/Master.cpp
  src/server/worldserver/RemoteAccess/RARunnable.cpp
Labels: Priority - Low, To Be Merged

#2559 fix(Core/CreatureScript): Fix dk quest 12701 #2557
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter1.cpp
Labels: To Be Merged

#2583 fix(Core/Player): Only save players glyphs when needed
  src/server/game/Entities/Player/Player.cpp
Labels: To Be Merged

#2521 feat(Core/Battlegrounds) Reworked enhanced bg system for modules
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
  src/server/game/Battlegrounds/BattlegroundMgr.h
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/GameObject/GameObject.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
Labels: To Be Merged

#2597 Core/Battleground: fix logic missmatch in bg IoC
  src/server/game/Battlegrounds/Zones/BattlegroundIC.cpp
Labels: Waiting to be tested

#2602 fix(CORE): Missing override on various functions
  src/server/game/Entities/Corpse/Corpse.h
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/DynamicObject/DynamicObject.h
  src/server/game/Entities/GameObject/GameObject.h
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Pet/Pet.h
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
  src/server/game/Movement/MovementGenerators/RandomMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/WaypointMovementGenerator.cpp
  src/server/game/Server/WorldSession.cpp
  src/server/scripts/Northrend/zone_sholazar_basin.cpp
Labels: To Be Merged

#2340 fix(Core) : Enable randomProperties or suffix up to 5
  src/server/game/DataStores/DBCStructure.h
  src/server/game/DataStores/DBCfmt.h
  src/server/game/Entities/Item/Item.cpp
  src/server/game/Entities/Item/Item.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellEffects.cpp
  src/server/game/Spells/SpellMgr.cpp
Labels: To Be Merged

#2560 fix(Core): Improve logging msg when missing .conf file
  src/server/game/World/World.cpp
Labels: CORE, Priority - Low, To Be Merged

#2617 fix(core): potential crashes/bugs reported by static analisys
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Groups/Group.cpp
  src/server/game/Handlers/GroupHandler.cpp
  src/server/game/Handlers/MailHandler.cpp
  src/server/game/Server/WorldSession.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellEffects.cpp
  src/server/scripts/Commands/cs_npc.cpp
  src/server/scripts/Commands/cs_wp.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_anubarak_trial.cpp
  src/server/scripts/Northrend/Naxxramas/boss_kelthuzad.cpp
  src/server/scripts/Northrend/Nexus/EyeOfEternity/boss_malygos.cpp
  src/server/scripts/Northrend/Nexus/Oculus/oculus.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_mimiron.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_yoggsaron.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardePinnacle/boss_palehoof.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardePinnacle/boss_svala.cpp
  src/server/scripts/Northrend/VioletHold/violet_hold.cpp
  src/server/scripts/Outland/BlackTemple/boss_reliquary_of_souls.cpp
  src/server/scripts/Spells/spell_shaman.cpp
Labels: Priority - Critical, To Be Merged

#2584 fix(Core/DK): Don't allow starter dk to queue bg
  src/server/game/Groups/Group.cpp
  src/server/game/Handlers/BattleGroundHandler.cpp
Labels: To Be Merged

#2572 fix(DB/creature): Imperial Eagle
  data/sql/updates/pending_db_world/rev_1578865588449656124.sql
Labels: To Be Merged

#2576 refactor(CORE/scripts): Clearer error when script unassigned or alrea…
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: Priority - Trivial, To Be Merged

#2626 Quest items are removed from inventory upon quest completion again
  src/server/game/Entities/Player/Player.cpp
Labels: Priority - Critical

#2577 fix(DB/SAI): Devilsaurs
  data/sql/updates/pending_db_world/rev_1579041492812648634.sql
Labels: To Be Merged

#2580 fix(DB/SAI): Innocuous Scarab
  data/sql/updates/pending_db_world/rev_1579128650269731381.sql
Labels: To Be Merged
