Repository azerothcore/azerothcore-wotlk, pull requests merged in 2020-10, with the labels that each got.

#3432 fix(DB) ICC Intro Event - Saurfang/Muradin MODELID
  data/sql/updates/pending_db_world/rev_1599321019527522400.sql
Labels: To Be Merged

#3423 fix(Issue/Config): Correct links
  .github/ISSUE_TEMPLATE/config.yml
Labels: To Be Merged

#3444 fix(Core/Script) npc Tom Hegger target player for aggro text
  src/server/scripts/Northrend/zone_borean_tundra.cpp
Labels: To Be Merged

#3448 fix(Core/Misc): fixed NOPCH build
  deps/acelite/ace/Event.h
  src/common/Threading/Threading.cpp
Labels: To Be Merged

#3465 refactor(Tools): restyle tools with astyle
  src/tools/map_extractor/System.cpp
  src/tools/map_extractor/adt.cpp
  src/tools/map_extractor/adt.h
  src/tools/map_extractor/dbcfile.cpp
  src/tools/map_extractor/dbcfile.h
  src/tools/map_extractor/loadlib.cpp
  src/tools/map_extractor/loadlib/loadlib.h
  src/tools/map_extractor/mpq_libmpq.cpp
  src/tools/map_extractor/mpq_libmpq04.h
  src/tools/map_extractor/wdt.cpp
  src/tools/map_extractor/wdt.h
  src/tools/mesh_extractor/ChunkedData.cpp
  src/tools/mesh_extractor/ChunkedData.h
  src/tools/mesh_extractor/ContinentBuilder.cpp
  src/tools/mesh_extractor/ContinentBuilder.h
  src/tools/mesh_extractor/DBC.cpp
  src/tools/mesh_extractor/DoodadHandler.cpp
  src/tools/mesh_extractor/LiquidHandler.cpp
  src/tools/mesh_extractor/MPQ.cpp
  src/tools/mesh_extractor/MPQ.h
  src/tools/mesh_extractor/MPQManager.cpp
  src/tools/mesh_extractor/MapChunk.cpp
  src/tools/mesh_extractor/MeshExtractor.cpp
  src/tools/mesh_extractor/Model.cpp
  src/tools/mesh_extractor/TileBuilder.cpp
  src/tools/mesh_extractor/Utils.cpp
  src/tools/mesh_extractor/WorldModelHandler.cpp
  src/tools/mmaps_generator/IntermediateValues.cpp
  src/tools/mmaps_generator/IntermediateValues.h
  src/tools/mmaps_generator/MapBuilder.cpp
  src/tools/mmaps_generator/MapBuilder.h
  src/tools/mmaps_generator/PathCommon.h
  src/tools/mmaps_generator/PathGenerator.cpp
  src/tools/mmaps_generator/TerrainBuilder.cpp
  src/tools/mmaps_generator/TerrainBuilder.h
  src/tools/mmaps_generator/VMapExtensions.cpp
  src/tools/vmap4_extractor/adtfile.cpp
  src/tools/vmap4_extractor/adtfile.h
  src/tools/vmap4_extractor/dbcfile.cpp
  src/tools/vmap4_extractor/dbcfile.h
  src/tools/vmap4_extractor/gameobject_extract.cpp
  src/tools/vmap4_extractor/loadlib/loadlib.h
  src/tools/vmap4_extractor/model.cpp
  src/tools/vmap4_extractor/mpq_libmpq.cpp
  src/tools/vmap4_extractor/mpq_libmpq04.h
  src/tools/vmap4_extractor/vec3d.h
  src/tools/vmap4_extractor/vmapexport.cpp
  src/tools/vmap4_extractor/vmapexport.h
  src/tools/vmap4_extractor/wdtfile.cpp
  src/tools/vmap4_extractor/wmo.cpp
  src/tools/vmap4_extractor/wmo.h
Labels: To Be Merged

#2868 fix(Core/Boss): Toravon Script Mechanics
  data/sql/updates/pending_db_world/rev_1587680634936830200.sql
  src/server/scripts/Northrend/VaultOfArchavon/boss_toravon.cpp
Labels: To Be Merged

#3376 fix(DB/Creature): npc positions
  data/sql/updates/pending_db_world/rev_1598710166600374331.sql
Labels: To Be Merged

#3382 fix(Core/Creature): dead creatures spawn position on respawn
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/World/World.cpp
Labels: To Be Merged

#3502 fix(DB/Event): Brewfest - Synthebrew Goggles and Ram Racing Reins
  data/sql/updates/pending_db_world/rev_1600981837360679324.sql
Labels: To Be Merged

#3472 fix(Core/Unit): Eating anim
  src/server/game/Entities/Unit/Unit.cpp
Labels: To Be Merged

#3409 chore(DB/VerifiedBuild): Creatures 3.1.x
  data/sql/updates/pending_db_world/rev_1598878772525953200.sql
Labels: To Be Merged

#3474 fix(DB/Spell): Make 38318 positive
  data/sql/updates/pending_db_world/rev_1599859218307990300.sql
Labels: To Be Merged

#3571 feat(Actions): Automatically add labels on PRs
  .github/label-pr.yml
  .github/workflows/labeler.yml
  src/server/scripts/World/character_creation.cpp
Labels: CORE, Ready to be reviewed, Script, Workflow

#3480 fix(Scripts/Ulduar): cast electrical charge only if player dies
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_assembly_of_iron.cpp
Labels: To Be Merged

#3481 chore(CI/CoreBuild): fix trailing spaces
  .github/workflows/core_build.yml
Labels: To Be Merged

#3497 fix(DB/Creature): remove mobs from brewfest camp
  data/sql/updates/pending_db_world/rev_1600739072121853409.sql
Labels: To Be Merged

#3579 fix(Action): Labeler
  .github/label-pr.yml
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Ready to be reviewed, Workflow

#3420 refact(CORE/Mail): Avoid big mail loading and saving time by only loading 50 mails at a time.
  src/common/Database/Implementation/CharacterDatabase.cpp
  src/common/Database/Implementation/CharacterDatabase.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Handlers/MailHandler.cpp
  src/server/game/Mails/Mail.cpp
Labels: To Be Merged

#3512 fix(DB/Loot): Naxxramas 25
  data/sql/updates/pending_db_world/rev_1601269291015416700.sql
Labels: To Be Merged

#3381 feat(Core/Unit): do not allow additions threat in evade mode and implement AURA_INTERRUPT_FLAG_LEAVE_COMBAT
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
Labels: Ready to be reviewed, To Be Merged

#3509 fix(DB/SAI): Speaker Mar'grom
  data/sql/updates/pending_db_world/rev_1601240498542654700.sql
Labels: To Be Merged

#3514 fix(DB/Zone):improved Eastern Plaguelands
  data/sql/updates/pending_db_world/rev_1601314356612298800.sql
Labels: To Be Merged

#3515 fix(DB/Zone):improved Western Plaguelands
  data/sql/updates/pending_db_world/rev_1601314686326215700.sql
Labels: To Be Merged

#3522 fix(DB/creature_loot_template): Pattern: Fur Lining - Arcane Resist
  data/sql/updates/pending_db_world/rev_1601361978416709800.sql
Labels: To Be Merged

#3516 fix(DB/Zone):improved Strangethorn Vale
  data/sql/updates/pending_db_world/rev_1601314890936478900.sql
Labels: To Be Merged

#3517 fix(DB/Zone):improved Hinterlands
  data/sql/updates/pending_db_world/rev_1601315022413053900.sql
Labels: DB, To Be Merged

#3513 fix(DB/creature_template): Nerubian Burrower's immunity
  data/sql/updates/pending_db_world/rev_1601277180341917800.sql
Labels: To Be Merged

#3525 fix(DB/creature_template): Adjust Anub'arak minions level
  data/sql/updates/pending_db_world/rev_1601451772137449700.sql
Labels: DB, To Be Merged

#3518 fix(DB/Zones):improved missing & skipped some NPCs
  data/sql/updates/pending_db_world/rev_1601315140580867400.sql
Labels: To Be Merged

#3588 fix(Spell): Expose weakness [Heroic]
  src/server/game/Spells/SpellMgr.cpp
Labels: To Be Merged

#3578 fix(DB/smart_scripts): Gordok Ogre-Mage
  data/sql/updates/pending_db_world/rev_1602815099418099300.sql
Labels: DB, To Be Merged

#3523 fix(DB/Creature):improved Defender of Timbermaw
  data/sql/updates/pending_db_world/rev_1601396210900255400.sql
Labels: DB, To Be Merged
