Repository azerothcore/azerothcore-wotlk, pull requests merged in 2020-12, with the labels that each got.

#3816 Added missing Windows dependency for acelite
  deps/acelite/CMakeLists.txt
Labels: Priority - High, To Be Merged

#3658 [Core/Pathfinding] Some improvements... hopefully...
  src/server/game/AI/CreatureAI.cpp
  src/server/game/AI/SmartScripts/SmartAI.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Movement/MovementGenerators/FleeingMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/PointMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
  src/tools/mmaps_generator/MapBuilder.cpp
  src/tools/mmaps_generator/MapBuilder.h
  src/tools/mmaps_generator/PathGenerator.cpp
Labels: CORE, To Be Merged

#3751 feat(DB/locales): Import deDE locales (Part 04)
  data/sql/updates/pending_db_world/rev_1606151779375687700.sql
Labels: DB, To Be Merged, Translation

#3761 feat(DB/locales): Import deDE locales (Part 05)
  data/sql/updates/pending_db_world/rev_1606240668432550200.sql
Labels: DB, To Be Merged, Translation

#3766 feat(DB/locales): Import deDE locales (Part 06)
  data/sql/updates/pending_db_world/rev_1606330179990143500.sql
Labels: DB, To Be Merged, Translation

#3841 fix(bin/scripts): allow script work with git bash
  bin/acore-docker-remove-build-cache
Labels: Priority - High, To Be Merged

#3771 fix(DB/Instance): Fix equip issue and text errors
  data/sql/updates/pending_db_world/rev_1606373029735379400.sql
Labels: DB, To Be Merged

#3775 feat(DB/locales): Import deDE locales (Part 07)
  data/sql/updates/pending_db_world/rev_1606413127246360900.sql
Labels: DB, To Be Merged, Translation

#3786 fix(DB/smart_scripts): Open door on Sneed's death
  data/sql/updates/pending_db_world/rev_1606541660341796800.sql
Labels: DB, To Be Merged

#3787 fix(DB/creature_template): Adjust levels for Snobold Vassal and Saronite Animus
  data/sql/updates/pending_db_world/rev_1606545399394537100.sql
Labels: DB, To Be Merged

#3832 Core/Social: cleaunup, fix crash when friend or ignore get 0 guid and also double friend list
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/SocialMgr.cpp
  src/server/game/Entities/Player/SocialMgr.h
  src/server/game/Handlers/MiscHandler.cpp
  src/server/game/Handlers/Socialhandler.cpp
Labels: CORE, Priority - Critical, Ready to be reviewed, To Be Merged

#3792 feat(DB/locales): Import deDE locales (Part 08)
  data/sql/updates/pending_db_world/rev_1606563608380973800.sql
Labels: DB, To Be Merged, Translation

#3797 fix(DB/creature): Improve - The Battle For The Ebon Hold
  data/sql/updates/pending_db_world/rev_1606590908424148300.sql
Labels: DB, To Be Merged

#3812 fix(DB/smart_scripts): Improve - Stitched Giant
  data/sql/updates/pending_db_world/rev_1606710338440572300.sql
Labels: DB, To Be Merged

#3810 fix(Scripts/Ulduar): Yogg-Saron's portals
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_yoggsaron.cpp
Labels: CORE, Script, To Be Merged

#3794 fix(DB/NPC): respawntime secs
  data/sql/updates/pending_db_world/rev_1606571138894151804.sql
Labels: DB, To Be Merged

#3795 fix(DB/creature_formations): Elite patrolling positions
  data/sql/updates/pending_db_world/rev_1606571992509460569.sql
Labels: DB, To Be Merged

#3535 fix(DB/creature_template): Improved Obsidian Sanctum
  data/sql/updates/pending_db_world/rev_1601827337526865700.sql
Labels: DB, To Be Merged

#3538 fix(DB/Raid):improved Eye of Eternity
  data/sql/updates/pending_db_world/rev_1601827252211534700.sql
Labels: DB, To Be Merged

#3801 refactor(Core/sLog): improve singleton management
  src/common/Logging/ILog.h
  src/common/Logging/Log.cpp
  src/common/Logging/Log.h
  src/test/CMakeLists.txt
  src/test/mocks/LogMock.h
  src/test/server/game/Miscellaneous/FormulasTest.cpp
Labels: CORE, To Be Merged, UnitTests

#3819 refactor(Core): apply clang-tidy modernize-use-nullptr
  src/common/Collision/Management/VMapManager2.h
  src/common/Collision/Maps/MapTree.h
  src/common/Collision/Maps/TileAssembler.h
  src/common/Collision/Models/GameObjectModel.h
  src/common/Collision/Models/ModelInstance.h
  src/common/Collision/Models/WorldModel.h
  src/common/Database/Field.h
  src/common/Database/MySQLConnection.h
  src/common/Database/MySQLThreading.h
  src/common/Database/SQLOperation.h
  src/common/Dynamic/LinkedList.h
  src/common/Dynamic/LinkedReference/RefManager.h
  src/common/Dynamic/LinkedReference/Reference.h
  src/common/Utilities/SignalHandler.h
  src/server/authserver/Server/RealmAcceptor.h
  src/server/game/Battlegrounds/Battleground.h
  src/server/game/Combat/ThreatManager.h
  src/server/game/Conditions/ConditionMgr.h
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/GameObject/GameObject.h
  src/server/game/Entities/Item/Item.h
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Globals/ObjectAccessor.h
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Loot/LootMgr.h
  src/server/game/Maps/Map.h
  src/server/game/Movement/MotionMaster.h
  src/server/game/World/World.h
  src/server/shared/Network/RealmSocket.cpp
  src/tools/map_extractor/adt.cpp
  src/tools/map_extractor/adt.h
  src/tools/map_extractor/loadlib.cpp
  src/tools/map_extractor/mpq_libmpq.cpp
  src/tools/map_extractor/wdt.cpp
  src/tools/vmap4_extractor/model.cpp
  src/tools/vmap4_extractor/mpq_libmpq.cpp
  src/tools/vmap4_extractor/vmapexport.cpp
  src/tools/vmap4_extractor/wmo.cpp
Labels: CORE, To Be Merged

#3825 refactor(Core): apply clang-tidy modernize-redundant-void-arg
  src/common/Collision/Management/IVMapManager.h
  src/common/Collision/Management/VMapManager2.h
  src/common/Cryptography/BigNumber.h
  src/common/Cryptography/SHA1.h
  src/common/Dynamic/TypeContainer.h
  src/server/authserver/Server/AuthSocket.cpp
  src/server/authserver/Server/AuthSocket.h
  src/server/authserver/Server/RealmAcceptor.h
  src/server/game/Entities/Player/Player.h
  src/server/game/Grids/NGrid.h
  src/server/game/Maps/Map.h
  src/server/shared/Network/RealmSocket.cpp
  src/server/shared/Network/RealmSocket.h
  src/tools/vmap4_extractor/wdtfile.cpp
  src/tools/vmap4_extractor/wdtfile.h
Labels: CORE, To Be Merged

#3837 refactor(Core): apply clang-tidy modernize-use-noexcept
  src/common/Packets/ByteBuffer.h
Labels: CORE, To Be Merged

#3536 fix(DB/Raid):improved Vault of Archavon
  data/sql/updates/pending_db_world/rev_1601827483251961900.sql
Labels: DB, To Be Merged

#3537 fix(DB/creature_template): Improve Onyxia Lair
  data/sql/updates/pending_db_world/rev_1601827407065319600.sql
Labels: DB, To Be Merged

#3828 refactor(Core): apply clang-tidy modernize-use-emplace
  src/tools/mmaps_generator/MapBuilder.cpp
  src/tools/mmaps_generator/PathCommon.h
  src/tools/vmap4_extractor/vmapexport.cpp
Labels: CORE, To Be Merged

#3822 refactor(Core): apply clang-tidy modernize-loop-convert
  src/common/Collision/BoundingIntervalHierarchy.h
  src/common/Utilities/Util.h
  src/server/game/AuctionHouse/AuctionHouseMgr.h
  src/server/game/Combat/ThreatManager.h
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/GameObject/GameObject.h
  src/server/game/Entities/Player/Player.h
  src/server/game/Globals/ObjectMgr.h
  src/server/shared/DataStores/DBCStructure.h
  src/tools/map_extractor/System.cpp
  src/tools/map_extractor/mpq_libmpq.cpp
  src/tools/mmaps_generator/MapBuilder.cpp
  src/tools/mmaps_generator/TerrainBuilder.cpp
  src/tools/vmap4_extractor/gameobject_extract.cpp
  src/tools/vmap4_extractor/mpq_libmpq.cpp
  src/tools/vmap4_extractor/vmapexport.cpp
Labels: CORE, To Be Merged

#3834 refactor(Core): apply clang-tidy modernize-use-equals-default
  src/common/Collision/Management/IVMapManager.h
  src/common/Database/DatabaseWorkerPool.h
  src/common/Database/MySQLConnection.h
  src/common/Database/QueryHolder.h
  src/common/Database/Transaction.h
  src/common/Dynamic/LinkedReference/RefManager.h
  src/common/Dynamic/LinkedReference/Reference.h
  src/common/Packets/ByteBuffer.h
  src/common/Threading/LockedQueue.h
  src/common/Threading/Threading.h
  src/common/Utilities/EventProcessor.h
  src/server/authserver/Server/AuthSocket.cpp
  src/server/authserver/Server/RealmAcceptor.h
  src/server/game/Achievements/AchievementMgr.h
  src/server/game/Battlegrounds/Battleground.h
  src/server/game/Entities/Creature/TemporarySummon.h
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Entities/Vehicle/VehicleDefines.h
  src/server/game/Events/GameEventMgr.h
  src/server/game/Globals/ObjectAccessor.h
  src/server/game/Grids/Cells/Cell.h
  src/server/game/Grids/Grid.h
  src/server/game/Loot/LootMgr.h
  src/server/game/Movement/Spline/MoveSplineInitArgs.h
  src/server/game/Movement/Spline/Spline.h
  src/server/game/Scripting/ScriptMgr.h
  src/server/game/Server/WorldSession.h
  src/server/game/Weather/Weather.h
  src/server/shared/Network/RealmSocket.cpp
  src/server/shared/Realms/RealmList.h
  src/tools/map_extractor/dbcfile.h
  src/tools/mmaps_generator/MapBuilder.h
  src/tools/mmaps_generator/TerrainBuilder.cpp
  src/tools/vmap4_extractor/dbcfile.h
Labels: CORE, To Be Merged

#3827 refactor(Core): apply clang-tidy modernize-use-default-member-init
  src/common/Collision/BoundingIntervalHierarchy.h
  src/common/Collision/Management/IVMapManager.h
  src/common/Collision/Management/VMapManager2.h
  src/common/Collision/Maps/MapTree.h
  src/common/Collision/Maps/TileAssembler.h
  src/common/Collision/Models/GameObjectModel.h
  src/common/Collision/Models/ModelInstance.h
  src/common/Collision/Models/WorldModel.h
  src/common/Database/Transaction.h
  src/common/Dynamic/LinkedList.h
  src/common/Packets/ByteBuffer.h
  src/common/Packets/WorldPacket.h
  src/common/Threading/LockedQueue.h
  src/common/Utilities/Timer.h
  src/common/Utilities/Util.h
  src/server/game/Achievements/AchievementMgr.h
  src/server/game/Battlegrounds/Battleground.h
  src/server/game/Combat/ThreatManager.h
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/GameObject/GameObject.h
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Object/Updates/UpdateMask.h
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Events/GameEventMgr.h
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Groups/GroupReference.h
  src/server/game/Instances/InstanceSaveMgr.h
  src/server/game/Loot/LootMgr.h
  src/server/game/Maps/Map.h
  src/server/game/Miscellaneous/SharedDefines.h
  src/server/game/Movement/Spline/MoveSpline.h
  src/server/game/Movement/Spline/MoveSplineInitArgs.h
  src/server/game/Movement/Spline/Spline.h
  src/server/game/Quests/QuestDef.h
  src/server/game/Server/WorldSession.h
  src/server/game/Spells/SpellMgr.h
  src/server/shared/DataStores/DBCStorageIterator.h
  src/server/shared/DataStores/DBCStructure.h
  src/server/shared/Network/RealmSocket.cpp
  src/server/shared/Network/RealmSocket.h
  src/server/shared/Realms/RealmList.cpp
  src/server/shared/Realms/RealmList.h
  src/tools/mmaps_generator/IntermediateValues.h
  src/tools/mmaps_generator/MapBuilder.cpp
  src/tools/mmaps_generator/MapBuilder.h
  src/tools/vmap4_extractor/model.h
Labels: CORE, To Be Merged

#3814 fix(CMake): Deprecation warning
  CMakeLists.txt
Labels: To Be Merged

#3826 refactor(Core): apply clang-tidy modernize-use-bool-literals
  src/server/authserver/Server/AuthSocket.cpp
  src/server/game/World/World.h
  src/tools/mmaps_generator/MapBuilder.cpp
Labels: CORE, To Be Merged

#3861 chore(Core): forgot to add copyright in new files + small correction
  CMakeLists.txt
  deps/CMakeLists.txt
  deps/SFMT/CMakeLists.txt
  deps/acelite/CMakeLists.txt
  deps/bzip2/CMakeLists.txt
  deps/fmt/CMakeLists.txt
  deps/g3dlite/CMakeLists.txt
  deps/gsoap/CMakeLists.txt
  deps/jemalloc/CMakeLists.txt
  deps/libmpq/CMakeLists.txt
  deps/mysql/CMakeLists.txt
  deps/openssl/CMakeLists.txt
  deps/readline/CMakeLists.txt
  deps/recastnavigation/Detour/CMakeLists.txt
  deps/recastnavigation/Recast/CMakeLists.txt
  deps/threads/CMakeLists.txt
  deps/utf8cpp/CMakeLists.txt
  deps/zlib/CMakeLists.txt
  src/cmake/compiler/clang/settings.cmake
  src/cmake/compiler/gcc/settings.cmake
  src/cmake/compiler/icc/settings.cmake
  src/cmake/compiler/mingw/settings.cmake
  src/cmake/compiler/msvc/settings.cmake
  src/cmake/macros/AutoCollect.cmake
  src/cmake/macros/ConfigureBaseTargets.cmake
  src/common/CMakeLists.txt
  src/common/Debugging/Errors.cpp
  src/common/Debugging/Errors.h
  src/common/Logging/ILog.h
  src/server/CMakeLists.txt
  src/server/authserver/CMakeLists.txt
  src/server/game/Misc/BanManager.cpp
  src/server/game/Misc/BanManager.h
  src/server/worldserver/CMakeLists.txt
  src/test/CMakeLists.txt
  src/test/mocks/LogMock.h
  src/test/server/game/Miscellaneous/FormulasTest.cpp
Labels: CORE, Ready to be reviewed, To Be Merged, UnitTests

#3539 fix(DB/creature_template): Improve Utgarde Pinnacle
  data/sql/updates/pending_db_world/rev_1601827164368024300.sql
Labels: DB, To Be Merged

#3541 fix(DB/creature_template): Improve The Oculus
  data/sql/updates/pending_db_world/rev_1601826958284839000.sql
Labels: DB, To Be Merged

#3540 fix(DB/creature_template): Improve Utgarde Keep
  data/sql/updates/pending_db_world/rev_1601827068773284000.sql
Labels: DB, To Be Merged

#3555 fix(DB/creature_template): Improve Ulduar
  data/sql/updates/pending_db_world/rev_1602173033401388800.sql
Labels: DB, To Be Merged

#3561 fix(DB/creature_template): Improve damage
  data/sql/updates/pending_db_world/rev_1602336256005673600.sql
Labels: DB, To Be Merged

#3796 fix(DB/creature_loot_template): Quest item drop chance - 'Guardian of the Monument'
  data/sql/updates/pending_db_world/rev_1606576830800366000.sql
Labels: DB, To Be Merged

#3800 fix(DB/creature): Ulduar 25 Antechamber trash pack
  data/sql/updates/pending_db_world/rev_1606604290694357400.sql
Labels: DB, To Be Merged

#3802 fix(DB/smart_scripts): Ulduar- Iron Mender casting Fuse Metal out of combat
  data/sql/updates/pending_db_world/rev_1606619446977707200.sql
Labels: DB, To Be Merged

#3780 fix(Core/Game): Rest & Inn Improvements
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Handlers/MiscHandler.cpp
  src/server/shared/DataStores/DBCStructure.h
Labels: CORE, To Be Merged

#3804 fix(DB/access_requirement): Add missing quest_failed_text
  data/sql/updates/pending_db_world/rev_1606625488742709700.sql
Labels: DB, To Be Merged

#3805 fix(DB/creature_template_addon): Add 'Shadowform' aura to Saronite Animus
  data/sql/updates/pending_db_world/rev_1606636935711383900.sql
Labels: DB, To Be Merged

#3807 feat(DB/locales): Import deDE locales (Part 09)
  data/sql/updates/pending_db_world/rev_1606648337329550400.sql
Labels: DB, To Be Merged, Translation

#3808 fix(DB/item_template_locale): Twisted Reflection item description
  data/sql/updates/pending_db_world/rev_1606663824598306700.sql
Labels: DB, To Be Merged, Translation

#3811 feat(Core/Config): Arena points - Games required
  src/server/game/Battlegrounds/ArenaTeam.cpp
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged

#3821 refactor(Core): apply clang-tidy modernize-deprecated-headers
  src/common/Collision/BoundingIntervalHierarchy.h
  src/common/Common.h
  src/common/Threading/LockedQueue.h
  src/server/authserver/Server/AuthSocket.cpp
  src/tools/map_extractor/System.cpp
  src/tools/map_extractor/loadlib/loadlib.h
  src/tools/map_extractor/mpq_libmpq04.h
  src/tools/mmaps_generator/PathCommon.h
  src/tools/vmap4_extractor/gameobject_extract.cpp
  src/tools/vmap4_extractor/loadlib/loadlib.h
  src/tools/vmap4_extractor/mpq_libmpq04.h
  src/tools/vmap4_extractor/vmapexport.cpp
  src/tools/vmap4_extractor/wdtfile.h
Labels: CORE, To Be Merged

#3980 chore(ReadMe): Add Discussions (Forum) to important links
  .github/README.md
Labels: To Be Merged

#3985 fix(Core): a typo introduced in the Rest & Inn Improvements
  src/server/game/Entities/Player/Player.cpp
Labels: CORE

#3823 refactor(Core): apply clang-tidy modernize-pass-by-value
  src/common/Database/Transaction.h
  src/server/game/Addons/AddonMgr.h
  src/server/game/Mails/Mail.h
  src/server/game/Server/WorldSession.h
  src/tools/map_extractor/dbcfile.cpp
  src/tools/map_extractor/dbcfile.h
  src/tools/vmap4_extractor/dbcfile.cpp
  src/tools/vmap4_extractor/dbcfile.h
  src/tools/vmap4_extractor/wmo.cpp
  src/tools/vmap4_extractor/wmo.h
Labels: CORE, To Be Merged

#3542 fix(DB/creature_template): Improve The Nexus
  data/sql/updates/pending_db_world/rev_1601826865098802700.sql
Labels: DB, To Be Merged

#3829 feat(DB/locales): Import deDE locales (Part 10)
  data/sql/updates/pending_db_world/rev_1606850384711949100.sql
Labels: DB, To Be Merged, Translation

#3833 fix(Core/conf): Battleground kill XP rate description
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, Priority - Trivial, To Be Merged

#3839 fix(DB/waypoint_data): Great Hexer Ohodo pathing
  data/sql/updates/pending_db_world/rev_1606911497462342200.sql
Labels: DB, To Be Merged

#3840 fix(DB/Quest): Text for quest "When the Cows Come Home"
  data/sql/updates/pending_db_world/rev_1606921345291246500.sql
  src/server/scripts/Outland/zone_netherstorm.cpp
Labels: CORE, DB, Script, To Be Merged

#3842 feat(DB/locales): Import deDE locales (Part 11)
  data/sql/updates/pending_db_world/rev_1607037840838629200.sql
Labels: DB, To Be Merged, Translation

#3798 fix(DB/spell_custom_attr): Debuffs incorrectly applied as buffs
  data/sql/updates/pending_db_world/rev_1606594157029530500.sql
Labels: DB, To Be Merged

#3843 refactor(Core/Social): Cleanup
  src/server/game/Entities/Player/SocialMgr.cpp
  src/server/game/Handlers/Socialhandler.cpp
Labels: CORE, To Be Merged

#3992 fix(Bash/installer): client data version
  apps/installer/includes/functions.sh
Labels: Bash, To Be Merged

#3991 feat(Bash/restarter): add restarter to the available bin/ collection
  apps/startup-scripts/simple-restarter
  bin/acore-restarter
Labels: Bash, To Be Merged

#3725 fix(DB/smart_scripts): Quest "Enlistment Day"
  data/sql/updates/pending_db_world/rev_1607432767438370200.sql
Labels: DB, To Be Merged

#3844 fix(DB/quest_poi_points): Fix The Battered Hilt Questline
  data/sql/updates/pending_db_world/rev_1607085889307075600.sql
Labels: DB, Quest, To Be Merged

#3998 fix(CI/macOS): remove old openssl removal
  apps/ci/mac/ci-install.sh
Labels: Bash, To Be Merged

#4001 feat(CI): add macos-11.0 to core-build
  .github/workflows/core_build.yml
Labels: Workflow

#3824 refactor(Core): apply clang-tidy modernize-raw-string-literal
  src/tools/map_extractor/System.cpp
  src/tools/vmap4_extractor/vmapexport.cpp
  src/tools/vmap4_extractor/wdtfile.cpp
Labels: CORE, To Be Merged

#3845 fix(DB/item_template_locale): Item Description deDE
  data/sql/updates/pending_db_world/rev_1607086882277070500.sql
Labels: DB, To Be Merged, Translation

#4004 fix(DB/Quest): Make 6962 not repeatable
  data/sql/updates/pending_db_world/rev_1608247978940176300.sql
Labels: DB, Priority - High, To Be Merged

#3847 fix(DB/npc_vendor): Argent Tournament
  data/sql/updates/pending_db_world/rev_1607114956534301900.sql
Labels: DB, To Be Merged

#4010 fix(DB/creature): Improve starting NPCs
  data/sql/updates/pending_db_world/rev_1608331608234968600.sql
Labels: DB, To Be Merged

#4012 fix(scripts/Oculus): Reset Mage-Lord Urom's position at death
  src/server/scripts/Northrend/Nexus/Oculus/boss_urom.cpp
Labels: Script, To Be Merged

#4011 fix(scripts/CullingOfStratholme): Remove "Corrupting Blight" at Infinite Corruptor's death
  src/server/scripts/Kalimdor/CavernsOfTime/CullingOfStratholme/boss_infinite.cpp
Labels: CORE, Script, To Be Merged

#3773 feat(Core): Another way to get talent points
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
Labels: CORE, To Be Merged

#3863 docs(README.md): normalized captions
  .github/README.md
Labels: To Be Merged

#3867 docs(PR-template): normalized captions
  pull_request_template.md
Labels: To Be Merged

#3874 refactor(Core): removed unused ace includes
  src/common/Common.h
  src/common/Cryptography/BigNumber.cpp
  src/common/Logging/Log.cpp
  src/server/game/Server/WorldSocket.h
  src/server/game/Server/WorldSocketMgr.cpp
Labels: CORE, To Be Merged

#3987 docs: add sponsor link
  .github/FUNDING.yml
Labels: To Be Merged

#4023 fix(README): catalogue link
  .github/README.md
Labels: To Be Merged

#3994 Core/Utils: Create std::optional helper class
  src/common/Utilities/Optional.h
Labels: CORE, To Be Merged

#3996 fix(Bash/simple-restarter): always show the correct command name
  apps/startup-scripts/simple-restarter
Labels: To Be Merged

#4003 feat(CI/MacOS): use acore.sh to install deps
  .github/workflows/core_build.yml
  apps/bash_shared/defines.sh
  apps/ci/mac/ci-compile.sh
  apps/ci/mac/ci-install.sh
  apps/installer/includes/os_configs/osx.sh
Labels: Bash, To Be Merged, Workflow

#4013 fix(Core/Spell): Clicking lock portal cost mana
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, To Be Merged

#2781 refactor(Core): Remove player title defines
  src/server/game/Entities/Player/Player.h
Labels: CORE, To Be Merged

#3716 fix(apps/scripts): Add quotes for directory paths containing empty spaces
  apps/bash_shared/common.sh
  apps/db_assembler/includes/functions.sh
  conf/dist/config.sh
Labels: Bash, To Be Merged

#3989 chore(config): Improve dist files
  src/server/authserver/authserver.conf.dist
  src/server/game/World/World.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged

#4014 fix(DB/Spell): Clearcast proc
  data/sql/updates/pending_db_world/rev_1608425033220359700.sql
Labels: DB, To Be Merged

#3572 fix(DB/broadcast_text_locale): Guard gossip for hunter class [esES/esMX]
  data/sql/updates/pending_db_world/rev_1602681411978701400.sql
Labels: DB, To Be Merged

#3229 refactor(scripts/BlackrockMountain): Remove commented NPC scripts
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/blackrock_depths.cpp
Labels: CORE, Script, To Be Merged

#4017 fix(Core/Guild): Implement gender in guild
  src/common/Database/Implementation/CharacterDatabase.cpp
  src/server/game/Guilds/Guild.cpp
  src/server/game/Guilds/Guild.h
  src/server/game/Guilds/GuildMgr.cpp
Labels: CORE, To Be Merged

#4046 fix(CI): update procedure/function check
  .github/workflows/check_pending_sql.yml
Labels: Workflow

#3558 fix(Scripts/Ulduar): Expedition Base Camp
  data/sql/updates/pending_db_world/rev_1601870525065182700.sql
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_flame_leviathan.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/instance_ulduar.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/ulduar.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/ulduar.h
Labels: CORE, DB, Script, To Be Merged

#3529 fix(scripts/Ulduar): Kologarn - Focused Eyebeam
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_kologarn.cpp
Labels: CORE, Script, To Be Merged

#4050 fix(Core/Object): Fix small error in Position::IsWithinBox
  src/server/game/Entities/Object/Object.cpp
Labels: CORE, To Be Merged

#4055 fix(scripts/Felmyst): Adjust beam target
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_felmyst.cpp
Labels: CORE, Script, To Be Merged

#4026 fix(DB/game_event_gameobject): Brewfest gameobject in Winter Veil
  data/sql/updates/pending_db_world/rev_1608597053624009600.sql
Labels: DB, To Be Merged

#4028 chore(Core/SpellMgr): Indentation
  src/server/game/Spells/SpellMgr.h
Labels: CORE, To Be Merged

#4030 fix(DB/smart_scripts): Script "Crowleg" Dan
  data/sql/updates/pending_db_world/rev_1608647607679439900.sql
Labels: DB, To Be Merged

#4029 fix(DB/creature_template): Add mechanic_immune_mask for Hyjal bosses
  data/sql/updates/pending_db_world/rev_1608646240603030900.sql
Labels: DB, To Be Merged

#4031 fix(DB/acore_string): Remove weird spaces in npc info
  data/sql/updates/pending_db_world/rev_1608648169001292100.sql
Labels: DB, To Be Merged

#4061 fix(DB/gameobject): Quest 'Soaked Pages' GO respawn time
  data/sql/updates/pending_db_world/rev_1609001966856175000.sql
Labels: 1-19, DB, To Be Merged

#4036 fix(Core/GO): failed attempt
  src/server/game/Spells/Spell.cpp
Labels: 1-19, CORE, To Be Merged

#4034 fix(dashboard): check if acore user already exists
  apps/db_assembler/includes/functions.sh
Labels: Bash, To Be Merged

#4032 fix(DB/acore_string): Adjust characters for pinfo
  data/sql/updates/pending_db_world/rev_1608651525587192300.sql
Labels: DB, To Be Merged

#4033 chore(Core/Conf): Change default of RecordUpdateTimeDiffInterval
  src/server/game/World/World.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged

#4047 fix(DB/creature_loot_template): Adjust drop chance for white items in starter zones
  data/sql/updates/pending_db_world/rev_1608900035979104911.sql
Labels: DB, To Be Merged

#4067 fix(DB/Creature): add/fix spawns in Ghostlands & Eversong Woods
  data/sql/updates/pending_db_world/rev_1609090256646931000.sql
Labels: 1-19, DB, To Be Merged

#3852 fix(DB/quest): Thalorien Dawnseeker - Quest texts
  data/sql/updates/pending_db_world/rev_1607246968593658900.sql
Labels: DB, Quest, To Be Merged, Translation

#3862 refactor(Core/sWorld): improve singleton management
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/test/mocks/LogMock.h
  src/test/mocks/WorldMock.h
  src/test/server/game/Miscellaneous/FormulasTest.cpp
Labels: CORE, To Be Merged, UnitTests

#4044 fix(CI): Only run macos build if ubuntu build is successful
  .github/workflows/core_build.yml
Labels: To Be Merged, Workflow

#4068 feat(DB/translations): import quest_template, quest_request_items and quest_offer_reward from TC
  data/sql/updates/pending_db_world/rev_1609102998767361464.sql
Labels: DB, To Be Merged

#3511 fix(DB/Quest) add missing quest to brewfest npc's
  data/sql/updates/pending_db_world/rev_1601269592461165174.sql
Labels: DB, To Be Merged
