Repository azerothcore/azerothcore-wotlk, pull requests merged in 2020-03, with the labels that each got.

#2641 Morph command update
  data/sql/updates/pending_db_world/rev_1580747652284896800.sql
  src/server/scripts/Commands/cs_modify.cpp
Labels: To Be Merged

#2674 fix(DB): Argent Guard Thaelrid
  data/sql/updates/pending_db_world/rev_1581974554600178400.sql
Labels: To Be Merged

#2646 fix(Core/Dungeon): Halls of stone doors
  src/server/scripts/Northrend/Ulduar/HallsOfStone/halls_of_stone.h
  src/server/scripts/Northrend/Ulduar/HallsOfStone/instance_halls_of_stone.cpp
Labels: To Be Merged

#2730 fix(DB): Ashenvale Hunt german quest texts
  data/sql/updates/pending_db_world/rev_1583183801743154900.sql
Labels: To Be Merged

#2723 chore(README): add linkedin
  README.md
Labels: Priority - Trivial, To Be Merged

#2739 fix(core/packet): check malformed guild packet to prevent client crash
  src/server/game/Handlers/GuildHandler.cpp
Labels: Priority - Critical, To Be Merged

#2642 fix(apps): Script for default git commit template returns output
  apps/git_tools/setup_git_commit_template.sh
Labels: Bash, Priority - Trivial, To Be Merged

#2654 Zul'Aman raid improvements
  data/sql/updates/pending_db_world/rev_1581083846978148700.sql
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.cpp
Labels: To Be Merged

#2670 feat(DB): Import german quest_offer_reward texts from GTDB (Part 1/4)
  data/sql/updates/pending_db_world/rev_1581883283233184100.sql
Labels: DB, Language, To Be Merged

#2738 fix(DB/Gameobject): Secret Safe loot
  data/sql/updates/pending_db_world/rev_1583690478008671900.sql
Labels: To Be Merged

#2753 Fix(Core/Packet): Calendar events exploits
  src/server/game/Handlers/CalendarHandler.cpp
Labels: Priority - Critical, To Be Merged

#2678 Core/Misc: Remove dependency on undefined behaviour
  src/common/Collision/BoundingIntervalHierarchy.h
Labels: To Be Merged

#2750 Fix:(Core/Gameobjects) Fix so non-consumable goobers don't despawn on use
  src/server/game/Entities/GameObject/GameObject.cpp
Labels: To Be Merged

#2708 fix(DB): Remove duplicates Cenarion Stormcrow
  data/sql/updates/pending_db_world/rev_1582638956577578400.sql
Labels: To Be Merged

#2789 feat(Core/Packet): Implement AntiDOS protection from Trinity
  src/server/game/Chat/Channels/Channel.h
  src/server/game/Entities/Item/Item.cpp
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Entities/Player/SocialMgr.cpp
  src/server/game/Reputation/ReputationMgr.cpp
  src/server/game/Server/Protocol/Opcodes.h
  src/server/game/Server/WorldSession.cpp
  src/server/game/Server/WorldSession.h
  src/server/game/Weather/Weather.cpp
  src/server/game/Weather/WeatherMgr.cpp
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/worldserver/worldserver.conf.dist
Labels: Ready to be reviewed, Waiting to be tested

#2692 feat(DB/lang): Import german quest_request_items texts from GTDB (Part 2/4)
  data/sql/updates/pending_db_world/rev_1582373667055272000.sql
Labels: To Be Merged

#2776 DB/Misc: fix error on default MySQL install
  data/sql/base/db_world/npc_text_locale.sql
Labels: To Be Merged

#2702 chore(Core): restore little comment
  src/server/game/Handlers/AuctionHouseHandler.cpp
Labels: To Be Merged

#2697 fix(DB/creature_template): Marsh Lurker spawn position
  data/sql/updates/pending_db_world/rev_1582455931661032800.sql
Labels: To Be Merged

#2698 fix(DB/reputation): Sporeggar repeatable quest reputation rate
  data/sql/updates/pending_db_world/rev_1582472809971331600.sql
Labels: To Be Merged

#2799 fix(Calendar/Packets): Add some additional validation when creating events
  src/server/game/Calendar/CalendarMgr.cpp
  src/server/game/Calendar/CalendarMgr.h
  src/server/game/Handlers/CalendarHandler.cpp
  src/server/game/Server/WorldSession.cpp
  src/server/game/Server/WorldSession.h
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/worldserver/worldserver.conf.dist
Labels: Priority - High, To Be Merged

#2747 fix:(DB/Creature): Little Adeline
  data/sql/updates/pending_db_world/rev_1583866008487985900.sql
Labels: To Be Merged

#2711 fix(DB/creature_formations): Moon Priestess Amara pathing
  data/sql/updates/pending_db_world/rev_1582663580844407800.sql
Labels: To Be Merged

#2724 fix(DB/creature_formations): Thal'trak Proudtusk pathing
  data/sql/updates/pending_db_world/rev_1582823894137331500.sql
Labels: To Be Merged

#2829 feat(Core/Config): Parameter to set stop time for creatures with WP movement #2715
  src/server/game/Movement/MovementGenerators/WaypointMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/WaypointMovementGenerator.h
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/worldserver/worldserver.conf.dist
Labels: To Be Merged

#2731 fix(app/db_assembler): Allow recursion with bash
  apps/db_assembler/includes/functions.sh
Labels: To Be Merged
