Repository azerothcore/azerothcore-wotlk, pull requests merged in 2020-11, with the labels that each got.

#3543 fix(DB/Zones):improved Tirisfal Glades
  data/sql/updates/pending_db_world/rev_1601826746153871500.sql
Labels: DB, To Be Merged

#3574 fix(DB/Quest): Rifle the Bodies
  data/sql/updates/pending_db_world/rev_1602784760535322900.sql
Labels: DB, To Be Merged

#3545 fix(DB/Dungeon/Quest): Entry into Karazhan
  data/sql/updates/pending_db_world/rev_1601868446381471500.sql
Labels: DB, To Be Merged

#3559 fix(Core/Ulduar): Hodir flash freeze safe spots
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_hodir.cpp
Labels: To Be Merged

#3560 fix(CI): do not run core_build on forks
  .github/workflows/core_build.yml
Labels: To Be Merged, Workflow

#3575 fix(DB/Quest): The Black Box
  data/sql/updates/pending_db_world/rev_1602787862865620600.sql
Labels: DB, To Be Merged

#3577 fix(DB/Creature): Shandy Glossgleam
  data/sql/updates/pending_db_world/rev_1602789488364909900.sql
Labels: DB, To Be Merged

#3584 Fix(Scripts/Ulduar): Boss XT-002 Enrage Sound
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_xt002.cpp
Labels: Script, To Be Merged

#3585 Fix(Core/Ulduar): Fixed the Stone Nova stacking issue in 25man mode
  src/server/game/Spells/SpellMgr.cpp
Labels: To Be Merged

#3586 fix(Scripts/Ulduar): Supercharge stack issue fix
  src/server/game/Spells/SpellMgr.cpp
Labels: To Be Merged

#3590 fix(DB/creature_template): Ulduar - Overload
  data/sql/updates/pending_db_world/rev_1603072521176787100.sql
Labels: DB, To Be Merged

#3592 fix(Script/ICC): Spirit Alarm and Deathbound Ward
  data/sql/updates/pending_db_world/rev_1600110155751496900.sql
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
  src/server/scripts/Northrend/IcecrownCitadel/instance_icecrown_citadel.cpp
Labels: DB, Script, To Be Merged

#3596 feat(CI): check if pending sql has procedure or function
  .github/workflows/check_pending_sql.yml
Labels: To Be Merged, Workflow

#3595 fix(Core/CS): Fixed learn command using null session when send over SOAP
  src/server/scripts/Commands/PlayerCommand.cpp
Labels: Script, To Be Merged

#3600 [FIX]- [ICC] Light's Hope Muradin/Saurfang Wrong Models #3599
  data/sql/updates/pending_db_world/rev_1603400273862064800.sql
Labels: DB, To Be Merged

#3601 fix(DB/waypoint_data): Ulduar Colossus path fix
  data/sql/updates/pending_db_world/rev_1603401587698987500.sql
Labels: DB, To Be Merged

#3608 fix(DB/creature) Coilskar-Assasin Position
  data/sql/updates/pending_db_world/rev_1603546141509497300.sql
Labels: DB, To Be Merged

#3611 fix(DB/Zone):improved Burning Steppes
  data/sql/updates/pending_db_world/rev_1603643241772161900.sql
Labels: DB, To Be Merged

#3619 fix(DB/Zone):improved Loch Modan
  data/sql/updates/pending_db_world/rev_1603643792422914800.sql
Labels: DB, To Be Merged

#3638 fix(DB/creature_template): Fix Twilight Fissure interaction
  data/sql/updates/pending_db_world/rev_1604182926047452600.sql
Labels: DB, To Be Merged

#3639 fix(DB/spelldifficulty_dbc): Fix Disrupting shout [10/25]
  data/sql/updates/pending_db_world/rev_1604393719697326100.sql
Labels: DB, To Be Merged

#3610 fix(Core/Unit): fixed issue with ranged auto-attack having a weird sound issue if a player is attempting to attack a target who's not in the line of sight
  src/server/game/Entities/Unit/Unit.cpp
Labels: To Be Merged

#3637 fix(DB/creature_template): Void Zone from Lady Blaumeux
  data/sql/updates/pending_db_world/rev_1604177835597791700.sql
Labels: DB, To Be Merged

#3612 fix(DB/Zone):improved Swamp of Sorrows
  data/sql/updates/pending_db_world/rev_1603642988008842900.sql
Labels: DB, To Be Merged

#3613 fix(DB/Zone):improved Redrige Mountains
  data/sql/updates/pending_db_world/rev_1603642864767142300.sql
Labels: DB, To Be Merged

#3547 fix(DB/Dungeon/Quest): Brother against brother
  data/sql/updates/pending_db_world/rev_1601869322546655200.sql
Labels: DB, To Be Merged

#3651 fix(DB/creature) Rachelle Gothena Position
  data/sql/updates/pending_db_world/rev_1604740702289748200.sql
Labels: DB, To Be Merged

#3413 fix(DB/gameobject_loot): Gordok Tribute
  data/sql/updates/pending_db_world/rev_1598878453024493200.sql
Labels: To Be Merged

#3672 fix(Core/Logs): Fix arguments in function call
  src/server/game/Spells/Auras/SpellAuras.cpp
Labels: Priority - High, To Be Merged

#3505 fix(DB/Creature) flags_extra for brewfest barker bunny's
  data/sql/updates/pending_db_world/rev_1601091401144068714.sql
Labels: DB, To Be Merged

#3614 fix(DB/Zone):improved Duskwood
  data/sql/updates/pending_db_world/rev_1603642724794965100.sql
Labels: DB, To Be Merged

#3546 fix(DB/Dungeon/Quest): The Codex of Blood
  data/sql/updates/pending_db_world/rev_1601868704763174600.sql
Labels: DB, To Be Merged

#3671 feat(MMAPS/mapbuilder): Restore commit - mmaps_generator now working with MapID >= 1000
  src/tools/mmaps_generator/MapBuilder.cpp
Labels: Priority - High, To Be Merged, mmap/vmap

#3576 fix(DB/Quest): A Portabale Power Source
  data/sql/updates/pending_db_world/rev_1602788389371995600.sql
Labels: DB, To Be Merged

#3615 fix(DB/Zone):improved Westfall
  data/sql/updates/pending_db_world/rev_1603642612256549200.sql
Labels: DB, To Be Merged

#3617 fix(DB/Zone):improved Blasted Lands
  data/sql/updates/pending_db_world/rev_1603643078632991300.sql
Labels: DB, To Be Merged

#3666 feat(DB/locales) Import deDE quest locales from TrinityCore
  data/sql/updates/pending_db_world/rev_1604852349907780500.sql
Labels: DB, Ready to be reviewed, To Be Merged, Translation

#3680 fix(CI/docker): AzerothCore in Docker now generates log files
  docker/authserver/etc/authserver.conf.dockerdist
  docker/worldserver/etc/worldserver.conf.dockerdist
Labels: Docker, To Be Merged

#3649 chore(Labeler): Workaround for CORE label
  .github/labeler.yml
Labels: To Be Merged

#3453 feat(Core/Config): improve config
  src/common/Configuration/Config.cpp
  src/common/Configuration/Config.h
Labels: CORE, To Be Merged

#3616 fix(DB/Zone):improved Elwynn Forest
  data/sql/updates/pending_db_world/rev_1603642509185868300.sql
Labels: DB, To Be Merged

#3618 fix(DB/Zone):improved Strangethorn Vale II
  data/sql/updates/pending_db_world/rev_1603643161575152300.sql
Labels: CORE, DB, To Be Merged

#3620 fix(DB/Zone):improved Searing Gorge
  data/sql/updates/pending_db_world/rev_1603643637764114800.sql
Labels: CORE, DB, To Be Merged

#3621 fix(DB/Zone):improved Badlands
  data/sql/updates/pending_db_world/rev_1603643713252357500.sql
Labels: DB, To Be Merged

#3622 fix(DB/Zone):improved Wetlands
  data/sql/updates/pending_db_world/rev_1603644044194630800.sql
Labels: DB, To Be Merged

#3623 fix(DB/Zone):improved Dun Morogh
  data/sql/updates/pending_db_world/rev_1603643976297010600.sql
Labels: DB, To Be Merged

#3624 fix(DB/Zone):improved Arathi Highlands
  data/sql/updates/pending_db_world/rev_1603644112790053600.sql
Labels: DB, To Be Merged

#3625 fix(DB/Zone):improved Alterac Mountains
  data/sql/updates/pending_db_world/rev_1603644190044708500.sql
Labels: DB, To Be Merged

#3626 fix(DB/Zone):improved Silverpine Forest
  data/sql/updates/pending_db_world/rev_1603644571603416100.sql
Labels: DB, To Be Merged

#3627 fix(DB/Zone):improved Hilsbrad Foothills
  data/sql/updates/pending_db_world/rev_1603644428741448900.sql
Labels: DB, To Be Merged

#3628 fix(DB/Zone):improved Hinterlands II
  data/sql/updates/pending_db_world/rev_1603644503167897700.sql
Labels: DB, To Be Merged

#3629 fix(DB/World):improved Classic Rares II
  data/sql/updates/pending_db_world/rev_1603644756382883100.sql
Labels: DB, To Be Merged

#3635 Core/Spells: castSpell and castcustomspell functions will return cast…
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
Labels: CORE, To Be Merged

#3643 fix(Core/Item): Meta gems sometimes ignore added sockets
  src/server/game/Entities/Item/Item.cpp
  src/server/game/Entities/Item/Item.h
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, To Be Merged

#3459 feat(Core/MapUpdate): switch from ACE_Method_Request to PCQ
  src/common/Threading/DelayExecutor.cpp
  src/common/Threading/DelayExecutor.h
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/MapManager.cpp
  src/server/game/Maps/MapUpdater.cpp
  src/server/game/Maps/MapUpdater.h
Labels: CORE, To Be Merged

#3050 fix(Core/Conditions): Implement CONDITION_DAILY_QUEST_DONE
  src/server/game/Conditions/ConditionMgr.cpp
  src/server/game/Conditions/ConditionMgr.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
Labels: CORE, To Be Merged

#3049 fix(Core/Condition): Implement CONDITION_QUESTSTATE
  src/server/game/Conditions/ConditionMgr.cpp
  src/server/game/Conditions/ConditionMgr.h
  src/server/game/Quests/QuestDef.h
Labels: CORE, To Be Merged

#3647 fix(Core/Command): `additem` doesn't work when name contains apostrophe
  src/server/scripts/Commands/cs_misc.cpp
Labels: CORE, Script, To Be Merged

#3661 fix(DB/creature): Frosthorn Ram Position
  data/sql/updates/pending_db_world/rev_1604832702418316700.sql
Labels: DB, To Be Merged

#3662 fix(DB/quest_poi_points): The Fallen Sisters Quest POI
  data/sql/updates/pending_db_world/rev_1604834556044808500.sql
Labels: DB, To Be Merged

#3663 fix(DB/quest_poi_points): Seeds of the Blacksouled Keepers Quest POI
  data/sql/updates/pending_db_world/rev_1604837035697523500.sql
Labels: DB, To Be Merged

#3667 fix(DB/creature): Rabid Brown Bear Position
  data/sql/updates/pending_db_world/rev_1604858406404888800.sql
Labels: DB, To Be Merged

#3681 fix(DB/Gameobject): Dalaran Forge Spell Focus range
  data/sql/updates/pending_db_world/rev_1605096696090340600.sql
Labels: DB, To Be Merged

#3686 fix(DB/Creature): Maker's Overlook
  data/sql/updates/pending_db_world/rev_1605209372908686400.sql
Labels: DB, To Be Merged

#3706 refactor(Core/Common): restyle with astyle
  src/common/Collision/BoundingIntervalHierarchyWrapper.h
  src/common/Collision/DynamicTree.cpp
  src/common/Collision/Management/IVMapManager.h
  src/common/Collision/Management/MMapManager.cpp
  src/common/Collision/Maps/MapTree.cpp
  src/common/Collision/Maps/TileAssembler.cpp
  src/common/Collision/RegularGrid.h
  src/common/Configuration/Config.h
  src/common/Cryptography/OpenSSLCrypto.cpp
  src/common/DataStores/DBCFileLoader.cpp
  src/common/Database/DatabaseWorkerPool.cpp
  src/common/Database/MySQLConnection.cpp
  src/common/Database/MySQLConnection.h
  src/common/Database/QueryHolder.cpp
  src/common/Debugging/WheatyExceptionReport.cpp
  src/common/Dynamic/LinkedList.h
  src/common/Dynamic/LinkedReference/RefManager.h
  src/common/Dynamic/LinkedReference/Reference.h
  src/common/Dynamic/ObjectRegistry.h
  src/common/Dynamic/TypeContainer.h
  src/common/Dynamic/TypeContainerFunctions.h
  src/common/Dynamic/TypeContainerFunctionsPtr.h
  src/common/Dynamic/TypeContainerVisitor.h
  src/common/Logging/Log.cpp
  src/common/Threading/LockedQueue.h
  src/common/Utilities/EventProcessor.cpp
  src/common/Utilities/Util.cpp
  src/common/Utilities/Util.h
Labels: CORE, To Be Merged

#3569 Feat(Core/Config): Adjustable BG Respawn Timers
  src/server/game/Battlefield/Battlefield.cpp
  src/server/game/Battlegrounds/Battleground.h
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/worldserver/worldserver.conf.dist
Labels: To Be Merged

#3689 Fix(DB/creature_loot_template): Emblem of Triumph
  data/sql/updates/pending_db_world/rev_1605306538260467100.sql
Labels: DB, To Be Merged

#3705 refactor(Tools): restyle tools with astyle
  src/tools/map_extractor/System.cpp
  src/tools/map_extractor/adt.cpp
  src/tools/map_extractor/dbcfile.cpp
  src/tools/map_extractor/loadlib.cpp
  src/tools/map_extractor/mpq_libmpq.cpp
  src/tools/map_extractor/mpq_libmpq04.h
  src/tools/mesh_extractor/DoodadHandler.cpp
  src/tools/mesh_extractor/DoodadHandler.h
  src/tools/mesh_extractor/Geometry.cpp
  src/tools/mesh_extractor/Geometry.h
  src/tools/mesh_extractor/LiquidHandler.h
  src/tools/mesh_extractor/MPQ.cpp
  src/tools/mesh_extractor/MPQ.h
  src/tools/mesh_extractor/MPQManager.cpp
  src/tools/mesh_extractor/MapChunk.h
  src/tools/mesh_extractor/MeshExtractor.cpp
  src/tools/mesh_extractor/Model.h
  src/tools/mesh_extractor/Utils.cpp
  src/tools/mesh_extractor/WorldModelGroup.h
  src/tools/mesh_extractor/WorldModelHandler.cpp
  src/tools/mesh_extractor/WorldModelHandler.h
  src/tools/mmaps_generator/TerrainBuilder.cpp
  src/tools/vmap4_extractor/adtfile.cpp
  src/tools/vmap4_extractor/gameobject_extract.cpp
  src/tools/vmap4_extractor/model.cpp
  src/tools/vmap4_extractor/mpq_libmpq.cpp
  src/tools/vmap4_extractor/mpq_libmpq04.h
  src/tools/vmap4_extractor/vmapexport.cpp
  src/tools/vmap4_extractor/wdtfile.cpp
  src/tools/vmap4_extractor/wmo.cpp
Labels: CORE, To Be Merged

#3692 feat(DB/locales): Import deDE quest locales
  data/sql/updates/pending_db_world/rev_1605348025750007600.sql
Labels: DB, To Be Merged, Translation

#3695 fix(Core/SpellMgr): Thorns should not miss
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, To Be Merged

#3701 fix(docker/scripts) add quotes to pwd in docker build scripts
  bin/acore-docker-build
  bin/acore-docker-build-no-scripts
Labels: Docker, Priority - High, To Be Merged

#3715 fix(Core/Player): Improve rested removal
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, To Be Merged

#3714 refactor(Apps/Defines): fix codefactor warning
  apps/bash_shared/defines.sh
  apps/compiler/includes/functions.sh
  apps/installer/includes/includes.sh
Labels: To Be Merged

#3721 feat(ci): Add apps directory to bash label
  .github/labeler.yml
Labels: To Be Merged

#3729 fix(DB/locales): Restore deleted quest locales
  data/sql/updates/pending_db_world/rev_1605908814314990400.sql
Labels: DB, To Be Merged, Translation

#3709 refactor(Core/SpellMgr): simplify dbc data corrections
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, To Be Merged

#3735 fix(CI): make labeler work with UnitTests
  .github/labeler.yml
Labels: To Be Merged

#3731 fix(Scripts): Ignis the Furnace Master - Iron construct buff stacks
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_ignis.cpp
Labels: CORE, Script, To Be Merged

#3138 refactor(DB/player_factionchange_titles): Add comment section
  data/sql/updates/pending_db_world/rev_1592648244203077800.sql
Labels: DB, To Be Merged

#3730 fix(DB/scripts): Freya - Sun beam
  data/sql/updates/pending_db_world/rev_1605911267657207700.sql
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_freya.cpp
Labels: CORE, DB, Script, To Be Merged

#3746 fix(DB): failure due to missing semicolumn
  data/sql/updates/db_world/2020_11_22_01.sql
Labels: DB, Priority - Critical

#3454 feat(Core/Misc): remove ACE Auto_Ptr
  src/common/AutoPtr.h
  src/common/Database/DatabaseWorkerPool.cpp
  src/common/Database/QueryResult.h
  src/common/Database/Transaction.h
  src/server/game/Entities/Item/Item.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Weather/WeatherMgr.cpp
Labels: CORE, To Be Merged

#3745 refactor(Core): remove ACE types
  src/common/Common.h
  src/server/game/Server/WorldSocketMgr.h
  src/server/shared/Network/RealmSocket.h
Labels: CORE

#3691 fix(DB/Quest): Frenzyheart Champion & Hand of the Oracles
  data/sql/updates/pending_db_world/rev_1605340113678491500.sql
Labels: DB, To Be Merged

#3694 fix(DB/spell_proc_event): The Black Heart
  data/sql/updates/pending_db_world/rev_1605359195128742200.sql
Labels: DB, To Be Merged

#3753 feat(Deps/Boost): add support boost
  apps/installer/includes/os_configs/ubuntu.sh
  deps/CMakeLists.txt
  deps/PackageList.txt
  deps/boost/CMakeLists.txt
  src/common/CMakeLists.txt
Labels: Bash, CORE

#3758 feat(Core/Util): implement start async process
  src/common/Utilities/StartProcess.cpp
  src/common/Utilities/StartProcess.h
Labels: CORE

#3754 fix(Bash/CI): add Boost to fix the build and install scripts
  apps/ci/mac/ci-install.sh
  apps/installer/includes/os_configs/debian.sh
  apps/installer/includes/os_configs/osx.sh
  apps/installer/includes/os_configs/ubuntu.sh
  apps/installer/includes/os_configs/windows.sh
  docker/authserver/Dockerfile
  docker/build/Dockerfile
  docker/worldserver/Dockerfile
Labels: Bash, WIP

#3703 feat(CORE/Config): Added Pet experience rate to config
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged

#3710 fix(DB/conditions): Fix Quest Kibler's Exotic Pets
  data/sql/updates/pending_db_world/rev_1605488437069394200.sql
Labels: DB, To Be Merged

#3736 fix(DB/creature): Ulduar 25 extra trash packs
  data/sql/updates/pending_db_world/rev_1605979091794346800.sql
Labels: DB, To Be Merged

#3762 Revert "fix(Core/Player): Improve rested removal"
  src/server/game/Entities/Player/Player.cpp
Labels: CORE

#3749 feat(CI): add check for semicolon at end of pending sql update file
  .github/workflows/check_pending_sql.yml
Labels: To Be Merged, Workflow

#3755 fix(DB/creature): delete duplicate Big Roy
  data/sql/updates/pending_db_world/rev_1606162431492361200.sql
Labels: DB, To Be Merged

#3763 fix(DB/creature): Starting zones
  data/sql/updates/pending_db_world/rev_1606305620937620900.sql
Labels: DB, To Be Merged

#3767 fix(ci): update semicolon check
  .github/workflows/check_pending_sql.yml
Labels: Workflow

#3764 fix(scripts/Commands): Avoid get gm phase when summoning
  src/server/scripts/Commands/cs_misc.cpp
Labels: CORE, Script, To Be Merged

#3765 fix(scripts/Ulduar): Assembly of Iron - interrupt immune effect
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_assembly_of_iron.cpp
Labels: CORE, Script, To Be Merged

#3722 fix(Scripts/DB): Mimiron Computer NPC text
  data/sql/updates/pending_db_world/rev_1605661689213920900.sql
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_mimiron.cpp
Labels: CORE, DB, Script, To Be Merged

#3632 fix(Scripts/VOA): Some code-style improvements and perhaps some bandwidth consumption issue
  src/server/scripts/Northrend/VaultOfArchavon/boss_archavon.cpp
Labels: Script, To Be Merged

#3690 fix(Scripts/ICC): Intro Event Timers and Text
  data/sql/updates/pending_db_world/rev_1605203808017925200.sql
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
Labels: CORE, DB, Script, To Be Merged

#3717 fix(DB/gossip): remove cataclysm gossip/gossip flag from Anduin Wrynn
  data/sql/updates/pending_db_world/rev_1605586971095091500.sql
Labels: DB, To Be Merged

#3634 fix(Scripts/ObsidianSanctum): Code revamp [1/2]
  data/sql/updates/pending_db_world/rev_1604614793984918900.sql
  src/server/scripts/Northrend/ChamberOfAspects/ObsidianSanctum/boss_sartharion.cpp
  src/server/scripts/Northrend/ChamberOfAspects/ObsidianSanctum/instance_obsidian_sanctum.cpp
  src/server/scripts/Northrend/ChamberOfAspects/ObsidianSanctum/obsidian_sanctum.h
Labels: CORE, DB, Ready to be reviewed, Script

#3799 fix(ci): update semicolon check
  .github/workflows/check_pending_sql.yml
Labels: Workflow

#3748 fix(DB/Quest): Import "In Service of the Lich King" audio correct
  data/sql/updates/pending_db_world/rev_1606102990713316100.sql
Labels: DB, To Be Merged

#3809 chore(CMake/Tests): use conventional CMake flag to enable tests
  CMakeLists.txt
  apps/ci/ci-install.sh
  apps/ci/mac/ci-compile.sh
  apps/compiler/includes/functions.sh
  conf/dist/config.cmake
  conf/dist/config.sh
  src/cmake/showoptions.cmake
Labels: Bash, CORE

#3734 test(Formulas.h): GetGrayLevel, GetColorCode, GetZeroDifference
  src/test/server/game/Miscellaneous/FormulasTest.cpp
Labels: To Be Merged, UnitTests

#3508 feat(Core/Script): Hooks for custom arena teams/types
  src/server/game/Battlegrounds/ArenaTeam.cpp
  src/server/game/Battlegrounds/ArenaTeamMgr.cpp
  src/server/game/Battlegrounds/ArenaTeamMgr.h
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgr.h
  src/server/game/World/World.h
Labels: CORE, To Be Merged

#3732 feat(DB/locales): Import deDE locales (Part 01)
  data/sql/updates/pending_db_world/rev_1605959888351409700.sql
Labels: DB, To Be Merged, Translation

#3813 feat(CMake): show version when running cmake
  CMakeLists.txt
Labels: To Be Merged

#3738 feat(DB/locales): Import deDE locales (Part 02)
  data/sql/updates/pending_db_world/rev_1605991080629978700.sql
Labels: DB, To Be Merged, Translation

#3742 feat(DB/locales): Import deDE locales (Part 03)
  data/sql/updates/pending_db_world/rev_1606037218841997800.sql
Labels: DB, To Be Merged, Translation

#3750 fix(DB/Creature): removed skull visual modification
  data/sql/updates/pending_db_world/rev_1606146563846030900.sql
Labels: DB, Needs feedback, To Be Merged
