Repository azerothcore/azerothcore-wotlk, pull requests merged in 2020-05, with the labels that each got.

#2934 feat(Core/Command): .account onlinelist orders accounts by IP
  src/common/Database/Implementation/LoginDatabase.cpp
Labels: CORE, DB, GM commands, Priority - Trivial, To Be Merged

#2780 LANG_COMMAND_MUTEMESSAGE_WORLD
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/scripts/Commands/cs_misc.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: To Be Merged

#2787 feat(DB/lang): Import German quest_request_items Texts from GTDB (Part 4/4)
  data/sql/updates/pending_db_world/rev_1584881384903815300.sql
Labels: To Be Merged

#2788 fix(DB/Quest): Brothers in Death event
  data/sql/updates/pending_db_world/rev_1584891620193026600.sql
Labels: To Be Merged

#2770 fix(DB/Quest) Some Deprecated quests
  data/sql/updates/pending_db_world/rev_1584388487036984300.sql
Labels: To Be Merged

#2790 feat(Core/conf): Move arena charters cost to config
  src/server/game/Handlers/PetitionsHandler.cpp
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/worldserver/worldserver.conf.dist
Labels: To Be Merged

#2814 fix(DB/Creature): Naxxramas Cultist
  data/sql/updates/pending_db_world/rev_1585441940559204300.sql
Labels: To Be Merged

#2795 fix(DB/lang): Totem Item Description
  data/sql/updates/pending_db_world/rev_1584982393046787000.sql
Labels: To Be Merged

#2805 fix(DB/lang): TBC Heroic Dungeon Keys German Description
  data/sql/updates/pending_db_world/rev_1585171529989474800.sql
Labels: To Be Merged

#2798 feat(conf): move random BG rewards to config
  src/server/game/Battlegrounds/Battleground.cpp
  src/server/game/Battlegrounds/Battleground.h
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/worldserver/worldserver.conf.dist
Labels: To Be Merged

#2807 fix(Core/Accounts): GM Rank 1 hostile to players
  src/server/game/Accounts/AccountMgr.cpp
Labels: To Be Merged

#2812 fix(DB/creature): Bloodmaul Skirmisher Spawn Position
  data/sql/updates/pending_db_world/rev_1585394899832297800.sql
Labels: To Be Merged

#2824 fix(DB/Creature_text): ToC Lich King
  data/sql/updates/pending_db_world/rev_1585523678966764200.sql
Labels: To Be Merged

#2835 fix(DB/Creature): Dreadsaber & Shardhorn Rhino positioning
  data/sql/updates/pending_db_world/rev_1585996374442685300.sql
Labels: To Be Merged

#2836 fix(DB/Creature): Julianne speach
  data/sql/updates/pending_db_world/rev_1585996243671367200.sql
Labels: To Be Merged

#2841 chore(DB): fix syntax in sql update
  data/sql/updates/db_world/2020_04_02_00.sql
Labels: To Be Merged

#2845 fix(DB): Image of Commander Ameer Quests Start/End
  data/sql/updates/pending_db_world/rev_1586023897838741800.sql
Labels: To Be Merged

#2852 style(Core/Achievement): Improve error msg for achievement_reward
  src/server/game/Achievements/AchievementMgr.cpp
Labels: CORE, Priority - Trivial, To Be Merged

#2859 fix(Core/Conditions): Add CONDITION_SOURCE_TYPE_QUEST_AVAILABLE
  data/sql/updates/pending_db_world/rev_1586422702320149000.sql
  src/server/game/Conditions/ConditionMgr.cpp
  src/server/game/Conditions/ConditionMgr.h
  src/server/game/Entities/Player/Player.cpp
  src/server/scripts/Northrend/zone_wintergrasp.cpp
Labels: To Be Merged

#3029 fix quotes on 74e0f00
  data/sql/updates/db_world/2020_05_13_00.sql
Labels: Ready to be reviewed

#2861 fix(DB/Quest): More deprecated quests
  data/sql/updates/pending_db_world/rev_1586466641269881700.sql
Labels: To Be Merged

#2862 fix(Core/Command): cheat explore
  data/sql/updates/pending_db_world/rev_1586480454432011500.sql
  src/server/scripts/Commands/cs_cheat.cpp
  src/server/scripts/Commands/cs_misc.cpp
Labels: CORE, DB, To Be Merged

#2871 fix(Core/Script): Grand Magus Telestra talk
  src/server/scripts/Northrend/Nexus/Nexus/boss_magus_telestra.cpp
Labels: Instance - Dungeon - Northrend, To Be Merged

#2870 feat(DB/Account): Delete account_muted when deleting an account
  src/common/Database/Implementation/LoginDatabase.cpp
  src/common/Database/Implementation/LoginDatabase.h
  src/server/game/Accounts/AccountMgr.cpp
Labels: To Be Merged

#2873 fix(DB/Quest): Secrets of the Flamebinders quest chain
  data/sql/updates/pending_db_world/rev_1586601593003530500.sql
Labels: To Be Merged

#3038 fix(bash): joiner tool has been moved
  apps/installer/includes/includes.sh
Labels: To Be Merged

#3027 refactor(Core/Query): escape some MySQL 8.0 keywords
  src/common/Database/Implementation/CharacterDatabase.cpp
  src/common/Database/Implementation/WorldDatabase.cpp
  src/server/game/Battlegrounds/ArenaTeamMgr.cpp
  src/server/game/Calendar/CalendarMgr.cpp
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Groups/GroupMgr.cpp
  src/server/game/Guilds/GuildMgr.cpp
  src/server/game/Spells/SpellMgr.cpp
Labels: Priority - High, To Be Merged

#2886 fix(DB/Gameobject): Dalaran Forges
  data/sql/updates/pending_db_world/rev_1586784089061059200.sql
Labels: To Be Merged

#2894 Fix(DB/Locale): Locale fix for quest 919
  data/sql/updates/pending_db_world/rev_1586994404926935400.sql
Labels: To Be Merged

#2898 fix(Core/Command): additem checks
  data/sql/updates/pending_db_world/rev_1587062218041221300.sql
  src/server/game/Miscellaneous/Language.h
  src/server/scripts/Commands/cs_misc.cpp
Labels: To Be Merged

#2903 fix(DB/Quest): Skybreaker Questchain
  data/sql/updates/pending_db_world/rev_1587078801729376000.sql
Labels: To Be Merged

#2908 fix(DB/Gameobject): Reagent Pouch
  data/sql/updates/pending_db_world/rev_1587299483794804200.sql
Labels: To Be Merged

#2938 fix(DB/Quest): Repurposed Technology
  data/ sql/ updates/ pending_db_world/rev_1587689314000956500.sql
Labels: To Be Merged

#2929 refactor(DB/acore_string): Rename locale columns
  data/sql/updates/pending_db_world/rev_1587630388241612100.sql
  src/server/game/Globals/ObjectMgr.cpp
Labels: To Be Merged

#2935 fix(DB/Quest): The Deathstalkers
  data/sql/updates/pending_db_world/rev_1587676154153218400.sql
Labels: To Be Merged

#3052 fix(Core/Query): MySQL 8.0 Keyword
  src/server/game/Groups/GroupMgr.cpp
Labels: Priority - High, To Be Merged

#3054 fix(DB/ImportSQL): Missed import SQL f2892764cd
  data/sql/updates/pending_db_world/rev_1590099720339762700.sql
Labels: Priority - High, To Be Merged

#2924 feat(Core/Battleground): Config to allow/disallow ability to Share Quest & Ready Check
  data/sql/updates/pending_db_world/rev_1587562111390803800.sql
  src/server/game/Handlers/GroupHandler.cpp
  src/server/game/Handlers/QuestHandler.cpp
  src/server/game/Miscellaneous/Language.h
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/worldserver/worldserver.conf.dist
Labels: To Be Merged

#2944 fix(DB/Quest): Take No Chances
  data/sql/updates/pending_db_world/rev_1587846457474224200.sql
Labels: To Be Merged

#2945 fix(Core/Pet): Risen Ghoul random name & pet detail
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Handlers/PetHandler.cpp
Labels: To Be Merged

#2947 fix(Docker): Persistent volumes for ac-database
  .gitignore
  docker-compose.yml
Labels: Docker, To Be Merged

#3003 feat(Core/Soap): Allow external usage
  .env.dist
  docker-compose.yml
Labels: Docker, To Be Merged

#2969 [Dungeon] Ragefire Chasm
  data/sql/updates/pending_db_world/rev_1588335399793049400.sql
Labels: To Be Merged

#3061 mysqladmin use the right credentials
  docker/database/Dockerfile
Labels: Docker, Priority - High, To Be Merged

#3060 fix(Core/Mysql): my_bool type conflict
  src/common/Database/QueryResult.h
Labels: Priority - High, To Be Merged

#3063 fix(Core/ChatHandler): Prevent messages > 255 characters
  src/server/game/Handlers/ChatHandler.cpp
Labels: Priority - Critical, To Be Merged

#2888 fix(Core/Script): Trial of the Crusader
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/instance_trial_of_the_crusader.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/trial_of_the_crusader.h
Labels: To Be Merged

#2956 refactor(Core/Command): tele to teleport
  data/sql/updates/pending_db_world/rev_1588099547971545300.sql
  src/server/scripts/Commands/cs_lookup.cpp
  src/server/scripts/Commands/cs_tele.cpp
Labels: To Be Merged

#2970 fix(DB/Creature): Deadmines
  data/sql/updates/pending_db_world/rev_1588335862820761100.sql
Labels: To Be Merged

#3084 fix(Core): solve issue with MariaDB
  src/common/Database/QueryResult.h
Labels: Priority - Critical, To Be Merged

#3068 fix(Core/Query): Update GroupMgr query to support MySQL 8.0
  src/server/game/Groups/GroupMgr.cpp
Labels: Priority - High, To Be Merged

#2971 [Dungeon] Wailing Caverns
  data/sql/updates/pending_db_world/rev_1588336118180516700.sql
Labels: To Be Merged

#3087 fix(CMake/FindMySQL): MySQL 8.0 in Windows
  src/cmake/macros/FindMySQL.cmake
Labels: Priority - High, To Be Merged
