Repository azerothcore/azerothcore-wotlk, pull requests merged in 2020-04, with the labels that each got.

#2793 fix(Core/Hook): OnFirstLogin can now make persistent changes.
  src/server/game/Handlers/CharacterHandler.cpp
Labels: To Be Merged

#2722 style(DB): battleground_template entries now commented by type (arena…
  data/sql/updates/pending_db_world/rev_1582810463583691504.sql
Labels: DB, Priority - Trivial, To Be Merged

#2716 fix(Core): "Silenced - You can only chat with GMs" spell.
  src/server/game/Handlers/ChatHandler.cpp
Labels: To Be Merged

#2837 fix(DB/creature): Add waypoint for Morin Cloudstalker
  apps/db_assembler/includes/functions.sh
  data/sql/updates/pending_db_world/rev_1585927566208706590.sql
Labels: Bash, DB, Priority - Critical, To Be Merged

#2762 fix(DB/Gossip): Corrupted Cat gossip
  data/sql/updates/pending_db_world/rev_1584233284203119000.sql
Labels: To Be Merged

#2725 feat(DB/lang): Import German quest_request_items Texts from GTDB (Part 3/4)
  data/sql/updates/pending_db_world/rev_1582975268828510900.sql
Labels: To Be Merged

#2726 fix(DBSAI) Quest Fel Spirits
  data/sql/updates/pending_db_world/rev_1583011949867573100.sql
Labels: To Be Merged

#2727 fix(DB/lang): Fix Quest Minor Text Errors
  data/sql/updates/pending_db_world/rev_1583079134916792500.sql
Labels: To Be Merged

#2811 fix: achievement_reward_locale bug
  src/server/game/Achievements/AchievementMgr.cpp
Labels: To Be Merged

#2858 fix(Core/Creature): Use proper name for wander distance
  data/sql/updates/pending_db_world/rev_1586420115016794500.sql
  src/common/Database/Implementation/WorldDatabase.cpp
  src/common/Database/Implementation/WorldDatabase.h
  src/server/game/Battlegrounds/Zones/BattlegroundAV.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Miscellaneous/Language.h
  src/server/game/Movement/MotionMaster.cpp
  src/server/game/Movement/MotionMaster.h
  src/server/game/Movement/MovementGenerators/RandomMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/RandomMovementGenerator.h
  src/server/scripts/Commands/cs_npc.cpp
Labels: Priority - High, To Be Merged

#2736 fix(DB/lang): The Green Hills of Stranglethorn German Quest Texts
  data/sql/updates/pending_db_world/rev_1583347738773107900.sql
Labels: To Be Merged

#2746 fix(DB/Quest): Teron Gorefiend chaining
  data/sql/updates/pending_db_world/rev_1583860566062662900.sql
Labels: To Be Merged

#2802 fix(Core/Mail): Mailhandler cleanup
  src/common/Common.h
  src/server/game/Handlers/MailHandler.cpp
Labels: Priority - High, To Be Merged

#2880 feat(Core/AI): CU_SAI - Custom Action Options + Polar Coords System Offset Relocating
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
Labels: To Be Merged

#2881 feat(Core/AI): CU_SAI - Custom Event Options
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: To Be Merged

#2878 feat(Core/AI): CU_SAI - Option to set creature in combat with zone outside of a dungeon
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: To Be Merged

#2751 fix:(DB/Item) Mechanical Greench / Wand of Holiday Cheer
  data/sql/updates/pending_db_world/rev_1584051384781814400.sql
Labels: To Be Merged

#2752 Fix:(DB/Quest) Shadow's Edge quest_offer_reward
  data/sql/updates/pending_db_world/rev_1584052298613344800.sql
Labels: To Be Merged

#2771 fix(DB/Quest): Old Whitebark's Pendant
  data/sql/updates/pending_db_world/rev_1584389363968563900.sql
Labels: To Be Merged

#2879 feat(Core/AI): CU_SAI - Custom Target Options
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
  src/server/game/DataStores/DBCStores.cpp
  src/server/game/DataStores/DBCStores.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
Labels: To Be Merged

#2887 feat(CI): migrate from Travis to GitHub Actions
  .github/workflows/core_build.yml
  .github/workflows/import_pending_sql.yml
  .travis.yml
  README.md
  apps/ci/ci-before_install.sh
  apps/ci/ci-compile.sh
  apps/ci/ci-error-check.sh
  apps/ci/ci-import-db.sh
  apps/ci/ci-install.sh
  apps/ci/ci-worldserver-dry-run.sh
  apps/db_assembler/includes/functions.sh
  apps/installer/includes/os_configs/debian.sh
  apps/installer/includes/os_configs/ubuntu.sh
Labels: To Be Merged

#792 Heart-Shaped Box
  data/sql/updates/pending_db_world/rev_1518477962308987200.sql
Labels: Priority - Low, Waiting to be tested

#2910 fix(core/packet): prevent client crash from malformed packet/message
  src/server/game/Handlers/ChatHandler.cpp
Labels: Priority - Critical, Ready to be reviewed, Waiting to be tested

#2772 fix(DB/Creature): Ragefire Shaman
  data/sql/updates/pending_db_world/rev_1584389666044943800.sql
Labels: To Be Merged

#2779 LANG_COMMAND_KICKMESSAGE_WORLD
  src/server/scripts/Commands/cs_misc.cpp
Labels: To Be Merged

#2757 fix(DB/Spell): Clam drops
  data/sql/updates/pending_db_world/rev_1584114505260057800.sql
Labels: To Be Merged

#2819 fix(Core/Raid): Eyes in Naxxramas
  src/server/scripts/Northrend/Naxxramas/instance_naxxramas.cpp
  src/server/scripts/Northrend/Naxxramas/naxxramas.h
Labels: To Be Merged

#2928 chore(CI): update import_pending_sql.yml
  .github/workflows/import_pending_sql.yml
Labels: To Be Merged

#2759 fix(DB/NPC): Eridan Bluewind
  data/sql/updates/pending_db_world/rev_1584155968143283600.sql
Labels: To Be Merged

#2890 fix(Core/DB/Events): Game Event Start Date & Events on Calendar
  data/sql/updates/pending_db_world/rev_1586845118268975400.sql
  src/server/game/Events/GameEventMgr.cpp
Labels: To Be Merged

#2853 fix(DB/Quest): Patching Up
  data/sql/updates/pending_db_world/rev_1586136135568974600.sql
Labels: To Be Merged

#2914 fix(DB/Dungeon): The Nexus
  data/sql/updates/pending_db_world/rev_1587384652743501400.sql
  src/server/scripts/Northrend/Nexus/Nexus/instance_nexus.cpp
Labels: To Be Merged

#2765 fix(DB/SAI): Add Grizzly hills "log ride" transport
  data/sql/updates/pending_db_world/rev_1584403279317487100.sql
Labels: To Be Merged

#2768 fix(DB/Item): Tome of Tranquilizing Shot
  data/sql/updates/pending_db_world/rev_1584387270154812400.sql
Labels: To Be Merged

#2763 feat(Core/Config): Configurable buy/sell rates
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/worldserver/worldserver.conf.dist
Labels: To Be Merged

#2769 fix(DB/Item): Chest of Spoils
  data/sql/updates/pending_db_world/rev_1584388048550524100.sql
Labels: To Be Merged

#2915 fix(DB/Quest): Shoot 'Em Down
  data/sql/updates/pending_db_world/rev_1587491025762555300.sql
Labels: To Be Merged

#2860 fix(DB/Creature): Stinky aura
  data/sql/updates/pending_db_world/rev_1586465404537052600.sql
Labels: To Be Merged

#2783 fix(DB/reputation): Kurenai and Mag'har Reputation Rates
  data/sql/updates/pending_db_world/rev_1584790013870207000.sql
Labels: To Be Merged
