Repository azerothcore/azerothcore-wotlk, pull requests merged in 2021-04, with the labels that each got.

#5019 fix(BASH/INSTALLER): add missing deps for debian 10
  apps/installer/includes/os_configs/debian.sh
Labels: Bash, To Be Merged

#4957 fix(Core/Config): Removed unsued config.
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
Labels: CORE, To Be Merged

#4985 Fix herb spawn and position at two maps
  data/sql/updates/pending_db_world/rev_1616536931445376664.sql
Labels: 1-19, DB, To Be Merged

#4998 fix(DB/Quest): Ending Their World
  data/sql/updates/pending_db_world/rev_1616686614747472700.sql
Labels: DB, To Be Merged

#5009 fix(DB/quest_template): A New Plague is not just for undeads
  data/sql/updates/pending_db_world/rev_1616755366269256667.sql
Labels: 1-19, ChromieCraft Generic, DB, To Be Merged

#5010 fix(DB/quest_template): Travel to Darkshire
  data/sql/updates/pending_db_world/rev_1616756103204132721.sql
Labels: 1-19, 20-29, ChromieCraft Generic, DB, To Be Merged

#5023 fix(DB) Wrong position or multiple placements of herbs
  data/sql/updates/pending_db_world/rev_1616620260846086881.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#5032 fix(DB): Wrong Dialog for 1st Aid trainers
  data/sql/updates/pending_db_world/rev_1616884299081820400.sql
Labels: 1-19, DB, To Be Merged

#5049 fix(DB): #5036 NPC's don't attack the player if he is in water
  data/sql/updates/pending_db_world/rev_1617016392531315494.sql
Labels: 1-19, DB, To Be Merged

#5051 fix(DB): #5050 Deviate Hides not available for Alliance
  data/sql/updates/pending_db_world/rev_1617018620934408746.sql
Labels: 1-19, DB, To Be Merged

#5062 fix(DB/CreaturesSAI): Quest Matis the Cruel
  data/sql/updates/pending_db_world/rev_1617105845198069500.sql
Labels: 1-19, DB, To Be Merged

#5067 fix(DB/Creatures/GameObjectSAI): Quest Helcular's Revenge
  data/sql/updates/pending_db_world/rev_1617153703041946200.sql
Labels: 20-29, DB, To Be Merged

#5069 fix(DB/CreaturesSAI): Silithid Invader and Silithid Hive Drone
  data/sql/updates/pending_db_world/rev_1617166961257812400.sql
Labels: DB, To Be Merged

#5071 fix(DB/pool_template): Fix Black Lotus in Burning Steppes
  data/sql/updates/pending_db_world/rev_1617172919168716426.sql
Labels: 60, ChromieCraft Generic, DB, To Be Merged

#5072 fix(DB/CreaturesSAI): Quest Unexpected Results
  data/sql/updates/pending_db_world/rev_1617176680426521000.sql
Labels: DB, To Be Merged

#5073 fix(DB/creature_template): Disciple of Naralax walking speed
  data/sql/updates/pending_db_world/rev_1617177621821036427.sql
Labels: 1-19, ChromieCraft Generic, DB, To Be Merged

#5078 fix(DB/gameobject): Remove duplicate mineral nodes
  data/sql/updates/pending_db_world/rev_1617189129916741181.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#5079 fix(DB/gameobject): Remove duplicate herbs
  data/sql/updates/pending_db_world/rev_1617197429170396176.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#5080 fix(DB): The Ancient Statuette questline missing smart scripts and waypoints
  data/sql/updates/pending_db_world/rev_1617197895526268300.sql
Labels: DB, To Be Merged

#5087 fix(DB/Spells): spell "57874 Twilight Shift" should be negative + target only players
  data/sql/updates/pending_db_world/rev_1617254287410662400.sql
Labels: DB, To Be Merged

#5089 fix(DB/SAI): NPC Nancy Vishas
  data/sql/updates/pending_db_world/rev_1617265345631987700.sql
Labels: 30-39, DB, To Be Merged

#4767 fix(DB/creature_template): Set RangeAttackTime to default value
  data/sql/updates/pending_db_world/rev_1615275106559909076.sql
Labels: DB, To Be Merged

#5059 fix(DB/Creature): Removed UNIT_FLAG_SWIMMING from mobs in The Master'…
  data/sql/updates/pending_db_world/rev_1617095490377345100.sql
Labels: DB, To Be Merged

#5060 fix(DB/Gameobject): Adjusted autoclose time to properly handle Archma…
  data/sql/updates/pending_db_world/rev_1617096208078439700.sql
Labels: DB, To Be Merged

#5082 feat(Cmake/PCH): use target_precompile_headers instead of cotire
  CMakeLists.txt
  deps/PackageList.txt
  deps/cotire/CMake/cotire.cmake
  deps/cotire/HISTORY.md
  deps/cotire/MANUAL.md
  deps/cotire/README.md
  deps/cotire/license
  src/cmake/macros/FindPCHSupport.cmake
Labels: CORE, To Be Merged

#4921 fix(DB/Zone):improved Hellfire Peninsula
  data/sql/updates/pending_db_world/rev_1616252213942835800.sql
Labels: DB, To Be Merged

#5057 fix(scripts/Naxx): The art of Naxxramas (2/2)
  data/sql/updates/pending_db_world/rev_1617043134287362500.sql
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/Northrend/Naxxramas/boss_anubrekhan.cpp
  src/server/scripts/Northrend/Naxxramas/boss_faerlina.cpp
  src/server/scripts/Northrend/Naxxramas/boss_four_horsemen.cpp
  src/server/scripts/Northrend/Naxxramas/boss_gothik.cpp
  src/server/scripts/Northrend/Naxxramas/boss_loatheb.cpp
  src/server/scripts/Northrend/Naxxramas/boss_noth.cpp
  src/server/scripts/Northrend/Naxxramas/boss_razuvious.cpp
  src/server/scripts/Northrend/Naxxramas/boss_thaddius.cpp
  src/server/scripts/Northrend/Naxxramas/instance_naxxramas.cpp
  src/server/scripts/Northrend/Naxxramas/naxxramas.h
Labels: CORE, DB, Instance - Raid - Northrend, Script, To Be Merged

#3510 feat(Core/SmartScripts) Implement SMART_TARGET_VEHICLE_PASSENGER
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: CORE, To Be Merged

#5121 fix(DB/Spell): Hunter bug with melee weapons
  data/sql/updates/pending_db_world/rev_1617473386855005400.sql
Labels: Class - Hunter, DB, Needs feedback

#5123 fix(DB/creature): Add Missing Marauding Geist in Naxxramas
  data/sql/updates/pending_db_world/rev_1617475543354106800.sql
Labels: DB, To Be Merged

#5114 fix(Core/Movement): Corrected calculating ground level in shallow water.
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Spells/Spell.cpp
Labels: CORE, To Be Merged

#4884 fix(DB/gameobject): Align respawn time of fish schools / wreckage
  data/sql/updates/pending_db_world/rev_1615980645222325242.sql
Labels: ChromieCraft Generic, DB, Needs feedback, To Be Merged

#5100 fix(DB) Spawn placement of mineral veins - Redridge Mountains
  data/sql/updates/pending_db_world/rev_1617306326870988315.sql
Labels: 1-19, DB, To Be Merged

#5110 fix(DB/Quest): make quest "a new plague" for Horde
  data/sql/updates/pending_db_world/rev_1617403339704819681.sql
Labels: 1-19, DB, To Be Merged

#5130 fix(Core/Log): GMLogFile -> GmLogFile
  src/common/Logging/Log.cpp
Labels: CORE, Priority - High, To Be Merged

#5133 fix(DB/loot): Adjust loot chance of Captain's Key
  data/sql/updates/pending_db_world/rev_1617560127573531400.sql
Labels: 40-49, DB, To Be Merged

#5132 fix(DB/gameobject): Adjust position for Cooper Vein 18679
  data/sql/updates/pending_db_world/rev_1617559127512335600.sql
Labels: 20-29, DB, To Be Merged

#4922 feat(Tools/Vmapextractor): Improved vmap detail level by extracting w…
  src/common/Collision/Maps/TileAssembler.cpp
  src/common/Collision/Maps/TileAssembler.h
  src/common/Collision/Models/GameObjectModel.cpp
  src/common/Collision/VMapDefinitions.h
  src/server/game/Miscellaneous/SharedDefines.h
  src/tools/map_extractor/System.cpp
  src/tools/mmaps_generator/MapBuilder.cpp
  src/tools/vmap4_extractor/CMakeLists.txt
  src/tools/vmap4_extractor/adtfile.cpp
  src/tools/vmap4_extractor/adtfile.h
  src/tools/vmap4_extractor/gameobject_extract.cpp
  src/tools/vmap4_extractor/model.cpp
  src/tools/vmap4_extractor/model.h
  src/tools/vmap4_extractor/vec3d.h
  src/tools/vmap4_extractor/vmapexport.cpp
  src/tools/vmap4_extractor/vmapexport.h
  src/tools/vmap4_extractor/wdtfile.cpp
  src/tools/vmap4_extractor/wdtfile.h
  src/tools/vmap4_extractor/wmo.cpp
  src/tools/vmap4_extractor/wmo.h
Labels: CORE, Priority - Medium, To Be Merged

#5033 fix(Core): Ghost property fix
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, ChromieCraft Generic, To Be Merged

#5034 fix(Core): Remove RDF cooldown after completion
  src/server/game/DungeonFinding/LFGMgr.cpp
Labels: 20-29, CORE, To Be Merged

#5117 fix(DB/Spell): Flurry Shaman Talent
  data/sql/updates/pending_db_world/rev_1617470462210955900.sql
Labels: DB, To Be Merged

#5119 fix(DB/Spell): explosive sheep duration time
  data/sql/updates/pending_db_world/rev_1617473297719348568.sql
Labels: 20-29, DB, To Be Merged

#4897 feat(Core/Creatures): Extended mob leash mechanic to assisting in com…
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
Labels: CORE, To Be Merged

#5139 fix(DB/creature_loot_template): Adjust Okra drop rate
  data/sql/updates/pending_db_world/rev_1617596593417183200.sql
Labels: 1-19, DB, To Be Merged

#5160 fix(DB/locale): Import esES/esMX translations
  data/sql/updates/pending_db_world/rev_1617676191107839800.sql
  data/sql/updates/pending_db_world/rev_1617676322351034500.sql
  data/sql/updates/pending_db_world/rev_1617676326188062600.sql
  data/sql/updates/pending_db_world/rev_1617676328363227000.sql
Labels: DB, To Be Merged, Translation

#4954 fix(Core): Boss encounter disengage improvement
  src/server/game/AI/ScriptedAI/ScriptedCreature.h
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_hodir.cpp
Labels: CORE, Script, To Be Merged

#4990 fix(Core/Spell): Make use of SPELL_ATTR4_DONT_REMOVE_IN_ARENA
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
Labels: CORE, To Be Merged

#4995 fix(Core/FriendStatus): Alerted when friends log in/out
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Server/WorldSession.cpp
Labels: CORE, To Be Merged

#5038 fix(Core/PetAI): Fixed logic in PetAI to determine if pet can cast co…
  src/server/game/AI/CoreAI/PetAI.cpp
Labels: CORE, To Be Merged

#5058 chore(Core/Common): generalize platform specific includes in common/Platform
  src/common/CMakeLists.txt
  src/common/Platform/ServiceWin32.cpp
  src/common/Platform/ServiceWin32.h
  src/server/CMakeLists.txt
  src/server/worldserver/CMakeLists.txt
Labels: CORE, To Be Merged

#5061 fix(Core/Movement): Removed wrong code that blocked updating movement…
  src/server/game/Movement/MotionMaster.cpp
Labels: CORE, To Be Merged

#5075 fix(Core/Spells): Ensures that procs triggered by another aura are pr…
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, To Be Merged

#5158 fix(DB/creature_template): Remove cataclysm gossip on Argos Nightwhisper
  data/sql/updates/pending_db_world/rev_1617672426976371900.sql
Labels: 1-19, DB, To Be Merged

#5159 fix(DB/gameobject): Adjust position for Copper Vein 5242
  data/sql/updates/pending_db_world/rev_1617674243069210400.sql
Labels: 1-19, DB, To Be Merged

#5161 fix(DB/smart_scripts): Remove 'Prowl' on 'Flatland Prowler'
  data/sql/updates/pending_db_world/rev_1617686115809585900.sql
Labels: 1-19, DB, To Be Merged

#5162 fix(DB/smart_scripts): Adjust SAI for Dabyrie Laborer
  data/sql/updates/pending_db_world/rev_1617688058640897400.sql
Labels: 30-39, DB, To Be Merged

#5163 fix(DB/creature): Adjust xyz position for multiple creatures in Wailing Caverns
  data/sql/updates/pending_db_world/rev_1617688597765131400.sql
Labels: 20-29, DB, To Be Merged

#5170 fix(DB/smart_scripts): Adjust SAI for Elder Timberling
  data/sql/updates/pending_db_world/rev_1617743115631291700.sql
Labels: 1-19, DB, To Be Merged

#5041 fix(Core/Loot): Items below group threshold should not be blocked by master looter.
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Handlers/LootHandler.cpp
  src/server/game/Loot/LootMgr.cpp
  src/server/game/Loot/LootMgr.h
Labels: CORE, To Be Merged

#5006 fix(Core/Spell): Handle ClearAllDebuffs
  data/sql/updates/pending_db_world/rev_1616715058536439500.sql
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/scripts/Spells/spell_generic.cpp
Labels: CORE, DB, Script, To Be Merged

#5177 feat(Apps): Automatic extractor for windows
  apps/extractor/extractor.bat
Labels: Ready to be reviewed

#5084 fix(Core/Objects): Fixed calculating LoS.
  src/server/game/Entities/Object/Object.cpp
Labels: CORE, To Be Merged

#5175 fix(Script/Instance): Rename Piccacle & Ramparts scripts
  data/sql/updates/pending_db_world/rev_1617791300086571700.sql
  src/server/scripts/Northrend/UtgardeKeep/UtgardePinnacle/instance_utgarde_pinnacle.cpp
  src/server/scripts/Outland/HellfireCitadel/HellfireRamparts/instance_hellfire_ramparts.cpp
  src/server/scripts/ScriptLoader.cpp
Labels: CORE, DB, Script, To Be Merged

#5004 fix(Core/Spell): Make use of SPELL_ATTR6_DONT_CONSUME_PROC_CHARGES
  src/server/game/Spells/Auras/SpellAuras.cpp
Labels: CORE, To Be Merged

#5005 fix(Core/Spell): make use of SPELL_ATTR3_IGNORE_PROC_SUBCLASS_MASK
  src/server/game/Spells/Auras/SpellAuras.cpp
Labels: CORE, To Be Merged

#5125 fix(DB/spell_dbc): Execute Warrior
  data/sql/updates/pending_db_world/rev_1617549311457174700.sql
Labels: DB, To Be Merged

#5076 fix(Core/Unit): Set AI notification when setting/removing contested PvP flags.
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, To Be Merged

#5090 feat(Core/PvP): Set 30 sec timer before turn off FFA PvP flag.
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged

#5144 refactor(DB/SQL): Update 2021_03_29_01.sql to MYSQL standards
  data/sql/updates/db_world/2021_03_29_01.sql
Labels: DB, To Be Merged

#4880 fix(CORE/Player): Allow sharing completed in log quests. Send push to…
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
Labels: CORE, ChromieCraft Generic, To Be Merged

#5106 fix(Core/Spells): Spells learned from skills should be visibile immed…
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
Labels: CORE, To Be Merged

#5091 fix(core): Warning C4018
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, To Be Merged

#5146 fix(Bash): client data files version 10
  apps/installer/includes/functions.sh
Labels: Bash, Priority - High, To Be Merged

#5093 feat(Core/BattlegroundQueue): add limited Battleground.QueueAnnouncer
  src/server/game/Battlegrounds/BattlegroundQueue.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged

#5097 fix(Core/Movement): Fix multiple creature movement issues
  data/sql/updates/pending_db_world/rev_1617298257710087600.sql
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
  src/server/game/Spells/SpellEffects.cpp
  src/server/scripts/EasternKingdoms/Scholomance/boss_kirtonos_the_herald.cpp
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kiljaeden.cpp
  src/server/scripts/Kalimdor/OnyxiasLair/boss_onyxia.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_twin_valkyr.cpp
  src/server/scripts/Northrend/FrozenHalls/HallsOfReflection/instance_halls_of_reflection.cpp
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/pit_of_saron.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_blood_queen_lana_thel.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_sindragosa.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_the_lich_king.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
  src/server/scripts/Northrend/Naxxramas/boss_sapphiron.cpp
  src/server/scripts/Northrend/Nexus/EyeOfEternity/boss_malygos.cpp
  src/server/scripts/Northrend/Nexus/Oculus/boss_eregos.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_razorscale.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/boss_ingvar_the_plunderer.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/utgarde_keep.cpp
  src/server/scripts/Outland/HellfireCitadel/HellfireRamparts/boss_vazruden_the_herald.cpp
Labels: CORE, DB, Script, To Be Merged

#5148 feat(Core/Spell): Define SPELL_AURA_PREVENT_DURABILITY_LOSS
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Spells/Auras/SpellAuraDefines.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: CORE, To Be Merged

#5154 fix(DB/Creature): set movementType to 2 for Rageclaw
  data/sql/updates/pending_db_world/rev_1617634980911314885.sql
Labels: 1-19, DB, To Be Merged

#5165 fix(DB/spell_dbc): Brutal Assault debuff remaining
  data/sql/updates/pending_db_world/rev_1617726900389263800.sql
Labels: DB, To Be Merged

#5168 fix(DB/Spells): All PvP Bandages
  data/sql/updates/pending_db_world/rev_1617739461755573400.sql
Labels: DB, To Be Merged

#5171 fix(DB/smart_scripts): Razormane Wolf
  data/sql/updates/pending_db_world/rev_1617772431626528000.sql
Labels: DB, To Be Merged

#5172 fix(DB/creature): Adjust spawn for Nerubis Guard
  data/sql/updates/pending_db_world/rev_1617774706114876200.sql
Labels: 1-19, DB, To Be Merged

#5174 fix(DB/Creature): Ruul Snowhoof
  data/sql/updates/pending_db_world/rev_1617779221786870600.sql
Labels: DB, To Be Merged

#5182 fix(DB/GameObjects-Spawn): The Shade of Elura
  data/sql/updates/pending_db_world/rev_1617830328758041600.sql
Labels: DB, To Be Merged

#5155 fix(DB/creature): Raptor Ridge Cave
  data/sql/updates/pending_db_world/rev_1617661090934443600.sql
Labels: 20-29, DB, To Be Merged

#5166 fix(DB/smart_scripts): Minions not engaging
  data/sql/updates/pending_db_world/rev_1617732568440189700.sql
Labels: DB, To Be Merged

#5176 fix(DB/Items-Drop-Chance): Battered Junkboxes
  data/sql/updates/pending_db_world/rev_1617795276143794300.sql
Labels: DB, To Be Merged

#5190 fix(DB/CreatureSkinning): Skinning boars
  data/sql/updates/pending_db_world/rev_1617865372308647700.sql
Labels: DB, To Be Merged

#5192 fix(DB/CreatureSAI): Ranged mobs shooting
  data/sql/updates/pending_db_world/rev_1617867794413109600.sql
Labels: DB, To Be Merged

#5195 Flesh piercer drop rate
  data/sql/updates/pending_db_world/rev_1617902440529783360.sql
Labels: DB, To Be Merged

#5197 fix(DB/Spell): Demoralizing Roar
  data/sql/updates/pending_db_world/rev_1617915554384852400.sql
Labels: DB, To Be Merged

#5198 fix(DB/GameObject) Mining veins spawn
  data/sql/updates/pending_db_world/rev_1617913282545327642.sql
Labels: 1-19, DB, To Be Merged

#5201 fix(DB/Creature)Timberstrider Fledgling undermap
  data/sql/updates/pending_db_world/rev_1617919651657315506.sql
Labels: 1-19, DB, To Be Merged

#5204 fix(DB/gameobject): Change position of copper/other veins
  data/sql/updates/pending_db_world/rev_1617936479961800600.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#5205 fix(DB): Demetria is alone
  data/sql/updates/pending_db_world/rev_1617946428490261300.sql
Labels: DB, To Be Merged

#5210 fix(DB/GameObject-Spawn): Solid Chest respawn time for gameobject 100067
  data/sql/updates/pending_db_world/rev_1617986524556683595.sql
Labels: DB, To Be Merged

#5212 fix(DB/GameObject-Spawn): Solid Chest respawn time for gameobject 100068,16946
  data/sql/updates/pending_db_world/rev_1617988329167837335.sql
Labels: DB, To Be Merged

#5219 fix(DB/Creature): Skinning loot
  data/sql/updates/pending_db_world/rev_1618037276986031900.sql
Labels: DB, To Be Merged

#5070 fix(DB): The Missing Diplomat Part 11 Fix
  data/sql/updates/pending_db_world/rev_1617170212396609300.sql
Labels: DB, To Be Merged

#5122 fix(DB/Spawn): move spawn because it was under the earth
  data/sql/updates/pending_db_world/rev_1617475678754474649.sql
Labels: DB, To Be Merged

#5134 fix(DB/quest_poi_points): The Principal Source
  data/sql/updates/pending_db_world/rev_1617560891918432300.sql
Labels: 1-19, DB, To Be Merged

#5141 fix(DB/Spawn): move spawn over the ground
  data/sql/updates/pending_db_world/rev_1617612991251140137.sql
Labels: 1-19, DB, To Be Merged

#5143 fix(DB/Quest): required race (faction) of quest
  data/sql/updates/pending_db_world/rev_1617614528274234003.sql
Labels: 1-19, DB, To Be Merged

#5145 chore(Core/SpellMgr): Indentation
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, To Be Merged

#5149 fix(Core/Unit): decrease swim speed
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, ChromieCraft Generic, To Be Merged

#5150 fix(DB/smart_scripts): Bubbling Fissure
  data/sql/updates/pending_db_world/rev_1617620649041950300.sql
Labels: DB, To Be Merged

#5102 feat(CI): add extra_logs to build matrix and update warden ByteArrayToHexStr
  .github/workflows/core_build.yml
  apps/ci/ci-conf.sh
  apps/compiler/includes/functions.sh
  conf/dist/config.sh
  src/server/game/Warden/WardenMac.cpp
  src/server/game/Warden/WardenWin.cpp
Labels: Bash, CORE, To Be Merged, Workflow

#4431 feat(Core/Database): implement db loader
  src/common/Database/DatabaseEnv.cpp
  src/common/Database/DatabaseEnv.h
  src/common/Database/DatabaseLoader.cpp
  src/common/Database/DatabaseLoader.h
  src/common/Database/DatabaseWorkerPool.cpp
  src/common/Database/DatabaseWorkerPool.h
  src/common/Database/MySQLConnection.cpp
  src/common/Database/MySQLConnection.h
  src/server/authserver/Main.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Globals/ObjectMgr.cpp
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/ahnkahet.h
  src/server/worldserver/Master.cpp
  src/tools/vmap4_extractor/model.cpp
  src/tools/vmap4_extractor/wmo.cpp
Labels: CORE, Script, To Be Merged

#5268 fix(DB/Quest): Noblegarden RewardMoney
  data/sql/updates/pending_db_world/rev_1618275651812886000.sql
Labels: ChromieCraft Generic, DB, Priority - High, To Be Merged

#4072 fix(DB/DBC): correct gtoctclasscombatratingscalar_dbc
  data/sql/updates/pending_db_world/rev_1609109042026647800.sql
Labels: DB, To Be Merged

#3047 feat(Core/Hooks): added hooks from MS
  src/cmake/ac_macros.cmake
  src/server/game/Achievements/AchievementMgr.cpp
  src/server/game/Battlegrounds/ArenaTeam.cpp
  src/server/game/Battlegrounds/ArenaTeam.h
  src/server/game/Battlegrounds/ArenaTeamMgr.cpp
  src/server/game/Battlegrounds/ArenaTeamMgr.h
  src/server/game/Battlegrounds/Battleground.cpp
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
  src/server/game/Battlegrounds/BattlegroundMgr.h
  src/server/game/Battlegrounds/BattlegroundQueue.cpp
  src/server/game/Battlegrounds/BattlegroundQueue.h
  src/server/game/DungeonFinding/LFGMgr.cpp
  src/server/game/Entities/Creature/GossipDef.cpp
  src/server/game/Entities/Item/Item.cpp
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Groups/Group.cpp
  src/server/game/Guilds/Guild.cpp
  src/server/game/Guilds/Guild.h
  src/server/game/Handlers/AuctionHouseHandler.cpp
  src/server/game/Handlers/BattleGroundHandler.cpp
  src/server/game/Handlers/GroupHandler.cpp
  src/server/game/Handlers/ItemHandler.cpp
  src/server/game/Handlers/MailHandler.cpp
  src/server/game/Handlers/NPCHandler.cpp
  src/server/game/Handlers/PetitionsHandler.cpp
  src/server/game/Handlers/SpellHandler.cpp
  src/server/game/Handlers/TradeHandler.cpp
  src/server/game/Instances/InstanceSaveMgr.cpp
  src/server/game/Loot/LootMgr.cpp
  src/server/game/Maps/MapManager.cpp
  src/server/game/Petitions/PetitionMgr.h
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgr.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
  src/server/game/Spells/SpellInfo.cpp
  src/server/scripts/Commands/cs_misc.cpp
  src/server/scripts/Outland/BlackTemple/boss_mother_shahraz.cpp
  src/server/scripts/Outland/BlackTemple/illidari_council.cpp
  src/server/scripts/Pet/pet_generic.cpp
  src/server/scripts/Spells/spell_dk.cpp
Labels: CORE, Script, To Be Merged

#5236 fix(DB/GameObjects) Incorrect and Duplicate Chairs.
  data/sql/updates/pending_db_world/rev_1618114340791954300.sql
Labels: DB, To Be Merged

#5186 DetectLanguaje Client EsES/EsMX/
  src/server/game/Entities/Player/Player.h
Labels: CORE, To Be Merged

#5188 fix(Core/GameObjects): Creating gameobject's model requires set go st…
  data/sql/updates/pending_db_world/rev_1617863055133088000.sql
  src/server/game/Entities/GameObject/GameObject.cpp
Labels: CORE, DB, To Be Merged

#5280 fix(DB/smart_scripts): Deviate Guardian - Call for help
  data/sql/updates/pending_db_world/rev_1618370524737999000.sql
Labels: 1-19, DB, To Be Merged

#5281 fix(DB/creature_loot_template): Remove 'Wastewander Water Pouch' from Andre Firebeard
  data/sql/updates/pending_db_world/rev_1618371459590523500.sql
Labels: 1-19, DB, To Be Merged

#5282 fix(DB/page_text): Fix typo in page text of Hallowed Scroll
  data/sql/updates/pending_db_world/rev_1618371673205623900.sql
Labels: 1-19, DB, To Be Merged

#5292 fix(DB/Account): Remove default accounts
  data/sql/base/db_auth/account.sql
  data/sql/base/db_auth/account_access.sql
Labels: DB, To Be Merged

#5193 refactor(Core/Misc): Define & Rename Attributes and flags
  src/server/game/AI/SmartScripts/SmartAI.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Handlers/PetHandler.cpp
  src/server/game/Miscellaneous/Formulas.h
  src/server/game/Miscellaneous/SharedDefines.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Spell.cpp
  src/server/scripts/Commands/cs_reset.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_magmadar.cpp
  src/server/scripts/EasternKingdoms/zone_eastern_plaguelands.cpp
  src/server/scripts/Kalimdor/zone_azuremyst_isle.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheChampion/boss_black_knight.cpp
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/boss_krickandick.cpp
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/pit_of_saron.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_blood_prince_council.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_lady_deathwhisper.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
  src/server/scripts/Northrend/Nexus/Oculus/oculus.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_algalon_the_observer.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/boss_ingvar_the_plunderer.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/boss_keleseth.cpp
  src/server/scripts/World/npcs_special.cpp
Labels: CORE, Script, To Be Merged

#3674 fix(DB/quest) Leave no one behind
  data/sql/updates/pending_db_world/rev_1605009324701425500.sql
Labels: DB, To Be Merged

#5103 fix(Core/Movement): Make sure pet always follows its master.
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
Labels: CORE, To Be Merged

#5304 fix(Core/BGQueue): correct return BattlegroundQueueTypeId
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
Labels: CORE, To Be Merged

#4821 feat(Core/Threading): replace ace threading
  src/common/Collision/Management/MMapManager.cpp
  src/common/Collision/Management/MMapManager.h
  src/common/Collision/Management/VMapManager2.cpp
  src/common/Collision/Management/VMapManager2.h
  src/common/Common.h
  src/common/Database/DatabaseWorkerPool.h
  src/common/Database/MySQLConnection.h
  src/common/Database/QueryResult.h
  src/common/Threading/LockedQueue.h
  src/server/authserver/Server/AuthSocket.cpp
  src/server/authserver/Server/AuthSocket.h
  src/server/game/Entities/Creature/GossipDef.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Transport/Transport.cpp
  src/server/game/Entities/Transport/Transport.h
  src/server/game/Events/GameEventMgr.cpp
  src/server/game/Globals/ObjectAccessor.cpp
  src/server/game/Globals/ObjectAccessor.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Handlers/AuctionHouseHandler.cpp
  src/server/game/Handlers/MiscHandler.cpp
  src/server/game/Instances/InstanceSaveMgr.cpp
  src/server/game/Instances/InstanceSaveMgr.h
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
  src/server/game/Maps/MapInstanced.cpp
  src/server/game/Maps/MapManager.cpp
  src/server/game/Maps/MapManager.h
  src/server/game/Misc/AsyncAuctionListing.cpp
  src/server/game/Misc/AsyncAuctionListing.h
  src/server/game/Misc/SavingSystem.cpp
  src/server/game/Misc/SavingSystem.h
  src/server/game/Misc/WhoListCache.cpp
  src/server/game/Movement/Spline/Spline.h
  src/server/game/OutdoorPvP/OutdoorPvPMgr.cpp
  src/server/game/OutdoorPvP/OutdoorPvPMgr.h
  src/server/game/Server/WorldSession.h
  src/server/game/Server/WorldSocket.cpp
  src/server/game/Server/WorldSocket.h
  src/server/game/Server/WorldSocketMgr.cpp
  src/server/game/Server/WorldSocketMgr.h
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/scripts/Commands/cs_gm.cpp
  src/server/scripts/Commands/cs_misc.cpp
  src/server/scripts/Commands/cs_reset.cpp
  src/server/scripts/OutdoorPvP/OutdoorPvPSI.cpp
  src/server/worldserver/WorldThread/WorldRunnable.cpp
Labels: CORE, Script, To Be Merged

#5240 fix(DB/GameObject-Spawn): Copper veins spawns in Mulgore
  data/sql/updates/pending_db_world/rev_1618137493700140600.sql
Labels: DB, To Be Merged

#5207 refactor(Core/Server): Move Banner into separate file
  src/common/Banner.cpp
  src/common/Banner.h
  src/server/authserver/Main.cpp
  src/server/worldserver/Main.cpp
  src/server/worldserver/Master.cpp
Labels: CORE, Ready to be reviewed

#5284 fix(Core/Warden): typo 81301c67d.
  src/server/game/Warden/WardenMac.cpp
  src/server/game/Warden/WardenWin.cpp
Labels: CORE, To Be Merged

#4074 feat(Apps): Add a tool to remove trailing whitespaces
  apps/whitespace_remover/whitespace_remover.sh
Labels: Bash, To Be Merged

#5228 feat(Core/Debugging): Allow to show a message when aborting
  src/common/Debugging/Errors.cpp
  src/common/Debugging/Errors.h
Labels: CORE, To Be Merged

#5245 Fix Scholomance Gandling encounter
  data/sql/updates/pending_db_world/rev_1617964644615239534.sql
  src/server/scripts/EasternKingdoms/Scholomance/instance_scholomance.cpp
Labels: 50-59, CORE, DB, Script, To Be Merged

#5335 fix(DB/creature_template): Adjust InhabitType and SAI - Deviate creatures
  data/sql/updates/pending_db_world/rev_1618698984447935300.sql
Labels: DB, To Be Merged

#4639 fix(DB): spawn missing vanilla rares
  data/sql/updates/pending_db_world/rev_1614130170345582600.sql
Labels: DB, To Be Merged

#5247 fix(DB/Waypoints): Sethir the Ancient path
  data/sql/updates/pending_db_world/rev_1618147391543148390.sql
Labels: 1-19, DB, To Be Merged

#5256 fix(DB/Creature): move creature spawn
  data/sql/updates/pending_db_world/rev_1618169871194421039.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#5254 fix(DB/Creature): thrown animations
  data/sql/updates/pending_db_world/rev_1618166495075484153.sql
Labels: 1-19, DB, To Be Merged

#5255 fix(DB/Spawns): duplicate nodes
  data/sql/updates/pending_db_world/rev_1618169172923159272.sql
Labels: DB, To Be Merged

#5257 fix(DB/Creature): add missing spirit healer
  data/sql/updates/pending_db_world/rev_1618170334855143471.sql
Labels: 50-59, DB, To Be Merged

#5259 fix(DB/creature_template): Add missing gossip to Terenthis in Auberdine, Darkshore
  data/sql/updates/pending_db_world/rev_1618177960313931100.sql
Labels: DB, To Be Merged

#5260 fix(DB): Drop for Humbert's Helm
  data/sql/updates/pending_db_world/rev_1618180915871216782.sql
Labels: DB, To Be Merged

#5262 fix(DB/Spell): flurry talent shaman rework
  data/sql/updates/pending_db_world/rev_1618250435092390200.sql
Labels: DB, To Be Merged

#5283 fix(DB/Quest): Quest of Bodley without AllowableClasses Setting
  data/sql/updates/pending_db_world/rev_1618383191741891235.sql
Labels: DB, To Be Merged

#5332 fix(DB/gameobject): Adjust position for Bruiseweed - GUID 3716
  data/sql/updates/pending_db_world/rev_1618695684001514600.sql
Labels: 20-29, DB, To Be Merged

#5331 fix(DB/gameobject): Adjust position for Wild Steelbloom node - GUID 4997
  data/sql/updates/pending_db_world/rev_1618694589843475600.sql
Labels: 20-29, DB, To Be Merged

#4915 fix(DB/Zone):improved Shadowmoon Valley
  data/sql/updates/pending_db_world/rev_1616252834972147900.sql
Labels: DB, To Be Merged

#5138 fix(Core/Tools): extracting custom maps
  src/tools/map_extractor/wdt.cpp
Labels: CORE, To Be Merged

#5285 Scripts/RazorfenDowns: Fix Belnistrasz Incorrect Usage of GOSSIP_OPTION_QUESTGIVER
  src/server/scripts/Kalimdor/RazorfenDowns/razorfen_downs.cpp
Labels: CORE, Script, To Be Merged

#5286 Scripts/RubySanctum: Fix Xerestrasza Incorrect Usage of GOSSIP_OPTIONQUESTGIVER
  src/server/scripts/Northrend/ChamberOfAspects/RubySanctum/boss_baltharus_the_warborn.cpp
Labels: CORE, Script, To Be Merged

#5293 fix(DB/game_event_creature): darkmoon faire carnie spawn on event
  data/sql/updates/pending_db_world/rev_1618438031594589517.sql
Labels: DB, To Be Merged

#5334 feat(Cmake/Database): separate database lib from common
  src/common/CMakeLists.txt
  src/server/CMakeLists.txt
  src/server/database/CMakeLists.txt
  src/server/database/Database/AdhocStatement.cpp
  src/server/database/Database/AdhocStatement.h
  src/server/database/Database/Callback.h
  src/server/database/Database/DatabaseEnv.cpp
  src/server/database/Database/DatabaseEnv.h
  src/server/database/Database/DatabaseLoader.cpp
  src/server/database/Database/DatabaseLoader.h
  src/server/database/Database/DatabaseWorker.cpp
  src/server/database/Database/DatabaseWorker.h
  src/server/database/Database/DatabaseWorkerPool.cpp
  src/server/database/Database/DatabaseWorkerPool.h
  src/server/database/Database/Field.cpp
  src/server/database/Database/Field.h
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/database/Database/Implementation/CharacterDatabase.h
  src/server/database/Database/Implementation/LoginDatabase.cpp
  src/server/database/Database/Implementation/LoginDatabase.h
  src/server/database/Database/Implementation/WorldDatabase.cpp
  src/server/database/Database/Implementation/WorldDatabase.h
  src/server/database/Database/MySQLConnection.cpp
  src/server/database/Database/MySQLConnection.h
  src/server/database/Database/MySQLThreading.h
  src/server/database/Database/PreparedStatement.cpp
  src/server/database/Database/PreparedStatement.h
  src/server/database/Database/QueryHolder.cpp
  src/server/database/Database/QueryHolder.h
  src/server/database/Database/QueryResult.cpp
  src/server/database/Database/QueryResult.h
  src/server/database/Database/SQLOperation.h
  src/server/database/Database/Transaction.cpp
  src/server/database/Database/Transaction.h
  src/server/database/Logging/AppenderDB.cpp
  src/server/database/Logging/AppenderDB.h
  src/server/database/PrecompiledHeaders/databasePCH.h
  src/server/shared/CMakeLists.txt
  src/tools/mmaps_generator/PathCommon.h
Labels: CORE, To Be Merged

#5371 fix(Core): fix chests not despawning when opened in group
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Groups/Group.cpp
  src/server/game/Loot/LootMgr.h
Labels: CORE, ChromieCraft Generic, To Be Merged

#5363 fix(DB/gameobject): Adjust position for Bruiseweed node - GUID 3538
  data/sql/updates/pending_db_world/rev_1618848739269957700.sql
Labels: 1-19, DB, To Be Merged

#5348 feat(Core/Build): add the possibility to link libraries dynamically
  CMakeLists.txt
  conf/dist/config.cmake
  src/cmake/compiler/clang/settings.cmake
  src/cmake/compiler/gcc/settings.cmake
  src/cmake/compiler/msvc/settings.cmake
  src/cmake/macros/ConfigureScripts.cmake
  src/cmake/showoptions.cmake
  src/common/Define.h
Labels: CORE, To Be Merged
