Repository azerothcore/azerothcore-wotlk, pull requests merged in 2021-11, with the labels that each got.

#8455 fix(Scripts/Scholomance) Grandmaster Gandling correctly drops threat if teleports the tank
  data/sql/updates/pending_db_world/rev_1633884280859489900.sql
  src/server/scripts/EasternKingdoms/Scholomance/boss_darkmaster_gandling.cpp
  src/server/scripts/EasternKingdoms/Scholomance/instance_scholomance.cpp
  src/server/scripts/EasternKingdoms/Scholomance/scholomance.h
  src/server/scripts/EasternKingdoms/eastern_kingdoms_script_loader.cpp
Labels: DB, CORE, To Be Merged, Instance - Dungeon - Vanilla, Script, Priority-Medium

#8703 chore(CI/Ubuntu): Remove unused code
  .github/workflows/core_build.yml
Labels: Workflow, To Be Merged

#8488 feat(APPS/installer): configure remote and pull branch in conf/config.sh
  apps/installer/includes/functions.sh
  conf/dist/config.sh
Labels: To Be Merged, Bash, run-build

#8871 fix(Scripts/Spells): Blessing of Ancient Kings crash
  src/server/scripts/Spells/spell_item.cpp
Labels: CORE, To Be Merged, Script, Priority-Critical

#8613 fix(DB/locale): Some more translations of the draenei
  data/sql/updates/pending_db_world/rev_1634598950367001300.sql
Labels: DB, To Be Merged

#8855 Scripts/Commands: Convert cs_object to new system
  src/server/scripts/Commands/cs_gobject.cpp
Labels: CORE, To Be Merged, Script

#8741 fix(Scripts/MoltenCore): rewrite
  data/sql/updates/pending_db_world/rev_1620244782542375889.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_baron_geddon.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_garr.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_gehennas.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_golemagg.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_lucifron.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_magmadar.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_majordomo_executus.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_ragnaros.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_shazzrah.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_sulfuron_harbinger.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/instance_molten_core.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/molten_core.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/molten_core.h
  src/server/scripts/EasternKingdoms/eastern_kingdoms_script_loader.cpp
Labels: DB, CORE, Script

#8653 feat(CI/CheckPending): add check version db line
  .github/workflows/check_pending_sql.yml
  apps/ci/ci-pending.sh
Labels: Workflow, To Be Merged, Bash

#8878 fix(Core/Creatures): `AttackStart` in `MoveInLineOfSight` is called o…
  src/server/game/AI/CreatureAI.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged

#8224 Fix(Core/Map): Fix encounters list for heroic difficulties
  src/server/game/Maps/Map.cpp
Labels: CORE, To Be Merged, Needs Feedback

#8792 fix(Core\Scripts):Venomhide Hatchling multiple fixes
  data/sql/updates/pending_db_world/rev_1635420472205770200.sql
  src/server/scripts/World/npcs_special.cpp
Labels: Quest, 40-49, DB, CORE, To Be Merged, Script

#8782 fix(DatabaseWorkerPool): state correct MYSQL version in message
  src/server/database/Database/DatabaseWorkerPool.cpp
Labels: CORE, To Be Merged

#8781 feat(Core/Scripts): implemented a guid map in InstanceScript, this wa…
  src/server/game/Instances/InstanceScript.cpp
  src/server/game/Instances/InstanceScript.h
  src/server/scripts/Northrend/AzjolNerub/AzjolNerub/instance_azjol_nerub.cpp
Labels: CORE, To Be Merged, Script

#8826 fix(Scripts/BlackrockSpire): Rend Blackhand improvements
  data/sql/updates/pending_db_world/rev_1635438058134962700.sql
  src/server/game/AI/ScriptedAI/ScriptedCreature.cpp
  src/server/game/AI/ScriptedAI/ScriptedCreature.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_gyth.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_rend_blackhand.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/instance_blackrock_spire.cpp
Labels: DB, CORE, To Be Merged, Script

#8809 fix(DB/Quest) Wrong quest on beached sea turtles
  data/sql/updates/pending_db_world/rev_1635460529340435632.sql
Labels: DB, To Be Merged

#8791 fix(DB\Broadcast Text):Removed double string on emote text
  data/sql/updates/pending_db_world/rev_1635418346534500600.sql
Labels: Profession, DB, To Be Merged, 71-74

#8827 fix(Core/Player): Clear current title if the player loses it
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
Labels: CORE, To Be Merged

#8834 fix(DB/item_loot): Remove various incorrect items from Mithril Lockbox
  data/sql/updates/pending_db_world/rev_1635585233227924918.sql
Labels: ChromieCraft Generic, DB, To Be Merged, Loot

#8808 fix(DB/SAI) Remove some bad SAI from turtles
  data/sql/updates/pending_db_world/rev_1635459481686892682.sql
Labels: DB, To Be Merged

#8141 fix:(Scripts\ZulGurub): Razzashi Cobra's will act as Venoxis minions (trigg…
  data/sql/updates/pending_db_world/rev_1632860884559995600.sql
  src/server/scripts/EasternKingdoms/ZulGurub/boss_venoxis.cpp
Labels: DB, CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla

#8836 fix(DB/creature_loot): Defias Rapier drops
  data/sql/updates/pending_db_world/rev_1635586926158019590.sql
Labels: 1-19, DB, To Be Merged, Loot

#8875 fix(Scripts/UBRS): General Drakkisath improvements
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_drakkisath.cpp
Labels: CORE, To Be Merged, Script

#8831 Scripts/Commands: Convert cs_instance to new system
  src/server/scripts/Commands/cs_instance.cpp
Labels: CORE, To Be Merged, Script

#8850 feat(Core/Scripting): Implement OnlyOnceAreaTrigger & Zul'Gurub's in…
  data/sql/updates/pending_db_world/rev_1635649346761519900.sql
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Instances/InstanceScript.h
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgr.h
  src/server/scripts/EasternKingdoms/ZulGurub/boss_hakkar.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/instance_zulgurub.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/zulgurub.h
Labels: DB, CORE, To Be Merged, Script

#8849 (Core/SmartAI): Improve SMART_EVENT_GOSSIP_HELLO
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: CORE, To Be Merged

#8044 Strider clutchmother Waypoints
  data/sql/updates/pending_db_world/rev_1632387086658999212.sql
Labels: 20-29, DB, To Be Merged

#8549 feat(Scripts/Command): Implemented new command: bags clear.
  data/sql/updates/pending_db_world/rev_1634327540840591400.sql
  src/server/scripts/Commands/cs_misc.cpp
Labels: ChromieCraft Generic, DB, CORE, To Be Merged, Script

#7932 Fix issue 5342 mob speed health
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Movement/Spline/MoveSplineInit.cpp
Labels: CORE, To Be Merged

#8753 Fix (Spell/Core)Prayer of Mending Heal not smart Healing TC Cherry Pick
  src/server/game/Grids/Notifiers/GridNotifiers.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/scripts/Spells/spell_priest.cpp
Labels: CORE, To Be Merged, Script

#8946 feat(Core/Socket): make world OnSocketAccept like auth
  src/server/game/Server/WorldSocketMgr.cpp
  src/server/game/Server/WorldSocketMgr.h
Labels: CORE, To Be Merged, run-build, Priority-C++20

#8947 fix(Core/Commands): correct header `PlayerCommand.h` file structure
  src/server/scripts/Commands/PlayerCommand.cpp
  src/server/scripts/Commands/PlayerCommand.h
Labels: CORE, To Be Merged, Script, Priority-Critical, Merge In Progress

#8877 fix(Core/Pets): Controllable guardians (including pets) should not se…
  src/server/game/Entities/Unit/Unit.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Class - Hunter

#8902 (Core/Quest) Refresh SMSG_QUESTGIVER_STATUS_MULTIPLE after a quest change
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerQuest.cpp
  src/server/game/Handlers/ItemHandler.cpp
  src/server/game/Handlers/QuestHandler.cpp
Labels: CORE, To Be Merged

#8903 fix(Scripts/BlackrockSpire): Implemented pre-fight The Beast event. Source: TrinityCore.
  data/sql/updates/pending_db_world/rev_1635867595421095400.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/blackrock_spire.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_the_beast.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/instance_blackrock_spire.cpp
Labels: 50-59, DB, CORE, To Be Merged, Instance - Dungeon - Vanilla, Script

#8023 fix(DB/SAI):Twilight Discipline and Twilight Thug scripts(talks an…
  data/sql/updates/pending_db_world/rev_1632248054324754400.sql
  src/server/scripts/Kalimdor/zone_darkshore.cpp
Labels: 1-19, DB, CORE, To Be Merged, Script

#8895 fix(Script/Gossip) Mathredis Firestar
  data/sql/updates/pending_db_world/rev_1635856510467222141.sql
  src/server/scripts/EasternKingdoms/eastern_kingdoms_script_loader.cpp
  src/server/scripts/EasternKingdoms/zone_burning_steppes.cpp
Labels: DB, CORE, To Be Merged, Script

#8002 fix(DB/Creature): lowers max level of Fen Dweller
  data/sql/updates/pending_db_world/rev_1632156508775520500.sql
Labels: 20-29, DB, To Be Merged

#8957 fix(Scripts/UBRS): Correct Drakkisath's guard abilities not being cast
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_drakkisath.cpp
Labels: Priority-High, CORE, To Be Merged, Script

#8959 fix(Core/PlayerUpdates): one more C++20 compile warning
  src/server/game/Entities/Player/PlayerUpdates.cpp
Labels: CORE, To Be Merged

#8966 fix(CI): run-build label
  .github/workflows/docker_build.yml
  .github/workflows/macos_build.yml
  .github/workflows/windows_build.yml
Labels: Workflow, Ready to be Reviewed, Continuous Integration, run-build

#7960 Fix(script/LBRS) urok doomhowl improvements
  data/sql/updates/pending_db_world/rev_1631974777295481100.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/blackrock_spire.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_urok_doomhowl.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/instance_blackrock_spire.cpp
Labels: 50-59, DB, Priority-High, CORE, To Be Merged, Instance - Dungeon - Vanilla, Script

#8876 feat(Core/Unit): Implement DoCastRandomTarget() helper
  src/server/game/AI/CoreAI/UnitAI.cpp
  src/server/game/AI/CoreAI/UnitAI.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_the_beast.cpp
Labels: CORE, To Be Merged, Script

#8905 fix(DB/Quest): Added missing poi points for "Hallow's End Treats for …
  data/sql/updates/pending_db_world/rev_1635874451387473500.sql
Labels: Quest, ChromieCraft Generic, DB, To Be Merged, World Event

#8377 feat(Core/Spells): implemented two new custom attributes to handle aura saving rule
  data/sql/updates/pending_db_world/rev_1633787767742446400.sql
  src/server/game/Spells/Auras/SpellAuras.cpp
  src/server/game/Spells/SpellInfo.h
  src/server/game/Spells/SpellMgr.cpp
Labels: DB, CORE, To Be Merged

#8906 fix(DB/Gossip) Witch Doctor Uzer'i missing text
  data/sql/updates/pending_db_world/rev_1635875025536424855.sql
Labels: DB, To Be Merged

#8975 fix(Scripts/Player): some refactor related to PlayerCommand functions
  src/server/scripts/Commands/PlayerCommand.cpp
  src/server/scripts/Commands/PlayerCommand.h
  src/server/scripts/Commands/cs_learn.cpp
  src/server/scripts/Commands/cs_player.cpp
Labels: CORE, Script, Priority-Critical, run-build

#8909 fix(Script/SAI/Conditions) Move npcs_dithers_and_arbington script to SAI
  data/sql/updates/pending_db_world/rev_1635873886464817740.sql
  src/server/scripts/EasternKingdoms/zone_western_plaguelands.cpp
Labels: DB, CORE, To Be Merged, Script

#8907 fix(DB/Gossip) Fix Broadcast text for Jero'me
  data/sql/updates/pending_db_world/rev_1635875553300992749.sql
Labels: DB, To Be Merged

#8916 fix(DB/Equipment) Burning Blade npcs
  data/sql/updates/pending_db_world/rev_1635884292065100734.sql
Labels: DB, To Be Merged

#8911 fix(Script/SAI/Gossip/Conditions) Myranda the Hag move from Script to SAI
  data/sql/updates/pending_db_world/rev_1635880139183138212.sql
  src/server/scripts/EasternKingdoms/zone_western_plaguelands.cpp
Labels: DB, CORE, To Be Merged, Script

#8919 Scripts/Commands: Convert cs_lfg to new system
  src/server/scripts/Commands/cs_lfg.cpp
Labels: CORE, To Be Merged, Script

#8920 Scripts/Commands: Convert cs_list to new system
  data/sql/updates/pending_db_world/rev_1635920288146483276.sql
  src/server/scripts/Commands/cs_list.cpp
Labels: DB, CORE, To Be Merged, Script

#8932 fix(Core/Item): Fixed showing errors when cannot equip some item.
  src/server/game/Handlers/ItemHandler.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged

#8956 fix(Core/Items): Fixed properly showing quest items count deposited/w…
  src/server/game/Handlers/ItemHandler.cpp
Labels: Quest, ChromieCraft Generic, CORE, To Be Merged

#8993 feat(Core/World): Don't prevent players from logging characters by default
  src/server/game/World/World.cpp
Labels: CORE, To Be Merged

#8913 fix(DB) Southsea Swashbuckler equipment
  data/sql/updates/pending_db_world/rev_1635882514407659976.sql
Labels: DB, To Be Merged

#8953 fix(Script) Wind Stone quest in Silithus
  data/sql/updates/pending_db_world/rev_1636050414423889017.sql
  src/server/scripts/Kalimdor/zone_silithus.cpp
Labels: DB, CORE, To Be Merged, Script

#8858 Fix(DB/creatures): UBRS stealthed mobs issues
  data/sql/updates/pending_db_world/rev_1635700076222913000.sql
Labels: DB, To Be Merged, 60, Instance - Raid - Vanilla

#8924 fix(DB/Equipment) Add missing weapons to Gordunni npcs
  data/sql/updates/pending_db_world/rev_1635944366683482486.sql
Labels: DB, To Be Merged

#8927 ADD (Core) Wp table add in orientation and delay collumn TC Cherrypick
  data/sql/updates/db_world/rev_1635951187866923861.sql
  src/server/database/Database/Implementation/WorldDatabase.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: DB, CORE, To Be Merged

#8837 feat(Core/Modules): Preparation to implement progression-system module.
  data/sql/updates/pending_db_auth/rev_1635587640506554000.sql
  data/sql/updates/pending_db_characters/rev_1635587652443122100.sql
  data/sql/updates/pending_db_world/rev_1635587662323293700.sql
  src/server/database/Database/DatabaseLoader.h
  src/server/database/Updater/DBUpdater.cpp
  src/server/database/Updater/DBUpdater.h
  src/server/database/Updater/UpdateFetcher.cpp
  src/server/database/Updater/UpdateFetcher.h
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgr.h
  src/server/game/World/World.cpp
  src/server/scripts/CMakeLists.txt
  src/server/worldserver/Main.cpp
Labels: ChromieCraft Generic, DB, CORE, To Be Merged, Cmake, New feature, run-build

#8999 chore(DB): Fix SQL imports/database revision
  data/sql/updates/db_world/2021_11_06_00.sql
  data/sql/updates/pending_db_world/rev_1635951187866923861.sql
  data/sql/updates/pending_db_world/rev_1636206187676193400.sql
  data/sql/updates/pending_db_world/rev_1636206943540376100.sql
Labels: DB, To Be Merged, Priority-Critical

#9009 fix(Core/DbUpdater): correct world db update
  data/sql/updates/db_world/2021_11_06_00.sql
  data/sql/updates/db_world/2021_11_06_01.sql
  data/sql/updates/db_world/2021_11_06_02.sql
  data/sql/updates/db_world/2021_11_06_03.sql
  data/sql/updates/db_world/2021_11_06_04.sql
  data/sql/updates/db_world/2021_11_06_05.sql
  data/sql/updates/db_world/2021_11_06_06.sql
Labels: To Be Merged, Priority-Critical

#8926 FIX (CORE/DB/SAI) [Quest] - Weapons of Spirit / Allows Value 3 for react SAI WP Start Consolidated PR
  data/sql/updates/pending_db_world/rev_1635936745734477829.sql
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
Labels: DB, CORE, To Be Merged

#9014 Fix(Core/Spells): Exploit with silithyst aura
  src/server/scripts/Spells/spell_generic.cpp
Labels: CORE, To Be Merged, Script, Priority-Critical

#8972 fix(Scripts/UBRS): Warmaster Voone stances
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_warmaster_voone.cpp
Labels: CORE, To Be Merged, Script

#8976 feat(Scripts): Implement generic script loader and registry macros
  src/server/game/Scripting/ScriptMgr.h
  src/server/scripts/Northrend/IcecrownCitadel/boss_lord_marrowgar.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.h
Labels: CORE, To Be Merged, Script

#8236 Fix(core/script): UBRS Solakar / father flame
  data/sql/updates/pending_db_world/rev_1633268017505597200.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/blackrock_spire.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_solakar_flamewreath.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/instance_blackrock_spire.cpp
  src/server/scripts/EasternKingdoms/eastern_kingdoms_script_loader.cpp
Labels: DB, Help Wanted, CORE, To Be Merged, Script

#8944 fix(DB/creature_loot): Removes Sayge's Fortunes from all NPCs
  data/sql/updates/pending_db_world/rev_1636026426526412472.sql
Labels: DB, To Be Merged

#9025 fix(Labeler): file-cpp
  .github/labeler.yml
Labels: To Be Merged

#9037 fix(CI): labelled builds
  .github/workflows/core_modules_build.yml
  .github/workflows/cpp20.yml
Labels: To Be Merged, Continuous Integration

#8948 fix(Core/DungeonFinder): Enabled requeueing inside random dungeon.
  src/server/game/DungeonFinding/LFGMgr.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged

#8978 fix(Core/Players): Charge should not delay player's auto attacks.
  src/server/game/Entities/Player/PlayerUpdates.cpp
Labels: Class - Warrior, ChromieCraft Generic, CORE, To Be Merged

#8981 fix(Core/Spells): Slam should suspend attack timers.
  src/server/game/Entities/Unit/Unit.cpp
Labels: Class - Warrior, ChromieCraft Generic, CORE, To Be Merged

#8984 fix(Core/Spells): Troll Roof Stalker's Stealth and Ashenvale Outrunne…
  data/sql/updates/pending_db_world/rev_1636144391799645100.sql
  src/server/game/Spells/SpellMgr.cpp
Labels: ChromieCraft Generic, DB, CORE, To Be Merged

#8986 Core/Spells: Triggered spells should not cause players to stand up.
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
Labels: ChromieCraft Generic, CORE, To Be Merged

#8949 fix(DB/Creature): Corrects spawn times of various Westfall rare mobs
  data/sql/updates/pending_db_world/rev_1636045459174422908.sql
Labels: 1-19, DB, To Be Merged

#8950 fix(DB/Quest): Added missing poi points for Masked Orphan Matron/Cost…
  data/sql/updates/pending_db_world/rev_1636046620398906100.sql
Labels: Quest, ChromieCraft Generic, DB, To Be Merged, World Event

#8967 fix(Scripts/Commands): new command to debug play music
  data/sql/updates/pending_db_world/rev_1636091637254613269.sql
  src/server/scripts/Commands/cs_debug.cpp
  src/server/shared/SharedDefines.h
  src/server/shared/enuminfo_SharedDefines.cpp
Labels: DB, CORE, To Be Merged, Script

#8988 fix(Scripts/UBRS): General Drakkisath adds
  data/sql/updates/pending_db_world/rev_1636243951230286700.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/blackrock_spire.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_drakkisath.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/instance_blackrock_spire.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#8933 fix(DB/Loot): Removed Wintersbite from invalid loot tables.
  data/sql/updates/pending_db_world/rev_1635972558195755100.sql
Labels: ChromieCraft Generic, DB, To Be Merged, Loot

#8997 Scripts/Commands: Convert cs_cast to new system
  src/server/game/Entities/Unit/Unit.h
  src/server/scripts/Commands/cs_cast.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9013 Fix(DB/Creature): Populate Wetlands Farm
  data/sql/updates/pending_db_world/rev_1636235807735905400.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#9015 Update env.ac
  conf/dist/env.ac
Labels: Platform-Docker, To Be Merged, run-build

#8941 fix(Scripts/MoltenCore): Fixed some Geddon encounter issues
  data/sql/updates/pending_db_world/rev_1635964941654899600.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_baron_geddon.cpp
Labels: DB, CORE, Testing in Progress, To Be Merged, Script, file-cpp

#9001 chore(Script/ApplySpellFix): Correct some comments
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, To Be Merged, file-cpp

#8942 fix(Scripts/MoltenCore): Fixed shazzrah "23138 - Gate of Shazzrah" teleport
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_shazzrah.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#8954 fix(DB/Quests): Set Hallow's End Treats quests as repeatable.
  data/sql/updates/pending_db_world/rev_1636056541021794400.sql
Labels: Quest, ChromieCraft Generic, DB, To Be Merged, World Event

#9012 fix(Core/Build): Delete spell_dbc data with wrong values
  data/sql/updates/pending_db_world/rev_1636233172792932800.sql
Labels: DB, To Be Merged

#9041 refactor(GameObjectAI): Change self-accessor to "me"
  src/server/game/AI/CoreAI/GameObjectAI.h
  src/server/game/AI/SmartScripts/SmartAI.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_broodlord_lashlayer.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_chromaggus.cpp
  src/server/scripts/Events/brewfest.cpp
  src/server/scripts/Kalimdor/ZulFarrak/zulfarrak.cpp
  src/server/scripts/Kalimdor/zone_silithus.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_algalon_the_observer.cpp
  src/server/scripts/Northrend/zone_wintergrasp.cpp
  src/server/scripts/World/go_scripts.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9035 UBRS - incorrect unannotated fallthroughs
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/instance_blackrock_spire.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#8789 Core/Combat: Cleanup DoZoneInCombat function.
  src/server/game/AI/CreatureAI.cpp
  src/server/game/AI/CreatureAI.h
  src/server/game/Entities/Creature/Creature.cpp
Labels: CORE, To Be Merged, file-cpp

#9074 fix(Scripts/UBRS): Rend's summon spell should be a triggered cast
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_gyth.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9072 fix(Scripts/UBRS): Handle Rend and Drakkisath doors
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/blackrock_spire.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/instance_blackrock_spire.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9036 LBRS Wyrmthalak, adds no longer despawn after death
  data/sql/updates/pending_db_world/rev_1636311037132029200.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_overlord_wyrmthalak.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#9076 fix(DB/Conditions): Collect Rookery Egg should require nearby Rookery…
  data/sql/updates/pending_db_world/rev_1636427747651853200.sql
Labels: Waiting to be Tested

#9075 fix(DB/SAI): Goraluk Anvilcrack should always spawn
  data/sql/updates/pending_db_world/rev_1636425298992535900.sql
Labels: DB, To Be Merged

#8810 fix(Core/Spells): Potential crashes in spell_generic and spell_item
  src/server/scripts/Spells/spell_generic.cpp
  src/server/scripts/Spells/spell_item.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9002 chore(Misc/Conf): Rearrange World.RealmAvailability
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged

#9021 Scripts/Commands: Convert cs_disable to new system
  src/server/scripts/Commands/cs_disable.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9042 refactor(Scripts/Spells): convert spell_dk into new system
  src/server/scripts/Spells/spell_dk.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9043 refactor(Scripts/Spells): convert spell_druid into new system
  src/server/scripts/Spells/spell_druid.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9045 refactor(Scripts/Spells): convert spell_hunter into new system
  src/server/scripts/Spells/spell_hunter.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9046 refactor(Scripts/Creature): convert pets into new system
  src/server/scripts/Pet/pet_generic.cpp
  src/server/scripts/Pet/pet_hunter.cpp
  src/server/scripts/Pet/pet_mage.cpp
  src/server/scripts/Pet/pet_priest.cpp
  src/server/scripts/Pet/pet_shaman.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9047 refactor(Scripts/Spells): convert spell_rogue into new system
  src/server/scripts/Spells/spell_rogue.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9058 refactor(Scripts/Spells): convert spell_mage into new system
  data/sql/updates/pending_db_world/rev_1636371600934152600.sql
  src/server/scripts/Spells/spell_mage.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#9061 refactor(Scripts/Spells): convert spell_paladin into new system
  src/server/scripts/Spells/spell_paladin.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9063 refactor(Scripts/Spells): convert spell_priest into new system
  src/server/scripts/Spells/spell_priest.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9064 refactor(Scripts/Spells): convert spell_quest into new system
  src/server/scripts/Spells/spell_quest.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9065 refactor(Scripts/Spells): convert spell_shaman into new system
  src/server/scripts/Spells/spell_shaman.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9066 refactor(Scripts/Spells): convert spell_warlock into new system
  src/server/scripts/Spells/spell_warlock.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9068 refactor(Scripts/Spells): convert spell_warrior into new system
  src/server/scripts/Spells/spell_warrior.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9019 fix(DB/quest): Removes deprecated breadcrumb quests as prerequisites fo…
  data/sql/updates/pending_db_world/rev_1636255045851495435.sql
Labels: Quest, 50-59, DB, To Be Merged, Battlegrounds

#9020 Scripts/Commands: Convert cs_mmap to new system
  src/server/scripts/Commands/cs_mmaps.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9055 fix(Scripts/Misc): AhnKahet instance script typo
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/ahnkahet.h
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/boss_amanitar.cpp
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/boss_elder_nadox.cpp
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/boss_herald_volazj.cpp
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/boss_jedoga_shadowseeker.cpp
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/boss_prince_taldaram.cpp
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/instance_ahnkahet.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9090 Fix(core/Creature) initialize AI before calling OnCreatureCreate
  src/server/game/Entities/Creature/Creature.cpp
Labels: CORE, To Be Merged, Priority-Critical, file-cpp

#9016 Move complex functions from Object.h to Object.cpp
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
Labels: CORE, To Be Merged, file-cpp

#9077 fix(Scripts/LBRS): Quartermaster Zigris
  data/sql/updates/pending_db_world/rev_1636434085380352700.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/blackrock_spire.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_quartermaster_zigris.cpp
  src/server/scripts/EasternKingdoms/eastern_kingdoms_script_loader.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#9093 fix(DB/Creatures): Added missing spawns of Spire Scarab and Spire Sco…
  data/sql/updates/pending_db_world/rev_1636480864914115300.sql
Labels: 50-59, DB, To Be Merged, Instance - Dungeon - Vanilla

#9024 fix(Script/Spell): Dark Reckoning
  data/sql/updates/pending_db_world/rev_1636293158309628100.sql
  src/server/scripts/Northrend/IcecrownCitadel/boss_lady_deathwhisper.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#9096 Fix(DB/Loot): Green Winter Hat should drop only if Winter Veil is active
  data/sql/updates/pending_db_world/rev_1636491400432791100.sql
Labels: DB, Ready to be Reviewed, Loot

#9092 fix(DB/Formations): Linked some creatures in Drakkisath Room into one…
  data/sql/updates/pending_db_world/rev_1636478862897449300.sql
Labels: 50-59, DB, To Be Merged, Instance - Dungeon - Vanilla

#9073 fix(DB/Creature): Ilkrud Magthrull
  data/sql/updates/pending_db_world/rev_1636419605276828400.sql
Labels: DB, To Be Merged

#9103 fix(CI): trigger builds on C++ changes
  .github/workflows/labeler.yml
  .github/workflows/pr_labeler.yml
  src/server/game/Spells/Spell.cpp
Labels: Workflow, CORE, file-cpp

#9106 fix(CI): revert sleep + fix shadowing variable issue
  .github/workflows/pr_labeler.yml
  src/server/game/Spells/Spell.cpp
Labels: CORE, file-cpp

#9052 Scripts/Commands: Convert cs_reload to new system
  src/server/scripts/Commands/cs_reload.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9078 Scripts/Commands: Convert cs_server to new system
  src/server/scripts/Commands/cs_server.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9114 fix(CI): re-run builds if label is present
  .github/workflows/core_matrix_build.yml
  .github/workflows/core_modules_build.yml
  .github/workflows/cpp20.yml
  .github/workflows/docker_build.yml
  .github/workflows/macos_build.yml
  .github/workflows/windows_build.yml
Labels: Workflow, To Be Merged, Continuous Integration

#9099 feat(Core/Disables): Implement DISABLE_TYPE_GAME_EVENT
  src/server/game/Conditions/DisableMgr.cpp
  src/server/game/Conditions/DisableMgr.h
  src/server/game/Events/GameEventMgr.cpp
  src/server/game/Events/GameEventMgr.h
  src/server/game/Handlers/CalendarHandler.cpp
Labels: Priority-High, CORE, To Be Merged, file-cpp

#9017 Core/Misc: Change how Position struct is retrieved
  src/server/game/AI/CreatureAI.cpp
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/Battlefield/Zones/BattlefieldWG.cpp
  src/server/game/Battlefield/Zones/BattlefieldWG.h
  src/server/game/Battlegrounds/Battleground.cpp
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/SpellEffects.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_the_beast.cpp
  src/server/scripts/EasternKingdoms/Karazhan/boss_moroes.cpp
  src/server/scripts/EasternKingdoms/Karazhan/boss_prince_malchezaar.cpp
  src/server/scripts/EasternKingdoms/Karazhan/bosses_opera.cpp
  src/server/scripts/EasternKingdoms/zone_isle_of_queldanas.cpp
  src/server/scripts/Events/hallows_end.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_archimonde.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/CullingOfStratholme/instance_culling_of_stratholme.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/instance_the_black_morass.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/the_black_morass.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ayamiss.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ossirian.cpp
  src/server/scripts/Kalimdor/zone_azuremyst_isle.cpp
  src/server/scripts/Northrend/ChamberOfAspects/RubySanctum/boss_halion.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_icecrown_gunship_battle.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_professor_putricide.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_sindragosa.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_mimiron.cpp
  src/server/scripts/Northrend/zone_dalaran.cpp
  src/server/scripts/Outland/TempestKeep/Mechanar/boss_mechano_lord_capacitus.cpp
  src/server/scripts/Outland/zone_shadowmoon_valley.cpp
  src/server/scripts/Spells/spell_generic.cpp
  src/server/scripts/Spells/spell_quest.cpp
  src/server/scripts/World/boss_emerald_dragons.cpp
  src/server/scripts/World/npc_stave_of_ancients.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#8985 fix(DB/Spells): Glyph of Backstab should proc off only from Backstab.
  data/sql/updates/pending_db_world/rev_1636143937359438400.sql
Labels: ChromieCraft Generic, DB, To Be Merged, Class - Rogue

#9007 immolthar and mobs around are now immune to combat until the pylons are activated
  src/server/scripts/Kalimdor/DireMaul/instance_dire_maul.cpp
Labels: CORE, To Be Merged, Script

#9138 fix(Scripts/UBRS): Drakkisath's Conflagration should be cast on the m…
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_drakkisath.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9136 fix(Scripts/UBRS): Pyroguard Emberseer adds improvements
  data/sql/updates/pending_db_world/rev_1636652299107244900.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_gyth.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_pyroguard_emberseer.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#9050 Scripts/Commands: Convert cs_learn & cs_player to new system
  src/server/scripts/Commands/PlayerCommand.cpp
  src/server/scripts/Commands/PlayerCommand.h
  src/server/scripts/Commands/cs_learn.cpp
  src/server/scripts/Commands/cs_player.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9067 fix(Scripts/BlackrockSpire): Urok Doomhowl - improvements:
  data/sql/updates/pending_db_world/rev_1636407148113092900.sql
  src/server/game/AI/ScriptedAI/ScriptedCreature.cpp
  src/server/game/AI/ScriptedAI/ScriptedCreature.h
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Grids/Notifiers/GridNotifiers.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_urok_doomhowl.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/instance_blackrock_spire.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#9132 fix(Scripts/Spells): Holiday food items should give their buff after …
  data/sql/updates/pending_db_world/rev_1634947992074110300.sql
  src/server/scripts/Spells/spell_generic.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#9070 feat(Script/Commands): .debug dummy
  data/sql/updates/pending_db_world/rev_1636416788284117500.sql
  src/server/scripts/Commands/cs_debug.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#9098 Fix(Core/Achievement): Throw food
  src/server/scripts/Events/pilgrims_bounty.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, World Event, Script, file-cpp

#9097 Fix(DB/Event): Remove Bountiful Barrels from wrong zones
  data/sql/updates/pending_db_world/rev_1636493523189661400.sql
Labels: DB, To Be Merged, World Event

#9157 fix(Core): Crashfix.
  src/server/scripts/Spells/spell_priest.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Script, Priority-Critical, file-cpp

#9044 refactor(Scripts/Spells): convert spell_generic into new system
  src/server/scripts/Spells/spell_generic.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9005 fix(Scripts/Spell): Don't allow to tame an already owned creature
  src/server/game/Entities/Unit/Unit.h
  src/server/scripts/Spells/spell_hunter.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#8969 fix(DB/creature_loot): drop chance of items that start a quest at elwyn forest
  data/sql/updates/pending_db_world/rev_1636103884460644100.sql
Labels: DB, To Be Merged

#9167 fix(Core/Disables): Remove validation checks from DISABLE_TYPE_GAME_E…
  src/server/game/Conditions/DisableMgr.cpp
Labels: CORE, To Be Merged, file-cpp

#9057 refactor(Scripts/Spells): convert spell_item into new system
  data/sql/updates/pending_db_world/rev_1636370189364521600.sql
  src/server/scripts/Spells/spell_item.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#9173 fix(DB/SAI): Blackhand Dragon Handler should cast Mend Dragon
  data/sql/updates/pending_db_world/rev_1636812374856286400.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#9172 fix(DB/SAI): Blackhand Dreadwaver should cast Curse of Thorns
  data/sql/updates/pending_db_world/rev_1636810061548705300.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#9125 fix(Core/Spells): Steady Shoot should not suspend ranged attack timer.
  src/server/game/Entities/Unit/Unit.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Class - Hunter, file-cpp

#9100 Scripts/Commands: Convert cs_lookup to new system
  src/server/scripts/Commands/cs_lookup.cpp
  src/server/scripts/EasternKingdoms/Stratholme/boss_baroness_anastari.cpp
Labels: CORE, To Be Merged, Script, file-cpp
