Repository azerothcore/azerothcore-wotlk, pull requests merged in 2021-08, with the labels that each got.

#7101 fix(Core): Impelement CREATURE_FLAG_EXTRA_NO_PLAYER_DAMAGE_REQ
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Miscellaneous/Formulas.cpp
Labels: CORE, New Feature, To Be Merged

#7099 fix(Core/Spell): Impelement SPELL_ATTR7_NO_ATTACK_DODGE & SPELL_ATTR7…
  src/server/game/Entities/Unit/Unit.cpp
  src/server/shared/SharedDefines.h
Labels: CORE, To Be Merged

#7102 fix(Core/Spells): Master of Elements
  data/sql/updates/pending_db_world/rev_1627305467043107200.sql
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
  src/server/scripts/Spells/spell_mage.cpp
Labels: CORE, Class-Mage, DB, Script, To Be Merged

#7128 fix(DB/Creature): Fixed speed walking of Grunter
  data/sql/updates/pending_db_world/rev_1627303283998958800.sql
Labels: DB, To Be Merged

#7132 fix(DB/Creature): Added patrolling to Dart(14232)
  data/sql/updates/pending_db_world/rev_1627307634943513800.sql
Labels: DB, To Be Merged

#7129 fix(DB/creature): Fixed Anvilrage Taskmaster spawns inside Anvilrage Enforcer
  data/sql/updates/pending_db_world/rev_1627304134519639700.sql
Labels: DB, To Be Merged

#7131 fix(Core/Pets): Corrected pet speed catchup system.
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
Labels: CORE, To Be Merged, run-build

#7133 fix(DB/Creature): Added patrolling and new spawns to Omgorn the Lost
  data/sql/updates/pending_db_world/rev_1627308091046661200.sql
Labels: 40-49, DB, To Be Merged

#7140 fix(DB/Creature): Fixed spawn point of Scarlet High Clerist
  data/sql/updates/pending_db_world/rev_1627383748783756100.sql
Labels: 50-59, DB, To Be Merged

#7141 fix(DB/Creature): Added patrolling to Foulmane
  data/sql/updates/pending_db_world/rev_1627384150089455900.sql
Labels: 50-59, DB, To Be Merged

#7134 fix(DB/Spells): Corrected attributes for Intercept.
  data/sql/updates/pending_db_world/rev_1627313288997304500.sql
Labels: ChromieCraft Generic, Class-Warrior, DB, To Be Merged

#7146 fix(Core/Spells): Regenerating POWER_HAPPINESS should not generate additio…
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, ChromieCraft Generic, To Be Merged

#7147 fix(DB/Quest): Made Mortality Wanes alliance only
  data/sql/updates/pending_db_world/rev_1627389223377644200.sql
Labels: 30-39, DB, To Be Merged

#7115 fix(DB/Creature): Added patrolling and fixes to Spiteflayer
  data/sql/updates/pending_db_world/rev_1627232964089259500.sql
Labels: DB, To Be Merged

#7150 fix(DB/Creature): Add movement to various Ghostclaws/Mistbats
  data/sql/updates/pending_db_world/rev_1627393900919186826.sql
Labels: 1-19, DB, To Be Merged

#7173 fix(DB): Fixed Stormwind moonwell
  data/sql/updates/pending_db_world/rev_1627578885877631300.sql
Labels: DB, To Be Merged

#7152 Core/Movement: Properly handled UNIT_STATE_CHARGING.
  src/server/game/Movement/MovementGenerators/PointMovementGenerator.cpp
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, To Be Merged

#7157 fix(Core/Totems): Searing Totem will properly attack neutral targets.
  src/server/game/AI/CoreAI/TotemAI.cpp
  src/server/game/Grids/Notifiers/GridNotifiers.h
Labels: CORE, Class-Shaman, To Be Merged

#7161 fix(Core/Spells): Glyphs should send SMSG_LEARNED_SPELL/SMSG_REMOVED_…
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, To Be Merged

#7174 fix(DB): Moved Briarthorn node outside of terrain
  data/sql/updates/pending_db_world/rev_1627581490592719000.sql
Labels: DB, To Be Merged

#7177 fix(DB/Spell): Set proc cooldown of Taste of Blood to 5.5 sec.
  data/sql/updates/pending_db_world/rev_1627655074869500200.sql
Labels: Class-Warrior, DB, To Be Merged

#7160 fix(Core/Items): Removed tradeable flag from items with temp enchants.
  src/server/game/Spells/SpellEffects.cpp
Labels: To Be Merged, CORE, Loot

#7162 fix(Core/Spells): Fixed displaying "That Glyph is already inscribed i…
  src/server/game/Entities/Player/Player.cpp
Labels: To Be Merged, CORE

#7163 fix(Core/Cooldowns): Fixed replacing longer cooldowns by equip cooldown.
  src/server/game/Entities/Player/Player.cpp
Labels: To Be Merged, CORE

#7172 fix(Core/Spells): Forbid using charge if already charging to someone.
  src/server/game/Spells/Spell.cpp
Labels: Class-Warrior, To Be Merged, CORE

#7171 fix(Core/Spells): Disarmed creatures should no cast spells that requi…
  src/server/game/Spells/Spell.cpp
Labels: To Be Merged, CORE

#7178 fix(Core/Spells): Implemented SPELL_ATTR3_NO_PROC_EQUIP_REQUIREMENT.
  src/server/game/Entities/Unit/Unit.cpp
Labels: Class-Warrior, To Be Merged, CORE

#7179 fix(Core/Totems): Totems should not fall to the depth in water.
  src/server/game/Entities/Totem/Totem.cpp
Labels: To Be Merged, CORE

#7180 fix(Core/Spells): Next melee swing spells are supposed to be queued u…
  src/server/game/Spells/Spell.cpp
Labels: Class-Hunter, Class-Warrior, To Be Merged, CORE

#7181 fix(Core/SOAP): mem leak and new/free mismatch
  src/server/worldserver/ACSoap/ACSoap.cpp
Labels: To Be Merged, CORE

#7169 fix(DB/Creature): Fixed Olm the wise spawning multiple times concurrently
  data/sql/updates/pending_db_world/rev_1627568726175425000.sql
Labels: To Be Merged, DB, 40-49

#7185 fix(Scripts/Spell): combustion will now properly go on cooldown when the buff is manually cancelled
  data/sql/updates/pending_db_world/rev_1627725819856031500.sql
  src/server/scripts/Spells/spell_mage.cpp
Labels: To Be Merged, DB, CORE, Script

#7191 fix(Core/Spells): Killing spree should not affect invisible units.
  src/server/scripts/Spells/spell_rogue.cpp
Labels: To Be Merged, CORE, Script

#7189 fix(DB/Creature): Added patrolling to Azurous(10202)
  data/sql/updates/pending_db_world/rev_1627741035221642000.sql
Labels: To Be Merged, DB, 50-59

#7205 fix(Core/Spells): Corrected implementation of SPELL_ATTR5_AURA_AFFECT…
  src/server/game/Entities/Unit/Unit.cpp
Labels: Class-Warrior, To Be Merged, CORE

#7170 fix(DB/Creature): Fixed spawns of Death Howl
  data/sql/updates/pending_db_world/rev_1627571680257852000.sql
Labels: To Be Merged, DB, 40-49

#7186 fix(DB/quest_request_items): quest completion text for Crew Under Fire & closes #7029
  data/sql/updates/pending_db_world/rev_1627727878498349900.sql
Labels: To Be Merged, DB, 40-49

#7188 fix(DB/Creature): Fixed the spawns of two Heavy War Golem (5854)
  data/sql/updates/pending_db_world/rev_1627735957987999500.sql
Labels: To Be Merged, DB, 50-59

#7187 fix(DB/Creature): Added spawn and movement to Lord Maldazzar
  data/sql/updates/pending_db_world/rev_1627733875042202000.sql
Labels: To Be Merged, DB, 50-59

#7065 refactor(Scripts/Kalimdor): code cleanup (part 10)
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_anetheron.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_archimonde.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_azgalor.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjal.h
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjalAI.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjal_trash.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/instance_hyjal.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/CullingOfStratholme/culling_of_stratholme.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/EscapeFromDurnholdeKeep/old_hillsbrad.h
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_kurinnaxx.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_rajaxx.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_bug_trio.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_ouro.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_twinemperors.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/mob_anubisath_sentinel.cpp
  src/server/scripts/Kalimdor/ZulFarrak/instance_zulfarrak.cpp
  src/server/scripts/Kalimdor/boss_azuregos.cpp
  src/server/scripts/Kalimdor/kalimdor_script_loader.cpp
  src/server/scripts/Kalimdor/zone_desolace.cpp
  src/server/scripts/Kalimdor/zone_dustwallow_marsh.cpp
  src/server/scripts/Kalimdor/zone_feralas.cpp
  src/server/scripts/Kalimdor/zone_mulgore.cpp
  src/server/scripts/Kalimdor/zone_silithus.cpp
  src/server/scripts/Kalimdor/zone_teldrassil.cpp
  src/server/scripts/Kalimdor/zone_the_barrens.cpp
Labels: To Be Merged, CORE, Script

#7211 fix(Core/Items): Destroy invalid own guild/arena charter if already j…
  src/server/game/Petitions/PetitionMgr.cpp
Labels: To Be Merged, CORE

#7190 fix(Scripts/Items): Fixed Goblin Bomb Dispenser.
  data/sql/updates/pending_db_world/rev_1627743560834389300.sql
  src/server/scripts/Pet/pet_generic.cpp
  src/server/scripts/Spells/spell_item.cpp
Labels: To Be Merged, DB, CORE, Script

#7213 fix(Core/Quests): Send SMSG_QUESTUPDATE_COMPLETE packet on quest comp…
  src/server/game/Entities/Player/PlayerQuest.cpp
Labels: To Be Merged, Quest, CORE

#7195 fix(DB/Loot): Delete 'Recipe: Savory Deviate Delight' from RLT 24701
  data/sql/updates/pending_db_world/rev_1627805665809266322.sql
Labels: To Be Merged, DB, Loot, 1-19

#7230 fix(Core/Spells): Pets should not dispel beneficials bufs from neutra…
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Reputation/ReputationMgr.h
  src/server/shared/DataStores/DBCEnums.h
  src/server/shared/DataStores/DBCStructure.h
Labels: Class-Warlock, To Be Merged, CORE

#7196 fix(DB): Fixed corrupted and cleansed plants on Felwood
  data/sql/updates/pending_db_world/rev_1627813955000857700.sql
Labels: To Be Merged, DB, 40-49

#7197 fix(DB/creature): Added movement to Mok'rash (1493)
  data/sql/updates/pending_db_world/rev_1627818799536182900.sql
Labels: To Be Merged, DB, 30-39

#7151 fix(Scripts/Spells): Windfury Weapon should not consume Flurry stacks.
  data/sql/updates/pending_db_world/rev_1627403306832649400.sql
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/scripts/Spells/spell_shaman.cpp
Labels: Class-Shaman, To Be Merged, DB, CORE, Ready to be Reviewed, Script

#7198 fix(DB/creature): Fix Arei on Ancient Spirit quest
  data/sql/updates/pending_db_world/rev_1627842189482644400.sql
Labels: To Be Merged, DB, 40-49

#7235 fix(Core/Spells): Do not attack focus target while charging.
  src/server/game/Spells/SpellEffects.cpp
Labels: Class-Warrior, To Be Merged, CORE, ChromieCraft Generic

#7200 fix(DB/Quest): Fixed Brood of Onyxia (1172) eggs
  data/sql/updates/pending_db_world/rev_1627894869122476600.sql
Labels: To Be Merged, DB, 40-49

#7135 fix(Core/Spells): Always Select Correct Item When Updating Weapon Skill
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerUpdates.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
Labels: To Be Merged, CORE

#7202 fix(DB/object): Fixed skull piles despawning on quest Speaking with Nezzliok
  data/sql/updates/pending_db_world/rev_1627896958983750100.sql
Labels: To Be Merged, DB, 30-39

#7236 fix(Core/Maps): Enabled dead players to be resurrected at the dungeon…
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/PlayerStorage.cpp
  src/server/game/Handlers/MiscHandler.cpp
  src/server/game/Handlers/MovementHandler.cpp
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
  src/server/game/Maps/MapInstanced.cpp
  src/server/game/Maps/MapInstanced.h
  src/server/game/Maps/MapManager.cpp
  src/server/game/Maps/MapManager.h
  src/server/game/Spells/SpellEffects.cpp
Labels: To Be Merged, CORE, ChromieCraft Generic

#3449 fix(Scripts/DB): Ahn'kahet rewrite
  data/sql/updates/pending_db_world/rev_1617252770182832100.sql
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/ahnkahet.h
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/boss_amanitar.cpp
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/boss_elder_nadox.cpp
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/boss_herald_volazj.cpp
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/boss_jedoga_shadowseeker.cpp
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/boss_prince_taldaram.cpp
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/def_ahnkahet.h
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/instance_ahnkahet.cpp
Labels: To Be Merged, Needs feedback, DB, CORE, Script

#7103 refactor(Scripts/Northrend): code cleanup (part 11)
  src/server/scripts/Northrend/Naxxramas/boss_gothik.cpp
  src/server/scripts/Northrend/Naxxramas/instance_naxxramas.cpp
  src/server/scripts/Northrend/Nexus/EyeOfEternity/boss_malygos.cpp
  src/server/scripts/Northrend/Nexus/Nexus/boss_ormorok.cpp
  src/server/scripts/Northrend/Nexus/Oculus/boss_urom.cpp
  src/server/scripts/Northrend/Nexus/Oculus/oculus.cpp
  src/server/scripts/Northrend/Ulduar/HallsOfStone/boss_maiden_of_grief.cpp
  src/server/scripts/Northrend/Ulduar/HallsOfStone/brann_bronzebeard.cpp
  src/server/scripts/Northrend/Ulduar/HallsOfStone/instance_halls_of_stone.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_auriaya.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_flame_leviathan.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_freya.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_general_vezax.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_hodir.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_ignis.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_mimiron.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_razorscale.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_thorim.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/instance_ulduar.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardePinnacle/boss_svala.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardePinnacle/instance_utgarde_pinnacle.cpp
  src/server/scripts/Northrend/VaultOfArchavon/boss_toravon.cpp
  src/server/scripts/Northrend/VioletHold/boss_ichoron.cpp
  src/server/scripts/Northrend/zone_dalaran.cpp
  src/server/scripts/Northrend/zone_dragonblight.cpp
  src/server/scripts/Northrend/zone_howling_fjord.cpp
  src/server/scripts/Northrend/zone_sholazar_basin.cpp
  src/server/scripts/Northrend/zone_wintergrasp.cpp
Labels: To Be Merged, CORE, Script, run-build

#7203 fix(DB/Creature): Fixed rare mob mongress(14344) spawn movement
  data/sql/updates/pending_db_world/rev_1627898569049526800.sql
Labels: To Be Merged, DB, 40-49

#7210 fix(DB/Creature): Fix spawn point of Wildthorn Stalker
  data/sql/updates/pending_db_world/rev_1627916502657250695.sql
Labels: To Be Merged, DB, 20-29

#7220 fix(DB/Reputation): Correct Caliph/Wastewander Gadgetzan reps
  data/sql/updates/pending_db_world/rev_1628001727322964286.sql
Labels: To Be Merged, DB, 40-49

#7066 Core/Collision: Fix typo in VMap BIH generation.
  apps/installer/includes/functions.sh
  src/common/Collision/BoundingIntervalHierarchy.cpp
  src/common/Collision/Maps/MapDefines.h
  src/common/Collision/VMapDefinitions.h
  src/server/scripts/Commands/cs_misc.cpp
  src/tools/vmap4_extractor/vmapexport.h
Labels: To Be Merged, Bash, CORE, mmap/vmap, Script

#7166 fix error when execute vmap4assembler.exe in extractor.bat
  apps/extractor/extractor.bat
Labels: To Be Merged, mmap/vmap

#7184 fix(Core/Spells): Glyph of Freezing Trap Applying Slow Incorrectly
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/Auras/SpellAuras.cpp
Labels: To Be Merged, CORE

#7221 fix(DB/Spells): Shadow Weaving can proc from periodic spells.
  data/sql/updates/pending_db_world/rev_1628018690377094600.sql
Labels: Class-Priest, To Be Merged, DB, ChromieCraft Generic

#7225 fix(DB/creature): Changed the spell Chill to Chilled for Chillwind Ravager
  data/sql/updates/pending_db_world/rev_1628065925391917900.sql
Labels: To Be Merged, DB, 50-59

#7227 fix(DB/Loot): Delete Pure Un'goro Sample from Firegut Brute drops
  data/sql/updates/pending_db_world/rev_1628079063977567436.sql
Labels: To Be Merged, DB, 40-49

#7228 fix(DB/Loot): Remove two lvl 75 plans from Galak Windchaser drops
  data/sql/updates/pending_db_world/rev_1628079878307473993.sql
Labels: To Be Merged, DB, Loot, 20-29

#7229 fix(DB/creature): Added patrolling to Anathemus
  data/sql/updates/pending_db_world/rev_1628080294513744600.sql
Labels: To Be Merged, DB, 40-49

#7231 fix(DB/Creature): Removed spell Trash from Mosh'Ogg Brute (1142)
  data/sql/updates/pending_db_world/rev_1628101702822210800.sql
Labels: To Be Merged, DB, 30-39

#7233 fix(DB/Creatures): Do not check race requirement for mount trainers.
  data/sql/updates/pending_db_world/rev_1628102546520423200.sql
Labels: To Be Merged, DB, ChromieCraft Generic

#7262 fix(CI): docker workflow update
  .github/workflows/docker_build.yml
Labels: To Be Merged, Continuous Integration, Workflow, run-build

#7234 fix(DB/quest): Removed the quest Sartheril's Haven(9395) from the quest chain
  data/sql/updates/pending_db_world/rev_1628103343468216300.sql
Labels: To Be Merged, DB, 1-19

#7243 fix(DB/Loot): Make Ranger Jaela and Vile'rel Unskinnable
  data/sql/updates/pending_db_world/rev_1628170702879843880.sql
Labels: To Be Merged, DB, Loot, 30-39

#7245 fix(Core/Spells): Removed hack fix for sword specialization proc.
  src/server/game/Entities/Unit/Unit.cpp
Labels: Class-Rogue, To Be Merged, CORE, ChromieCraft Generic

#7250 fix(DB/Creature): Remove Fedfennel wandering
  data/sql/updates/pending_db_world/rev_1628302161194713320.sql
Labels: To Be Merged, DB, 1-19

#7257 fix(Core/Players): Do not reset contested pvp timer if teleported bet…
  src/server/game/Entities/Player/Player.cpp
Labels: To Be Merged, CORE

#7254 fix(DB/Loot): Create new skinning entries, assigns to various 10-15 NPCs
  data/sql/updates/pending_db_world/rev_1628329351520849428.sql
Labels: To Be Merged, DB, Loot, 1-19

#7258 fix(Core/Spells): Levitate cannot be casted on mounted targets.
  src/server/game/Spells/Spell.cpp
Labels: Class-Priest, To Be Merged, CORE

#7259 fix(DB/Creature): Reorient Dorin Songblade
  data/sql/updates/pending_db_world/rev_1628410058620922947.sql
Labels: To Be Merged, DB, 20-29

#7260 fix(Core/Auction): Server Returning Wrong Items With Auction House Function QueryAuctionItems()
  src/server/game/AuctionHouse/AuctionHouseMgr.cpp
Labels: To Be Merged, CORE, ChromieCraft Generic

#7261 Add missing spells for Wrath Hammer Construct
  data/sql/updates/pending_db_world/rev_1628449221739059900.sql
Labels: To Be Merged, DB, 50-59

#7274 fix(Core/Visibility): Notifies AI of nearby creatures immediately if forced update object visibility is called.
  src/server/game/Entities/Unit/Unit.cpp
Labels: To Be Merged, CORE, ChromieCraft Generic

#7271 fix(DB/Creature): Delete skinning table from lvl 1 Serpentbloom Snake
  data/sql/updates/pending_db_world/rev_1628521621840404043.sql
Labels: To Be Merged, DB, 1-19

#7272 fix(Core/WorldSocket): add missing hook OnLastIpUpdate
  src/server/game/Server/WorldSocket.cpp
Labels: To Be Merged, CORE

#7275 fix(Core/Pets): Do not summon pet if owner is being teleported.
  src/server/game/Handlers/PetHandler.cpp
Labels: To Be Merged, CORE

#7302 fix(DB/creature_template): Make various critters/pets unskinnable
  data/sql/updates/pending_db_world/rev_1628691033880289424.sql
Labels: To Be Merged, DB, Loot, 1-19

#7288 fix(Core/DBPlayer): correct support MariaDB 10.6
  src/server/database/Database/DatabaseWorkerPool.cpp
Labels: To Be Merged, CORE

#7290 fix(Core/Professions): Properly unlearn skill dependent spells.
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
Labels: To Be Merged, CORE

#7289 fix(DB/Creature): Add movement to various Dunemaul Ogres
  data/sql/updates/pending_db_world/rev_1628606203210970248.sql
Labels: To Be Merged, DB, 40-49

#7293 fix(Core/Combat): Do not start combat with pet's current victim on sp…
  src/server/game/Spells/Spell.cpp
Labels: To Be Merged, CORE, ChromieCraft Generic

#7294 fix(Core/Spells): Fixed Master's Call used on rooted pet.
  src/server/game/Spells/Spell.cpp
Labels: Class-Hunter, To Be Merged, CORE, ChromieCraft Generic

#7292 fix(Core/Players): Remove shapeshift auras on taxi restore.
  src/server/game/Entities/Player/Player.cpp
Labels: To Be Merged, CORE, ChromieCraft Generic, run-build

#7303 fix(Scripts/BWL): drakes in Blackwing Lair can't attack
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/instance_blackwing_lair.cpp
Labels: To Be Merged, CORE, Script

#7304 fix(DB/Quest): "Sturdy Rope" Quest Item Despawns Any Low Health NPC, Including Dungeon/Raid Bosses
  data/sql/updates/pending_db_world/rev_1628543691784458000.sql
Labels: To Be Merged, DB, 30-39

#7315 fix(Core/Pets): Controllable guardians (including pets) should not se…
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
Labels: To Be Merged, CORE, ChromieCraft Generic

#7314 fix(DB/smart_scripts): Fix Aku'mai Servant spell targeting
  data/sql/updates/pending_db_world/rev_1628777209086733059.sql
Labels: To Be Merged, DB, 20-29

#7322 fix(DB/Quest): completable flag of "Gaining Acceptance"
  data/sql/updates/pending_db_world/rev_1628872619721549600.sql
Labels: Priority-Low, To Be Merged, DB, 40-49

#7316 fix(Core/Spells): Always melee attack target when charge is over.
  src/server/game/Movement/MotionMaster.cpp
  src/server/game/Movement/MotionMaster.h
  src/server/game/Movement/MovementGenerators/PointMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/PointMovementGenerator.h
  src/server/game/Spells/SpellEffects.cpp
Labels: To Be Merged, CORE, ChromieCraft Generic

#7321 fix(Core/Spells): Beacon of Light should not cause combat.
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellMgr.cpp
Labels: Class-Paladin, To Be Merged, CORE

#7334 fix(DB/quest): Remove incorrect prereq, premature drop for Gurf's Dignity
  data/sql/updates/pending_db_world/rev_1628925002692757285.sql
Labels: To Be Merged, Quest, DB, 1-19

#7336 fix(DB/creature): Add movement to 2 NPC spawns in Azshara
  data/sql/updates/pending_db_world/rev_1628938293777910785.sql
Labels: To Be Merged, DB, 40-49

#7343 fix(DB/creature): Shift Silvermane Stalker spawn slightly
  data/sql/updates/pending_db_world/rev_1628955615714597262.sql
Labels: To Be Merged, 40-49

#7348 fix(DB/creature): Fix Primitive Owlbeast spawn location, movement
  data/sql/updates/pending_db_world/rev_1628999064175305912.sql
Labels: To Be Merged, DB, 40-49

#7367 fix(DB/creature): Remove Gossip from NPC Winkey (7770)
  data/sql/updates/pending_db_world/rev_1629097518726008500.sql
Labels: To Be Merged, DB, 40-49

#7371 fix(Core/Movement): Properly updates MOVE_WALK in case of slowing auras.
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: To Be Merged, CORE, ChromieCraft Generic

#7373 fix(DB/Quest): Tears of the Moon
  data/sql/updates/pending_db_world/rev_1629117996105184400.sql
Labels: To Be Merged, DB, 1-19

#7168 feat(Core/Network): Add conf to allow/disallow storing IP address
  src/server/authserver/Server/AuthSession.cpp
  src/server/authserver/authserver.conf.dist
  src/server/game/Server/WorldSocket.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: To Be Merged, CORE

#7375 fix(Core/Chat): Fix muteTime for players that were muted when offline.
  src/server/game/Server/WorldSocket.cpp
Labels: To Be Merged, CORE, ChromieCraft Generic

#7291 fix(Core/Spells): Added SPELL_ATTR0_CU_NO_INITIAL_THREAT to some spells.
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellMgr.cpp
Labels: To Be Merged, CORE

#7376 fix(DB/Creature): Groomsblood's spawn rate
  data/sql/updates/pending_db_world/rev_1629121385000760612.sql
Labels: To Be Merged, DB, 30-39

#7378 fix(DB/Creature): Mr. Smite Aggro
  data/sql/updates/pending_db_world/rev_1629122909167793000.sql
Labels: To Be Merged, DB, 1-19

#7387 [Core/Crash]: Fix a crash occurring when shutting the server down.
  src/server/game/Maps/MapUpdater.cpp
Labels: To Be Merged, CORE, Priority-Critical

#7393 [DB/Item]: Fix Wolfshead Helm not giving Energy when going into cat form
  data/sql/updates/pending_db_world/rev_1629137505579314700.sql
Labels: To Be Merged, DB

#7396 fix(DB/Creature): Mottled Razormaws tweak
  data/sql/updates/pending_db_world/rev_1629141581522683284.sql
Labels: To Be Merged, DB

#7394 [Core/Spells]: Fix Druid's Enrage not reducing armor.
  src/server/game/Spells/Auras/SpellAuras.cpp
Labels: To Be Merged, CORE

#7395 [Core/Spells]: Fix glyph of arcane shot not refunding mana.
  data/sql/updates/pending_db_world/rev_1629141434760979400.sql
  src/server/scripts/Spells/spell_hunter.cpp
Labels: To Be Merged, DB, CORE, Script

#7397 [Core/Spells]: Fixed stormstrike and lava lash consuing flurry.
  src/server/scripts/Spells/spell_shaman.cpp
Labels: To Be Merged, CORE, Script

#7398 feat(Core/Item): remove item auras after unequipping an item.
  src/server/game/Entities/Player/Player.cpp
Labels: To Be Merged, CORE, 20-29

#7403 fix(DB/Creature): Fix Quartermaster Zigris loot table
  data/sql/updates/pending_db_world/rev_1629205101934861200.sql
Labels: To Be Merged, DB, 50-59

#7404 fix(DB/Creature): Correct script for Quartermaster Zigris
  data/sql/updates/pending_db_world/rev_1629208512724054400.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_quartermaster_zigris.cpp
  src/server/scripts/EasternKingdoms/eastern_kingdoms_script_loader.cpp
Labels: To Be Merged, DB, CORE, Script, 50-59

#7392 fix(DB/Creature): Fix Void Critters spawn time
  data/sql/updates/pending_db_world/rev_1629136958569150200.sql
Labels: To Be Merged, DB

#7405 [Core/Scrips]: Kologarn focused eyebeam should target only 1 target.
  src/server/game/Spells/SpellMgr.cpp
Labels: To Be Merged, CORE

#7407 fix(DB/Creature): Chillwind Chimaera falling through the floor
  data/sql/updates/pending_db_world/rev_1629217819213526612.sql
Labels: To Be Merged, DB, 50-59

#7412 fix(Core/Unit): Fix adds in formation not attacking when leader killed
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/CreatureGroups.cpp
  src/server/game/Entities/Creature/CreatureGroups.h
Labels: To Be Merged, CORE

#7408 fix(DB/Gameobjects): Remove Classic Naxxramas Portal
  data/sql/updates/pending_db_world/rev_1629208615028131900.sql
Labels: To Be Merged, DB

#7136 Add "OnBeforeFinalizePlayerWorldSession" Hook.
  doc/changelog/pendings/changes_1629216324271376300.md
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgr.h
  src/server/game/World/World.cpp
  src/server/game/World/World.h
Labels: To Be Merged, CORE

#7414 fix(DB/Creature): Gizrul the Slavener
  data/sql/updates/pending_db_world/rev_1629238721796812800.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_gizrul_the_slavener.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_halycon.cpp
  src/server/scripts/EasternKingdoms/eastern_kingdoms_script_loader.cpp
Labels: To Be Merged, DB, CORE, Script, 50-59

#7451 fix(CORE/Crash): reload page GetSession check to avoid crash
  src/server/scripts/Commands/cs_reload.cpp
Labels: To Be Merged, CORE, Script

#7391 fix(DB/Creature): Private Hendel - The Missing Diplomat
  data/sql/updates/pending_db_world/rev_1629136628346689200.sql
Labels: To Be Merged, DB

#7323 fix(Core/Arenas): Fixed getting correct battleground status in case o…
  src/server/game/Battlegrounds/Battleground.cpp
Labels: To Be Merged, CORE, ChromieCraft Generic

#7419 fix(DB/creature): respawn timer for Timmy the Cruel
  data/sql/updates/pending_db_world/rev_1629279891518261056.sql
Labels: To Be Merged, DB

#7324 fix(Core/Movement): Rewritten follow movement generator for pets.
  src/server/game/AI/CoreAI/PetAI.cpp
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.h
Labels: To Be Merged, CORE

#7424 fix(DB/Skinning_loot): Remove Chimaera Leather
  data/sql/updates/pending_db_world/rev_1629290838385347720.sql
Labels: To Be Merged, DB, Loot, 50-59

#7438 fix(Script/Spells): Anti-Magic Zone amount calc
  src/server/scripts/Spells/spell_dk.cpp
Labels: To Be Merged, CORE, Script

#7425 fix(DB/Creature): Removed skinloot and skinning_loot_template for Spirestone Mystic
  data/sql/updates/pending_db_world/rev_1629293337424377430.sql
Labels: To Be Merged, DB

#7439 fix(Core/Spells): Sacred Cleansing range
  src/server/game/Spells/SpellMgr.cpp
Labels: To Be Merged, CORE

#7427 fix(DB/Object): Reduce dark iron pillow respawn time
  data/sql/updates/pending_db_world/rev_1629295484385297983.sql
Labels: To Be Merged, DB, 40-49

#7445 fix(CMake/Build): Set default build type to RelWithDebInfo
  CMakeLists.txt
Labels: To Be Merged

#7430 fix(DB): Removes multiple occurances of double ore spawn
  data/sql/updates/pending_db_world/rev_1629289212399915700.sql
Labels: To Be Merged, DB

#7452 fix(Core/Loot):
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/GameObject/GameObject.h
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Groups/Group.cpp
  src/server/game/Handlers/LootHandler.cpp
  src/server/game/Loot/LootItemStorage.cpp
  src/server/game/Loot/LootMgr.cpp
  src/server/game/Loot/LootMgr.h
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_priestess_delrissa.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/instance_trial_of_the_crusader.cpp
  src/server/scripts/Northrend/IcecrownCitadel/instance_icecrown_citadel.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/instance_utgarde_keep.cpp
  src/server/scripts/Outland/GruulsLair/boss_high_king_maulgar.cpp
Labels: To Be Merged, CORE, Ready to be Reviewed, Script

#7435 fix(DB/Creature): Added patrol moves to Fingat (14446)
  data/sql/updates/pending_db_world/rev_1629312732062343549.sql
Labels: To Be Merged, DB, 40-49

#7453 fix(Scripts/Spell): Volley should trigger pet attack in defensive mode.
  data/sql/updates/pending_db_world/rev_1629404470911887900.sql
  src/server/scripts/Spells/spell_hunter.cpp
Labels: Class-Hunter, To Be Merged, DB, CORE, Script

#7436 fix(DB/Creature): Fixed some murlocs spawns
  data/sql/updates/pending_db_world/rev_1629313785965120137.sql
Labels: To Be Merged, DB, 40-49

#7469 fix(Core/Spells): Do not remove stances when teleported from instance…
  src/server/game/Entities/Player/Player.cpp
Labels: To Be Merged, CORE, ChromieCraft Generic

#7442 fix(DB/Creature): Add patrol to Murgurgula (17475)
  data/sql/updates/pending_db_world/rev_1629364085695486470.sql
Labels: To Be Merged, DB, 1-19

#7470 [Core/Misc]: Restore playercreateinfo_item item deletion functionality.
  data/sql/updates/pending_db_world/rev_1629485842027723200.sql
  src/server/game/Globals/ObjectMgr.cpp
Labels: To Be Merged, DB, CORE

#7421 fix(Script/Creature): Move Shadow Hunter Vosh'gajin script to SAI
  data/sql/updates/pending_db_world/rev_1629285313174833600.sql
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_shadow_hunter_voshgajin.cpp
  src/server/scripts/EasternKingdoms/eastern_kingdoms_script_loader.cpp
Labels: To Be Merged, Merge Conflicts, DB, CORE, Script, 50-59

#7448 fix(Core/Maps): Fixed displaying instance warning when entering binde…
  src/server/game/Maps/Map.cpp
Labels: To Be Merged, CORE

#7440 Fix ore wrong spawn bfd
  data/sql/updates/pending_db_world/rev_1629322815778584087.sql
Labels: To Be Merged, DB, 20-29

#7008 Core/Movement:
  src/common/Collision/DynamicTree.cpp
  src/common/Collision/DynamicTree.h
  src/common/Collision/Management/IVMapManager.h
  src/common/Collision/Management/VMapManager2.cpp
  src/common/Collision/Management/VMapManager2.h
  src/common/Collision/Maps/MapTree.h
  src/common/Collision/Models/GameObjectModel.cpp
  src/common/Collision/Models/GameObjectModel.h
  src/common/Collision/Models/WorldModel.cpp
  src/server/game/Battlefield/Zones/BattlefieldWG.cpp
  src/server/game/DungeonFinding/LFGMgr.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Entities/DynamicObject/DynamicObject.cpp
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerStorage.cpp
  src/server/game/Entities/Player/PlayerUpdates.cpp
  src/server/game/Entities/Transport/Transport.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Handlers/MiscHandler.cpp
  src/server/game/Handlers/MovementHandler.cpp
  src/server/game/Handlers/PetHandler.cpp
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
  src/server/game/Maps/MapManager.h
  src/server/game/Misc/GameGraveyard.cpp
  src/server/game/Movement/MotionMaster.cpp
  src/server/game/Movement/MovementGenerators/ConfusedMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/FleeingMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/HomeMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/PathGenerator.cpp
  src/server/game/Movement/Spline/MoveSpline.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Spell.cpp
  src/server/scripts/Commands/cs_misc.cpp
  src/server/scripts/Commands/cs_tele.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
  src/server/shared/DataStores/DBCStructure.h
Labels: Waiting to be Tested, CORE, Ready to be Reviewed, mmap/vmap, Script, ChromieCraft Generic

#7443 fix(DB/Skinning_loot): Remove Thick Wolfhide, adjust other drops
  data/sql/updates/pending_db_world/rev_1629360903817888286.sql
Labels: To Be Merged, DB, Loot, ChromieCraft Generic
