Repository azerothcore/azerothcore-wotlk, pull requests merged in 2021-06, with the labels that each got.

#4920 fix(DB/Zone):improved Zangamarsh
  data/sql/updates/pending_db_world/rev_1616252380101739000.sql
Labels: DB, To Be Merged

#6073 fix(Core/Creature): Make Whitemane's spell casts regular.
  src/server/scripts/EasternKingdoms/ScarletMonastery/instance_scarlet_monastery.cpp
Labels: CORE, ChromieCraft Generic, Script, To Be Merged

#6025 fix(DB/gossip_menu_option): Remove Chromie duplicate gossip options
  data/sql/updates/pending_db_world/rev_1621846003001480200.sql
Labels: 70-79, DB, To Be Merged

#6078 feat(Core/Script): allow ValidateSpellInfo to work with any container type
  src/server/game/Spells/SpellScript.cpp
  src/server/game/Spells/SpellScript.h
Labels: CORE, To Be Merged

#6038 fix(DB/smart_scripts): Play small event on noble brew part 2 completion
  data/sql/updates/pending_db_world/rev_1621933074448445073.sql
Labels: 20-29, DB, To Be Merged

#6105 fix(Core/Spell): Apply AURA_STATE_FAERIE_FIRE to Faerie Fire
  src/server/game/Spells/SpellInfo.cpp
Labels: 40-49, CORE, To Be Merged

#6069 fix(Core/Shared/DB): transactions not being recommitted on dead-lock error
  src/server/database/Database/DatabaseWorkerPool.cpp
  src/server/database/Database/MySQLConnection.cpp
  src/server/database/Database/MySQLConnection.h
  src/server/database/Database/Transaction.cpp
Labels: CORE, To Be Merged

#6039 fix(DB/Quest POI): Quest: Going, Going, Guano!
  data/sql/updates/pending_db_world/rev_1621936778445126400.sql
Labels: 20-29, DB, To Be Merged

#6119 chore(Core/Common): delete macro UNUSED
  src/common/Define.h
  src/server/game/Chat/ChatLink.cpp
  src/server/game/DungeonFinding/LFGScripts.cpp
  src/server/game/Handlers/ChatHandler.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: CORE, To Be Merged

#6120 feat(Core/Apps): add support dynamic lib for EnumUtils
  apps/EnumUtils/enumutils_describe.py
  src/common/Logging/enuminfo_AppenderConsole.cpp
  src/common/Logging/enuminfo_LogCommon.cpp
Labels: CORE, To Be Merged

#6121 chore(Core/AchievementMgr): add GetAchievement helper
  src/server/game/Achievements/AchievementMgr.cpp
  src/server/game/Achievements/AchievementMgr.h
Labels: CORE, To Be Merged

#6041 fix(DB/SAI): Quest: Curing the Sick
  data/sql/updates/pending_db_world/rev_1621946683156041900.sql
Labels: 1-19, DB, To Be Merged

#6047 fix(DB/Spell): Furious Howl & Call of the Wild
  data/sql/updates/pending_db_world/rev_1621959590764804200.sql
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, ChromieCraft Generic, DB, To Be Merged

#6049 fix(DB/gameobject): GObject Respawn: Fathom Stone
  data/sql/updates/pending_db_world/rev_1621964735730077300.sql
Labels: 20-29, DB, To Be Merged

#6082 fix(Scripts/VoA): Toravon Orbs Bug
  src/server/scripts/Northrend/VaultOfArchavon/boss_toravon.cpp
Labels: CORE, Script, To Be Merged

#6108 fix(Scripts/HoL): fix IsEncounterInProgress()
  src/server/scripts/Northrend/Ulduar/HallsOfLightning/instance_halls_of_lightning.cpp
Labels: 70-79, CORE, Instance - Dungeon - Northrend, Script, To Be Merged

#6050 fix(DB/creature_loot_template): NPC loot: Rotting Slime
  data/sql/updates/pending_db_world/rev_1621968262932056500.sql
Labels: 20-29, DB, To Be Merged

#6067 refactor(SmartAI): Moving the script to the DB
  data/sql/updates/pending_db_world/rev_1622076993710927000.sql
  src/server/scripts/World/go_scripts.cpp
Labels: CORE, DB, Script, To Be Merged

#6059 fix(DB/Creature/SAI): Disciple of Naralex
  data/sql/updates/pending_db_world/rev_1622046406344372400.sql
Labels: 1-19, DB, To Be Merged

#6061 fix(DB/SAI): Improve Lunaclaw/Moonkin Stone behaviour
  data/sql/updates/pending_db_world/rev_1622046680993341100.sql
Labels: DB, To Be Merged

#6071 fix(DB/SAI): Swap scripts called on gossip for NPC Krasus
  data/sql/updates/pending_db_world/rev_1622104586099236800.sql
Labels: DB, To Be Merged

#6072 fix(DB/loot): Clean up refs to ref table 24060
  data/sql/updates/pending_db_world/rev_1622103568572292814.sql
Labels: ChromieCraft Generic, DB, Loot, To Be Merged

#6074 fix(DB/loot): Fix messed up Noblegarden loot
  data/sql/updates/pending_db_world/rev_1622106798992540218.sql
Labels: ChromieCraft Generic, DB, Loot, To Be Merged

#6076 fix(DB/loot): Remove overlevelled items
  data/sql/updates/pending_db_world/rev_1622117565567403115.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#6086 fix(DB/creature_template): Set Gatekeeper Rageroar to faction Timbermaw Hold
  data/sql/updates/pending_db_world/rev_1622192313812244100.sql
Labels: 50-59, DB, To Be Merged

#5638 feat(Core/Thread): move Processpriority to separated files
  src/common/Threading/ProcessPriority.cpp
  src/common/Threading/ProcessPriority.h
  src/server/authserver/Main.cpp
  src/server/worldserver/Master.cpp
Labels: CORE, To Be Merged

#6088 fix(DB/loot): Fix drops related to Root Samples Q
  data/sql/updates/pending_db_world/rev_1622133343331446367.sql
Labels: 1-19, DB, To Be Merged

#6113 refactor(Core/Grids): Ported cmangos/mangos-wotlk@ea99457
  src/server/game/AI/CoreAI/TotemAI.cpp
  src/server/game/AI/ScriptedAI/ScriptedCreature.cpp
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/Achievements/AchievementMgr.cpp
  src/server/game/Battlefield/Battlefield.cpp
  src/server/game/Chat/Chat.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Grids/Cells/Cell.h
  src/server/game/Grids/Cells/CellImpl.h
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
  src/server/game/OutdoorPvP/OutdoorPvP.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Auras/SpellAuras.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellEffects.cpp
  src/server/game/Texts/CreatureTextMgr.h
  src/server/scripts/Commands/cs_debug.cpp
  src/server/scripts/Commands/cs_misc.cpp
  src/server/scripts/Commands/cs_mmaps.cpp
  src/server/scripts/EasternKingdoms/ZulAman/boss_akilzon.cpp
  src/server/scripts/EasternKingdoms/ZulAman/boss_janalai.cpp
  src/server/scripts/Events/brewfest.cpp
  src/server/scripts/Events/hallows_end.cpp
  src/server/scripts/Events/love_in_air.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjalAI.cpp
  src/server/scripts/Kalimdor/RazorfenDowns/razorfen_downs.cpp
  src/server/scripts/Kalimdor/ZulFarrak/instance_zulfarrak.cpp
  src/server/scripts/Kalimdor/zone_moonglade.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_the_lich_king.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_valithria_dreamwalker.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
  src/server/scripts/Northrend/Naxxramas/instance_naxxramas.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_flame_leviathan.cpp
  src/server/scripts/Northrend/zone_dragonblight.cpp
  src/server/scripts/Outland/zone_blades_edge_mountains.cpp
  src/server/scripts/Pet/pet_dk.cpp
  src/server/scripts/Spells/spell_generic.cpp
  src/server/scripts/Spells/spell_hunter.cpp
  src/server/scripts/Spells/spell_quest.cpp
  src/server/scripts/World/go_scripts.cpp
Labels: CORE, Script, To Be Merged

#6115 feat(Core/Spell): AssertSpellInfo
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/Conditions/ConditionMgr.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/SpellEffects.cpp
  src/server/game/Spells/SpellMgr.h
  src/server/scripts/Northrend/IcecrownCitadel/boss_blood_queen_lana_thel.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_icecrown_gunship_battle.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_professor_putricide.cpp
  src/server/scripts/Spells/spell_dk.cpp
  src/server/scripts/Spells/spell_generic.cpp
  src/server/scripts/Spells/spell_mage.cpp
  src/server/scripts/Spells/spell_priest.cpp
  src/server/scripts/Spells/spell_rogue.cpp
  src/server/scripts/Spells/spell_warlock.cpp
Labels: CORE, Script, To Be Merged

#5933 fix(Core/Spell): Remove delay from Flare activation
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, ChromieCraft Generic, Class - Hunter, Needs feedback, To Be Merged

#6125 fix(DB/spawn) Remove Earthroot node from Menethil Harbor
  data/sql/updates/pending_db_world/rev_1622344663132928321.sql
Labels: 20-29, DB, To Be Merged

#6169 fix(Core/Spells): On autoshot interrupt send proper packet to cancel …
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, ChromieCraft Generic, To Be Merged

#6175 chore(Core/MIsc): added few helpers for chat commands
  src/server/game/Entities/Object/Object.h
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Maps/MapManager.h
Labels: CORE, To Be Merged

#6172 feat(Core/RASession): switch to boost api
  src/server/worldserver/Master.cpp
  src/server/worldserver/RemoteAccess/RARunnable.cpp
  src/server/worldserver/RemoteAccess/RARunnable.h
  src/server/worldserver/RemoteAccess/RASession.cpp
  src/server/worldserver/RemoteAccess/RASession.h
  src/server/worldserver/RemoteAccess/RASocket.cpp
  src/server/worldserver/RemoteAccess/RASocket.h
Labels: CORE, To Be Merged

#6103 fix(DB/loot): Removes various overlevelled gear drops
  data/sql/updates/pending_db_world/rev_1622268692168409196.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#6104 feat(Modules): Load modules configs before Log initialization to prop…
  src/common/Configuration/Config.cpp
  src/common/Configuration/Config.h
  src/server/worldserver/Main.cpp
  src/server/worldserver/Master.cpp
Labels: CORE, To Be Merged

#6140 fix(Scripts/DB): Improve Demon Portals and convert to SAI
  data/sql/updates/pending_db_world/rev_1622406071663809300.sql
  src/server/scripts/Kalimdor/zone_desolace.cpp
Labels: 30-39, CORE, DB, Script, To Be Merged

#6228 fix(CI): update semicolon check
  .github/workflows/check_pending_sql.yml
Labels: Workflow

#6135 fix(Core/Spells): Changing druid forms should not remove items auras …
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, To Be Merged

#6148 fix(DB): chinese translations
  data/sql/updates/pending_db_world/rev_1622447836581960000.sql
Labels: DB, Ready to be reviewed, To Be Merged

#6136 fix(Core/Spells): Shadowmeld targets only players.
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, ChromieCraft Generic, To Be Merged

#6160 fix(DB): Adjust Advisor Sorrelon gossip conditions
  data/sql/updates/pending_db_world/rev_1622465489637988400.sql
Labels: 1-19, DB, To Be Merged

#6138 fix(Core/Spells): Disable fishing if not in los within boober destina…
  src/server/game/Spells/Spell.cpp
Labels: CORE, ChromieCraft Generic, To Be Merged

#6177 fix(DB/creature): Kurdros and Granistad movement
  data/sql/updates/pending_db_world/rev_1622559179437510182.sql
Labels: 20-29, DB, To Be Merged

#6173 fix(DB/loot): Slimy, Oozing, Scum Covered Bag loot
  data/sql/updates/pending_db_world/rev_1622547209752619743.sql
Labels: 40-49, 50-59, DB, To Be Merged

#6178 fix(DB/loot): Dalaran Miner and Brewmaster drops
  data/sql/updates/pending_db_world/rev_1622560225187552441.sql
Labels: 1-19, DB, To Be Merged

#6102 fix(DB/loot): Removes Scarlet Set items from rand_loot_temp tables
  data/sql/updates/pending_db_world/rev_1622263128329617917.sql
Labels: 30-39, DB, To Be Merged

#6151 fix(Core/Loot): Properly save and load from DB loot from items.
  data/sql/updates/pending_db_characters/rev_1622403654219554600.sql
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Loot/LootItemStorage.cpp
  src/server/game/Loot/LootItemStorage.h
  src/server/game/Loot/LootMgr.cpp
  src/server/game/Loot/LootMgr.h
Labels: CORE, ChromieCraft Generic, DB, To Be Merged

#6180 fix(DB/loot): Highland Fleshstalker drops
  data/sql/updates/pending_db_world/rev_1622589180419433300.sql
Labels: DB, To Be Merged

#6241 feat(CI): run pr builds on label
  .github/workflows/docker_build.yml
  .github/workflows/macos_build.yml
  .github/workflows/windows_build.yml
Labels: Continuous Integration, To Be Merged, Workflow, run-build

#6182 fix(DB/loot): Dinosaur bones in Un'Goro crater are dropping without the associated quest
  data/sql/updates/pending_db_world/rev_1622599423158947800.sql
Labels: 50-59, DB, To Be Merged

#6184 fix(DB/creature): Son of Arugal movement
  data/sql/updates/pending_db_world/rev_1622617341739892363.sql
Labels: 20-29, DB, To Be Merged

#6207 fix(Core/Pets): Pets should update speed out of combat only if are fo…
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, ChromieCraft Generic, To Be Merged

#6186 fix(Scripts/Spells): Seal of Command cannot be casted on dead targets.
  src/server/scripts/Spells/spell_paladin.cpp
Labels: CORE, ChromieCraft Generic, Script, To Be Merged

#6185 fix(DB/waypoint_data): Aku'mai pathing
  data/sql/updates/pending_db_world/rev_1622618904028016440.sql
Labels: 20-29, DB, To Be Merged

#5681 feat(CI): add clang12 to core_build matrix
  .github/workflows/core_build.yml
  apps/ci/ci-conf.sh
  apps/ci/ci-install.sh
Labels: Bash, Continuous Integration, Workflow, run-build

#6192 fix(DB/creature): Greymist murlocs movement
  data/sql/updates/pending_db_world/rev_1622621882267236728.sql
Labels: 1-19, DB, To Be Merged

#6255 fix(Core/Spells): Spells and auras activated by item use should not b…
  src/server/game/Entities/Player/Player.cpp
Labels: 20-29, To Be Merged, run-build

#6196 fix(DB/spell): Fix Hex of Ravenclaw Removal spell
  data/sql/updates/pending_db_world/rev_1622632251168886593.sql
Labels: 1-19, DB, To Be Merged

#6197 fix(DB/gameobject): Adjust Barrel location
  data/sql/updates/pending_db_world/rev_1622640898688425404.sql
Labels: 20-29, DB, To Be Merged

#6199 fix(DB/loot): Remove Webbed Creature drops
  data/sql/updates/pending_db_world/rev_1622644136275319906.sql
Labels: 1-19, DB, To Be Merged

#6200 fix(DB): Add missing script for The Binding quest
  data/sql/updates/pending_db_world/rev_1622649662516201100.sql
Labels: DB, To Be Merged

#6257 fix(Core/Spells): Updates autoshoot spell target in case of clientsid…
  src/server/game/Handlers/MiscHandler.cpp
Labels: CORE, ChromieCraft Generic, To Be Merged

#6201 fix(DB/events): Fishing Extravaganza wrong start time
  data/sql/updates/pending_db_world/rev_1622671275114677000.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#6212 fix(DB/creature): Fix some raptors not moving
  data/sql/updates/pending_db_world/rev_1622733528401617288.sql
Labels: 20-29, DB, To Be Merged

#6213 fix(DB/smart_scripts): The Plains Vision speed
  data/sql/updates/pending_db_world/rev_1622735574123785029.sql
Labels: 1-19, DB, To Be Merged

#6225 fix(DB/Creature): Some Nethergarde Foremans missing patrol pattern
  data/sql/updates/pending_db_world/rev_1622849161495010100.sql
Labels: 50-59, DB, To Be Merged

#6191 fix(Core/Spells): Category cooldowns should be processed only within …
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, To Be Merged

#6183 fix(DB/spell): Feral Spells are not gated at trainers
  data/sql/updates/pending_db_world/rev_1622610877406607900.sql
Labels: DB, To Be Merged

#5895 FIX(CORE/UNIT) Dodges, parries and critters not increasing weapon skills
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, ChromieCraft Generic, To Be Merged

#6202 fix(DB/loot): Unholy Alliance available without prerequisites
  data/sql/updates/pending_db_world/rev_1622673575587160400.sql
Labels: DB, To Be Merged

#6302 feat(core): improved some hooks
  src/server/game/Achievements/AchievementMgr.cpp
  src/server/game/Battlegrounds/ArenaTeamMgr.cpp
  src/server/game/Battlegrounds/ArenaTeamMgr.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Instances/InstanceSaveMgr.h
  src/server/game/Loot/LootMgr.cpp
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgr.h
  src/server/scripts/Events/pilgrims_bounty.cpp
  src/server/scripts/Northrend/AzjolNerub/AzjolNerub/boss_hadronox.cpp
  src/server/scripts/Northrend/AzjolNerub/AzjolNerub/boss_krikthir_the_gatewatcher.cpp
  src/server/scripts/Northrend/DraktharonKeep/boss_dred.cpp
  src/server/scripts/Northrend/DraktharonKeep/boss_novos.cpp
  src/server/scripts/Northrend/DraktharonKeep/boss_trollgore.cpp
  src/server/scripts/Northrend/Gundrak/boss_gal_darah.cpp
  src/server/scripts/Northrend/Gundrak/boss_moorabi.cpp
  src/server/scripts/Northrend/Gundrak/boss_slad_ran.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_blood_queen_lana_thel.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_deathbringer_saurfang.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_festergut.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_icecrown_gunship_battle.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_sindragosa.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_the_lich_king.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_valithria_dreamwalker.cpp
  src/server/scripts/Northrend/Nexus/Nexus/boss_anomalus.cpp
  src/server/scripts/Northrend/Nexus/Nexus/boss_keristrasza.cpp
  src/server/scripts/Northrend/Nexus/Nexus/boss_magus_telestra.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_algalon_the_observer.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_assembly_of_iron.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_auriaya.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_flame_leviathan.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_freya.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_general_vezax.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_hodir.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_ignis.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_kologarn.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_mimiron.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_razorscale.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_thorim.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_xt002.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_yoggsaron.cpp
  src/server/scripts/Northrend/zone_wintergrasp.cpp
  src/server/scripts/World/achievement_scripts.cpp
Labels: CORE, Script, Test in progress, To Be Merged, run-build

#6206 fix(DB/graveyard): Fix Hearthglen Spirit Healer
  data/sql/updates/pending_db_world/rev_1622718211042013969.sql
Labels: 50-59, DB, To Be Merged

#6231 fix(DB/Creature): Emeraldon Mobs Missing Patrol Patterns
  data/sql/updates/pending_db_world/rev_1622864476231918400.sql
Labels: DB, To Be Merged

#6233 fix(DB/Creature): Silverpine Forest - Moonrage Bloodhowler Bad Spawn …
  data/sql/updates/pending_db_world/rev_1622868444362039500.sql
Labels: DB, To Be Merged

#6258 fix(Core/Config): missing "#" at line 1460 of worldserver.conf.dist
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged

#6261 fix(DB/Skinning): Firemane mobs not consistently dropping leather
  data/sql/updates/pending_db_world/rev_1623095488531317400.sql
Labels: 30-39, DB, To Be Merged

#6267 fix(Core/Player): Players are allowed to continue melee attacking on …
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, ChromieCraft Generic, To Be Merged, run-build

#6245 fix(DB/loot): Delete more overlevelled items from world NPCs
  data/sql/updates/pending_db_world/rev_1622966158177775526.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#6332 feat(CI): limit workflow concurrency
  .github/workflows/core_build.yml
  .github/workflows/docker_build.yml
  .github/workflows/macos_build.yml
  .github/workflows/windows_build.yml
Labels: Continuous Integration, Workflow

#6260 fix(DB/Creature): Firemane Flamecaller Spawning Inside Wall
  data/sql/updates/pending_db_world/rev_1623093110337112400.sql
Labels: 40-49, DB, To Be Merged

#6350 feat(doc): changelog system
  .editorconfig
  .github/workflows/import_pending.yml
  .vscode/settings.json
  acore.json
  apps/ci/ci-pending-changelogs.ts
  apps/ci/ci-pending-sql.sh
  apps/docker/docker-cmd.ts
  bin/acore-import-changelogs
  doc/changelog/README.md
  doc/changelog/master.md
  doc/changelog/pendings/changes_1623667140221711000.md
  doc/changelog/pendings/create.sh
  doc/changelog/previous-versions/v2.x.md
  doc/changelog/previous-versions/v3.x.md
Labels: Bash, Ready to be reviewed, Workflow

#6330 fix(Script/UBRS): Potential crash in Dragonspire Hall
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/instance_blackrock_spire.cpp
Labels: CORE, Priority - High, Script, To Be Merged

#6193 fix(Core/Packets): Fixed sending item's random property in a few pack…
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Guilds/Guild.cpp
  src/server/game/Handlers/TradeHandler.cpp
Labels: CORE, To Be Merged

#6114 feat(Core/BGQueue): rework queue announce
  data/sql/updates/pending_db_world/rev_1622504741914151600.sql
  src/server/game/Battlegrounds/BattlegroundQueue.cpp
  src/server/game/Battlegrounds/BattlegroundQueue.h
  src/server/game/Battlegrounds/BattlegroundSpamProtect.cpp
  src/server/game/Battlegrounds/BattlegroundSpamProtect.h
  src/server/game/Miscellaneous/Language.h
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgr.h
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, DB, To Be Merged

#6272 chore(Core): typo fixes
  src/server/game/Accounts/AccountMgr.cpp
  src/server/game/Battlegrounds/ArenaTeam.cpp
  src/server/game/Combat/ThreatManager.cpp
  src/server/game/DungeonFinding/LFGQueue.cpp
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Events/GameEventMgr.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Server/WorldSession.h
  src/server/game/Spells/SpellMgr.cpp
  src/server/game/Weather/Weather.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_vaelastrasz.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheChampion/boss_grand_champions.cpp
  src/server/scripts/Outland/zone_shadowmoon_valley.cpp
Labels: CORE, Script, To Be Merged

#6262 fix(DB/waypoint_data): add waypoint_data, update creature and creature_addon
  data/sql/updates/pending_db_world/rev_1623104720571833689.sql
Labels: DB, To Be Merged

#6289 fix(DB/SAI): Remove despawn event from Lorgus Jett
  data/sql/updates/pending_db_world/rev_1623254092348182246.sql
Labels: 20-29, DB, To Be Merged

#6297 fix(DB/creature_loot_template): Increase drop chance for Diabolical Plans
  data/sql/updates/pending_db_world/rev_1623303655379442308.sql
Labels: 20-29, DB, To Be Merged

#6394 fix(DB): revert bad sql imports
  data/sql/updates/db_world/00.sql
  data/sql/updates/pending_db_world/rev_1622504741914151600.sql
  data/sql/updates/pending_db_world/rev_1623104720571833689.sql
  data/sql/updates/pending_db_world/rev_1623254092348182246.sql
  data/sql/updates/pending_db_world/rev_1623303655379442308.sql
Labels: DB

#6271 fix(DB/Creature): Great Goretusk spawned inside a tree in Redridge Mountains
  data/sql/updates/pending_db_world/rev_1623161552319933800.sql
Labels: 1-19, DB, To Be Merged

#5949 feat(Core/Logging): Changed format of packet log file from .bin to .pkt
  src/server/game/Server/Protocol/PacketLog.cpp
  src/server/game/Server/Protocol/PacketLog.h
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged

#6273 fix(DB/loot): Remove Mana Agate drop from Vultros
  data/sql/updates/pending_db_world/rev_1623193677054313100.sql
Labels: 1-19, DB, To Be Merged

#6406 feat(Core): deprecate clang-9 and older
  .github/SECURITY.md
  .github/workflows/core_build.yml
  apps/ci/ci-conf.sh
  apps/ci/ci-install.sh
  src/cmake/compiler/clang/settings.cmake
Labels: Bash, CORE, Ready to be reviewed, To Be Merged, Workflow

#6274 fix(DB/gameobject): Unreachable Copper vein
  data/sql/updates/pending_db_world/rev_1623196877899764500.sql
Labels: 1-19, DB, To Be Merged

#5653 feat(Common/IPLocation): Replace ip2nation by ip2location
  data/sql/base/db_auth/ip2nation.sql
  data/sql/base/db_auth/ip2nationCountries.sql
  data/sql/updates/pending_db_auth/rev_1620146306002634000.sql
  src/common/IPLocation/IPLocation.cpp
  src/common/IPLocation/IPLocation.h
  src/server/authserver/Main.cpp
  src/server/authserver/Server/AuthSocket.cpp
  src/server/authserver/Server/AuthSocket.h
  src/server/authserver/authserver.conf.dist
  src/server/database/Database/Implementation/LoginDatabase.cpp
  src/server/database/Database/Implementation/LoginDatabase.h
  src/server/game/Server/WorldSocket.cpp
  src/server/game/Server/WorldSocket.h
  src/server/game/World/World.cpp
  src/server/scripts/Commands/cs_account.cpp
  src/server/scripts/Commands/cs_misc.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, DB, Script, To Be Merged

#4927 fix(DB/creature_template): Mass update vanilla creatures damages
  data/sql/updates/pending_db_world/rev_1616275490460233200.sql
Labels: DB, To Be Merged

#6198 fix(DB/loot): Prospecting Thorium doesn't always yield a gem
  data/sql/updates/pending_db_world/rev_1622643754073506200.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#6288 fix(DB/loot): Adjust Spellshock Leggings drops
  data/sql/updates/pending_db_world/rev_1623249558553944112.sql
Labels: 40-49, DB, To Be Merged

#5238 Fix Scholomance Hall of secrets issues
  data/sql/updates/pending_db_world/rev_1617319258609966150.sql
  data/sql/updates/pending_db_world/rev_1617975941808751069.sql
Labels: 50-59, DB, To Be Merged

#6284 fix(DB/creature_loot_template,conditions): Cracked Silithid Carapace (5877)
  data/sql/updates/pending_db_world/rev_1623236925695171584.sql
Labels: 20-29, DB, To Be Merged

#6298 fix(Core/SmartScripts): Fixed SMART_TARGET_CREATURE_GUID and SMART_TA…
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: 30-39, CORE, To Be Merged

#6291 fix(DB/Creature_template) Adjust Uruson speed walk (#6290)
  data/sql/updates/pending_db_world/rev_1623263911660022500.sql
Labels: 1-19, DB, To Be Merged

#6299 fix(DB/creature_model_info): Prevent NPC George Candarte incorrect display
  data/sql/updates/pending_db_world/rev_1623313289211649200.sql
Labels: 30-39, DB, To Be Merged

#6300 fix(DB/creature_template) Adjust Hematos speed walk
  data/sql/updates/pending_db_world/rev_1623320220616511800.sql
Labels: 50-59, DB, To Be Merged

#6301 fix(Core/DB): Brewspewer hardcoded conditions
  data/sql/updates/pending_db_world/rev_1623327182605839200.sql
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/scripts/Kalimdor/zone_feralas.cpp
Labels: CORE, DB, Script, To Be Merged

#6304 fix(DB/quest): Recover the cargo! objects not despawning
  data/sql/updates/pending_db_world/rev_1623355706619803100.sql
Labels: 30-39, DB, To Be Merged

#6307 fix(DB/Quest): Disabled regen health for Sorlof.
  data/sql/updates/pending_db_world/rev_1623407387579164400.sql
Labels: DB, To Be Merged

#6309 fix(CORE/Quests): Quest dialog fails to update with follow-up quest
  src/server/game/Handlers/QuestHandler.cpp
Labels: 1-19, CORE, To Be Merged

#6337 fix(Core/Loot): Fixed loading conditioned item loot.
  data/sql/updates/pending_db_characters/rev_1623572783362357500.sql
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/game/Loot/LootItemStorage.cpp
  src/server/game/Loot/LootItemStorage.h
  src/server/game/Loot/LootMgr.cpp
  src/server/game/Loot/LootMgr.h
Labels: CORE, DB, Ready to be reviewed, To Be Merged

#6349 fix(Scripts): Victory rush killing blow
  data/sql/updates/pending_db_world/rev_1623660631649831200.sql
  src/server/scripts/Spells/spell_warrior.cpp
Labels: CORE, DB, Script, To Be Merged

#6351 fix(DB/Creature): Pacifies Theramore Combat Dummies
  data/sql/updates/pending_db_world/rev_1623675094427536149.sql
Labels: 40-49, DB, To Be Merged

#6363 fix(DB/gameobject): Fix overlapping Water Barrel and Food Crate in Kharanos
  data/sql/updates/pending_db_world/rev_1623792334812044570.sql
Labels: 1-19, DB, To Be Merged

#6364 fix(CI): fix typo in docker_build
  .github/workflows/docker_build.yml
Labels: Continuous Integration, To Be Merged, Workflow

#6163 feat: add argument to .character rename to add name to reserved_name
  data/sql/updates/pending_db_world/rev_1622479207694702700.sql
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/database/Database/Implementation/CharacterDatabase.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/scripts/Commands/cs_character.cpp
Labels: CORE, ChromieCraft Generic, DB, Script, To Be Merged

#6268 feat(CORE/Commands): GM command to display strings
  data/sql/updates/pending_db_world/rev_1623112710636791400.sql
  src/server/game/Miscellaneous/Language.h
  src/server/scripts/Commands/cs_misc.cpp
Labels: CORE, DB, GM commands, Script, To Be Merged, run-build

#6408 fix(DB/spell_dbc): Imp's Phase Shift
  data/sql/updates/pending_db_world/rev_1623952547067832000.sql
  src/server/scripts/Pet/CMakeLists.txt
  src/server/scripts/Pet/pet_warlock.cpp
  src/server/scripts/ScriptLoader.cpp
Labels: CORE, ChromieCraft Generic, DB, Script, To Be Merged

#6373 fix(DB): chinese translations
  data/sql/updates/pending_db_world/rev_1623837841509670000.sql
Labels: DB, To Be Merged

#6380 refactor(Core): code cleanup (part 3)
  src/server/database/Database/DatabaseLoader.cpp
  src/server/database/Database/DatabaseWorker.cpp
  src/server/game/Petitions/PetitionMgr.cpp
  src/server/game/Petitions/PetitionMgr.h
  src/server/game/PrecompiledHeaders/gamePCH.h
  src/server/game/Scripting/MapScripts.cpp
  src/server/game/Scripting/ScriptMgr.h
  src/server/game/Server/Packets/PacketUtilities.cpp
  src/server/game/Server/Protocol/Opcodes.cpp
  src/server/game/Server/WorldSession.cpp
  src/server/game/Server/WorldSocket.cpp
  src/server/game/Server/WorldSocketMgr.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Auras/SpellAuras.cpp
  src/server/game/Spells/Auras/SpellAuras.h
  src/server/game/Spells/SpellEffects.cpp
  src/server/game/Spells/SpellInfo.cpp
  src/server/game/Tools/PlayerDump.cpp
  src/server/game/Warden/Warden.cpp
  src/server/game/Warden/WardenCheckMgr.cpp
  src/server/game/Warden/WardenMac.cpp
  src/server/game/Warden/WardenWin.cpp
  src/server/game/Weather/Weather.cpp
  src/server/game/World/World.cpp
  src/server/shared/DataStores/DBCDatabaseLoader.cpp
  src/server/shared/Network/RealmSocket.cpp
  src/server/shared/Packets/ByteBuffer.cpp
  src/server/shared/Packets/ByteBuffer.h
  src/server/shared/Secrets/SecretMgr.cpp
  src/server/worldserver/Main.cpp
  src/server/worldserver/Master.cpp
Labels: CORE, To Be Merged

#6418 refactor(Build/CMake): Only complain when BOOST_ROOT was not found
  deps/boost/CMakeLists.txt
Labels: To Be Merged

#5414 chore(Core/Gossip): delete old gossips api
  src/server/game/AI/ScriptedAI/ScriptedGossip.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_nefarian.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_vaelastrasz.cpp
Labels: CORE, Script, To Be Merged

#6319 fix(DB/creature): Beaten Corpse faction and flags
  data/sql/updates/pending_db_world/rev_1623425075618562613.sql
Labels: 1-19, DB, To Be Merged

#6419 fix(Ci): limit concurrency group to pr's
  .github/workflows/core_build.yml
  .github/workflows/core_modules_build.yml
  .github/workflows/docker_build.yml
  .github/workflows/macos_build.yml
  .github/workflows/windows_build.yml
Labels: Continuous Integration, Workflow

#6334 fix(DB/loot): Remove Empty Tainted/Cursed Jars from various NPCs
  data/sql/updates/pending_db_world/rev_1623567336541521130.sql
Labels: 40-49, DB, To Be Merged

#6335 fix(DB/loot): Delete overlevelled items from NPC RLTs
  data/sql/updates/pending_db_world/rev_1623568768400505753.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#6340 fix(DB/Creature): Emblem Quartermaster locales
  data/sql/updates/pending_db_world/rev_1623600456041056800.sql
Labels: DB, To Be Merged

#6352 fix: solved issue twin valkyr's ball
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_twin_valkyr.cpp
Labels: CORE, Script, To Be Merged

#6355 chore(Core/SmartScript): Fix typo
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: CORE, Ready to be reviewed, To Be Merged

#6371 fix(DB): Witch Doctor Mau'ari conditions
  data/sql/updates/pending_db_world/rev_1623835804505680300.sql
Labels: 50-59, DB, To Be Merged

#6439 fix(CI): workflow updates
  .github/workflows/codestyle.yml
  .github/workflows/core_build.yml
  .github/workflows/core_modules_build.yml
  .github/workflows/docker_build.yml
  .github/workflows/macos_build.yml
  .github/workflows/windows_build.yml
Labels: Continuous Integration, Workflow, run-build

#6336 Improove check setted variables
  src/server/game/World/World.cpp
Labels: CORE, To Be Merged

#6375 fix(DB/loot): Normalize Tunnel Rat Ear drop rates
  data/sql/updates/pending_db_world/rev_1623848244419594409.sql
Labels: 1-19, DB, To Be Merged

#6377 (DB) Add gossip locale for every city guard esES/esMX
  data/sql/updates/pending_db_world/rev_1623852796811454700.sql
  data/sql/updates/pending_db_world/rev_1624112508117718400.sql
Labels: DB, To Be Merged

#6454 fix(Core): check spell info and prevent crash
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Spells/SpellMgr.h
Labels: CORE, Priority - Critical, To Be Merged, run-build

#6372 fix(DB): Neeru Fireblade conditions
  data/sql/updates/pending_db_world/rev_1623836040397308600.sql
Labels: DB, To Be Merged

#6462 chore(Common/Misc): Replace old macros with modern C++ attributes
  src/common/Debugging/Errors.h
  src/common/Define.h
Labels: CORE, To Be Merged

#6479 fix(Core): macOS build
  src/server/game/AI/SmartScripts/SmartScript.cpp
Labels: CORE, Priority - Critical, Ready to be reviewed, To Be Merged, run-build

#6015 fix(Core/Player): Use SkillLineAbility.dbc to determine player initia…
  data/sql/updates/pending_db_world/rev_1621752432246342200.sql
  src/server/game/Achievements/AchievementMgr.cpp
  src/server/game/Chat/ChatLink.cpp
  src/server/game/DataStores/DBCStores.cpp
  src/server/game/DataStores/DBCStores.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Skills/SkillDiscovery.cpp
  src/server/game/Spells/SpellInfo.cpp
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/Commands/cs_learn.cpp
  src/server/shared/DataStores/DBCEnums.h
  src/server/shared/DataStores/DBCStructure.h
  src/server/shared/DataStores/DBCfmt.h
Labels: CORE, DB, Script, To Be Merged

#6465 fix(DB/Auth): Collation error
  data/sql/updates/db_auth/2021_05_13_00.sql
Labels: DB, Priority - High, To Be Merged

#6446 fix(DB/ItemLoot): Killed MYSQL error introduced in 289f140ab.
  data/sql/updates/pending_db_characters/rev_1624171619907708300.sql
Labels: DB, To Be Merged

#5556 fix(Core/BattlegroundAB): Add missing Victory near sound
  src/server/game/Battlegrounds/Zones/BattlegroundAB.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundAB.h
Labels: CORE, To Be Merged

#5346 feat(Core/Scripts): split the huge scriptloader into smaller pieces
  CMakeLists.txt
  apps/ci/ci-conf.sh
  apps/ci/mac/ci-compile.sh
  apps/docker/Dockerfile
  conf/dist/config.cmake
  src/cmake/macros/ConfigureModules.cmake
  src/cmake/showoptions.cmake
  src/common/CMakeLists.txt
  src/server/authserver/CMakeLists.txt
  src/server/database/CMakeLists.txt
  src/server/game/AI/SmartScripts/SmartAI.h
  src/server/game/CMakeLists.txt
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgr.h
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/CMakeLists.txt
  src/server/scripts/Commands/CMakeLists.txt
  src/server/scripts/Commands/cs_script_loader.cpp
  src/server/scripts/Custom/custom_script_loader.cpp
  src/server/scripts/EasternKingdoms/CMakeLists.txt
  src/server/scripts/EasternKingdoms/eastern_kingdoms_script_loader.cpp
  src/server/scripts/Events/CMakeLists.txt
  src/server/scripts/Events/events_script_loader.cpp
  src/server/scripts/GenLoader.cpp.cmake
  src/server/scripts/Kalimdor/CMakeLists.txt
  src/server/scripts/Kalimdor/kalimdor_script_loader.cpp
  src/server/scripts/Northrend/CMakeLists.txt
  src/server/scripts/Northrend/northrend_script_loader.cpp
  src/server/scripts/OutdoorPvP/CMakeLists.txt
  src/server/scripts/OutdoorPvP/outdoorpvp_script_loader.cpp
  src/server/scripts/Outland/CMakeLists.txt
  src/server/scripts/Outland/outland_script_loader.cpp
  src/server/scripts/Pet/CMakeLists.txt
  src/server/scripts/Pet/pets_script_loader.cpp
  src/server/scripts/ScriptLoader.cpp
  src/server/scripts/ScriptLoader.cpp.in.cmake
  src/server/scripts/ScriptLoader.h
  src/server/scripts/ScriptPCH.h
  src/server/scripts/Spells/CMakeLists.txt
  src/server/scripts/Spells/spells_script_loader.cpp
  src/server/scripts/World/CMakeLists.txt
  src/server/scripts/World/world_script_loader.cpp
  src/server/shared/CMakeLists.txt
  src/server/worldserver/CMakeLists.txt
  src/server/worldserver/Master.cpp
  src/tools/map_extractor/CMakeLists.txt
  src/tools/mesh_extractor/CMakeLists.txt
  src/tools/mmaps_generator/CMakeLists.txt
  src/tools/vmap4_assembler/CMakeLists.txt
Labels: Bash, CORE, Script, To Be Merged, run-build

#5854 Fix(DB/Quest_template)The Deathstalkers
  data/sql/updates/pending_db_world/rev_1621064404059904900.sql
Labels: DB, To Be Merged

#6282 chore(Core/Common): alphabetical sorting inlcudes
  src/common/Collision/BoundingIntervalHierarchy.h
  src/common/Collision/BoundingIntervalHierarchyWrapper.h
  src/common/Collision/DynamicTree.cpp
  src/common/Collision/Management/IMMAPManager.h
  src/common/Collision/Management/IVMapManager.h
  src/common/Collision/Management/MMapFactory.cpp
  src/common/Collision/Management/MMapFactory.h
  src/common/Collision/Management/MMapManager.cpp
  src/common/Collision/Management/MMapManager.h
  src/common/Collision/Management/VMapManager2.cpp
  src/common/Collision/Management/VMapManager2.h
  src/common/Collision/Maps/MapTree.cpp
  src/common/Collision/Maps/MapTree.h
  src/common/Collision/Maps/TileAssembler.cpp
  src/common/Collision/Maps/TileAssembler.h
  src/common/Collision/Models/GameObjectModel.cpp
  src/common/Collision/Models/GameObjectModel.h
  src/common/Collision/Models/ModelInstance.cpp
  src/common/Collision/Models/ModelInstance.h
  src/common/Collision/Models/WorldModel.cpp
  src/common/Collision/Models/WorldModel.h
  src/common/Collision/RegularGrid.h
  src/common/Collision/VMapTools.h
  src/common/Common.h
  src/common/Configuration/Config.cpp
  src/common/Configuration/Config.h
  src/common/Cryptography/Authentication/SRP6.h
  src/common/Cryptography/BigNumber.cpp
  src/common/Cryptography/CryptoHash.h
  src/common/Cryptography/HMAC.h
  src/common/Cryptography/SessionKeyGenerator.h
  src/common/DataStores/DBCFileLoader.cpp
  src/common/Debugging/Errors.cpp
  src/common/Debugging/WheatyExceptionReport.h
  src/common/Define.h
  src/common/Dynamic/ObjectRegistry.h
  src/common/Dynamic/TypeContainer.h
  src/common/Logging/AppenderConsole.cpp
  src/common/Logging/Log.cpp
  src/common/Logging/LogMessage.h
  src/common/Logging/LogOperation.cpp
  src/common/Logging/Logger.h
  src/common/Logging/enuminfo_LogCommon.cpp
  src/common/PrecompiledHeaders/commonPCH.h
  src/common/Threading/PCQueue.h
  src/common/Threading/Threading.h
  src/common/Utilities/DataMap.h
  src/common/Utilities/Geometry.h
  src/common/Utilities/MathUtil.h
  src/common/Utilities/MessageBuffer.h
  src/common/Utilities/Physics.h
  src/common/Utilities/SFMTRand.cpp
  src/common/Utilities/SignalHandler.h
  src/common/Utilities/TaskScheduler.h
  src/common/Utilities/Util.cpp
  src/common/Utilities/Util.h
Labels: CORE, To Be Merged

#6308 fix(DB): Improve NPC Malyfous Darkhammer behaviour
  data/sql/updates/pending_db_world/rev_1623407321415010500.sql
Labels: 50-59, DB, To Be Merged

#6022 fix(Core/Mail): Pending auction sale mail should be destroyed as soon…
  data/sql/updates/pending_db_characters/rev_1621780938723425400.sql
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/game/AuctionHouse/AuctionHouseMgr.cpp
  src/server/game/AuctionHouse/AuctionHouseMgr.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Handlers/AuctionHouseHandler.cpp
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Handlers/MailHandler.cpp
  src/server/game/Mails/Mail.cpp
  src/server/game/Mails/Mail.h
Labels: CORE, DB, Merge conflicts, To Be Merged, run-build

#6376 fix(DB/loot): Reduce Plans: Copper Chain Vest drop rates in Siltfins+…
  data/sql/updates/pending_db_world/rev_1623851652869107640.sql
Labels: 1-19, DB, To Be Merged

#6379 Fix NPC enters into EvadeMode, he loses all his Auras.
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, To Be Merged

#6522 fix(CMake/Bash): -DSCRIPTS cmake param
  apps/ci/ci-install.sh
  conf/dist/config.sh
  conf/dist/env.ac
Labels: Bash

#6080 feat(Core/Misc): Add .Size() to TypeUnorderedMapContainer for stats/d…
  src/common/Dynamic/TypeContainer.h
  src/common/Dynamic/TypeContainerFunctions.h
Labels: CORE, To Be Merged, run-build
