Repository azerothcore/azerothcore-wotlk, pull requests merged in 2021-05, with the labels that each got.

#5385 feat(DB/smart_scripts): Add SAI for Icecrown's creatures
  data/sql/updates/pending_db_world/rev_1618990113391357800.sql
Labels: DB, To Be Merged

#5387 fix(Core): fix chests not despawning when opened in group (2)
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Groups/Group.cpp
  src/server/game/Loot/LootMgr.h
Labels: CORE, To Be Merged

#5303 fix(Core/Unit): potential crash + extract duplicated code
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
Labels: CORE, Needs feedback, Ready to be reviewed, To Be Merged

#5412 fix(Script/Command): HandleAddItemCommand
  src/server/scripts/Commands/cs_misc.cpp
Labels: CORE, Script, To Be Merged

#5434 fix(Core/TotemAI): Totems should not attack neutral unless owner is i…
  src/server/game/AI/CoreAI/TotemAI.cpp
  src/server/game/Grids/Notifiers/GridNotifiers.h
Labels: CORE, To Be Merged

#5468 fix(DB/spell_dbc): Fix Eye of Eternity exit portal
  data/sql/updates/pending_db_world/rev_1619378758243963900.sql
Labels: DB, To Be Merged

#5438 feat(Core/Config): add abort message if config incorrect
  src/common/Configuration/Config.cpp
Labels: CORE, To Be Merged

#5449 fix(DB/creature_loot_template): Fix loot tables for a few rare npcs
  data/sql/updates/pending_db_world/rev_1619355377341877915.sql
Labels: DB, To Be Merged

#5591 fix(CI): change on: push to only run on master branch
  .github/workflows/codestyle.yml
  .github/workflows/core_build.yml
  .github/workflows/docker_build.yml
  .github/workflows/issue-labeler.yml
  .github/workflows/macos_build.yml
  .github/workflows/windows_build.yml
Labels: Continuous Integration, To Be Merged, Workflow

#5465 fix(DB/creature): Adjust z position of creature in Wailing Caverns
  data/sql/updates/pending_db_world/rev_1619372140124620500.sql
Labels: 1-19, DB, To Be Merged

#5602 fix(DB/gameobject): Adjust gob position for some Copper Vein nodes
  data/sql/updates/pending_db_world/rev_1619976848278136900.sql
Labels: 20-29, DB, To Be Merged

#5568 fix(DB/smart_scripts): SetInCombatWithZone at spawn for Haunting Spirit
  data/sql/updates/pending_db_world/rev_1619833153329665400.sql
Labels: 20-29, DB, To Be Merged

#5223 fix(Core/GameObjects): Fixed go's rotation and moving actions not updating to client. Port from TC.
  src/server/database/Database/Implementation/WorldDatabase.cpp
  src/server/database/Database/Implementation/WorldDatabase.h
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/GameObject/GameObject.h
  src/server/scripts/Commands/cs_gobject.cpp
Labels: CORE, Script, To Be Merged

#5566 fix(DB/creature): Adjust position for Syndicate Thief
  data/sql/updates/pending_db_world/rev_1619831876563624700.sql
Labels: 30-39, DB, To Be Merged

#5567 fix(DB/gameobject): Adjust position for Bruiseweed with GUID 3799
  data/sql/updates/pending_db_world/rev_1619832333662216000.sql
Labels: 30-39, DB, To Be Merged

#5482 fix(Core/Battlegrounds): fix Warsong Gulch flags not capping when standing on capture area
  src/server/game/Battlegrounds/Zones/BattlegroundWS.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundWS.h
Labels: CORE, To Be Merged

#5452 fix(DB/creature_loot_template): Fix loot tables for a few rare npcs 2
  data/sql/updates/pending_db_world/rev_1619363905724595186.sql
Labels: DB, To Be Merged

#5486 fix(DB/creature): move location, add path
  data/sql/updates/pending_db_world/rev_1619468769521968763.sql
Labels: DB, To Be Merged

#5258 fix(DB/Gameobject): duplicate or wrong spawns
  data/sql/updates/pending_db_world/rev_1618177302172059302.sql
Labels: 30-39, DB, To Be Merged

#5616 fix(DB/gameobject): Adjust XYZ pos for multiple mining nodes in STV
  data/sql/updates/pending_db_world/rev_1620068494045251800.sql
Labels: 30-39, DB, To Be Merged

#5483 DB/Locales: Add missing esES & esMX quest locales(Port from TC)
  data/sql/updates/pending_db_world/rev_1619464428492037100.sql
  data/sql/updates/pending_db_world/rev_1619465221289722800.sql
  data/sql/updates/pending_db_world/rev_1619465312157331200.sql
Labels: DB, To Be Merged

#5487 fix(DB/game_event_gameobject): link to brewfest 2 gameobjects
  data/sql/updates/pending_db_world/rev_1619469854375537568.sql
Labels: DB, To Be Merged

#5551 feat(docker): production images, integrated ccache and many other improvements
  .devcontainer/devcontainer.json
  .dockerignore
  .github/workflows/core_build.yml
  .github/workflows/docker_build.yml
  .gitignore
  .vscode/extensions.json
  .vscode/tasks.json
  apps/bash_shared/defines.sh
  apps/ci/ci-compile.sh
  apps/compiler/compiler.sh
  apps/compiler/includes/functions.sh
  apps/docker/Dockerfile
  apps/docker/docker-build-dev.sh
  apps/docker/docker-build-prod.sh
  apps/docker/docker-cmd.ts
  apps/git_tools/subrepo-update.sh
  apps/installer/includes/functions.sh
  apps/installer/includes/os_configs/debian.sh
  apps/installer/includes/os_configs/ubuntu.sh
  apps/installer/includes/os_configs/windows.sh
  bin/README.md
  bin/acore-docker-update
  conf/dist/config.sh
  conf/dist/env.ac
  docker-compose.yml
  env/docker/bin/.gitkeep
  src/cmake/compiler/clang/settings.cmake
  var/ccache/.gitkeep
  var/docker/build/.gitkeep
  var/docker/ccache/.gitkeep
  var/extractors/dbc/.gitkeep
  var/extractors/maps/.gitkeep
  var/extractors/mmaps/.gitkeep
  var/extractors/vmaps/.gitkeep
Labels: Bash, CORE, Docker, Priority - High, Waiting to be tested, Workflow

#5528 fix(DB/creature_formations): hezrul bodyguards path and formations
  data/sql/updates/pending_db_world/rev_1619636650124390405.sql
Labels: 1-19, DB, To Be Merged

#5569 chore(template): Make them less intimidating
  .github/ISSUE_TEMPLATE/bug_report.md
  pull_request_template.md
Labels: To Be Merged

#5518 chore(Core/SharedDefines): move SharedDefines.h to shared lib
  src/server/shared/SharedDefines.h
Labels: CORE, To Be Merged

#5537 fix(DB/broadcast_text): fix Stormwind guard Shaman trainer text
  data/sql/updates/pending_db_world/rev_1619681545150953400.sql
Labels: DB, To Be Merged

#5614 fix(DB/creature): Adjust spawn time for Saltscale murlocs
  data/sql/updates/pending_db_world/rev_1620067514646031100.sql
Labels: 30-39, DB, To Be Merged

#5618 fix(DB/smart_scripts): Event quest "The Missing Diplomat" / Old Town Thugs
  data/sql/updates/pending_db_world/rev_1620070589328456500.sql
Labels: 20-29, DB, To Be Merged

#5643 feat(CI): trigger windows build on comment
  .github/workflows/windows_build.yml
Labels: Workflow

#5510 feat(DB/Locales): add missing esES & esMX quest locales [PART 2] (Port from TC)
  data/sql/updates/pending_db_world/rev_1619616408121276500.sql
Labels: DB, To Be Merged

#5489 fix(DB/Spells): Arcane Missiles: They should not cause aggro when launched, but when hit with the first beam.
  data/sql/updates/pending_db_world/rev_1619501292588526500.sql
Labels: DB, To Be Merged

#5511 feat(DB/Locales): add missing esES & esMX quest locales [PART 3] (Port from TC)
  data/sql/updates/pending_db_world/rev_1619616883919180600.sql
Labels: DB, To Be Merged

#5644 chore(docker): pre-install deno within the images
  apps/docker/Dockerfile
Labels: Bash, To Be Merged

#5539 fix(DB/Creature): Verify & update Ashen Verdict reputation values
  data/sql/updates/pending_db_world/rev_1619695262798189500.sql
Labels: DB, To Be Merged

#5547 fix(DB/locale): Import esES/esMX translations (Part 2)
  data/sql/updates/pending_db_world/rev_1619734944662755000.sql
  data/sql/updates/pending_db_world/rev_1619816909908602400.sql
  data/sql/updates/pending_db_world/rev_1619817090623034700.sql
  data/sql/updates/pending_db_world/rev_1619817128237023800.sql
Labels: DB, To Be Merged

#5558 fix(DB/Creature): Twilight Idolater
  data/sql/updates/pending_db_world/rev_1619822861176792300.sql
Labels: DB, To Be Merged

#5561 fix(DB/Creature): Son of Hakkar
  data/sql/updates/pending_db_world/rev_1619823825635053300.sql
Labels: DB, To Be Merged

#5562 fix(Creature/Gossip): Adjust some guard direction text
  data/sql/updates/pending_db_world/rev_1619824464997653100.sql
Labels: DB, To Be Merged

#5581 fix(DB/Graveyard): add ghostZone for zone 1537
  data/sql/updates/pending_db_world/rev_1619891302194258700.sql
Labels: DB, To Be Merged

#5596 fix(DB/Creature): Apprentice Mirveda
  data/sql/updates/pending_db_world/rev_1619958638373648000.sql
Labels: DB, To Be Merged

#5601 fix(DB/pool_creature): NPC: Or'Kalar
  data/sql/updates/pending_db_world/rev_1619974489991847400.sql
Labels: DB, To Be Merged

#5608 fix(DB/gameobject_loot_template): Silver Piffeny Band should not be lootable from chests
  data/sql/updates/pending_db_world/rev_1620033619588576561.sql
Labels: 20-29, DB, To Be Merged

#5333 feat(Core/Common): delete lib game-interface inherited
  src/common/CMakeLists.txt
  src/common/Collision/DynamicTree.cpp
  src/common/Collision/Management/IMMAPManager.h
  src/common/Collision/Management/IVMapManager.h
  src/common/Collision/Management/MMapFactory.cpp
  src/common/Collision/Management/MMapFactory.h
  src/common/Collision/Management/MMapManager.cpp
  src/common/Collision/Management/MMapManager.h
  src/common/Collision/Management/VMapFactory.cpp
  src/common/Collision/Management/VMapFactory.h
  src/common/Collision/Management/VMapManager2.cpp
  src/common/Collision/Management/VMapManager2.h
  src/common/Collision/Maps/MapDefines.h
  src/common/Collision/Maps/MapTree.cpp
  src/common/Collision/Maps/TileAssembler.cpp
  src/common/Collision/Models/GameObjectModel.cpp
  src/common/Collision/Models/GameObjectModel.h
  src/common/Collision/Models/ModelInstance.h
  src/common/Collision/Models/WorldModel.cpp
  src/common/Collision/Models/WorldModel.h
  src/common/Collision/VMapTools.h
  src/common/PrecompiledHeaders/commonPCH.h
  src/common/Utilities/Util.cpp
  src/server/game/Conditions/DisableMgr.cpp
  src/server/game/Conditions/DisableMgr.h
  src/server/game/Entities/Creature/CreatureGroups.h
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/GameObject/GameObject.h
  src/server/game/Entities/Transport/Transport.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Grids/GridDefines.h
  src/server/game/Handlers/PetHandler.cpp
  src/server/game/Maps/Map.cpp
  src/server/game/Movement/MovementGenerators/HomeMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/PathGenerator.cpp
  src/server/game/Movement/MovementGenerators/PathGenerator.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/World/World.cpp
  src/server/shared/SharedDefines.h
  src/tools/mesh_extractor/Utils.h
  src/tools/mmaps_generator/MapBuilder.cpp
  src/tools/mmaps_generator/PathCommon.h
  src/tools/mmaps_generator/TerrainBuilder.cpp
  src/tools/mmaps_generator/VMapExtensions.cpp
Labels: CORE, To Be Merged

#5251 fix(DB/Creature): Remove Skeletal Executioner from Silverpine Forest
  data/sql/updates/pending_db_world/rev_1618148212632025000.sql
Labels: 1-19, DB, To Be Merged

#5675 fix(DB/creature_addon): Adjust movement for Juvenile Snow Leopard
  data/sql/updates/pending_db_world/rev_1620330327979257800.sql
Labels: 1-19, DB, To Be Merged

#5481 fix(Core/Spells): Berserk now removes the Tiger Fury buff.
  data/sql/updates/pending_db_world/rev_1619460299756494800.sql
  src/server/scripts/Spells/spell_druid.cpp
Labels: CORE, DB, Script, To Be Merged

#5501 fix(Core/Groups): fix group enchanting level not resetting properly
  src/server/game/Groups/Group.cpp
  src/server/game/Server/WorldSession.cpp
  src/server/game/Server/WorldSession.h
Labels: CORE, To Be Merged

#5554 fix(Core/Movement): MSG_MOVE_SET_* opcodes - GUID missing (#5554)
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, To Be Merged

#5426 fix(DB): Add additional Incendia Agave spawns
  data/sql/updates/pending_db_world/rev_1619259290727738768.sql
Labels: 20-29, DB, To Be Merged

#5555 fix(Core/Movement): Fix strange teleport when rooting a fleeing NPC
  src/server/game/Movement/MovementGenerators/PointMovementGenerator.cpp
Labels: CORE, To Be Merged

#5564 fix(DB/Conditions): Add some missing comments
  data/sql/updates/pending_db_world/rev_1619824902615694400.sql
Labels: DB, To Be Merged

#5572 Core/Pooling: Fixed less and less objects from pools being spawned the longer the server is running. Port from TrinityCore.
  src/common/Containers.h
  src/server/game/AI/CoreAI/UnitAI.h
  src/server/game/AI/ScriptedAI/ScriptedCreature.h
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/Pools/PoolMgr.cpp
  src/server/game/Pools/PoolMgr.h
  src/server/game/Spells/Spell.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_priestess_delrissa.cpp
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kalecgos.cpp
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_muru.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_moam.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_blood_queen_lana_thel.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_deathbringer_saurfang.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_icecrown_gunship_battle.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_professor_putricide.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_sindragosa.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_valithria_dreamwalker.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_hodir.cpp
  src/server/scripts/Northrend/zone_dragonblight.cpp
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_morogrim_tidewalker.cpp
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/instance_shattered_halls.cpp
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
  src/server/scripts/Spells/spell_druid.cpp
  src/server/scripts/Spells/spell_generic.cpp
  src/server/scripts/Spells/spell_paladin.cpp
Labels: CORE, Script, To Be Merged

#5605 fix(Core): reputation gain rate when nearby party members are dead
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
Labels: CORE, To Be Merged

#5613 chore(Core/Authserver): set default root logger to level info
  src/server/authserver/authserver.conf.dist
Labels: CORE, To Be Merged

#5628 fix(DB/gameobject_loot_template): Correct drop chances for all classic ores
  data/sql/updates/pending_db_world/rev_1620115611701757811.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#5642 fix(Scripts/HoS): Adjust IsEncounterInProgress()
  src/server/scripts/Northrend/Ulduar/HallsOfStone/instance_halls_of_stone.cpp
Labels: CORE, Script, To Be Merged

#5743 fix(Core/Misc): BuildAuctionMailBody guid
  src/server/game/AuctionHouse/AuctionHouseMgr.cpp
Labels: CORE, To Be Merged

#5663 fix(Core/LoadSmartAIFromDB): Prevent loading if entryorguid = 0
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
Labels: CORE, To Be Merged

#5665 fix(Scripts/DB): Adjust Kodo Roundup quest mob behaviour
  data/sql/updates/pending_db_world/rev_1620304598558845500.sql
  src/server/scripts/Kalimdor/zone_desolace.cpp
Labels: 30-39, CORE, DB, Script, To Be Merged

#5670 fix(DB/gameobject): Adjust position for Bruiseweed node with GUID 3440
  data/sql/updates/pending_db_world/rev_1620325277913162400.sql
Labels: 20-29, DB, To Be Merged

#5672 fix(DB/creature_model_info): Adjust CombatReach for Sarathstra's creature_model
  data/sql/updates/pending_db_world/rev_1620326903465396700.sql
Labels: DB, To Be Merged

#5677 chore(Core/Logging): enable logger sql and set level info
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged

#5683 fix(Core/Scripts): Convert Galen's Escape to SAI
  data/sql/updates/pending_db_world/rev_1620365613702531200.sql
  src/server/scripts/EasternKingdoms/CMakeLists.txt
  src/server/scripts/EasternKingdoms/zone_swamp_of_sorrows.cpp
  src/server/scripts/ScriptLoader.cpp
Labels: 30-39, CORE, DB, Script, To Be Merged

#5645 feat(CI): trigger build on pr review
  .github/workflows/docker_build.yml
  .github/workflows/macos_build.yml
  .github/workflows/windows_build.yml
Labels: To Be Merged, Workflow

#5684 fix(DB): Remove Ashenvale quest mutual exclusivity
  data/sql/updates/pending_db_world/rev_1620375361639873000.sql
Labels: 1-19, DB, To Be Merged

#5686 fix(Bash): process priority class Permission denied
  apps/compiler/includes/functions.sh
Labels: Bash, To Be Merged

#5695 Fix(DB): Chest Respawn time
  data/sql/updates/pending_db_world/rev_1620411738725445836.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#5694 fix(DB/quest_template_addon): Prevent Homeward Bound quest from autocompleting
  data/sql/updates/pending_db_world/rev_1620406670675031700.sql
Labels: 30-39, DB, To Be Merged

#5727 fix(DB): STV mobs dropping TBC items
  data/sql/updates/pending_db_world/rev_1620498329028793558.sql
Labels: 30-39, DB, To Be Merged

#5717 fix(DB/gameobject): Respawn time of several ores
  data/sql/updates/pending_db_world/rev_1620463648528240165.sql
Labels: 40-49, 50-59, ChromieCraft Generic, DB, To Be Merged

#5738 fix(DB/creature): Adjust spawn time for Mosh'Ogg Ogres
  data/sql/updates/pending_db_world/rev_1620531160911239800.sql
Labels: 30-39, DB, To Be Merged

#5673 feat(Core/DB): reconnect seconds and attempts configurable
  src/server/authserver/authserver.conf.dist
  src/server/database/Database/DatabaseLoader.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged

#5769 feat(bash): Improved support for gperftools
  apps/docker/Dockerfile
  apps/docker/docker-cmd.ts
  apps/installer/includes/os_configs/ubuntu.sh
  bin/acore-restarter
  conf/dist/config.sh
Labels: Bash, Waiting to be tested

#5746 fix(Core/Creature): Fix kill credit for some mobs after UpdateEntry
  src/server/game/Entities/Creature/Creature.cpp
Labels: CORE, To Be Merged

#5359 fix(DB/Smart_scripts): Add event on quest completion for last part of Elixir of Agony
  data/sql/updates/pending_db_world/rev_1618834215629926428.sql
Labels: DB, To Be Merged

#5772 fix(DB/item_template): Add coin loot to fishing trunks
  data/sql/updates/pending_db_world/rev_1620674399849229322.sql
Labels: DB, To Be Merged

#5813 feat(Core/Config): added info about bad lines in config file
  src/common/Configuration/Config.cpp
Labels: CORE

#5703 fix(Core/Spell): Apply AURA_STATE_FAERIE_FIRE
  src/server/game/Spells/SpellInfo.cpp
Labels: 1-19, CORE, To Be Merged

#5797 feat(Deps/Gperftools): make gperftools lib to interface
  deps/CMakeLists.txt
  deps/gperftools/CMakeLists.txt
  src/server/worldserver/CMakeLists.txt
Labels: CORE, To Be Merged

#5712 fix(Scripts/DB/SAI): Return to Vahlarriel
  data/sql/updates/pending_db_world/rev_1620440802474191100.sql
  src/server/scripts/Kalimdor/zone_desolace.cpp
Labels: 30-39, CORE, DB, Script, To Be Merged

#5708 fix(DB/smart_scripts): Script "The End of the deserters"
  data/sql/updates/pending_db_world/rev_1620437148392158200.sql
Labels: 30-39, DB, To Be Merged

#5755 fix(DB/gameobject): Adjust spawn time for Waterlogged Wreckage
  data/sql/updates/pending_db_world/rev_1620614142868981300.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#5756 fix(DB/gameobject): Adjust state for Rich Thorium Vein with GUID 120186
  data/sql/updates/pending_db_world/rev_1620614979222366200.sql
Labels: 50-59, DB, To Be Merged

#5700 fix(DB/creature_formations): Adjust Boss Tho'grun's group
  data/sql/updates/pending_db_world/rev_1620425644910599900.sql
Labels: 30-39, DB, To Be Merged

#5706 fix(DB/creature_loot_template): Revelosh items drop
  data/sql/updates/pending_db_world/rev_1620435208642994700.sql
Labels: 30-39, DB, To Be Merged

#5711 fix(DB/crature_loot_template): Remove loot from Witherbark Bloodlings
  data/sql/updates/pending_db_world/rev_1620439642282070000.sql
Labels: 40-49, DB, To Be Merged

#5723 fix(DB/smart_scripts): Mirefin Coastrunner
  data/sql/updates/pending_db_world/rev_1620477325004735900.sql
Labels: 30-39, DB, To Be Merged

#5749 fix(DB/creature_template): NPCs: 416, 417, 1860, 1863
  data/sql/updates/pending_db_world/rev_1620586666463013100.sql
Labels: DB, To Be Merged

#5754 fix(DB/smart_scripts): Remove spawn event for Scorn
  data/sql/updates/pending_db_world/rev_1620613702128937000.sql
Labels: 30-39, DB, To Be Merged

#5758 fix(DB/creature_addon): Remove path info from Blackwater Deckhand
  data/sql/updates/pending_db_world/rev_1620616751102617000.sql
Labels: 30-39, DB, To Be Merged

#5778 fix(Core/Maps): GetCollisionHeight and Z_OFFSET_FIND_HEIGHT
  src/server/game/Entities/Object/Object.cpp
  src/server/shared/SharedDefines.h
Labels: CORE, To Be Merged

#5760 Memleak fixes - Part II.
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/database/Database/Implementation/CharacterDatabase.h
  src/server/game/Achievements/AchievementMgr.cpp
  src/server/game/AuctionHouse/AuctionHouseMgr.cpp
  src/server/game/AuctionHouse/AuctionHouseMgr.h
  src/server/game/Battlefield/Battlefield.cpp
  src/server/game/Chat/Channels/ChannelMgr.cpp
  src/server/game/Chat/Channels/ChannelMgr.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Handlers/PetHandler.cpp
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.h
  src/server/game/Server/WorldSession.cpp
  src/server/game/Texts/CreatureTextMgr.cpp
  src/server/game/World/World.cpp
Labels: CORE, To Be Merged

#5811 Fix(Core) Remove hard-coded texts from npc Innkeeper
  src/server/scripts/World/npc_innkeeper.cpp
Labels: CORE, Script, To Be Merged

#5267 feat(Core/BG): revamp Battleground.QueueAnnouncer.Limit
  src/server/game/Battlegrounds/BattlegroundQueue.cpp
  src/server/game/Battlegrounds/BattlegroundQueue.h
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged

#4916 fix(DB/Zone):improved Netherstom
  data/sql/updates/pending_db_world/rev_1616252753401265600.sql
Labels: 70, DB, To Be Merged

#5877 fix(CI): replace clang-9 with clang-8
  .github/workflows/core_build.yml
  apps/ci/ci-conf.sh
  apps/ci/ci-install.sh
Labels: Bash, To Be Merged, Workflow

#5454 feat(Core/Random): port random system from TrinityCore
  deps/SFMT/CHANGE-LOG.txt
  deps/SFMT/CMakeLists.txt
  deps/SFMT/LICENSE.txt
  deps/SFMT/README.txt
  deps/SFMT/SFMT-alti.h
  deps/SFMT/SFMT-common.h
  deps/SFMT/SFMT-neon.h
  deps/SFMT/SFMT-params.h
  deps/SFMT/SFMT-params11213.h
  deps/SFMT/SFMT-params1279.h
  deps/SFMT/SFMT-params132049.h
  deps/SFMT/SFMT-params19937.h
  deps/SFMT/SFMT-params216091.h
  deps/SFMT/SFMT-params2281.h
  deps/SFMT/SFMT-params4253.h
  deps/SFMT/SFMT-params44497.h
  deps/SFMT/SFMT-params607.h
  deps/SFMT/SFMT-params86243.h
  deps/SFMT/SFMT-sse2-msc.h
  deps/SFMT/SFMT-sse2.h
  deps/SFMT/SFMT.c
  deps/SFMT/SFMT.h
  src/common/Containers.h
  src/common/Utilities/Containers.h
  src/common/Utilities/Random.cpp
  src/common/Utilities/Random.h
  src/common/Utilities/SFMTRand.cpp
  src/common/Utilities/SFMTRand.h
  src/common/Utilities/Util.cpp
  src/common/Utilities/Util.h
  src/server/game/AI/ScriptedAI/ScriptedCreature.h
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_blood_prince_council.cpp
Labels: CORE, Script, To Be Merged

#5774 fix(CORE/Loot): make Loot::AddItem() honor LootItem::AllowedForPlayer()
  src/server/game/Loot/LootMgr.cpp
  src/server/game/Loot/LootMgr.h
Labels: CORE, ChromieCraft Generic, To Be Merged

#5437 feat(Core/Logging): improve db logging
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged

#5671 feat(Cmake/Compiler): deprecated clang6 and gcc 7
  .github/SECURITY.md
  .github/workflows/core_build.yml
  apps/ci/ci-conf.sh
  apps/ci/ci-install.sh
  src/cmake/compiler/clang/settings.cmake
  src/cmake/compiler/gcc/settings.cmake
Labels: Bash, CORE, To Be Merged, Workflow

#5484 fix(DB/creature_loot_template) Remove Crumpled, Ripped and Torn Note from Highland Thrasher loot table
  data/sql/updates/pending_db_world/rev_1619445079257787200.sql
Labels: 30-39, DB, To Be Merged

#5913 fix(Scripts/SpellHunter): crashfix
  src/server/scripts/Spells/spell_hunter.cpp
Labels: CORE, Script, To Be Merged

#5784 fix(DB/Quest): You Have Served Us Well
  data/sql/updates/pending_db_world/rev_1620718905362409100.sql
Labels: 20-29, DB, To Be Merged

#5810 fix(DB/Quest) Smolderwing from TrinityCore
  data/sql/updates/pending_db_world/rev_1620835284341181100.sql
Labels: 30-39, DB, To Be Merged

#5812 Fix(DB/Creature) Stonemaul spirit from TrinityCore
  data/sql/updates/pending_db_world/rev_1620836710197850400.sql
Labels: 30-39, DB, To Be Merged

#5814 fix(DB/creature_loot_template): Remove the Scarlet Key from creature loot tables
  data/sql/updates/pending_db_world/rev_1620842884434937800.sql
Labels: 30-39, DB, To Be Merged

#5818 Fix (DB/Quest) A Necessary Distraction from TrinityCore
  data/sql/updates/pending_db_world/rev_1620888636790704800.sql
Labels: DB, To Be Merged

#5824 fix(DB/Quest): Lessons Anew
  data/sql/updates/pending_db_world/rev_1620908433024748200.sql
Labels: DB, To Be Merged

#5830 fix(DB/Creature_loot_template) Vampiric Duskbat
  data/sql/updates/pending_db_world/rev_1620934359248602100.sql
Labels: 1-19, DB, To Be Merged

#5828 fix(MySQL8): Add Drop script
  data/sql/create/drop_mysql_8.sql
Labels: DB, To Be Merged

#5846 fix(DB/command): delete command togglequerylog
  data/sql/updates/pending_db_world/rev_1621015424165306900.sql
Labels: DB, To Be Merged

#5640 feat(Core/Auth): add AccountInfo helper
  src/server/authserver/Server/AuthSocket.cpp
  src/server/authserver/Server/AuthSocket.h
  src/server/database/Database/Implementation/LoginDatabase.cpp
  src/server/database/Database/Implementation/LoginDatabase.h
  src/server/game/Server/WorldSocket.cpp
Labels: CORE, To Be Merged

#5890 fix(DB/waypoint_data): Lizzarik and Jorb pathing
  data/sql/updates/pending_db_world/rev_1621164461277933296.sql
Labels: 1-19, DB, To Be Merged

#5950 feat(Deps/FmtLib): update fmtlib to 7.1.3
  deps/PackageList.txt
  deps/fmt/CMakeLists.txt
  deps/fmt/CONTRIBUTING.md
  deps/fmt/ChangeLog.rst
  deps/fmt/LICENSE.rst
  deps/fmt/README.rst
  deps/fmt/fmt/chrono.h
  deps/fmt/fmt/compile.h
  deps/fmt/fmt/core.h
  deps/fmt/fmt/format-inl.h
  deps/fmt/fmt/format.cc
  deps/fmt/fmt/format.h
  deps/fmt/fmt/locale.h
  deps/fmt/fmt/posix.h
  deps/fmt/fmt/ranges.h
  deps/fmt/fmt/safe-duration-cast.h
  deps/fmt/include/fmt/args.h
  deps/fmt/include/fmt/chrono.h
  deps/fmt/include/fmt/color.h
  deps/fmt/include/fmt/compile.h
  deps/fmt/include/fmt/core.h
  deps/fmt/include/fmt/format-inl.h
  deps/fmt/include/fmt/format.h
  deps/fmt/include/fmt/locale.h
  deps/fmt/include/fmt/os.h
  deps/fmt/include/fmt/ostream.h
  deps/fmt/include/fmt/printf.h
  deps/fmt/include/fmt/ranges.h
  deps/fmt/src/fmt.cc
  deps/fmt/src/format.cc
  deps/fmt/src/os.cc
Labels: To Be Merged

#5843 fix(DB/Spell): Rename Life Tap's Ranks
  data/sql/updates/pending_db_world/rev_1621007854827590200.sql
Labels: DB, To Be Merged

#5971 Revert "feat(Core/Auth): add AccountInfo helper"
  src/server/authserver/Server/AuthSocket.cpp
  src/server/authserver/Server/AuthSocket.h
  src/server/database/Database/Implementation/LoginDatabase.cpp
  src/server/database/Database/Implementation/LoginDatabase.h
  src/server/game/Server/WorldSocket.cpp
Labels: CORE

#5975 fix(Core/Database): fix wrong Field::IsNull() return value on null binary fields
  src/server/database/Database/Field.h
Labels: CORE, To Be Merged

#5978 feat(TOTP): use feature toggle via authserver.conf
  src/server/authserver/Server/AuthSocket.cpp
  src/server/authserver/Server/AuthSocket.h
  src/server/authserver/authserver.conf.dist
  src/server/database/Database/Implementation/LoginDatabase.cpp
  src/server/database/Database/Implementation/LoginDatabase.h
  src/server/game/Server/WorldSocket.cpp
Labels: CORE, Ready to be reviewed, To Be Merged

#5858 fix(DB/smart_scripts): gossip texts and SAI for quest Get the Scoop (1950)
  data/sql/updates/pending_db_world/rev_1621071094020971520.sql
Labels: 30-39, DB, To Be Merged

#5875 fix(DB/creature,SAI): Silvermane Stalkers: grey -> black, no fade
  data/sql/updates/pending_db_world/rev_1621105426491747047.sql
Labels: 40-49, DB, To Be Merged

#5617 feat(Core/Packets): Port packet handling from TrinityCore
  src/common/Packets/ByteBuffer.cpp
  src/common/Packets/WorldPacket.h
  src/common/Utilities/MessageBuffer.h
  src/common/Utilities/Tuples.h
  src/server/authserver/Main.cpp
  src/server/game/Chat/Channels/Channel.cpp
  src/server/game/Chat/Channels/Channel.h
  src/server/game/Chat/Chat.h
  src/server/game/Entities/Object/Updates/UpdateData.cpp
  src/server/game/Grids/Notifiers/GridNotifiersImpl.h
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Handlers/MovementHandler.cpp
  src/server/game/Server/Packet.cpp
  src/server/game/Server/Packet.h
  src/server/game/Server/Packets/AllPackets.h
  src/server/game/Server/Packets/PacketUtilities.cpp
  src/server/game/Server/Packets/PacketUtilities.h
  src/server/game/Server/Protocol/Opcodes.cpp
  src/server/game/Server/Protocol/Opcodes.h
  src/server/game/Server/WorldPacket.h
  src/server/game/Server/WorldSession.cpp
  src/server/game/Server/WorldSession.h
  src/server/game/Server/WorldSocket.cpp
  src/server/game/Server/WorldSocket.h
  src/server/game/Texts/CreatureTextMgr.h
  src/server/game/World/World.cpp
  src/server/scripts/Commands/cs_debug.cpp
  src/server/shared/Packets/ByteBuffer.cpp
  src/server/shared/Packets/ByteBuffer.h
Labels: CORE, Ready to be reviewed, Script

#5973 fix(Docker): Changed CDN location
  apps/docker/docker-cmd.ts
Labels: Docker, Priority - High, To Be Merged

#5559 fix(DB/Creature): Add script to some Howling Fjord creatures
  data/sql/updates/pending_db_world/rev_1619823082952356900.sql
Labels: DB, To Be Merged

#6001 fix(CORE): GUID of GameObject
  src/server/scripts/Commands/cs_gobject.cpp
Labels: CORE, Script, To Be Merged

#5621 refactor(Core/CliRunnable): Make AC> a static
  src/server/worldserver/CommandLine/CliRunnable.cpp
Labels: CORE, To Be Merged

#5900 Cfbg achievements
  src/server/game/Achievements/AchievementMgr.cpp
Labels: CORE, To Be Merged

#5720 Fix(Script/Quest) A Cry For Help
  data/sql/updates/pending_db_world/rev_1620469549972464900.sql
  src/server/scripts/Kalimdor/zone_azuremyst_isle.cpp
Labels: 1-19, CORE, DB, Script, To Be Merged

#5876 style(DB/Updates): Style 2021_03_19_02
  data/sql/updates/db_world/2021_03_19_02.sql
Labels: DB, To Be Merged

#5960 fix(Script/Creature): Script warlock imp
  data/sql/updates/pending_db_world/rev_1621466398169598700.sql
  src/server/scripts/Pet/CMakeLists.txt
  src/server/scripts/Pet/pet_warlock.cpp
  src/server/scripts/ScriptLoader.cpp
Labels: CORE, DB, Script, To Be Merged

#5894 fix(DB/creature): Remove Mistbat spawn in Eversong Woods
  data/sql/updates/pending_db_world/rev_1621188102505998900.sql
Labels: 1-19, DB, To Be Merged

#5898 fix(DB/Quest): Fixed zhCN translate of Blood Is Thicker.
  data/sql/updates/pending_db_world/rev_1621228822203725800.sql
Labels: DB, To Be Merged

#5903 fix(DB): NPC 23859 gossip_menu_option_locale error
  data/sql/updates/pending_db_world/rev_1621246317595402000.sql
Labels: DB, To Be Merged

#5676 feat(Deps/Boost): add boost support
  .github/workflows/windows_build.yml
  apps/docker/Dockerfile
  apps/installer/includes/os_configs/debian.sh
  apps/installer/includes/os_configs/osx.sh
  apps/installer/includes/os_configs/ubuntu.sh
  deps/CMakeLists.txt
  deps/PackageList.txt
  deps/boost/CMakeLists.txt
  src/common/CMakeLists.txt
Labels: Bash, CORE, Workflow

#6019 feat(Core/Main): Show Boost Ver
  src/server/authserver/Main.cpp
  src/server/worldserver/Main.cpp
Labels: CORE, Ready to be reviewed, To Be Merged

#5701 fix(DB/gameobject): Adjust Position For Some Copper Veins
  data/sql/updates/pending_db_world/rev_1620427214886749400.sql
Labels: DB, To Be Merged

#5239 Adjust Scholomance Instructor Malicia abilities
  data/sql/updates/pending_db_world/rev_1617919703551999441.sql
Labels: 50-59, DB, To Be Merged

#5905 fix(DB/waypoint_data): Valdred Moray pathing
  data/sql/updates/pending_db_world/rev_1621252516106793022.sql
Labels: 1-19, DB, To Be Merged

#5916 fix(DB): Adjust Blackhoof Cage behaviour
  data/sql/updates/pending_db_world/rev_1621246170226501700.sql
Labels: 30-39, DB, To Be Merged

#5944 fix(DB/loot): Fix Shiver Blade drop
  data/sql/updates/pending_db_world/rev_1621414710329639831.sql
Labels: 1-19, DB, To Be Merged

#5947 fix(DB/loot): Adjust SM mobs' loot tables
  data/sql/updates/pending_db_world/rev_1621426406097836315.sql
Labels: 30-39, DB, To Be Merged

#5962 fix(DB/gameobject): Fix Andorhal sign location
  data/sql/updates/pending_db_world/rev_1621496626209255481.sql
Labels: 30-39, DB, To Be Merged

#5974 refactor(Core/Creature): Split creature.h
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Creature/CreatureData.h
Labels: CORE, To Be Merged

#5918 fix(DB): Adjust Quest 7944 POI
  data/sql/updates/pending_db_world/rev_1621271952210432100.sql
Labels: 30-39, DB, To Be Merged

#6048 fix(Core/Spell): packet build in spell_pvp_trinket_wotf_shared_cd
  src/server/scripts/Spells/spell_generic.cpp
Labels: CORE, Priority - High, Ready to be reviewed, Script

#5924 fix(DB/item_template_locale) Fixing special characters for translation esES/esMX
  data/sql/updates/pending_db_world/rev_1621301896942678800.sql
Labels: DB, To Be Merged

#5948 fix(DB/item_template_locale)(Part Two) Fixing special characters for translation esES/esMX
  data/sql/updates/pending_db_world/rev_1621427242858236100.sql
Labels: DB, To Be Merged

#5953 feat(Core/Misc): includes cleanup
  src/common/Collision/Management/MMapFactory.cpp
  src/common/Collision/Management/MMapManager.h
  src/common/Collision/Maps/MapTree.cpp
  src/common/Common.h
  src/common/Define.h
  src/common/Utilities/Geometry.h
  src/common/Utilities/Tokenize.h
  src/common/Utilities/Util.cpp
  src/server/authserver/Server/AuthSocket.cpp
  src/server/authserver/Server/AuthSocket.h
  src/server/database/Database/DatabaseLoader.cpp
  src/server/database/Database/PreparedStatement.cpp
  src/server/database/Database/PreparedStatement.h
  src/server/database/Database/Transaction.h
  src/server/game/AI/CreatureAISelector.cpp
  src/server/game/Achievements/AchievementMgr.h
  src/server/game/Chat/ChatLink.h
  src/server/game/DataStores/DBCStores.h
  src/server/game/DungeonFinding/LFG.h
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Entities/GameObject/GameObject.h
  src/server/game/Entities/Item/ItemTemplate.h
  src/server/game/Entities/Object/ObjectPosSelector.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Events/GameEventMgr.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Grids/GridDefines.h
  src/server/game/Handlers/NPCHandler.h
  src/server/game/Loot/LootMgr.h
  src/server/game/Misc/AsyncAuctionListing.h
  src/server/game/Misc/AvgDiffTracker.h
  src/server/game/Misc/GameGraveyard.h
  src/server/game/Misc/SavingSystem.h
  src/server/game/Quests/QuestDef.h
  src/server/game/Texts/CreatureTextMgr.h
  src/server/game/World/World.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/boss_ambassador_flamelash.cpp
  src/server/scripts/Northrend/Naxxramas/boss_patchwerk.cpp
  src/server/shared/DataStores/DBCStore.h
  src/server/shared/DataStores/DBCStructure.h
  src/server/worldserver/CommandLine/CliRunnable.h
  src/server/worldserver/RemoteAccess/RARunnable.h
  src/server/worldserver/WorldThread/WorldRunnable.h
  src/tools/mmaps_generator/PathCommon.h
Labels: CORE, Script, To Be Merged

#5626 feat(Core/RealmList): port TrinityCore realm api
  data/sql/updates/pending_db_auth/rev_1620114805872279900.sql
  src/common/Common.h
  src/server/authserver/Authentication/AuthCodes.cpp
  src/server/authserver/Authentication/AuthCodes.h
  src/server/authserver/Main.cpp
  src/server/authserver/Server/AuthSocket.cpp
  src/server/game/Chat/Chat.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Handlers/Socialhandler.cpp
  src/server/game/Server/WorldSocket.cpp
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/scripts/Commands/cs_account.cpp
  src/server/scripts/Commands/cs_gm.cpp
  src/server/scripts/Commands/cs_misc.cpp
  src/server/scripts/Commands/cs_ticket.cpp
  src/server/shared/Realms/Realm.h
  src/server/shared/Realms/RealmList.cpp
  src/server/shared/Realms/RealmList.h
  src/server/worldserver/Main.cpp
  src/server/worldserver/Master.cpp
  src/test/mocks/WorldMock.h
Labels: CORE, DB, Ready to be reviewed, Script, UnitTests

#5065 fix(Core/Creature): Creatures will periodically call for assistance.
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged
