Repository azerothcore/azerothcore-wotlk, pull requests merged in 2021-09, with the labels that each got.

#7488 fix(Core/DungeonFinder):
  src/server/game/DungeonFinding/LFGMgr.cpp
  src/server/game/DungeonFinding/LFGMgr.h
  src/server/game/DungeonFinding/LFGQueue.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Handlers/GroupHandler.cpp
  src/server/game/Handlers/LFGHandler.cpp
Labels: To Be Merged, CORE

#7556 fix(DB/Quest): Starting Blood Elf quests are now only belf
  data/sql/updates/pending_db_world/rev_1629919057423789312.sql
Labels: To Be Merged, DB, 1-19

#7589 fix(Core/Movement): Set proper flying animations for creatures with I…
  src/server/game/Entities/Creature/Creature.cpp
Labels: To Be Merged, CORE

#7557 fix(DB/creature): Gish the Unmoving pathing
  data/sql/updates/pending_db_world/rev_1629918642442912200.sql
Labels: To Be Merged, DB

#7563 fix(DB/Quest): "Gaining Acceptance" Reputation limit
  data/sql/updates/pending_db_world/rev_1629974973789158607.sql
Labels: To Be Merged, DB, 40-49

#7566 fix(DB/Quest): Changed allowed races on Fire Hardened Mail
  data/sql/updates/pending_db_world/rev_1629981420936961816.sql
Labels: To Be Merged, DB, 20-29

#7567 fix(DB/Creature): GhostLands Added movement to multiple mobs
  data/sql/updates/pending_db_world/rev_1629983088640886216.sql
Labels: To Be Merged, DB, 1-19

#7568 fix(DB/creature_formation): Link Den Mother and cubs
  data/sql/updates/pending_db_world/rev_1629982964484888577.sql
Labels: To Be Merged, DB, 1-19

#7575 fix(DB/Loot): Corrected Darkmoon Faire Prizes loot.
  data/sql/updates/pending_db_world/rev_1630006389394994500.sql
Labels: To Be Merged, DB, Loot

#7576 fix(DB/Creatures): Fixed Xan'tish Snakes pathing.
  data/sql/updates/pending_db_world/rev_1630007612293972500.sql
Labels: To Be Merged, DB, ChromieCraft Generic

#7582 fix(DB/quest_template_addon): Set honored requirement for "Favor Amongst the Brotherhood" quests
  data/sql/updates/pending_db_world/rev_1630055966364700300.sql
Labels: To Be Merged, DB

#7593 fix(DB/Creature): Decreases the respawn time of Garrick Padfoot
  data/sql/updates/pending_db_world/rev_1630089599912305764.sql
Labels: To Be Merged, DB, 1-19

#7595 fix(DB/Creature): fix Death Speaker Jargba's MC
  data/sql/updates/pending_db_world/rev_1630100495388127462.sql
Labels: To Be Merged, DB

#7600 fix(DB/gameobject): Correct respawn time for 2 Dark Iron Deposits
  data/sql/updates/pending_db_world/rev_1630128453579281559.sql
Labels: To Be Merged, DB, ChromieCraft Generic

#7605 fix(DB/Creature): Change respawn timer and added movement to The Husk
  data/sql/updates/pending_db_world/rev_1630158070330132264.sql
Labels: To Be Merged, DB, 50-59

#7597 fix(DB/gameobject_loot): Delete incorrect items from Alterac Granite …
  data/sql/updates/pending_db_world/rev_1630118063882922979.sql
Labels: To Be Merged, DB, Loot, 20-29

#7601 fix(DB/GO): Repositioning of a Small Thorium Vein
  data/sql/updates/pending_db_world/rev_1630139869353251128.sql
Labels: To Be Merged, DB, 40-49

#7603 fix(DB/gameobject_loot): Correct Rich Thorium Vein drops
  data/sql/updates/pending_db_world/rev_1630148697901793648.sql
Labels: To Be Merged, DB, ChromieCraft Generic

#7604 fix(DB/quest_template): Correct objective for the Blackfathom Villainy
  data/sql/updates/pending_db_world/rev_1630147471003792720.sql
Labels: To Be Merged, DB

#7619 fix(DB/Creature): Fixed Zul'arek Hatefowler
  data/sql/updates/pending_db_world/rev_1630227596211930942.sql
Labels: To Be Merged, DB

#7620 fix(DB/Creature): Fixed Lord Xiz
  data/sql/updates/pending_db_world/rev_1630228897555898489.sql
Labels: To Be Merged, DB, 1-19

#7625 fix(DB/Quest): Fixed quest Bitter Rivals
  data/sql/updates/pending_db_world/rev_1630252354413939245.sql
Labels: To Be Merged, DB

#7632 fix (DB/Creature): Add movements for Spindleweb
  data/sql/updates/pending_db_world/rev_1630312205613208089.sql
Labels: To Be Merged, DB, 1-19

#7611 fix(DB/Creature): Corrected model of Earthen Ring Guide.
  data/sql/updates/pending_db_world/rev_1630180229119275600.sql
Labels: To Be Merged, DB, ChromieCraft Generic

#7646 fix(DB/GameEvents): Added missing pavilion at Tarren Mill.
  data/sql/updates/pending_db_world/rev_1630345537511243600.sql
Labels: To Be Merged, DB

#7591 fix(DB/Loot): Change blood red key drop rate
  data/sql/updates/pending_db_world/rev_1630085433143335851.sql
Labels: To Be Merged, DB, 50-59

#7633 fix(DB/Creature): Make Webwood spiders and Githyiss the Vile neutral
  data/sql/updates/pending_db_world/rev_1630318500363217970.sql
Labels: To Be Merged, DB

#7640 fix(DB/Creature): Added new spawn to Masophet the Black and more
  data/sql/updates/pending_db_world/rev_1630335615911208914.sql
Labels: To Be Merged, DB, 1-19

#7645 fix(DB/Creature): Fixed Celebras the Redeemed gossip
  data/sql/updates/pending_db_world/rev_1630344741636829281.sql
Labels: To Be Merged, DB, 40-49

#7608 fix(DB/QuestItems): Change items respawn time The Bloodsail Buccaneers
  data/sql/updates/pending_db_world/rev_1630172168898330770.sql
Labels: To Be Merged, DB, 40-49

#7660 fix(DB/Gameobject): Adjust Tin Vein position in Westfall
  data/sql/updates/pending_db_world/rev_1630416137992915266.sql
Labels: To Be Merged, DB, 1-19

#7644 fix(Scripts/Spells): Unlit Torches cannot be used too far away from t…
  src/server/scripts/Events/midsummer.cpp
Labels: To Be Merged, Script, ChromieCraft Generic

#7653 fix(DB/Loot): Bloated Slippery Eel should be lootable only with quest.
  data/sql/updates/pending_db_world/rev_1630405222505942000.sql
Labels: To Be Merged, DB, Loot, ChromieCraft Generic

#7657 fix(DB/creature): Fix Cavindra position inside the pool
  data/sql/updates/pending_db_world/rev_1630408706945809100.sql
Labels: To Be Merged, DB, 40-49

#7655 fix(DB/creature_template): Fixed Southshore Guards faction
  data/sql/updates/pending_db_world/rev_1630405831769074100.sql
Labels: To Be Merged, DB

#7683 Possible crashfix.
  src/server/game/DungeonFinding/LFGMgr.cpp
Labels: CORE

#7622 fix(DB/Reputation):Brood of Nozdormu reputation
  data/sql/updates/pending_db_world/rev_1630244571729817781.sql
Labels: To Be Merged, DB, 60-69

#7684 Possible DF crashfix.
  src/server/game/DungeonFinding/LFGMgr.cpp
Labels: To Be Merged, CORE, Priority-Critical

#7523 fix(Core/Items): Armor type requirement for needing items in LFG grou…
  src/server/game/Entities/Item/ItemTemplate.h
  src/server/game/Entities/Player/PlayerStorage.cpp
  src/server/game/Handlers/ItemHandler.cpp
Labels: To Be Merged, CORE, Ready to be Reviewed

#7662 fix(DB/Quest): Fixed The Rethban Gauntlet quest
  data/sql/updates/pending_db_world/rev_1630420965081184382.sql
Labels: To Be Merged, DB, 20-29

#7661 fix (DB/Creature): Add roaming Stonewind Trackers
  rev_1630418153212582713.sql
Labels: To Be Merged, DB

#7665 fix(DB/Creature): Fixed Gordunni Shamans casting too much healing
  data/sql/updates/pending_db_world/rev_1630427477948150965.sql
Labels: To Be Merged, DB, 40-49

#7626 fix(DB/Quest): Fix missing quest Return to Krog
  data/sql/updates/pending_db_world/rev_1630263728286533056.sql
Labels: To Be Merged, DB, 30-39

#7667 fix(Core/Pets): Spells casted by pets and delayed due to LoS or not i…
  src/server/game/Entities/Pet/Pet.cpp
Labels: Class-Warlock, To Be Merged, CORE

#7663 fix (DB/Creature): Add roaming Quel'dorei
  data/sql/updates/pending_db_world/rev_1630421521637477310.sql
Labels: To Be Merged, DB, 1-19

#7708 fix(DB/updates): Fix merge of PR 7707
  data/sql/updates/pending_db_world/rev_1630690395841002600.sql
Labels: To Be Merged, DB

#7678 fix(DB_Creature) remove unnecessary NPC Griz Gutshank
  data/sql/updates/pending_db_world/rev_1630506569314815219.sql
Labels: To Be Merged, DB, 40-49

#7668 fix(DB/Reputation):Hydraxian Waterlords Reputation
  data/sql/updates/pending_db_world/rev_1630437845134253537.sql
Labels: To Be Merged, DB, 50-59

#7670 fix(DB/translation):some keys Chinese translation
  data/sql/updates/pending_db_world/rev_1630456715748683765.sql
Labels: To Be Merged, DB

#7175 fix(DB/creature_template): Adjust movement speed of all vanilla creatures from sniffs up until Naxxramas
  data/sql/updates/pending_db_world/rev_1627589501720548700.sql
Labels: To Be Merged, DB

#7527 fix(DB/Creature): fix gordunni/forest walker movement
  data/sql/updates/pending_db_world/rev_1629752061588917431.sql
Labels: To Be Merged, DB

#7607 fix(Core/Creatures): Creatures' guardian should not despawn on summon…
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
Labels: To Be Merged, CORE

#7472 Fix incorrect pathing of caster mobs when their casts fail due to LOS
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
Labels: Priority-High, To Be Merged, CORE

#7669 fix(DB/Creature): Spawntimer fix GUID 36519
  data/sql/updates/pending_db_world/rev_1630423020825292612.sql
Labels: To Be Merged, DB, 40-49

#7674 fix(DB/Pathing): Corrected path for Isle of Conquest Envoys in Thunde…
  data/sql/updates/pending_db_world/rev_1630488458384812200.sql
Labels: To Be Merged, DB, ChromieCraft Generic

#7681 fix(DB/Creature): Add patrolling to Shadowclaw
  data/sql/updates/pending_db_world/rev_1630510887267941631.sql
Labels: To Be Merged, DB

#7696 fix(Core/Loot): Only Paladins, Warriors and Shamans should be able to…
  src/server/game/Entities/Player/PlayerStorage.cpp
Labels: To Be Merged, CORE, Loot

#7691 fix(DB/Creature): Add auras to Jadefire Shadowstalker
  data/sql/updates/pending_db_world/rev_1630588319071631667.sql
Labels: To Be Merged, DB, 40-49

#7700 fix(Core/Loot): Quest items should not be lootable/visible if already…
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerQuest.cpp
  src/server/game/Loot/LootMgr.cpp
Labels: To Be Merged, CORE, Loot

#7701 feat(Core/Loot): Added configurable option to specify ilv restriction…
  src/server/game/Entities/Player/PlayerStorage.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: To Be Merged, CORE, Loot

#6940 fix(DB): Missing special dialogue for High Chief Stillpine during 'The Kessel Run'
  data/sql/updates/pending_db_world/rev_1626260907562417400.sql
Labels: To Be Merged, DB, 1-19

#7697 refactor(DBC/Misc): Redefine & Define FactionTemplateFlags
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/shared/DataStores/DBCEnums.h
  src/server/shared/DataStores/DBCStructure.h
Labels: To Be Merged, CORE

#7705 fix(DB/Gameobject): Fixed overlapping Water Barrels/Food Crates in St…
  data/sql/updates/pending_db_world/rev_1630679189870696600.sql
Labels: To Be Merged, DB, ChromieCraft Generic

#7703 fix(DB/Quests): Corrected gold reward for some Midsummer quests.
  data/sql/updates/pending_db_world/rev_1630670252547733100.sql
Labels: To Be Merged, Quest, DB, ChromieCraft Generic

#7706 fix(DB/Gameobject): Removed duplicate spawn from Razormaw Matriach's Nest
  data/sql/updates/pending_db_world/rev_1630682164924984301.sql
Labels: To Be Merged, DB

#7707 fix(DB/Quests): Exclamation mark - Elegant Letter
  data/sql/updates/pending_db_world/rev_1630684891779932519.sql
Labels: To Be Merged, DB

#7709 fix(Core/Spells): Implemented SPELL_GROUP_SPECIAL_FLAG_SAME_SPELL_CHE…
  data/sql/updates/pending_db_world/rev_1630695496578966300.sql
  src/server/game/Spells/SpellMgr.cpp
  src/server/game/Spells/SpellMgr.h
Labels: Class-Warrior, To Be Merged, CORE

#7710 fix(DB/SmartAI): fix Screecher Spirit despawn target
  data/sql/updates/rev_1630698323562531323.sql
Labels: To Be Merged, DB, 40-49

#7711 fix(DB/quest_template): The Perenolde Tiara Objective
  data/sql/updates/pending_db_world/rev_1630703356735581407.sql
Labels: To Be Merged, DB, 30-39

#7716 fix(DB/smart_script): Increase Rift Spawn health check frequency
  data/sql/updates/pending_db_world/rev_1630731145138028688.sql
Labels: To Be Merged, DB, 1-19

#7719 fix(DB/GameEvent): Corrected wrong emissary NPCs spawned during CTA: …
  data/sql/updates/pending_db_world/rev_1630758241494670700.sql
Labels: To Be Merged, DB

#7722 fix(Core/Items): Properly display item spell charges.
  src/server/game/Handlers/ItemHandler.cpp
Labels: To Be Merged, CORE, ChromieCraft Generic

#7728 fix(DB/Loot): Remove NPC drop tables from BRD Arena Team
  data/sql/updates/pending_db_world/rev_1630816536518638817.sql
Labels: To Be Merged, DB, Loot, 50-59

#7730 chore(Core/Condition): replace assertion with logs preventing server crash
  src/server/game/Conditions/ConditionMgr.cpp
Labels: To Be Merged, CORE

#7732 fix(DB/Reputation):Cenarion Circle
  data/sql/updates/pending_db_world/rev_1630832577462717951.sql
Labels: To Be Merged, DB, 50-59

#7745 fix(DB/creature_loot): Remove Frost Oil drops from 3 NPCs
  data/sql/updates/pending_db_world/rev_1630927565231100667.sql
Labels: To Be Merged, DB, Loot, 40-49

#7755 fix(DB/Gameobjects): Added missing posts to Alterac Valley banners in…
  data/sql/updates/pending_db_world/rev_1630944576847563700.sql
Labels: To Be Merged, DB

#7788 fix(DB/MySQL): Drop script table name
  data/sql/create/drop_mysql.sql
Labels: To Be Merged, DB

#7793 Revert "Fix NPC enters into EvadeMode, he loses all his Auras."
  src/server/game/Entities/Unit/Unit.cpp
Labels: Priority-High, To Be Merged, CORE

#7539 fix(Core/Loot): Properly handle referenced group loot templates.
  data/sql/updates/pending_db_world/rev_1629826555036082700.sql
  data/sql/updates/pending_db_world/rev_1630484852047598500.sql
  src/server/game/Loot/LootMgr.cpp
  src/server/game/Loot/LootMgr.h
Labels: To Be Merged, DB, CORE, Ready to be Reviewed, Loot, ChromieCraft Generic

#7631 Fixed join multiple guilds exploit
  src/server/game/Handlers/GuildHandler.cpp
Labels: To Be Merged, CORE

#7757 fix(DB/Creature): Fixed Mist Howler
  data/sql/updates/pending_db_world/rev_1630953928818908826.sql
Labels: To Be Merged, DB, 20-29

#7772 fix(DB/creature_loot_template): Add Azure Whelpling on Blue Dragonspawn
  data/sql/updates/pending_db_world/rev_1631038913388302500.sql
Labels: To Be Merged, DB, 50-59

#7718 fix(Core/Quests): Properly handle quests with QuestType=0.
  data/sql/updates/pending_db_world/rev_1630757583266839900.sql
  src/server/game/Entities/Player/PlayerQuest.cpp
  src/server/game/Handlers/QuestHandler.cpp
  src/server/game/Quests/QuestDef.cpp
Labels: To Be Merged, Quest, CORE, ChromieCraft Generic

#7724 chore(Core/Spells): Redefine & Define some castFlags
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
Labels: To Be Merged, CORE

#7739 Dalaran Sewers Knockback
  data/sql/updates/pending_db_world/rev_1630914827730930867.sql
Labels: To Be Merged, DB, ChromieCraft Generic

#7770 fix(DB/creature_formations): [BRD] The Throneroom will now aid Thaurissan & Moira
  data/sql/updates/pending_db_world/rev_1631031703375947799.sql
Labels: Instance - Dungeon - Classic, To Be Merged, DB, 50-59

#7717 feat(Core/Commands): Gear
  data/sql/updates/pending_db_world/rev_1630714167178408255.sql
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/database/Database/Implementation/CharacterDatabase.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/scripts/Commands/cs_misc.cpp
Labels: To Be Merged, DB, CORE, Script

#7752 [Core/Item]: Fix Luffa removing more than one bleed
  src/server/game/Spells/SpellEffects.cpp
  src/server/game/Spells/SpellMgr.cpp
Labels: To Be Merged, CORE, 40-49

#5897 fix(Scripts/Ulduar): Hodir boss fight issue
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_hodir.cpp
Labels: To Be Merged, CORE, Script

#7841 fix(DB/updates): Allocate update of PR 7710
  data/sql/updates/pending_db_world/rev_1631488214870381600.sql
Labels: To Be Merged, DB

#7791 fix(DB/Creature): Removed skinning from rock worm, rock borer and vile larva
  data/sql/updates/pending_db_world/rev_1631169209646445982.sql
Labels: To Be Merged, DB, 40-49

#7792 Quest OOX 09 - 17 - 2FE
  data/sql/updates/pending_db_world/rev_1631167991750650946.sql
  src/server/scripts/EasternKingdoms/zone_hinterlands.cpp
  src/server/scripts/Kalimdor/zone_feralas.cpp
  src/server/scripts/Kalimdor/zone_tanaris.cpp
Labels: To Be Merged, Quest, DB, CORE, Script

#7798 fix(DB/Spells): Define Dust Field as a positive spell.
  data/sql/updates/pending_db_world/rev_1631201007246764700.sql
  src/server/game/Entities/Unit/Unit.cpp
Labels: Instance - Dungeon - Classic, To Be Merged, DB, CORE, 40-49

#7800 fix(DB/Quest): Fixed Quest "Shadoweaver"
  data/sql/updates/pending_db_world/rev_1631214624766636285.sql
Labels: To Be Merged, DB, 40-49

#7811 fix(DB/Creatures): remove invalid script for Warder Stilgiss
  data/sql/updates/pending_db_world/rev_1631296599663223200.sql
Labels: Instance - Dungeon - Classic, To Be Merged, DB, 40-49

#7815 fix(DB/Gameobject): adds location information to game objects 3/17
  data/sql/updates/pending_db_world/rev_1631309104205741300.sql
Labels: To Be Merged, DB

#7818 fix(DB/gameobject): Fix respawn timers for "Refugee's Quandary" items
  data/sql/updates/pending_db_world/rev_1631329691460885909.sql
Labels: To Be Merged, Quest, DB, 1-19

#7825 fix(DB/Gameobject): moves stranglekelps to the shore
  data/sql/updates/pending_db_world/rev_1631368907971857000.sql
Labels: To Be Merged, DB, 1-19

#7833 fix(DB/Gameobject): Remove Shipment of Iron respawn timer
  data/sql/updates/pending_db_world/rev_1631433270459665577.sql
Labels: To Be Merged, DB, 20-29

#7559 fix(Core/Spells): Cooldowns:
  data/sql/updates/pending_db_characters/rev_1629988683345293500.sql
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/game/DataStores/DBCStores.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerUpdates.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Handlers/PetHandler.cpp
  src/server/game/Handlers/SpellHandler.cpp
  src/server/game/Spells/Auras/SpellAuras.cpp
  src/server/game/Spells/SpellEffects.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_icecrown_gunship_battle.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/boss_ingvar_the_plunderer.cpp
  src/server/shared/DataStores/DBCStructure.h
Labels: To Be Merged, DB, CORE, Ready to be Reviewed, Script

#7307 Core/Misc: bunch of crashfixes
  src/common/Utilities/EventProcessor.cpp
  src/common/Utilities/EventProcessor.h
  src/server/game/AI/CreatureAI.cpp
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/Battlefield/Zones/BattlefieldWG.cpp
  src/server/game/Entities/Creature/TemporarySummon.cpp
  src/server/game/Entities/Creature/TemporarySummon.h
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.h
  src/server/game/Spells/Auras/SpellAuras.cpp
  src/server/game/Spells/Auras/SpellAuras.h
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
  src/server/game/Spells/SpellInfo.cpp
  src/server/game/Spells/SpellInfo.h
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/EasternKingdoms/Karazhan/boss_midnight.cpp
  src/server/scripts/EasternKingdoms/ScarletEnclave/zone_the_scarlet_enclave.cpp
  src/server/scripts/EasternKingdoms/zone_eastern_plaguelands.cpp
  src/server/scripts/EasternKingdoms/zone_stormwind_city.cpp
  src/server/scripts/Events/brewfest.cpp
  src/server/scripts/Events/hallows_end.cpp
  src/server/scripts/Events/love_in_air.cpp
  src/server/scripts/Events/pilgrims_bounty.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
  src/server/scripts/Kalimdor/zone_durotar.cpp
  src/server/scripts/Northrend/AzjolNerub/AzjolNerub/boss_hadronox.cpp
  src/server/scripts/Northrend/ChamberOfAspects/RubySanctum/boss_halion.cpp
  src/server/scripts/Northrend/Gundrak/boss_drakkari_colossus.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_lord_marrowgar.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_rotface.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_the_lich_king.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_hodir.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_mimiron.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_yoggsaron.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/boss_keleseth.cpp
  src/server/scripts/Northrend/VioletHold/boss_zuramat.cpp
  src/server/scripts/Northrend/zone_dragonblight.cpp
  src/server/scripts/Northrend/zone_howling_fjord.cpp
  src/server/scripts/Northrend/zone_icecrown.cpp
  src/server/scripts/Northrend/zone_sholazar_basin.cpp
  src/server/scripts/Northrend/zone_storm_peaks.cpp
  src/server/scripts/Northrend/zone_zuldrak.cpp
  src/server/scripts/Outland/BlackTemple/boss_reliquary_of_souls.cpp
  src/server/scripts/Pet/pet_generic.cpp
  src/server/scripts/Pet/pet_priest.cpp
  src/server/scripts/Spells/spell_dk.cpp
  src/server/scripts/Spells/spell_druid.cpp
  src/server/scripts/Spells/spell_generic.cpp
  src/server/scripts/Spells/spell_priest.cpp
  src/server/scripts/Spells/spell_quest.cpp
  src/server/scripts/Spells/spell_warlock.cpp
  src/server/scripts/World/npcs_special.cpp
Labels: To Be Merged, CORE, Script

#6638 feat(Core/debug): Add commad to debug lfg
  data/sql/updates/pending_db_world/rev_1624914323095978900.sql
  src/server/game/DungeonFinding/LFGMgr.cpp
  src/server/game/DungeonFinding/LFGMgr.h
  src/server/game/DungeonFinding/LFGQueue.cpp
  src/server/game/Miscellaneous/Language.h
  src/server/scripts/Commands/cs_debug.cpp
Labels: To Be Merged, DB, CORE, Script

#5713 fix(Core/Spell): Remove ErrorCube visual
  data/sql/updates/pending_db_world/rev_1620443413425226200.sql
  data/sql/updates/pending_db_world/rev_1620443572177894000.sql
  src/server/game/DataStores/DBCStores.cpp
  src/server/game/DataStores/DBCStores.h
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellInfo.h
  src/server/game/Spells/SpellMgr.cpp
  src/server/shared/DataStores/DBCStructure.h
  src/server/shared/DataStores/DBCfmt.h
Labels: To Be Merged, DB, CORE

#7758 [DB/Trainer]: Correct level requirement for Portal spells Darnassus and Thunder Bluff
  data/sql/updates/pending_db_world/rev_1630954454155139800.sql
Labels: Class-Mage, To Be Merged, DB, 40-49

#7836 fix(Core/Unit): Improve pets behavior
  src/server/game/Entities/Unit/Unit.cpp
Labels: To Be Merged, CORE

#7808 Core/Misc: Remove duplicate line
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: To Be Merged, CORE

#7799 fix(DB/Creature): Add missing gossip option to obtain Yeh'kinya's Scr…
  data/sql/updates/pending_db_world/rev_1631203839037621100.sql
Labels: Instance - Dungeon - Classic, To Be Merged, DB, 40-49

#7810 fix(Scripts/BRD): Fixed movement of Burning Spirits during Ambassador…
  src/server/game/AI/CoreAI/UnitAI.h
  src/server/game/Movement/MotionMaster.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/boss_ambassador_flamelash.cpp
Labels: Instance - Dungeon - Classic, To Be Merged, CORE, Script, 40-49

#7828 fix(Creature/Core): Boss phased reset
  src/server/game/AI/CreatureAI.cpp
  src/server/game/AI/CreatureAI.h
  src/server/game/AI/ScriptedAI/ScriptedCreature.cpp
  src/server/game/AI/ScriptedAI/ScriptedCreature.h
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
Labels: To Be Merged, CORE

#7814 fix(Scripts/ToC): Removed completely invalid code about removing loot. Fixes #7804
  data/sql/updates/pending_db_world/rev_1631306487914473600.sql
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_anubarak_trial.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_faction_champions.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_northrend_beasts.cpp
Labels: Instance - Raid - Northrend, To Be Merged, Loot

#7846 fix(DB/Creature): Removed the cast of Thrash for Tamra Stormpike
  data/sql/updates/pending_db_world/rev_1631538023459456277.sql
Labels: To Be Merged, DB, 30-39

#7832 fix(Core/Spell): Warlock Banish
  src/server/scripts/Spells/spell_warlock.cpp
Labels: Class-Warlock, To Be Merged, CORE, Script, 40-49

#7835 fix(DB/quest_template): Fix correct text
  data/sql/updates/pending_db_world/rev_1631435267041671233.sql
Labels: To Be Merged, DB, 1-19

#7902 fix(DB/smart_scripts): Improve Ironaya & prevent external pull
  data/sql/updates/pending_db_world/rev_1631721215836008000.sql
Labels: To Be Merged, DB, 30-39, 40-49

#7934 fix(CI): update mysql path for windows build
  .github/workflows/windows_build.yml
Labels: To Be Merged, Continuous Integration, Workflow, run-build

#7783 fix(Scripts/BlackwingLair): Fixed starting Razorgore the Untamed fight.
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/instance_blackwing_lair.cpp
Labels: To Be Merged, CORE, Script, 60-69

#7847 fix(DB/smart_scripts): Add Voidwalker summons to Apothecary Falthis
  data/sql/updates/pending_db_world/rev_1631537204810734698.sql
Labels: To Be Merged, DB, 20-29

#7861 fix(Core/Creature): Remove combo points on evade
  src/server/game/AI/CreatureAI.cpp
Labels: To Be Merged, CORE, Ready to be Reviewed

#7848 fix(DB/Quest) : Fixed Deliver the Plans to An'telas
  data/sql/updates/pending_db_world/rev_1631541374686335522.sql
Labels: To Be Merged, DB

#7865 feat(Core/Misc): Improve enum flags with type safe operators
  src/common/Utilities/EnumFlag.h
Labels: To Be Merged, CORE

#7852 fix(DB/Gameobject): adds location information to game objects 4/17
  data/sql/updates/pending_db_world/rev_1631549754214759700.sql
Labels: To Be Merged, DB

#7863 fix(Core/Spell): PLAYER_FIELD_BYTE2_INVISIBILITY_GLOW applies only wi…
  src/server/game/Entities/Player/Player.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: To Be Merged, CORE

#4917 fix(DB/Zone):improved Blades Edge
  data/sql/updates/pending_db_world/rev_1616252675947625100.sql
Labels: To Be Merged, DB

#4918 fix(DB/Zone):improved Terokkar Forest
  data/sql/updates/pending_db_world/rev_1616252599323979000.sql
Labels: To Be Merged, DB

#4919 fix(DB/Zone):improved Nagrand
  data/sql/updates/pending_db_world/rev_1616252519696041200.sql
Labels: To Be Merged, DB, Ready to be Reviewed

#7751 fix(DB/Creatures): Removed interrupt mechanic immune mask for Befoule…
  data/sql/updates/pending_db_world/rev_1630941334412230500.sql
Labels: To Be Merged, DB, ChromieCraft Generic

#7854 fix(Scripts/Items): Powerful Anti-venom
  data/sql/updates/pending_db_world/rev_1631557649018772603.sql
  src/server/scripts/Spells/spell_item.cpp
Labels: To Be Merged, DB, CORE, Script, 40-49

#7747 fix(DB/creature): Move Ashenvale Elder Bear spawn
  data/sql/updates/pending_db_world/rev_1630930325081449726.sql
Labels: To Be Merged, DB, 20-29

#7856 fix(Scripts/Spells): Fixed never-ending Victorious state proc off fro…
  src/server/scripts/Spells/spell_warrior.cpp
Labels: Class-Warrior, To Be Merged, CORE, Script

#7864 fix(DB/game_tele): Duplicate teleport name
  data/sql/updates/pending_db_world/rev_1631572727925631500.sql
Labels: To Be Merged, DB

#7876 fix(DB/Quest): Fix undead starting quests allowed races
  data/sql/updates/pending_db_world/rev_1631624817554390205.sql
Labels: To Be Merged, DB

#7867 fix(Core/Spell): Remove SPELL_ATTR4_NO_CAST_LOG from being applied to…
  src/server/game/Spells/SpellMgr.cpp
Labels: To Be Merged, CORE

#7868 fix(Core/Misc): SendAuthWaitQueue typo
  src/server/game/Server/WorldSession.cpp
  src/server/game/Server/WorldSession.h
  src/server/game/World/World.cpp
Labels: To Be Merged, CORE

#7880 Fix(DB): Gelkis/Magram reputations
  data/sql/updates/pending_db_world/rev_1631634961417748000.sql
Labels: To Be Merged, DB, 30-39

#7869 fix(Core/Unit): Improve check for players to automatically stand if a…
  src/server/game/Entities/Unit/Unit.cpp
Labels: To Be Merged, CORE

#7866 refactor(Core/Maps): Change map file version from FourCC to uint32
  src/server/game/Maps/Map.cpp
  src/tools/map_extractor/System.cpp
  src/tools/mmaps_generator/TerrainBuilder.cpp
Labels: To Be Merged, CORE, mmap/vmap

#7870 refactor(Core/Misc): Use .empty() instead of == ""
  src/server/game/Tools/PlayerDump.cpp
  src/server/scripts/Commands/cs_debug.cpp
Labels: To Be Merged, CORE, Script

#7873 fix: solved issue 6585
  data/sql/updates/pending_db_world/rev_1631616272860535120.sql
Labels: To Be Merged, DB

#7903 fix(DB/broadcast_text_locale): Fix typo on Lore Keeper of Norgannon's Greetings
  data/sql/updates/pending_db_world/rev_1631739945979964800.sql
Labels: To Be Merged, DB, 30-39, 40-49

#7886 fix(scripts/Thaddius): Update unit_state
  src/server/scripts/Northrend/Naxxramas/boss_thaddius.cpp
Labels: To Be Merged, CORE, Script

#7860 fix(Core/Spell): Add aditional check to LoadSpellScripts()
  src/server/game/Globals/ObjectMgr.cpp
Labels: To Be Merged, CORE

#7878 fix(Core/Spells): Fixed applying category spell cooldown instead of s…
  src/server/game/Entities/Player/Player.cpp
Labels: To Be Merged, CORE

#7882 fix(DB/Gameobjects): Fixed rotations of some plaques in Royal Gallery…
  data/sql/updates/pending_db_world/rev_1631640758221414000.sql
Labels: To Be Merged, DB, ChromieCraft Generic

#7883 fix(DB/Creature): Added auras to some creatures
  data/sql/updates/pending_db_world/rev_1631643504019542275.sql
Labels: To Be Merged, DB

#7885 fix(DB/Creature): Fixed Fel'zerul RP on The Temple of Atal'Hakkar quest
  data/sql/updates/pending_db_world/rev_1631645430068698532.sql
Labels: To Be Merged, DB

#7887 fix(CORE/Reputation): +Rep aura modify quest with override faction
  src/server/game/Entities/Player/Player.cpp
Labels: To Be Merged, CORE

#7888 fix(DB/Gameobject): adds location information to game objects 5/17
  data/sql/updates/pending_db_world/rev_1631649512373399600.sql
Labels: To Be Merged, DB

#7891 fix(DB/creature): Adds movement for Stonewing Slayer & Phantasmal Seeker
  data/sql/updates/pending_db_world/rev_1631708024134357951.sql
Labels: To Be Merged, DB, 1-19

#7904 fix(Core/Map): remove ABORT() to prevent crash
  src/server/game/Maps/Map.cpp
Labels: To Be Merged, CORE
