Repository azerothcore/azerothcore-wotlk, pull requests merged in 2021-02, with the labels that each got.

#4310 fix(Core/Spell): Detect Undead
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, To Be Merged

#4311 fix(DB/gameobject): Core Fragment should not despawn
  data/sql/updates/pending_db_world/rev_1610978234315303947.sql
Labels: DB, To Be Merged

#4354 feat(DB/SAI): lunar festival invitation teleport
  data/sql/updates/pending_db_world/rev_1611685103659442481.sql
Labels: 1-19, DB, To Be Merged

#4367 fix(DB): missing Lunar Festival GOs and creatures
  data/sql/updates/pending_db_world/rev_1611875417271883500.sql
Labels: 1-19, DB, To Be Merged

#4323 feat(Core/Spell): Implement ValidateSpellInfo
  src/server/game/Spells/SpellScript.cpp
  src/server/game/Spells/SpellScript.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_shazzrah.cpp
  src/server/scripts/EasternKingdoms/ZulAman/boss_hexlord.cpp
  src/server/scripts/EasternKingdoms/zone_blasted_lands.cpp
  src/server/scripts/EasternKingdoms/zone_undercity.cpp
  src/server/scripts/Events/love_in_air.cpp
  src/server/scripts/Events/midsummer.cpp
  src/server/scripts/Events/winter_veil.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_kazrogal.cpp
  src/server/scripts/Kalimdor/zone_durotar.cpp
  src/server/scripts/Kalimdor/zone_dustwallow_marsh.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_anubarak_trial.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_faction_champions.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_blood_queen_lana_thel.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_festergut.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_icecrown_gunship_battle.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_professor_putricide.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_rotface.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_sindragosa.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_the_lich_king.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.h
  src/server/scripts/Northrend/Naxxramas/boss_kelthuzad.cpp
  src/server/scripts/Northrend/Naxxramas/boss_thaddius.cpp
  src/server/scripts/Northrend/Nexus/Oculus/oculus.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_yoggsaron.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/utgarde_keep.cpp
  src/server/scripts/Northrend/VaultOfArchavon/boss_koralon.cpp
  src/server/scripts/Northrend/zone_storm_peaks.cpp
  src/server/scripts/Northrend/zone_wintergrasp.cpp
  src/server/scripts/Outland/boss_doomlord_kazzak.cpp
  src/server/scripts/Spells/spell_dk.cpp
  src/server/scripts/Spells/spell_druid.cpp
  src/server/scripts/Spells/spell_generic.cpp
  src/server/scripts/Spells/spell_hunter.cpp
  src/server/scripts/Spells/spell_item.cpp
  src/server/scripts/Spells/spell_mage.cpp
  src/server/scripts/Spells/spell_paladin.cpp
  src/server/scripts/Spells/spell_priest.cpp
  src/server/scripts/Spells/spell_quest.cpp
  src/server/scripts/Spells/spell_rogue.cpp
  src/server/scripts/Spells/spell_shaman.cpp
  src/server/scripts/Spells/spell_warlock.cpp
  src/server/scripts/Spells/spell_warrior.cpp
  src/server/scripts/World/boss_emerald_dragons.cpp
Labels: CORE, Script, To Be Merged

#4315 fix(DB/gameobject): Move location of Chest of The Seven in BRD (resubmitted, sorry!)
  data/sql/updates/pending_db_world/rev_1610739863539733975.sql
Labels: DB, To Be Merged

#4317 fix(DB/gameobject): The Scarlet Key should be lootable by all
  data/sql/updates/pending_db_world/rev_1610987194142626485.sql
Labels: DB, To Be Merged

#4321 fix(DB/gameobject): The Damaged Chest respawn rate
  data/sql/updates/pending_db_world/rev_1611219292313816659.sql
Labels: DB, To Be Merged

#4324 fix(DB/Creature): Convert npc_anchorite_truuen to sai
  data/sql/updates/pending_db_world/rev_1611254109213696316.sql
  src/server/scripts/EasternKingdoms/zone_western_plaguelands.cpp
Labels: CORE, DB, Script, To Be Merged

#4326 feat(CI): use acore-core-build-action
  .github/workflows/core_build.yml
Labels: To Be Merged, Workflow

#4388 feat(Conf): toggle XP price
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/scripts/World/npcs_special.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: 1-19, CORE, Script, To Be Merged

#4319 fix(Core/Spell): Instant Statue
  data/sql/updates/pending_db_world/rev_1611180684314340400.sql
  src/server/scripts/Spells/spell_item.cpp
Labels: CORE, DB, Script, To Be Merged

#4320 fix(DB/Quest): wrong quest chain order
  data/sql/updates/pending_db_world/rev_1611179465393657785.sql
Labels: 1-19, DB, To Be Merged

#4345 refactor(Core/Config): Change PlayerStart.AllSpells to .CustomSpells
  src/server/game/World/World.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged

#4383 fix(DB/Creature): Lunar Festival Harbinger gossip
  data/sql/updates/pending_db_world/rev_1612094222775369000.sql
Labels: 1-19, DB, To Be Merged

#4371 fix(DB/Creature): Add spirit healer to gy 1318
  data/sql/updates/pending_db_world/rev_1611937625874584000.sql
Labels: DB, To Be Merged

#4358 feat(Core/Creature): implement c_t->spell_school_immune_mask
  data/sql/updates/pending_db_world/rev_1611769264588956600.sql
  src/common/Database/Implementation/WorldDatabase.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Globals/ObjectMgr.cpp
Labels: CORE, DB, To Be Merged

#4391 feat(DB/SAI): murloc fear when Mmmrrrggglll die
  data/sql/updates/pending_db_world/rev_1612115546205486724.sql
Labels: 1-19, DB, To Be Merged

#4397 feat(DB/Waypoint): improve Princess and companions movements
  data/sql/updates/pending_db_world/rev_1612129573861765384.sql
Labels: 1-19, DB, To Be Merged

#4250 fix(DB/Creature): Tender Strider Meat chance increase / icon for Refurbished Steam Tank
  data/sql/updates/pending_db_world/rev_1610314669347459800.sql
Labels: 1-19, DB, To Be Merged

#4351 fix(Core/Spell): SPELL_EFFECT_TELEPORT_UNITS_FACE_CASTER to face caster
  src/server/game/Entities/Object/Object.h
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, To Be Merged

#4360 fix(DB/gameobject): Compendium of the Fallen should be lootable by all
  data/sql/updates/pending_db_world/rev_1611779118831382003.sql
Labels: DB, To Be Merged

#4362 fix(DB/gameobject): Book of Ur should be lootable by all
  data/sql/updates/pending_db_world/rev_1611782665942053526.sql
Labels: DB, To Be Merged

#4389 fix(DB/Quest): Journey to Undercity outro
  data/sql/updates/pending_db_world/rev_1612108215653266500.sql
Labels: DB, To Be Merged

#4365 fix(DB/Item) Flamewrought Key zhCN translation
  data/sql/updates/pending_db_world/rev_1611865917828980400.sql
Labels: DB, To Be Merged

#4366 fix(Docker): add cache to dockerignore to speed up local build
  .dockerignore
Labels: Docker, To Be Merged

#4382 fix(DB/Creature): Update Mutaded Professor Putricide hitbox
  data/sql/updates/pending_db_world/rev_1612093194381292500.sql
Labels: DB, To Be Merged

#4387 fix(DB/Item): Venture Co. Documents text
  data/sql/updates/pending_db_world/rev_1612103229762253100.sql
Labels: DB, To Be Merged

#4384 fix(DB/Creature): Remove clam loot from non-sea creatures
  data/sql/updates/pending_db_world/rev_1612095806740149900.sql
Labels: DB, To Be Merged

#4420 fix(Core/Player): Prevent looting already looted items
  src/server/game/Entities/Player/Player.cpp
Labels: 1-19, CORE, To Be Merged

#4376 fix(Bash/DB-Exporter): typo
  deps/drassil/mysql-tools/shared-def
Labels: To Be Merged

#4379 fix (Core/Commands) remove character creation flag from .save command
  src/server/scripts/Commands/cs_misc.cpp
Labels: CORE, Script, To Be Merged

#4394 fix(DB/Creature): Add missing auras for some Icecrown creatures
  data/sql/updates/pending_db_world/rev_1612121591924931800.sql
Labels: DB, To Be Merged

#4426 fix(DB/gameobject): Improve DK quest The Path Of The Righteous Crusader
  data/sql/updates/pending_db_world/rev_1612359807867711613.sql
Labels: DB, To Be Merged

#4427 fix(DB/gameobject): Improve DK quest The Plaguebringer's Request
  data/sql/updates/pending_db_world/rev_1612360387230427830.sql
Labels: DB, To Be Merged

#4381 refactor(Core/Spell): Move some SpellImmune from script to db
  data/sql/updates/pending_db_world/rev_1612059439455457600.sql
  src/server/game/Entities/Pet/Pet.cpp
  src/server/scripts/EasternKingdoms/Karazhan/boss_shade_of_aran.cpp
  src/server/scripts/EasternKingdoms/Karazhan/boss_terestian_illhoof.cpp
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter2.cpp
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/boss_amanitar.cpp
  src/server/scripts/Pet/pet_shaman.cpp
Labels: CORE, DB, Script, To Be Merged

#4428 fix(DB/gameobject): Improve DK quest Nowhere To Run And Nowhere To Hide
  data/sql/updates/pending_db_world/rev_1612364271893426616.sql
Labels: DB, To Be Merged

#4386 fix(DB/Item): Foreboding Plans text
  data/sql/updates/pending_db_world/rev_1612101065652299500.sql
Labels: DB, To Be Merged

#4433 fix(DB/gameobject): Double stacked veins in Stranglethorn Vale
  data/sql/updates/pending_db_world/rev_1612401387393772200.sql
Labels: DB, To Be Merged

#4439 fix(DB/gameobject): Improve quest Mythology of the Titans
  data/sql/updates/pending_db_world/rev_1612426003202074028.sql
Labels: DB, To Be Merged

#4385 fix(DB/quest_request_items): Remove text that is set as null
  data/sql/updates/pending_db_world/rev_1612098669388447100.sql
Labels: DB, To Be Merged

#4419 fix(DB/gameobject): Quest Secondhand Diving Gear should respawn faster
  data/sql/updates/pending_db_world/rev_1612286718992265450.sql
Labels: DB, To Be Merged

#4452 fix(DB/gameobject): Improve quest The Lost Tablets of Will
  data/sql/updates/pending_db_world/rev_1612528921944990905.sql
Labels: DB, To Be Merged

#4451 fix(Core/Pathfinding): pets chase & transport
  src/server/game/Entities/Transport/Transport.cpp
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
Labels: CORE, Priority - Critical, To Be Merged

#4422 fix(Core/Spell): Clearcasting duration
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, To Be Merged

#4472 fix(Core/Spell): Restore SPELL_ATTR0_CU_AURA_CC
  data/sql/updates/pending_db_world/rev_1612676592853947300.sql
  src/server/game/ArenaSpectator/ArenaSpectator.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellInfo.h
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, DB, To Be Merged

#4475 fix(DB/Creature): Remove skinning from non-skinnable creatures
  data/sql/updates/pending_db_world/rev_1612683847811086700.sql
Labels: DB, To Be Merged

#4390 fix(DB/Gamobject): Remove deprecated signs
  data/sql/updates/pending_db_world/rev_1612110097722643800.sql
Labels: DB, To Be Merged

#4392 fix(Core/SAI): Enable SMART_ACTION_GAME_EVENT_STOP/START
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
Labels: CORE, To Be Merged

#4491 fix(Core/Spell): Restore Stealth remove check
  src/server/game/Spells/Spell.cpp
Labels: CORE, To Be Merged

#4414 fix(DB/gameobject): Deserter Propaganda should respawn much faster
  data/sql/updates/pending_db_world/rev_1612272196448415878.sql
Labels: DB, To Be Merged

#4482 fix(DB/Event): Attempt to resolve STV Fishing Extravagnaza spawns and…
  data/sql/updates/pending_db_world/rev_1612710581998002500.sql
Labels: DB, To Be Merged

#4480 fix(DB/Spawn): move outside a tree a rabid bear
  data/sql/updates/pending_db_world/rev_1612709699286458572.sql
Labels: 1-19, DB, To Be Merged

#4393 refactor(DB/Creature): Move some Lunar auras from SAI to c_t_a
  data/sql/updates/pending_db_world/rev_1612120176958459300.sql
Labels: DB, To Be Merged

#4434 fix(DB/Quest): Incorrect requirements for quest: 'A Spark of Hope'
  data/sql/updates/pending_db_world/rev_1612403335049520400.sql
Labels: DB, Quest, To Be Merged

#4506 fix (DB/Commands): Add Syntax to Command .achievement checkall
  data/sql/updates/pending_db_world/rev_1612796984747044500.sql
Labels: DB, To Be Merged

#4395 refactor(Core/Player): add helper method for PLAYER_FLAGS_DEVELOPER
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/scripts/Commands/cs_misc.cpp
  src/server/scripts/Commands/cs_server.cpp
Labels: CORE, Script, To Be Merged

#4479 fix(DB/Commands): align core and DB
  data/sql/updates/pending_db_world/rev_1612704403809446000.sql
  src/server/scripts/Commands/cs_instance.cpp
  src/server/scripts/Commands/cs_modify.cpp
  src/server/scripts/Commands/cs_npc.cpp
  src/server/scripts/Commands/cs_reset.cpp
  src/server/scripts/Commands/cs_server.cpp
Labels: CORE, DB, Ready to be reviewed, Script, To Be Merged

#4442 fix(DB/gameobject): Improve quest Test of Lore
  data/sql/updates/pending_db_world/rev_1612441103905701673.sql
Labels: DB, To Be Merged

#4432 refactor(Core/Spell): Pascal Case some SpellEntry types
  src/server/game/DataStores/DBCStores.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Auras/SpellAuras.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
  src/server/game/Spells/SpellEffects.cpp
  src/server/game/Spells/SpellInfo.cpp
  src/server/game/Spells/SpellMgr.cpp
  src/server/shared/DataStores/DBCStructure.h
Labels: CORE, To Be Merged

#4438 fix(DB/gameobject): Improve quest Knowledge in the Deeps
  data/sql/updates/pending_db_world/rev_1612424906607643097.sql
Labels: DB, To Be Merged

#4443 fix(DB/gameobject): Improve paladin quest The Test of Righteousness
  data/sql/updates/pending_db_world/rev_1612442353974993258.sql
Labels: DB, To Be Merged

#4449 fix(DB/gameobject): Improve mage quest Rituals of Power
  data/sql/updates/pending_db_world/rev_1612518645889979917.sql
Labels: DB, To Be Merged

#4511 fix(db/creature): Various Valiance Keep NPC Cosmetic Updates
  data/sql/updates/pending_db_world/rev_1612830072769679900.sql
Labels: DB, To Be Merged

#4445 feat(Hooks/PlayerScript): ShouldBeRewardedWithMoneyInsteadOfExp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgr.h
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged

#4453 fix(DB/gameobject): Improve quest Rig Wars
  data/sql/updates/pending_db_world/rev_1612530048757741422.sql
Labels: DB, To Be Merged

#4509 fix(Core/Pathfinding): Creatures regen health, spells LOD
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
  src/server/game/Movement/MovementGenerators/PathGenerator.cpp
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.h
  src/server/game/Movement/Spline/MoveSpline.h
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged

#4515 fix(DB/command): remove bank command
  data/sql/updates/pending_db_world/rev_1612859063188520000.sql
Labels: DB, To Be Merged

#4450 fix(DB/gameobject): Improve quests Find the Gems and Power Source & Find the Gems
  data/sql/updates/pending_db_world/rev_1612520952274785900.sql
Labels: DB, To Be Merged

#4454 fix(DB/gameobject): Improve quest The Active Agent
  data/sql/updates/pending_db_world/rev_1612532175395999264.sql
Labels: DB, To Be Merged

#4477 fix(DB/Spell): remove NPC curse
  data/sql/updates/pending_db_world/rev_1612721754331691305.sql
Labels: 1-19, DB, To Be Merged

#4474 fix(Core/Script): Startup error in spell_bwl_shadowflame
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/instance_blackwing_lair.cpp
Labels: CORE, Script, To Be Merged

#4525 fix(DB/Creature): Set MovementType of Scourged Flamespitter to 'Idle'
  data/sql/updates/pending_db_world/rev_1612936373912315500.sql
Labels: DB, To Be Merged

#4408 fix(Core/Spell): solve issue with Life Tap All Ranks
  data/sql/updates/pending_db_world/rev_1612257567543292300.sql
  src/server/scripts/Spells/spell_warlock.cpp
Labels: CORE, DB, Script, To Be Merged

#4543 Revert "feat(CI): use acore-core-build-action"
  .github/workflows/core_build.yml
Labels: Priority - Critical, Workflow

#4547 chore: add improvements
  data/sql/updates/pending_db_world/rev_1613069340138846000.sql
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
Labels: CORE, DB

#4544 Fix new Creature Movement Bugs
  data/sql/updates/pending_db_world/rev_1613069340138846000.sql
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_sindragosa.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
Labels: CORE, DB, Priority - Critical, Script, To Be Merged

#4409 Gathering Quest While in Party bug
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Handlers/LootHandler.cpp
  src/server/game/Loot/LootMgr.cpp
  src/server/game/Loot/LootMgr.h
Labels: 1-19, CORE, To Be Merged

#4534 fix(DB/waypoint): Thomas Miller text
  data/sql/updates/pending_db_world/rev_1613009482277647100.sql
Labels: 1-19, DB, To Be Merged

#4539 fix(DB/creature): Move Megelon
  data/sql/updates/pending_db_world/rev_1613048883163964726.sql
Labels: 1-19, DB, To Be Merged

#4548 fix(DB/creature): Move Undertaker Mordo
  data/sql/updates/pending_db_world/rev_1613071309294888253.sql
Labels: 1-19, DB, To Be Merged

#4552 fix(DB/gameobject): Create pooling for Battered Chests in starting zones
  data/sql/updates/pending_db_world/rev_1613075633317108993.sql
Labels: 1-19, DB, To Be Merged

#4460 fix(DB/gameobject) Strange lockbox position and add Bubbly Fissure
  data/sql/updates/pending_db_world/rev_1612566366687490200.sql
Labels: 1-19, DB

#4553 fix(DB/quest): Rogue quest Encrypted Scroll requirements
  data/sql/updates/pending_db_world/rev_1613116811025045289.sql
Labels: 1-19, DB, To Be Merged

#4473 fix(DB/Item): Chinese locale
  data/sql/updates/pending_db_world/rev_1612679130179828100.sql
Labels: DB, To Be Merged

#4486 fix(Core/SAI): Do not reset HP with SMART_ACTION_UPDATE_ENTRY
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/Entities/Creature/Creature.cpp
Labels: CORE, To Be Merged

#4502 fix(DB/gameobject): Improve raid quest Keanna's Log
  data/sql/updates/pending_db_world/rev_1612776555226057663.sql
Labels: DB, To Be Merged

#4500 fix(DB/gameobject): Improve quest Barov Family Fortune
  data/sql/updates/pending_db_world/rev_1612773554792500294.sql
Labels: DB, To Be Merged

#4537 fix(DB/npc_text): Various Missing NPC Gossip
  data/sql/updates/pending_db_world/rev_1613022348525685800.sql
Labels: 1-19, DB, To Be Merged

#4554 fix(DB/creature): Update Old Blanchy Faction & Add Missing Text for Verna Furlbrow
  data/sql/updates/pending_db_world/rev_1613146762649566200.sql
Labels: 1-19, DB, To Be Merged

#4501 fix(DB/gameobject): Improve quest Of Love and Family
  data/sql/updates/pending_db_world/rev_1612774375171143981.sql
Labels: DB, To Be Merged

#4559 fix(db/creature): Add missing npc text for William Pestle
  data/sql/updates/pending_db_world/rev_1613178961634699600.sql
Labels: 1-19, DB, To Be Merged

#4529 fix(DB/gameobject): Improve quest Fields of Grief
  data/sql/updates/pending_db_world/rev_1612957477367642592.sql
Labels: 1-19, DB, To Be Merged

#4560 fix(DB/Creature): Script Master Wood Emotes and Responses
  data/sql/updates/pending_db_world/rev_1613192328090860000.sql
Labels: 1-19, DB, To Be Merged

#4558 fix(DB/quest_details): Add missing emotes for Maybell Maclure when offering quest Young Lovers
  data/sql/updates/pending_db_world/rev_1613178860602736100.sql
Labels: 1-19, DB, To Be Merged

#4517 fix(DB/creature): Ras Frostwhisper should move around
  data/sql/updates/pending_db_world/rev_1612870829159186719.sql
Labels: DB, To Be Merged

#4564 fix(DB/creature): Adjust Position and remove piece of Ham from Reese Langston
  data/sql/updates/pending_db_world/rev_1613242843051334000.sql
Labels: 1-19, DB, To Be Merged

#4566 Fix(DB/Trainer): Correct Polearm MinLvl Req
  data/sql/updates/pending_db_world/rev_1613263139054916400.sql
Labels: 1-19, DB, To Be Merged

#4567 fix(DB/Spell): Make Amplify Magic Ranks 4-7 as Positive
  data/sql/updates/pending_db_world/rev_1613268991019765900.sql
Labels: Class - Mage, DB, To Be Merged

#4576 fix(db/GameObject): Adjust XYZ of Copper Vein
  data/sql/updates/pending_db_world/rev_1613357478020500900.sql
Labels: 1-19, DB, To Be Merged

#4421 chore(DB/quest_offer_reward): Update capitalization of name/class
  data/sql/updates/pending_db_world/rev_1612312014667579200.sql
Labels: DB, To Be Merged

#4575 fix(db/smart_script): Fix Worldserver spam of smart_script errors
  data/sql/updates/pending_db_world/rev_1613342086114684300.sql
Labels: DB, To Be Merged

#4577 fix(core/Scripts): 'The Attack!' Quest Improvements/NPC Spawn Adjust
  data/sql/updates/pending_db_world/rev_1613367143020390000.sql
  src/server/scripts/EasternKingdoms/zone_stormwind_city.cpp
Labels: 20-29, CORE, DB, Script, To Be Merged

#4516 fix(DB/creature_loot_template) Increase droprate for item Healthy Dragon Scale
  data/sql/updates/pending_db_world/rev_1612869459845259064.sql
Labels: DB, To Be Merged

#4523 fix(db): Translation to Ello Quest - Add Stitches Completion Event
  data/sql/updates/pending_db_world/rev_1612897779919534400.sql
Labels: 20-29, DB, To Be Merged

#4588 fix(db/Creature): Darkshire NPC updates
  data/sql/updates/pending_db_world/rev_1613512073209092300.sql
Labels: 20-29, DB, To Be Merged

#4545 fix(DB/spell_dbc): column sizes & Life Tap descr.
  data/sql/updates/pending_db_world/rev_1613064807626370000.sql
Labels: DB, To Be Merged

#4578 fix(DB/creature/quests): Remove Tormek Stoneriver and his quests
  data/sql/updates/pending_db_world/rev_1613390656721660682.sql
Labels: 1-19, DB, To Be Merged

#4492 fix(DB/MySQL): Support MySQL 8 in create_mysql.sql
  data/sql/create/create_mysql.sql
Labels: DB, To Be Merged

#4568 Fix Garr abilities timers
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_garr.cpp
Labels: CORE, Instance - Raid - Vanilla, Script, To Be Merged

#4589 fix(DB/Creature): Position NPC Rocklance
  data/sql/updates/pending_db_world/rev_1613517719180332000.sql
Labels: 1-19, DB, To Be Merged

#4594 fix(DB/Creature): Amani Berserker XYZO
  data/sql/updates/pending_db_world/rev_1613582099030998500.sql
Labels: 1-19, DB, To Be Merged

#4597 fix(DB/GameObject): Firework Launcher
  data/sql/updates/pending_db_world/rev_1613600380697311600.sql
Labels: 1-19, DB, To Be Merged

#4612 fix(DB/Quest): Plagued Lands
  data/sql/updates/pending_db_world/rev_1613748522727071400.sql
Labels: 1-19, DB, To Be Merged

#4614 Fix issue westfall woodworker out of place
  data/sql/updates/pending_db_world/rev_1613754823292962300.sql
Labels: 1-19, DB, To Be Merged

#4615 fix(DB/Creature): Gubber-Blump-missing-gossip
  data/sql/updates/pending_db_world/rev_1613843733957350900.sql
Labels: 1-19, DB, To Be Merged

#4616 fix(DB/SAI): Captured Scarlet Zealot should die
  data/sql/updates/pending_db_world/rev_1613853959150972140.sql
Labels: 1-19, DB, To Be Merged

#4618 fix(Core/Spell): Divine Protection reduces fall damage
  src/server/game/Entities/Player/Player.cpp
Labels: 1-19, CORE, To Be Merged

#4619 feat(Core/Hooks): OnBattlegroundDesertion
  src/server/game/Battlegrounds/BattlegroundQueue.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Handlers/BattleGroundHandler.cpp
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgr.h
  src/server/game/Server/WorldSession.cpp
Labels: CORE, To Be Merged

#4538 chore(git): Add a co-author suggestion to the commit template
  .git_commit_template.txt
Labels: To Be Merged

#4617 fix(DB): Fix Some Gnomeregan Issues - Missing Animations, Spells and Texts
  data/sql/updates/pending_db_world/rev_1613848536903926000.sql
Labels: 20-29, DB, To Be Merged

#4626 fix(DB/Creature): Burning Blade Apprentice Summon Voidwalker
  data/sql/updates/pending_db_world/rev_1613970765283918400.sql
Labels: 1-19, DB, To Be Merged

#4632 fix(DB/Creature): Patroling-Deathguards-chain-aggro-range
  data/sql/updates/pending_db_world/rev_1614022899539097500.sql
Labels: 1-19, DB, To Be Merged

#4633 fix(DB/object): Pool copper veins on Azuremyst Isle
  data/sql/updates/pending_db_world/rev_1614023588633206841.sql
Labels: 1-19, DB, To Be Merged

#4634 fix(DB/object): Pool copper veins in Eversong Forest
  data/sql/updates/pending_db_world/rev_1614069921307272588.sql
Labels: 1-19, DB, To Be Merged

#4636 fix(DB/object): Pool copper veins on Bloodmyst Isle
  data/sql/updates/pending_db_world/rev_1614071599270991320.sql
Labels: 1-19, DB, To Be Merged

#4643 fix(DB): Gnomeregan - Viscous Fallout and Minions Update
  data/sql/updates/pending_db_world/rev_1614187724074625300.sql
Labels: 20-29, DB, To Be Merged

#4647 chore(Misc): correct double includes
  src/common/Collision/Maps/TileAssembler.cpp
  src/common/Threading/Threading.h
  src/server/game/Battlefield/Battlefield.cpp
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Handlers/MiscHandler.cpp
  src/server/game/OutdoorPvP/OutdoorPvP.cpp
  src/server/game/Server/WorldSocket.cpp
  src/server/game/Server/WorldSocketMgr.cpp
  src/server/game/World/World.cpp
  src/server/scripts/World/npcs_special.cpp
  src/tools/vmap4_extractor/vmapexport.cpp
Labels: CORE, Script, To Be Merged

#4651 fix(DB/creature): Young Moonkin shouldn't have Moonfire
  data/sql/updates/pending_db_world/rev_1614328114555323168.sql
Labels: 1-19, DB, To Be Merged

#4655 fix(DB/Creature/SAI): Quest Mist Disappearing cat
  data/sql/updates/pending_db_world/rev_1614416165680486700.sql
Labels: 1-19, DB, To Be Merged

#4641 fix(DB/CreaturesSAI): Mobs Casting Daze
  data/sql/updates/pending_db_world/rev_1614138891078013900.sql
Labels: 1-19, DB, To Be Merged

#4649 fix(DB/Core/Creatures/SAI): Pyrewood Ambush Quest
  data/sql/updates/pending_db_world/rev_1614294683092657800.sql
  src/server/scripts/EasternKingdoms/zone_silverpine_forest.cpp
Labels: 1-19, CORE, DB, Script, To Be Merged

#4608 feat(Core/Config): rework config and delete ACE inherited
  CMakeLists.txt
  src/cmake/compiler/clang/settings.cmake
  src/cmake/macros/ConfigInstall.cmake
  src/common/Configuration/Config.cpp
  src/common/Configuration/Config.h
  src/common/Logging/Log.cpp
  src/common/Navigation/DetourExtended.cpp
  src/common/Utilities/StringConvert.h
  src/common/Utilities/StringFormat.cpp
  src/common/Utilities/StringFormat.h
  src/common/Utilities/Types.h
  src/common/Utilities/Util.cpp
  src/common/Utilities/Util.h
  src/common/Utilities/advstd.h
  src/server/authserver/CMakeLists.txt
  src/server/authserver/Main.cpp
  src/server/authserver/Server/AuthSocket.cpp
  src/server/game/AI/CoreAI/PetAI.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Guilds/Guild.cpp
  src/server/game/Maps/Map.cpp
  src/server/game/Movement/MovementGenerators/PathGenerator.cpp
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.h
  src/server/game/Server/Protocol/PacketLog.cpp
  src/server/game/Server/WorldSocketMgr.cpp
  src/server/game/Warden/WardenCheckMgr.cpp
  src/server/game/World/World.cpp
  src/server/worldserver/CMakeLists.txt
  src/server/worldserver/CommandLine/CliRunnable.cpp
  src/server/worldserver/Main.cpp
  src/server/worldserver/Master.cpp
  src/server/worldserver/RemoteAccess/RARunnable.cpp
  src/server/worldserver/RemoteAccess/RASocket.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, New Feature, Ready to be reviewed, To Be Merged
