Repository azerothcore/azerothcore-wotlk, pull requests merged in 2021-03, with the labels that each got.

#4678 fix(DB/gameobject): Underground Herbs in Mulgore
  data/sql/updates/pending_db_world/rev_1614656086454361900.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#4679 fix(DB/creature_template): Update 'Riding Horse' faction
  data/sql/updates/pending_db_world/rev_1614660555490640300.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#4533 chore(Core/worldserver.conf): enable warden by default
  src/server/game/World/World.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged

#4584 fix(Core/Player): Localized gossip_menu_option
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, To Be Merged

#4601 fix(DB/Gameobject): 'Chemical Wagon' zhCN translation
  data/sql/updates/pending_db_world/rev_1613650954935814000.sql
Labels: DB, To Be Merged

#4604 fix(DB/smart_scripts): Nagrand Kristen Dipswitch event
  data/sql/updates/pending_db_world/rev_1613666945769317000.sql
Labels: DB, To Be Merged

#4605 fix(Core): Compilation with EXTRA_LOGS in Windows
  src/server/game/Warden/WardenWin.cpp
Labels: CORE, To Be Merged

#4697 fix(DOCKER): add dos2unix conversion when generating config files
  bin/acore-docker-generate-etc
Labels: Priority - High, To Be Merged

#4718 fix(DB/creature_loot_template): Remove loot on creatures that shouldn't have loot
  data/sql/updates/pending_db_world/rev_1614920824592458800.sql
Labels: DB, To Be Merged

#4737 fix(DB/smart_scripts): Pyrewood Elder - Healing SAI
  data/sql/updates/pending_db_world/rev_1615014079681051900.sql
Labels: 1-19, DB, To Be Merged

#4745 fix(DB/creature): Adjust position for Cursed Darkhound
  data/sql/updates/pending_db_world/rev_1615075864688334300.sql
Labels: 1-19, DB, To Be Merged

#4741 fix(DB/creature_loot_template): Remove Long Crawler Limb from Ghostclaw Lynx
  data/sql/updates/pending_db_world/rev_1615070533545776300.sql
Labels: 1-19, DB, Ready to be reviewed

#4672 fix(DB/Loot): remove blackened gloves loot
  data/sql/updates/pending_db_world/rev_1614625832426604950.sql
Labels: 1-19, DB, To Be Merged

#4677 fix(DB/Spell): quest very tasty
  data/sql/updates/pending_db_world/rev_1614643528862573973.sql
Labels: 1-19, DB, To Be Merged

#4682 fix(DB/SAI): remove SAI for talk line 0
  data/sql/updates/pending_db_world/rev_1614720010905801574.sql
Labels: 20-29, DB, To Be Merged

#4684 fix(DB/Page): update legacy aspects
  data/sql/updates/pending_db_world/rev_1614722186740264425.sql
Labels: 20-29, DB, To Be Merged

#4685 fix(DB/Quest): make quest 75 not repeatable
  data/sql/updates/pending_db_world/rev_1614727322797515143.sql
Labels: 20-29, DB, To Be Merged

#4687 fix(DB/Quest): prevquest for quest 872
  data/sql/updates/pending_db_world/rev_1614728683509630598.sql
Labels: 1-19, DB, To Be Merged

#4711 fix(Core/Spell): Anti-Venom
  data/sql/updates/pending_db_world/rev_1614891941285225200.sql
  src/server/scripts/Spells/spell_item.cpp
Labels: CORE, ChromieCraft Generic, DB, Script, To Be Merged

#4714 fix(DB/Text): chicken text for CLUCK special quest
  data/sql/updates/pending_db_world/rev_1614901038211344456.sql
  src/server/scripts/World/npcs_special.cpp
Labels: CORE, ChromieCraft Generic, DB, Script, To Be Merged

#4717 fix(DB/GameObject): Bubbling Fissure
  data/sql/updates/pending_db_world/rev_1614914535237106700.sql
Labels: 1-19, DB, To Be Merged

#4727 fix(DB/Quest): prevQuest
  data/sql/updates/pending_db_world/rev_1614968849352707375.sql
Labels: 20-29, DB, To Be Merged

#4733 fix(Code/Fishing): improve timing of fishing
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, ChromieCraft Generic, To Be Merged

#4722 fix(DB/gameobject): Improve quest Fields of Grief (part2)
  data/sql/updates/pending_db_world/rev_1614943755450721930.sql
Labels: 1-19, DB, To Be Merged

#4719 fix(Core/DB):Fix Missing Diplomat Quests Part 11,14,16 and Minor Guard Tower Fixes
  data/sql/updates/pending_db_world/rev_1614921496929991300.sql
  src/server/scripts/Kalimdor/zone_dustwallow_marsh.cpp
  src/server/scripts/ScriptLoader.cpp
Labels: 20-29, CORE, DB, Script, To Be Merged

#4607 fix(bash): Handle different Debian versions
  apps/installer/includes/functions.sh
  apps/installer/includes/os_configs/debian.sh
Labels: Bash, To Be Merged

#4637 fix(DB/creatures): Correct BaseAttackTime and RangeAttackTime
  data/sql/updates/pending_db_world/rev_1614099161365039972.sql
Labels: DB, To Be Merged

#4704 fix(Core/Utilites): improve acore::String::Trim
  src/common/Configuration/Config.cpp
  src/common/Utilities/StringFormat.cpp
  src/common/Utilities/StringFormat.h
Labels: CORE, To Be Merged

#4773 fix(DB/creature_addon): Remove extra attacks from Naxxramas NPCs
  data/sql/updates/pending_db_world/rev_1615313723387834900.sql
Labels: DB, Instance - Raid - Northrend, To Be Merged

#4779 fix(DB/creature_addon): Add "Double Attack" back on Anub'Rekhan and Gluth
  data/sql/updates/pending_db_world/rev_1615331557980116000.sql
Labels: DB, Instance - Raid - Northrend, To Be Merged

#4757 fix(DB/Spell+CreatureSAI): Leprous Machinesmith
  data/sql/updates/pending_db_world/rev_1615190253062057000.sql
Labels: 20-29, DB, To Be Merged

#4625 fix(DB): some vanilla instance rare creatures and add missing ones
  data/sql/updates/pending_db_world/rev_1613964585221980000.sql
Labels: DB, To Be Merged

#4758 fix(DB/CreatureSAI): Quest Denalans Earth
  data/sql/updates/pending_db_world/rev_1615200382358521000.sql
Labels: 20-29, DB, To Be Merged

#4760 fix(DB/CreatureSAI): Gnarlpine Mystic
  data/sql/updates/pending_db_world/rev_1615210246361880600.sql
Labels: 1-19, DB, To Be Merged

#4761 fix(DB/GameObjectSpawn): Floating Giant Clam in Ghostlands
  data/sql/updates/pending_db_world/rev_1615212672744788600.sql
Labels: 1-19, DB, To Be Merged

#4765 fix(Core): [Spell][Night Elf] Shadowmeld is not working properly
  data/sql/updates/pending_db_world/rev_1615287196510790727.sql
  src/server/scripts/Spells/spell_generic.cpp
Labels: CORE, ChromieCraft Generic, DB, Ready to be reviewed, Script, To Be Merged

#4771 fix(DB/quest): Gathering Leather requires skinning
  data/sql/updates/pending_db_world/rev_1615289798727272419.sql
Labels: 1-19, DB, To Be Merged

#4780 fix(DB/object): Increase respawn timer of Booty Bay fishing pool
  data/sql/updates/pending_db_world/rev_1615362796749970694.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#4789 fix(DB/Creature): Add spirit healer to Eastern graveyard in Arathi Highlands
  data/sql/updates/pending_db_world/rev_1615449389814904181.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#4786 fix(DB/Core/CreatureSAI): Ruul-Snowhoof
  data/sql/updates/pending_db_world/rev_1615422389307373600.sql
  src/server/scripts/Kalimdor/zone_ashenvale.cpp
Labels: 20-29, CORE, DB, Script, To Be Merged

#4629 Core/Spells: Warlock Death Coil shouldn't be able to crit
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, To Be Merged

#4645 feat(Core/Hook): OnSendInitialPacketBeforeAddToMap
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, To Be Merged

#4710 fix(DB/SAI): ashenvale outrunner stealthed
  data/sql/updates/pending_db_world/rev_1614883608936344646.sql
Labels: 20-29, DB, To Be Merged

#4759 fix(DB/CreatureSAI): Bael'dun Foreman and Digger Flameforge
  data/sql/updates/pending_db_world/rev_1615207809116814300.sql
Labels: 20-29, DB, To Be Merged

#4794 fix(DB/CreatureSAI): Various mobs in Tirisfal
  data/sql/updates/pending_db_world/rev_1615495161722587900.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#4797 fix(DB/Gameobject): spawn position
  data/sql/updates/pending_db_world/rev_1615504923515644278.sql
Labels: 20-29, DB, To Be Merged

#4799 fix(DB/Spell): suicide saboteur on sapper explode
  data/sql/updates/pending_db_world/rev_1615506284007051682.sql
Labels: 20-29, DB, To Be Merged

#4815 fix(DB/quest): Bounty on Murlocs has no prerequisite
  data/sql/updates/pending_db_world/rev_1615534981848336924.sql
Labels: 1-19, ChromieCraft Generic, DB, To Be Merged

#4817 fix(DB/quest): The Tear of the Moons
  data/sql/updates/pending_db_world/rev_1615548043862503366.sql
Labels: 20-29, ChromieCraft Generic, DB, To Be Merged

#4818 fix(DB/Creature): Make Lady Moongazer move around
  data/sql/updates/pending_db_world/rev_1615554526122337545.sql
Labels: 1-19, DB, To Be Merged

#4824 fix(DB/Creature) bugged Pridewing Soarer
  data/sql/updates/pending_db_world/rev_1615597737321479109.sql
Labels: 1-19, DB, To Be Merged

#4832 fix(DB/Creature-Spawn): Gnolls Underground in Wetlands
  data/sql/updates/pending_db_world/rev_1615643547619605800.sql
Labels: 20-29, DB, To Be Merged

#4833 fix(DB/GameObject-Spawn): Copper Veins above Jangolode Mine
  data/sql/updates/pending_db_world/rev_1615645470313391100.sql
Labels: 1-19, DB, To Be Merged

#4834 fix(DB/GameObject-SAI): Bubbling Fissures in Moonglade
  data/sql/updates/pending_db_world/rev_1615647120285678400.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#4835 fix(DB/GameObject-SpawnEvent): Brewfest banners in Darnassus
  data/sql/updates/pending_db_world/rev_1615649181432525500.sql
Labels: 1-19, DB, To Be Merged

#4648 fix(DB/Quest): spanish translation (Silithus)
  data/sql/updates/pending_db_world/rev_1614205452159319100.sql
Labels: DB, To Be Merged

#4689 fix(DB/gameobjects): Mineral veins on Bloodmyst Isle
  data/sql/updates/pending_db_world/rev_1614780210274517793.sql
Labels: 1-19, DB, To Be Merged

#4690 fix(DB/gameobject): Add treasures to Bloodmyst Isle
  data/sql/updates/pending_db_world/rev_1614780387938120077.sql
Labels: 1-19, DB, To Be Merged

#4630 fix(DB/creatures): Update CC immunities for multiple creatures
  data/sql/updates/pending_db_world/rev_1613997950982437928.sql
Labels: DB, To Be Merged

#4695 fix(Core): Rogue - Premeditation fix
  src/server/game/Spells/Spell.cpp
Labels: CORE, To Be Merged

#4696 fix(DB/gameobjects): Add more herbs to Bloodmyst Isle
  data/sql/updates/pending_db_world/rev_1614791799466997404.sql
Labels: 1-19, DB, To Be Merged

#4721 fix(DB/Creature): Remove Vyrin Swiftwind's Innkeeper subname
  data/sql/updates/pending_db_world/rev_1614942829493597400.sql
Labels: DB, To Be Merged

#4724 fix(DB/pool_template): Allow more mineral veins in Duskwood
  data/sql/updates/pending_db_world/rev_1614950714775522787.sql
Labels: 20-29, DB, To Be Merged

#4753 fix(DB/creature_template): Resistances for level 1-20 creatures
  data/sql/updates/pending_db_world/rev_1615134713336559993.sql
Labels: 1-19, DB, To Be Merged

#4856 fix(DB/Warden): Export 6 warden checks from TC that were corrupted on…
  data/sql/updates/pending_db_world/rev_1615833271064623900.sql
Labels: DB, To Be Merged

#4876 fix(scripts/Ulduar): Spinning UP during 4th phase
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_mimiron.cpp
Labels: CORE, Priority - High, Script, To Be Merged

#4852 fix(scripts/Ulduar): Two fixes to Algalon encounter
  src/server/game/AI/ScriptedAI/ScriptedCreature.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_algalon_the_observer.cpp
Labels: CORE, Script, To Be Merged

#4853 fix(Scripts/VoA) Vault of Archavon:
  src/server/scripts/Northrend/VaultOfArchavon/boss_emalon.cpp
  src/server/scripts/Northrend/VaultOfArchavon/boss_koralon.cpp
Labels: CORE, Script, To Be Merged

#4889 fix(DB/creature): Dreadmaw Crocolisk's position
  data/sql/updates/pending_db_world/rev_1615996084725804000.sql
Labels: 1-19, DB, To Be Merged

#4819 fix(Core/DB): Susurrus hardcoded to SmartAI
  data/sql/updates/pending_db_world/rev_1615554422211758800.sql
  src/server/scripts/World/npc_taxi.cpp
Labels: CORE, DB, Script, To Be Merged

#4891 feat(CI): clang-11
  .github/workflows/core_build.yml
  apps/ci/ci-conf.sh
  apps/ci/ci-install.sh
Labels: Bash, Workflow

#4820 fix(Core): Removing auras from spells that trigger taxi
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
Labels: CORE, To Be Merged

#4859 fix(DB/SAI): Lunaclaw
  data/sql/updates/pending_db_world/rev_1615808511621508316.sql
  src/server/scripts/World/npcs_special.cpp
Labels: 1-19, CORE, DB, Script, To Be Merged

#4840 fix(DB/Creature): Remove loot from Enslaved Druid of the Talon
  data/sql/updates/pending_db_world/rev_1615700230262012467.sql
Labels: 1-19, DB, To Be Merged

#4825 fix(DB/creature): King Bangalash
  data/sql/updates/pending_db_world/rev_1615625896929495524.sql
Labels: 40-49, ChromieCraft Generic, DB, To Be Merged

#4846 fix(DB/gameobject): Archbishop Alonsus Faol misplaced plaque in Stormwind
  data/sql/updates/pending_db_world/rev_1615775571176561100.sql
Labels: 1-19, DB, To Be Merged

#4838 fix(DB/GameObject-Spawn): Solid Chests respawn time in Azshara
  data/sql/updates/pending_db_world/rev_1615669234362948639.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#4872 fix(Core/MailHandler): Fix display of item enchantments in mailbox
  src/server/game/Handlers/MailHandler.cpp
Labels: CORE, To Be Merged

#4875 fix(Core): Code warnings clean-up
  src/server/game/Battlefield/Zones/BattlefieldWG.h
Labels: CORE, To Be Merged

#4644 fix(DB/creature_template): Correct speed_run and speed_walk
  data/sql/updates/pending_db_world/rev_1614187202428005763.sql
Labels: DB, To Be Merged

#4866 fix(DB/Fix Faction): Quest: Freedom to Ruul
  data/sql/updates/pending_db_world/rev_1615866400966239600.sql
Labels: 20-29, DB, To Be Merged

#4749 fix(DB/Core) Fix the CLS damage system and update creature_classlevelstats
  data/sql/updates/pending_db_world/rev_1615125177017902050.sql
  src/common/Database/Implementation/WorldDatabase.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Unit/StatSystem.cpp
  src/server/game/Globals/ObjectMgr.cpp
  src/server/scripts/Commands/cs_reload.cpp
  src/server/scripts/Pet/pet_hunter.cpp
Labels: CORE, DB, Needs feedback, Script, To Be Merged

#4795 fix(Core/SpellEffect): increase speed of cat charge
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, To Be Merged

#4703 fix(scripts/Ulduar): Improve Hodir (#4703)
  data/sql/updates/pending_db_world/rev_1614870494129873100.sql
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_hodir.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/instance_ulduar.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/ulduar.h
Labels: CORE, DB, Script, To Be Merged

#4842 fix(Core/Loot): Gold should always be lootable, even if it's the only loot
  src/server/game/Loot/LootMgr.cpp
Labels: CORE, ChromieCraft Generic, To Be Merged

#4861 fix(DB/item_template): Remove Horde-only flag from Pattern: Raptor Hide Harness
  data/sql/updates/pending_db_world/rev_1615843852881240992.sql
Labels: 20-29, DB, To Be Merged

#4869 fix(DB/CreatureSAI): Quest: One Shot One Kill
  data/sql/updates/pending_db_world/rev_1615883540984618200.sql
Labels: 1-19, DB, To Be Merged

#4887 fix(DB/pool_template): Treasures in Teldrassil
  data/sql/updates/pending_db_world/rev_1615990232375736422.sql
Labels: 1-19, DB, To Be Merged

#4892 fix(DB/CreatureSAI/GameObjectSAI): Quest Call of Water 5/6
  data/sql/updates/pending_db_world/rev_1616012094656299200.sql
Labels: 20-29, DB, To Be Merged

#4864 fix(DB):Stranglethorn Fever Fixes - Perry Gatner Event
  data/sql/updates/pending_db_world/rev_1615704736281325400.sql
Labels: DB, To Be Merged

#4870 fix(DB/quest_poi): Wrong map marker position - The Princial Source (A)
  data/sql/updates/pending_db_world/rev_1615882800304292617.sql
Labels: 1-19, DB, To Be Merged

#4879 fix(Core/Movement): Fixed collision calculation returning wrong position.
  src/server/game/Maps/Map.cpp
  src/server/game/Movement/MovementGenerators/FleeingMovementGenerator.cpp
Labels: CORE, To Be Merged

#4913 feat(Core/Hooks): OnLastIpUpdate(accountId, ip)
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgr.h
  src/server/game/Server/WorldSocket.cpp
Labels: CORE

#4932 feat(Core/Utilities): Introduce a task scheduler which schedules task
  src/common/Utilities/TaskScheduler.cpp
  src/common/Utilities/TaskScheduler.h
Labels: CORE

#3299 fix(CORE/Commands): .cheat god lowering hp to 1 and .cheat power not refilling power
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/Spell.cpp
Labels: CORE, Ready to be reviewed, To Be Merged

#4359 feat(Core/Creature): Implement c_t_r & c_t_s
  data/sql/updates/pending_db_world/rev_1611776034016932100.sql
  src/common/Database/Implementation/WorldDatabase.cpp
  src/server/game/AI/CoreAI/CombatAI.cpp
  src/server/game/AI/ScriptedAI/ScriptedCreature.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/scripts/Commands/cs_reload.cpp
  src/server/scripts/Northrend/zone_sholazar_basin.cpp
  src/server/scripts/Northrend/zone_storm_peaks.cpp
Labels: CORE, DB, Script, To Be Merged

#4827 feat(CORE/Authserver): Removed sha_pass_hash from DB and core.
  data/sql/updates/pending_db_auth/rev_1615629613255169700.sql
  src/common/Cryptography/ARC4.cpp
  src/common/Cryptography/ARC4.h
  src/common/Cryptography/AuthDefines.h
  src/common/Cryptography/Authentication/AuthCrypt.cpp
  src/common/Cryptography/Authentication/AuthCrypt.h
  src/common/Cryptography/BigNumber.cpp
  src/common/Cryptography/BigNumber.h
  src/common/Cryptography/CryptoConstants.h
  src/common/Cryptography/CryptoGenerics.h
  src/common/Cryptography/CryptoHash.h
  src/common/Cryptography/CryptoRandom.cpp
  src/common/Cryptography/CryptoRandom.h
  src/common/Cryptography/HMAC.h
  src/common/Cryptography/HMACSHA1.cpp
  src/common/Cryptography/HMACSHA1.h
  src/common/Cryptography/SHA1.cpp
  src/common/Cryptography/SHA1.h
  src/common/Cryptography/SRP6.cpp
  src/common/Cryptography/SRP6.h
  src/common/Cryptography/SessionKeyGenerator.h
  src/common/Cryptography/WardenKeyGeneration.h
  src/common/Database/Field.cpp
  src/common/Database/Field.h
  src/common/Database/Implementation/LoginDatabase.cpp
  src/common/Database/Implementation/LoginDatabase.h
  src/common/Database/PreparedStatement.cpp
  src/common/Database/PreparedStatement.h
  src/common/Database/QueryResult.cpp
  src/common/Logging/Log.cpp
  src/common/Packets/ByteBuffer.h
  src/common/Utilities/Util.cpp
  src/common/Utilities/Util.h
  src/server/authserver/Server/AuthSocket.cpp
  src/server/authserver/Server/AuthSocket.h
  src/server/game/Accounts/AccountMgr.cpp
  src/server/game/Accounts/AccountMgr.h
  src/server/game/Guilds/Guild.cpp
  src/server/game/Handlers/MiscHandler.cpp
  src/server/game/Server/WorldSession.cpp
  src/server/game/Server/WorldSession.h
  src/server/game/Server/WorldSocket.cpp
  src/server/game/Server/WorldSocket.h
  src/server/game/Warden/Warden.cpp
  src/server/game/Warden/Warden.h
  src/server/game/Warden/WardenCheckMgr.cpp
  src/server/game/Warden/WardenMac.cpp
  src/server/game/Warden/WardenMac.h
  src/server/game/Warden/WardenWin.cpp
  src/server/game/Warden/WardenWin.h
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/scripts/Commands/cs_account.cpp
  src/server/worldserver/RemoteAccess/RASocket.cpp
Labels: CORE, DB, Ready to be reviewed, Script, To Be Merged

#4848 fix(Core/Creatures): Fixed displaying trainer npcflags that are not v…
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, To Be Merged

#4850 feat(Core/Spells): Implemented SPELL_AURA_DETECT_AMORE.
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.h
Labels: CORE, To Be Merged

#4855 fix(Core/Maps): Include collision height in underwater status calcula…
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
Labels: CORE, To Be Merged

#4874 fix(Core/Command): crash on set model to npc if not valid
  src/server/scripts/Commands/cs_npc.cpp
Labels: CORE, Script, To Be Merged

#4893 fix(Core/Creature): Respawning mobs missing aggro "grace period"
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
Labels: CORE, To Be Merged

#4894 fix(CORE/AI): Added a condition to force casters into melee combat
  src/server/game/AI/SmartScripts/SmartScript.cpp
Labels: CORE, To Be Merged

#4909 feat(Core/Maps): Use a fixed offset instead of full collision height …
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Maps/Map.cpp
  src/server/game/Miscellaneous/SharedDefines.h
Labels: CORE, To Be Merged

#4914 feat(Build): Can use MySQL/MariaDB/OpenSSL from vcpkg
  src/cmake/macros/FindMySQL.cmake
  src/cmake/macros/FindOpenSSL.cmake
Labels: CORE, To Be Merged

#4912 fix(Build/Windows): For OS locales like CJK
  src/cmake/compiler/msvc/settings.cmake
Labels: CORE

#4216 fix(Core/Spell): Val'anyr periodic healings proc and move to new proc system
  data/sql/updates/pending_db_world/rev_1609870134525124000.sql
  src/server/scripts/Spells/spell_item.cpp
Labels: CORE, DB, Script, To Be Merged

#4924 (DB/Gameobject_addon) Fixed position for Ironforge Library plaques
  data/sql/updates/pending_db_world/rev_1616258651093218025.sql
Labels: 1-19, DB, To Be Merged

#4938 Fix for wrong spawn mining veins
  data/sql/updates/pending_db_world/rev_1616369823354830255.sql
Labels: DB, Ready to be reviewed, To Be Merged

#3743 fix(Core/GUARD_RETURN): correct typo
  src/common/Threading/PolicyLock.h
  src/tools/mesh_extractor/Cache.h
  src/tools/mesh_extractor/MPQManager.cpp
Labels: CORE, To Be Merged

#4076 fix(scripts/Naxx): The art of Naxxramas (1/2)
  data/sql/updates/pending_db_world/rev_1609119138728662700.sql
  src/server/scripts/Northrend/Naxxramas/boss_anubrekhan.cpp
  src/server/scripts/Northrend/Naxxramas/boss_faerlina.cpp
  src/server/scripts/Northrend/Naxxramas/boss_four_horsemen.cpp
  src/server/scripts/Northrend/Naxxramas/boss_gluth.cpp
  src/server/scripts/Northrend/Naxxramas/boss_gothik.cpp
  src/server/scripts/Northrend/Naxxramas/boss_grobbulus.cpp
  src/server/scripts/Northrend/Naxxramas/boss_heigan.cpp
  src/server/scripts/Northrend/Naxxramas/boss_kelthuzad.cpp
  src/server/scripts/Northrend/Naxxramas/boss_loatheb.cpp
  src/server/scripts/Northrend/Naxxramas/boss_maexxna.cpp
  src/server/scripts/Northrend/Naxxramas/boss_noth.cpp
  src/server/scripts/Northrend/Naxxramas/boss_patchwerk.cpp
  src/server/scripts/Northrend/Naxxramas/boss_razuvious.cpp
  src/server/scripts/Northrend/Naxxramas/boss_sapphiron.cpp
  src/server/scripts/Northrend/Naxxramas/boss_thaddius.cpp
  src/server/scripts/Northrend/Naxxramas/instance_naxxramas.cpp
  src/server/scripts/Northrend/Naxxramas/naxxramas.h
Labels: CORE, DB, Ready to be reviewed, Script

#3446 feat(Core/Movement): MotionMaster "Land" and "Take off" velocity speed is optional now
  src/server/game/Movement/MotionMaster.cpp
  src/server/game/Movement/MotionMaster.h
Labels: CORE, To Be Merged

#4215 fix(DB/Account): fixed CHARSET in account_muted
  data/sql/updates/pending_db_auth/rev_1609867708436603000.sql
Labels: DB, To Be Merged

#3489 DB/Misc: Update some VoA scripts SAI, add waypoints
  data/sql/updates/pending_db_world/rev_1600196312407384300.sql
Labels: DB, To Be Merged

#4877 feat(Core/SignalHandler): Replace ACE signal handling with std
  src/common/Utilities/SignalHandler.h
  src/server/authserver/Main.cpp
  src/server/worldserver/Master.cpp
Labels: CORE, To Be Merged

#4959 feat(IssueTemplate/BugReport): Improve templates and add "source" field
  .github/ISSUE_TEMPLATE/bug_report.md
  pull_request_template.md
Labels: To Be Merged

#4895 feat(Core/Game): Add option to disable trading BoP items among raid members
  src/server/game/Entities/Player/Player.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged

#4931 fix(Core/Spell): Make use of SPELL_ATTR6_NOT_RESET_SWING_IF_INSTANT
  src/server/game/Spells/Spell.cpp
Labels: CORE, To Be Merged

#4933 fix(Core/Spell): Make use of SPELL_ATTR7_IGNORE_COLD_WEATHER_FLYING
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Spells/SpellInfo.cpp
  src/server/game/Spells/SpellInfo.h
  src/server/shared/DataStores/DBCStructure.h
Labels: CORE, To Be Merged

#4950 feat(Core/Sockets): replace ACE_ASSERT to default core ASSERT
  src/server/game/Server/WorldSocket.cpp
  src/server/game/Server/WorldSocketMgr.cpp
  src/server/worldserver/RemoteAccess/RASocket.cpp
Labels: CORE, To Be Merged

#4948 fix(DB/creature_loot_template): Loot from Mottled Scytheclaw and Raptors
  data/sql/updates/pending_db_world/rev_1616493761104943765.sql
Labels: 20-29, ChromieCraft Generic, DB, To Be Merged

#4980 fix(Core/AI): improve npc_escortAI
  src/server/game/AI/ScriptedAI/ScriptedEscortAI.cpp
  src/server/game/AI/ScriptedAI/ScriptedEscortAI.h
Labels: CORE, To Be Merged

#3384 feat(Core/Spells): improve SpellCheckRange(), spell cast when dismounting, falling or levitating spells
  src/server/game/Movement/MotionMaster.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Spell.cpp
Labels: CORE, To Be Merged

#5015 docs: update PR template
  pull_request_template.md
Labels: To Be Merged

#4126 fix(scripts/Gruul): Boss script fine tuning
  src/server/scripts/Outland/GruulsLair/boss_gruul.cpp
Labels: CORE, Instance - Raid - Outland, Script, To Be Merged

#5007 fix(DB/SAI): Edwin VanCleef encounter
  data/sql/updates/pending_db_world/rev_1616747334374476238.sql
Labels: 1-19, DB, To Be Merged

#4413 fix(Core/Gameobject): Spell spawned chests should not despawn on loot
  src/server/game/Entities/GameObject/GameObject.cpp
Labels: CORE, To Be Merged

#5016 fix(Core/Spell): Restricted Flight Area
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Spells/SpellInfo.cpp
Labels: CORE, To Be Merged

#4585 fix(DB/Spell): Paladin talent Heart of the Crusader
  data/sql/updates/pending_db_world/rev_1616775049718733000.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#5027 fix(Core/Warden): Fixed random kicks caused by warden.
  data/sql/updates/pending_db_characters/rev_1616857517874136100.sql
  src/server/game/Warden/WardenWin.cpp
Labels: CORE, DB, Priority - High, To Be Merged

#4809 fix(Core): Implement retail-like fishing skill-up functionality
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, To Be Merged

#5035 fix(DB/gossip_menu) Added missing menus for gossips
  data/sql/updates/pending_db_world/rev_1616925470382883324.sql
Labels: 50-59, DB, To Be Merged

#4977 fix(DB/mechanic_immune_mask): Bosses from Deadmines
  data/sql/updates/pending_db_world/rev_1616571106507034555.sql
Labels: 1-19, DB, To Be Merged

#5042 fix(Core/Creatures): Fixed unitialized varibale implemented in 728d018.
  src/server/game/Entities/Creature/Creature.cpp
Labels: CORE, To Be Merged

#5044 fix(scripts/UtgardeKeep): Improve Dalronn & Skarvald
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/boss_skarvald_dalronn.cpp
Labels: CORE, Instance - Dungeon - Northrend, Script, To Be Merged

#4947 fix(DB/gameobject): Add treasures in Eastern Plaguelands to a pool
  data/sql/updates/pending_db_world/rev_1616345174221959057.sql
Labels: 60, DB, To Be Merged

#5046 fix(scripts/DB): Implement "Marked immortal guardian"
  data/sql/updates/pending_db_world/rev_1616977871251124200.sql
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_yoggsaron.cpp
Labels: CORE, DB, Script, To Be Merged

#5043 fix(Scripts): Pilfering Perfume
  src/server/scripts/Events/love_in_air.cpp
Labels: CORE, Script, To Be Merged

#3696 feat(CORE/Instance): access_requirement db refactor and improved output
  data/sql/updates/pending_db_world/rev_1605128047204479800.sql
  src/server/game/DungeonFinding/LFGMgr.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Miscellaneous/Language.h
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/scripts/Commands/cs_reload.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, DB, Script, To Be Merged

#5020 fix(Scripts/Commands): correct reloading creature_template table
  src/common/Database/Implementation/WorldDatabase.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Spells/Spell.cpp
  src/server/scripts/Commands/cs_reload.cpp
  src/server/scripts/Kalimdor/zone_ashenvale.cpp
  src/server/scripts/Northrend/zone_sholazar_basin.cpp
Labels: CORE, Script, To Be Merged

#5052 feat(Core/Spell): revert "feat(Core/Spells): improve SpellCheckRange(), spell cast when dismounting, falling or levitating spells (#3384)"
  src/server/game/Movement/MotionMaster.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Spell.cpp
Labels: CORE, To Be Merged

#4968 fix(DB/Quest): Spanish translation (hellfire and varied) Part 1
  data/sql/updates/pending_db_world/rev_1616472392022033200.sql
Labels: DB, To Be Merged
