Repository azerothcore/azerothcore-wotlk, pull requests merged in 2021-12, with the labels that each got.

#9425 fix(Core/Quests): Do not save queststatus for autocomplete quests . S…
  src/server/game/Entities/Player/PlayerQuest.cpp
Labels: Quest, ChromieCraft Generic, CORE, To Be Merged, file-cpp

#9319 fix(Core/DungeonFinder): Dead players should be able to get XP reward…
  src/server/game/DungeonFinding/LFGMgr.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerQuest.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp

#9463 fix(Scripts/BFD): Fix problem with Aku'mai event being skippable after crash
  src/server/scripts/Kalimdor/BlackfathomDeeps/blackfathom_deeps.h
  src/server/scripts/Kalimdor/BlackfathomDeeps/instance_blackfathom_deeps.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9466 fix(Core/LFG): Prevent leaving LFG if in combat
  src/server/game/DungeonFinding/LFGMgr.cpp
  src/server/game/DungeonFinding/LFGMgr.h
Labels: CORE, To Be Merged, file-cpp

#9264 fix(Scripts/Brewfest): Reload faction auras for revelers after respawn.
  src/server/scripts/Events/brewfest.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, World Event, Script, file-cpp

#9355 fix(DB/Quest) Class Training quest for Sunstrider Isle
  data/sql/updates/pending_db_world/rev_1637899043891697627.sql
Labels: DB, To Be Merged

#9373 fix(Scripts/BlackrockSpire): Improved Lord Valthalak encounter.
  data/sql/updates/pending_db_world/rev_1637960273581355100.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_lord_valthalak.cpp
  src/server/scripts/EasternKingdoms/eastern_kingdoms_script_loader.cpp
Labels: 50-59, DB, CORE, To Be Merged, Instance - Dungeon - Vanilla, Script, file-cpp

#9398 fix(DB/creature_loot): Remove underlevel RLT from Blackhand Veteran
  data/sql/updates/pending_db_world/rev_1638101787793400851.sql
Labels: 50-59, DB, To Be Merged, Loot

#9470 chore: comment auto ban from TIMING_CHECK_FAIL
  src/server/game/Warden/WardenWin.cpp
Labels: ChromieCraft Generic, CORE, file-cpp

#9399 fix(DB/SAI) Script Templars spawned from Lesser Windstones
  data/sql/updates/pending_db_world/rev_1638105320614262889.sql
Labels: DB, To Be Merged

#9375 fix(DB/Pathing) Add missing Springpaw pathing in Sunstrider Isle
  data/sql/updates/pending_db_world/rev_1637971202896728819.sql
Labels: DB, To Be Merged

#9374 Fix(Scripts/BlackrockSpire): rewrite Mor Grayhoof fight
  data/sql/updates/pending_db_world/rev_1637946798791977700.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/blackrock_spire.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_mor_grayhoof.cpp
  src/server/scripts/EasternKingdoms/eastern_kingdoms_script_loader.cpp
Labels: DB, CORE, To Be Merged, Instance - Dungeon - Vanilla, Script, file-cpp

#9469 fix(Core/Quest): Fix NPC respawn for quest Tome of Valor
  src/server/scripts/EasternKingdoms/zone_westfall.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9471 fix(Core): cs_modify crash fix
  src/server/scripts/Commands/cs_modify.cpp
Labels: CORE, To Be Merged, Script, Priority-Critical, file-cpp

#9391 Fix(Scripts/Stratholme): Rewrite Jarien and Sothos fight
  data/sql/updates/pending_db_world/rev_1638053041040101600.sql
  src/server/scripts/EasternKingdoms/Stratholme/boss_jarien_and_sothos.cpp
  src/server/scripts/EasternKingdoms/Stratholme/stratholme.h
  src/server/scripts/EasternKingdoms/eastern_kingdoms_script_loader.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#9394 fix(Scripts/BlackrockSpire): Improved Kormok encounter.
  data/sql/updates/pending_db_world/rev_1638046780431340000.sql
  src/server/scripts/EasternKingdoms/Scholomance/boss_kormok.cpp
  src/server/scripts/EasternKingdoms/Scholomance/instance_scholomance.cpp
  src/server/scripts/EasternKingdoms/Scholomance/scholomance.h
  src/server/scripts/EasternKingdoms/eastern_kingdoms_script_loader.cpp
Labels: 50-59, DB, CORE, To Be Merged, Instance - Dungeon - Vanilla, Script, file-cpp

#9377 Fix(Scripts/DireMaul): Rewrite Isalien fight
  data/sql/updates/pending_db_world/rev_1637968467142598700.sql
  src/server/scripts/Kalimdor/DireMaul/boss_isalien.cpp
  src/server/scripts/Kalimdor/DireMaul/dire_maul.h
  src/server/scripts/Kalimdor/DireMaul/instance_dire_maul.cpp
  src/server/scripts/Kalimdor/kalimdor_script_loader.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#9401 fix(DB/SAI) Script Dukes spawned from Windstones
  data/sql/updates/pending_db_world/rev_1638107879444151149.sql
Labels: DB, To Be Merged

#9448 Add (Core\Player): Added createplayerinfo_cast_spell support cast spell for some class spells
  data/sql/updates/pending_db_world/rev_1638401383244389098.sql
  src/server/game/Entities/Player/Player.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/scripts/World/character_creation.cpp
  src/server/scripts/World/world_script_loader.cpp
Labels: DB, CORE, Script, file-cpp

#8887 feat(Core/Commands): command to teleport character to npc
  data/sql/updates/pending_db_world/rev_1635830311358655196.sql
  src/server/scripts/Commands/cs_tele.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#9358 [DB] Frigid ring fix
  data/sql/updates/pending_db_world/rev_1637923012381502740.sql
Labels: DB, To Be Merged

#9389 fix(DB/Creature) Add missing random movement to Sarkoth
  data/sql/updates/pending_db_world/rev_1638031216146862485.sql
Labels: DB, To Be Merged

#9491 fix(Core/ScriptMgr): correct condition for AreaTrigger
  src/server/game/Scripting/ScriptMgr.cpp
Labels: CORE, file-cpp

#9474 refactor(Scripts/Commands): convert cs_modify to new system
  src/common/Utilities/Util.cpp
  src/common/Utilities/Util.h
  src/server/game/Reputation/ReputationMgr.h
  src/server/scripts/Commands/cs_modify.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9494 fix(DB/formations): Adds formations to two groups in UBRS
  data/sql/updates/pending_db_world/rev_1638624697731724160.sql
Labels: 50-59, DB, To Be Merged, Instance - Dungeon - Vanilla

#9497 fix(Core/ScriptMgr): Cleanup few scripts
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgrMacros.h
Labels: CORE, To Be Merged, Priority-Critical, file-cpp

#9505 fix(DB/SAI): Dr Weavil Abilities
  data/sql/updates/pending_db_world/rev_1638657340.sql
Labels: DB, To Be Merged

#9388 feat(Script/Misc): Implement missing FactoryGameObjectScript
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, To Be Merged, file-cpp

#9392 fix(Core/Scripts) Add respawn timer to wind stones
  src/server/scripts/Kalimdor/zone_silithus.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9465 fix(DB/Quest): Great-fatther Winter is Here!
  data/sql/updates/pending_db_world/rev_1638455217402525600.sql
Labels: DB, To Be Merged

#9397 arcanite reaper recipe drop rare fix
  data/sql/updates/pending_db_world/rev_1638100445239760555.sql
Labels: DB, To Be Merged, Loot

#9506 fix(DB/SAI): Make generically spawned traps invisible
  data/sql/updates/pending_db_world/rev_1638658608.sql
Labels: DB, To Be Merged

#9402 fix(DB/SAI) fix(DB/SAI) Script Lords spawned from Greater Windstones
  data/sql/updates/pending_db_world/rev_1638110187508927447.sql
Labels: DB, To Be Merged

#9403 fix(DB/SAI/Gossip) Add missing SAI and gossip to Elder Torntusk
  data/sql/updates/pending_db_world/rev_1638112959691757857.sql
Labels: DB, To Be Merged

#9404 fix(DB/SAI) Link SAI to Deathstalker Vincent
  data/sql/updates/pending_db_world/rev_1638113589865941888.sql
Labels: DB, To Be Merged

#9405 fix(DB/SAI) Clean up event_type in Timed Actionlists
  data/sql/updates/pending_db_world/rev_1638125279373569035.sql
Labels: DB, To Be Merged

#9521 fix(DB/Creature): Spawn at Winter Veil
  data/sql/updates/db_world/2021_12_05_01.sql
  data/sql/updates/pending_db_world/rev_1638733140143862200.sql
Labels: DB, To Be Merged

#9417 fix(Scripts/Spells): Drain Soul generates Soul Shard only from target…
  src/server/scripts/Spells/spell_warlock.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Class - Warlock, Script, file-cpp

#9426 fix(SAI/Script) Move Lady Jaina Proudmoore to SAI.
  data/sql/updates/pending_db_world/rev_1638293367351399374.sql
  src/server/scripts/Kalimdor/zone_dustwallow_marsh.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#9427 fix(DB/Creatures): Eye of Kilrogg should be able to attack.
  data/sql/updates/pending_db_world/rev_1638297631577488200.sql
Labels: ChromieCraft Generic, DB, To Be Merged, Class - Warlock

#9518 fix(Core/Spell): Prevent passive spells to proc Omen of Clarity
  src/server/scripts/Spells/spell_druid.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9460 fix(DB/Creature): Metzen the Reindeer
  data/sql/updates/pending_db_world/rev_1638445356401170100.sql
Labels: DB, To Be Merged

#9535 fix(Core/Chat): correct logic for using guild officer chat
  src/server/game/Handlers/ChatHandler.cpp
Labels: CORE, To Be Merged, Priority-Critical, file-cpp

#9476 fix(DB): Reverting past node changes
  data/sql/updates/pending_db_world/rev_1638546663868479700.sql
Labels: DB, Priority-High, To Be Merged

#9429 fix(Core/Corpses): Reset corpse location data if player already resur…
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Handlers/MovementHandler.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp

#9452 fix(DB): Removing Venture Co. Drudger's Thrash
  data/sql/updates/pending_db_world/rev_1638433789445189200.sql
Labels: DB, To Be Merged

#9428 fix(Core/Movement): Unroot should remove MOVEMENTFLAG_FALLING if not …
  src/server/game/Handlers/MovementHandler.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Movement/MMaps, file-cpp

#9436 (DB/Item): Fix Super Reaper Droprate to 30%
  data/sql/updates/pending_db_world/rev_1638344006777786435.sql
Labels: DB, To Be Merged

#9450 Fix (Core\Logging) Capitalization
  src/server/game/Globals/ObjectMgr.cpp
Labels: CORE, To Be Merged, file-cpp

#9292 Core/Spell: Rewrite Steady Shot damage
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, To Be Merged, file-cpp

#9276 Fix(Core/Loot): Send Retrieval Mail for lost disenchant mats
  src/server/game/Groups/Group.cpp
Labels: CORE, To Be Merged, file-cpp

#9498 fix(DB/Spells): Elemental Focus should proc off only from damage spells.
  data/sql/updates/pending_db_world/rev_1638637475108173400.sql
Labels: ChromieCraft Generic, DB, To Be Merged, Class - Shaman

#9482 fix(DB/Quest): Noth the Plaguebringer ends quest 'Noth's special brew'
  data/sql/updates/pending_db_world/rev_1638571815853367029.sql
Labels: DB, To Be Merged

#9453 fix(DB): Cats eye emerald drop correction
  data/sql/updates/pending_db_world/rev_1638435289258599700.sql
Labels: DB, To Be Merged

#9455 fix(DB): Bristleback NPCs SmartAI improvements
  data/sql/updates/pending_db_world/rev_1638437762578877300.sql
Labels: DB, To Be Merged

#9456 fix(DB): Theramore Preserver SAI
  data/sql/updates/pending_db_world/rev_1638439965264459900.sql
Labels: DB, To Be Merged

#9457 fix(DB): Jorn Skyseer's gossip chance
  data/sql/updates/pending_db_world/rev_1638444071475524100.sql
Labels: DB, To Be Merged

#9459 fix(DB): Warlord Krom'zar wrong spell
  data/sql/updates/pending_db_world/rev_1638445027033013500.sql
Labels: DB, To Be Merged

#9464 fix(Script/Spell): Winter Wondervolt Trap
  src/server/scripts/Events/winter_veil.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9461 fix(DB/Creature): Dark Iron Kidnapper
  data/sql/updates/pending_db_world/rev_1638446845248147600.sql
Labels: DB, To Be Merged

#9484 core(misc/conf): change default option & add description for setting Instance.SharedNormalHeroicId
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged

#9462 fix(DB): Adding Mor'ogal's gossip
  data/sql/updates/pending_db_world/rev_1638446224179942600.sql
Labels: DB

#9485 fix(DB/SAI): Add Gnomish Battle Chicken combat SAI
  data/sql/updates/pending_db_world/rev_1638583529869753200.sql
Labels: DB, To Be Merged

#9487 fix(DB/Creature): Removed duplicated Goblin Commoners.
  data/sql/updates/pending_db_world/rev_1638611934315329400.sql
Labels: ChromieCraft Generic, DB, To Be Merged, World Event

#9493 fix(Scripts/Spells): Hunter's Initimidation should not stun pet.
  data/sql/updates/pending_db_world/rev_1638623866801763400.sql
  src/server/scripts/Spells/spell_hunter.cpp
Labels: ChromieCraft Generic, DB, CORE, To Be Merged, Class - Hunter, Script, file-cpp

#9515 fix(Scripts/MoltenCore): Majordomo's spawn line should be said instantly
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_majordomo_executus.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/instance_molten_core.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9511 Core/ScriptMgr: Duplicate include
  src/server/game/Scripting/ScriptMgr.cpp
Labels: CORE, To Be Merged, file-cpp

#9525 (DB) Work Work Audio Broadcast fix
  data/sql/updates/pending_db_world/rev_1638737032167850775.sql
Labels: DB, To Be Merged

#9580 fix(DB/Creature): Greatmother Hawkwind faction
  data/sql/updates/pending_db_world/rev_1638924855980524100.sql
Labels: DB, To Be Merged

#9577 (Core\First Login) Freeze fix potential
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, To Be Merged, file-cpp

#9520 Fix(DB/Creature): Add InhabitType Water to various Gogger's NPC
  data/sql/updates/pending_db_world/rev_1638731875852031000.sql
Labels: DB, To Be Merged

#9526 fix(Scripts/MoltenCore): Implement Ragnaros' Lava Bursts
  data/sql/updates/pending_db_world/rev_1638745963138176600.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_ragnaros.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/instance_molten_core.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/molten_core.h
Labels: DB, CORE, To Be Merged, Script, file-cpp

#9593 fix(Core/Spell) Green Beam spells should only hit one target
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, To Be Merged, file-cpp

#9262 fix(Scripts/Brewfest): Set proper npc entry to `NPC_NORMAL_VOODOO`
  src/server/scripts/Events/brewfest.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, World Event, Script, file-cpp

#9302 fix(Core/Battlegrounds): Delay a little bit relocation of dead players.
  src/server/game/Battlegrounds/Battleground.cpp
  src/server/game/Battlegrounds/Battleground.h
  src/server/game/Battlegrounds/Zones/BattlegroundAB.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundAV.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundAV.h
  src/server/game/Battlegrounds/Zones/BattlegroundIC.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Battlegrounds, file-cpp

#9568 Patched to be buildable on FreeBSD 13.0-RELEASE
  deps/g3dlite/include/G3D/System.h
  deps/g3dlite/source/FileSystem.cpp
  src/common/Utilities/Util.cpp
Labels: CORE, To Be Merged, run-build, file-cpp

#9346 fix(DB/Instances): Dark Keeper Portrait should summon only one boss.
  data/sql/updates/pending_db_world/rev_1637872302526322500.sql
Labels: 50-59, DB, To Be Merged, Instance - Dungeon - Vanilla

#9380 [Raid]Fix TBC Zul'aman hostage chest unlootble
  data/sql/updates/pending_db_world/rev_1637978286218341866.sql
Labels: DB, To Be Merged

#9599 fix(Scripts/MoltenCore): Solve an issue causing Ragnaros melee checks to be skipped
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_ragnaros.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9538 feat(Scripts/Commands): Item restoration command
  data/sql/updates/pending_db_world/rev_1638818214.sql
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/database/Database/Implementation/CharacterDatabase.h
  src/server/game/Miscellaneous/Language.h
  src/server/scripts/Commands/cs_item.cpp
  src/server/scripts/Commands/cs_misc.cpp
  src/server/scripts/Commands/cs_script_loader.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#9379 fix(DB/Loot) Fix all starting area loot to work like Official
  data/sql/updates/pending_db_world/rev_1637975402275290929.sql
Labels: DB, To Be Merged

#9418 fix(Core/Spells): Damage spell modifiers do not affect wands.
  src/server/game/Spells/SpellEffects.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Class - Priest, Class - Warlock, file-cpp

#9442 fix(DB): Mux manascrambler's conditions
  data/sql/updates/pending_db_world/rev_1638374497455068200.sql
Labels: DB, Priority-High, To Be Merged

#9574 feat(Core/ScriptMgr): correct execute bool hooks
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgrMacros.h
Labels: CORE, To Be Merged, file-cpp

#9499 fix(DB/Creature): Apply 'Permanent Feign Death' to Citizen of New Avalon
  data/sql/updates/pending_db_world/rev_1638644587511744300.sql
Labels: DB, To Be Merged

#9416 Core/Auras: Always process hover/waterwalking movement flags on aura …
  src/server/game/Entities/Player/Player.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Class - Priest, file-cpp

#8841 (Core) Forward core changes
  src/common/Dynamic/TypeContainerVisitor.h
  src/server/game/Conditions/ConditionMgr.cpp
  src/server/game/Conditions/ConditionMgr.h
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerQuest.cpp
  src/server/game/Entities/Player/PlayerStorage.cpp
  src/server/game/Entities/Player/PlayerUpdates.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Grids/Notifiers/GridNotifiers.h
  src/server/game/Grids/Notifiers/GridNotifiersImpl.h
  src/server/game/Groups/Group.cpp
  src/server/game/Spells/Auras/SpellAuras.cpp
  src/server/game/Spells/Auras/SpellAuras.h
  src/server/scripts/Pet/pet_dk.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9419 Core/Players: Update the player's zone and area only after update the player's position server-side
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerUpdates.cpp
  src/server/game/Handlers/MiscHandler.cpp
Labels: CORE, To Be Merged, file-cpp

#9472 fix(Core/Spells): Channeled destination spells should not interrupt f…
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Spells/Spell.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Battlegrounds, file-cpp

#9501 fix(Core/Spells): Melee spells are not affected by cast haste modifie…
  src/server/game/Spells/Spell.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp

#8198 feat(Core/Config): implement loading files optional
  conf/dist/config.cmake
  src/cmake/showoptions.cmake
  src/common/Configuration/Config.cpp
  src/common/Configuration/Config.h
  src/common/Logging/Log.cpp
  src/server/worldserver/Main.cpp
Labels: Priority-High, CORE, To Be Merged, file-cpp

#9502 fix(Scripts/Spells): Fixed logic in Glyph of Prayer of Healing script.
  src/server/scripts/Spells/spell_priest.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Class - Priest, Script, file-cpp

#9631 Revert "fix(Core/Spells): Forward core changes (#8841)"
  src/common/Dynamic/TypeContainerVisitor.h
  src/server/game/Conditions/ConditionMgr.cpp
  src/server/game/Conditions/ConditionMgr.h
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerQuest.cpp
  src/server/game/Entities/Player/PlayerStorage.cpp
  src/server/game/Entities/Player/PlayerUpdates.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Grids/Notifiers/GridNotifiers.h
  src/server/game/Grids/Notifiers/GridNotifiersImpl.h
  src/server/game/Groups/Group.cpp
  src/server/game/Spells/Auras/SpellAuras.cpp
  src/server/game/Spells/Auras/SpellAuras.h
  src/server/scripts/Pet/pet_dk.cpp
Labels: CORE, Script, file-cpp

#9507 fix(DB/SAI): Nathanos Blightcaller Combat Script
  data/sql/updates/pending_db_world/rev_1638661444140849200.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#9598 feat(Core/ScriptMgr): replace macro and cleanup
  src/server/game/Scripting/ScriptDefines/AccountScript.cpp
  src/server/game/Scripting/ScriptDefines/AchievementCriteriaScript.cpp
  src/server/game/Scripting/ScriptDefines/AchievementScript.cpp
  src/server/game/Scripting/ScriptDefines/AllCreatureScript.cpp
  src/server/game/Scripting/ScriptDefines/AllGameObjectScript.cpp
  src/server/game/Scripting/ScriptDefines/AllMapScript.cpp
  src/server/game/Scripting/ScriptDefines/AreaTriggerScript.cpp
  src/server/game/Scripting/ScriptDefines/ArenaScript.cpp
  src/server/game/Scripting/ScriptDefines/ArenaTeamScript.cpp
  src/server/game/Scripting/ScriptDefines/AuctionHouseScript.cpp
  src/server/game/Scripting/ScriptDefines/BGScript.cpp
  src/server/game/Scripting/ScriptDefines/BattlegroundScript.cpp
  src/server/game/Scripting/ScriptDefines/CommandSC.cpp
  src/server/game/Scripting/ScriptDefines/CommandScript.cpp
  src/server/game/Scripting/ScriptDefines/ConditionScript.cpp
  src/server/game/Scripting/ScriptDefines/CreatureScript.cpp
  src/server/game/Scripting/ScriptDefines/DatabaseScript.cpp
  src/server/game/Scripting/ScriptDefines/DynamicObjectScript.cpp
  src/server/game/Scripting/ScriptDefines/FormulaScript.cpp
  src/server/game/Scripting/ScriptDefines/GameEventScript.cpp
  src/server/game/Scripting/ScriptDefines/GameObjectScript.cpp
  src/server/game/Scripting/ScriptDefines/GlobalScript.cpp
  src/server/game/Scripting/ScriptDefines/GroupScript.cpp
  src/server/game/Scripting/ScriptDefines/GuildScript.cpp
  src/server/game/Scripting/ScriptDefines/InstanceMapScript.cpp
  src/server/game/Scripting/ScriptDefines/ItemScript.cpp
  src/server/game/Scripting/ScriptDefines/LootScript.cpp
  src/server/game/Scripting/ScriptDefines/MailScript.cpp
  src/server/game/Scripting/ScriptDefines/MiscScript.cpp
  src/server/game/Scripting/ScriptDefines/MovementHandlerScript.cpp
  src/server/game/Scripting/ScriptDefines/OutdoorPvPScript.cpp
  src/server/game/Scripting/ScriptDefines/PetScript.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.cpp
  src/server/game/Scripting/ScriptDefines/ServerScript.cpp
  src/server/game/Scripting/ScriptDefines/SpellSC.cpp
  src/server/game/Scripting/ScriptDefines/SpellScriptLoader.cpp
  src/server/game/Scripting/ScriptDefines/TransportScript.cpp
  src/server/game/Scripting/ScriptDefines/UnitScript.cpp
  src/server/game/Scripting/ScriptDefines/VehicleScript.cpp
  src/server/game/Scripting/ScriptDefines/WeatherScript.cpp
  src/server/game/Scripting/ScriptDefines/WorldObjectScript.cpp
  src/server/game/Scripting/ScriptDefines/WorldScript.cpp
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgrMacros.h
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#9411 Core/Packet: Guild
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Guilds/Guild.cpp
  src/server/game/Guilds/Guild.h
  src/server/game/Guilds/GuildMgr.cpp
  src/server/game/Guilds/GuildMgr.h
  src/server/game/Handlers/GuildHandler.cpp
  src/server/game/Server/Packets/AllPackets.h
  src/server/game/Server/Packets/GuildPackets.cpp
  src/server/game/Server/Packets/GuildPackets.h
  src/server/game/Server/Protocol/Opcodes.cpp
  src/server/game/Server/WorldSession.h
Labels: CORE, To Be Merged, file-cpp

#9516 fix(DB/SAI): Correct target for some Dalaran vendor welcome texts
  data/sql/updates/pending_db_world/rev_1638711560534239900.sql
Labels: DB, To Be Merged

#9642 fix(Scripts/MoltenCore): Properly spawn Ragnaros' Sons of Flame
  data/sql/updates/pending_db_world/rev_1639172292353316400.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_ragnaros.cpp
Labels: DB, CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#9517 fix(DB/Pathing) Reworked Sunsail Anchorage in Eversong Woods
  data/sql/updates/pending_db_world/rev_1638713468459702407.sql
Labels: DB, To Be Merged

#9523 Fix(DB/Creature): set proper faction for Deepmoss Hatlings
  data/sql/updates/pending_db_world/rev_1638733092280795100.sql
Labels: DB, To Be Merged

#9522 fix(DB/Creature): Greatfather Winter
  data/sql/updates/pending_db_world/rev_1638732367384844600.sql
Labels: DB, To Be Merged

#9524 fix(DB/Gob): Move D.I.S.C.O script to spell_scripts
  data/sql/updates/pending_db_world/rev_1638733183561519300.sql
Labels: DB, To Be Merged

#9528 fix(Script/SAI) Quest 9678 "The First Trial"
  data/sql/updates/pending_db_world/rev_1638753088438372219.sql
  src/server/scripts/World/go_scripts.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#9650 fix(Core/Commands): Item duplication exploit
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/scripts/Commands/cs_item.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9527 refactor(Scripts/Command): Simplify command go set state
  src/server/scripts/Commands/cs_gobject.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9533 fix(DB/creature): Remove money drops from Imp Minion
  data/sql/updates/pending_db_world/rev_1638793339933122752.sql
Labels: 1-19, DB, To Be Merged, Loot

#9659 fix(Core/Command) cfg check on item restore list
  src/server/scripts/Commands/cs_item.cpp
Labels: To Be Merged

#9534 fix(DB/gameobject): Remove respawn timer from The Holy Spring
  data/sql/updates/pending_db_world/rev_1638796411490022910.sql
Labels: Quest, 30-39, DB, To Be Merged

#9537 fix(Core/Spells): Added some new spells to spell_group rules.
  data/sql/updates/pending_db_world/rev_1638820849350039500.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#9539 fix(Core/Pets): Add cooldown on spell cast if pet initially was out o…
  src/server/game/Entities/Pet/Pet.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Class - Hunter, file-cpp

#9674 fix(Core/ScriptMgr): Correct whisper hook parameters
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, file-cpp

#9544 Fix(DB/Vendor): Restock time for Undermine Clam Chowder
  data/sql/updates/pending_db_world/rev_1638834766612326400.sql
Labels: DB, To Be Merged

#9570 fix(Core/Pets): Properly cast spells on friendly target if not in LoS…
  src/server/game/AI/CoreAI/PetAI.cpp
  src/server/game/AI/CoreAI/PetAI.h
  src/server/game/AI/CreatureAI.h
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Entities/Pet/Pet.h
  src/server/game/Handlers/PetHandler.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Class - Hunter, Class - Warlock, file-cpp

#9573 Core/Loot: Set skinnable flag only after all loot was taken. Source:…
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Player/PlayerStorage.cpp
  src/server/game/Entities/Unit/Unit.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Loot, file-cpp

#9576 fix(Core/Spells): Properly handle pet spell auras with infinity coold…
  src/server/game/Handlers/PetHandler.cpp
  src/server/game/Handlers/SpellHandler.cpp
  src/server/game/Spells/Auras/SpellAuras.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Class - Hunter, file-cpp

#9653 feat(Core/Config): loading modules configs before loading scripts
  src/common/Configuration/Config.cpp
  src/common/Configuration/Config.h
  src/server/worldserver/Main.cpp
Labels: CORE, To Be Merged, file-cpp

#9578 fix(DB/SAI): Battle Chicken Combat SAI Improvements
  data/sql/updates/pending_db_world/rev_1638921732368130300.sql
Labels: DB, To Be Merged

#9581 fix(DB/creature_loot_template): Remove Items Incorrectly Placed on Loot Tables
  data/sql/updates/pending_db_world/rev_1638926789289565100.sql
Labels: DB, To Be Merged

#9579 fix(DB/Creature): Add mining type_flag for NPC Tavarok
  data/sql/updates/pending_db_world/rev_1638924383737045000.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#9582 fix(DB/quest_template): Fix Incorrect 'On Complete' Text
  data/sql/updates/pending_db_world/rev_1638933646064544700.sql
Labels: DB, To Be Merged

#9583 fix(DB/quest_offer_reward): Add Completion Text for quest "Tome of Nobility"
  data/sql/updates/pending_db_world/rev_1638937668620182300.sql
Labels: DB, To Be Merged

#9584 fix(DB/quest_poi): Update WorldMapAreaId to match respective quests
  data/sql/updates/pending_db_world/rev_1638942051959578400.sql
Labels: DB, To Be Merged

#9597 fix(DB/Spawning/Pathing) Eversong Woods cleanup and pathing #1
  data/sql/updates/pending_db_world/rev_1638997126204257695.sql
Labels: 1-19, DB, To Be Merged

#9596 fix(Core/Guild): Properly updates guild leader using command `guild r…
  src/server/game/Guilds/Guild.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp

#9606 refactor(Script/Spells): convert winter_veil into new system
  src/server/scripts/Events/winter_veil.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9601 fix(SAI/Pathing) Add missing path for Solanin
  data/sql/updates/pending_db_world/rev_1639016687135997067.sql
Labels: 1-19, DB, To Be Merged

#9609 refactor(Scripts/Events): convert love_in_air to new system
  src/server/scripts/Events/love_in_air.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#9608 refactor(Scripts/Event): convert pilgrims_bounty into new system
  src/server/scripts/Events/pilgrims_bounty.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#9612 refactor(Scripts/Events): convert brewfest to new system
  src/server/scripts/Events/brewfest.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#9649 fix(Core/Instances): Always put boss minions in combat with zone
  src/server/game/Instances/InstanceScript.cpp
Labels: CORE, To Be Merged, file-cpp

#9697 fix(CI): Ubuntu build
  apps/installer/includes/os_configs/ubuntu.sh
Labels: To Be Merged, Bash, Priority-Critical, Continuous Integration, file-cpp

#9675 refactor(Core/DB): Deprecate MariaDB 10.4 and below
  .github/SECURITY.md
  src/cmake/macros/FindMySQL.cmake
  src/server/database/Database/DatabaseWorkerPool.cpp
Labels: CORE, To Be Merged, file-cpp

#9478 fix(Core/Pet): Standardize pet run speed at 115% rate.
  src/server/game/Entities/Creature/Creature.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp

#9536 fix(Core/Spells): Do not apply diminishing return on spells casted by…
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Spells/Spell.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp

#9610 refactor(Scripts/Events): convert hallows_end to new system
  src/server/scripts/Events/hallows_end.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#9705 fix(Core/DatabseWorkerPool): Maria stuff
  src/server/database/Database/DatabaseWorkerPool.cpp
Labels: CORE, To Be Merged, file-cpp

#9699 fix(Core/Scripts): Fix bool script hooks not executing code
  src/server/game/Scripting/ScriptDefines/CreatureScript.cpp
  src/server/game/Scripting/ScriptDefines/GameObjectScript.cpp
Labels: CORE, To Be Merged, file-cpp

#9686 fix(Core/Character): Fix OnFirstLogin script hook
  src/server/game/Handlers/CharacterHandler.cpp
Labels: CORE, To Be Merged, file-cpp

#9543 fix(Core/Spell): Core not handling AURA_INTERRUPT_FLAG_TELEPORTED
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, To Be Merged, file-cpp

#9611 refactor(Scripts/Events): convert childrens_week to new system
  src/server/scripts/Events/childrens_week.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#9717 fix(Core/Scripts): Fix QuestRewarded hook
  src/server/game/Scripting/ScriptDefines/CreatureScript.cpp
  src/server/game/Scripting/ScriptDefines/GameObjectScript.cpp
Labels: CORE, To Be Merged, file-cpp

#9689 fix(Core/Spells): Mind Control can be dispelled from friendly target.
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp

#9625 fix(Core/Pets): Improved Revive Pet should affect dead despawned pet.
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Entities/Pet/Pet.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Handlers/PetHandler.cpp
  src/server/game/Server/WorldSession.h
  src/server/game/Spells/SpellEffects.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Class - Hunter, file-cpp

#9715 fix(CI/MacOS): set openssl to use openssl1.1
  apps/ci/mac/ci-compile.sh
Labels: Bash, run-build

#9628 Fix(DB/Quests): Armor Scraps and Enemy Booty should not be repeatable
  data/sql/updates/pending_db_world/rev_1639114795662209200.sql
Labels: 50-59, DB, To Be Merged

#9723 fix(Core/Unit): fix quest items not dropping if they are the only thi…
  src/server/game/Loot/LootMgr.h
Labels: CORE, To Be Merged, file-cpp

#9613 fix(Core/Spells): Implement SPELL_EFFECT_FORCE_CAST_2
  src/server/game/Spells/SpellEffects.cpp
  src/server/game/Spells/SpellInfo.cpp
  src/server/shared/SharedDefines.h
Labels: CORE, To Be Merged, file-cpp

#9541 fix(Script/Quest) Quest 2118 "Plagued Lands"
  data/sql/updates/pending_db_world/rev_1638832657384544715.sql
  src/server/scripts/Kalimdor/zone_darkshore.cpp
  src/server/scripts/World/go_scripts.cpp
Labels: 1-19, DB, CORE, To Be Merged, Script, file-cpp

#9490 fix(Core/Trainers): Added new column `ReqSpell` to `npc_trainer` table.
  data/sql/updates/pending_db_world/rev_1638616990639666200.sql
  data/sql/updates/pending_db_world/rev_1638617008671223200.sql
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Handlers/NPCHandler.cpp
Labels: Profession, ChromieCraft Generic, DB, CORE, To Be Merged, file-cpp

#8102 Fix(Scripts/BRD) - Magmus, Emperor, Priestess, Arena improvements
  data/sql/updates/pending_db_world/rev_1632675335691344600.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/blackrock_depths.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/blackrock_depths.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/boss_anubshiah.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/boss_emperor_dagran_thaurissan.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/boss_eviscerator.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/boss_gorosh_the_dervish.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/boss_grizzle.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/boss_hedrum.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/boss_magmus.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/boss_moira_bronzebeard.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/boss_okthor.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/instance_blackrock_depths.cpp
  src/server/scripts/EasternKingdoms/eastern_kingdoms_script_loader.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp
