Repository azerothcore/azerothcore-wotlk, pull requests merged in 2021-01, with the labels that each got.

#4035 fix(Core/Quest): They're Alive! Maybe...
  src/server/scripts/Kalimdor/zone_bloodmyst_isle.cpp
Labels: CORE, Script, To Be Merged

#4062 fix(DB/gameobject): Adjust spawntimesecs for multiple GOs
  data/sql/updates/pending_db_world/rev_1609009225243254400.sql
Labels: 1-19, DB, To Be Merged

#4080 fix(DB/Quest): Galaen's Fate
  data/sql/updates/pending_db_world/rev_1609174873784850500.sql
Labels: 1-19, DB, To Be Merged

#4089 fix(DB/Creature): Engineer "Spark" and Geezle
  data/sql/updates/pending_db_world/rev_1609196416272968100.sql
  src/server/scripts/Kalimdor/zone_azuremyst_isle.cpp
Labels: 1-19, CORE, DB, Script, To Be Merged

#4070 chore(MySQL): Deprecate 5.6
  conf/dist/config.sh
  src/cmake/macros/FindMySQL.cmake
  src/common/Database/DatabaseWorkerPool.cpp
Labels: Bash, CORE, To Be Merged

#4054 fix(DB/creature): Add female models to Chosen Zealots
  data/sql/updates/pending_db_world/rev_1608955862284429300.sql
Labels: DB, To Be Merged

#4100 fix(DB/Visual): The Sun Gate
  data/sql/updates/pending_db_world/rev_1609274862007339479.sql
Labels: 1-19, DB, To Be Merged

#4052 fix(DB/smart_scripts): Add abilities to Arcanist Torseldori and Bloodmage
  data/sql/updates/pending_db_world/rev_1608949912835926000.sql
Labels: DB, To Be Merged

#4135 fix(DB/Creature): Shadowglen Webwood Spiders Population
  data/sql/updates/pending_db_world/rev_1609602692076885000.sql
Labels: 1-19, DB, To Be Merged

#3369 feat(Core/CreatureAI): improve npc position during the combat
  src/common/Collision/Management/VMapManager2.cpp
  src/common/Utilities/Geometry.h
  src/server/game/AI/CreatureAI.cpp
  src/server/game/AI/CreatureAI.h
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
  src/server/game/Movement/MotionMaster.cpp
  src/server/game/Movement/MotionMaster.h
  src/server/game/Movement/MovementGenerators/FleeingMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/PathGenerator.cpp
  src/server/game/Movement/MovementGenerators/PathGenerator.h
  src/server/game/Movement/Spline/MoveSplineInit.cpp
  src/server/game/Spells/SpellInfo.cpp
  src/server/game/Spells/SpellInfo.h
  src/server/scripts/Commands/cs_mmaps.cpp
Labels: CORE, Ready to be reviewed, Script, Waiting to be tested

#4129 fix(Core/Creature): Implement CREATURE_FLAG_EXTRA_GHOST_VISIBILITY
  data/sql/updates/pending_db_world/rev_1609543457839849700.sql
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
Labels: CORE, DB, To Be Merged

#4111 fix(DB/Quest): "Botanist Taerix" and "Urgent Delivery!"
  data/sql/updates/pending_db_world/rev_1609341775988183484.sql
Labels: 1-19, DB, To Be Merged

#4114 fix(DB/Creature): Ranger Lilatha walk speed correction
  data/sql/updates/pending_db_world/rev_1609352829390064240.sql
Labels: 1-19, DB, To Be Merged

#4117 fix(DB/Creature): position of guid 17952
  data/sql/updates/pending_db_world/rev_1609414989791132104.sql
Labels: 1-19, DB, To Be Merged

#4138 fix(DB/Creature): Guvan (npc 17482) incorrect NPC flags (can't train priests past lvl 6)
  data/sql/updates/pending_db_world/rev_1609618111014466000.sql
Labels: 1-19, DB, To Be Merged

#4134 fix(DB/Creature): Laris Geardawdle (9616) missing text
  data/sql/updates/pending_db_world/rev_1609601212878725000.sql
Labels: 1-19, DB, To Be Merged

#4211 fix(DB/SmartAI): Demolitionist Legoso weird behavior
  data/sql/updates/pending_db_world/rev_1609803806703890000.sql
Labels: 1-19, DB, Ready to be reviewed, To Be Merged

#4231 fix(DB/Update): Fix missing delete
  data/sql/updates/db_world/2021_01_07_00.sql
Labels: DB, Priority - Critical, Ready to be reviewed, To Be Merged

#3803 fix(Core/ArenaTeam): Arena team queue protections
  src/server/game/Battlegrounds/ArenaTeam.cpp
  src/server/game/Handlers/ArenaTeamHandler.cpp
Labels: CORE, To Be Merged

#4234 fix(CI/MacOS) workaround for configure os failing
  apps/installer/includes/os_configs/osx.sh
Labels: Bash, Ready to be reviewed

#3838 fix(scripts/instance): Force correct gossip/text updates
  data/sql/updates/pending_db_world/rev_1606881109355464500.sql
  src/server/scripts/Northrend/FrozenHalls/HallsOfReflection/halls_of_reflection.cpp
Labels: CORE, DB, Script, To Be Merged

#4235 fix(Core/Crash): safe calculation in GetMeleeAttackPoint
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE

#4015 fix(Core/Spell): Earthliving weapon proc
  data/sql/updates/pending_db_world/rev_1608429976729774300.sql
  src/server/game/Entities/Unit/Unit.cpp
  src/server/scripts/Spells/spell_shaman.cpp
Labels: CORE, DB, Script, To Be Merged

#4217 fix(Core/Spell): [Potion] Elixir of Minor Fortitude effect disappear
  src/server/game/Spells/SpellMgr.cpp
Labels: 1-19, CORE, To Be Merged

#4224 fix(DB/Graveyard): add ghostZone for zone 3479
  data/sql/updates/pending_db_world/rev_1609978307795332000.sql
Labels: 1-19, DB, To Be Merged

#3220 fix(DB/Script): Quest Re-Cursive
  data/sql/updates/pending_db_world/rev_1595505810975581600.sql
Labels: DB, To Be Merged

#4241 chore(CI/codestyle): fix build
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE

#4042 feat(CI/Ubuntu): use acore.sh to install deps
  .github/workflows/core_build.yml
  apps/ci/ci-conf.sh
  apps/installer/includes/os_configs/ubuntu.sh
Labels: Bash, To Be Merged, Workflow

#3830 fix(DB/gossip_menu_option): Give me a bomber!
  data/sql/updates/pending_db_world/rev_1606850752274331900.sql
Labels: DB, To Be Merged

#4020 Core/Opcodes: Implement CMSG_GROUP_SWAP_SUB_GROUP
  src/server/game/Handlers/GroupHandler.cpp
  src/server/game/Server/Protocol/Opcodes.cpp
  src/server/game/Server/WorldSession.h
Labels: CORE, To Be Merged

#4248 chore(core): Remove malformed whitespace
  src/server/game/Battlegrounds/Zones/BattlegroundSA.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Scripting/ScriptMgr.h
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter2.cpp
  src/server/scripts/EasternKingdoms/ZulAman/boss_hexlord.cpp
  src/server/scripts/Northrend/zone_dalaran.cpp
  src/tools/vmap4_extractor/wmo.cpp
Labels: CORE, Script, To Be Merged

#4069 fix(DB/Creature): Fix Borean Tundra Footmans
  data/sql/updates/pending_db_world/rev_1609100844918098600.sql
Labels: DB, To Be Merged

#4246 chore(Core/SpellAuraEffects): Comment out empty if
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: CORE, To Be Merged

#3123 Allow db_assembler to connect to non default mysql ports
  apps/db_assembler/includes/functions.sh
  conf/dist/config.sh
Labels: Bash, To Be Merged

#3419 fix(Build/CMake): CMake now uses the Windows env vars
  src/cmake/macros/FindMySQL.cmake
  src/cmake/macros/FindOpenSSL.cmake
Labels: CORE, To Be Merged

#4260 chore(README): Add codefactor
  .github/README.md
Labels: Ready to be reviewed

#3531 fix(Core/The Oculus) Drakos dragon keepers
  data/sql/updates/pending_db_world/rev_1601843049417097700.sql
  src/server/scripts/Northrend/Nexus/Oculus/oculus.cpp
  src/server/scripts/Northrend/Nexus/Oculus/oculus.h
Labels: CORE, DB, Script, To Be Merged

#4049 refactor(Core): fix some warnings from VS
  src/server/game/Chat/Channels/Channel.h
  src/server/game/World/World.h
Labels: CORE, To Be Merged

#3853 feat(DB/locales): Import deDE locales (Part 12)
  data/sql/updates/pending_db_world/rev_1607250027116831100.sql
Labels: DB, To Be Merged, Translation

#4063 fix(DB/*_loot_template): Fill in comment fields
  data/sql/updates/pending_db_world/rev_1609035890119156900.sql
Labels: DB, To Be Merged

#4199 chore(IssueTemplate/BugReport): Fix typo
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: To Be Merged

#4071 fix(DB/Creature): Civilian Recruit improvements
  data/sql/updates/pending_db_world/rev_1609106243604105800.sql
Labels: DB, To Be Merged

#4075 fix(DB/Quest): Shadow Vault Decree
  data/sql/updates/pending_db_world/rev_1609118876085874200.sql
Labels: DB, To Be Merged

#4267 Fix new bugs created by new Pathfinding System + Refactor some Code
  src/server/game/AI/CreatureAI.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
  src/server/game/Spells/Spell.cpp
Labels: CORE

#4270 fix(Core/Creature): Set PvP flag for some creatures
  data/sql/updates/pending_db_world/rev_1610598175630537700.sql
  src/server/scripts/Kalimdor/zone_azuremyst_isle.cpp
  src/server/scripts/World/npcs_special.cpp
Labels: 1-19, CORE, DB, Script, To Be Merged

#4274 fix(Core/CreatureAI): revert NPC repositioning and path system (temporarily)
  src/common/Collision/Management/VMapManager2.cpp
  src/common/Utilities/Geometry.h
  src/server/game/AI/CreatureAI.cpp
  src/server/game/AI/CreatureAI.h
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
  src/server/game/Movement/MotionMaster.cpp
  src/server/game/Movement/MotionMaster.h
  src/server/game/Movement/MovementGenerators/FleeingMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/PathGenerator.cpp
  src/server/game/Movement/MovementGenerators/PathGenerator.h
  src/server/game/Movement/Spline/MoveSplineInit.cpp
  src/server/game/Spells/SpellInfo.cpp
  src/server/game/Spells/SpellInfo.h
  src/server/scripts/Commands/cs_mmaps.cpp
Labels: CORE, Script, To Be Merged

#3858 feat(DB/locales): Import deDE locales (Part 13)
  data/sql/updates/pending_db_world/rev_1607329910475731400.sql
Labels: DB, To Be Merged, Translation

#4280 chore(2021_01_14_01.sql): int not string
  data/sql/updates/db_world/2021_01_14_01.sql
Labels: DB, To Be Merged

#4283 fix(CI): disable macos-11.0 in mac-build matrix
  .github/workflows/core_build.yml
Labels: Workflow

#4073 fix(DB/Creature): Mana-Tombs: Ethereal Priest Power-Shield Spam
  data/sql/updates/pending_db_world/rev_1609112407840861500.sql
Labels: DB, To Be Merged

#4279 fix(Docker): binary update on rebuild
  docker/build/Dockerfile
Labels: Docker, To Be Merged

#3873 feat(DB/game_tele): Improve GM Teleports
  data/sql/updates/pending_db_world/rev_1607523114128420000.sql
Labels: DB, GM commands, New Feature, To Be Merged

#4240 feat(Core/Conf): allow to change the cost of the guild bank tabs
  src/server/game/Guilds/Guild.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged

#4288 Improvements to Creature CircleMovement (Pathfinding)
  src/server/game/AI/CreatureAI.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Movement/Spline/MoveSplineInit.cpp
Labels: CORE

#4079 fix(DB/Quest): Taken by the Scourge
  data/sql/updates/pending_db_world/rev_1609175919318500200.sql
  src/server/scripts/Northrend/zone_borean_tundra.cpp
Labels: CORE, DB, Script, To Be Merged

#4297 feat(Core/Player): GetFreeInventorySpace()
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Spells/Spell.cpp
Labels: CORE, To Be Merged

#4299 fix(Core/SpellMgr): Death Plague stacks
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, To Be Merged

#4097 fix(Core/Spell): Killing Spree range
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, To Be Merged

#4082 fix(Scripts/boss_freya): adds apply SPELL_CONSERVATOR_GRIP 6s after spawn
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_freya.cpp
Labels: CORE, Script, To Be Merged

#4251 fix(db/creature): Airman Skyhopper mace sheathing
  data/sql/updates/pending_db_world/rev_1610321145931268300.sql
Labels: DB, To Be Merged

#4285 fix(db/creature): Remove WotLK recipe drops from Vanilla NPC Sorrow Wing
  data/sql/updates/pending_db_world/rev_1610682062693632700.sql
Labels: 1-19, DB, To Be Merged

#3878 feat(DB/game_tele): Hidden Places
  data/sql/updates/pending_db_world/rev_1607717075635849200.sql
Labels: DB, GM commands, New Feature, To Be Merged

#3875 feat(Core/Warden): optimization + PQR detection
  data/sql/updates/pending_db_world/rev_1599925076493872561.sql
  src/common/Containers.h
  src/server/game/Handlers/ChatHandler.cpp
  src/server/game/Server/WorldSession.cpp
  src/server/game/Warden/Warden.cpp
  src/server/game/Warden/Warden.h
  src/server/game/Warden/WardenCheckMgr.cpp
  src/server/game/Warden/WardenCheckMgr.h
  src/server/game/Warden/WardenMac.cpp
  src/server/game/Warden/WardenMac.h
  src/server/game/Warden/WardenWin.cpp
  src/server/game/Warden/WardenWin.h
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, DB, To Be Merged

#4110 fix(Core/SpellMgr): Essence of Wintergrasp
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, To Be Merged

#4125 feat(DB/locales): import locales from TC
  data/sql/updates/pending_db_world/rev_1609468029866821701.sql
Labels: DB, To Be Merged

#4141 fix(Core/Creature): Implement INHABIT_ROOT
  data/sql/updates/pending_db_world/rev_1609633274065776000.sql
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
Labels: CORE, DB, To Be Merged

#4021 Core/Opcodes: Implement CMSG_CHANNEL_MODERATE
  src/server/game/Chat/Channels/Channel.cpp
  src/server/game/Chat/Channels/Channel.h
  src/server/game/Handlers/ChannelHandler.cpp
  src/server/game/Server/Protocol/Opcodes.cpp
  src/server/game/Server/WorldSession.h
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged

#3115 refactor(Core/cs_reload): Improve page_text(_locale) output
  data/sql/updates/pending_db_world/rev_1591646826613634700.sql
  src/server/scripts/Commands/cs_reload.cpp
Labels: CORE, DB, Script, To Be Merged

#3563 fix(DB/locale): Translations for Death Knight quests [esES/esMX]
  data/sql/updates/pending_db_world/rev_1608817912001240800.sql
Labels: DB, To Be Merged, Translation

#3870 (DB) Spanish translation (elwynn forest) "quest_offer_reward_locale" and "quest_request_items_locale".
  data/sql/updates/pending_db_world/rev_1607503600897995800.sql
Labels: DB, To Be Merged

#4115 fix(DB/Creature): Gyromasts Revenge
  data/sql/updates/pending_db_world/rev_1609354039936904092.sql
  src/server/scripts/Kalimdor/zone_darkshore.cpp
Labels: CORE, DB, Script, To Be Merged

#4027 fix(Core/QuestTracker): do not store quest if quest_id is null
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Handlers/QuestHandler.cpp
  src/server/scripts/Commands/cs_quest.cpp
Labels: CORE, Script, To Be Merged

#3986 feat(DB/locales): Import deDE locales (Part 14)
  data/sql/updates/pending_db_world/rev_1607849868644476300.sql
Labels: DB, To Be Merged, Translation

#4064 feat(DB/locales): Import deDE locales (Part 15)
  data/sql/updates/pending_db_world/rev_1609073866409457800.sql
Labels: DB, To Be Merged, Translation

#4245 fix(DB/Waypoint): Hezrul Bloodmark
  data/sql/updates/pending_db_world/rev_1610238998819516081.sql
Labels: 1-19, DB, Ready to be reviewed

#4290 feat(Core/Config): allow initial (free) amount of Guild Bank tabs
  src/server/game/Guilds/Guild.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: 1-19, CORE, To Be Merged

#4081 chore(CI): Improve error message of check_pending_sql
  .github/workflows/check_pending_sql.yml
Labels: To Be Merged, Workflow

#4119 fix(DB/spell_area): remove spell 57940 on area 480
  data/sql/updates/pending_db_world/rev_1609430321509209000.sql
Labels: DB, To Be Merged

#4120 fix(DB/Quest): fix issue 4102
  data/sql/updates/pending_db_world/rev_1609431351512296000.sql
Labels: DB, To Be Merged

#4045 fix(Core): Activate creatures and objects during opening cinematics
  data/sql/updates/pending_db_world/rev_1610763406658790400.sql
  src/server/game/DataStores/DBCStores.cpp
  src/server/game/DataStores/DBCStores.h
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Handlers/MiscHandler.cpp
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
  src/server/scripts/Commands/cs_debug.cpp
  src/server/shared/DataStores/DBCStore.h
  src/server/shared/DataStores/DBCStructure.h
  src/server/shared/DataStores/DBCfmt.h
  src/tools/map_extractor/System.cpp
Labels: CORE, DB, Script, WIP

#4325 fix(CI): temp restore ci-install.sh
  apps/ci/ci-install.sh
Labels: Bash

#4128 fix(Core/Spell): Paralytic Poison
  data/sql/updates/pending_db_world/rev_1609539037767254100.sql
  src/server/scripts/Spells/spell_generic.cpp
Labels: CORE, DB, Script, To Be Merged

#4332 fix(gcc): type warning
  src/server/game/DataStores/DBCStores.cpp
Labels: CORE

#4333 feat(CI/gcc): deprecate gcc 7 [2/2]
  .github/workflows/core_build.yml
  apps/ci/ci-conf.sh
  apps/ci/ci-install.sh
Labels: Bash, Workflow

#4229 fix(DB/Creature): faction of ravenoak
  data/sql/updates/pending_db_world/rev_1610041921673478030.sql
Labels: DB, To Be Merged

#4322 fix(DB/Graveyard): Add Horde graveyards in Darkshore
  data/sql/updates/pending_db_world/rev_1611229279609470857.sql
Labels: 1-19, DB, To Be Merged

#4292 fix(DB/Creature): King Magni Bronzebeard combat script
  data/sql/updates/pending_db_world/rev_1610768378723362000.sql
Labels: DB, To Be Merged

#4289 chore(Core/PathGenerator.h): Kill Malformed whitespace
  src/server/game/Movement/MovementGenerators/PathGenerator.h
Labels: CORE, To Be Merged

#4339 release: AzerothCore 3.0.0
  acore.json
  data/sql/updates/pending_db_world/rev_1611591801006649000.sql
Labels: DB

#4130 chore(Core/Global): Fix grouping of Worldserver initialization
  src/server/game/Addons/AddonMgr.cpp
  src/server/game/Battlefield/BattlefieldMgr.cpp
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
  src/server/game/Calendar/CalendarMgr.cpp
  src/server/game/Chat/Channels/ChannelMgr.cpp
  src/server/game/DungeonFinding/LFGMgr.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Guilds/GuildMgr.cpp
  src/server/game/Maps/TransportMgr.cpp
  src/server/game/Scripting/ScriptSystem.cpp
  src/server/game/Spells/SpellMgr.cpp
  src/server/game/Tickets/TicketMgr.cpp
  src/server/game/World/World.cpp
Labels: CORE, To Be Merged

#4232 fix(Core/Creature): Move CREATURE_FLAG_EXTRA_IMMUNITY_KNOCKBACK
  data/sql/updates/pending_db_world/rev_1610067409942880500.sql
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
Labels: CORE, DB, To Be Merged

#4347 fix(DB/updates): fix chain
  data/sql/updates/db_auth/2021_01_25_00.sql
  data/sql/updates/db_characters/2021_01_25_00.sql
  data/sql/updates/db_world/2021_01_25_00.sql
Labels: DB

#4349 fix(DB/updates): fix chain (2)
  data/sql/updates/db_world/2021_01_25_00.sql
  data/sql/updates/db_world/2021_01_25_01.sql
  data/sql/updates/db_world/2021_01_25_02.sql
Labels: DB

#4233 fix(Core/Creature): Implement CREATURE_FLAG_EXTRA_NO_SELL_VENDOR
  data/sql/updates/pending_db_world/rev_1610068635267906600.sql
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Item/Item.h
  src/server/game/Handlers/ItemHandler.cpp
Labels: CORE, DB, To Be Merged

#4334 docs(SECURITY.md): rebrand supported dependencies
  .github/SECURITY.md
Labels: To Be Merged

#4206 fix(Core/Spell): Glyph apply bonus
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, To Be Merged

#4201 fix(DB/Quest): Missing Event on questId (1020, 1033, 1034, 1035)
  data/sql/updates/pending_db_world/rev_1609769436615146000.sql
Labels: DB, To Be Merged

#4353 feat(Core/PvPstats): top players of the month
  src/common/Database/Implementation/CharacterDatabase.cpp
  src/common/Database/Implementation/CharacterDatabase.h
Labels: CORE, To Be Merged

#4298 fix(Core/Spell): SPELL_EFFECT_CREATE_RANDOM_ITEM does not cast if inv…
  src/server/game/Spells/Spell.cpp
Labels: 1-19, CORE, To Be Merged

#4194 feat(DB/locales): Import deDE locales (Part 16)
  data/sql/updates/pending_db_world/rev_1609673885679254500.sql
Labels: DB, To Be Merged, Translation

#4350 fix(Bash): Improve db_export script
  apps/db_exporter/db_export.sh
  deps/drassil/mysql-tools/bin/dump-parser
Labels: Bash, To Be Merged

#4342 fix(Bash): db-export on macOS
  deps/drassil/mysql-tools/bin/dump-parser-mac
  deps/drassil/mysql-tools/shared-def
Labels: To Be Merged

#4204 fix(DB/Quest): wrong location for quest 9589 & 9590
  data/sql/updates/pending_db_world/rev_1609775864907442000.sql
Labels: DB, To Be Merged

#4219 fix(CORE/Tets): Removed duplicated mock method
  src/test/mocks/LogMock.h
Labels: CORE, To Be Merged, UnitTests

#4237 fix(Core/SpellAuraEffect): quest "A Tangled Skein"
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: CORE, To Be Merged

#4258 fix(Core/Item): Implement mount speed mod items
  data/sql/updates/pending_db_world/rev_1610385898427311800.sql
  src/server/scripts/Spells/spell_item.cpp
Labels: CORE, DB, Script, To Be Merged

#4378 fix(CI/macOS): solve ccache issue
  .github/workflows/core_build.yml
Labels: Ready to be reviewed, Workflow

#4281 refactor(Core/LoginDatabase): LOGIN_DEL_ACCOUNT_MUTEDEL -> LOGIN_DEL_…
  src/common/Database/Implementation/LoginDatabase.cpp
  src/common/Database/Implementation/LoginDatabase.h
  src/server/game/Accounts/AccountMgr.cpp
Labels: CORE, To Be Merged

#3673 fix(Core/scripts): Blackwing Lair overhaul
  data/sql/updates/pending_db_world/rev_1607274868483442300.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/blackwing_lair.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_broodlord_lashlayer.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_chromaggus.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_ebonroc.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_firemaw.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_flamegor.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_nefarian.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_razorgore.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_vaelastrasz.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/instance_blackwing_lair.cpp
Labels: CORE, DB, Script, To Be Merged

#4296 fix(Core/Spell): improve check in SPELL_EFFECT_CREATE_ITEM(_2)
  src/server/game/Spells/Spell.cpp
Labels: CORE, To Be Merged

#4300 fix(Core/SpellMgr): Add cooldown to some vehicle spells
  data/sql/updates/pending_db_world/rev_1610824463901751500.sql
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/Spells/spell_generic.cpp
Labels: CORE, DB, Script, To Be Merged

#4305 refactor(Core/Spell): Define some unknown spell attributes
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Miscellaneous/SharedDefines.h
  src/server/game/Spells/Auras/SpellAuras.cpp
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, To Be Merged
