Repository azerothcore/azerothcore-wotlk, pull requests merged in 2022-12, with the labels that each got.

#13955 fix(DB/SAI): Marshfang Ripper AI
  data/sql/updates/pending_db_world/rev_1669553293045073800.sql
Labels: DB, To Be Merged

#14020 fix(DB/SAI): Underbog Lord should cast Knock Away
  data/sql/updates/pending_db_world/rev_1669948633896561800.sql
Labels: To Be Merged

#14018 fix(DB/CTM): Fix Vanquished Tentacle of C'thun moving
  data/sql/updates/pending_db_world/rev_1669943957803991000.sql
Labels: DB, To Be Merged

#13991 refactor(Core/Achievement): Remove Hungarian notation
  src/server/game/Achievements/AchievementMgr.cpp
  src/server/game/Achievements/AchievementMgr.h
Labels: CORE, To Be Merged, Refactor, file-cpp

#13970 fix(DB/gameobject): Port Netherwing objects from Mangos
  data/sql/updates/pending_db_world/rev_1669600607401108900.sql
Labels: DB, To Be Merged, 70

#13962 fix(DB/SAI): Bloodthirsty Marshfang
  data/sql/updates/pending_db_world/rev_1669580350948326200.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 61-64

#13969 fix(DB/Locale): esES/esMX reward text for Reagents for Reclaimers Inc.
  data/sql/updates/pending_db_world/rev_1669591517768921300.sql
Labels: 30-39, DB, To Be Merged

#14073 fix(DB/gameobject): Add 3 more Box of Surveying Equipment spawns
  data/sql/updates/pending_db_world/rev_1670204648623403800.sql
Labels: DB, To Be Merged, 65-69

#13390 fix(DB/pool): Pool herbs in Alterac Mountains
  data/sql/updates/pending_db_world/rev_1665513831088769500.sql
Labels: 30-39, DB, To Be Merged

#13954 fix(DB/Quests): Fixed quest chaining of "Trial of the Naaru: Magtheri…
  data/sql/updates/pending_db_world/rev_1669550931173138600.sql
Labels: Quest, DB, To Be Merged, Instance - Raid - Outland, 70, Tested

#14041 fix(DB/creature_template_addon): Add Emote state work to Rogg (37072)
  data/sql/updates/pending_db_world/rev_1670066795022662000.sql
Labels: DB, To Be Merged

#14056 fix(DB/Gossips): Show the correct gossip for Ysuria.
  data/sql/updates/pending_db_world/rev_1670154585863356700.sql
Labels: 50-59, ChromieCraft Generic, DB, To Be Merged

#14060 fix(DB/SAI): Correct target type for Guardian of the Eagle SAI
  data/sql/updates/pending_db_world/rev_1670179232683688400.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Class - Druid, 70

#14071 fix(DB/creature_template): Prevent Underground Well Credit Marker from attacking the player
  data/sql/updates/pending_db_world/rev_1670201379035894100.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 65-69

#14035 fix(DB/creature_onkill_reputation): Correct reputation gains in Blood Furnace Normal Mode
  data/sql/updates/pending_db_world/rev_1670029407665884500.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 61-64

#14038 fix(Core/Session): Fixed loading global account data and tutorials. S…
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/game/Server/WorldSession.cpp
  src/server/game/Server/WorldSession.h
  src/server/game/World/World.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Priority-Medium, file-cpp, Tested

#14072 fix(DB/creature_template): TBC Gas Clouds shouldn't be selectable
  data/sql/updates/pending_db_world/rev_1670203739787100600.sql
Labels: ChromieCraft Generic, DB, To Be Merged, Ready to be Reviewed

#13797 fix(Scripts/Temple of AhnQiraj): Anubisath Sentinels should emote af…
  data/sql/updates/pending_db_world/rev_1668338070824615600.sql
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/mob_anubisath_sentinel.cpp
Labels: DB, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#13175 fix(Scripts/Karazhan): Mark optional boss as completed when it dies
  src/server/scripts/EasternKingdoms/Karazhan/instance_karazhan.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#13169 refactor(Core/UnitAI): Update target selector
  src/server/game/AI/CoreAI/UnitAI.cpp
  src/server/game/AI/CoreAI/UnitAI.h
  src/server/game/Combat/ThreatMgr.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_baron_geddon.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_magmadar.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_shazzrah.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_sulfuron_harbinger.cpp
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_brutallus.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/boss_arlokk.cpp
  src/server/scripts/Events/brewfest.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/ruins_of_ahnqiraj.cpp
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/boss_amanitar.cpp
  src/server/scripts/Northrend/ChamberOfAspects/RubySanctum/boss_baltharus_the_warborn.cpp
  src/server/scripts/Northrend/ChamberOfAspects/RubySanctum/boss_halion.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_lord_jaraxxus.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_deathbringer_saurfang.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_festergut.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_lady_deathwhisper.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_lord_marrowgar.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_professor_putricide.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_rotface.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
  src/server/scripts/Northrend/Naxxramas/boss_grobbulus.cpp
  src/server/scripts/Northrend/Naxxramas/boss_kelthuzad.cpp
  src/server/scripts/Northrend/Naxxramas/boss_maexxna.cpp
  src/server/scripts/Northrend/Nexus/EyeOfEternity/boss_malygos.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/boss_keleseth.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#14032 fix(DB/creature): Remove redundant Tamed Sporebat (18201) spawns
  data/sql/updates/pending_db_world/rev_1670025626681890300.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 61-64

#14064 fix(DB/gameobject): Add more Raven Stones
  data/sql/updates/pending_db_world/rev_1670179928627188000.sql
Labels: DB, To Be Merged, Class - Druid, 70

#14030 fix(DB/creature_template): Increase detection_range of Underbog Lord
  data/sql/updates/pending_db_world/rev_1670023913457530500.sql
Labels: DB, To Be Merged, 61-64

#14029 fix(DB/quest_template): Remove rewards from quest There Is No Hope (10172)
  data/sql/updates/pending_db_world/rev_1670022799341664800.sql
Labels: DB, To Be Merged, 65-69

#14028 fix(DB/SAI): Marshfang Slicer (18131)
  data/sql/updates/pending_db_world/rev_1670021706396094700.sql
Labels: DB, To Be Merged, 61-64

#14027 fix(DB/quest_template_addon): A Visit With the Greatmother shouldn't be available without completing all prerequisites
  data/sql/updates/pending_db_world/rev_1670020658434932300.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 65-69

#13890 fix(DB/SAI): Unliving adds summoned by Auchenai Soulpriest/Monk/Vindi…
  data/sql/updates/pending_db_world/rev_1668948769786286200.sql
Labels: DB, To Be Merged, Instance - Dungeon - Outland, 61-64

#13964 fix(DB/Loot): Fenclaw Hide
  data/sql/updates/pending_db_world/rev_1669589041819811900.sql
Labels: DB, To Be Merged, 61-64

#13968 fix(DB/Quest): Our Boy Wants To Be A Skyguard Ranger prerequisite
  data/sql/updates/pending_db_world/rev_1669590774563293200.sql
Labels: DB, To Be Merged, 61-64

#13885 fix(DB/SAI): Crypto Raider should cast Enrage at <20% hp.
  data/sql/updates/pending_db_world/rev_1668934585006062000.sql
Labels: DB, To Be Merged, Instance - Dungeon - Outland, 61-64

#13961 fix(DB/SAI): Feralfen Hunter should cast Net
  data/sql/updates/pending_db_world/rev_1669577451671502900.sql
Labels: DB, To Be Merged, 61-64

#13891 fix(DB/SAI): Hellfire Imp SAI. Source: TrinityCore.
  data/sql/updates/pending_db_world/rev_1668949092326733600.sql
Labels: DB, To Be Merged, Instance - Dungeon - Outland, 61-64

#13880 fix(Core/SmartScripts): Implemented new target type: SMART_TARGET_SUM…
  data/sql/updates/pending_db_world/rev_1668887952245656900.sql
  src/server/game/AI/SmartScripts/SmartAI.cpp
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScript.h
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: ChromieCraft Generic, DB, CORE, To Be Merged, file-cpp

#13871 fix(DB/SAI): Fixed spam chat made by Coilfang Slavemaster and Coilfan…
  data/sql/updates/pending_db_world/rev_1668865865289462900.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: DB, CORE, To Be Merged, Instance - Dungeon - Outland, 61-64, file-cpp

#13868 fix(Scripts/Spells): Apple Trap should not activate without the playe…
  data/sql/updates/pending_db_world/rev_1668859642898150700.sql
  src/server/scripts/Events/brewfest.cpp
Labels: DB, CORE, To Be Merged, World Event, Script, file-cpp

#13865 fix(DB/creature): Auchenai Crypts pathing, formations and minor fixes
  data/sql/updates/pending_db_world/rev_1668785413299016700.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Instance - Dungeon - Outland, 61-64

#13895 fix(DB/Dungeons): Caverns of Time: Old Hilsbrad should be available u…
  data/sql/updates/pending_db_world/rev_1668951316420712600.sql
Labels: DB, To Be Merged, Instance - Dungeon - Outland, 61-64

#13782 fix(Raids/BlackwingLair): Razorgore the Untamed should not reset enco…
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_razorgore.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/boss_gahzranka.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/boss_hazzarah.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/boss_jindo.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/boss_renataki.cpp
Labels: CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#13956 fix(DB/SAI): Baristolth of the Shifting Sands Agent of Nozdormu restoration.
  data/sql/updates/pending_db_world/baristolth-badge.sql
Labels: DB, To Be Merged, 60, Tested

#13828 fix(DB/SmartAI): Convert smartai stealth detection buff to Aura
  data/sql/updates/pending_db_world/smartaitoaura.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#13779 fix(DB/Quests): 'one commendation signet' & 'ten commendation signets' quest descriptions
  data/sql/updates/pending_db_world/questtext.sql
Labels: ChromieCraft Generic, Waiting to be Tested, World Event

#13720 fix(Core/Loot): Fix quest items looting system
  src/server/game/Loot/LootMgr.cpp
  src/server/game/Loot/LootMgr.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#13946 fix(DB/Conditions): Pint-Sized Pink Pachyderm and Wolpertinger should…
  data/sql/updates/pending_db_world/rev_1669454417149643100.sql
  src/server/game/Conditions/ConditionMgr.cpp
  src/server/game/Entities/Object/Object.cpp
Labels: ChromieCraft Generic, DB, CORE, To Be Merged, file-cpp

#13894 fix(Scripts/BloodFurnace): Fixed Broggok not casting Poison Cloud.
  src/server/scripts/Outland/HellfireCitadel/BloodFurnace/boss_broggok.cpp
Labels: To Be Merged, Script, Instance - Dungeon - Outland, 61-64, file-cpp

#13944 fix(Core/Players): Fixed awarding kill credit while being on vehicles.
  src/server/game/Entities/Unit/Unit.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Priority-Medium, file-cpp

#14022 chore(DB/dungeon_access_requirements): Add comments
  data/sql/updates/pending_db_world/rev_1669822964263514400.sql
Labels: DB

#13136 fix(DB/game_event): Move Brewfest start dates.
  data/sql/updates/pending_db_world/brewfest-building.sql
Labels: DB, Waiting to be Tested

#13933 fix(DB/Quest): Supplying the Front quest reward
  data/sql/updates/pending_db_world/addquestreward.sql
Labels: 1-19, DB, To Be Merged

#13998 fix(DB/loot): Adjust AQ40 Idols and coffers
  data/sql/updates/pending_db_world/rev_1669742453928322100.sql
Labels: DB, To Be Merged, 60, Instance - Raid - Vanilla

#12563 fix(DB/playercreateinfo_action) Update world.playercreateinfo_action to line up with Wrath Classic.
  data/sql/updates/pending_db_world/wrathclassicplayercreateinfoaction.sql
Labels: DB, To Be Merged

#14118 fix(DB/SAI): Script all of the Dark Portal opening event creatures
  data/sql/updates/pending_db_world/rev_1670679892928774900.sql
Labels: DB

#14119 fix(DB/SAI): Stormwind Marshal
  data/sql/updates/pending_db_world/rev_1670720346716286300.sql
Labels: DB, To Be Merged

#14100 Revert "refactor(Core/Movement): Naming convention"
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Movement/MotionMaster.cpp
  src/server/game/Movement/MotionMaster.h
  src/server/game/Movement/MovementGenerator.h
  src/server/game/Movement/MovementGenerators/ConfusedMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/ConfusedMovementGenerator.h
  src/server/game/Movement/MovementGenerators/EscortMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/EscortMovementGenerator.h
  src/server/game/Movement/MovementGenerators/HomeMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/HomeMovementGenerator.h
  src/server/game/Movement/MovementGenerators/IdleMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/IdleMovementGenerator.h
  src/server/game/Movement/MovementGenerators/PointMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/PointMovementGenerator.h
  src/server/game/Movement/MovementGenerators/RandomMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/RandomMovementGenerator.h
  src/server/game/Movement/MovementGenerators/WaypointMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/WaypointMovementGenerator.h
  src/server/scripts/Northrend/FrozenHalls/HallsOfReflection/halls_of_reflection.cpp
Labels: CORE, Script, file-cpp

#14065 fix(DB/loot): `Black Pearl Ring` wrongly drops
  data/sql/updates/pending_db_world/remove-black-pearl-ring-in-red-sack.sql
Labels: DB, To Be Merged, Loot

#14044 fix(Core/Movement): Falling/Jumping/Knockback effects should not make…
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
Labels: ChromieCraft Generic, Priority-High, CORE, To Be Merged, Movement/MMaps, file-cpp

#13982 fix(DB/creature): pr13832 delete the wrong table
  data/sql/updates/pending_db_world/rev_1669689837407665196.sql
Labels: DB, To Be Merged

#13935 fix(DB/QuestGreeting): Krelding Ungor missing locale
  data/sql/updates/pending_db_world/rev_1669303320334648300.sql
Labels: DB, To Be Merged

#13888 fix(DB/Creatures): Added waypoint script to Black Stalker.
  data/sql/updates/pending_db_world/rev_1668944605510491900.sql
Labels: DB, To Be Merged, Instance - Dungeon - Outland, 61-64

#13887 fix(Scripts/Underbog): Moved Gha'zan script to C++ file.
  data/sql/updates/pending_db_world/rev_1668941470853125700.sql
  src/server/scripts/Outland/CoilfangReservoir/underbog/boss_ghazan.cpp
  src/server/scripts/Outland/CoilfangReservoir/underbog/instance_the_underbog.cpp
  src/server/scripts/Outland/CoilfangReservoir/underbog/the_underbog.h
  src/server/scripts/Outland/outland_script_loader.cpp
Labels: DB, CORE, To Be Merged, Script, Instance - Dungeon - Outland, 61-64, file-cpp

#13035 feat(Core): EnableLowLevelRegenBoost config option
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/Entities/Player/Player.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
Labels: 1-19, CORE, To Be Merged, file-cpp

#14121 fix(build): build-db
  .github/workflows/build_dbimport.yml
Labels: Workflow, To Be Merged, Ready to be Reviewed

#14125 fix(Core/Dungeons): Fixed displaying custom requirement texts from `d…
  src/server/game/Entities/Player/PlayerStorage.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp

#13872 fix(Scripts/Instances): Fixed text during "Opening the Dark Portal" i…
  data/sql/updates/pending_db_world/rev_1668869079028371900.sql
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/the_black_morass.cpp
Labels: DB, To Be Merged, Script, Instance - Dungeon - Outland, 65-69, file-cpp

#13703 fix(DB/SmartScript) Quest - Cleansing the Waters missing RP
  data/sql/updates/pending_db_world/rev_1667634141238677500.sql
Labels: DB, To Be Merged, 61-64

#13963 fix(Core/Scripts): Bloodscale Enchantress/Rajis Fyashe freezing circle
  data/sql/updates/pending_db_world/rev_1669583140592514600.sql
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/pit_of_saron.cpp
  src/server/scripts/Spells/spell_generic.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, 61-64, file-cpp

#14134 fix(Core/Unit): properly reset displayIds when having a shapeshift au…
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, To Be Merged, file-cpp

#14110 fix(Core/Spells): Fixed auras with `AURA_STATE_HEALTH_ABOVE_75_PERCEN…
  src/server/game/Entities/Unit/Unit.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp

#14107 fix(Scripts/Spells): Fixed level requirements for Blade Ward and Bloo…
  data/sql/updates/pending_db_world/rev_1670666174473143000.sql
  src/server/scripts/Spells/spell_generic.cpp
Labels: ChromieCraft Generic, DB, To Be Merged, Script, file-cpp

#14126 fix(DB/gameobject): Add Mailbox in Nighthaven.
  data/sql/updates/pending_db_world/nighthaven-mailbox.sql
Labels: DB, To Be Merged

#14197 fix(DB/loot): Improve Tirisfal Glade unique drops
  data/sql/updates/pending_db_world/rev_1670828923247478600.sql
Labels: DB

#14213 fix(DB/Creature): Incorrect jewelcrafting trainer
  data/sql/updates/pending_db_world/db-fix-npc_trainer.sql
Labels: DB, To Be Merged

#14234 fix(DB/creature_loot_template): Separate Normal and Heroic loot from early TBC dungeons
  data/sql/updates/pending_db_world/rev_1671115069241434700.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Loot, 61-64

#14233 fix(DB/Smartscript): Worms should not despawn instantly
  data/sql/updates/pending_db_world/wormbenotgone.sql
Labels: DB, To Be Merged, Tested

#14232 fix(DB/loot): Burning Legion Gate Key rate fix (Doorway to the Abyss)
  data/sql/updates/pending_db_world/rev_1671085315817265400.sql
Labels: DB, To Be Merged, Loot, 61-64

#14202 fix(DB/quest_template_locale): Add some ruRU localization to multiple quests.
  data/sql/updates/pending_db_world/ruru-quest.sql
Labels: DB, Ready to be Reviewed, Tested

#14246 fix(DB/creature_onkill_rep): Add AQ40 missing onkill reputation gains
  data/sql/updates/pending_db_world/rev_1671225346039183900.sql
Labels: DB, To Be Merged, 60

#14261 chore(Core/SAI): Align SAI headers with TrinityCore
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: CORE, To Be Merged, file-cpp

#14268 fix(DB/loot): Remove Fel Spirit (22454) loot
  data/sql/updates/pending_db_world/rev_1671323007498257700.sql
Labels: DB, To Be Merged, 61-64

#13046 fix(Core): Correct Quest Details Display at Max Level
  src/server/game/Entities/Creature/GossipDef.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, To Be Merged, file-cpp

#14010 fix(DB/loot): Improve Mazthoril recipe drop rates
  data/sql/updates/pending_db_world/rev_1669870365832502100.sql
Labels: 50-59, DB, To Be Merged, Loot

#14302 fix(DB/creature): Corrected Spawn Time Terrorclaw
  data/sql/updates/pending_db_world/terrorclaw.sql
Labels: DB, To Be Merged, Tested

#14289 fix(DB/SAI): Workaround bad model for Void Spawner L
  data/sql/updates/pending_db_world/rev_1671397695840437500.sql
Labels: DB, To Be Merged, 61-64

#14082 fix(DB/creature/gameobject): Add more objects and creatures for 'Cipher of Damnation' questline
  data/sql/updates/pending_db_world/rev_1670274473115581800.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 70

#14195 fix(DB/loot): Improve Mulgore zone unique items
  data/sql/updates/pending_db_world/rev_1670828439307255000.sql
Labels: 1-19, DB, To Be Merged, Loot

#14221 fix(DB/gameobject): Correct state for 5 herbalism nodes
  data/sql/updates/pending_db_world/rev_1671056695826995700.sql
Labels: DB, To Be Merged, 61-64

#14235 fix(DB/loot): Arvuu's Orb quest start item drop rate fix
  data/sql/updates/pending_db_world/rev_1671137097725897600.sql
Labels: DB, To Be Merged, Loot, 61-64

#14288 fix(DB/creature): Port rare spawns from Mangos
  data/sql/updates/pending_db_world/rev_1671393422731527600.sql
Labels: DB, To Be Merged, 61-64

#14305 fix(DB/QuestTemplateAddon): Membership Benefits should not have quest…
  data/sql/updates/pending_db_world/consortmonthly.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#14303 fix(DB/FactionChangeQuests): Return to Thrallmar and Go To The Front …
  data/sql/updates/pending_db_world/returntothrallmar.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Tested

#14281 fix(DB/smartscript): Hellfire Watcher should cast Renew and Heal on t…
  data/sql/updates/pending_db_world/watcherrenew.sql
Labels: DB, Ready to be Reviewed, 61-64, Tested

#14283 fix(DB/CreatureOnKillReputation): Lykul Stinger rep should stop at friendly
  data/sql/updates/pending_db_world/lykulstinger.sql
Labels: DB, To Be Merged, Tested

#14321 fix(db/npc_vendor): Improve two Alch Recipe Timers (Super Mana Pot Recipe, Frost Power Potion Recipe)
  data/sql/updates/pending_db_world/rev_1671645973738924500.sql
Labels: Profession, DB, To Be Merged, 61-64, 65-69, Tested

#14319 fix(db/npc_vendor): Improve Xerintha Ravenoak vendor timers
  data/sql/updates/pending_db_world/rev_1671639583415891400.sql
Labels: Profession, DB, To Be Merged, 61-64, 65-69, Tested

#14238 fix(DB/gameobject): Add more Ravenous Flayer Eggs (184684)
  data/sql/updates/pending_db_world/rev_1671209376089138300.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 70

#14236 fix(db/loot): Hellfire quest loot improvements
  data/sql/updates/pending_db_world/rev_1671138587360304900.sql
Labels: DB, To Be Merged, Loot, 61-64

#14239 fix(DB/SAI) Morph Honor Hold Scout Archery Target into correct modelid on respawn
  data/sql/updates/pending_db_world/rev_1671210972250683700.sql
Labels: DB, To Be Merged, 61-64

#14242 fix(DB/SAI): Correct Vagrant 19283 target_type
  data/sql/updates/pending_db_world/rev_1671217721798848700.sql
Labels: DB, To Be Merged, 61-64

#14243 fix(DB/Loot): Jaggal Clam
  data/sql/updates/pending_db_world/rev_1671218467178621900.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 61-64

#14245 fix(DB/creature_onkill_reputation): Fiendish Hound
  data/sql/updates/pending_db_world/rev_1671221785210348000.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 61-64

#14275 fix(Core/Misc): Consider `/dance` as an emote state.
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Handlers/ChatHandler.cpp
  src/server/game/Handlers/MovementHandler.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp

#14285 fix(DB/gameobject): Delete bad Nightmare Vine node
  data/sql/updates/pending_db_world/rev_1671391096303779900.sql
Labels: DB, To Be Merged, 65-69

#14286 fix(DB/creature): Fix Dreadfang Widow bad Z coord
  data/sql/updates/pending_db_world/rev_1671392360824482200.sql
Labels: DB, To Be Merged, 61-64

#14287 fix(DB/creature_template): Add trigger flag to Credit Marker: Water
  data/sql/updates/pending_db_world/rev_1671392697767302400.sql
Labels: DB, To Be Merged, 65-69

#14252 fix(Core/Spells): Cursed Cauldron gobs despawn after 5 seconds.
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, 61-64, file-cpp

#14320 fix(DB/gameobject): Remove Chests from TBC dungeons
  data/sql/updates/pending_db_world/rev_1671637638291608900.sql
Labels: DB, To Be Merged, 70

#14359 feat(Scripts/Commands): Output SpellCastResult if the spell fails to …
  data/sql/updates/pending_db_world/rev_1671880843744472600.sql
  src/server/game/Miscellaneous/Language.h
  src/server/scripts/Commands/cs_cast.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#14360 feat(Core/Scripting): Pass SpellInfo through the ModifyPeriodicDamage…
  src/server/game/Scripting/ScriptDefines/UnitScript.cpp
  src/server/game/Scripting/ScriptMgr.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: CORE, To Be Merged, file-cpp

#14366 fix(DB/creature_addon): Attach auras to Winter Revelers to correct models.
  data/sql/updates/pending_db_world/winter-reveler.sql
Labels: DB, Ready to be Reviewed, Tested

#14255 fix(Core/Pets): Taunt should work on pets.
  src/server/game/AI/CoreAI/PetAI.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp

#14251 fix(DB/Creatures): Fixed Frozen Spheres not floating in the air in he…
  data/sql/updates/pending_db_world/rev_1671267139648095100.sql
Labels: DB, Priority-High, To Be Merged, Instance - Raid - Northrend, 80

#14116 fix(Core/LFG): Fixed showing dungeon access requirements only for lea…
  src/server/game/DungeonFinding/LFGMgr.cpp
  src/server/game/DungeonFinding/LFGMgr.h
  src/server/game/DungeonFinding/LFGScripts.cpp
  src/server/game/Handlers/LFGHandler.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp, Tested

#14336 fix(DB/SAI): Aggonis In Combat spells
  data/sql/updates/pending_db_world/rev_1671751333190578800.sql
Labels: DB, To Be Merged, 61-64

#14272 fix(Core/Transports): Added Arrival bell sound for boats.
  data/sql/updates/pending_db_world/rev_1671361010497519200.sql
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
Labels: ChromieCraft Generic, DB, CORE, To Be Merged, file-cpp, Tested

#14329 fix(DB/loot): Correct Primal Nether drop chance from normal dungeons
  data/sql/updates/pending_db_world/rev_1671668610731654600.sql
Labels: DB, To Be Merged, 65-69

#14335 fix(DB/Creature): Rebuild Bonechewer Ruins
  data/sql/updates/pending_db_world/rev_1671717341416145500.sql
Labels: DB, Ready to be Reviewed, 61-64, Tested

#14267 fix(DB/creature): Port some Outland Elementals from Mangos
  data/sql/updates/pending_db_world/rev_1671313957796149100.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 61-64

#14354 fix(Scripts/Zangarmarsh): Naturalist Bite shouldn't desummon after casting Mark of Bite
  src/server/scripts/Outland/zone_zangarmarsh.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, Instance - Dungeon - Outland, 61-64, file-cpp

#14328 fix(DB/loot): Blackwind Sabercat
  data/sql/updates/pending_db_world/rev_1671666534424139900.sql
Labels: DB, Ready to be Reviewed, 70, Tested

#14369 fix(MACOS/CI): configure os
  apps/installer/includes/os_configs/osx.sh
Labels: Bash, run-build

#14085 fix(Scripts/GO) Druid‘s fly quest. The item 32364 can't get.
  src/server/scripts/World/go_scripts.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#13342 fix(DB/Scripts): Npc Tonk Control Console
  data/sql/updates/pending_db_world/rev_1665237212810221500.sql
Labels: DB, To Be Merged

#13509 fix(Core/Formations): Implemented new creature formation flag: GROUP_AI_FLAG_ACQUIRE_NEW_TARGET_ON_EVADE.
  data/sql/updates/pending_db_world/rev_1668255481743871500.sql
  src/server/game/Entities/Creature/CreatureGroups.cpp
  src/server/game/Entities/Creature/CreatureGroups.h
  src/server/game/Entities/Unit/Unit.cpp
Labels: ChromieCraft Generic, DB, CORE, To Be Merged, file-cpp

#14368 fix(Core/AI): Fix target selectors logic when accounting for tanks
  src/server/game/AI/CoreAI/UnitAI.h
Labels: Priority-High, CORE, Ready to be Reviewed, file-cpp

#14276 fix(Core/Totem): Implement casting delay for the Fire Totem used by c…
  src/server/game/Entities/Totem/Totem.cpp
  src/server/game/Entities/Totem/Totem.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#14273 fix(Core/Loot): Disenchanted, milled or prospected items should be se…
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Handlers/LootHandler.cpp
  src/server/game/Loot/LootMgr.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Ready to be Reviewed, file-cpp

#14248 fix(DB/gameobject): Add rope lines in Scryer's Tier library
  data/sql/updates/pending_db_world/rev_1671239130922024100.sql
Labels: DB, To Be Merged, 61-64

#14356 fix(DB/creature): Properly handle Sunspring Villager death state
  data/sql/updates/pending_db_world/rev_1671837086326258700.sql
Labels: DB, To Be Merged, 61-64

#13674 fix(DB/quest): fix quest 456 translation
  data/sql/updates/pending_db_world/quest_456_translate.sql
Labels: Translation, DB, To Be Merged

#14390 fix(Core/Handlers): Crash
  src/server/game/Handlers/MiscHandler.cpp
Labels: CORE, Priority-Critical, file-cpp

#14389 Add (core): SendTeleportPacket helper
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, file-cpp

#14388 feat(Core/Player): delete character cache in Player::DeleteFromDB()
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Handlers/CharacterHandler.cpp
Labels: CORE, file-cpp

#13846 fix(DB/creature_equip_template): Remove Mathrengyl Bearwalker's Left Right Claw.
  data/sql/updates/pending_db_world/bearwalker.sql
Labels: 1-19, DB, To Be Merged, Tested

#14039 fix(Core/Config): Set default corpse decay for normal creatures to 5 …
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/World/World.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp, Tested

#14106 fix(DB/Gossip): Add gossip text, sub-menu, and correct condition for Raene Wolfrunner.
  data/sql/updates/pending_db_world/dartols-rod.sql
Labels: 20-29, DB, To Be Merged

#14240 fix(DB/SAI): Corporal Ironridge
  data/sql/updates/pending_db_world/rev_1671211355184764600.sql
Labels: DB, To Be Merged, 61-64

#14337 fix(DB/creature): Change bad id1 from Veil Skith
  data/sql/updates/pending_db_world/rev_1671752272097509400.sql
Labels: DB, To Be Merged, 61-64

#14362 fix(DB/smart_scripts): Fix Tapoke "Slim" Jahn's event_flags
  data/sql/updates/pending_db_world/MissingDiplomat
Labels: Quest, 30-39, DB, To Be Merged

#14370 fix(DB/Loot): Remove `Primed Mold Key` from `Coilfang Emissary`
  data/sql/updates/pending_db_world/remove-mold-key.sql
Labels: DB, To Be Merged, Loot, 61-64, 65-69

#14376 fix(DB/skinloot): Make Qiraji Scarab not skinnable
  data/sql/updates/pending_db_world/scarab.sql
Labels: DB, To Be Merged

#14387 feat(Core): move achievement manager and criteria progress getters to public
  src/server/game/Achievements/AchievementMgr.h
  src/server/game/Entities/Player/Player.h
Labels: CORE, file-cpp

#14411 feat(Core/Group): add GetGroupType()
  src/server/game/Groups/Group.cpp
  src/server/game/Groups/Group.h
Labels: CORE, file-cpp

#14413 fix(DB/SmartScript): Boulderfirst Mage / Warrior smartscript
  data/sql/updates/pending_db_world/bouldermagic.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Tested

#14410 fix(DB/SmartScript): Fey Drake should blink behind target
  data/sql/updates/pending_db_world/blinkeythefaydrake.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Tested

#14406 fix(DB/Quest): 'He Will Walk The Earth' Should have quest rewards
  data/sql/updates/pending_db_world/hewillwalktheearth.sql
Labels: DB, To Be Merged, 61-64

#14408 fix(DB/Creature): Remove Tamed ravager spawns
  data/sql/updates/pending_db_world/tamedravagerbegone.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Tested

#14404 fix(DB/Loot): Fen Strider Tentacle should only drop when on quest
  data/sql/updates/pending_db_world/fenstrider.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#14418 fix(db/creature_template): Improve Kil'sorrow Coin
  data/sql/updates/pending_db_world/rev_1672338781776631800.sql
Labels: DB, To Be Merged, 61-64, 65-69

#14409 fix(DB/Creature): Remove Neophyte Guardian spawn
  data/sql/updates/pending_db_world/neophyteguardianbegone.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Tested

#14394 feat(Core/scripts): expose Halaa slider value and owner setter
  src/server/game/OutdoorPvP/OutdoorPvP.h
  src/server/scripts/OutdoorPvP/OutdoorPvPNA.h
Labels: CORE, To Be Merged, Script, file-cpp

#14379 fix(DB/creature): Remove Bonelashers inside of a wall.
  data/sql/updates/pending_db_world/bonelasher-oob.sql
Labels: DB, To Be Merged
