Repository azerothcore/azerothcore-wotlk, pull requests merged in 2022-05, with the labels that each got.

#11242 chore(CI): add macos-12
  .github/SECURITY.md
  .github/workflows/macos_build.yml
  deps/utf8cpp/utf8/checked.h
  deps/utf8cpp/utf8/core.h
  deps/utf8cpp/utf8/cpp11.h
  deps/utf8cpp/utf8/cpp17.h
  deps/utf8cpp/utf8/unchecked.h
  src/cmake/googletest-download.cmake
  src/server/shared/DataStores/DBCStorageIterator.h
Labels: Workflow, CORE, Ready to be Reviewed, run-build, file-cpp

#11585 fix(Core/Movement): Improved pet's follow movement.
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Movement/MMaps, file-cpp

#11575 Fix(DB/SmartScript): Prince Thunderaan corpse should despawn after 1 hour.
  data/sql/updates/pending_db_world/rev_1651251117611496925.sql
Labels: DB, To Be Merged

#11592 Core: Crashfix.
  src/server/game/Entities/Creature/TemporarySummon.cpp
Labels: To Be Merged, Priority-Critical

#11552 fix (core): water level and ground level correction
  src/server/game/Maps/Map.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#11589 fix(DB/Creatures): Added `CREATURE_FLAG_EXTRA_IGNORE_PATHFINDING` fla…
  data/sql/updates/pending_db_world/rev_1651348454142593100.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#11597 fix(Scripts/TempleOfAhnQiraj): Correct Battleguard Sartura spell ids
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_sartura.cpp
Labels: To Be Merged

#11580 fix(Scripts/BlackwingLair): Razorgore's Orb of Domination should not …
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/instance_blackwing_lair.cpp
Labels: CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#11458 fix(Script/ZulGurub) - High Priestess Jeklik improvements
  data/sql/updates/pending_db_world/rev_1650481776270749700.sql
  src/server/scripts/EasternKingdoms/ZulGurub/boss_jeklik.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#11509 fix(Core/Duel): Player during duel countdown is not a valid attack ta…
  src/server/game/Entities/Unit/Unit.cpp
Labels: PvP, ChromieCraft Generic, CORE, To Be Merged, file-cpp

#11603 fix(Scripts/BlackwingLair): Prevent Chromaggus cage from locking up
  data/sql/updates/pending_db_world/rev_1651542266671948700.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_chromaggus.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/instance_blackwing_lair.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#11595 fix(Scripts/BlackwingLair): Prevent Chromaggus from hostilizing playe…
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_chromaggus.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#11596 fix(Scripts/TempleOfAhnQiraj): Battleground Sartura should not be ski…
  data/sql/updates/pending_db_world/rev_1651431887064573700.sql
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/instance_temple_of_ahnqiraj.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/temple_of_ahnqiraj.h
Labels: DB, CORE, Waiting to be Tested, Script, file-cpp

#11511 Fix(DB/Creature): Set correct faction flag for Aggi Rumplestomp.
  data/sql/updates/pending_db_world/rev_1650793025980507979.sql
Labels: DB, To Be Merged

#11619 Fix(DB/SAI): Falconwing Square scripted NPCs
  data/sql/updates/pending_db_world/rev_1651687148755567176.sql
Labels: 1-19, DB

#11628 Fix(DB/quest_greeting) gender check
  data/sql/updates/pending_db_world/rev_1651708009830546980.sql
Labels: DB

#11616 fix(CORE/Script): Quest "A Pawn on the Eternal Board" can't finish and hung up the worldserver.exe
  src/server/scripts/Kalimdor/zone_silithus.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#11622 Fix (DB/Gossip/Conditions) Captured Arko'narin
  data/sql/updates/pending_db_world/rev_1651694260487289884.sql
Labels: 50-59, DB, Waiting to be Tested

#11041 fix(Core/Commands): Fix removing item from player account
  src/server/scripts/Commands/cs_misc.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#11246 Add Hooks On creature/game object save to db
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Scripting/ScriptDefines/AllCreatureScript.cpp
  src/server/game/Scripting/ScriptDefines/AllGameObjectScript.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, Ready to be Reviewed, file-cpp

#11546 refactor(Core/Spells): make DoCast functions use SpellCastResult
  src/server/game/AI/CoreAI/UnitAI.cpp
  src/server/game/AI/CoreAI/UnitAI.h
Labels: CORE, Ready to be Reviewed, file-cpp

#11649 fix(Core/Creature): Move hardcoded text/gossips to DB - boss_general_vezax
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_general_vezax.cpp
Labels: CORE, Script, file-cpp

#11638 fix(DB/SAI): Regression with Gravis Slipknot
  data/sql/updates/pending_db_world/rev_1651749295988575900.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#11640 fix(DB/Loot): Removed Cache of Zanzil from Grand Foreman Puzik Gallywix
  data/sql/updates/pending_db_world/rev_1651752894543472300.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed

#11654 Fix(DB/SAI/Quest) Rhapsody's Kalimdor Kocktail quest script
  data/sql/updates/pending_db_world/rev_1651862669936324646.sql
Labels: 30-39, DB

#11657 Fix (DB/SAI) Valkyrion Harpoon Gun
  data/sql/updates/pending_db_world/rev_1651874393098969660.sql
Labels: DB, 75-79

#11659 fix(Core): Crashfix.
  src/server/game/Entities/Creature/TemporarySummon.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Priority-Critical, file-cpp

#11625 Fix issue skadi the ruthless emote
  src/server/scripts/Northrend/UtgardeKeep/UtgardePinnacle/boss_skadi.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#11669 fix(DB/Creature): Remove Orphan Matron Aria duplicate
  data/sql/updates/pending_db_world/rev_1651933327467686500.sql
Labels: DB, Waiting to be Tested

#11662 fix(DB/Spells): Fixed phasing after quest "A Spark of Hope".
  data/sql/updates/pending_db_world/rev_1651916297606648500.sql
Labels: Quest, DB, Priority-High, To Be Merged, 75-79

#11661 fix(DB/Quest): Krolmir, Hammer of Storms.
  data/sql/updates/pending_db_world/rev_1651915141793572500.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: Quest, DB, Priority-High, CORE, Waiting to be Tested, 75-79, file-cpp

#11674 Removed hardcoded emotes from Ahune and moved them to DB
  data/sql/updates/pending_db_world/rev_1651953413104023300.sql
  src/server/scripts/Outland/CoilfangReservoir/SlavePens/boss_ahune.cpp
Labels: DB, CORE, Script, file-cpp

#11672 fix(Core/Spells: Paladin's Judgements can be applied on different tar…
  src/server/game/Spells/SpellInfo.cpp
Labels: CORE, To Be Merged, file-cpp

#11673 fix(Core/ItemHandler): fix selling items over gold limit
  src/server/game/Handlers/ItemHandler.cpp
Labels: CORE, To Be Merged, file-cpp

#11635 Set molten core exit teleport location to in front of Lothos Riftwalker
  data/sql/updates/pending_db_world/rev_1651742335531289900.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#11565 fix(Core/AQ): Rewrite bug trio fight
  data/sql/updates/pending_db_world/rev_1650950917743133900.sql
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_bug_trio.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/instance_temple_of_ahnqiraj.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/temple_of_ahnqiraj.h
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, 60, Script, Instance - Raid - Vanilla, file-cpp

#11574 feat(Tools/MMAPs): Output the time spent in a human readable format
  src/tools/mmaps_generator/PathGenerator.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#11676 fix(DB/Gossip): Korfax missing text
  data/sql/updates/pending_db_world/rev_1651987971178548000.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#11686 fix(DB/Item): Wrynn's Decree page text
  data/sql/updates/pending_db_world/rev_1652024144311960800.sql
Labels: DB, To Be Merged

#11688 fix(DB/Spells): 54476 triggerspell
  data/sql/updates/pending_db_world/rev_1652024996795453900.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#11694 fix(Core/Creature): Move hardcoded text/gossips to DB and minor fixes - boss_razorscale
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_razorscale.cpp
Labels: CORE, Script, file-cpp

#11665 fix(Core/Creature): Move hardcoded text/gossips to DB and minor fixes - boss_freya
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_freya.cpp
Labels: CORE, Script, file-cpp

#11588 Core/Auras: INVISIBILITY_UNK10 also applies the flag PLAYER_FIELD_BYTE…
  src/server/game/Entities/Object/Object.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#11652 fix(Core/Creature): Move hardcoded text/gossips to DB - boss_xt002
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_xt002.cpp
Labels: CORE, Script, file-cpp

#11655 fix(Core/Creature): Move hardcoded text/gossips to DB - boss_ignis
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_ignis.cpp
Labels: CORE, Script, file-cpp

#11644 fix(Core/Spells): Allow spells with SPELL_ATTR0_CU_REQ_CASTER_BEHIND_TARGET attribute to go through deterrence.
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, file-cpp

#11651 fix(Scripts/Quest): improved You'll Need a Gryphon
  data/sql/updates/pending_db_world/rev_1651846511304338500.sql
  src/server/scripts/Northrend/zone_icecrown.cpp
Labels: DB, CORE, Waiting to be Tested, Script, file-cpp

#11598 Fix(DB/SAI): Zul'Gurub trash monsters should cast their abilities
  data/sql/updates/pending_db_world/rev_1651498473518668825.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#11586 fix(Core/Movement: Rewritten fleeing movement generator. Source: TrinityCore.
  src/server/game/Movement/MovementGenerators/FleeingMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/FleeingMovementGenerator.h
Labels: ChromieCraft Generic, CORE, To Be Merged, Movement/MMaps, file-cpp

#11581 fix(DB/Quests): Quest "JoJ" should be available only to Draenei plala…
  data/sql/updates/pending_db_world/rev_1651313832422022500.sql
Labels: Quest, DB, To Be Merged, Class - Paladin

#11402 feat(Tools/Mapextractor): Implemented liquid object detection
  src/common/Collision/Maps/TileAssembler.cpp
  src/common/Collision/Models/WorldModel.cpp
  src/common/Collision/VMapDefinitions.h
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
  src/tools/map_extractor/System.cpp
  src/tools/map_extractor/adt.h
  src/tools/mmaps_generator/TerrainBuilder.cpp
  src/tools/vmap4_extractor/adtfile.h
  src/tools/vmap4_extractor/vmapexport.cpp
  src/tools/vmap4_extractor/vmapexport.h
  src/tools/vmap4_extractor/wmo.cpp
  src/tools/vmap4_extractor/wmo.h
Labels: CORE, Ready to be Reviewed, file-cpp, To Be Merged - Later, BREAKING CHANGE

#11605 feat(Core/MMAPs): Reduce chances of breaking tile connections
  src/tools/mmaps_generator/MapBuilder.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Movement/MMaps, Mmaps/Vmaps, file-cpp, To Be Merged - Later, Tested

#11658 fix(Core/Creature): Move hardcoded text/gossips to DB - boss_auriaya
  data/sql/updates/pending_db_world/rev_1651872810987186100.sql
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_auriaya.cpp
Labels: DB, CORE, Script, file-cpp

#11591 fix(Core/MMAPs): Fix small steps being considered as NAV_AREA_GROUND_STEEP
  src/common/Collision/Maps/MapDefines.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp, To Be Merged - Later, BREAKING CHANGE

#11699 fix(Script/Freya): Change the way Elders are despawned
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_freya.cpp
Labels: CORE, Script, file-cpp

#11703 chore: update AC data version
  apps/installer/includes/functions.sh
Labels: Bash

#11693 Fix(scripts/spells) charge Auto attack
  src/server/game/Movement/MotionMaster.cpp
  src/server/game/Movement/MotionMaster.h
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, file-cpp

#11701 fix(Scripts/Outland): boss_kaelthas
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#11709 chore: update AC data version
  apps/installer/includes/functions.sh
Labels: Ready to be Reviewed, Bash

#11671 fix(Scripts/BlackwingLair): Warrior Class Call should not restore to…
  data/sql/updates/pending_db_world/rev_1651936089141074200.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_nefarian.cpp
Labels: Class - Warrior, DB, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#11678 fix(Core/Spells): Everlasting Affliction should be considered as shad…
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, Class - Warlock, 60, Instance - Raid - Vanilla, file-cpp

#11593 fix(DB/SAI): Rallying Cry of the Dragonslayer should happen…
  data/sql/updates/pending_db_world/rev_1651406128820553524.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#11696 fix(DB/translation): some Chinese translation
  data/sql/updates/pending_db_world/zhCN.sql
Labels: DB

#11664 fix(DB/Quest): Exodar version of "Yorus Barleybrew" quest should open…
  data/sql/updates/pending_db_world/rev_1651919897859231100.sql
Labels: Class - Warrior, Quest, 20-29, DB, To Be Merged

#11723 fix (core): Build Fix
  src/server/game/Spells/Spell.cpp
Labels: CORE, file-cpp

#11726 fix (core\crash): fix client crash dk starter
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter1.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, Priority-Critical, Class - Death Knight, file-cpp

#11730 fix (core): Prevent Forced UpdateObjectVisibility Before in World
  src/server/game/Entities/Player/PlayerUpdates.cpp
Labels: CORE, To Be Merged, file-cpp

#11731 add (core): Additional Helper
  src/server/game/Handlers/MovementHandler.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#11727 feat(tools/mmaps): isContinentMap
  src/tools/mmaps_generator/MapBuilder.cpp
  src/tools/mmaps_generator/MapBuilder.h
Labels: CORE, To Be Merged, file-cpp

#11770 fix(Scripts/World): fix nullptr crash
  src/server/scripts/World/npc_stave_of_ancients.cpp
Labels: CORE, Script, file-cpp

#11780 fix(DB/quest): quest should can see NPC
  data/sql/updates/pending_db_world/rev_1652695614137243222.sql
Labels: DB, To Be Merged

#11742 fix(DB/Quest): Fixed quest "Krolmir, Hammer of Storms".
  data/sql/updates/pending_db_world/rev_1652543986104470300.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: Quest, DB, CORE, To Be Merged, 75-79, file-cpp

#11786 Fix(Script/SAI/Misc) Eversong Partygoers
  data/sql/updates/pending_db_world/rev_1652734139275905167.sql
  src/server/scripts/EasternKingdoms/zone_eversong_woods.cpp
Labels: 1-19, DB, CORE, Script, file-cpp

#11741 fix(Core): Crashfix.
  src/server/game/Entities/Creature/TemporarySummon.cpp
Labels: CORE, To Be Merged, Priority-Critical, file-cpp

#11740 fix(Core): Crashfix.
  src/server/scripts/Northrend/Ulduar/Ulduar/ulduar.cpp
Labels: CORE, To Be Merged, Priority-Critical, file-cpp

#11771 fix(Core/Spells): Priest with Spirit of Redemption should be immediat…
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, To Be Merged, Class - Priest, file-cpp

#11756 fix(DB/Creature): Goblin Land Mine playing Hakkar voiceline
  data/sql/updates/pending_db_world/rev_1652603039648242300.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#11734 fix(DB/Quest): Coward Delivery... Under 30 Minutes or it's Free
  data/sql/updates/pending_db_world/rev_1652480165040490600.sql
Labels: DB, To Be Merged

#11792 fix(DB): Earthcaller gossips
  data/sql/updates/pending_db_world/rev_1652793617224967000.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#11754 fix(DB/Spells): Fixed Shaman's Clearcasting proc.
  data/sql/updates/pending_db_world/rev_1652601366513566300.sql
Labels: DB, To Be Merged, Class - Shaman

#11757 fix(Core/Spells): The Earthshatterer 8/9 set bonus should be removed …
  src/server/game/Spells/Auras/SpellAuras.cpp
Labels: CORE, To Be Merged, Class - Shaman, file-cpp

#11755 fix(DB/Quest): Quest "Relic of the Earthen Ring" should be reset on f…
  data/sql/updates/pending_db_world/rev_1652601801022021300.sql
Labels: Quest, DB, To Be Merged, Class - Shaman

#11677 fix(Core/Spell): Enslaved Demon does not auto-attack/auto-cast
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, To Be Merged, file-cpp

#11761 fix(Core/Spells): Windfury, Flametongue, Healing Stream, Cleansing an…
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, Class - Shaman, file-cpp

#11601 fix (core/logging/conf): Fix Logging for Modules
  src/common/Logging/AppenderConsole.cpp
  src/common/Logging/Log.cpp
  src/common/Logging/Log.h
  src/common/Logging/LogCommon.h
  src/server/authserver/Main.cpp
  src/server/worldserver/Main.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged, Priority-Trivial, file-cpp

#11794 fix(Script/Ulduar): Freya spawning multiple chests
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_freya.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#11753 feat(common/Collision): missing fclose
  src/common/Collision/Maps/TileAssembler.cpp
  src/common/Collision/Models/GameObjectModel.cpp
Labels: CORE, To Be Merged, file-cpp

#11711 fix(Script/Ulduar): Thorim - misc fixes & hardcode removal
  data/sql/updates/pending_db_world/rev_1652175741735714800.sql
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_thorim.cpp
Labels: DB, CORE, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#11725 fix(Script/Ulduar): Mimiron - remove hardcode text and fix Computer broadcast.
  data/sql/updates/pending_db_world/rev_1652348913017613700.sql
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_mimiron.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp

#11783 fix(DB/Creature): Horde Scout - console SmartScript::ProcessAction errors
  data/sql/updates/pending_db_world/rev_1652715563226780200.sql
Labels: DB, To Be Merged

#11790 fix(DB/Creature): BRD Detention Block - Link mobs in group pack
  data/sql/updates/pending_db_world/rev_1652731923594016000.sql
Labels: DB, To Be Merged

#11795 fix(Script/Quest): Conversing With the Depths adjustments & zone_dragonblight move to db from hardcode
  src/server/scripts/Northrend/zone_dragonblight.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#11813 fix(Script/Quest): A Suitable Disguise - Move zone_dalaran to DB from hardcode
  src/server/scripts/Northrend/zone_dalaran.cpp
Labels: CORE, Script, file-cpp

#11681 feat(Core/Movement): Allow waypoints to use 0 as valid facing value
  data/sql/updates/pending_db_world/rev_1652007586211116800.sql
  src/server/game/AI/SmartScripts/SmartAI.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
  src/server/game/Movement/MovementGenerators/WaypointMovementGenerator.cpp
  src/server/game/Movement/Waypoints/WaypointMgr.cpp
  src/server/game/Movement/Waypoints/WaypointMgr.h
Labels: DB, WIP, CORE, file-cpp

#11834 fix(Tools/Vmap): correct build
  src/tools/vmap4_extractor/vmapexport.cpp
  src/tools/vmap4_extractor/wmo.cpp
  src/tools/vmap4_extractor/wmo.h
Labels: CORE, file-cpp

#11835 feat(Cmake/FindMySQL): add support MariaDB 10.9
  src/cmake/macros/FindMySQL.cmake
Labels: CORE

#11823 fix(DB/Quest): Fixed Captive Crocolisk not moving to final destination.
  data/sql/updates/pending_db_world/rev_1653127299704263300.sql
Labels: Quest, To Be Merged, 71-74

#11821 fix(Core): Crashfix.
  src/server/game/Handlers/BattleGroundHandler.cpp
Labels: CORE, To Be Merged, Priority-Critical, file-cpp

#11683 fix(Core/Spells): Improvements to Far Sight spell:
  src/server/game/Entities/DynamicObject/DynamicObject.cpp
  src/server/game/Entities/DynamicObject/DynamicObject.h
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/ObjectDefines.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Totem/Totem.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Handlers/MiscHandler.cpp
  src/server/game/Handlers/SpellHandler.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellEffects.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Class - Shaman, file-cpp

#11828 fix(Core/Items): Properly transfer enchantment durations from old to …
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerStorage.cpp
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Class - Priest, file-cpp

#11428 fix(DB/gameobject): Darnassus Moonwell spell focus objects
  data/sql/updates/pending_db_world/rev_1650258156241061000.sql
Labels: DB, To Be Merged

#11561 Fix(Script/ZulGurub): Skeletons should appear in pit
  src/server/scripts/EasternKingdoms/ZulGurub/boss_jindo.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#11666 fix(Scripts/Spells): Sweeping Strikes - improvements.
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
  src/server/game/Spells/SpellEffects.cpp
  src/server/scripts/Spells/spell_warrior.cpp
Labels: Class - Warrior, ChromieCraft Generic, CORE, To Be Merged, Script, file-cpp

#11737 fix(DB/Creature): Flamebringer spawning indefinitely
  data/sql/updates/pending_db_world/rev_1652526320425217900.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#11824 refactor(Core/Combat): DeleteThreatLists() become ClearAllThreat()
  src/server/game/AI/CoreAI/GuardAI.cpp
  src/server/game/AI/CoreAI/PetAI.cpp
  src/server/game/AI/CreatureAI.cpp
  src/server/game/AI/ScriptedAI/ScriptedEscortAI.cpp
  src/server/game/AI/ScriptedAI/ScriptedFollowerAI.cpp
  src/server/game/Combat/ThreatMgr.cpp
  src/server/game/Combat/ThreatMgr.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/boss_tomb_of_seven.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/instance_blackrock_depths.cpp
  src/server/scripts/EasternKingdoms/Karazhan/bosses_opera.cpp
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter2.cpp
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter5.cpp
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kiljaeden.cpp
  src/server/scripts/EasternKingdoms/zone_stranglethorn_vale.cpp
  src/server/scripts/EasternKingdoms/zone_undercity.cpp
  src/server/scripts/EasternKingdoms/zone_wetlands.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjalAI.cpp
  src/server/scripts/Kalimdor/zone_the_barrens.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheChampion/boss_grand_champions.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_northrend_beasts.cpp
  src/server/scripts/Northrend/FrozenHalls/HallsOfReflection/instance_halls_of_reflection.cpp
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/pit_of_saron.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_blood_prince_council.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_icecrown_gunship_battle.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_lady_deathwhisper.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_professor_putricide.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_the_lich_king.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
  src/server/scripts/Northrend/Nexus/EyeOfEternity/boss_malygos.cpp
  src/server/scripts/Northrend/Nexus/Nexus/instance_nexus.cpp
  src/server/scripts/Northrend/Nexus/Oculus/boss_urom.cpp
  src/server/scripts/Northrend/Ulduar/HallsOfLightning/boss_ionar.cpp
  src/server/scripts/Northrend/VioletHold/violet_hold.cpp
  src/server/scripts/Northrend/zone_borean_tundra.cpp
  src/server/scripts/Outland/zone_hellfire_peninsula.cpp
  src/server/scripts/Outland/zone_terokkar_forest.cpp
  src/server/scripts/Pet/pet_hunter.cpp
  src/server/scripts/Spells/spell_hunter.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#11826 fix(Core/Units): Clear any movement on charm.
  src/server/game/Entities/Unit/Unit.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp

#11807 Fix(DB/BWL): Trash Formation
  data/sql/updates/pending_db_world/rev_1652952979464233480.sql
Labels: DB, To Be Merged

#11530 fix(DB): Bear Flank drop rates
  data/sql/updates/pending_db_world/rev_1650887143894550200.sql
Labels: DB, To Be Merged

#11744 fix(DB/Creature): Commander Felstrom Infinite Loot Farm
  data/sql/updates/pending_db_world/rev_1652563880706540800.sql
Labels: DB, To Be Merged

#11767 fix(Core/Spells): Fixed players being able to mount with all transfor…
  data/sql/updates/pending_db_world/rev_1652621127582675200.sql
  src/server/game/DataStores/DBCStores.cpp
  src/server/game/DataStores/DBCStores.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/shared/DataStores/DBCStructure.h
  src/server/shared/DataStores/DBCfmt.h
Labels: DB, CORE, To Be Merged, Class - Rogue, file-cpp

#11825 fix(Core/Spells): Shadow Weaving should not proc off from DoTs.
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, Class - Priest, file-cpp

#11867 fix(DB/Translation): Chinese translation of two quests
  data/sql/updates/pending_db_world/rev_1653462380744994669.sql
Labels: Quest, DB, To Be Merged, 80

#11862 fix(DB/Spell): Set Lock and Load procPhase to 0, allowing Black Arrow to proc it.
  data/sql/updates/pending_db_world/rev_1653383651000084300.sql
Labels: DB, Priority-High, To Be Merged, Class - Hunter, Tested

#11639 fix(DB/SAI): updated text for Rune-Inscribed Parchment
  data/sql/updates/pending_db_world/rev_1651751512749712800.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#11855 fix(DB/creature_text): Jin'do the Hexxer's RP - GRATS!
  data/sql/updates/pending_db_world/rev_1653350504760491620.sql
Labels: DB, To Be Merged

#11871 fix(Scripts/Commands): fix baninfo command issues
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/scripts/Commands/cs_ban.cpp
Labels: CORE, Waiting to be Tested, Script, file-cpp

#11902 fix: temporary workaround for the googletest issue
  src/cmake/googletest-download.cmake
Labels: CORE, To Be Merged

#11900 fix(DB): Crashfix.
  data/sql/updates/pending_db_world/rev_1653731455835127800.sql
Labels: ChromieCraft Generic, DB, To Be Merged, Priority-Critical

#11912 fix(Quest/SAI/Equip) Quest 8891 "Abandoned Investigations"
  data/sql/updates/pending_db_world/rev_1653830830812451556.sql
Labels: 1-19, DB, To Be Merged, Tested

#11909 fix(Scripts/ZulGurub): Massive Geyser should not attack players.
  data/sql/updates/pending_db_world/rev_1653824974575032300.sql
  src/server/scripts/EasternKingdoms/ZulGurub/boss_gahzranka.cpp
Labels: DB, CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#11897 fix(Core/Units): Clear any movement on charm - vol. 2.
  src/server/game/Entities/Unit/Unit.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp

#11840 fix(Scripts/ZulGurub): Re-implemented Hakkar's Insanity.
  src/server/scripts/EasternKingdoms/ZulGurub/boss_hakkar.cpp
Labels: To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#11829 fix(Script/Core): Move hardcoded text to DB
  src/server/scripts/Northrend/zone_howling_fjord.cpp
  src/server/scripts/Northrend/zone_sholazar_basin.cpp
  src/server/scripts/Northrend/zone_wintergrasp.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#11874 fix(DB/Creature): Leviathan Mk II's Plasma Blast BroadcastTextId
  data/sql/updates/pending_db_world/rev_1653602942462997500.sql
Labels: DB, To Be Merged

#11837 fix(Scripts/ZulGurub): Jindo cannot attack targets affected by Hex.
  src/server/scripts/EasternKingdoms/ZulGurub/boss_jindo.cpp
Labels: To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#11898 fix(Core): Crashfix.
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/instance_blackrock_spire.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Script, Priority-Critical, file-cpp

#11844 Fix(DB/Loot): Zul'Gurub boss loot
  data/sql/updates/pending_db_world/rev_1653289483708667578.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#11866 Update CHAR_DELETE_INSTANCE_SAVED_DATA
  src/server/game/Entities/Player/PlayerMisc.cpp
  src/server/game/Groups/Group.cpp
  src/server/game/Groups/Group.h
  src/server/game/Instances/InstanceSaveMgr.cpp
  src/server/game/Instances/InstanceSaveMgr.h
Labels: CORE, file-cpp

#11836 refactor(Cmake): add support build selected applications and tools
  .github/workflows/core_build.yml
  .github/workflows/core_matrix_build.yml
  .github/workflows/core_modules_build.yml
  .github/workflows/windows_build.yml
  CMakeLists.txt
  apps/ci/ci-conf-core.sh
  apps/ci/ci-conf-tools.sh
  apps/ci/ci-dry-run.sh
  apps/ci/ci-worldserver-dry-run.sh
  apps/compiler/includes/functions.sh
  apps/docker/Dockerfile
  conf/dist/config.cmake
  conf/dist/config.sh
  deps/CMakeLists.txt
  src/CMakeLists.txt
  src/cmake/macros/ConfigInstall.cmake
  src/cmake/macros/ConfigureApplications.cmake
  src/cmake/macros/ConfigureTools.cmake
  src/cmake/showoptions.cmake
  src/common/CMakeLists.txt
  src/common/Logging/Log.h
  src/server/CMakeLists.txt
  src/server/apps/CMakeLists.txt
  src/server/apps/authserver/Authentication/AuthCodes.cpp
  src/server/apps/authserver/Authentication/AuthCodes.h
  src/server/apps/authserver/Main.cpp
  src/server/apps/authserver/PrecompiledHeaders/authserverPCH.h
  src/server/apps/authserver/Server/AuthSession.cpp
  src/server/apps/authserver/Server/AuthSession.h
  src/server/apps/authserver/Server/AuthSocketMgr.h
  src/server/apps/authserver/authserver.conf.dist
  src/server/apps/authserver/authserver.ico
  src/server/apps/authserver/authserver.rc
  src/server/apps/authserver/resource.h
  src/server/apps/worldserver/ACSoap/ACSoap.cpp
  src/server/apps/worldserver/ACSoap/ACSoap.h
  src/server/apps/worldserver/CommandLine/CliRunnable.cpp
  src/server/apps/worldserver/CommandLine/CliRunnable.h
  src/server/apps/worldserver/Main.cpp
  src/server/apps/worldserver/PrecompiledHeaders/worldserverPCH.h
  src/server/apps/worldserver/RemoteAccess/RASession.cpp
  src/server/apps/worldserver/RemoteAccess/RASession.h
  src/server/apps/worldserver/resource.h
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/apps/worldserver/worldserver.ico
  src/server/apps/worldserver/worldserver.rc
  src/server/authserver/CMakeLists.txt
  src/server/database/Database/MySQLConnection.cpp
  src/server/scripts/CMakeLists.txt
  src/server/shared/SharedDefines.h
  src/server/worldserver/CMakeLists.txt
  src/tools/CMakeLists.txt
  src/tools/map_extractor/CMakeLists.txt
  src/tools/mmaps_generator/CMakeLists.txt
  src/tools/vmap4_assembler/CMakeLists.txt
  src/tools/vmap4_extractor/CMakeLists.txt
Labels: Workflow, CORE, Bash, run-build, file-cpp
