Repository azerothcore/azerothcore-wotlk, pull requests merged in 2022-02, with the labels that each got.

#10468 fix(CI/Misc): Make CodeFactor happy
  apps/ci/ci-pending-sql.sh
Labels: Bash

#10295 fix(CMake/MSVC): Cleanup and enable some warnings
  src/cmake/compiler/msvc/settings.cmake
Labels: Has-Russian, CORE, To Be Merged, run-build

#10304 fix(Scripts/Pets): Increased Shadowfiend hp.
  src/server/scripts/Spells/spell_priest.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Class - Priest, Script, file-cpp

#10325 fix(DB/Quest): Fixed completing quest "Freedom to Ruul".
  data/sql/updates/pending_db_world/rev_1642953762715459200.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#10191 Fix(DB/CTM) Fix Onyxia float on ground at P2
  data/sql/updates/pending_db_world/rev_1642220996463864536.sql
Labels: DB, To Be Merged

#10483 Revert "fix(Core/Spells): Fix spellclick (#8232)"
  src/server/game/Handlers/SpellHandler.cpp
Labels: CORE, Waiting to be Tested, file-cpp

#10471 Refactor(Core/Hook): OnPlayerReputationChange
  src/server/game/Reputation/ReputationMgr.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#10491 fix (core): Smart Script Clean up\Code Reduction
  src/server/game/AI/SmartScripts/SmartScript.cpp
Labels: CORE, To Be Merged, file-cpp

#10494 Revert "fix (core): Smart Script Clean up\Code Reduction (#10491)"
  src/server/game/AI/SmartScripts/SmartScript.cpp
Labels: CORE, file-cpp

#10489 feat(Deps/Fmt): update to 8.1.1. Fix build with c++20
  deps/fmt/CMakeLists.txt
  deps/fmt/ChangeLog.rst
  deps/fmt/README.rst
  deps/fmt/include/fmt/args.h
  deps/fmt/include/fmt/chrono.h
  deps/fmt/include/fmt/color.h
  deps/fmt/include/fmt/compile.h
  deps/fmt/include/fmt/core.h
  deps/fmt/include/fmt/format-inl.h
  deps/fmt/include/fmt/format.h
  deps/fmt/include/fmt/os.h
  deps/fmt/include/fmt/ostream.h
  deps/fmt/include/fmt/printf.h
  deps/fmt/include/fmt/ranges.h
  deps/fmt/include/fmt/xchar.h
  deps/fmt/src/fmt.cc
  deps/fmt/src/format.cc
  deps/fmt/src/os.cc
Labels: To Be Merged, file-cpp

#10503 fix(Core/Player): Align SaveSeasonQuestStatus() with TrinityCore
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/game/Entities/Player/PlayerStorage.cpp
Labels: CORE, To Be Merged, file-cpp

#10323 feat(Guild/Commands): guild rename
  data/sql/updates/pending_db_world/rev_1642946406666106700.sql
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/database/Database/Implementation/CharacterDatabase.h
  src/server/game/Guilds/Guild.cpp
  src/server/game/Guilds/Guild.h
  src/server/scripts/Commands/cs_guild.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#10479 fix(DB): Tallonkai Swiftroot has incorrect dialogue texts
  data/sql/updates/pending_db_world/rev_1643734354433050200.sql
Labels: DB, To Be Merged

#10482 fix(DB): Underground Wildkin Feather for Quest 3661
  data/sql/updates/pending_db_world/rev_1643744322942556100.sql
Labels: DB, To Be Merged

#10486 fix(DB/creature): Ram inside Thelgen Rock
  data/sql/updates/pending_db_world/rev_1643749751057480800.sql
Labels: DB, To Be Merged

#10492 fix(DB/item_template): Fix Deathbringer Proc Rate
  data/sql/updates/pending_db_world/rev_1643820319240193000.sql
Labels: DB, To Be Merged

#10484 fix(DB/creature): Double critter spawns in Dire Maul East
  data/sql/updates/pending_db_world/rev_1643745379505594100.sql
Labels: DB, To Be Merged

#10487 fix(DB/creature_template): Trial of the Champions Gossip Menu
  data/sql/updates/pending_db_world/rev_1643753841347676600.sql
Labels: DB, To Be Merged, 80

#10391 fix (DB): Blacksmithing Plans Loot and Conditions
  data/sql/updates/pending_db_world/rev_1643309943188748904.sql
Labels: ChromieCraft Generic, DB, To Be Merged, Loot, Instance - Dungeon - Vanilla, 60, Instance - Raid - Vanilla

#10488 fix(DB): Draenei Start Area Class Training Quests Fixes
  data/sql/updates/pending_db_world/rev_1643757425749275400.sql
Labels: DB, To Be Merged

#9746 fix(DB): Removing Thrash from Creatures
  data/sql/updates/pending_db_world/rev_1639761638374281200.sql
Labels: ChromieCraft Generic, DB, To Be Merged, Ready to be Reviewed

#10348 Fix(Core/MC): Separate teleport timers for Majordomo Executus
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_majordomo_executus.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, 60, Script, Instance - Raid - Vanilla, file-cpp

#10380 Fix(DB/Quest): Matis the Cruel
  data/sql/updates/pending_db_world/rev_1643232180075711500.sql
Labels: Quest, DB, To Be Merged

#10209 feat(Core/Common): move EventMap to separated files. Add support chrono
  src/common/Utilities/EventMap.cpp
  src/common/Utilities/EventMap.h
  src/common/Utilities/Util.h
  src/server/game/AI/CoreAI/CombatAI.h
  src/server/game/AI/ScriptedAI/ScriptedCreature.h
  src/server/game/Battlegrounds/Zones/BattlegroundAB.h
  src/server/game/Battlegrounds/Zones/BattlegroundEY.h
  src/server/game/Battlegrounds/Zones/BattlegroundWS.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/instance_blackwing_lair.cpp
  src/server/scripts/EasternKingdoms/SunkenTemple/instance_sunken_temple.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/EscapeFromDurnholdeKeep/instance_old_hillsbrad.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#10224 Fix(Core/Spells): Delete creatures threat list after taming them for t…
  src/server/scripts/Spells/spell_hunter.cpp
Labels: Quest, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#10326 fix(DB/Gameobjects): Thwarting Kolkar Aggression objects should not b…
  data/sql/updates/pending_db_world/rev_1642958777655299100.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#10332 feat(Core/Conditions): CONDITION_DIFFICULTY_ID
  src/server/game/Conditions/ConditionMgr.cpp
  src/server/game/Conditions/ConditionMgr.h
Labels: CORE, To Be Merged, file-cpp, Requires WIKI Update

#10367 Handle custom creatures IDs and exclude them from checks
  src/server/game/Globals/ObjectMgr.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged, file-cpp

#10375 Core/GuildHandler: Remove useless function
  src/server/game/Handlers/GuildHandler.cpp
Labels: CORE, To Be Merged, file-cpp

#10378 Fix(DB/Quest): Move Lost In Battle to DB
  data/sql/updates/pending_db_world/rev_1643223104276234400.sql
  src/server/scripts/Kalimdor/zone_the_barrens.cpp
Labels: Quest, DB, CORE, To Be Merged, Script, file-cpp

#10403 feat(Core/Player): Stats limitation
  src/server/game/Entities/Unit/StatSystem.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged, file-cpp

#10361 fix(DB/Vendor)Zorbin Fandazzle's vendor gossip is now unavaliable if required quests not rewarded
  data/sql/updates/pending_db_world/rev_1643137247566116938.sql
Labels: DB, To Be Merged

#10371 feat(Core/Map): Add DoForAllPlayers method.
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
Labels: CORE, To Be Merged, file-cpp

#10402 Fix (DB/spell_proc_event) Lawbringer's T1 8 Set Bonus Fix
  data/sql/updates/pending_db_world/rev_1643386602617683649.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#10439 fix(Core/Misc): Remove check for c++11
  src/common/Utilities/Util.h
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Movement/Spline/MoveSplineFlag.h
Labels: CORE, To Be Merged, file-cpp

#10457 fix(DB/Creatures: Ebonroc should move on waypoints.
  data/sql/updates/pending_db_world/rev_1643577884044855900.sql
Labels: DB, To Be Merged, 60, Instance - Raid - Vanilla

#10431 missed dialogue page text for npc Old Orok
  data/sql/updates/pending_db_world/rev_1643467900848391119.sql
Labels: DB, To Be Merged

#10312 fix(Core/Spells): Fixed Wolverine Bite. Source: TrinityCore.
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
Labels: ChromieCraft Generic, CORE, To Be Merged, Class - Hunter, file-cpp

#10389 Fix(DB/Gossip): Angela Dosantos
  data/sql/updates/pending_db_world/rev_1643306978965271700.sql
Labels: DB, To Be Merged

#10392 Fix(DB/Gossip): show correct gossips for Shadow Priestess Vandis and …
  data/sql/updates/pending_db_world/rev_1643318127094399900.sql
Labels: DB, To Be Merged

#10393 Fix(DB/Item): Bonereaver's Edge proc
  data/sql/updates/pending_db_world/rev_1643324466347472100.sql
Labels: DB, To Be Merged

#10404 Fix(DB/Loot): Un'Goro Dirt Pile
  data/sql/updates/pending_db_world/rev_1643389586744135400.sql
Labels: DB, To Be Merged, Loot

#9737 fix(Core/Reputations): Faction rep gained by killing mobs is now prop…
  src/server/game/Battlegrounds/Battleground.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Reputation/ReputationMgr.cpp
  src/server/game/Reputation/ReputationMgr.h
  src/server/game/Spells/SpellEffects.cpp
  src/server/scripts/Commands/cs_modify.cpp
  src/server/scripts/Commands/cs_quest.cpp
  src/server/scripts/OutdoorPvP/OutdoorPvPSI.cpp
  src/server/scripts/Spells/spell_generic.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#10480 fix(Scripts/Commands): cs_list commands
  src/server/scripts/Commands/cs_list.cpp
Labels: CORE, Waiting to be Tested, Script, file-cpp

#10547 fix (conf): Added additional Cateloge NPC IDS
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged

#10405 Fix(DB/Creature): Shen'Dralar wisp movement
  data/sql/updates/pending_db_world/rev_1643393372625004300.sql
Labels: DB, To Be Merged

#10433 Fix(DB/SAI): Blackwing Technician
  data/sql/updates/pending_db_world/rev_1643486369280661300.sql
Labels: DB, To Be Merged, Instance - Raid - Vanilla

#10535 Fix(Core/MC): Ragnaros dying while submerging
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_ragnaros.cpp
Labels: CORE, To Be Merged, Script, Instance - Raid - Vanilla, file-cpp

#10505 feat(Core/Position): own file
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Object/Position.cpp
  src/server/game/Entities/Object/Position.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Maps/Map.h
  src/server/game/Spells/Spell.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/boss_jindo.cpp
  src/server/scripts/EasternKingdoms/zone_isle_of_queldanas.cpp
  src/server/scripts/Kalimdor/zone_winterspring.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_lord_marrowgar.cpp
  src/server/scripts/Northrend/Nexus/EyeOfEternity/boss_malygos.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_mimiron.cpp
  src/server/scripts/Northrend/zone_dragonblight.cpp
  src/server/scripts/Spells/spell_item.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#10549 fix(Core/Build): correct macos build
  src/server/game/Calendar/CalendarMgr.cpp
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, run-build, file-cpp

#10586 fix(Core): macOS build (part 2)
  src/server/game/Entities/Object/Position.h
Labels: CORE, run-build, file-cpp

#9938 refactor(Core/Spell): Use ApplySpellFix with SpellInfo
  src/server/game/AI/CoreAI/UnitAI.cpp
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
  src/server/game/Spells/SpellInfo.cpp
  src/server/game/Spells/SpellInfo.h
  src/server/game/Spells/SpellMgr.cpp
  src/server/game/Spells/SpellMgr.h
  src/server/game/World/World.cpp
  src/server/shared/DataStores/DBCStructure.h
Labels: CORE, To Be Merged, file-cpp

#10587 refactor(Core/Spells): Move SpellInfoCorrections to its own file
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#10434 Fix(DB/Spawn): Death Talon Overseer
  data/sql/updates/pending_db_world/rev_1643487408879682900.sql
Labels: DB, To Be Merged, Instance - Raid - Vanilla

#10598 fix(Core/Spells): Revert an oopsie
  src/server/game/Spells/SpellInfo.h
Labels: CORE, To Be Merged, file-cpp

#10481 fix(SECURITY): macOS 11 support
  .github/SECURITY.md
Labels: To Be Merged

#10455 fix(DB/Creatures): Razormaw should move on waypoints.
  data/sql/updates/pending_db_world/rev_1643573251406022100.sql
Labels: DB, To Be Merged, 60, Instance - Raid - Vanilla

#10596 fix(Scripts/Events): Fix not being able to start the Apothecary Trio …
  src/server/scripts/Events/love_in_air.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#10602 Fix(Core/Crash): possible crash due uninitialized value
  src/server/game/Spells/SpellInfo.h
Labels: CORE, To Be Merged, Ready to be Reviewed, Priority-Critical, file-cpp

#10576 fix(Core/BG/PvPstats): store correct winner_faction
  src/server/game/Battlegrounds/Battleground.cpp
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
  src/server/shared/SharedDefines.h
Labels: Priority-High, CORE, To Be Merged, file-cpp

#9792 refactor(Core/Misc): sqrt/log/exp() to std::sqrt/log/exp()
  src/common/Utilities/Geometry.h
  src/server/game/Battlegrounds/ArenaTeam.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundSA.cpp
  src/server/game/DataStores/DBCStores.cpp
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Unit/StatSystem.cpp
  src/server/game/Maps/TransportMgr.cpp
  src/server/game/Movement/MovementGenerators/PathGenerator.h
  src/server/game/Movement/MovementGenerators/RandomMovementGenerator.cpp
  src/server/game/Spells/Spell.cpp
  src/server/scripts/EasternKingdoms/Karazhan/boss_netherspite.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_twin_valkyr.cpp
  src/tools/mesh_extractor/Utils.cpp
  src/tools/vmap4_extractor/vec3d.h
Labels: CORE, To Be Merged, Script, run-build, file-cpp

#10604 chore(Scripts/Events): fix typo
  src/server/scripts/Events/love_in_air.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#10561 Fix (Core/Scripts): Warrior T3 8P Bonus Fix
  data/sql/updates/pending_db_world/rev_1644160153962444055.sql
  src/server/scripts/Spells/spell_warrior.cpp
Labels: DB, CORE, Waiting to be Tested, Script, file-cpp

#10565 feat(Core/Player): Implement option to convert excess honor points int…
  src/server/game/Entities/Player/Player.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#10142 feat(Core/Grids): Allow arbitrary containers in grid searchers that support push_back
  src/server/game/Grids/Notifiers/GridNotifiers.h
  src/server/game/Grids/Notifiers/GridNotifiersImpl.h
Labels: CORE, To Be Merged, run-build, file-cpp, To Be Merged - Later

#10611 feat (core): Add Teleport Helpers
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
Labels: CORE, file-cpp

#9607 refactor(Script/Event): convert midsummer into new system
  src/server/scripts/Events/midsummer.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#10613 fix(Chat): session null check for isavailable
  src/server/game/Chat/Chat.cpp
Labels: CORE, run-build, file-cpp

#10369 Fix(Core/WorldBoss): Azuregos rewrite
  data/sql/updates/pending_db_world/rev_1643155057631411400.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/Kalimdor/boss_azuregos.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#9797 fix(Scripts/Spell): Don't use invalid spells for the Magic Rooster mount
  data/sql/updates/pending_db_world/rev_1639953303883016900.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/Spells/spell_generic.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#10330 Fix(Core/Quest): For The Horde!
  data/sql/updates/pending_db_world/rev_1642981864918755200.sql
  src/server/scripts/Kalimdor/zone_orgrimmar.cpp
Labels: Quest, DB, CORE, To Be Merged, 60, Script, file-cpp

#10521 fix(Core/Misc): Remove Clang 7 workaround
  src/cmake/compiler/clang/settings.cmake
  src/common/Utilities/StringConvert.h
Labels: CORE, To Be Merged, file-cpp

#10615 Fix(Core/Events): Apothecary Hummel
  data/sql/updates/pending_db_world/rev_1644485285021223700.sql
  src/server/game/Entities/Unit/Unit.cpp
  src/server/scripts/EasternKingdoms/ShadowfangKeep/boss_apothecary_hummel.cpp
  src/server/scripts/EasternKingdoms/ShadowfangKeep/instance_shadowfang_keep.cpp
  src/server/scripts/EasternKingdoms/ShadowfangKeep/shadowfang_keep.h
  src/server/scripts/EasternKingdoms/eastern_kingdoms_script_loader.cpp
  src/server/scripts/Events/love_in_air.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, World Event, Script, file-cpp

#10590 refactor(Core/Packets): Rewrite MSG_RANDOM_ROLL to new packet class
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Groups/Group.cpp
  src/server/game/Groups/Group.h
  src/server/game/Handlers/GroupHandler.cpp
  src/server/game/Server/Packets/MiscPackets.cpp
  src/server/game/Server/Packets/MiscPackets.h
  src/server/game/Server/WorldSession.h
Labels: CORE, To Be Merged, file-cpp

#10436 Fix(DB/Formations): Death Talon Captain chain pull
  data/sql/updates/pending_db_world/rev_1643488846042207300.sql
Labels: DB, To Be Merged

#10437 Fix(Core/Spells): Shadowflame should not be interruptable
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, Instance - Raid - Vanilla, file-cpp

#10473 Fix(Core/BWL): Chromaggus reset
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_chromaggus.cpp
Labels: CORE, To Be Merged, Script, Instance - Raid - Vanilla, file-cpp

#10501 fix(DB): Grimbooze Thunderbrew Missing Gossip
  data/sql/updates/pending_db_world/rev_1643834611045156900.sql
Labels: DB, To Be Merged

#10517 fix(Scripts/ThousandNeedles): Add final waypoint dialog for quest 4904 "Free at Last"
  src/server/scripts/Kalimdor/zone_thousand_needles.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#10523 fix(Core/Misc): Remove invalid comment
  src/common/Utilities/StartProcess.cpp
Labels: CORE, To Be Merged, file-cpp

#10633 Refactor(DB/spell): Rename fields according to their DBC equivalent
  data/sql/updates/pending_db_world/rev_1644590484974206900.sql
Labels: DB, To Be Merged

#10638 fix(Scripts/UBRS): fix crash with Solakar minions
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/instance_blackrock_spire.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#10620 fix(DB/item_template): Adjust Deathbringer Proc Rate
  data/sql/updates/pending_db_world/rev_1644515303284021100.sql
Labels: DB

#10528 fix(Scripts/Commands): Improve server debug command
  src/server/scripts/Commands/cs_server.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#10538 fix(Core/SmartScripts): SMART_ACTION_SET_CORPSE_DELAY, SMART_ACTION_D…
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp

#10205 fix(Scripts/BlackwingLair): Razorgore The Untamed misc improvements.
  data/sql/updates/pending_db_world/rev_1642354321277117900.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/blackwing_lair.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_razorgore.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/instance_blackwing_lair.cpp
Labels: DB, CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#10301 fix(Core/Spells): Flasks should not be overriden by elixirs.
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Spells/SpellInfo.cpp
  src/server/game/Spells/SpellInfo.h
  src/server/game/Spells/SpellMgr.h
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp

#10456 fix(DB/Creatures): Death Talon Wyrmguard should gain extra auras.
  data/sql/updates/pending_db_world/rev_1643577681911100000.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_chromaggus.cpp
Labels: DB, CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#10645 fix(Scripts/Kalimdor): Azuregos should respawn within 2 and 3 days
  src/server/scripts/Kalimdor/boss_azuregos.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#10539 DB/GameObject: Make traps of Warpwood Pod despawn after being activat…
  data/sql/updates/pending_db_world/rev_1644063517005361300.sql
Labels: 50-59, DB, To Be Merged, Instance - Dungeon - Vanilla

#10543 fix(DB/Gameobject): Preserved Threshadon Carcass should be despawned …
  data/sql/updates/pending_db_world/rev_1644076677748626800.sql
Labels: Quest, 50-59, ChromieCraft Generic, DB, To Be Merged

#10592 refactor(Core/Misc): Rename some variables that can be confusing
  src/server/game/Conditions/ConditionMgr.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/scripts/Commands/cs_npc.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_twin_valkyr.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#10619 fix(DB/creature): Wildthorn Stalker under ground
  data/sql/updates/pending_db_world/rev_1644514358466639200.sql
Labels: DB, To Be Merged

#10595 refactor(Core/DB/playercreateinfo_spell_custom): Load empty
  data/sql/base/db_world/playercreateinfo_spell_custom.sql
  src/server/game/Entities/Player/Player.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/worldserver/worldserver.conf.dist
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, file-cpp

#10621 fix(DB): Script Kwee Q. Peddlefeet
  data/sql/updates/pending_db_world/rev_1644517852933459100.sql
Labels: DB, To Be Merged

#10622 Fix(Core/BWL): Blast Wave timer
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_broodlord_lashlayer.cpp
Labels: CORE, To Be Merged, Script, Instance - Raid - Vanilla, file-cpp

#10624 fix(DB): Hidden Farm
  data/sql/updates/pending_db_world/rev_1644527416818211100.sql
Labels: DB, To Be Merged

#10626 Fix(Core/BWL): Vaelastrasz Burning Adrenaline
  src/server/game/Entities/Unit/Unit.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_vaelastrasz.cpp
Labels: CORE, To Be Merged, Script, Instance - Raid - Vanilla, file-cpp

#10634 fix(DB/quest_template_addon): The Brokering of Peace Quest Order
  data/sql/updates/pending_db_world/rev_1644600270428016400.sql
Labels: DB, To Be Merged

#10641 fix(Scripts/BlackwingLair): Razorgore adds should spawn 45 seconds af…
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_razorgore.cpp
Labels: CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#10636 fix(DB/creature_questitem): Some Missing Quest Markers
  data/sql/updates/pending_db_world/rev_1644601221468992700.sql
Labels: DB, To Be Merged

#10644 fix(Scripts/BlackwingLair): Chromaggus should cast the same afflictio…
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_chromaggus.cpp
Labels: CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#10640 fix(DB/Raids): Razorgore the Untamed should pull together with Gorthe…
  data/sql/updates/pending_db_world/rev_1644660802073805600.sql
Labels: DB, To Be Merged, 60, Instance - Raid - Vanilla

#10647 Scripts/Spells: Revive pets always with full health during battlegrou…
  src/server/scripts/Spells/spell_generic.cpp
Labels: PvP, Priority-High, CORE, To Be Merged, Class - Hunter, Class - Mage, Class - Warlock, Script, Class - Death Knight, file-cpp, Instance - BattleGrounds

#10605 fix(DB/gameobject): Truesilver Node Underground
  data/sql/updates/pending_db_world/rev_1644426260563507200.sql
Labels: DB, To Be Merged

#10654 Core/Spells: Crown Parcel Service Uniform should dismount players.
  src/server/scripts/Events/love_in_air.cpp
Labels: CORE, To Be Merged, World Event, Script, file-cpp

#10637 fix(DB): Seer Skaltesh Elemental Sapta
  data/sql/updates/pending_db_world/rev_1644605173333655100.sql
Labels: DB, To Be Merged

#10253 fix(DB/Creature) Highperch Soarer
  data/sql/updates/pending_db_world/rev_1642639045919873206.sql
Labels: 20-29, DB, Ready to be Reviewed

#10562 fix(Core/Spells): Base spell resistances from auras should apply to p…
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: CORE, To Be Merged, Class - Hunter, file-cpp

#10698 fix (core\db): SAI Error Reporting
  data/sql/updates/pending_db_world/rev_1644959483034654993.sql
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
Labels: DB, CORE, To Be Merged, file-cpp

#10701 fix(Core/Spells): Nefarius Corruption should only affect Vaelastrasz
  data/sql/updates/pending_db_world/rev_1644967518818105800.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: DB, CORE, To Be Merged, Instance - Raid - Vanilla, file-cpp

#10705 Fix (Conf): Add Gossip exemption for AZ Catelogue
  src/server/worldserver/worldserver.conf.dist
Labels: CORE

#10677 fix(Core/Battleground/PvPstats): correct bracket_id for AV
  data/sql/updates/pending_db_characters/rev_1644943100668922283.sql
  src/server/game/Battlegrounds/Battleground.cpp
Labels: ChromieCraft Generic, DB, CORE, To Be Merged, file-cpp

#10657 fix(DB/Creatures): Nat Pagle should display vendor icon if player com…
  data/sql/updates/pending_db_world/rev_1644762673519914900.sql
  src/server/game/Conditions/ConditionMgr.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/scripts/Kalimdor/zone_dustwallow_marsh.cpp
Labels: ChromieCraft Generic, DB, CORE, To Be Merged, Script, file-cpp

#10689 fix(DB/creature_template): Alanndarian Nightsong Gossip Menu
  data/sql/updates/pending_db_world/rev_1644946104908761300.sql
Labels: DB, To Be Merged

#10724 fix(Core/Guild): Guild bank handling issues
  src/server/game/Guilds/Guild.h
  src/server/game/Handlers/GuildHandler.cpp
Labels: Priority-High, CORE, Waiting to be Tested, file-cpp

#10667 fix(DB/Loot): Corrected skinning loot for Scorpid Workers.
  data/sql/updates/pending_db_world/rev_1644769898514768700.sql
Labels: ChromieCraft Generic, DB, To Be Merged, Loot

#10729 fix (core): BG Final Override to Final
  src/server/game/Battlegrounds/ArenaScore.h
  src/server/game/Battlegrounds/Zones/BattlegroundAB.h
  src/server/game/Battlegrounds/Zones/BattlegroundAV.h
  src/server/game/Battlegrounds/Zones/BattlegroundEY.h
  src/server/game/Battlegrounds/Zones/BattlegroundIC.h
  src/server/game/Battlegrounds/Zones/BattlegroundSA.h
  src/server/game/Battlegrounds/Zones/BattlegroundWS.h
Labels: CORE, file-cpp

#10730 fix(Core/Creature): Allow setting no equipment.
  src/server/game/Entities/Creature/Creature.cpp
Labels: CORE, file-cpp

#10731 fix (core): Final Override to Final PT 2
  src/server/game/Battlegrounds/Zones/BattlegroundAB.h
  src/server/game/Battlegrounds/Zones/BattlegroundEY.h
  src/server/game/Battlegrounds/Zones/BattlegroundIC.h
  src/server/game/Battlegrounds/Zones/BattlegroundSA.h
  src/server/game/Battlegrounds/Zones/BattlegroundWS.h
Labels: CORE, file-cpp

#10735 fix(Core/Creature): Allow Multi id in areas with zone script
  src/server/game/Entities/Creature/Creature.cpp
Labels: CORE, file-cpp

#10716 Add (DB/SAI): Raider Jhash and Raider Kerr Durotar TC Cherry pick
  data/sql/updates/pending_db_world/rev_1645110438718594836.sql
Labels: DB, To Be Merged, DB Spawns

#10736 fix(DB/Spawning/Pathing/SAI) Telaar, Nagrand
  data/sql/updates/pending_db_world/rev_1645220638173840730.sql
Labels: DB, 65-69

#10720 fix(DB/npc_text): Fix Kraz Gossip Text
  data/sql/updates/pending_db_world/rev_1645119124535032800.sql
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#10737 fix(DB/Spawning/Pathings/SAI) Hellfire Mines
  data/sql/updates/pending_db_world/rev_1645221497531808185.sql
Labels: DB, 61-64

#10739 fix(DB/Pathing) Hellfire Peninsula
  data/sql/updates/pending_db_world/rev_1645226316218841996.sql
Labels: DB, 61-64

#10738 add (DB\Gameobject): Missing Bon Fires VOS
  data/sql/updates/pending_db_world/rev_1645221713034760650.sql
Labels: DB, To Be Merged

#10614 fix(DB): Sian'dur and Xor'juul Gossip Fix
  data/sql/updates/pending_db_world/rev_1644449176407387800.sql
Labels: DB, To Be Merged

#10617 fix(DB/creature): Ghostpaw Runner position
  data/sql/updates/pending_db_world/rev_1644507736654586300.sql
Labels: DB, To Be Merged

#10452 fix(Core/Spells): Deep Freeze should damage only permanent stun-immun…
  src/server/game/Entities/Unit/Unit.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Class - Mage, file-cpp

#10623 fix(DB/gossip_menu): Add missing text to Ragged John gossip menu
  data/sql/updates/pending_db_world/rev_1644524834850478500.sql
Labels: DB, To Be Merged

#10537 fix(Core/GameObjects): Move activation code of traps to GO_ACTIVATED.…
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/GameObject/GameObject.h
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp

#10546 fix(Scripts/Scholomance): Darkmaster Gandling crash
  src/server/scripts/EasternKingdoms/Scholomance/boss_darkmaster_gandling.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#10740 fix(Core/Misc): Remove from LFG/batleground queues when teleported to…
  src/server/game/DungeonFinding/LFGMgr.cpp
  src/server/game/Groups/Group.cpp
  src/server/game/Handlers/BattleGroundHandler.cpp
  src/server/scripts/Commands/cs_misc.cpp
Labels: PvP, ChromieCraft Generic, Priority-High, CORE, To Be Merged, Script, Battlegrounds, file-cpp, Instance - BattleGrounds

#10646 fix(DB/Factionchange): Added quests for T0.5 chain
  data/sql/updates/pending_db_world/rev_1644676981694815666.sql
Labels: DB, To Be Merged, 60

#10743 fix(Core/Battlegrounds: Fixed doubled score in Alterac Valley battleg…
  src/server/game/Battlegrounds/Zones/BattlegroundAV.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Battlegrounds, Priority-Critical, file-cpp

#10761 feat(Scripting/Hooks): Implement OnGameEventCheck() hook
  src/server/game/Events/GameEventMgr.cpp
  src/server/game/Scripting/ScriptDefines/GameEventScript.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, To Be Merged, file-cpp

#10764 feat(CI): add mod-low-level-rbg module
  apps/ci/ci-install-modules.sh
Labels: ChromieCraft Generic, To Be Merged, Bash

#10752 feat(Core/Battlegrounds): Min level of selected random bg must be low…
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
  src/server/game/Battlegrounds/BattlegroundMgr.h
Labels: ChromieCraft Generic, CORE, To Be Merged, Battlegrounds, file-cpp

#10785 fix (db): Smolderthorn Berserker not attacking
  data/sql/updates/pending_db_world/rev_1645476483912365838.sql
Labels: DB, Ready to be Reviewed, 60

#10721 fix(Core/Spells): Azuregos' Mana Storm should not be interruptable
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, 60, file-cpp

#10722 fix(Core/Spells): Azuregos teleport should only drop threat for hit u…
  src/server/scripts/Kalimdor/boss_azuregos.cpp
Labels: CORE, To Be Merged, 60, Script, file-cpp

#10723 fix(Core/Spells): Don't allow to purge Azuregos' Reflect
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, 60, file-cpp

#10754 fix(Core/Battlegrounds): Fixed Alterac Valley quests.
  src/server/game/Battlegrounds/Zones/BattlegroundAV.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundAV.h
Labels: ChromieCraft Generic, CORE, To Be Merged, Battlegrounds, file-cpp

#10789 fix(DB/Creature) Fix an error in PR #10736
  data/sql/updates/pending_db_world/rev_1645536335125857423.sql
Labels: DB, 61-64

#10744 fix(Core): Crashfix.
  src/server/game/Entities/Object/Object.cpp
  src/server/scripts/Northrend/zone_wintergrasp.cpp
Labels: ChromieCraft Generic, CORE, Script, Priority-Critical, file-cpp

#10751 fix(DB): Many Quest Emote Fixes from TrinityCore
  data/sql/updates/pending_db_world/rev_1645326770688077000.sql
Labels: DB, To Be Merged

#10790 fix(SQL)
  data/sql/updates/db_world/2022_02_22_02.sql
Labels: DB, To Be Merged

#10742 fix (core): server.log dump
  src/common/Logging/Log.cpp
  src/common/Logging/Log.h
  src/server/game/Handlers/CharacterHandler.cpp
Labels: CORE, To Be Merged, file-cpp

#10648 fix(DB/Loot): Added loot to Training Dummy.
  data/sql/updates/pending_db_world/rev_1644689254263193400.sql
Labels: DB, To Be Merged, Loot
