Repository azerothcore/azerothcore-wotlk, pull requests merged in 2022-10, with the labels that each got.

#13183 fix(db/multi): Quest improvements for Ruins of Silvermoon area
  data/sql/updates/pending_db_world/rev_1664615665536862900.sql
Labels: DB, Tested

#13181 fix (core): LOG correction
  src/server/game/Spells/Spell.cpp
Labels: CORE, file-cpp

#13190 fix(DB/Creature): Blix Fixwidget
  data/sql/updates/pending_db_world/rev_1664637513183204100.sql
Labels: DB

#13193 fix(Scripts/Spells): Remove some magic numbers
  src/server/scripts/Spells/spell_item.cpp
Labels: CORE, Script, file-cpp

#13194 refactor(Scripts/Anubarak): Convert spellscripts to new system
  src/server/scripts/Northrend/AzjolNerub/AzjolNerub/boss_anubarak.cpp
Labels: CORE, Script, file-cpp

#13195 update (core): Startup console capitalizations
  src/common/Collision/Models/GameObjectModel.cpp
  src/common/Configuration/Config.cpp
  src/server/apps/worldserver/Main.cpp
  src/server/game/Achievements/AchievementMgr.cpp
  src/server/game/Cache/CharacterCache.cpp
  src/server/game/Conditions/DisableMgr.cpp
  src/server/game/DataStores/DBCStores.cpp
  src/server/game/DataStores/M2Stores.cpp
  src/server/game/DungeonFinding/LFGMgr.cpp
  src/server/game/Entities/Creature/CreatureGroups.cpp
  src/server/game/Entities/Item/ItemEnchantmentMgr.cpp
  src/server/game/Events/GameEventMgr.cpp
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Groups/GroupMgr.cpp
  src/server/game/Guilds/GuildMgr.cpp
  src/server/game/Instances/InstanceSaveMgr.cpp
  src/server/game/Loot/LootMgr.cpp
  src/server/game/Maps/TransportMgr.cpp
  src/server/game/Misc/GameGraveyard.cpp
  src/server/game/Pools/PoolMgr.cpp
  src/server/game/Scripting/ScriptSystem.cpp
  src/server/game/Spells/SpellMgr.cpp
  src/server/game/Texts/CreatureTextMgr.cpp
  src/server/game/Tools/PlayerDump.cpp
  src/server/game/Weather/WeatherMgr.cpp
  src/server/game/World/World.cpp
Labels: CORE, file-cpp

#12625 fix(CORE/Spells): Fix Scaling of some Guardians
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, To Be Merged, file-cpp

#13188 fix(DB/Temple of AhnQiraj): Added `GROUP_AI_FLAG_RESPAWN_ON_EVADE` to…
  data/sql/updates/pending_db_world/rev_1664636151093965100.sql
Labels: DB, To Be Merged, 60, Instance - Raid - Vanilla

#13191 fix(DB/creature_template): Fix Ossirian's resistances accidentally removed.
  data/sql/updates/pending_db_world/rev_1664637924608497900.sql
Labels: DB, To Be Merged, 60

#13170 fix(DB/creature_loot_template): Sunstrider Isle Quest Rate Fixes
  data/sql/updates/pending_db_world/rev_1664444955521407200.sql
Labels: DB

#13197 Update LFGMgr.cpp
  src/server/game/DungeonFinding/LFGMgr.cpp
Labels: CORE, file-cpp

#13174 fix(DB/creature_loot_template): Branch of Cenarius should not drop from Prince Raze
  data/sql/updates/pending_db_world/rev_1664495426800201100.sql
Labels: DB

#13202 fix(DB/Quest): The Alliance Needs Silk Bandages completion text
  data/sql/updates/pending_db_world/rev_1664667583199432200.sql
Labels: DB, To Be Merged

#11079 QAston Proc System
  .gitignore
  data/sql/updates/pending_db_world/rev_1647677899565690722.sql
  src/server/game/Combat/ThreatMgr.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.h
  src/server/game/Spells/Auras/SpellAuras.cpp
  src/server/game/Spells/Auras/SpellAuras.h
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
  src/server/game/Spells/SpellDefines.h
  src/server/game/Spells/SpellEffects.cpp
  src/server/game/Spells/SpellInfo.cpp
  src/server/game/Spells/SpellInfo.h
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/game/Spells/SpellMgr.cpp
  src/server/game/Spells/SpellMgr.h
  src/server/game/Spells/SpellScript.cpp
  src/server/game/Spells/SpellScript.h
  src/server/game/World/World.cpp
  src/server/scripts/Commands/cs_reload.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_anetheron.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_twin_valkyr.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_blood_prince_council.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_deathbringer_saurfang.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_professor_putricide.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_yoggsaron.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/utgarde_keep.cpp
  src/server/scripts/Outland/Auchindoun/ShadowLabyrinth/shadow_labyrinth.cpp
  src/server/scripts/Outland/boss_doomlord_kazzak.cpp
  src/server/scripts/Outland/outland_script_loader.cpp
  src/server/scripts/Pet/pet_hunter.cpp
  src/server/scripts/Pet/pet_priest.cpp
  src/server/scripts/Spells/spell_dk.cpp
  src/server/scripts/Spells/spell_druid.cpp
  src/server/scripts/Spells/spell_generic.cpp
  src/server/scripts/Spells/spell_hunter.cpp
  src/server/scripts/Spells/spell_item.cpp
  src/server/scripts/Spells/spell_mage.cpp
  src/server/scripts/Spells/spell_paladin.cpp
  src/server/scripts/Spells/spell_priest.cpp
  src/server/scripts/Spells/spell_rogue.cpp
  src/server/scripts/Spells/spell_shaman.cpp
  src/server/scripts/Spells/spell_warlock.cpp
  src/server/scripts/Spells/spell_warrior.cpp
  src/server/shared/DataStores/DBCStructure.h
  src/server/shared/SharedDefines.h
  src/server/shared/enuminfo_SharedDefines.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#13230 fix: Crash
  src/server/game/Spells/Spell.cpp
Labels: CORE, To Be Merged, file-cpp

#13241 fix: Crash
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
  src/server/game/Spells/SpellDefines.h
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/Pet/pet_hunter.cpp
  src/server/scripts/Spells/spell_dk.cpp
  src/server/scripts/Spells/spell_druid.cpp
  src/server/scripts/Spells/spell_generic.cpp
  src/server/scripts/Spells/spell_hunter.cpp
  src/server/scripts/Spells/spell_item.cpp
  src/server/scripts/Spells/spell_mage.cpp
  src/server/scripts/Spells/spell_paladin.cpp
  src/server/scripts/Spells/spell_priest.cpp
  src/server/scripts/Spells/spell_rogue.cpp
  src/server/scripts/Spells/spell_shaman.cpp
  src/server/scripts/Spells/spell_warlock.cpp
  src/server/scripts/Spells/spell_warrior.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#13292 fix(Core): Crash
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#13271 fix(Core/QAston): fixed shields oneshotting
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#13182 fix(Core/TempleOfAhnQiraj): Huhuran timers + EventMap::Repeat
  src/common/Utilities/EventMap.cpp
  src/common/Utilities/EventMap.h
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_huhuran.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#13308 feat(docker): implemented dbimport
  .dockerignore
  .github/workflows/docker_build.yml
  .gitignore
  apps/bash_shared/deno.sh
  apps/ci/ci-import-db.sh
  apps/compiler/includes/functions.sh
  apps/db_assembler/README.md
  apps/db_assembler/conf.dist.sh
  apps/docker/Dockerfile
  apps/docker/docker-cmd.ts
  apps/installer/includes/includes.sh
  apps/installer/main.sh
  conf/dist/config.sh
  docker-compose.yml
  env/docker/etc/dbimport.conf.dockerdist
Labels: Platform-Docker, Workflow, To Be Merged, Bash, run-build

#13320 fix: Qaston revert
  .gitignore
  data/sql/updates/db_world/2022_10_02_01.sql
  data/sql/updates/pending_db_world/rev_1664980163888388800.sql
  src/server/game/Combat/ThreatMgr.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.h
  src/server/game/Spells/Auras/SpellAuras.cpp
  src/server/game/Spells/Auras/SpellAuras.h
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
  src/server/game/Spells/SpellDefines.h
  src/server/game/Spells/SpellEffects.cpp
  src/server/game/Spells/SpellInfo.cpp
  src/server/game/Spells/SpellInfo.h
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/game/Spells/SpellMgr.cpp
  src/server/game/Spells/SpellMgr.h
  src/server/game/Spells/SpellScript.cpp
  src/server/game/Spells/SpellScript.h
  src/server/game/World/World.cpp
  src/server/scripts/Commands/cs_reload.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_anetheron.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_twin_valkyr.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_blood_prince_council.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_deathbringer_saurfang.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_professor_putricide.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_yoggsaron.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/utgarde_keep.cpp
  src/server/scripts/Outland/Auchindoun/ShadowLabyrinth/shadow_labyrinth.cpp
  src/server/scripts/Outland/boss_doomlord_kazzak.cpp
  src/server/scripts/Outland/outland_script_loader.cpp
  src/server/scripts/Pet/pet_hunter.cpp
  src/server/scripts/Pet/pet_priest.cpp
  src/server/scripts/Spells/spell_dk.cpp
  src/server/scripts/Spells/spell_druid.cpp
  src/server/scripts/Spells/spell_generic.cpp
  src/server/scripts/Spells/spell_hunter.cpp
  src/server/scripts/Spells/spell_item.cpp
  src/server/scripts/Spells/spell_mage.cpp
  src/server/scripts/Spells/spell_paladin.cpp
  src/server/scripts/Spells/spell_priest.cpp
  src/server/scripts/Spells/spell_rogue.cpp
  src/server/scripts/Spells/spell_shaman.cpp
  src/server/scripts/Spells/spell_warlock.cpp
  src/server/scripts/Spells/spell_warrior.cpp
  src/server/shared/DataStores/DBCStructure.h
  src/server/shared/SharedDefines.h
  src/server/shared/enuminfo_SharedDefines.cpp
Labels: DB, CORE, Script, run-build, file-cpp, To Be Merged - Later

#13180 fix(Core/Vehicle): Crash
  src/server/game/Entities/Vehicle/Vehicle.cpp
Labels: CORE, Waiting to be Tested, Priority-Critical, file-cpp

#13184 fix(Scripts/Temple of AhnQiraj): Sartura's Sundering Cleave should be…
  data/sql/updates/pending_db_world/rev_1664616629895100900.sql
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_sartura.cpp
Labels: DB, CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#13192 fix(Core/Spells): Rental Racing Ram will not be removed upon entering…
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, World Event, file-cpp

#13210 fix(DB/Disables): Ossirian Crystals should not block LoS.
  data/sql/updates/pending_db_world/rev_1664728395247854700.sql
Labels: DB, To Be Merged, 60, Instance - Raid - Vanilla

#13211 fix(DB/Spells): Using Ossirian Crystal should not prevent from castin…
  data/sql/updates/pending_db_world/rev_1664729326847928700.sql
Labels: DB, To Be Merged, 60, Instance - Raid - Vanilla

#13153 fix(Scripts/TempleOfAhnQiraj): C'thun
  data/sql/updates/pending_db_world/rev_1664246616057619800.sql
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#13187 fix(Scripts/Temple of AhnQiraj): Adjusted Sartura's event timers.
  src/common/Utilities/EventMap.h
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_sartura.cpp
Labels: CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#13130 fix(Core/Creatures): Renamed `CREATURE_FLAG_EXTRA_DONT_CALL_ASSISTANCE` to `CREATURE_FLAG_EXTRA_IGNORE_ASSISTANCE_CALL`
  data/sql/updates/pending_db_world/rev_1664702825623205700.sql
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Entities/Creature/enuminfo_CreatureData.cpp
  src/server/game/Entities/Unit/Unit.cpp
Labels: DB, CORE, To Be Merged, 60, Instance - Raid - Vanilla, file-cpp

#13327 fix(DB/loot): Adjust AQ40 loot
  data/sql/updates/pending_db_world/rev_1662213489218975200.sql
Labels: DB, To Be Merged, 60

#13337 fix(DB/creature): Add id2 to Qiraji Scarabs/Scorpions
  data/sql/updates/pending_db_world/rev_1665108660264438400.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 60

#13339 fix(DB/creature_template): Update AQ40 detection ranges
  data/sql/updates/pending_db_world/rev_1665166481073025800.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 60

#13333 fix(DB/spell_bonus_data): Add Missing Spell Bonus Data
  data/sql/updates/pending_db_world/rev_1665083915954697700.sql
Labels: DB, To Be Merged

#13328 fix(db/creature_loot_template): Item 21757 and 21771 rate corrections
  data/sql/updates/pending_db_world/rev_1665047704458371200.sql
Labels: DB, To Be Merged

#13317 fix(DB/gameobject): improve Captain Kelisendra's Cargo spawnpoints
  data/sql/updates/pending_db_world/rev_1664935330890249100.sql
Labels: DB

#13315 fix(DB/creature): Grimscale Murloc improvements in Eversong Woods
  data/sql/updates/pending_db_world/rev_1664929532434519400.sql
Labels: DB

#13336 fix(Scripts/TempleOfAhnQiraj): Despawn Eye of Cthun once encounter is…
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
Labels: CORE, Script, file-cpp

#13209 fix(Scripts/MoltenCore): Added loot recipient to Cache of the Firelord.
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/instance_molten_core.cpp
Labels: To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#13206 fix(DB/Quest): Morganth
  data/sql/updates/pending_db_world/rev_1664717737363595400.sql
Labels: DB, To Be Merged

#13050 feat(Core/Items): Implemented elemental weapon damage. Source: Trinit…
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/StatSystem.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
  src/server/game/Spells/SpellEffects.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_viscidus.cpp
  src/server/scripts/Spells/spell_dk.cpp
  src/server/scripts/Spells/spell_warrior.cpp
Labels: ChromieCraft Generic, Priority-High, CORE, To Be Merged, Script, file-cpp, BREAKING CHANGE

#13350 fix(Scripts/TempleOfAhnQiraj): Correct Dark Glare's radius
  data/sql/updates/pending_db_world/rev_1665274040139039300.sql
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#13355 feat(Core/DB): add support range loop for mysql result
  src/server/apps/authserver/Server/AuthSession.cpp
  src/server/database/Database/QueryResult.h
  src/server/shared/Realms/RealmList.cpp
Labels: CORE, file-cpp

#13359 fix(DB/loot): Remove AQ20 Idols from AQ40 mobs
  data/sql/updates/pending_db_world/rev_1665328169532042800.sql
Labels: DB, To Be Merged, 60

#13361 fix(Scripts/TempleOfAnhQiraj): Fix Digestive Acid not stacking
  data/sql/updates/pending_db_world/rev_1665344142978704300.sql
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#13366 fix(DB/creature): Set STATE_MELEE to Twin Emperors
  data/sql/updates/pending_db_world/rev_1665354750522312300.sql
Labels: DB, To Be Merged, 60

#13363 fix(Scripts/TempleOfAhnQiraj): Don't submerge Ouro if it's already en…
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_ouro.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#13344 fix(DB/pool): Pool Spawn of Hakkar to avoid double spawns
  data/sql/updates/pending_db_world/rev_1665240765400094500.sql
Labels: 40-49, DB, To Be Merged

#13383 fix(db/creature): Springpaw pelt should drop less
  data/sql/updates/pending_db_world/springpawpelt.sql
Labels: DB, To Be Merged, Loot

#13167 fix(DB/creature_loot): Corrects all incorrect quest rates in Ammen Vale
  data/sql/updates/pending_db_world/rev_1664322385002360300.sql
Labels: 1-19, DB, To Be Merged, Ready to be Reviewed

#13165 fix(DB): Add Horizon crew
  data/sql/updates/pending_db_world/rev_1664317277371782800.sql
Labels: DB, To Be Merged

#13352 fix(DB/creature_addon): Add missing auras to creature_addon
  data/sql/updates/pending_db_world/rev_1665277966394437000.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#13389 Add (core\db): Support for Homebind Orientation
  data/sql/updates/db_characters/Homebind_Orientation.sql
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/game/DungeonFinding/LFGScripts.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerStorage.cpp
  src/server/game/Entities/Player/PlayerUpdates.cpp
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Handlers/MiscHandler.cpp
  src/server/game/Handlers/MovementHandler.cpp
  src/server/game/Maps/Map.cpp
  src/server/game/Spells/Spell.cpp
  src/server/scripts/Commands/cs_misc.cpp
  src/server/scripts/Commands/cs_tele.cpp
  src/server/scripts/Northrend/VaultOfArchavon/instance_vault_of_archavon.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp, Tested

#13399 fix (updates\sql): Move orientation to pending
  data/sql/updates/pending_db_characters/Homebind_Orientation.sql
Labels: DB

#12381 fix(Scripts/ICC): gossip in boss Deathbringer Saurfang
  data/sql/updates/pending_db_world/rev_1657762683954396900.sql
  src/server/scripts/Northrend/IcecrownCitadel/boss_deathbringer_saurfang.cpp
Labels: Workflow, DB, CORE, To Be Merged, Script, file-cpp

#13410 chore(bash/db_assembler): show deprecation warning
  apps/db_assembler/db_assembler.sh
Labels: To Be Merged, Bash

#13406 fix(DB/creature_template): Add IGNORE_ASSISTANCE_CALL to Anubisath Sentinel
  data/sql/updates/pending_db_world/rev_1665712907402997300.sql
Labels: DB, To Be Merged

#13403 fix(Scripts/TempleOfAhnQiraj): Make Nullify consume mana
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/temple_of_ahnqiraj.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#13408 fix(Scripts/TempleOfAhnQiraj): Change spawn mode for Spawn of Fankriss
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, file-cpp

#13407 fix(Scripts/TempleOfAhnQiraj): Huhuran and Viscidus combat range
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_huhuran.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_viscidus.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#13405 fix(Scripts/TempleOfAhnQiraj): Ouro double spawn in 3rd phase
  data/sql/updates/pending_db_world/rev_1665712684667487900.sql
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_ouro.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/instance_temple_of_ahnqiraj.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp, Tested

#13162 fix(DB): Add sharks
  data/sql/updates/pending_db_world/rev_1664310727301327900.sql
Labels: DB, To Be Merged

#13199 fix(DB/creature_template): Import Vmangos values for Dragons of Nightmare and Azuregos
  data/sql/updates/pending_db_world/rev_1664655909869728000.sql
Labels: DB, To Be Merged, 60

#13233 fix(Scripts/NPC): Arcanite Dragonling
  data/sql/updates/pending_db_world/rev_1664763129717947000.sql
  src/server/scripts/World/npcs_special.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#13303 fix (core): Header consistency
  src/common/Banner.cpp
  src/common/Banner.h
Labels: CORE, To Be Merged, file-cpp

#13319 fix(DB/pools): Update herb pooling in TBC starter zones
  data/sql/updates/pending_db_world/rev_1664939937236076100.sql
Labels: 1-19, DB, To Be Merged

#13326 Fix(core/scripts): issue 13325 - reset talents command
  src/server/scripts/Commands/cs_reset.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#13338 fix(Core): Fix PlayerSettingVectors
  src/server/game/Entities/Player/PlayerSettings.cpp
Labels: CORE, To Be Merged, file-cpp

#13348 fix(DB/loot): Remove skinning loot from creatures that shouldn't be skinnable
  data/sql/updates/pending_db_world/rev_1665250992619716400.sql
Labels: DB, To Be Merged, 60

#13349 fix(DB/creature): Adjust Shatterspear respawn timer
  data/sql/updates/pending_db_world/rev_1665269180018074500.sql
Labels: 50-59, DB, To Be Merged

#13381 fix(core): Horde Warsong Gulch gates dont despawn
  src/server/game/Battlegrounds/Zones/BattlegroundWS.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundWS.h
Labels: CORE, To Be Merged, file-cpp, Tested

#13392 fix(DB): Remove Skinning loot from Giant Buzzard
  data/sql/updates/pending_db_world/rev_1665525266543513900.sql
Labels: DB, To Be Merged

#13413 fix(Scripts/TempleOfAhnQiraj): Fix double spawns during Cthun phase 2 and several other fixes
  data/sql/updates/pending_db_world/rev_1665784753998414100.sql
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp, Tested

#13414 fix(DB/creature_template): Remove gold from Giant Eye Tentacle
  data/sql/updates/pending_db_world/rev_1665799472044108200.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#13416 fix(DB/gameobject): Dutotar Food and Water Gameobject Overhaul
  data/sql/updates/pending_db_world/durotarinsanity.sql
Labels: DB, To Be Merged, Tested

#13411 fix(core): Text when capturing an alterac valley mine is the wrong way around
  src/server/game/Battlegrounds/Zones/BattlegroundAV.cpp
Labels: CORE, To Be Merged, file-cpp, Tested

#13424 fix(Core/Spells): Overflow damage
  src/server/game/Entities/Unit/StatSystem.cpp
  src/server/scripts/Spells/spell_rogue.cpp
  src/server/scripts/Spells/spell_warrior.cpp
Labels: CORE, To Be Merged, Script, file-cpp, Tested

#13425 fix(Core): Build
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
Labels: CORE, Script, file-cpp

#13185 fix(Scripts/Temple of AhnQiraj): Fixed Sartura's aggro reset mechanic.
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_sartura.cpp
Labels: CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#13436 fix(Scripts/TempleOfAhnQiraj): Use correct Ids for Drain Mana
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/temple_of_ahnqiraj.cpp
Labels: CORE, Script, file-cpp

#13438 fix(Scripts/TempleOfAhnQiraj): C'Thun pull range
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#13428 fix(db/smartscripts): vekniss warrior should not use impale
  data/sql/updates/pending_db_world/veknissimpale.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Tested

#13437 fix(Scripts/TempleOfAhnQiraj): Correct post-teleport threat values for Twin Emperors
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_twinemperors.cpp
Labels: CORE, Script, file-cpp

#13435 fix(Scripts/TempleOfAhnQiraj): Anubisath Sentinel Mortal Strike and M…
  data/sql/updates/pending_db_world/rev_1665949856612609200.sql
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/mob_anubisath_sentinel.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#13422 fix(Scripts/TempleOfAhnQiraj): Skeram copies shouldn't save raid cd
  data/sql/updates/pending_db_world/rev_1665863988336160100.sql
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_skeram.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#13404 fix(CORE/dbupdate)): allow to pass MySQL password via env
  .devcontainer/devcontainer.json
  .github/workflows/core_build.yml
  .github/workflows/core_matrix_build.yml
  src/common/Utilities/StartProcess.cpp
  src/common/Utilities/StartProcess.h
  src/server/database/Updater/DBUpdater.cpp
Labels: Workflow, CORE, To Be Merged, file-cpp

#13445 fix(CORE): gcc compilation errors with gtest
  src/cmake/googletest-download.cmake
Labels: CORE, run-build

#13444 feat(CORE/docker): switch to `docker compose` and check the version
  .github/workflows/docker_build.yml
  .vscode/launch.json
  apps/docker/docker-cmd.ts
  conf/dist/env.docker
Labels: Workflow, To Be Merged, run-build

#13453 fix: codestyle CI
  src/server/database/Updater/DBUpdater.cpp
Labels: CORE, file-cpp

#13452 Fix (core): SMSG_BINDPOINTUPDATE packet fix
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#13429 fix(DB/item_template): Blue sack of gems should not multidrop
  data/sql/updates/pending_db_world/bluesackofgems.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Tested

#13450 feat(CORE): implemented AC_DISABLE_INTERACTIVE for DBUpdater
  docker-compose.yml
  src/server/database/Updater/DBUpdater.cpp
Labels: CORE, To Be Merged, run-build, file-cpp

#13430 fix(DB/gameobject, pool): overhaul Durotar chests
  data/sql/updates/pending_db_world/rev_1665912446406640400.sql
Labels: DB

#12506 fix(Core/Event): Rework STV Fishing Extravaganza
  data/sql/updates/pending_db_characters/rev_1660418251471829700.sql
  data/sql/updates/pending_db_world/rev_1658570956441891600.sql
  src/server/game/Conditions/ConditionMgr.cpp
  src/server/scripts/World/npcs_special.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#13461 fix(DB/SAI): Script Colossus of Zora, Ashi and Regal (AQ War Event npcs)
  data/sql/updates/pending_db_world/rev_1666161625586797500.sql
Labels: To Be Merged, Ready to be Reviewed

#13448 Fix (db): Graveyard Frostmane Hold Alliance
  data/sql/updates/pending_db_world/frostmane_alliance_grave_fix.sql
Labels: DB, Waiting to be Tested

#13449 fix(CORE): another attempt to fix the dbimport command line warning
  apps/docker/Dockerfile
  env/docker/etc/authserver.conf.dockerdist
  env/docker/etc/dbimport.conf.dockerdist
  env/docker/etc/worldserver.conf.dockerdist
  src/common/Utilities/StringFormat.cpp
  src/common/Utilities/StringFormat.h
  src/server/apps/authserver/authserver.conf.dist
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/database/Updater/DBUpdater.cpp
  src/tools/dbimport/dbimport.conf.dist
Labels: CORE, run-build, file-cpp

#13479 fix(Scripts/TempleOfAhnQiraj): Fix Cthun 3-beam focus mechanic resett…
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#13476 feat(CORE/bash): implemented acore dashboard for Windows
  .github/workflows/windows_build.yml
  .vscode/settings.json
  apps/ci/ci-dry-run.sh
  apps/ci/ci-gen-server-conf-files.sh
  apps/ci/ci-install.sh
  apps/compiler/includes/functions.sh
  apps/installer/includes/os_configs/windows.sh
  src/cmake/macros/FindMySQL.cmake
Labels: Workflow, CORE, Bash, run-build

#13488 fix(DB/HallowsEnd): Fixed "Trick or Treat" gossip option for Innkeepe…
  data/sql/updates/pending_db_world/rev_1666432426153540900.sql
Labels: DB, To Be Merged, World Event

#13447 Add (core): Effect Transmit Anticheat Helper
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, To Be Merged, file-cpp

#13487 fix(Scripts/HallowsEnd): Fixed starting "Let the fires come" event.
  data/sql/updates/pending_db_world/rev_1666431872120651800.sql
  src/server/scripts/Events/hallows_end.cpp
Labels: DB, Priority-High, CORE, To Be Merged, World Event, Script, file-cpp

#13486 fix(DB/HallowsEnd): Fixed quest chaining of Fire Brigade Practice and…
  data/sql/updates/pending_db_world/rev_1666430766851335200.sql
Labels: DB, Priority-High, Waiting to be Tested, World Event

#13500 fix(Scripts/TempleOfAhnQiraj): Correct Anubisath Defender Explode spell ID
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/temple_of_ahnqiraj.cpp
Labels: CORE, Script, file-cpp

#13495 fix(DB/Creatures): Timothy Cunningham should be civilian.
  data/sql/updates/pending_db_world/rev_1666455090199987000.sql
Labels: 1-19, DB, To Be Merged

#13482 fix(Scripts/TempleOfAhnQiraj): Prevent Uppercut from triggering Double Attack
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_twinemperors.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#13494 fix(Core/Spells): Deep Wounds can proc off from non-physical spells.
  src/server/game/Entities/Unit/Unit.cpp
Labels: Class - Warrior, ChromieCraft Generic, CORE, To Be Merged, file-cpp

#13481 fix(Scripts/TempleOfAhnQiraj): Prevent Sartura from casting Whirlwind while stunned
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_sartura.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#13517 fix(Core/Event): STV Riggle Bassbait broadcast text ids
  src/server/scripts/World/npcs_special.cpp
Labels: CORE, Script, file-cpp

#13527 fix(Core/ObjectAcessor): Fix crash caused by forced character renames
  src/server/game/Globals/ObjectAccessor.cpp
  src/server/game/Globals/ObjectAccessor.h
  src/server/scripts/Commands/cs_character.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#13532 feat(Scripts/Commands): Implement character changeaccount command
  data/sql/updates/pending_db_world/rev_1666552438715725700.sql
  src/server/game/Miscellaneous/Language.h
  src/server/scripts/Commands/cs_character.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#13541 fix(Scripts/TempleOfAhnQiraj): Make sure Sartura adds respawn on evade
  data/sql/updates/pending_db_world/rev_1666648043812780000.sql
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_sartura.cpp
Labels: DB, CORE, Script, file-cpp

#13528 fix(DB/Movement): Root the Eye of C'thun
  data/sql/updates/pending_db_world/rev_1666547226677678700.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#13543 fix(Scripts/TempleOfAhnQiraj): Fix Veklor hitbox
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_twinemperors.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#13492 fix(Scripts/Temple of AhnQiraj): Slime Toxin clouds should despawn 10…
  src/server/game/AI/ScriptedAI/ScriptedCreature.cpp
  src/server/game/AI/ScriptedAI/ScriptedCreature.h
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_viscidus.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#13208 fix(DB/Spells): Spell Axe Flurry should target only one player.
  data/sql/updates/pending_db_world/rev_1664723236445660400.sql
  src/server/scripts/EasternKingdoms/ZulGurub/zulgurub.cpp
  src/server/scripts/EasternKingdoms/eastern_kingdoms_script_loader.cpp
Labels: DB, CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#13468 fix(Scripts/TempleOfAhnQiraj): Huhuran's Wyvern Sting should hit the …
  data/sql/updates/pending_db_world/rev_1666317141846378900.sql
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_huhuran.cpp
Labels: DB, To Be Merged, Ready to be Reviewed

#13550 fix(Scripts/TempleOfAhnQiraj): Don't let Giant Claw Tentacles autoatt…
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#13496 fix(DB/Spells): Fiery Payback should have 1min internal cooldown.
  data/sql/updates/pending_db_world/rev_1666457333873760600.sql
Labels: ChromieCraft Generic, DB, To Be Merged, Class - Mage

#13559 fix: Crash
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/temple_of_ahnqiraj.cpp
Labels: CORE, Script, file-cpp

#13519 fix(Core/Movement): Fixed mobs evading attacks in case of incompleted…
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Movement/MMaps, file-cpp

#13489 fix(Core/Creatures): Fixed loading transform auras from DB.
  src/server/game/Entities/Creature/Creature.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, World Event, file-cpp

#13503 fix(Scripts/Temple of AhnQiraj): Cthun Grasps should despawn on Cthun…
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
Labels: To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#13577 fix(scripts/Ouro): Sand Blast threat-wipe mechanic
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_ouro.cpp
Labels: CORE, Script, file-cpp

#13581 fix(Scripts/TempleOfAhnQiraj): Properly prevent Uppercut from triggering Double Attack
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_twinemperors.cpp
Labels: CORE, Script, file-cpp

#13576 fix(DB/creature_template): AQ40 taunt immunity
  data/sql/updates/pending_db_world/rev_1666968820839009500.sql
Labels: DB, 60, Instance - Raid - Vanilla

#13578 fix(Scripts/TempleOfAhnQiraj): Ouro Sand Blast should hit top threat …
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_ouro.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#13483 fix(DB/creature_template): Add interrupt immunity to Emperor Vek'lor
  data/sql/updates/pending_db_world/rev_1666399404567254100.sql
Labels: DB, To Be Merged

#13524 fix(Core/Movement): Removed some leftover after c8f43d85849.
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Movement/Spline/MoveSpline.cpp
  src/server/game/Movement/Spline/MoveSpline.h
  src/server/game/Movement/Spline/MoveSplineInit.cpp
  src/server/game/Movement/Spline/MovementPacketBuilder.cpp
  src/server/game/Movement/Spline/Spline.cpp
  src/server/game/Movement/Spline/Spline.h
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp

#13525 fix(Core/Quest): Fixed implementation of `CONFIG_QUEST_IGNORE_AUTO_ACCEPT` and `CONFIG_QUEST_IGNORE_AUTO_COMPLETE` configs.
  src/server/game/Quests/QuestDef.cpp
Labels: Quest, CORE, To Be Merged, file-cpp

#13529 fix(Scripts/Commands): Fixed command `learn all my talents` for chars…
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/scripts/Commands/cs_learn.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#13521 fix(Core/Spells): Fixed calculating LoS for dynamic objects.
  src/server/game/Spells/Auras/SpellAuras.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Priority-Medium, file-cpp

#13504 fix(Core/Spells): Maelstrom Weapon should not reset attack timers.
  src/server/game/Spells/Spell.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Class - Shaman, file-cpp

#13518 fix(Core/Spells): Implemented SPELL_HIT_TYPE_SPLIT hit type. Source: …
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Spells/SpellEffects.cpp
  src/server/shared/SharedDefines.h
Labels: ChromieCraft Generic, CORE, To Be Merged, Class - Warlock, file-cpp

#13516 fix(DB/WorldEvents): Added missing spawn of Katrina Shimmerstar.
  data/sql/updates/pending_db_world/rev_1666530994967113600.sql
Labels: DB, To Be Merged, World Event

#13522 fix(Core/Pets): Tamed hunter pets should deal physical damage.
  src/server/game/Entities/Pet/Pet.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Class - Hunter, file-cpp

#13508 fix(Scripts/MoltenCore: Lava Spawn.
  data/sql/updates/pending_db_world/rev_1666516880898803000.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/molten_core.cpp
Labels: DB, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#13507 fix(DB/Spells): Bloodsurge vs Slam.
  data/sql/updates/pending_db_world/rev_1666513208047763600.sql
Labels: Class - Warrior, ChromieCraft Generic, DB, Priority-High, To Be Merged

#13493 fix(Core/Players): Players should nt able to rest in unfriendly taver…
  data/sql/updates/pending_db_world/rev_1666450482825467900.sql
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Handlers/MiscHandler.cpp
Labels: ChromieCraft Generic, DB, CORE, To Be Merged, file-cpp

#13526 fix(Core/Players): Fixed obtaining extra (custom) talent points only …
  src/server/game/Entities/Player/Player.cpp
Labels: Quest, CORE, To Be Merged, file-cpp

#13485 fix(Core/Units): Fixed uninitialized `m_cleanDamage` variable after e390087
  src/server/game/Entities/Unit/Unit.cpp
  src/server/scripts/Spells/spell_rogue.cpp
  src/server/scripts/Spells/spell_warrior.cpp
Labels: Class - Warrior, ChromieCraft Generic, Priority-High, CORE, To Be Merged, Class - Rogue, Script, file-cpp

#13499 fix(Core/Spells): Spells requires cast from behind victim bypass Dete…
  src/server/game/Entities/Unit/Unit.cpp
Labels: PvP, ChromieCraft Generic, CORE, To Be Merged, Class - Hunter, file-cpp

#13607 fix(DB/creature_loot_template): Fix Burning Legion Missive drop chance
  data/sql/updates/pending_db_world/rev_1667137824014916600.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 61-64

#13615 fix(Scripts/TempleOfAhnQiraj): Fix Sartura not enraging if stunned
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_sartura.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#12960 feat(DB): Change VerifiedBuild datatype to MEDIUMINT
  data/sql/updates/pending_db_world/verifiedbuild.sql
Labels: DB, Needs Feedback
