Repository azerothcore/azerothcore-wotlk, pull requests merged in 2022-08, with the labels that each got.

#12582 fix(Core/Services): Re-check all achievement criterias on faction cha…
  src/server/game/Handlers/CharacterHandler.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp

#12555 fix(DB/creature): update pos z for guid 34977
  data/sql/updates/pending_db_world/rev_1658886173744516000.sql
Labels: DB, To Be Merged

#12600 fix(DB/Creature): Deliana and other npcs spawn time
  data/sql/updates/pending_db_world/rev_1659289474965390600.sql
Labels: DB, To Be Merged

#12360 fix(DB/creature) Trainer in Outland
  data/sql/updates/pending_db_world/rev_1657532017676037163.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12382 fix(DB/gameobject): Ghost Mushroom Position
  data/sql/updates/pending_db_world/rev_1657898491936446500.sql
Labels: DB, To Be Merged

#12490 fix(DB/gossip_menu_option): Correct Marin Noggenfogger text
  data/sql/updates/pending_db_world/rev_1658514767872316300.sql
Labels: DB, To Be Merged

#12491 fix(DB): Sprinkle's Secret Ingredient Outro Event
  data/sql/updates/pending_db_world/rev_1658515102793478000.sql
Labels: DB, To Be Merged

#12492 fix(DB): Restore Goodsteel Ledger
  data/sql/updates/pending_db_world/rev_1658519096000543100.sql
Labels: DB, To Be Merged

#12493 fix(DB/creature, pools, formations): Continued ZG Before Bats work
  data/sql/updates/pending_db_world/rev_1658532736609953400.sql
Labels: DB, To Be Merged

#12494 fix(DB/creature_formations): Fixes Agro on pack
  data/sql/updates/pending_db_world/rev_1658535848721793000.sql
Labels: DB, To Be Merged

#12505 fix(Scripts/Spells): Properly handle spellclick flag for Lightwell.
  src/server/scripts/Spells/spell_priest.cpp
Labels: To Be Merged, Class - Priest, Script, file-cpp

#12514 fix(DB/Creature): Set wander_distance for creatures 21773, 21774, 21775
  data/sql/updates/pending_db_world/rev_1658622609596209300.sql
Labels: 40-49, DB, To Be Merged

#12519 fix(DB/creature): correct spawn position of npc 1568
  data/sql/updates/pending_db_world/rev_1658058502913230900.sql
Labels: 1-19, DB, To Be Merged

#12523 fix(DB/creature, pools, formations): Before Bat Area Creature Work Final
  data/sql/updates/pending_db_world/rev_1658700301267875700.sql
Labels: DB, To Be Merged

#12529 fix(SmartScript/Creature): Hakkari Witchdoctor smartscript
  data/sql/updates/pending_db_world/hakkariwitchdoctor.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12564 Add Black Bear Pack northwest of the Ironforge Airfield.
  data/sql/updates/pending_db_world/black-bear-pack.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12572 (DB/creature_template): Make Nefarian's Troops [trigger] invisible
  data/sql/updates/pending_db_world/rev_1659015925728207500.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12580 fix(Core/SmartScripts): Fixed `SMART_ACTION_START_FOLLOW` not complet…
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp

#12583 fix(Scripts/Spells): Fixed T3 4P Frostfire Regalia bonus not proccing.
  src/server/scripts/Spells/spell_generic.cpp
Labels: ChromieCraft Generic, To Be Merged, Class - Mage, Script, file-cpp

#12601 fix(DB/Spells): Hive'Zara Tail Lasher's Tail Lash
  data/sql/updates/pending_db_world/rev_1659291517838965500.sql
Labels: DB, To Be Merged

#12511 fix(DB/creature, pools): ZG Before Bats cont. Troll 3-pack
  data/sql/updates/pending_db_world/rev_1658607158126098600.sql
Labels: DB, To Be Merged

#12602 fix(DB/RuinsOfAhnQiraj): add missing SAI for some creatures
  data/sql/updates/pending_db_world/rev_1659293964039098600.sql
Labels: DB, To Be Merged

#12547 fix(Core/RuinsOfAhnQiraj): Ossirian Crystals: Weakness spells
  data/sql/updates/pending_db_world/rev_1658855914422981600.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ossirian.cpp
Labels: DB, CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#12347 fix(Core/Movement): Improvements to taxi flight movement generator:
  data/sql/updates/pending_db_characters/rev_1657451078722098300.sql
  src/server/game/DataStores/DBCStores.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerStorage.cpp
  src/server/game/Entities/Player/PlayerTaxi.cpp
  src/server/game/Entities/Player/PlayerTaxi.h
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Handlers/MovementHandler.cpp
  src/server/game/Handlers/TaxiHandler.cpp
  src/server/game/Movement/MovementGenerators/WaypointMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/WaypointMovementGenerator.h
  src/server/shared/DataStores/DBCStructure.h
Labels: ChromieCraft Generic, DB, CORE, To Be Merged, file-cpp

#12609 fix(Core/Spells): Crashfix
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Spell.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#12611 fix(Core): Crash on Mandokir gaze
  src/server/scripts/EasternKingdoms/ZulGurub/boss_mandokir.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#12610 fix(Core/Scripts): Ayamiss crashfix
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ayamiss.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#12616 fix(Core): Freeze on Lord Jaraxxus
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_lord_jaraxxus.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#12549 update (source): Establish chapter 3 dk script
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter2.cpp
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter3.cpp
  src/server/scripts/EasternKingdoms/eastern_kingdoms_script_loader.cpp
Labels: 50-59, CORE, To Be Merged, Script, file-cpp, Tested

#12632 feat(Core/Utilities): add event emitter class
  src/common/Utilities/EventEmitter.h
Labels: CORE, Ready to be Reviewed, run-build, file-cpp

#12614 fix(Core/AI): correct Permit level for trigger flagged creatures
  src/server/game/AI/CoreAI/PassiveAI.cpp
Labels: CORE, To Be Merged, file-cpp

#12599 fix(Core/TempleOfAhnQiraj): Bug Trio
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_bug_trio.cpp
Labels: CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#12620 fix(Core/SAI): Unused parameters warnings
  data/sql/updates/pending_db_world/rev_1659574137813657500.sql
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
Labels: DB, CORE, To Be Merged, run-build, file-cpp

#12623 refactor(Core/Scripts): Move AQ scripts to new scripting system
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ayamiss.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_buru.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_moam.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_rajaxx.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_bug_trio.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_fankriss.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_huhuran.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_ouro.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_skeram.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_twinemperors.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_viscidus.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/temple_of_ahnqiraj.h
Labels: CORE, To Be Merged, Script, file-cpp

#12595 fix(Scripts/Spells): Readiness should remove all spell category coold…
  src/server/scripts/Spells/spell_hunter.cpp
Labels: ChromieCraft Generic, To Be Merged, Class - Hunter, Script, file-cpp

#12596 fix(Core/Spells): Volley should suspend auto-shot.
  src/server/game/Entities/Unit/Unit.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Class - Hunter, file-cpp

#12597 fix(DB/Spells): Fixed Hunter T3 4P bonus.
  data/sql/updates/pending_db_world/rev_1659261841085305300.sql
Labels: ChromieCraft Generic, DB, To Be Merged, Class - Hunter

#12639 update (core): Knock Back Helpers
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#12598 fix(Core/Spells): Fixed Druid T3 8P bonus.
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
Labels: ChromieCraft Generic, CORE, To Be Merged, Class - Druid, file-cpp

#12642 chore(CI): remove macos-10.15
  .github/workflows/macos_build.yml
Labels: Workflow, run-build

#12552 fix(Scripts/RuinsOfAhnQiraj): Implement Rajaxx waves gear check
  data/sql/updates/pending_db_world/rev_1658867303864464100.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/instance_ruins_of_ahnqiraj.cpp
Labels: DB, WIP, CORE, Ready to be Reviewed, Script, file-cpp

#12650 chore(CI): remove ubuntu-18.04
  .github/SECURITY.md
  .github/workflows/core_matrix_build.yml
  .github/workflows/core_modules_build.yml
  .github/workflows/docker_build.yml
  .github/workflows/macos_build.yml
  .github/workflows/windows_build.yml
Labels: Workflow

#12647 fix(Scripts/AhnQiraj): Fixed activation animation.
  data/sql/updates/pending_db_world/rev_1659805188255061100.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ossirian.cpp
Labels: DB, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#12631 fix(DB/SAI) Update spell timers for AQ20 Trash 15336 and 15319
  data/sql/updates/pending_db_world/rev_1659650326495942600.sql
Labels: DB, To Be Merged, 60

#12635 fix(DB/formations): Add formations to AQ20 zone The Hatchery
  data/sql/updates/pending_db_world/rev_1659661174617366100.sql
Labels: DB, To Be Merged, 60

#12636 fix(DB/SAI) Colonel Zerran (15385) Enlarge spell mechanics
  data/sql/updates/pending_db_world/rev_1659661586230960300.sql
Labels: DB, To Be Merged, 60

#12646 fix(Scripts/AhnQiraj): Increased aggro range for Kurinnaxx.
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_kurinnaxx.cpp
Labels: To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#12644 fix(Core/SmartScripts): Fixed `SMART_TARGET_OWNER_OR_SUMMONER` target.
  src/server/game/AI/SmartScripts/SmartScript.cpp
Labels: ChromieCraft Generic, Priority-High, CORE, To Be Merged, file-cpp

#12648 chore(Core/DBCEnums): Define SummonPropGroup/Flags enums
  src/server/shared/DataStores/DBCEnums.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#12436 Add (Gossip/Locale) City guards
  data/sql/updates/pending_db_world/rev_1658221960996682200.sql
Labels: DB, To Be Merged

#12608 Fix Nefarian Gate Missing #12434
  data/sql/updates/pending_db_world/rev_1659484347526582712.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/blackwing_lair.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/instance_blackwing_lair.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#12660 fix(DB): remove scriptname wrongly assigned
  data/sql/updates/db_world/2022_08_07_05.sql
  data/sql/updates/pending_db_world/rev_1659895072162193400.sql
Labels: DB

#12627 fix(DB/Creature): remove skinning loot from creatures 11374, 10596, 15101 and 15068
  data/sql/updates/pending_db_world/rev_1659629437144429900.sql
Labels: DB, To Be Merged, 60

#12643 fix(Core): Crashfix.
  data/sql/updates/pending_db_characters/rev_1659776114435282400.sql
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerStorage.cpp
  src/server/game/Movement/MovementGenerators/WaypointMovementGenerator.cpp
Labels: ChromieCraft Generic, DB, CORE, To Be Merged, Priority-Critical, file-cpp

#12663 fix(Scripts/Zul'Gurub): Prevent multiple spawns of Gazhranka
  src/server/scripts/EasternKingdoms/ZulGurub/boss_gahzranka.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#12655 fix(Scripts/AhnQiraj): Ossirian the Unscarred - Sand Vortex.
  data/sql/updates/pending_db_world/rev_1659876286945722800.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ossirian.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/instance_ruins_of_ahnqiraj.cpp
Labels: DB, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#12649 fix(Core/Commands): Achievement checkall
  src/server/scripts/Commands/cs_achievement.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#12689 chore(Core/GameObject): Clear an error that often doesn't mean anything
  src/server/game/Entities/GameObject/GameObject.cpp
Labels: CORE, To Be Merged, file-cpp, Tested

#12692 update (core): Additional anticheat helper
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: CORE, file-cpp

#12665 fix(Scripts/RuinsOfAhnQiraj): Use proper spells to spawn Ayamiss larv…
  data/sql/updates/pending_db_world/rev_1659979597195874200.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ayamiss.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#12656 fix(Scripts/AhnQiraj): Anubisath Sentinel and Anubisath Guardian shou…
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ossirian.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/mob_anubisath_sentinel.cpp
Labels: To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#12680 fix(Core/RuinsOfAhnQiraj): Kurinnaxx thrash
  data/sql/updates/pending_db_world/rev_1659982493488417100.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_kurinnaxx.cpp
Labels: DB, CORE, Waiting to be Tested, Ready to be Reviewed, 60, Script, Instance - Raid - Vanilla, file-cpp

#12657 fix(DB/AhnQiraj):Anubisath Defender should spawn Large Obsidian Chunk…
  data/sql/updates/pending_db_world/rev_1659882561747595900.sql
Labels: DB, To Be Merged, 60, Instance - Raid - Vanilla

#12652 fix(Core/TempleOfAhnQiraj): Rewrite Fankriss
  data/sql/updates/pending_db_world/rev_1659849272980985000.sql
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_fankriss.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/temple_of_ahnqiraj.h
Labels: DB, CORE, Ready to be Reviewed, 60, Script, Instance - Raid - Vanilla, file-cpp

#12698 fix(DB/Quest): fix Silithus Armament of War class condition
  data/sql/updates/pending_db_world/rev_1660216435302974300.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12685 fix (Quest 9740): The Sun Gate
  data/sql/updates/pending_db_world/q9740_fix_20220809.sql
Labels: DB, To Be Merged

#12664 chore(Scripts/BlackwingLair): Another temporary solution to Chromaggu…
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_chromaggus.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#12622 chore(scripts/RuinsOfAhnQiraj): cleanup ruins_of_ahnqiraj.h
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ayamiss.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/ruins_of_ahnqiraj.h
Labels: WIP, CORE, Script, file-cpp

#12709 fix(DB/EversongWoods): Add Eldinarcus Patrol
  data/sql/updates/pending_db_world/rev_1660309887806825183.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12430 fix (core): Cast sub-expression to wider-type
  src/server/game/Instances/InstanceSaveMgr.cpp
Labels: CORE, To Be Merged, file-cpp

#12695 fix(Scripts/Misc): Lower Artorius damage treshold when he damages him…
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/World/npc_stave_of_ancients.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#12730 fix(CI): pin boost version
  .github/workflows/windows_build.yml
Labels: Workflow, run-build

#12577 fix(scripts/TempleOfAhnQiraj): Improve Sartura
  data/sql/updates/pending_db_world/rev_1659294015696463500.sql
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_sartura.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/temple_of_ahnqiraj.h
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#12732 fix(Core/Scripting): OnAuctionSuccessful on buyout
  src/server/game/Handlers/AuctionHouseHandler.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#12726 fix(Scripts/AhnQiraj): Anubisath Sentinel - added missing spells.
  data/sql/updates/pending_db_world/rev_1660401908463646700.sql
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/mob_anubisath_sentinel.cpp
Labels: DB, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#12722 fix(DB/SAI): Hive'Zara Sandstalker.
  data/sql/updates/pending_db_world/rev_1660378795386850300.sql
Labels: DB, To Be Merged, 60, Instance - Raid - Vanilla

#12719 fix(DB/SAI): Qiraji Gladiator. Base on TC work.
  data/sql/updates/pending_db_world/rev_1660377276378786800.sql
Labels: DB, To Be Merged, 60, Instance - Raid - Vanilla

#12659 fix(Scripts/AhnQiraj): Hive'Zara Stinger.
  data/sql/updates/pending_db_world/rev_1659884404778685600.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/ruins_of_ahnqiraj.cpp
  src/server/scripts/Kalimdor/kalimdor_script_loader.cpp
Labels: DB, CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#12682 fix(DB/Loot): Drop condition for Silithid Carapace
  data/sql/updates/pending_db_world/rev_1659994222187513600.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12681 fix(DB/Gossip): Fix gossip for anachronos
  data/sql/updates/pending_db_world/rev_1659994158000361600.sql
Labels: DB, To Be Merged, 60

#12702 fix(DB/creature): Corrects spawn values for creature 2955
  data/sql/updates/pending_db_world/rev_1660250344331923000.sql
Labels: DB, To Be Merged

#12703 fix(DB/EversongWoods): Fix Angershade noise spam
  data/sql/updates/pending_db_world/rev_1660249698988810843.sql
Labels: DB, To Be Merged

#12710 fix(DB/EversongWoods): Add Jero'me weapons
  data/sql/updates/pending_db_world/rev_1660317462420871561.sql
Labels: DB, To Be Merged

#12684 fix(Core/Mage) Water Elemental wrongly ressurected at Spirit Healer
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, To Be Merged, file-cpp

#12728 fix(Scripts/World): Emerald Dragon's Dream Fog should chase switch ta…
  src/server/scripts/World/boss_emerald_dragons.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#12738 fix(Scripts/RuinsOfAhnQiraj): Rework Ayamiss
  data/sql/updates/pending_db_world/rev_1660487670384321500.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ayamiss.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#12744 fix(SmartScript/Creature): Zanzil zombie/naga should not cast triggered ab…
  data/sql/updates/pending_db_world/zanzilsmartscript.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12705 feat(Core/Debug): GetDebugInfo implementation
  src/server/game/AI/CoreAI/UnitAI.cpp
  src/server/game/AI/CoreAI/UnitAI.h
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Creature/TemporarySummon.cpp
  src/server/game/Entities/Creature/TemporarySummon.h
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/GameObject/GameObject.h
  src/server/game/Entities/Item/Container/Bag.cpp
  src/server/game/Entities/Item/Container/Bag.h
  src/server/game/Entities/Item/Item.cpp
  src/server/game/Entities/Item/Item.h
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Object/Position.cpp
  src/server/game/Entities/Object/Position.h
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Entities/Pet/Pet.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Transport/Transport.cpp
  src/server/game/Entities/Transport/Transport.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
  src/server/game/Spells/Auras/SpellAuras.cpp
  src/server/game/Spells/Auras/SpellAuras.h
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
Labels: CORE, file-cpp

#12654 fix(Scripts/AhnQiraj): Ossirian the Unscarred - Ossirian Crystals imp…
  data/sql/updates/pending_db_world/rev_1659875183606376700.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ossirian.cpp
Labels: DB, CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#12707 fix(DB/Quest): Add Aqual Quintessence questline steps.
  data/sql/updates/pending_db_world/hydraxian-quest.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed

#12683 fix(Core/TempleOfAhnQiraj): Ouro rewrite
  data/sql/updates/pending_db_world/rev_1660074715862707400.sql
  src/server/game/AI/CoreAI/UnitAI.cpp
  src/server/game/AI/CoreAI/UnitAI.h
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_ouro.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/instance_temple_of_ahnqiraj.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/temple_of_ahnqiraj.h
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, 60, Script, Instance - Raid - Vanilla, file-cpp

#12731 feat(Core/BattlegroundQueue): remove queue in all group if player leave
  src/server/game/Battlegrounds/BattlegroundQueue.cpp
  src/server/game/Handlers/BattleGroundHandler.cpp
Labels: CORE, Waiting to be Tested, To Be Merged, file-cpp

#12759 fix(Core/Loot): Unique items shouldn't be hidden indiscriminately
  src/server/game/Loot/LootMgr.cpp
Labels: CORE, file-cpp

#12760 fix(DB/Loot): Correct Tactical/Logistical assignment loots
  data/sql/updates/pending_db_world/rev_1660675431410515100.sql
Labels: DB, To Be Merged

#12758 fix(Scripts/BlackwingLair): Chromaggus lever should stay open
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/instance_blackwing_lair.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#12603 feat(Core/ChatHandler/Conf): Flood Control Addon Messages
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerMisc.cpp
  src/server/game/Handlers/ChatHandler.cpp
  src/server/game/Server/WorldSession.cpp
  src/server/game/Server/WorldSession.h
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#12779 fix(scripts/RuinsOfAhnQiraj): Apply movement on Ayamiss' death
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ayamiss.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#12773 fix(DOCKER): remove docker db import using bash
  apps/docker/docker-build-dev.sh
  apps/docker/docker-cmd.ts
Labels: WIP, Bash, run-build

#12761 fix(Core/RuinsOfAhnQiraj): re-enter the instance after Buru died
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_buru.cpp
Labels: CORE, To Be Merged, 60, Script, file-cpp

#12792 fix(conditions): Gordok Shackle Key should not be seen if you already…
  data/sql/updates/pending_db_world/shackleconditions.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12796 fix(Core/RuinsOfAhnQiraj): Buru full speed and gathering speed
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_buru.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, 60, Script, Instance - Raid - Vanilla, file-cpp

#12793 fix(DB/Smartscript): [AQ20] Shrieker/Spitting Scarab smartscript improvement
  data/sql/updates/pending_db_world/shriekercharge.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12645 fix(Scripts/AhnQiraj): Implemented General Andorov event.
  data/sql/updates/pending_db_world/rev_1659801375917048100.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_kurinnaxx.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_rajaxx.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/instance_ruins_of_ahnqiraj.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/ruins_of_ahnqiraj.h
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, 60, Script, Instance - Raid - Vanilla, file-cpp

#12706 fix(Scripts/AQ20): Ossirian movement speed
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ossirian.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#12723 fix(Scripts/AhnQiraj): Obsidian Destroyer - Drain Mana.
  data/sql/updates/pending_db_world/rev_1660383289286228500.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/ruins_of_ahnqiraj.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, 60, Script, Instance - Raid - Vanilla, file-cpp

#12486 fix(DB/gossip_menu_option_locale): Populate missing entries from broadcast text (koKR)
  data/sql/updates/pending_db_world/rev_1658503774673004700.sql
Labels: Translation, DB, To Be Merged, Ready to be Reviewed

#12481 fix(DB/gossip_menu_option_locale): Populate missing entries from broadcast text (deDE)
  data/sql/updates/pending_db_world/rev_1658502896019262700.sql
Labels: Translation, DB, To Be Merged, Ready to be Reviewed

#12487 fix(DB/gossip_menu_option_locale): Populate missing entries from broadcast text (ruRU)
  data/sql/updates/pending_db_world/rev_1658503924412297500.sql
Labels: Translation, DB, To Be Merged, Ready to be Reviewed

#12482 fix(DB/gossip_menu_option_locale): Populate missing entries from broadcast text (esES)
  data/sql/updates/pending_db_world/rev_1658503246207991400.sql
Labels: Translation, DB, To Be Merged, Ready to be Reviewed

#12484 fix(DB/gossip_menu_option_locale): Populate missing entries from broadcast text (frFR)
  data/sql/updates/pending_db_world/rev_1658503594672288100.sql
Labels: Translation, DB, To Be Merged, Ready to be Reviewed

#12483 fix(DB/gossip_menu_option_locale): Populate missing entries from broadcast text (esMX)
  data/sql/updates/pending_db_world/rev_1658503415314745400.sql
Labels: Translation, DB, To Be Merged, Ready to be Reviewed

#12488 fix(DB/gossip_menu_option_locale): Populate missing entries from broadcast text (zhTW)
  data/sql/updates/pending_db_world/rev_1658504056001579700.sql
Labels: Translation, DB, To Be Merged, Ready to be Reviewed

#12801 fix(DB/waypoint): Correct typo in Fingat (Guid 134237) waypoints
  data/sql/updates/pending_db_world/rev_1660963650747679400.sql
Labels: 50-59, DB, To Be Merged, Ready to be Reviewed

#12775 fix(DB/gameobject): Update Z pos for gob guid 45150
  data/sql/updates/pending_db_world/rev_1660751422190118800.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12765 fix(DB/creature): Entry 2966 (Battleboar) Maintenance
  data/sql/updates/pending_db_world/rev_1660700821858732400.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12751 fix(DB/creature): Entry 2961 Mountain Cougar Maintenance
  data/sql/updates/pending_db_world/rev_1660601086834019900.sql
Labels: 1-19, DB, To Be Merged, Ready to be Reviewed

#12560 fix(DB/creature_template): Remove Incorrect Loot
  data/sql/updates/pending_db_world/rev_1658940484513440700.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12774 fix (logging): Info to debug learn spell
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#12802 fix(Core/Creatures): Implemented `CREATURE_FLAG_EXTRA_DONT_CALL_ASSISTANCE` extra flag.
  data/sql/updates/pending_db_world/rev_1661067159414926300.sql
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Entities/Creature/enuminfo_CreatureData.cpp
  src/server/game/Entities/Unit/Unit.cpp
Labels: DB, CORE, To Be Merged, 60, Instance - Raid - Vanilla, file-cpp

#12804 fix(Scripts/AhnQiraj): Spawn 3 crystals at start.
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ossirian.cpp
Labels: To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#12795 fix(Core/Event): Hourly bell: Dwarf horn sound should only play once
  src/server/scripts/World/go_scripts.cpp
Labels: CORE, To Be Merged, Script, file-cpp, Tested

#12788 fix(Core/RuinsOfAhnQiraj): Lash should not disarm
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#12772 fix(scripts/ZulGurub): Set timer for Ohgan's Thrash
  src/server/scripts/EasternKingdoms/ZulGurub/boss_mandokir.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#12771 fix(scripts/ZulGurub): Mandokir engage combat after Speaker's death
  src/server/scripts/EasternKingdoms/ZulGurub/boss_mandokir.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#12749 refactor(Core/TempleOfAhnQiraj): Temple of Ahn Qiraj header
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_ouro.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_twinemperors.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/instance_temple_of_ahnqiraj.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/temple_of_ahnqiraj.h
Labels: CORE, To Be Merged, Script, file-cpp

#12736 fix(Scripts/Temple of AhnQiraj): Skeram's Arcane Explosion and Tru Fu…
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_skeram.cpp
Labels: To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#12797 refactor(Core/Duskwood): Twilight Corrupter
  src/server/scripts/EasternKingdoms/zone_duskwood.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, 60, Script, file-cpp

#12725 fix(Scripts/AhnQiraj): Anubisath Defender.
  data/sql/updates/pending_db_world/rev_1660400285204352500.sql
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/temple_of_ahnqiraj.cpp
  src/server/scripts/Kalimdor/kalimdor_script_loader.cpp
Labels: DB, CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#12809 fix(DB/creature): Improve AQ40 Bug Tunnel
  data/sql/updates/pending_db_world/rev_1661014807166443400.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 60, Instance - Raid - Vanilla

#12747 fix(scripts/TempleOfAhnQiraj): Improve Princess Huhuran
  data/sql/updates/pending_db_world/rev_1660588181530868400.sql
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_huhuran.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/instance_temple_of_ahnqiraj.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/temple_of_ahnqiraj.h
Labels: DB, CORE, To Be Merged, Script, file-cpp

#12819 fix(Scripts/RuinsOfAhnQiraj): Enable Ayamiss gravity when landing
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ayamiss.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#12820 fix(Scripts/RuinsOfAhnQiraj): Lower player damage req when Buru is da…
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_buru.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#12821 feat(Core/GameObject): Add an overload to SummonGameObject() to accep…
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Maps/Map.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#12822 refactor(Scripts/RuinsOfAhnQiraj): Buru eggs
  data/sql/updates/pending_db_world/rev_1661155287989922600.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_buru.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/instance_ruins_of_ahnqiraj.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/ruins_of_ahnqiraj.h
Labels: DB, CORE, To Be Merged, Script, file-cpp

#12799 fix(DB/formations): AQ40 Stationary pack linking
  data/sql/updates/pending_db_world/rev_1660959750178228200.sql
Labels: DB, To Be Merged, 60

#12827 fix(DB/creature_template): Remove gold drops from Swarmguard Needler and Hive'Zara Larva.
  data/sql/updates/pending_db_world/rev_1661217788397138700.sql
Labels: DB, To Be Merged, 60

#12740 fix(Scripts/Temple of AhnQiraj): Fixed Skeram's Earth Shock.
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_skeram.cpp
Labels: CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#12810 fix(Loot/CreatureLoot): AQ20 enchanting recipes
  data/sql/updates/pending_db_world/aq20enchantloot.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed

#12830 fix (sql): Squash fix for mariadb
  data/sql/base/db_characters/log_money.sql
Labels: DB, Priority-High, Ready to be Reviewed, Tested

#12840 fix(DB/Creature): Fix AQ20 respawn timers
  data/sql/updates/pending_db_world/rev_1661385481329687500.sql
Labels: DB, To Be Merged

#12839 fix(Scripts/RuinsOfAhnQiraj): Fix Ossirian's starting crystal and san…
  data/sql/updates/pending_db_world/rev_1661383096159773400.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ossirian.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/instance_ruins_of_ahnqiraj.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#12843 fix(DB/linked_respawn): Link Rajaxx's waves respawns to Rajaxx
  data/sql/updates/pending_db_world/rev_1661389140594906100.sql
Labels: DB, Waiting to be Tested

#12841 fix(DB/Creature): Improve Nefarian's Corrupted Infernal (14668)
  data/sql/updates/pending_db_world/rev_1661366860302196200.sql
Labels: DB, To Be Merged

#12844 fix(Scripts/RuinsOfAhnQiraj): Anubisath Defender's shadow storm shoul…
  data/sql/updates/pending_db_world/rev_1661394337244924700.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ossirian.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#12729 fix(Core/Weather): Wrong change type algorithm
  src/server/game/Weather/Weather.cpp
Labels: CORE, To Be Merged, file-cpp

#12846 Minor CMake Update to Modules Cmake File to Allow Custom Modules to make changes without changing Core.
  modules/CMakeLists.txt
  modules/how_to_make_a_module.md
Labels: Ready to be Reviewed, run-build

#12850 fix(DB/gameobject): Update Scarab Coffer (180690 & 180691) loot
  data/sql/updates/pending_db_world/rev_1661475791842006200.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed, 60

#12842 feat(Core/DBUpdater): Apply each sql update file in a separate transa…
  src/server/database/Updater/DBUpdater.cpp
Labels: CORE, Waiting to be Tested, file-cpp

#12853 fix(Scripts/RuinsOfAhnQiraj): Increase Andorov's bash intervals and r…
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_rajaxx.cpp
Labels: To Be Merged, Ready to be Reviewed

#12858 fix: Buru crash
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_buru.cpp
Labels: CORE, Script, file-cpp
