Repository azerothcore/azerothcore-wotlk, pull requests merged in 2022-11, with the labels that each got.

#13614 fix(Scripts/Commands): Fix group list command output
  src/server/scripts/Commands/cs_group.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#13600 fix(DB/creature_formations): Update Hellfire Ramparts GroupAI and link stationary packs
  data/sql/updates/pending_db_world/rev_1667120120146402200.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 61-64

#13545 fix(DB/gameobject): Improve Nagrand gathering nodes and pooling
  data/sql/updates/pending_db_world/rev_1666308049565933600.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed, 65-69

#13484 fix(Core): Crashfix.
  src/server/scripts/Spells/spell_mage.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Script, Priority-Critical, file-cpp

#13086 feat(Core): Config to disable all Wintergrasp processing
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/Battlefield/BattlefieldMgr.cpp
  src/server/game/Battlefield/Zones/BattlefieldWG.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Spells/SpellMgr.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/scripts/Northrend/zone_wintergrasp.cpp
Labels: CORE, Script, file-cpp

#13616 fix(DB/creature): Improve Azuregos' mechanic
  data/sql/updates/pending_db_world/Azuregos.sql
Labels: DB, To Be Merged

#13628 fix(DB/creature_formations): Link packs in the Blood Furnace
  data/sql/updates/pending_db_world/rev_1667242202076250300.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 61-64

#13638 Add (core\logging): Log sync db queries in mapupdater
  src/server/game/Maps/MapUpdater.cpp
Labels: CORE, file-cpp

#13640 fix(DB/Quest): The Grateful Dead (Draenei)
  data/sql/updates/pending_db_world/rev_1667339441492047200.sql
Labels: DB, To Be Merged, Ready to be Reviewed, World Event

#13629 fix(DB/creature): Reduced Firewing Courier's spawntime, text added
  data/sql/updates/pending_db_world/FC.sql
Labels: DB, Tested

#13597 fix(DB/gameobject): Improve Isle of Quel'Danas gathering nodes and pooling
  data/sql/updates/pending_db_world/rev_1667095244859716200.sql
Labels: DB, To Be Merged, 70

#13562 fix(DB/creature): Improve Outlands Gas Clouds
  data/sql/updates/pending_db_world/rev_1666838957647579500.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 61-64, 65-69, 70

#13655 feat(Core/Scripting): Expand ModifyHealReceived() to also include hea…
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Scripting/ScriptDefines/UnitScript.cpp
  src/server/game/Scripting/ScriptMgr.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#13658 feat(Core/Scripting): Implement OnAuraApply() hook for unitscripts
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Scripting/ScriptDefines/UnitScript.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#13681 fix(DB/gameobject): Adjust respawn timers for Hellfire Peninsula quest objects 184466 and 185302
  data/sql/updates/pending_db_world/rev_1667341167147160100.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 61-64

#13682 fix(Scripts/TempleOfAhnQiraj): Improve Veklor pathing
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_twinemperors.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#13605 fix(DB/gameobject): Add more Shredder Parts
  data/sql/updates/pending_db_world/rev_1667137129043288400.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 61-64

#13398 fix(DB/gameobject): Improve Hellfire Peninsula gathering nodes and pooling
  data/sql/updates/pending_db_world/hellfire.sql
Labels: DB, To Be Merged, 61-64

#13442 fix(DB/gameobject): Improve Zangarmarsh gathering nodes and pooling
  data/sql/updates/pending_db_world/rev_1665883739398729200.sql
Labels: DB, To Be Merged, 61-64

#13466 fix(DB/gameobject): Improve Terokkar Forest gathering nodes
  data/sql/updates/pending_db_world/rev_1666109692456128300.sql
Labels: DB, To Be Merged, 61-64

#13596 fix(DB/gameobject): Improve Shadowmoon Valley gathering nodes and pooling
  data/sql/updates/pending_db_world/rev_1666968270249187300.sql
Labels: DB, To Be Merged, 65-69

#13560 fix(DB/gameobject): Improve Blade's Edge Mountains gathering nodes and pooling
  data/sql/updates/pending_db_world/rev_1666736341759072400.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 65-69

#13570 fix(DB/gameobject): Improve Outlands Fishing Pools
  data/sql/updates/pending_db_world/rev_1666846735500507700.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 61-64, 65-69, 70

#13582 fix(DB/gameobject): Improve Netherstorm gathering nodes and pooling
  data/sql/updates/pending_db_world/rev_1667013367603603200.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 65-69

#13683 fix(Core/Scripting): Also call the OnLootItem() hook on master looted…
  src/server/game/Entities/Player/PlayerStorage.cpp
Labels: CORE, To Be Merged, file-cpp

#13686 fix(CORE): file permissions for the devcontainer
  apps/compiler/includes/functions.sh
  env/docker/etc/dbimport.conf.dockerdist
  env/docker/etc/worldserver.conf.dockerdist
Labels: Bash, run-build

#13691 fix(Scripts/TempleOfAhnQiraj): Replace Sartura's Gaze mechanic with a threat wipe
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_sartura.cpp
Labels: CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#13692 fix(Scripts/TempleOfAhnQiraj): Fix Ouro not using abilities if there's only one player and he's out of his melee range
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_ouro.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#13698 fix(Scripts/TempleOfAhnQiraj): Fix crash caused by permanently spawni…
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
Labels: CORE, Script, file-cpp

#13694 fix(Scripts/TempleOfAhnQiraj): Don't store object references in scripts
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/temple_of_ahnqiraj.cpp
Labels: CORE, Script, file-cpp

#13697 fix(Core/Unit): Check if the unit is within melee range before proces…
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, file-cpp

#13688 fix(DB/quest_template_addon): Add repeatable flag to Imperial Qiraji quests
  data/sql/updates/pending_db_world/rev_1667582937946491700.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 60, Instance - Raid - Vanilla

#13656 fix(DB/areatrigger_tavern) Fix neutral rest area in Booty Bay
  data/sql/updates/pending_db_world/rev_1667430602678974600.sql
Labels: DB, To Be Merged

#13679 fix(DB/creature) Lisaile Fireweaver
  data/sql/updates/pending_db_world/rev_1667492399768442000.sql
Labels: DB, To Be Merged, 61-64

#13653 fix(scripts/TempleOfAhnQiraj): Huhuran/BugTrio - EnterCombat
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_bug_trio.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_huhuran.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#13700 fix(DB/Creature): Remove wrong MECHANIC_SLOW_ATTACK immunity from cre…
  data/sql/updates/pending_db_world/rev_1667610825649871800.sql
Labels: DB, To Be Merged

#13707 feat(Core/Scripting): Expand ModifySpellDamageTaken() to include the …
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Scripting/ScriptDefines/UnitScript.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, file-cpp

#13706 fix(Core/Unit): Exclude Sword Specialization and Hack and Slash from …
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
Labels: CORE, To Be Merged, file-cpp

#13715 fix(DB/SAI): Change Qiraji Mindslayer Mana Burn cast to ON_DEATH instead of UPDATE_IC
  data/sql/updates/pending_db_world/rev_1667681347229290600.sql
Labels: DB, To Be Merged, 60, Instance - Raid - Vanilla

#13712 fix(DB/gameobject): instant spawn on 61-64 quest interactables
  data/sql/updates/pending_db_world/rev_1667666190202265500.sql
Labels: DB, To Be Merged, 61-64

#13695 fix(DB/creature) Slain Auchenai Warrior & Slain Sha'tar Vindicator
  data/sql/updates/pending_db_world/AnImproperBurial.sql
Labels: DB, To Be Merged, 61-64

#13714 fix(DB/creature): High Admiral "Shelly" Jorrik Rep and spawn
  data/sql/updates/pending_db_world/repandspawn.sql
Labels: DB, To Be Merged, Tested

#13725 feat(Core/Scripting): Create OnStoreNewItem() hook
  src/server/game/Entities/Player/PlayerStorage.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#13454 fix(CORE): docker permissions and rework
  .devcontainer/devcontainer.json
  .editorconfig
  .github/workflows/build_dbimport.yml
  .github/workflows/core_build.yml
  .github/workflows/core_matrix_build.yml
  .github/workflows/core_modules_build.yml
  .github/workflows/docker_build.yml
  .github/workflows/import_pending.yml
  .github/workflows/issue-labeler.yml
  .github/workflows/macos_build.yml
  .github/workflows/tools_build.yml
  .github/workflows/windows_build.yml
  apps/bash_shared/common.sh
  apps/ci/ci-conf-core.sh
  apps/ci/ci-conf-db.sh
  apps/ci/ci-install.sh
  apps/compiler/compiler.sh
  apps/compiler/includes/functions.sh
  apps/docker/Dockerfile
  apps/docker/config-docker.sh
  apps/docker/docker-cmd.ts
  apps/installer/main.sh
  apps/installer/main.ts
  apps/installer/utils.ts
  conf/dist/env.ac
  conf/dist/env.docker
  docker-compose.yml
  env/docker/data/Cameras/.gitkeep
  env/docker/data/dbc/.gitkeep
  env/docker/data/maps/.gitkeep
  env/docker/data/mmaps/.gitkeep
  env/docker/data/vmaps/.gitkeep
  env/docker/etc/authserver.conf.dockerdist
  env/docker/etc/dbimport.conf.dockerdist
  env/docker/etc/worldserver.conf.dockerdist
  var/extractors/Cameras/.gitkeep
Labels: Workflow, Bash, run-build

#13573 fix(DB/gameobject, pool): Durotar Copper Vein overhaul
  data/sql/updates/pending_db_world/rev_1666964676374298100.sql
Labels: 1-19, DB, To Be Merged, Ready to be Reviewed

#13724 fix(DB/creature_template): Remove Disorient immunity from rank 0 (Normal) undead and elemental creatures
  data/sql/updates/pending_db_world/rev_1667779166221329400.sql
Labels: ChromieCraft Generic, DB, Ready to be Reviewed

#13732 fix(Core/Unit): Prevent CTM rooted flag from being removed on aura ex…
  src/server/game/Entities/Unit/Unit.cpp
Labels: To Be Merged, Ready to be Reviewed

#13751 fix(Spells/TempleOfAhnQiraj): Attempt to partly fix Digestive Acid not being applied
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, Ready to be Reviewed, 60, Instance - Raid - Vanilla, file-cpp

#13696 fix(DB/SmartScript) Dreghood Brute dont become friendly after the death of the taskmaster
  data/sql/updates/pending_db_world/rev_1667596709826197400.sql
Labels: DB, To Be Merged, 61-64

#13520 fix(Core): Fix guild bank update broadcasts
  src/server/game/Guilds/Guild.cpp
  src/server/game/Guilds/Guild.h
  src/server/game/Handlers/GuildHandler.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#13173 fix(Core): Correct Rest Bonus Formula
  src/server/game/Entities/Player/PlayerStorage.cpp
Labels: CORE, To Be Merged, file-cpp

#13729 fix(DB/Creature): Hellfire Imp SmartAI
  data/sql/updates/pending_db_world/removeanim.sql
Labels: DB, To Be Merged, Instance - Dungeon - Outland, 61-64

#13739 fix(DB/SAI): Bonechewer Ravener
  data/sql/updates/pending_db_world/casttovictim.sql
Labels: DB, To Be Merged, Instance - Dungeon - Outland, 61-64

#13726 fix(DB/Quest): Zangarmarsh quest rep requirements
  data/sql/updates/pending_db_world/questrepreqs.sql
Labels: DB, To Be Merged, 61-64

#13721 fix(DB/gameobject): instant spawn on Eyes of Skettis and remove Duplicate
  data/sql/updates/pending_db_world/EyesofSkettis.sql
Labels: DB, To Be Merged, 61-64

#13699 fix(DB/creature_template_locale): Fix Vikki Lonsav title
  data/sql/updates/pending_db_world/rev_1667605127641040300.sql
Labels: Translation, DB, To Be Merged

#13713 fix(DB/gameobject): Venom bottle queststarter
  data/sql/updates/pending_db_world/rev_1667668503070084000.sql
Labels: 40-49, DB, To Be Merged

#13716 fix(db/SAI): Missing esES/esMX locales
  data/sql/updates/pending_db_world/rev_1667488663408666500.sql
Labels: Translation, DB, To Be Merged

#13753 fix(DB/creature_template): Disable Shattered Hand Warhound assistance function
  data/sql/updates/pending_db_world/rev_1667951025140607900.sql
Labels: DB, To Be Merged, Instance - Dungeon - Outland, 61-64

#13756 fix(DB/SmartAI): Dreamscythe and Jammal'an the Prophet
  data/sql/updates/pending_db_world/Voicelines.sql
Labels: 50-59, DB, To Be Merged, Instance - Dungeon - Vanilla

#13767 fix(DB/Creature): Remove incorrect gossip from Roetten Stonehammer
  data/sql/updates/pending_db_world/removegossip.sql
Labels: ChromieCraft Generic, DB, Ready to be Reviewed, Tested

#13749 fix(DB/creature) Remove bleed immunity from Twilight Elementalist
  data/sql/updates/pending_db_world/bleed.sql
Labels: 20-29, DB, Waiting to be Tested, Ready to be Reviewed

#13760 fix(DB/SmartAI): Gelkis Rumbler & Gelkis Earthcaller
  data/sql/updates/pending_db_world/rumblertweaks.sql
Labels: 30-39, DB, To Be Merged

#13774 fix(Core/Creature): Prevent flying creatures from falling on respawn.
  src/server/game/Entities/Unit/Unit.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp

#13775 fix(DB/SmartAI): Awbee RP close gossip
  data/sql/updates/pending_db_world/Closegossip.sql
Labels: DB, Waiting to be Tested, Instance - Dungeon - Vanilla, 60

#13146 refactor(Core/ScriptedAI): few improvements with threat methods
  src/server/game/AI/ScriptedAI/ScriptedCreature.cpp
  src/server/game/AI/ScriptedAI/ScriptedCreature.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_broodlord_lashlayer.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_firemaw.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_flamegor.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_ragnaros.cpp
  src/server/scripts/EasternKingdoms/Karazhan/boss_prince_malchezaar.cpp
  src/server/scripts/EasternKingdoms/Karazhan/bosses_opera.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_priestess_delrissa.cpp
  src/server/scripts/EasternKingdoms/ZulAman/boss_zuljin.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/boss_arlokk.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/boss_grilek.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/boss_jeklik.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/boss_thekal.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/boss_venoxis.cpp
  src/server/scripts/Kalimdor/OnyxiasLair/boss_onyxia.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ayamiss.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_buru.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_bug_trio.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_ouro.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_skeram.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_twinemperors.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_viscidus.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheChampion/boss_black_knight.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheChampion/boss_grand_champions.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_anubarak_trial.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_lord_jaraxxus.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_northrend_beasts.cpp
  src/server/scripts/Northrend/FrozenHalls/HallsOfReflection/halls_of_reflection.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_lady_deathwhisper.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_rotface.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
  src/server/scripts/Northrend/Naxxramas/boss_noth.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_assembly_of_iron.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_auriaya.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_freya.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_mimiron.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_razorscale.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_thorim.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_yoggsaron.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/boss_skarvald_dalronn.cpp
  src/server/scripts/Northrend/VioletHold/boss_cyanigosa.cpp
  src/server/scripts/Outland/Auchindoun/ShadowLabyrinth/boss_blackheart_the_inciter.cpp
  src/server/scripts/Outland/BlackTemple/boss_shade_of_akama.cpp
  src/server/scripts/Outland/BlackTemple/boss_supremus.cpp
  src/server/scripts/Outland/BlackTemple/illidari_council.cpp
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_hydross_the_unstable.cpp
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_leotheras_the_blind.cpp
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/boss_warbringer_omrogg.cpp
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#13038 fix(Core/Loot): Fixed processing duplicated loot item within different groups.
  src/server/game/Loot/LootItemStorage.cpp
  src/server/game/Loot/LootMgr.cpp
  src/server/game/Loot/LootMgr.h
Labels: ChromieCraft Generic, CORE, To Be Merged, Loot, file-cpp

#13627 fix(DB/gameobject): Improve Escape From Durnholde incendiary barrels
  data/sql/updates/pending_db_world/rev_1667234429136784500.sql
Labels: DB, To Be Merged, Instance - Dungeon - Outland, 65-69

#13773 fix(Docs): ReadMe
  .github/README.md
Labels: To Be Merged, Ready to be Reviewed

#13757 fix(DB): Update Blood Furnace pathing, formations and add missing spawns
  data/sql/updates/pending_db_world/rev_1668007804070285400.sql
Labels: DB, To Be Merged, Instance - Dungeon - Outland, 61-64

#13599 fix(DB/gameobject): Cleanup previous TBC revamps and set better spawn timers
  data/sql/updates/pending_db_world/rev_1667102149828098700.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 61-64, 65-69, 70

#13772 fix(scripts): Fix Trial of the Champion and Trial of the Crusader on …
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheChampion/instance_trial_of_the_champion.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/instance_trial_of_the_crusader.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, Script, 80, file-cpp

#13786 chore(Scripts/ToC): Correct variable naming according to standarrds
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/instance_trial_of_the_crusader.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#13750 fix(DB/Loot): Syndicate emblems in junkboxes
  data/sql/updates/pending_db_world/removeloot.sql
Labels: DB, Loot

#13811 fix: Renataki crash
  src/server/scripts/EasternKingdoms/ZulGurub/boss_renataki.cpp
Labels: CORE, Script, file-cpp

#13718 fix(DB/SAI): Missing Fire Brigade Locale esES/esMX
  data/sql/updates/pending_db_world/rev_1667732623534207400.sql
Labels: Translation, DB, To Be Merged

#13805 fix(DB/Spell): Serendipity should proc off on cast rather than on hit.
  data/sql/updates/pending_db_world/rev_1668355497035231700.sql
Labels: ChromieCraft Generic, DB, To Be Merged, Class - Priest, Tested

#13795 fix(Core/Spells): FIxed calculating LoS for dynamic objects.
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Spells/Auras/SpellAuras.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Priority-Medium, file-cpp

#13791 fix(Scripts/TempleOfAhnQiraj): Increase Vek'lor Blizzard timer
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_twinemperors.cpp
Labels: CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#13652 fix(scripts/TempleOfAhnQiraj): Twins Emperors - First Teleport
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_twinemperors.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#13704 fix(Scripts/Commands): Fix assertion error on mmaps path command
  src/server/scripts/Commands/cs_mmaps.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#13800 fix(Scripts/Items): Green Whelp Armor affects only enemies level 50 a…
  data/sql/updates/pending_db_world/rev_1668342611412588700.sql
  src/server/scripts/Spells/spell_item.cpp
Labels: ChromieCraft Generic, DB, To Be Merged, Script, file-cpp

#13809 fix(Core/Pets): Save all spell cooldowns to db.
  src/server/game/Entities/Pet/Pet.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Class - Warlock, file-cpp

#13830 fix(DB/Creature): Garrick Padfoot Rage generation
  data/sql/updates/pending_db_world/angermanagementcourse.sql
Labels: DB, To Be Merged

#13813 fix(DB/Services): Brown Kodo should be replaced with Unpainted Mechan…
  data/sql/updates/pending_db_world/rev_1668373615309394400.sql
Labels: ChromieCraft Generic, DB, To Be Merged, Tested

#13815 fix(DB/SmartAI): Unliving Stalker Viper Sting heroic only
  data/sql/updates/pending_db_world/heroicViperSting.sql
Labels: DB, To Be Merged, Instance - Dungeon - Outland

#13644 fix(DB/onkill_reputation) Venture Co. mobs in stv
  data/sql/updates/pending_db_world/rev_1667348648920858600.sql
Labels: DB, To Be Merged

#13848 fix(DB): Correct mistake
  data/sql/updates/db_world/2022_11_05_01.sql
  data/sql/updates/pending_db_world/rev_1668715889993989500.sql
Labels: DB

#13864 fix(Scripts/TempleOfAhnQiraj): Prevent tentacles from spawning inside…
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#13869 chore(core/commands): increase default removal duration to 30m from 15m
  src/server/scripts/Commands/cs_deserter.cpp
Labels: CORE, Script, file-cpp

#13583 Fix compiling with gcc 12
  src/common/Cryptography/OpenSSLCrypto.h
  src/common/Threading/PCQueue.h
Labels: CORE, file-cpp

#13862 fix(Core): Crash on random movement SAI
  src/server/game/AI/SmartScripts/SmartScript.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#13870 fix(Scripts/TempleOfAhnQiraj): Fix Digestive Acid not being applied t…
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
Labels: To Be Merged, Ready to be Reviewed

#13796 fix(Scripts/Temple of AhnQiraj): Cthun's Eye should always focus on b…
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
Labels: Waiting to be Tested, 60, Script, Instance - Raid - Vanilla, file-cpp

#13778 fix(DB/SAI): Corrected despawn type for Tabulks summoned by Shado 'Fi…
  data/sql/updates/pending_db_world/rev_1668256723789842700.sql
Labels: DB, To Be Merged, 61-64

#13849 fix(Core/Scripts): Master of elements odd crash
  src/server/scripts/Spells/spell_mage.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#13833 fix(DB): Improve Mana-Tombs waypoints, formations and gathering nodes.
  data/sql/updates/pending_db_world/rev_1668467085052375200.sql
Labels: DB, To Be Merged, Instance - Dungeon - Outland, 61-64

#13816 fix(DB): Fix Slave Pens pathing, formations and improve gathering nodes
  data/sql/updates/pending_db_world/rev_1668294806072301900.sql
Labels: DB, Ready to be Reviewed, Instance - Dungeon - Outland, 61-64

#13806 Fix(DB/Locale) Missing howling fjord locale
  data/sql/updates/pending_db_world/rev_1668357308398840000.sql
Labels: Translation, DB, 71-74

#13768 Fix(DB/Locale) Missing borean tundra Locales quests
  data/sql/updates/pending_db_world/rev_1668086146557993400.sql
Labels: Translation, DB

#13893 fix(DB/Locales): Add Missing esES/esMX locales to WG and GrizzlyHills
  data/sql/updates/pending_db_world/rev_1668938810265176700.sql
Labels: DB

#13807 fix(DB/Locale) Missing Locales Dragonblight esES/esMX
  data/sql/updates/pending_db_world/rev_1668358064214502500.sql
Labels: Translation, DB, 71-74

#13879 fix(DB/SAI): Bleeding Hollow Scryer should cast Fear on random non-ta…
  data/sql/updates/pending_db_world/rev_1668884457972687500.sql
Labels: DB, To Be Merged, Instance - Dungeon - Outland, 61-64

#13884 fix(Scripts/Spells): Phantasmal Possessor's Posses spell should be ca…
  src/server/scripts/Outland/Auchindoun/AuchenaiCrypts/boss_shirrak_the_dead_watcher.cpp
Labels: To Be Merged, Script, Instance - Dungeon - Outland, 61-64, file-cpp

#13641 fix(DB) Pathaleon the Calculator's Image duplicate spawn/ Warped Peon (Missing animation)
  data/sql/updates/pending_db_world/rev_1667346234307893000.sql
Labels: DB, To Be Merged, 61-64

#13801 fix(Core/Items): Item sell prices are affected by durability loss. So…
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerStorage.cpp
  src/server/game/Handlers/ItemHandler.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp, Tested

#13803 fix(DB/Conditions): Grub should sell its items only to players who co…
  data/sql/updates/pending_db_world/rev_1668354557117380900.sql
  src/server/game/Entities/Player/PlayerUpdates.cpp
Labels: 30-39, DB, CORE, To Be Merged, file-cpp, Tested

#13808 fix(Scripts/Spells): Hallow's End Candy punpkin treat should turn pla…
  data/sql/updates/pending_db_world/rev_1668360561748791400.sql
  src/server/scripts/Events/hallows_end.cpp
Labels: DB, To Be Merged, World Event, Script, file-cpp

#13852 fix(DB/SAI): Raging Colossus
  data/sql/updates/pending_db_world/rev_1668750734814640600.sql
Labels: DB, To Be Merged

#13866 fix(DB/Spells): Drums of War/Battle/Speed/Restorarion should apply Ti…
  data/sql/updates/pending_db_world/rev_1668853205841082300.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: ChromieCraft Generic, DB, CORE, To Be Merged, file-cpp

#13611 fix(DB/SmartAI): Improve Hellfire SmartAI part 1
  data/sql/updates/pending_db_world/rev_1667138451660733600.sql
Labels: DB, 61-64, Tested

#13769 fix(DB): Re-construct the Underbog
  data/sql/updates/pending_db_world/rev_1668034484533423200.sql
Labels: DB, Instance - Dungeon - Outland, 61-64

#13883 fix(DB/Creatures): Phantasmal Possessor are immune to any kind of Cro…
  data/sql/updates/pending_db_world/rev_1668932888470762600.sql
Labels: DB, To Be Merged, Instance - Dungeon - Outland, 61-64

#13354 feat(Core/Crypto): add support `OpenSSL 3.0`
  deps/openssl/CMakeLists.txt
  src/cmake/macros/FindOpenSSL.cmake
  src/common/Cryptography/AES.cpp
  src/common/Cryptography/AES.h
  src/common/Cryptography/ARC4.cpp
  src/common/Cryptography/ARC4.h
  src/common/Cryptography/Argon2.cpp
  src/common/Cryptography/Argon2.h
  src/common/Cryptography/Authentication/AuthCrypt.cpp
  src/common/Cryptography/Authentication/AuthCrypt.h
  src/common/Cryptography/Authentication/SRP6.cpp
  src/common/Cryptography/Authentication/SRP6.h
  src/common/Cryptography/BigNumber.cpp
  src/common/Cryptography/BigNumber.h
  src/common/Cryptography/CryptoConstants.h
  src/common/Cryptography/CryptoGenerics.h
  src/common/Cryptography/CryptoHash.h
  src/common/Cryptography/CryptoRandom.cpp
  src/common/Cryptography/CryptoRandom.h
  src/common/Cryptography/HMAC.h
  src/common/Cryptography/OpenSSLCrypto.cpp
  src/common/Cryptography/OpenSSLCrypto.h
  src/common/Cryptography/SessionKeyGenerator.h
  src/common/Cryptography/TOTP.cpp
  src/common/Cryptography/TOTP.h
  src/server/apps/authserver/Main.cpp
  src/server/apps/worldserver/Main.cpp
  src/server/game/Addons/AddonMgr.cpp
  src/server/game/Addons/AddonMgr.h
  src/server/game/Server/WorldSession.cpp
  src/server/game/Warden/Modules/WardenModuleMac.h
  src/server/game/Warden/Warden.cpp
  src/server/game/Warden/Warden.h
  src/server/game/Warden/WardenMac.cpp
  src/server/game/Warden/WardenWin.cpp
  src/server/scripts/Commands/cs_server.cpp
  src/tools/dbimport/Main.cpp
Labels: CORE, Script, file-cpp

#13938 Revert "fix(Scripts/Temple of AhnQiraj): Cthun's Eye should always focus on b…"
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
Labels: CORE, Script, file-cpp

#13945 fix(DB/Trainers): Bookshelves in Seer's Library should skill up profe…
  data/sql/updates/pending_db_world/rev_1669452757083804100.sql
Labels: Profession, DB, To Be Merged, 70
