Repository azerothcore/azerothcore-wotlk, pull requests merged in 2022-07, with the labels that each got.

#11958 feat(Core/Command): Deserter Command send feedback
  src/server/scripts/Commands/cs_deserter.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#12234 fix(DB/ZulGurub): Remove taunt immunity from Mar'li
  data/sql/updates/pending_db_world/rev_1656482750700107200.sql
Labels: DB, To Be Merged, 60, Instance - Raid - Vanilla

#12247 fix(DB/Scripts): Greater Windstone Bosses
  data/sql/updates/pending_db_world/rev_1656632586022126700.sql
Labels: DB, To Be Merged, 60

#12236 fix(Core/ZulGurub): Hazza'rah improvements
  data/sql/updates/pending_db_world/rev_1656487501551472500.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/boss_hazzarah.cpp
Labels: DB, CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, run-build, file-cpp

#12248 fix(Scripts): Midsummer Music Range
  src/server/scripts/World/go_scripts.cpp
Labels: CORE, To Be Merged, Script, run-build, file-cpp

#12182 fix(DB/Creature) Add CTM to 4 flying creatures
  data/sql/updates/pending_db_world/ctm_1.sql
Labels: DB

#12238 fix(Scripts/ZulGurub): Thekal improvements
  data/sql/updates/pending_db_world/rev_1656502396301969700.sql
  src/server/game/Entities/Creature/Creature.h
  src/server/scripts/EasternKingdoms/ZulGurub/boss_thekal.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/instance_zulgurub.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#12272 fix(DB/Quest): Fixed getting kill credit for quest "A Delicate Touch"
  data/sql/updates/pending_db_world/rev_1656776031584499100.sql
Labels: Quest, DB, To Be Merged, 75-79

#12198 Script/Spell: fix Midsummer's Juggling Torch
  data/sql/updates/pending_db_world/juggling_torch_fix.sql
  src/server/scripts/Events/midsummer.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#12299 fix(DB/SAI): Fixed completing "Iron Rune Constructs and You: The Bluf…
  data/sql/updates/pending_db_world/rev_1656850805352764600.sql
Labels: Quest, DB, To Be Merged, 71-74

#12297 fix(Core/Spells): Place Fake Fur should activate Caribou Trap.
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: Quest, CORE, To Be Merged, 71-74, file-cpp

#12296 fix(Core): Crashfix.
  src/server/scripts/Northrend/zone_howling_fjord.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Script, Priority-Critical, file-cpp

#12294 fix(DB/SAI): Plague Cauldron Target should remove all auras on event …
  data/sql/updates/pending_db_world/rev_1656841188208731500.sql
Labels: Quest, DB, To Be Merged, 75-79

#12292 fix(DB/SAI): Fixed Blight Geist not collecting crystal while being ch…
  data/sql/updates/pending_db_world/rev_1656838867557419200.sql
Labels: Quest, DB, To Be Merged, 75-79

#12295 fix(Core/Spells): Smash Mammoth Trap should open Mammoth Calf's trap.
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: Quest, CORE, To Be Merged, 71-74, file-cpp

#12298 fix(Core/SmartScripts): Added option to override current running time…
  data/sql/updates/pending_db_world/rev_1656849991610651600.sql
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: Quest, ChromieCraft Generic, DB, CORE, To Be Merged, file-cpp, Waiting For More Info from Author

#12289 fix(DB/SAI): Fixed completing quest "What Book? I Don't See Any Book"
  data/sql/updates/pending_db_world/rev_1656831380141778300.sql
Labels: Quest, DB, To Be Merged, 65-69

#12278 fix (db): Graveyard Horde Teldrassil
  data/sql/updates/pending_db_world/darnassus_grave_fixit.sql
Labels: 1-19, DB, To Be Merged, run-build

#12288 fix(Core/Combat): Removed `UNIT_FLAG_IMMUNE_TO_PC` when entering comb…
  src/server/game/Entities/Unit/Unit.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp

#12262 fix(DB/Creature): Silithid Swarm remove gold drop
  data/sql/updates/pending_db_world/silithid_swarm_gold.sql
Labels: DB, To Be Merged, Tested

#12251 fix(DB/Quest): Fixed Tatjana's Horse not moving to final destination.
  data/sql/updates/pending_db_world/rev_1656651808535528313.sql
Labels: DB, To Be Merged

#12306 fix(DB/Achievements): Critters Killed statistic
  data/sql/updates/pending_db_world/rev_1657040899617221100.sql
Labels: DB

#12216 feat(Core/Commands): Debug Spell Visuals Command
  data/sql/updates/pending_db_world/rev_1656377467861686900.sql
  src/server/scripts/Commands/cs_debug.cpp
Labels: DB, CORE, Script, file-cpp

#12290 fix(Core/Gossips): Properly send packet with questgiver query handler.
  src/server/game/Entities/Creature/GossipDef.cpp
  src/server/game/Entities/Creature/GossipDef.h
  src/server/game/Handlers/MiscHandler.cpp
  src/server/game/Handlers/QuestHandler.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp

#12255 fix(Core): Fix Achievement Packets
  src/server/game/Achievements/AchievementMgr.cpp
Labels: CORE, To Be Merged, file-cpp

#12316 feat(Core/Scripting): Implement OnAllowedForPlayerLootCheck() hook
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Groups/Group.cpp
  src/server/game/Handlers/LootHandler.cpp
  src/server/game/Loot/LootMgr.cpp
  src/server/game/Loot/LootMgr.h
  src/server/game/Scripting/ScriptDefines/GlobalScript.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, To Be Merged, file-cpp

#12196 fix(Scripts/ZulGurub): Fixed Hakkar's Blood Siphon.
  data/sql/updates/pending_db_world/rev_1656252824985469400.sql
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Handlers/SpellHandler.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellInfo.cpp
  src/server/game/Spells/SpellInfo.h
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/boss_hakkar.cpp
  src/server/shared/SharedDefines.h
  src/server/shared/enuminfo_SharedDefines.cpp
Labels: DB, CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#12269 fix(DB/ZulGurub): Hoodoo Piles should not melee atack their targets.
  data/sql/updates/pending_db_world/rev_1656749058349666900.sql
  src/server/game/Entities/GameObject/GameObject.cpp
Labels: DB, CORE, To Be Merged, 60, Instance - Raid - Vanilla, file-cpp

#12307 fix(DB/gameobjects): Improve ZG Herbalism spawns
  data/sql/updates/pending_db_world/rev_1657051747898999300.sql
Labels: DB, To Be Merged

#12304 fix(DB/Creature): Zul'Gurub Patrols part 2
  data/sql/updates/pending_db_world/zgpatrolspart2.sql
Labels: DB, Waiting to be Tested, To Be Merged, Ready to be Reviewed

#12325 fix(Scripts/Zulgurub): Hakkar should cast Insanity only if there are …
  src/server/scripts/EasternKingdoms/ZulGurub/boss_hakkar.cpp
Labels: To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#12328 fix(Scripts/ZulGurub): Added Sweeping Strikes to Gri'lek encounter.
  src/server/scripts/EasternKingdoms/ZulGurub/boss_grilek.cpp
Labels: To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#12329 fix(Scripts/ZulGurub): Added missing yell on Hakkar's evade.
  data/sql/updates/pending_db_world/rev_1657358307029243000.sql
  src/server/scripts/EasternKingdoms/ZulGurub/boss_hakkar.cpp
Labels: DB, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#12314 fix(DB/gameobjects): Improve ZG Mining Spawns
  data/sql/updates/pending_db_world/rev_1657160513357568200.sql
Labels: DB, To Be Merged

#12319 fix(DB/gameobject): Fix respawn time dark iron deposit
  data/sql/updates/pending_db_world/brdmcveins.sql
Labels: To Be Merged, Ready to be Reviewed

#12331 fix(Scripts/ZulGurub): Prevent from summoning multiple Edge of Madnes…
  src/server/scripts/EasternKingdoms/ZulGurub/instance_zulgurub.cpp
Labels: To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#12326 fix(Scripts/ZulGurub): Added more missing areatrigger whispers.
  data/sql/updates/pending_db_world/rev_1657353730911093900.sql
  src/server/scripts/EasternKingdoms/ZulGurub/boss_hakkar.cpp
Labels: DB, CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#12333 fix(Core/ZulGurub): Hakkar hardmode
  data/sql/updates/pending_db_world/rev_1657371029609597700.sql
  src/server/scripts/EasternKingdoms/ZulGurub/boss_hakkar.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/instance_zulgurub.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/zulgurub.h
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, 60, Script, Instance - Raid - Vanilla, file-cpp

#12334 fix(DB/creature): ZG GUIDs 51384 & 49705 pathing
  data/sql/updates/pending_db_world/zg_path.sql
Labels: DB, To Be Merged, 60, Instance - Raid - Vanilla

#12233 fix(Core/ZulGurub): Jin'do the Hexxer rewrite
  data/sql/updates/pending_db_world/rev_1656469500232857400.sql
  src/server/scripts/EasternKingdoms/ZulGurub/boss_jindo.cpp
Labels: DB, CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#11355 fix(DB/Locale): Creature: Nayura
  data/sql/updates/pending_db_world/rev_1649656477945100427.sql
Labels: DB, To Be Merged

#11945 feat(Core/Config): Configurable Water Breath Timer
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/Entities/Player/Player.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
Labels: CORE, To Be Merged, file-cpp

#12291 fix(DB/Creature): Removed permanent root from Nergeld.
  data/sql/updates/pending_db_world/rev_1656838125070106100.sql
Labels: Quest, DB, To Be Merged, 75-79

#12312 fix(DB/Pathing): Missing Westfall Pathing
  data/sql/updates/pending_db_world/rev_1657123989788786700.sql
Labels: DB, To Be Merged

#12348 fix(Core/Spells): Fixed LoS problems with hunter traps.
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Grids/Notifiers/GridNotifiers.h
Labels: Priority-High, CORE, To Be Merged, file-cpp

#12335 refactor(Core): Improve struct alignment and codestyle
  src/server/game/Achievements/AchievementMgr.h
  src/server/game/Battlegrounds/Battleground.h
  src/server/game/Conditions/ConditionMgr.h
  src/server/game/DataStores/M2Structure.h
  src/server/game/DungeonFinding/LFGGroupData.h
  src/server/game/DungeonFinding/LFGMgr.h
  src/server/game/DungeonFinding/LFGQueue.h
  src/server/game/Entities/Item/ItemTemplate.h
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Object/ObjectDefines.h
  src/server/game/Entities/Object/ObjectGuid.h
  src/server/game/Entities/Object/ObjectPosSelector.h
  src/server/game/Entities/Pet/PetDefines.h
  src/server/game/Entities/Vehicle/VehicleDefines.h
  src/server/game/Events/GameEventMgr.h
  src/server/game/Loot/LootMgr.h
  src/server/game/Spells/Auras/SpellAuraDefines.h
  src/server/game/Tickets/TicketMgr.h
Labels: CORE, To Be Merged, file-cpp

#12351 fix(Scripts/World): Prevent Taerar to be untargetable on death
  src/server/scripts/World/boss_emerald_dragons.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#12313 fix(DB/Pathing): Missing Elwynn Forest Pathing
  data/sql/updates/pending_db_world/rev_1657125381696313300.sql
Labels: DB, To Be Merged

#12349 fix(DB/SAI): Fixed summoning friendly NPCs during quest "The Air Stan…
  data/sql/updates/pending_db_world/rev_1657467322559240600.sql
Labels: Quest, DB, To Be Merged, 75-79

#12353 fix(Scripts/ZulGurub): fix Thekal not dying in phase 2
  src/server/scripts/EasternKingdoms/ZulGurub/boss_thekal.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#12317 update (core): Clean Up SendGMText
  src/server/game/World/World.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#12320 feat(Core): add OnDisplayId hook
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Scripting/ScriptDefines/UnitScript.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, run-build, file-cpp

#12350 fix(DB/SAI): Fixes starting waypoint movement during "I Sense a Distu…
  data/sql/updates/pending_db_world/rev_1657468147873034500.sql
Labels: Quest, DB, To Be Merged, 71-74

#12365 feat(Core/Scripting): Add several UnitHooks
  src/server/game/AI/CreatureAI.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Scripting/ScriptDefines/UnitScript.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, file-cpp

#12357 fix(db/creature): Emeriss should not give reputation on kill
  data/sql/updates/pending_db_world/emerissrep.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12368 fix(Scripts/World): Ysondre - Spawn adds should scale with raid size v2 (Source: VMangos)
  src/server/scripts/World/boss_emerald_dragons.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#12367 fix(DB/creature): ZG entrance creature improvement
  data/sql/updates/pending_db_world/rev_1657581203983147300.sql
Labels: DB

#12309 fix(DB/creature template): Adjust Whitewhisker/Irondeep NPCs in Alterac Valley
  data/sql/updates/pending_db_world/rev_1657055583659435900.sql
Labels: DB, To Be Merged

#11779 Core/AI: Factory functions cleanup
  src/common/Dynamic/FactoryHolder.h
  src/common/Dynamic/ObjectRegistry.h
  src/server/game/AI/CoreAI/CombatAI.cpp
  src/server/game/AI/CoreAI/CombatAI.h
  src/server/game/AI/CoreAI/GameObjectAI.cpp
  src/server/game/AI/CoreAI/GameObjectAI.h
  src/server/game/AI/CoreAI/GuardAI.cpp
  src/server/game/AI/CoreAI/GuardAI.h
  src/server/game/AI/CoreAI/PassiveAI.cpp
  src/server/game/AI/CoreAI/PassiveAI.h
  src/server/game/AI/CoreAI/PetAI.cpp
  src/server/game/AI/CoreAI/PetAI.h
  src/server/game/AI/CoreAI/ReactorAI.cpp
  src/server/game/AI/CoreAI/ReactorAI.h
  src/server/game/AI/CoreAI/TotemAI.cpp
  src/server/game/AI/CoreAI/TotemAI.h
  src/server/game/AI/CreatureAI.h
  src/server/game/AI/CreatureAIFactory.h
  src/server/game/AI/CreatureAIRegistry.cpp
  src/server/game/AI/CreatureAISelector.cpp
  src/server/game/AI/CreatureAISelector.h
  src/server/game/AI/GameObjectAIFactory.h
  src/server/game/AI/SmartScripts/SmartAI.cpp
  src/server/game/AI/SmartScripts/SmartAI.h
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/GameObject/GameObject.h
  src/server/game/Movement/MotionMaster.cpp
  src/server/game/Movement/MovementGenerator.cpp
  src/server/game/Movement/MovementGenerator.h
  src/server/game/Movement/MovementGeneratorImpl.h
  src/server/game/Movement/MovementGenerators/IdleMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/IdleMovementGenerator.h
  src/tools/mmaps_generator/MapBuilder.cpp
Labels: CORE, To Be Merged, file-cpp

#12426 Fix(DB/Creature): Rookery Whelps should not give XP.
  data/sql/updates/pending_db_world/rookerywhelpsxp.sql
Labels: DB, To Be Merged

#12398 fix(Scripts/ZulGurub): Threat caused by `SPELL_AURA_DAMAGE_SHIELD` au…
  src/server/scripts/EasternKingdoms/ZulGurub/boss_mandokir.cpp
Labels: To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#12395 fix(Scripts/ZulGurub): Jindo the Hexxer - improvements.
  data/sql/updates/pending_db_world/rev_1657968102568754700.sql
  src/server/scripts/EasternKingdoms/ZulGurub/boss_jindo.cpp
Labels: DB, CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#12402 fix(Core/AI): more AI factories checks
  data/sql/updates/pending_db_world/rev_1657988086857948400.sql
  src/common/Dynamic/ObjectRegistry.h
  src/common/Utilities/Timer.h
  src/server/game/AI/CoreAI/CombatAI.cpp
  src/server/game/AI/CoreAI/PetAI.cpp
  src/server/game/AI/CreatureAISelector.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/World/World.cpp
Labels: DB, CORE, To Be Merged, file-cpp

#12408 fix(Core/Spells): Upon using charge warrior should start auto attacki…
  src/server/game/Movement/MovementGenerators/PointMovementGenerator.cpp
Labels: Class - Warrior, ChromieCraft Generic, To Be Merged

#12406 fix(DB/Spells): Zandalarian Hero Charm trinket should drop off stacks…
  data/sql/updates/pending_db_world/rev_1658046606233879000.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#12371 fix(db/creature): ZG entrance creature improvement 2
  data/sql/updates/pending_db_world/rev_1657669676037619800.sql
Labels: DB, To Be Merged

#12321 fix(DB/waypoint): Add missing waypoints to Somnus (12900)
  data/sql/updates/pending_db_world/somnus_waypoints.sql
Labels: DB, To Be Merged, 60

#12404 fix(DB/Event): Shadowfang Keep: link objects and npcs to event
  data/sql/updates/pending_db_world/rev_1657989497144859400.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12322 fix(DB/creature): Rocklance waypoints and formation.
  data/sql/updates/pending_db_world/rocklance.sql
Labels: 1-19, DB, To Be Merged

#12440 (Core/Commands): Introduce .npc guid
  data/sql/updates/pending_db_world/rev_1658266226251855400.sql
  src/server/scripts/Commands/cs_npc.cpp
Labels: DB, CORE, Script, file-cpp

#12453 fix(SmartScript/Creature): Cauldron Lord Razarch smartscripts
  data/sql/updates/pending_db_world/cauldronlordrazarch.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12451 fix(SmartScripts/Creature): Skeletal terror should not cast Altered C…
  data/sql/updates/pending_db_world/skeletalterror.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12407 fix(DB/Quest): Boiling Point.
  data/sql/updates/pending_db_world/rev_1658048928200692800.sql
Labels: DB, To Be Merged, 71-74

#12452 fix(SmartScript/Creature): Skeletal Horror should cast Terrify at top threat target
  data/sql/updates/pending_db_world/skeletalhorror.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12458 fix(Scripts/ZulGurub): Adjust Arlokk timers
  src/server/scripts/EasternKingdoms/ZulGurub/boss_arlokk.cpp
Labels: To Be Merged, 60, Instance - Raid - Vanilla

#12428 fix(Scripts\TempleOfAhnQiraj): Fix Skeram images not spawning if he's…
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_skeram.cpp
Labels: To Be Merged, Ready to be Reviewed

#12454 fix(SmartScripts/Creature): Flamewaker Protector should not cast domi…
  data/sql/updates/pending_db_world/flamewakerprotector.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12442 fix(DB/creature): ZG Before Bats Area Improvements
  data/sql/updates/pending_db_world/rev_1658282918588821000.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12448 fix(Scripts\Spells): fix spell Consume
  data/sql/updates/pending_db_world/rev_1658293185077751500.sql
  src/server/scripts/Spells/spell_generic.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#12443 fix(Scripts/TempleOfAhnQiraj): Correct Fankriss Mortal Wound spell ID
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_fankriss.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#12445 fix(Scripts\TempleOfAnhQiraj): Fix Huhuran`s Wyvern Sting dealing no …
  data/sql/updates/pending_db_world/rev_1658289715488941700.sql
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_huhuran.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#12429 fix(Scripts\TempleOfAhnQiraj): C'thun should aggro as soon as you eit…
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#12359 fix(DB/Quest): Slim Pickings
  data/sql/updates/pending_db_world/rev_1657531199046334193.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12136 fix(scripts/RuinsOfAhnQiraj): Improve Kurinnaxx
  data/sql/updates/pending_db_world/rev_1655863615360060800.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_kurinnaxx.cpp
Labels: DB, CORE, Script, file-cpp

#12444 fix(SmartScript/Creature): AQ20 Trash scripts
  data/sql/updates/pending_db_world/aq20trash.sql
Labels: DB, To Be Merged

#12477 fix(DB/Loot): Abyssal Crest (20513)
  data/sql/updates/pending_db_world/crests.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed, Loot, 60

#12468 fix(Core): SMART_ACTION_SET_HOME_POS should accept a parameter
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
Labels: CORE, file-cpp

#12450 fix(SmartScript/Creature): Sunhawk Reclaimer should not cast Frost Ar…
  data/sql/updates/pending_db_world/sunhawkreclaimer.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12394 feat(Core/Entities): Enabled loading basic stats for players, pets an…
  data/sql/updates/pending_db_world/rev_1657957555774947100.sql
  src/server/game/Entities/Player/Player.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
Labels: DB, CORE, To Be Merged, Bounty, file-cpp

#12344 fix(DB/Creature): Moontouched Owlbeast (7453)
  data/sql/updates/pending_db_world/moontouched_owlbeast.sql
Labels: 50-59, DB, To Be Merged

#12503 fix(Scripts/Spells): Replenishment should trigger only from Mind Blast.
  src/server/scripts/Spells/spell_priest.cpp
Labels: To Be Merged, Class - Priest, Script, file-cpp

#12489 fix(Core/AI): validate stored targets
  src/server/game/AI/SmartScripts/SmartAI.cpp
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScript.h
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: Priority-High, CORE, To Be Merged, file-cpp

#12479 fix(Core): Crash on smart event: near players
  src/server/game/AI/SmartScripts/SmartScript.cpp
Labels: Priority-High, CORE, To Be Merged, file-cpp

#12193 fix(Core/Creatures): Added new AI function `OnTeleportUnreacheablePlayer` to teleport all unreachable players.
  src/server/game/AI/CreatureAI.cpp
  src/server/game/AI/CreatureAI.h
  src/server/game/Combat/ThreatMgr.cpp
  src/server/game/Combat/ThreatMgr.h
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/boss_mandokir.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Movement/MMaps, Script, file-cpp, Tested

#12476 fix(DB/Loot): Cannon Master Willey (10997)
  data/sql/updates/pending_db_world/rev_1658464932896975300.sql
Labels: 50-59, DB, Waiting to be Tested, Ready to be Reviewed, Loot

#12409 fix(Core/Pets): Warlock should not be refunded with Soul Shard on log…
  src/server/game/Entities/Player/Player.cpp
Labels: ChromieCraft Generic, To Be Merged, Class - Warlock

#12378 fix(DB): Script Warmaul Chef Bufferlo
  data/sql/updates/pending_db_world/rev_1657756491696232200.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12497 fix(Scripts/Spells): Glyph of Felguard.
  data/sql/updates/pending_db_world/rev_1658567599833438900.sql
  src/server/game/Entities/Pet/Pet.cpp
  src/server/scripts/Spells/spell_warlock.cpp
Labels: DB, CORE, To Be Merged, Class - Warlock, Script, file-cpp

#12423 Chore(Cleanup): Merge redundant `if` in Totem::Update()
  src/server/game/Entities/Totem/Totem.cpp
Labels: CORE, To Be Merged, file-cpp

#12499 fix(Core/Spells): Elemental Mastery should only affect Lightning Bolt…
  data/sql/updates/pending_db_world/rev_1658605553284135100.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: DB, CORE, To Be Merged, Class - Shaman, file-cpp

#12459 fix(Core): Instance Reset Exploit Fix
  src/server/game/Maps/Map.cpp
  src/server/game/Server/WorldSession.cpp
Labels: Priority-High, CORE, To Be Merged, Ready to be Reviewed, file-cpp

#12460 fix(DB/SAI): Zulian Crocolisk has scripted movement
  data/sql/updates/pending_db_world/rev_1658354450598559500.sql
Labels: DB, Ready to be Reviewed

#12141 fix(scripts/RuinsOfAhnQiraj): Improve Buru
  data/sql/updates/pending_db_world/rev_1655864042959599100.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_buru.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/ruins_of_ahnqiraj.h
Labels: DB, CORE, Script, file-cpp

#12522 fix(Core/RuinsOfAhnQiraj): Kurinnaxx
  data/sql/updates/pending_db_world/rev_1658689583030214000.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_kurinnaxx.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/instance_ruins_of_ahnqiraj.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/ruins_of_ahnqiraj.h
Labels: DB, CORE, Waiting to be Tested, Script, Instance - Raid - Vanilla, file-cpp

#12517 chore(Scripts): remove double method calling for ZG script
  src/server/scripts/EasternKingdoms/ZulGurub/instance_zulgurub.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#12515 fix(DB/SAI): Fixed completing quest "Into The Realm of Shadows"
  data/sql/updates/pending_db_world/rev_1658645642391085500.sql
  src/server/game/AI/SmartScripts/SmartScript.cpp
Labels: DB, CORE, To Be Merged, file-cpp

#12531 fix(Formation/Creature): Qiraji Gladiator should be linked together
  data/sql/updates/pending_db_world/qirajigladiatorlink.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12530 fix(Formations/Creature): Scarab formations AQ20
  data/sql/updates/pending_db_world/scarabaqformations.sql
Labels: DB, To Be Merged

#12535 feat(Core/Creature): Implement SetRegeneratingPower() to disable powe…
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_moam.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#12526 refactor(Scripts/TempleOfAhnQiraj): Remove Giant Flesh Claw script as…
  data/sql/updates/pending_db_world/rev_1658719876642198500.sql
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#12502 fix(Scripts/Spells): Script spell Itch (AQ20) and improve Consume (AQ20)
  data/sql/updates/pending_db_world/rev_1658582043233714100.sql
  src/server/scripts/Spells/spell_generic.cpp
Labels: To Be Merged

#12528 fix(SmartScript/Creature): AQ20 Trash improvements
  data/sql/updates/pending_db_world/aq20trashupdate.sql
Labels: DB, To Be Merged

#12501 fix(Core/Spells): Lightning Shield should not proc off from self-cast…
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, To Be Merged, Class - Shaman, file-cpp

#12516 fix(Core/Spells): Make sure that attacker is always in combat with it…
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, To Be Merged, Class - Paladin, file-cpp

#12138 fix(scripts/RuinsOfAhnQiraj): Improve Ossirian
  data/sql/updates/pending_db_world/rev_1655863908221203900.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ossirian.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#12537 fix(Scripts/RuinsOfAhnQiraj): Script Anubisath Guardians
  data/sql/updates/pending_db_world/rev_1658788379158805300.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ossirian.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#12142 fix(scripts/RuinsOfAhnQiraj): Improve Moam
  data/sql/updates/pending_db_world/rev_1658790562433074900.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_moam.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#12456 fix(DB/Creature): Deadwood Shaman, Avengers, Den Watchers, should not…
  data/sql/updates/pending_db_world/deadwoodrep.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12541 refactor(Core/RuinsOfAhnQiraj): Ossirian
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ossirian.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#12539 fix(Scripts/RuinsOfAhnQiraj): Rewrite Moam
  data/sql/updates/pending_db_world/rev_1658801275458302100.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_moam.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#12524 fix(Core/RuinsOfAhnQiraj): Buru
  data/sql/updates/pending_db_world/rev_1658706852781829600.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_buru.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/instance_ruins_of_ahnqiraj.cpp
Labels: DB, CORE, To Be Merged, 60, Script, Instance - Raid - Vanilla, file-cpp

#12143 fix(scripts/RuinsOfAhnQiraj): Improve Ayamiss
  data/sql/updates/pending_db_world/rev_1655864210422775700.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ayamiss.cpp
Labels: DB, CORE, Script, file-cpp

#12545 fix(Scripts/TempleOfAhnQiraj): Clear Eye of C'thun scheduler during p…
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#12373 fix(DB/Pathing): Missing Durotar Pathing
  data/sql/updates/pending_db_world/rev_1657730289541881400.sql
Labels: DB, To Be Merged

#12405 fix(DB/SAI): Shadowfang Keep: improve Arugal intro script
  data/sql/updates/pending_db_world/rev_1658003120465824400.sql
Labels: DB, To Be Merged

#12538 feat(Core): Add OnGroupRollRewardItem hook.
  src/server/game/Groups/Group.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, Ready to be Reviewed, file-cpp

#12553 fix(DB/Update): Fix update 2022_07_26_04.sql
  data/sql/updates/db_world/2022_07_26_04.sql
Labels: DB

#12548 fix(Core/RuinsOfAhnQiraj): Ossirian reset
  data/sql/updates/pending_db_world/rev_1658857216982492500.sql
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ossirian.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, 60, Script, file-cpp

#12558 fix(SmartScript/Creature): Destroyer should have 0 mana on repull
  data/sql/updates/pending_db_world/aqdestroyer.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12557 fix(Smartscript/creature): Hive Wasp should target 3 people every cast
  data/sql/updates/pending_db_world/aq20wasp.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12504 fix(DB/Spells): Greater Heal spell from 8P T2 Priest set should scale…
  data/sql/updates/pending_db_world/rev_1658587246185545500.sql
Labels: DB, To Be Merged, Class - Priest

#12533 fix(Formation/Creature): ZG Trash Formations
  data/sql/updates/pending_db_world/zgtrashformations.sql
Labels: DB, Ready to be Reviewed

#12551 fix(Scripts/RuinsOfAhnQiraj): Limit Moan's mana drain to 6 targets
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_moam.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#12573 fix(Scripts/EmeraldDragons): fix summon player spam
  src/server/scripts/World/boss_emerald_dragons.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#12569 fix(DB/SkinningLootTemplate): emerald dragons should skin dreamscale
  data/sql/updates/pending_db_world/emeralddragonsskinloot.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#12581 fix(Core): Crashfix.
  src/server/game/Entities/Totem/Totem.cpp
Labels: CORE, To Be Merged, Priority-Critical, file-cpp

#12593 fix(Scripts/Mail) Fix faction server mail rewards.
  src/server/game/Globals/ObjectMgr.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#12594 fix(Core): Crashfix.
  src/server/scripts/EasternKingdoms/ZulGurub/boss_gahzranka.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Priority-Critical, file-cpp

#12550 fix(Scripts/RuinsOfAhnQiraj): Despawn Ayamiss summons on death/reset
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ayamiss.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/instance_ruins_of_ahnqiraj.cpp
Labels: To Be Merged, Ready to be Reviewed

#12377 fix(DB/quest_greeting): Fix Chief Hawkwind quest_greeting
  data/sql/updates/pending_db_world/rev_1657755590733012200.sql
Labels: DB, To Be Merged

#12441 fix(DB/creature): correct movement type on a couple snakes (ZG Entrance 3)
  data/sql/updates/pending_db_world/rev_1658273838607986200.sql
Labels: DB, To Be Merged

#12480 fix(DB): Script To Serve Kum'isha End Event
  data/sql/updates/pending_db_world/rev_1658502499846467300.sql
Labels: DB, To Be Merged, Ready to be Reviewed
