Repository azerothcore/azerothcore-wotlk, pull requests merged in 2023-08, with the labels that each got.

#16866 fix(Scripts/Gruuls) Kiggler no longer chases after target
  src/server/scripts/Outland/GruulsLair/boss_high_king_maulgar.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#16854 fix(Core/Spells) Add Explosive Shot exception
  src/server/game/Spells/Auras/SpellAuras.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#16867 fix(Scripts/MagtheridonLair): Script Manticron Cube conditions
  data/sql/updates/pending_db_world/rev_1690769530684832000.sql
  src/server/scripts/Outland/HellfireCitadel/MagtheridonsLair/boss_magtheridon.cpp
  src/server/scripts/Outland/HellfireCitadel/MagtheridonsLair/magtheridons_lair.h
Labels: DB, CORE, To Be Merged, Script, file-cpp

#16879 fix(Scripts/Commands): Allow using flusharenapoints from console
  src/server/scripts/Commands/cs_misc.cpp
Labels: CORE, Script, file-cpp

#16877 fix(Core/Battleground): Fix auto arena flush interval
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
Labels: CORE, Ready to be Reviewed, file-cpp, Tested

#16401 fix(Core/Pets) Pet scaling only being applied to pets with DB Entry
  src/server/game/Entities/Pet/Pet.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#16636 fix(Scripts/EscapeFromDurnholde): Fix escort mission getting stuck
  src/server/scripts/Kalimdor/CavernsOfTime/EscapeFromDurnholdeKeep/instance_old_hillsbrad.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#16228 fix(DB:Karazhan): fix mechanical immunities of Ghostly Steward as well as fixing/improving Frenzy
  data/sql/updates/pending_db_world/add_mech_imm_and_sai_to_ghostly_steward.sql
Labels: DB, To Be Merged

#16859 fix(DB/loot): Karazhan Boss Loot
  data/sql/updates/pending_db_world/karaloot.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#14806 fix(DB/Creature/SmartScript) Wood Mites should skitter around
  data/sql/updates/pending_db_world/rev_1675139356539586000.sql
  src/server/scripts/Outland/zone_terokkar_forest.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#16910 fix(Core/Pets): Corret Pet size for normal and exotics & bigger pets
  src/server/game/Entities/Pet/Pet.cpp
Labels: CORE, file-cpp

#16906 fix(DB/TheBarrens): fix Verog the Dervish spawn position and add movement down to ramp with sniffs
  data/sql/updates/pending_db_world/verog-the-dervish.sql
Labels: DB, To Be Merged

#13948 fix(Core/Spells): Taunt always set proper target while channelling sp…
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/SpellEffects.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_rotface.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Script, Instance - Dungeon - Outland, 61-64, file-cpp

#15259 fix(DB/Quest): improve A Dip in the Moonwell
  data/sql/updates/pending_db_world/rev_1677930037418943000.sql
  src/server/scripts/World/npcs_special.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#15878 fix(Script/Quest): Arelion's Secret. Add combat sequence to Magister …
  data/sql/updates/pending_db_world/rev_1680898252288480968.sql
  src/server/scripts/Outland/zone_hellfire_peninsula.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#16796 fix(Core/Movement) Smoother movement of hunter pets when following players
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
Labels: CORE, To Be Merged, file-cpp

#16852 fix(DB/Creature): Ethereal Darkcaster (H) should be pickpocketable
  data/sql/updates/pending_db_world/etherealdarkcaster.sql
Labels: DB, To Be Merged

#16871 fix(Gossip): Gremnik Rizzlesprang gossip
  data/sql/updates/pending_db_world/rev_1690829165550626300.sql
Labels: DB, To Be Merged

#16907 fix(Core/Spells): Silent Fang proc should not work in …
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, Priority-Medium, file-cpp, Tested

#16908 fix(DB/Item): Blade of Unquenched Thirst PPM fix
  data/sql/updates/pending_db_world/unquenchedthirst.sql
Labels: DB, Priority-High, To Be Merged, Ready to be Reviewed

#16909 fix(DB/SAI) Adds missing (36332) Rake ability to (17350) Royal Blue Flutterer
  data/sql/updates/pending_db_world/rev_1691257289493032818.sql
Labels: DB, To Be Merged

#16749 fix(Core/Spells): Warrior T5 2p
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, file-cpp

#16913 chore(CI): fix `ci-pending.sh` script for linting SQL
  apps/ci/ci-pending.sh
Labels: Bash

#16894 fix(DB/Creature): Hellfire Channeler should be immune to silence
  data/sql/updates/pending_db_world/hellfirechanneler.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#16922 fix(DB/Creature): Netherspite, Nightbane should be immune to interrupt
  data/sql/updates/pending_db_world/karadragon.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#16921 fix(DB/Creature): Arcane Anomaly should not be immune to arcane
  data/sql/updates/pending_db_world/arcaneanomaly.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#16923 fix(Script/Quest): Doing Your Duty
  data/sql/updates/pending_db_world/Roleplay.sql
  data/sql/updates/pending_db_world/amberhouse.sql
  src/server/scripts/Northrend/zone_grizzly_hills.cpp
  src/server/scripts/World/go_scripts.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#16911 feat(Core/SmartAI): Implement castFlag THREATLIST_NOT_SINGLE
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp, Requires WIKI Update

#16903 chore(Docs): Specify MySQL 8.1 support
  .github/SECURITY.md
Labels: To Be Merged, Ready to be Reviewed

#16853 fix(DB): Correct collation of create script
  data/sql/create/create_mysql.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#16933 refactor(Core/Motd): Move motd to MotdMgr
  src/server/apps/worldserver/RemoteAccess/RASession.cpp
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Motd/MotdMgr.cpp
  src/server/game/Motd/MotdMgr.h
  src/server/game/Motd/ServerMotd.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/scripts/Commands/cs_reload.cpp
  src/server/scripts/Commands/cs_server.cpp
  src/test/mocks/WorldMock.h
Labels: CORE, Ready to be Reviewed, Script, UnitTests, file-cpp

#16941 fix(DB/SAI): Hellfire Warder should not overlap rain of fire
  data/sql/updates/pending_db_world/hellfirewarder.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#16956 fix(DB/Creature): make sure The Crone can no longer be disarmed or interrupted
  data/sql/updates/pending_db_world/the-crone-interrupt.sql
Labels: DB, To Be Merged

#16959 fix(Core/Pets): Hunter pet scaling
  src/server/game/Entities/Pet/Pet.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#16961 fix(DB/Creature): Infernal Warbringer immune to horror
  data/sql/updates/pending_db_world/infernalwarbringer.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#16925 fix(Core/Unit): Fix Arena Preparation aura being removed on player ac…
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, To Be Merged, file-cpp

#16960 fix(DB/Quest): Hellfire Fortifications adjustments
  data/sql/updates/pending_db_world/hellfirefort.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#16940 feat(Core/Config): Add Legacy Arena Points config option
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/Battlegrounds/ArenaTeam.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#16850 feat(Core/Conf): add CONFIG_ARENA_QUEUE_ANNOUNCER_DETAIL
  data/sql/updates/pending_db_world/rev_1691552962372476000.sql
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/Battlegrounds/BattlegroundQueue.cpp
  src/server/game/Miscellaneous/Language.h
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
Labels: DB, CORE, Ready to be Reviewed, file-cpp

#16967 fix(Core/Arena): Fix LegacyArenaPoints logic
  src/server/game/Battlegrounds/ArenaTeam.cpp
Labels: To Be Merged

#16972 fix(DB/Creature): Desolace Kolkar have no resistances.
  data/sql/updates/pending_db_world/kolkarresistance.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#16287 fix(DB/Locale): deDE fixes for request items 6
  data/sql/updates/pending_db_world/qril06.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed

#16288 fix(DB/Locale): deDE fixes for request items 7
  data/sql/updates/pending_db_world/qril07.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed

#15554 fix(Spells/Scripts): Gnomish Poultryizer
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/Spells/spell_item.cpp
Labels: CORE, Waiting to be Tested, Script, file-cpp

#16976 fix(Scripts/UBRS): typo in Blackrock Spire instance
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/instance_blackrock_spire.cpp
Labels: CORE, Script, file-cpp

#16980 fix(Scripts/Command): Improve output of event commands
  data/sql/updates/pending_db_world/rev_1691767736730972500.sql
  src/server/game/Miscellaneous/Language.h
  src/server/scripts/Commands/cs_event.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#16929 fix(DB/Creature): Infected Wildkin uses Infected Wound
  data/sql/updates/pending_db_world/infectedwildkinfix.sql
Labels: DB, To Be Merged

#16888 fix(DB/UBRS): change rep on kill for Pyroguard Emberseer from 50 to 20
  data/sql/updates/pending_db_world/change-pyroguard-rep-onkill.sql
Labels: DB, To Be Merged

#16977 chore(Scripts/Karazhan): Clean up Maiden of Virtue script
  src/server/scripts/EasternKingdoms/Karazhan/boss_maiden_of_virtue.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#15759 fix(Core/Quest): Improve Inoculation
  data/sql/updates/pending_db_world/rev_1680343313995182400.sql
  src/server/scripts/Kalimdor/zone_azuremyst_isle.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp

#16379 fix(Docker): Git version resolution in docker build
  apps/docker/Dockerfile
Labels: Waiting to be Tested, Ready to be Reviewed

#16927 fix(DB/Creature) Wrathscale Sorceress casts Frostbolt
  data/sql/updates/pending_db_world/WrathscaleSorceressFix.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed

#16982 fix(DB/Gossip): Change MenuID to INT from SMALLINT
  data/sql/updates/pending_db_world/rev_1691785871304354900.sql
  src/server/game/Globals/ObjectMgr.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, file-cpp

#16944 feat(Core/SmartAI): Add new event parameter, event_param6
  data/sql/updates/pending_db_world/rev_1691374236351136600.sql
  src/server/database/Database/Implementation/WorldDatabase.cpp
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScript.h
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: DB, CORE, file-cpp, Requires WIKI Update

#14914 Fix adduser/addgroup commands in dockerfile
  apps/docker/Dockerfile
Labels: Platform-Docker, Waiting to be Tested, Needs Feedback

#16998 refactor(DB/SAI): Port 'The Dread Relic' from event_scripts to SmartAI
  data/sql/updates/pending_db_world/rev_1691887692026103900.sql
Labels: Quest, DB, To Be Merged, 61-64

#17000 fix(Scripts/OHF): Killing Drake should not be required to start Thral…
  data/sql/updates/pending_db_world/rev_1691940275333956500.sql
  src/server/scripts/Kalimdor/CavernsOfTime/EscapeFromDurnholdeKeep/old_hillsbrad.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#17001 fix(Scripts/Karazhan): Fix Servant Quarters rares not spawning
  data/sql/updates/pending_db_world/rev_1691944209332122100.sql
  src/server/scripts/EasternKingdoms/Karazhan/boss_servant_quarters.cpp
  src/server/scripts/EasternKingdoms/Karazhan/karazhan.h
Labels: DB, CORE, To Be Merged, Script, file-cpp

#16901 fix(DB/Creature): Kara Arcane Protector improvements
  data/sql/updates/pending_db_world/arcaneprotector.sql
Labels: DB, To Be Merged

#16999 fix(DB/SAI) Set Maleki the Palid to not respond to call for help
  data/sql/updates/pending_db_world/rev_1691929623308263800.sql
Labels: DB, To Be Merged

#17004 fix(Creature): Jandice Barov correct spell IDs
  data/sql/updates/pending_db_world/rev_1691962350657672100.sql
Labels: DB

#17003 fix(DB/Creature): Hellfire Warder Immunities
  data/sql/updates/pending_db_world/warder.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#16900 fix(DB/Formations): Kara Banquet Hall Formations
  data/sql/updates/pending_db_world/banquetformations.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#17006 fix(Scripts/OHF): make it so that even if you kill Drake you can still progress with Thrall (as it should be)
  src/server/scripts/Kalimdor/CavernsOfTime/EscapeFromDurnholdeKeep/old_hillsbrad.cpp
Labels: CORE, Testing in Progress, Ready to be Reviewed, Script, file-cpp

#16953 fix(DB/Creature) Horrified Drakkari Shaman/Warrior
  data/sql/updates/pending_db_world/Horrified_Drakkari.sql
Labels: DB, To Be Merged

#16817 feat(Core/Config): Implement config override with env vars
  src/common/Configuration/Config.cpp
  src/common/Configuration/Config.h
  src/server/apps/authserver/Main.cpp
  src/server/apps/worldserver/Main.cpp
  src/test/common/Configuration/Config.cpp
Labels: CORE, UnitTests, file-cpp

#17007 fix(build): macOS
  src/test/common/Configuration/Config.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, UnitTests, run-build, file-cpp

#16948 refactor(Deps/MySQL): Tidy up FindMySQL for windows
  src/cmake/macros/FindMySQL.cmake
Labels: CORE, Ready to be Reviewed, run-build

#17021 fix(Transport): Fixes crash with loading player on deleted transport
  src/server/game/Entities/Transport/Transport.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#17019 fix(Tools/dbimport): Add Env var support to DBimport tool
  src/tools/dbimport/Main.cpp
Labels: CORE, file-cpp

#16849 refactor(docs): Clean up readme a bit
  .github/README.md
Labels: Ready to be Reviewed

#16799 fix(Scripts/Quest): Improved Varedis Must Be Stopped
  data/sql/updates/pending_db_world/rev_1689813586760998100.sql
  src/server/scripts/Spells/spell_quest.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#16672 fix(DB/Creature): Njorndar Proto-Drake vehicle unable to fly in “Vile Like Fire”
  data/sql/updates/pending_db_world/rev_1688557801143854400.sql
Labels: DB, To Be Merged

#17034 fix(Core/Pets): Fix crash when pet tries to attack deleted object
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Entities/Pet/Pet.h
  src/server/game/Handlers/PetHandler.cpp
Labels: CORE, file-cpp

#17032 fix(Crash): Fix crash on ExitVehicle from Wintergarde Gryphon.
  src/server/scripts/Northrend/zone_dragonblight.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#16963 fix(Core/Events): Implement Spirit of Competition event
  data/sql/updates/pending_db_world/rev_1691529514989936100.sql
  src/server/game/Battlegrounds/Battleground.cpp
  src/server/game/Battlegrounds/Battleground.h
  src/server/scripts/Spells/spell_generic.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp, Tested

#17040 feat(docker): Use Env Vars for docker configuration
  .dockerignore
  .gitignore
  apps/compiler/includes/functions.sh
  apps/docker/Dockerfile
  conf/dist/env.docker
  docker-compose.yml
  env/docker/bin/.gitkeep
  env/docker/data/.gitkeep
  env/docker/data/Cameras/.gitkeep
  env/docker/data/dbc/.gitkeep
  env/docker/data/maps/.gitkeep
  env/docker/data/mmaps/.gitkeep
  env/docker/data/vmaps/.gitkeep
  env/docker/etc/.gitkeep
  env/docker/etc/authserver.conf.dockerdist
  env/docker/etc/dbimport.conf.dockerdist
  env/docker/etc/worldserver.conf.dockerdist
  env/docker/logs/.gitkeep
Labels: Bash, run-build

#17024 fix(Scripts/OHF): Don't update the escort steps when Drake dies
  data/sql/updates/pending_db_world/rev_1692233536025387200.sql
  src/server/scripts/Kalimdor/CavernsOfTime/EscapeFromDurnholdeKeep/boss_lieutenant_drake.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/EscapeFromDurnholdeKeep/old_hillsbrad.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/EscapeFromDurnholdeKeep/old_hillsbrad.h
Labels: DB, WIP, CORE, Ready to be Reviewed, Script, file-cpp, Tested

#16769 fix (DB&Core) correct (most) warlock pet scaling
  data/sql/updates/pending_db_world/rev_1689522771491547000.sql
  src/server/game/Entities/Pet/Pet.cpp
Labels: DB, CORE, Ready to be Reviewed, file-cpp

#17051 fix(Script/Spells): Book of Fel Names
  data/sql/updates/pending_db_world/rev_1692638445679940800.sql
  src/server/scripts/Spells/spell_quest.cpp
Labels: DB, CORE, Script, file-cpp

#17018 fix(Scripts/Arcatraz): Fix not being able to try Skyriss a second time after wipes
  src/server/scripts/Outland/TempestKeep/arcatraz/boss_harbinger_skyriss.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#17053 refactor(Misc/Conf): DBErrors is now Errors
  apps/ci/ci-error-check.sh
  src/server/apps/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged, Ready to be Reviewed, Bash

#17033 feat(Core/SmartAI): Implement SMART_ACTION_FOLLOW_GROUP
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: CORE, To Be Merged, file-cpp

#17038 fix(Crash): Fix crash in Vehicle::AddPassenger
  src/server/game/Entities/Vehicle/Vehicle.cpp
Labels: CORE, file-cpp

#17008 fix(DB/SAI): Correct Giselda the Crone's SAI.
  data/sql/updates/pending_db_world/rev_1692106991947262800.sql
Labels: DB, Ready to be Reviewed, Tested

#17049 fix(DB/Item): Deep Thunder ppm adjustment
  data/sql/updates/pending_db_world/deep.sql
Labels: DB, To Be Merged

#17059 fix(DB/Darkshore): allow Delmanis the Hated to engage in combat
  data/sql/updates/pending_db_world/move-delmanis-to-normal-wps.sql
Labels: DB, Ready to be Reviewed

#17055 fix(DB/Creature): add `path_id` to some Ulduar mobs that were missing it
  data/sql/updates/pending_db_world/add-path-ids-ulduar-trash.sql
Labels: DB, Ready to be Reviewed

#16992 fix(Core/Item): Complimentary Brewfest Sampler
  data/sql/updates/pending_db_world/rev_1691843684176706600.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: DB, CORE, To Be Merged, file-cpp, Tested

#16947 fix(CORE/Creature): replace hardcoded gossips in zone_orgrimmar
  src/server/scripts/Kalimdor/zone_orgrimmar.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#17041 Add SPELL_ATTR7_DONT_CAUSE_SPELL_PUSHBACK to Hand of Sac and Divine Sac spells
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, file-cpp

#17077 fix(Scripts/Karazhan): allow sequence of releases to continue even if Dorothee dies early
  src/server/scripts/EasternKingdoms/Karazhan/bosses_opera.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp, Tested

#16657 fix(core/spell): Stop `Blink` from the falling player to move upward by 1y and stop moving backward when facing a wall
  src/common/Collision/Maps/MapTree.cpp
  src/server/game/Spells/Spell.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#17070 fix(Core/Scripts): Fix scripts where LoadObjectData can leave arrays boundaries.
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/instance_blackwing_lair.cpp
  src/server/scripts/EasternKingdoms/Karazhan/instance_karazhan.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/instance_zulgurub.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/instance_the_black_morass.cpp
  src/server/scripts/Kalimdor/OnyxiasLair/instance_onyxias_lair.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/instance_ruins_of_ahnqiraj.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/instance_temple_of_ahnqiraj.cpp
  src/server/scripts/Northrend/AzjolNerub/AzjolNerub/instance_azjol_nerub.cpp
  src/server/scripts/Northrend/IcecrownCitadel/instance_icecrown_citadel.cpp
  src/server/scripts/Outland/Auchindoun/SethekkHalls/instance_sethekk_halls.cpp
  src/server/scripts/Outland/CoilfangReservoir/SlavePens/instance_the_slave_pens.cpp
  src/server/scripts/Outland/CoilfangReservoir/underbog/instance_the_underbog.cpp
  src/server/scripts/Outland/TempestKeep/arcatraz/instance_arcatraz.cpp
Labels: CORE, Script, file-cpp

#16701 fix(Core/MiscHandler): Dungeon requirements Message
  src/server/game/Entities/Player/PlayerStorage.cpp
Labels: CORE, Waiting to be Tested, file-cpp

#17076 fix(DB/creature_template): Add Taunt immunity to Magtheridon
  data/sql/updates/pending_db_world/rev_1692891069724453500.sql
Labels: DB, Ready to be Reviewed

#17022 fix(DB/TirisfalGlades): rework Agamand Family Crypt creature positions to make sure creatures don't aggro weirdly anymore
  data/sql/updates/pending_db_world/agamand.sql
Labels: DB, To Be Merged

#17071 fix(docker): ensure conf files always exist
  apps/compiler/includes/functions.sh
Labels: Bash

#17005 fix(Spell) set torment of the worgen to have 3% proc chance
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, file-cpp, Tested

#17091 chore(Core/Misc): Correct some fmt outputs
  src/common/Configuration/Config.cpp
  src/server/game/Handlers/LFGHandler.cpp
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, To Be Merged, file-cpp

#17072 fix(Scripts/Karazhan): allow Moroes and adds to reset when an add is pulled out of the room
  src/server/scripts/EasternKingdoms/Karazhan/boss_moroes.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#17097 refactor(Scripts): remove unused imports
  src/common/Cryptography/OpenSSLCrypto.cpp
  src/server/scripts/Commands/cs_account.cpp
  src/server/scripts/Commands/cs_cast.cpp
  src/server/scripts/Commands/cs_debug.cpp
  src/server/scripts/Commands/cs_list.cpp
  src/server/scripts/Commands/cs_message.cpp
  src/server/scripts/Commands/cs_pet.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/the_black_morass.cpp
  src/server/scripts/Kalimdor/zone_dustwallow_marsh.cpp
  src/server/scripts/Kalimdor/zone_feralas.cpp
  src/server/scripts/Kalimdor/zone_tanaris.cpp
  src/server/scripts/Kalimdor/zone_winterspring.cpp
  src/server/scripts/Northrend/Nexus/EyeOfEternity/boss_malygos.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_flame_leviathan.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/instance_ulduar.cpp
  src/server/scripts/Outland/zone_hellfire_peninsula.cpp
  src/server/scripts/Outland/zone_shadowmoon_valley.cpp
Labels: To Be Merged, Script, run-build, file-cpp

#17101 chore(Deps/Misc): Print an EOL Deprecation warning for MySQL 5.7 and …
  src/server/apps/worldserver/Main.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#17031 Fix(DB): Quest-ID: 8353-8355-8356-8357-8311-Conditions
  data/sql/updates/pending_db_world/rev_1692366711663255300.sql
Labels: DB, To Be Merged, Tested
