Repository azerothcore/azerothcore-wotlk, pull requests merged in 2023-06, with the labels that each got.

#16409 fix(Core/Scripts): Ikiss polymorph target
  src/server/scripts/Outland/Auchindoun/SethekkHalls/boss_talon_king_ikiss.cpp
Labels: CORE, Ready to be Reviewed, Script, Instance - Dungeon - Outland, 70, file-cpp

#16408 fix(DB/Creature): Immunity mask for Rift Lord/Keeper
  data/sql/updates/pending_db_world/rev_1685492458809465300.sql
Labels: DB, To Be Merged, Instance - Dungeon - Outland

#16407 fix(Core/Scripts): Rework Pandemonius
  data/sql/updates/pending_db_world/rev_1685488203205825700.sql
  src/server/scripts/Outland/Auchindoun/ManaTombs/boss_pandemonius.cpp
Labels: DB, CORE, Script, Instance - Dungeon - Outland, 70, file-cpp

#16396 fix(Scripts/ShatteredHalls): hack fix to prevent pets from pulling the non-attackable peons in Nethekurse room
  data/sql/updates/pending_db_world/update-peon-unit-flag.sql
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/boss_nethekurse.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp

#16412 fix(Core/Scripts): Sepethrea should prioritize players that don't hav…
  src/server/scripts/Outland/TempestKeep/Mechanar/boss_nethermancer_sepethrea.cpp
Labels: CORE, Ready to be Reviewed, Script, Instance - Dungeon - Outland, 70, file-cpp

#16382 fix (DB/SAI): Lupine Delusion (5097) and Illusionary Phantasm (6493) properly despawn when hit
  data/sql/updates/pending_db_world/rev_1685233623001496914.sql
Labels: DB, To Be Merged

#16411 fix(Core/SmartScripts): Allow SAI_ACTION_DIE to accept params
  data/sql/updates/pending_db_world/rev_1685502020986918600.sql
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: DB, CORE, Ready to be Reviewed, file-cpp

#16363 fix(DB/SAI): Zul'Farrak - Adds creature_formations for trash in the last boss room
  data/sql/updates/pending_db_world/rev_1684953661179621591.sql
Labels: DB, To Be Merged

#16335 fix(Scripts/Quest): Make quest "Triage" (6622/6624) completable
  src/server/scripts/World/npcs_special.cpp
Labels: CORE, Script, file-cpp

#16352 fix(Scripts/UBRS): Update UBRS/Pyroguard Emberseer script to fix issues and increase accuracy
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_pyroguard_emberseer.cpp
Labels: CORE, Script, file-cpp

#16414 fix(Scripts/Spells): Convert some Druid spells to SpellScript
  data/sql/updates/pending_db_world/rev_1685547548027950300.sql
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/Spells/spell_druid.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#16364 fix(DB/creature) Add Magnetic Pull to Living Cyclone and remove wrong…
  data/sql/updates/pending_db_world/rev_1684961632752120124.sql
Labels: DB, To Be Merged

#16405 fix(DB/TerokkarForest): put Old Man Barlo in the right position
  data/sql/updates/pending_db_world/future-is-now-old-man.sql
Labels: DB, To Be Merged

#16377 fix(DB/Quest): improve Teleport This!
  data/sql/updates/pending_db_world/rev_1685124320508720600.sql
Labels: DB, To Be Merged

#16259 add(DB/NPC) Missing Text for Tavernkeep Smitts
  data/sql/updates/pending_db_world/273.sql
Labels: DB, To Be Merged

#16257 add(DB/NPC) NPC Barkeep Daniels - Texts missing
  data/sql/updates/pending_db_world/346.sql
Labels: DB, To Be Merged

#16406 fix(DB/Karazhan): Ghostly Philanthropists drop no gold in wotlk
  data/sql/updates/pending_db_world/gostly-philantropist-to-jail.sql
Labels: DB

#16276 fix(DB/Karazhan): remove Sha'tar rep gain from Restless Skeletons
  data/sql/updates/pending_db_world/remove_restless_skel_rep.sql
Labels: DB, Ready to be Reviewed

#16449 fix(DB/Creature): Charming Totem Movement (Heroic)
  data/sql/updates/pending_db_world/idontlikemakingthisthroughthewebsite.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#16450 fix (DB/Dungeon) make Gargantuan Abyssal unaffected by knockbacks
  data/sql/updates/pending_db_world/rev_1685737282291536800.sql
Labels: DB, Instance - Dungeon - Outland, 70

#16413 fix(DB/Tanaris): correct position of Jin'Zallah the Sandbringer
  data/sql/updates/pending_db_world/update-jinzallah-spawn-posis.sql
Labels: DB, Ready to be Reviewed

#16474 fix(DB/Holidays): Add the next 75 Darkmoon Faires
  data/sql/updates/pending_db_world/rev_1685913934442419700.sql
Labels: ChromieCraft Generic, DB, Ready to be Reviewed, Needs Feedback

#16473 fix(DB): Fix typo in 2023_05_28_03.sql
  data/sql/updates/db_world/2023_05_28_03.sql
Labels: DB, To Be Merged

#16446 fix(DB/Creature): Archaedas despawns his adds after dying
  data/sql/updates/pending_db_world/rev_1685675135891070502.sql
Labels: DB

#16149 fix(Scripts/Underbog): modernise boss scripts
  src/server/game/Movement/MotionMaster.cpp
  src/server/game/Movement/MotionMaster.h
  src/server/scripts/Outland/CoilfangReservoir/underbog/boss_ghazan.cpp
  src/server/scripts/Outland/CoilfangReservoir/underbog/boss_hungarfen.cpp
  src/server/scripts/Outland/CoilfangReservoir/underbog/boss_swamplord_muselek.cpp
  src/server/scripts/Outland/CoilfangReservoir/underbog/boss_the_black_stalker.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#16417 refactor(Scripts/ShatteredHalls): move Porung from SAI to cpp
  data/sql/updates/pending_db_world/rev_1685590449193027600.sql
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/boss_porung.cpp
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/instance_shattered_halls.cpp
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/shattered_halls.h
  src/server/scripts/Outland/outland_script_loader.cpp
Labels: DB, CORE, Waiting to be Tested, Ready to be Reviewed, Script, Instance - Dungeon - Outland, 70, file-cpp

#16487 fix(DB/BlackMorass): added missing immunities to Rift Lord/Keeper
  data/sql/updates/pending_db_world/rev_1686082520826526400.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#16479 chore(DB): Fix Typo... Again...
  data/sql/updates/pending_db_world/typo_fix.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#16478 fix(DB/ShatteredHalls): add CC immunities to a variety of trash mobs
  data/sql/updates/pending_db_world/update-shh-immunities.sql
Labels: DB, To Be Merged

#16491 fix(DB/Gameobject): Instance portal in Escape from Durnholde Keep not showing
  data/sql/updates/pending_db_world/rev_1686107255114155700.sql
Labels: DB, To Be Merged

#16410 fix(Core/Scripts): Ghaz'an acid spit should hit just one target
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, Ready to be Reviewed, Instance - Dungeon - Outland, 70, file-cpp

#16266 refactor(scripts/Auchindoun): Mass struct/model update
  data/sql/updates/pending_db_world/rev_1684100205046391100.sql
  src/server/scripts/Outland/Auchindoun/AuchenaiCrypts/auchenai_crypts.h
  src/server/scripts/Outland/Auchindoun/AuchenaiCrypts/boss_exarch_maladaar.cpp
  src/server/scripts/Outland/Auchindoun/AuchenaiCrypts/boss_shirrak_the_dead_watcher.cpp
  src/server/scripts/Outland/Auchindoun/ManaTombs/boss_nexusprince_shaffar.cpp
  src/server/scripts/Outland/Auchindoun/ManaTombs/boss_tavarok.cpp
  src/server/scripts/Outland/Auchindoun/SethekkHalls/boss_anzu.cpp
  src/server/scripts/Outland/Auchindoun/SethekkHalls/boss_darkweaver_syth.cpp
  src/server/scripts/Outland/Auchindoun/SethekkHalls/boss_talon_king_ikiss.cpp
  src/server/scripts/Outland/Auchindoun/ShadowLabyrinth/boss_ambassador_hellmaw.cpp
  src/server/scripts/Outland/Auchindoun/ShadowLabyrinth/boss_blackheart_the_inciter.cpp
  src/server/scripts/Outland/Auchindoun/ShadowLabyrinth/boss_grandmaster_vorpil.cpp
  src/server/scripts/Outland/Auchindoun/ShadowLabyrinth/boss_murmur.cpp
Labels: DB, CORE, Script, file-cpp

#16482 Fix(Core/Spell): Net-o-Matic
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: CORE, To Be Merged, file-cpp

#16398 chore(Core/Conf): Move DungeonFinder.OptionsMask to rest of lfg stuff
  src/server/apps/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged, Ready to be Reviewed

#16483 chore(CI): Restore broadcast_text check
  apps/ci/ci-pending.sh
Labels: To Be Merged, Ready to be Reviewed, Bash

#16303 fix(Scripts/Karazhan): Opera Wizard of Oz fight correct start timers for combat as well fixing restart of the event
  src/server/scripts/EasternKingdoms/Karazhan/bosses_opera.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#16505 fix(Scripts/ShadowLabirynth): Fix Murmur not using abilities
  src/server/scripts/Outland/Auchindoun/ShadowLabyrinth/boss_murmur.cpp
Labels: CORE, Script, file-cpp

#16498 fix(DB/Creature): Reanimated Bones pulling too much
  data/sql/updates/pending_db_world/rev_1686176056653005100.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#16514 fix(DB/SAI): Rework Black Morass Elites SmartAI
  data/sql/updates/pending_db_world/rev_1686439003674216100.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Instance - Dungeon - Outland, 70

#16497 fix(Scripts/Underbog): Lower range check for Tentacle Lash
  src/server/scripts/Outland/CoilfangReservoir/underbog/underbog.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, Instance - Dungeon - Outland, 70, file-cpp

#16488 fix(DB/Worldboss): Lower Doom Lord Kazzak's damage
  data/sql/updates/pending_db_world/rev_1686083132284151700.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed

#16509 chore(Core/ScriptMgr):Add Hook OnBeforeFillQuestLootItem
  src/server/game/Loot/LootMgr.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, file-cpp

#16527 chore(Scripts/MagtheridonsLair): rework Magtheridon boss script
  src/server/scripts/Outland/HellfireCitadel/MagtheridonsLair/boss_magtheridon.cpp
Labels: CORE, Script, file-cpp

#16506 chore(Core/MiscHandler): SendAreaTriggerMessage with integer parameter
  src/server/game/Handlers/MiscHandler.cpp
  src/server/game/Server/WorldSession.h
Labels: CORE, Ready to be Reviewed, file-cpp

#16545 fix(DB/ShatteredHalls): Make triggers invisible to players
  data/sql/updates/pending_db_world/rev_1686855645703861100.sql
Labels: DB

#16546 fix(DB/ShadowLabyrinth): Make trigger invisible to players
  data/sql/updates/pending_db_world/rev_1686857040635595500.sql
Labels: DB

#16544 fix(DB/ShatteredHalls): Add CC immunity to (H) Blood Guard Porung
  data/sql/updates/pending_db_world/rev_1686855204524860800.sql
Labels: DB

#16562 fix (DB) Add game_event_object entry for Midsummer Banners in Shattrath
  data/sql/updates/pending_db_world/rev_1686948961677753100.sql
Labels: DB

#16553 fix(DB/EscapeFromDurnholde): remove normal loot drops from OHF bosses (Drake, Skarloc, Epoch Hunter)
  data/sql/updates/pending_db_world/fix-hc-loot-bosses-ohf.sql
Labels: DB, Loot

#16524 fix(DB/Gameobject): Add heroic version of Cache of the Legion
  data/sql/updates/pending_db_world/rev_1686619097901055400.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Loot, Instance - Dungeon - Outland, 70

#16534 fix(DB/SAI)Add Scatter Shot to Shattered Hand Sharpshooter
  data/sql/updates/pending_db_world/rev_1686779435224151475.sql
Labels: DB

#16551 fix(DB/spell_proc_event) Add ICD to Spellsurge and some PVP trinkets
  data/sql/updates/pending_db_world/rev_1686876002032070899.sql
Labels: DB

#16517 fix(DB/Quest) Fix shareable quests
  data/sql/updates/pending_db_world/rev_1686519678664565811.sql
Labels: DB

#16476 Fix(DB/GameObjects): Cluster Launcher
  data/sql/updates/pending_db_world/rev_1685926790862483900.sql
Labels: DB, Ready to be Reviewed

#16550 fix(DB/Smart Scripts) Quest 437: The Dead Fields
  data/sql/updates/pending_db_world/rev_1686872651542486500.sql
Labels: DB, To Be Merged, Tested

#16558 fix(DB/ManaTombs): Add CC immunity to Yor
  data/sql/updates/pending_db_world/rev_1686942698941660200.sql
Labels: DB, To Be Merged

#16361 fix(DB/SAI) Zul'Farrak: make Antu'sul (8127) despawn his summoned adds (8156) when reset
  data/sql/updates/pending_db_world/rev_1684908860029011348.sql
Labels: DB, To Be Merged, Tested

#16572 fix(DB/quest_template): Change quest requirement for "The Troll Cave"
  data/sql/updates/pending_db_world/rev_1687026584471372200.sql
Labels: DB

#16563 fix (DB/Creature) set level of Durnholde Mage in OHF heroic appropriate for heroic
  data/sql/updates/pending_db_world/rev_1686949481728636000.sql
Labels: DB

#16569 fix(DB/creature_template): Make "Ambient Minion of Terokk" not selectable
  data/sql/updates/pending_db_world/rev_1687016239956745200.sql
Labels: DB

#16577 fix(DB/creature_template): Make 'Grandmaster Vorpil' not interruptible
  data/sql/updates/pending_db_world/rev_1687040404660689100.sql
Labels: DB, To Be Merged

#16576 chore(Scripts/GruulsLair): modernise boss scripts + make timers more accurate
  src/server/scripts/Outland/GruulsLair/boss_gruul.cpp
  src/server/scripts/Outland/GruulsLair/boss_high_king_maulgar.cpp
Labels: CORE, Waiting to be Tested, Script, file-cpp

#16522 fix(DB/Creature): Lower TBC Heroic bosses to level 72
  data/sql/updates/pending_db_world/rev_1686617579364661600.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Instance - Dungeon - Outland, 70

#16535 fix(Scripts/TheBlackMorass): rework time rift event logic
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/instance_the_black_morass.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/the_black_morass.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/the_black_morass.h
Labels: CORE, Script, file-cpp

#16585 fix(Scripts/HellfireRamparts): Fix Gargolmar Retalliation procs with …
  data/sql/updates/pending_db_world/rev_1687098356342753500.sql
  src/server/scripts/Outland/HellfireCitadel/HellfireRamparts/boss_watchkeeper_gargolmar.cpp
Labels: To Be Merged, Ready to be Reviewed

#16333 fix(Scripts/ZulFarrak): add Hearthstone mechanic to Blys party when event not started in time
  src/server/scripts/Kalimdor/ZulFarrak/zulfarrak.cpp
Labels: Help Wanted, CORE, Ready to be Reviewed, Script, file-cpp

#16584 fix(DB/Item): Remove wrong RandomProperties enchantments
  data/sql/updates/pending_db_world/rev_1687097711262524400.sql
Labels: DB, Ready to be Reviewed

#16587 fix(Scripts/Karazhan): Malchezaar should not cast Enfeeble on phase 3
  src/server/scripts/EasternKingdoms/Karazhan/boss_prince_malchezaar.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#16526 chore(Core/ScriptMgr): Add Hooks for profession skill gains
  src/server/game/Entities/Player/PlayerUpdates.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, file-cpp

#14407 fix(DB/Creature): Netherweb Victim should not move or attack
  data/sql/updates/pending_db_world/netherwebvictim.sql
Labels: DB, To Be Merged, Tested

#16600 fix(Core/ShadowLabyrinth): Murmur's Touch
  data/sql/updates/pending_db_world/rev_1687388954869141000.sql
  src/server/scripts/Outland/Auchindoun/ShadowLabyrinth/boss_murmur.cpp
Labels: DB, CORE, Script, file-cpp

#16598 fix(Core/HellfireRamparts): Fix Nazan not casting abilities
  src/server/scripts/Outland/HellfireCitadel/HellfireRamparts/boss_vazruden_the_herald.cpp
Labels: CORE, To Be Merged, Script, Instance - Dungeon - Outland, 70, file-cpp

#16602 fix(Scripts/SlavePens): Remove the Magma Totem requirement to summoni…
  src/server/scripts/Outland/CoilfangReservoir/SlavePens/boss_ahune.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#16603 fix(DB/SAI): Mai'Zoth casts Frost Armor
  data/sql/updates/pending_db_world/FixMaiZothFrostArmor.sql
Labels: DB, To Be Merged

#16499 fix(DB/Creature): Dustbelcher NPC MovementType
  data/sql/updates/pending_db_world/dustbelchernpcfix.sql
Labels: DB, To Be Merged

#16599 Fix (Quest/SmartScript) Inoculation - ID: 9303
  data/sql/updates/pending_db_world/rev_1687383780751220300.sql
Labels: DB

#16611 fix(DB/Creature): Avoid Chain-pulling in Auchenai Crypts
  data/sql/updates/pending_db_world/rev_1687568644157138400.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Instance - Dungeon - Outland, 70

#16589 chore(Core/ScriptMgr): Hooks used in mod-aoe-loot
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Handlers/LootHandler.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, To Be Merged, file-cpp

#16565 fix(DB/Trainer): Add TBC Goggles and Frost Grenades to proper reference
  data/sql/updates/pending_db_world/rev_1686957483376943500.sql
Labels: Profession, DB, To Be Merged, Ready to be Reviewed, 70

#16601 fix(Core/TheMechanar): Fix Polarity shift mechanic
  data/sql/updates/pending_db_world/rev_1687394707485668400.sql
  src/server/scripts/Outland/TempestKeep/Mechanar/boss_mechano_lord_capacitus.cpp
Labels: DB, CORE, Waiting to be Tested, Script, Instance - Dungeon - Outland, 70, file-cpp

#16614 fix(DB/Trainer): Add missing Powerheal 4000 Lens to Engineering trainers
  data/sql/updates/pending_db_world/powerheal.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#16613 refactor(Scripts/SlavePens): Clean up Ahune script
  data/sql/updates/pending_db_world/rev_1687609506371262000.sql
  src/server/scripts/Outland/CoilfangReservoir/SlavePens/boss_ahune.cpp
Labels: DB, CORE, Script, file-cpp

#16618 fix(Scripts/Midsummer): Stop Bonfires from spawning more gameobjects
  data/sql/updates/pending_db_world/rev_1687646564965572500.sql
  src/server/scripts/Events/midsummer.cpp
Labels: DB, CORE, Ready to be Reviewed, World Event, Script, file-cpp

#16623 fix(Scripts/SlavePens): Add Chilling Aura to Ahune adds
  src/server/scripts/Outland/CoilfangReservoir/SlavePens/boss_ahune.cpp
Labels: CORE, Script, file-cpp

#16625 fix(Scripts/AuchenaiCrypts): Fix Exarch Maladaar despawning the avata…
  src/server/scripts/Outland/Auchindoun/AuchenaiCrypts/boss_exarch_maladaar.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#16445 chore(Core/SAI): Allow ACTION_FOLLOW to stop follow movement if target type is SELF or NONE
  src/server/game/AI/SmartScripts/SmartScript.cpp
Labels: CORE, Ready to be Reviewed, file-cpp, Requires WIKI Update

#16627 fix(DB/Gameobject): Spawn Midsummer Bonfires in gameobject table instead
  data/sql/updates/pending_db_world/rev_1687728606491431500.sql
Labels: DB, To Be Merged, Ready to be Reviewed, World Event

#16454 fix(DB/SAI): Shay Leafrunner
  data/sql/updates/pending_db_world/rev_1685747385631953200.sql
  src/server/scripts/Kalimdor/zone_feralas.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp, Tested

#16630 fix(Scripts/SlavePens): Ahune shouldn't spawn more than a single Hail…
  src/server/scripts/Outland/CoilfangReservoir/SlavePens/boss_ahune.cpp
Labels: CORE, Script, file-cpp

#16633 fix(Scripts/SlavePens): Despawn Frozen Core after Ahune emerges
  src/server/scripts/Outland/CoilfangReservoir/SlavePens/boss_ahune.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#14774 feat(Apps): Account creation script that isn't worldserver dependent
  apps/account-create/.formatter.exs
  apps/account-create/Dockerfile
  apps/account-create/README.md
  apps/account-create/account.exs
  apps/account-create/srp.exs
Labels: To Be Merged, Needs Feedback

#16635 fix: correct the parameter order
  src/server/game/Scripting/ScriptDefines/PlayerScript.cpp
Labels: CORE, To Be Merged, file-cpp

#13467 fix(Core/Conf): Fix AH searches with high number of auctions
  src/server/apps/worldserver/Main.cpp
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/AuctionHouse/AuctionHouseMgr.cpp
  src/server/game/AuctionHouse/AuctionHouseMgr.h
  src/server/game/Handlers/AuctionHouseHandler.cpp
  src/server/game/Misc/AsyncAuctionListing.cpp
  src/server/game/Misc/AsyncAuctionListing.h
  src/server/game/Server/WorldSession.h
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
Labels: CORE, To Be Merged, file-cpp

#16444 feat(Core/SAI): Implement New Smart Actions
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp, Requires WIKI Update

#16586 fix(Scripts/Ionar): Remove nature damage immunity
  src/server/scripts/Northrend/Ulduar/HallsOfLightning/boss_ionar.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#15414 fix(Core/Spells): Shoulder Charge being a buff.
  data/sql/updates/pending_db_world/rev_1681797511233116200.sql
Labels: DB, To Be Merged

#16640 fix(Core): Cherrypick?
  src/server/apps/worldserver/Main.cpp
Labels: CORE, To Be Merged, file-cpp

#14205 fix(DB/quest_offer_reward_locale): Add ruRU localization to "An Aggressive Defense" quest
  data/sql/updates/pending_db_world/tryrenamefile.sql
Labels: Translation, DB, To Be Merged, run-build, locale-ruRU

#16644 chore(scripts/Steamvault): Remove unused spells from Mekgineer Steamrigger
  src/server/scripts/Outland/CoilfangReservoir/SteamVault/boss_mekgineer_steamrigger.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#16631 Fix(SAI/Creature): Yenniku
  data/sql/updates/pending_db_world/rev_1687759233155225800.sql
  src/server/scripts/EasternKingdoms/eastern_kingdoms_script_loader.cpp
  src/server/scripts/EasternKingdoms/zone_stranglethorn_vale.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp, Tested

#16523 fix(DB/Creature): Rework Avatar of the Martyred
  data/sql/updates/pending_db_world/rev_1686618584904041200.sql
Labels: DB, Waiting to be Tested, Loot, Instance - Dungeon - Outland, 70

#16559 fix (Core/Spells) Apply Seals of Pure talent to Seal of Vengeance/Corruption again
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, To Be Merged, Class - Paladin, file-cpp

#16647 fix(Core/TheUnderbog): Fix Swamplord Musel'ek combat movement
  src/server/scripts/Outland/CoilfangReservoir/underbog/boss_swamplord_muselek.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, Script, Instance - Dungeon - Outland, 70, file-cpp
