Repository azerothcore/azerothcore-wotlk, pull requests merged in 2023-03, with the labels that each got.

#15214 fix(DB/SAI): Fix WP_START parameter mistakes
  data/sql/updates/pending_db_world/rev_1677460150899347600.sql
Labels: DB, To Be Merged

#15238 fix(Scripts/IcecrownCitadel): fix Lord Marrowgar bone spikes
  src/server/scripts/Northrend/IcecrownCitadel/boss_lord_marrowgar.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#15197 fix(Core/Gameobject): Fix lootable chests related to quests but not having quest loot
  data/sql/updates/pending_db_world/rev_1677339915510744100.sql
  src/server/game/Entities/GameObject/GameObject.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, file-cpp

#15055 fix(DB/Gameobject): Ever-burning Ash
  data/sql/updates/pending_db_world/rev_1676493665842878700.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 65-69

#15164 refactor(DB/SAI): Re-organize Teron Gorefiend, I am... script and add time limit properly
  data/sql/updates/pending_db_world/rev_1677121723939096800.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 65-69

#15182 fix(DB/SAI): Rewrite Deathblow to the Legion and Turning Point in SmartAI
  data/sql/updates/pending_db_world/rev_1677165107723442200.sql
  src/server/scripts/Outland/zone_netherstorm.cpp
  src/server/scripts/Outland/zone_shattrath_city.cpp
Labels: DB, CORE, Waiting to be Tested, Ready to be Reviewed, Script, 70, file-cpp

#15191 fix(DB/Quest): Dissension Amongst the Ranks...
  data/sql/updates/pending_db_world/rev_1677327485586754700.sql
Labels: Quest, DB, To Be Merged, Ready to be Reviewed, 65-69

#15195 fix(DB/Quest): The Flesh Lies...
  data/sql/updates/pending_db_world/rev_1677334339053733900.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 65-69

#15199 fix(DB/Gameobject): Rotten Arakkoa Eggs
  data/sql/updates/pending_db_world/rev_1677346935817380600.sql
Labels: Quest, DB, To Be Merged, Ready to be Reviewed, 65-69

#15205 fix(DB/SAI): Rewrite Ring of Blood
  data/sql/updates/pending_db_world/rev_1677368120858755900.sql
Labels: Quest, DB, 65-69

#15216 fix(DB/Conditions): Show correct Zorbin Fandazzle gossip on quests rewarded.
  data/sql/updates/pending_db_world/rev_1677450429923552400.sql
Labels: 40-49, DB, To Be Merged

#15254 fix (logging): Warden FMT
  src/server/game/Warden/Warden.cpp
Labels: CORE, file-cpp

#14365 fix(Core/Scripts): Zort's Protective Elixir
  data/sql/updates/pending_db_world/rev_1671948396193749028.sql
  src/server/scripts/Northrend/zone_dragonblight.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#15256 fix: Crash on unit charm
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, file-cpp

#15224 refactor(Scripts/Steamvault): Modernize boss/instance scripts
  src/server/scripts/Outland/CoilfangReservoir/SteamVault/boss_hydromancer_thespia.cpp
  src/server/scripts/Outland/CoilfangReservoir/SteamVault/boss_mekgineer_steamrigger.cpp
  src/server/scripts/Outland/CoilfangReservoir/SteamVault/boss_warlord_kalithresh.cpp
  src/server/scripts/Outland/CoilfangReservoir/SteamVault/instance_steam_vault.cpp
  src/server/scripts/Outland/CoilfangReservoir/SteamVault/steam_vault.h
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#15266 chore(Core/DB): Display the SQL client version found when throwing th…
  src/server/database/Database/DatabaseWorkerPool.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#15264 fix(Scripts/TheBotanica): Rework Commander Sarannis
  data/sql/updates/pending_db_world/rev_1677959284674069900.sql
  src/server/scripts/Outland/TempestKeep/botanica/boss_commander_sarannis.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#15246 fix(DB/Loot): Fix Talon King Ikiss Normal Mode loot table
  data/sql/updates/pending_db_world/rev_1677807108312300000.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Loot, 65-69

#15244 fix(DB/Loot): Spirit Shards
  data/sql/updates/pending_db_world/rev_1677805290069827400.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Loot, 65-69

#15253 fix(DB/Gossips): Wrong gossip text for Franclorn Forgewright.
  data/sql/updates/pending_db_world/rev_1677870148388497400.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#15245 fix(DB/Creature): Correct Flags for Raging Souls
  data/sql/updates/pending_db_world/rev_1677805981976626800.sql
Labels: DB, To Be Merged, 61-64

#15240 fix(Script/Core): npcs_special hardcode removal and fixes.
  data/sql/updates/pending_db_world/rev_1677761748533314800.sql
  src/server/scripts/World/npcs_special.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp, Tested

#15243 fix(DB/Creature): Add NO_PLAYER_DAMAGE_REQ flag to Socrethar
  data/sql/updates/pending_db_world/rev_1677797244323339200.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 70

#15234 fix(DB/creature): Remove 1.X-era mobs from Mirror Lake Orchid
  data/sql/updates/pending_db_world/rev_1677639790735595900.sql
Labels: 1-19, DB, To Be Merged, Ready to be Reviewed, DB Spawns

#15210 fix(DB/Spells): Blazing Speed should proc off from absorbed damage.
  data/sql/updates/pending_db_world/rev_1677410180671468300.sql
Labels: ChromieCraft Generic, DB, To Be Merged, Class - Mage

#15229 fix(DB/Quest): Zandalari Tribe missing rogue quest and race restrictions.
  data/sql/updates/pending_db_world/rev_1677597663131840800.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#15207 fix(Core/Spells): Goblin Rocket Helmet should not cause auto-attack.
  src/server/game/Spells/SpellEffects.cpp
Labels: Profession, ChromieCraft Generic, CORE, To Be Merged, file-cpp

#15227 fix(Scripts/Instances): Halls of Reflection - Fix Alliance side, text broadcasts and hardcodes.
  data/sql/updates/pending_db_world/rev_1677495939101704800.sql
  src/server/scripts/Northrend/FrozenHalls/HallsOfReflection/boss_falric.cpp
  src/server/scripts/Northrend/FrozenHalls/HallsOfReflection/boss_marwyn.cpp
  src/server/scripts/Northrend/FrozenHalls/HallsOfReflection/halls_of_reflection.cpp
  src/server/scripts/Northrend/FrozenHalls/HallsOfReflection/halls_of_reflection.h
  src/server/scripts/Northrend/FrozenHalls/HallsOfReflection/instance_halls_of_reflection.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp

#15193 fix(Core/Spells): Seal of Command, Seal of Vengeance and Seal of Corr…
  src/server/game/Spells/SpellEffects.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Class - Paladin, file-cpp

#15209 fix(DB/Spells): Dirge's Kickin' Chimaerok Chops should not stack with…
  data/sql/updates/pending_db_world/rev_1677409485979883900.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#15206 fix(Core/Pet): Fixed set hunter pet's speed on load.
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Entities/Unit/Unit.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Class - Hunter, file-cpp

#15192 fix(Core/Spells): Fixed sending category cooldowns.
  src/server/game/Entities/Player/Player.cpp
Labels: Class - Warrior, ChromieCraft Generic, CORE, To Be Merged, file-cpp

#15189 Scripts/OldHisbradFoothills: Improved Escape from Durnholde Keep event.
  data/sql/updates/pending_db_world/rev_1677322470662676600.sql
  src/server/scripts/Kalimdor/CavernsOfTime/EscapeFromDurnholdeKeep/boss_captain_skarloc.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/EscapeFromDurnholdeKeep/boss_epoch_hunter.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/EscapeFromDurnholdeKeep/old_hillsbrad.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/EscapeFromDurnholdeKeep/old_hillsbrad.h
Labels: DB, To Be Merged, Script, 65-69, file-cpp

#15180 fix(DB/SAI): Scarlet Enchanter & Scarlet Cleric - OOC attack
  data/sql/updates/pending_db_world/rev_1677174924847719800.sql
Labels: DB, To Be Merged

#15160 fix(Script/Instance): Pit of Saron - Remove hardcode and duplicated texts in DB
  data/sql/updates/pending_db_world/rev_1677008695688965000.sql
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/boss_forgemaster_garfrost.cpp
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/boss_krickandick.cpp
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/boss_scourgelord_tyrannus.cpp
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/pit_of_saron.cpp
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/pit_of_saron.h
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#15156 feat(Core/Character): Implement profanity_name
  data/sql/updates/pending_db_characters/rev_1677013247854223400.sql
  data/sql/updates/pending_db_world/rev_1677012340406860800.sql
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/database/Database/Implementation/CharacterDatabase.h
  src/server/game/Battlegrounds/ArenaTeam.cpp
  src/server/game/Entities/Player/PlayerStorage.cpp
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Guilds/Guild.cpp
  src/server/game/Handlers/PetHandler.cpp
  src/server/game/Handlers/PetitionsHandler.cpp
  src/server/game/Miscellaneous/Language.h
  src/server/game/World/World.cpp
  src/server/scripts/Commands/cs_character.cpp
  src/server/scripts/Commands/cs_guild.cpp
  src/server/scripts/Commands/cs_reload.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#15150 fix(DB/SAI): Rift Spawn no emote/flags
  data/sql/updates/pending_db_world/rev_1676968393827350700.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#15274 chore: fix cherry-pick (MariaDB)
  data/sql/updates/db_world/2023_03_04_01.sql
Labels: DB

#15275 feat(Core/AI): Implement ScheduleHealthCheckEvent() for events that fire …
  src/server/game/AI/ScriptedAI/ScriptedCreature.cpp
  src/server/game/AI/ScriptedAI/ScriptedCreature.h
  src/server/scripts/Outland/TempestKeep/botanica/boss_thorngrin_the_tender.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#15277 refactor(Scripts/TheBotanica): Modernize Thorngrin the Tender's script
  data/sql/updates/pending_db_world/rev_1677984661498248100.sql
  src/server/scripts/Outland/TempestKeep/botanica/boss_thorngrin_the_tender.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#15279 fix(Scripts/TheBotanica): Rework Laj
  src/common/Utilities/Containers.h
  src/server/game/Entities/Creature/Creature.h
  src/server/scripts/Outland/TempestKeep/botanica/boss_laj.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#15211 feat: add cppcheck into the pipeline
  .github/workflows/cpp-check.yml
  src/common/Collision/BoundingIntervalHierarchy.cpp
  src/common/Collision/BoundingIntervalHierarchy.h
  src/common/Platform/ServiceWin32.cpp
  src/server/database/Database/Transaction.cpp
  src/server/game/Autobroadcast/AutobroadcastMgr.cpp
  src/server/game/Autobroadcast/AutobroadcastMgr.h
  src/server/game/Battlegrounds/BattlegroundQueue.cpp
  src/server/game/Entities/Player/PlayerQuest.cpp
  src/server/game/Loot/LootMgr.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/blackrock_depths.cpp
  src/server/scripts/EasternKingdoms/zone_hinterlands.cpp
  src/server/scripts/EasternKingdoms/zone_undercity.cpp
  src/server/scripts/Kalimdor/zone_silithus.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_professor_putricide.cpp
  src/server/scripts/Outland/zone_shadowmoon_valley.cpp
  src/server/shared/DataStores/DBCDatabaseLoader.cpp
  src/tools/map_extractor/System.cpp
  src/tools/map_extractor/dbcfile.h
  src/tools/map_extractor/loadlib/loadlib.h
  src/tools/map_extractor/mpq_libmpq04.h
  src/tools/mmaps_generator/MapBuilder.cpp
Labels: Workflow, CORE, To Be Merged, Script, file-cpp

#15284 chore(Core/Spells): Un-hack Spellcloth trigger spell
  data/sql/updates/pending_db_world/rev_1678037942434622700.sql
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, file-cpp

#15285 chore(Core/Scripts): Use serverside spell instead of SummonCreature for Nether-wraith Beacon
  data/sql/updates/pending_db_world/rev_1678042235460663800.sql
  src/server/scripts/World/item_scripts.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#15282 fix(DB/SAI): Deathstalker Vincent being killable.
  data/sql/updates/pending_db_world/rev_1678028975514038300.sql
Labels: 1-19, DB, To Be Merged, Instance - Dungeon - Vanilla

#15149 fix(DB/SAI): Add Emberstrife's missing SAI.
  data/sql/updates/pending_db_world/rev_1676933500733249000.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#15087 fix(DB/Creature): Add missing spell to Infected Kodo Beast & disable gravity for Column Ornament
  data/sql/updates/pending_db_world/rev_1676663461812301700.sql
Labels: DB, To Be Merged

#15290 refactor(Scripts/Blackmorass): Rewrite Blackmorass
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/boss_aeonus.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/boss_chrono_lord_deja.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/boss_temporus.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/instance_the_black_morass.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/the_black_morass.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/the_black_morass.h
Labels: CORE, Script, file-cpp

#15270 chore(Core/Database): Improve error wording
  src/server/database/Database/DatabaseWorkerPool.cpp
Labels: CORE, file-cpp

#15287 fix(DB/Loot): Correct Gorefiend Truncheon drop rate
  data/sql/updates/pending_db_world/rev_1678044696832996700.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Loot, 65-69

#15262 feat(Core/AI): Implement DoForAllSummons() function to summon lists
  src/server/game/AI/ScriptedAI/ScriptedCreature.h
Labels: CORE, To Be Merged, file-cpp

#15299 fix(Scripts/Blackmorass): Clean unnecessary repetitions
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/instance_the_black_morass.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/the_black_morass.cpp
Labels: CORE, Script, file-cpp

#15151 fix(DB/SAI): Serpentbloom Snakes no movement.
  data/sql/updates/pending_db_world/rev_1676986377096927800.sql
Labels: DB, To Be Merged

#15094 fix(DB/Conditions): Sha'ni Proudtusk infinite spawning.
  data/sql/updates/pending_db_world/rev_1676673725150035900.sql
Labels: DB, To Be Merged

#15298 fix(DB/Creature): Avatar of Sathal missing text.
  data/sql/updates/pending_db_world/rev_1678173710393604400.sql
Labels: DB, To Be Merged

#15242 fix(DB): Against the Legion requirements
  data/sql/updates/pending_db_world/rev_1677781820338823400.sql
Labels: DB, To Be Merged

#15260 fix(DB/Creature): Lord Azrethoc pathing without a melee weapon.
  data/sql/updates/pending_db_world/rev_1677929630251654400.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#15297 fix(DB/Creature): Wild turkey spawns having gossip flags.
  data/sql/updates/pending_db_world/rev_1678171987448093500.sql
Labels: DB, To Be Merged

#15291 fix(db/creature_template): Remove creature 138
  data/sql/updates/pending_db_world/rev_1678062827982837200.sql
Labels: DB, To Be Merged

#15286 fix(DB/SAI): Chimaerok casting on aggro.
  data/sql/updates/pending_db_world/rev_1678044264637638600.sql
Labels: DB, To Be Merged

#15283 fix(DB/Event): Shadowfang Keep's Valentine decoration.
  data/sql/updates/pending_db_world/rev_1678037523099913900.sql
Labels: DB, To Be Merged

#15292 fix(DB/Movement): Unpopulated rows from previous PRs.
  data/sql/updates/pending_db_world/rev_1678084806976383500.sql
Labels: DB, To Be Merged

#15305 chore(DB): Rerrunnable SQLs
  data/sql/updates/db_world/2023_03_04_06.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#15258 fix(Core/Warden): Fix buffer not being handled during interrupt.
  src/server/game/Warden/Warden.cpp
  src/server/game/Warden/Warden.h
  src/server/game/Warden/WardenWin.cpp
Labels: CORE, Waiting to be Tested, file-cpp

#15306 fix(DB/Locale): deDE fixes for request items 1/3
  data/sql/updates/pending_db_world/qril01.sql
Labels: Translation, DB, To Be Merged, Ready to be Reviewed, locale-deDE

#15307 fix(DB/Locale): deDE fixes for request items 2/3
  data/sql/updates/pending_db_world/qril02.sql
Labels: Translation, DB, To Be Merged, Ready to be Reviewed, locale-deDE

#15308 fix(DB/Locale): deDE fixes for request items 3/3
  data/sql/updates/pending_db_world/qril03.sql
Labels: Translation, DB, To Be Merged, Ready to be Reviewed, locale-deDE

#15289 fix(DB/Creature): Pool Ethereum Jailor
  data/sql/updates/pending_db_world/rev_1678050182254364700.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 70

#15316 refactor(Scripts/BlackMorass): Move the Rift handling to the creature…
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/boss_aeonus.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/instance_the_black_morass.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/the_black_morass.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/the_black_morass.h
Labels: CORE, To Be Merged, Script, file-cpp

#15323 fix(DB/SAI): Rework Naturalist Bite in SAI
  data/sql/updates/pending_db_world/rev_1678456197533430300.sql
  src/server/scripts/Outland/zone_zangarmarsh.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, Instance - Dungeon - Outland, 65-69, file-cpp

#15311 fix(DB/SAI): Daggerfen Assassin missing stealth.
  data/sql/updates/pending_db_world/rev_1678297474580870500.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#15280 chore(DB/Text): Fix missing apostrophes in Coilfang Slavemaster and Slavehandler texts and add Broadcast IDs
  data/sql/updates/pending_db_world/rev_1678025316144101700.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#15314 fix(DB/Quest): Add missing rewards to Ally of the Netherwing
  data/sql/updates/pending_db_world/rev_1678331213655095700.sql
Labels: Quest, DB, To Be Merged, 70

#15281 fix(DB/Conditions) Correct Class conditions for Satchel of Helpful Goods (65-70)
  data/sql/updates/pending_db_world/rev_1678027027215535800.sql
Labels: DB, To Be Merged, 65-69

#14863 fix(Scripts/BlackMorass): Fixed mob waves sequence.
  data/sql/updates/pending_db_world/rev_1675618471961745900.sql
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/instance_the_black_morass.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/the_black_morass.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/the_black_morass.h
Labels: DB, CORE, Waiting to be Tested, Script, Instance - Dungeon - Outland, 65-69, file-cpp

#15333 fix(db/loot): Fix Aeonus Normal Loot Drops
  data/sql/updates/pending_db_world/rev_1678529764517694100.sql
Labels: DB, Ready to be Reviewed, Loot, Instance - Dungeon - Outland, 70

#15300 fix(Scripts/Creature): Fel Guard Hound not despawning.
  src/server/scripts/Outland/zone_hellfire_peninsula.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#15319 fix(DB/SAI): Steam Pump Overseer toughen not stacking.
  data/sql/updates/pending_db_world/rev_1678389681963091600.sql
Labels: DB, To Be Merged

#15335 fix(db/creature_template): Set Temporus Level 72
  data/sql/updates/pending_db_world/rev_1678542211338425200.sql
Labels: DB, To Be Merged, Instance - Dungeon - Outland, 70

#15321 fix(DB/Creature): Starving Helboar aggro radius.
  data/sql/updates/pending_db_world/rev_1678432036156760800.sql
Labels: DB, To Be Merged, 61-64

#15338 fix(Core): Crashfix.
  src/server/game/Entities/Unit/Unit.cpp
Labels: ChromieCraft Generic, CORE, Priority-Critical, file-cpp

#15336 fix(Scripts/Spells): Fixed Rogue T10 4P bonus.
  src/server/scripts/Spells/spell_generic.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Class - Rogue, Script, file-cpp

#15278 fix (Core/Spells) Correct Life Tap mana gain and cleanup
  src/server/scripts/Spells/spell_warlock.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Class - Warlock, Script, file-cpp

#15346 fix(Scripts/BlackMorass): Fix Aeonus not spawning, mobs spawning duri…
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/instance_the_black_morass.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/the_black_morass.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#15339 fix(Scripts/BlackMorass): Fixed rift mobs texts on summon.
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/boss_aeonus.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/boss_chrono_lord_deja.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/boss_temporus.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/the_black_morass.cpp
Labels: To Be Merged, Script, Instance - Dungeon - Outland, 65-69, file-cpp

#15203 fix(Scripts/Creature): Add 5 second timer for Raliq the Drunk to animate drinking
  src/server/scripts/Outland/zone_shattrath_city.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#15363 fix(Core/Session): Inform the client when we can no longer fly (flyin…
  src/server/game/Server/WorldSession.cpp
Labels: CORE, To Be Merged, file-cpp

#15359 fix(Scripts/BlackMorass): Don't pick the same rift spot in succession
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/instance_the_black_morass.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#15364 feat(Core/Player): Implement helper to send system messages to players
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#15352 fix(Scripts/Achievement: Fixed Flirt With Disaster achievement. Sourc…
  data/sql/updates/pending_db_world/rev_1678624060512397500.sql
  src/server/scripts/World/achievement_scripts.cpp
Labels: ChromieCraft Generic, DB, CORE, To Be Merged, World Event, Script, file-cpp

#15366 fix(Core/Session): Let movement flags update on their own when disabl…
  src/server/game/Server/WorldSession.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#15369 feat(Core/BasicEvents): Add the possibility to group BasicEvents
  src/common/Utilities/EventProcessor.cpp
  src/common/Utilities/EventProcessor.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#15358 fix(Core/Players): Charmed players should not attack critters.
  src/server/game/Grids/Notifiers/GridNotifiers.h
Labels: ChromieCraft Generic, CORE, To Be Merged, file-cpp

#15349 fix(Scripts/Creatures): Fixed some profession trainers.
  src/server/scripts/World/npc_professions.cpp
Labels: Profession, ChromieCraft Generic, To Be Merged, Script, file-cpp

#15146 fix(Script/Instance): Ulduar - Yogg-Saron hardcode & some adustments.
  data/sql/updates/pending_db_world/rev_1676907518456211300.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_yoggsaron.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#15345 fix(DB/Locale): deDE fixes for request items 5
  data/sql/updates/pending_db_world/qril05.sql
Labels: Translation, DB, To Be Merged, Ready to be Reviewed, locale-deDE

#15327 fix(Core/Logs): Fix warden fmt logs
  src/server/game/Warden/Warden.cpp
Labels: CORE, To Be Merged, file-cpp

#14735 chore: Add `/data/sql/custom` to gitignore
  .gitignore
Labels: To Be Merged

#15337 fix(Core): Crashfix.
  src/server/game/Handlers/LootHandler.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Ready to be Reviewed, Priority-Critical, file-cpp

#15368 fix(DB/Creature): Correct movement speeds for Black Morass Heroic
  data/sql/updates/pending_db_world/rev_1678658890895019400.sql
Labels: DB, To Be Merged

#15351 fix(DB/Spells): Treat Chocolate Sample as a positive spell.
  data/sql/updates/pending_db_world/rev_1678617293053295700.sql
Labels: ChromieCraft Generic, DB, To Be Merged, World Event

#15356 fix(DB/Gameobjects): Fixed one spawn position of Stranglekelp.
  data/sql/updates/pending_db_world/rev_1678626418501365600.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#15343 fix(DB/Quest): Improvements for request texts #2
  data/sql/updates/pending_db_world/qri02.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#15309 fix(DB/Quest): Improvements for request texts
  data/sql/updates/pending_db_world/qri01.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#15196 fix(DB/Quest): Fixed rep requirements for some Darkmoon quests.
  data/sql/updates/pending_db_world/rev_1677339050428804700.sql
Labels: ChromieCraft Generic, DB, To Be Merged, World Event

#14736 Scripts/Karazhan: Chess Event.
  data/sql/updates/pending_db_world/rev_1674333933272138700.sql
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Handlers/NPCHandler.cpp
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/EasternKingdoms/Karazhan/boss_chess_event.cpp
  src/server/scripts/EasternKingdoms/Karazhan/instance_karazhan.cpp
  src/server/scripts/EasternKingdoms/Karazhan/karazhan.h
  src/server/scripts/EasternKingdoms/eastern_kingdoms_script_loader.cpp
Labels: DB, CORE, To Be Merged, Script, Instance - Dungeon - Outland, 70, file-cpp

#15324 fix(DB/SAI): Implement You, Robot failure event and properly award quest credit on success
  data/sql/updates/pending_db_world/rev_1677808197727073900.sql
Labels: Quest, DB, To Be Merged, Ready to be Reviewed, 70

#15348 fix(db/loot): Fix Warp splinter Normal Loot Drops
  data/sql/updates/pending_db_world/rev_1678614761475144800.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Loot, Instance - Dungeon - Outland, 70

#15374 fix(DB/Creature): Port Ridgespine mobs from Mangos.
  data/sql/updates/pending_db_world/rev_1678704026507325400.sql
Labels: DB, To Be Merged, 65-69

#15384 fix(DB/SAI): Karaaz incorrect text target.
  data/sql/updates/pending_db_world/rev_1678816322284905000.sql
Labels: DB, To Be Merged, Tested

#15385 fix(DB/SAI): Brother Sarno not greeting players.
  data/sql/updates/pending_db_world/rev_1678817080047611900.sql
Labels: DB, To Be Merged

#15394 fix(DB/Quest): Fix Earthmender Wilda not properly resetting
  data/sql/updates/pending_db_world/rev_1678855110111127300.sql
Labels: Quest, DB, To Be Merged, 70

#15392 fix(DB/Pools): Temporary fix for Arakkoa Eggs until Core is fixed
  data/sql/updates/pending_db_world/rev_1678835550178060800.sql
Labels: Hack Fix, Quest, DB, To Be Merged, 70

#15391 fix(DB/Quest): Fix Stasis Chamber Alpha not respawning
  data/sql/updates/pending_db_world/rev_1678822685335162700.sql
Labels: Hack Fix, Quest, DB, To Be Merged, 70

#15387 fix(DB/SAI): Griftah not greeting players.
  data/sql/updates/pending_db_world/rev_1678820124142570600.sql
Labels: DB, To Be Merged

#15393 fix(DB/Quest): Fix Manaforge Questline not being completable while in party
  data/sql/updates/pending_db_world/rev_1678842792599909200.sql
Labels: Quest, DB, To Be Merged, 70

#15381 fix(DB/spell_group): Mr Pinchy's Blessing stacking with similar effects.
  data/sql/updates/pending_db_world/rev_1678797639960580300.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#15407 fix(Scripts/IcecrownCitadel): Fix ICC buff not being reapplied after …
  src/server/game/Instances/InstanceScript.cpp
  src/server/game/Instances/InstanceScript.h
  src/server/scripts/Northrend/IcecrownCitadel/instance_icecrown_citadel.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#15411 fix(DB): fix query
  data/sql/updates/db_world/2023_03_11_06.sql
Labels: DB

#12973 fix(DB): Missing Gnomeregan Pathing and Formations
  data/sql/updates/pending_db_world/rev_1662403131229362600.sql
Labels: DB, To Be Merged

#14002 fix(Core/BattlefieldWG): Workshops/Graveyard not changing to neutral
  src/server/game/Battlefield/Zones/BattlefieldWG.h
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, To Be Merged, file-cpp

#13460 fix(Core/GameObject): Pumpkin Shrine
  data/sql/updates/pending_db_world/rev_1666118683155607500.sql
  src/server/scripts/EasternKingdoms/ScarletMonastery/instance_scarlet_monastery.cpp
  src/server/scripts/Events/hallows_end.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#15255 fix(Core/Spells): Draenei Call of Air 4/4 Susurrus buff duration.
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, file-cpp

#15212 fix(DB/spell_custom_attr): Warchief's Blessing - add NO_PVP_FLAG.
  data/sql/updates/pending_db_world/rev_1677428934650582700.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#15350 fix(Core/Spells): Do not remove item casted auras on respec.
  src/server/game/Entities/Player/Player.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, World Event, file-cpp

#15416 fix(DB/Spells) Fix Summon Morcrush Shardling Serverside Spells
  data/sql/updates/pending_db_world/rev_1679003943676070400.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 70

#15341 fix(DB/SAI): Corrected Sethekk Spirit's level. Added Spirit Burst to…
  data/sql/updates/pending_db_world/rev_1678558293117663600.sql
Labels: DB, To Be Merged, Instance - Dungeon - Outland, 61-64

#15417 fix(DB/Creature): Correct level for Sethekk Spirit for Heroic
  data/sql/updates/pending_db_world/rev_1679005184533517400.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Instance - Dungeon - Outland, 70

#14926 fix(DB/Core): Misc auras added so several creatures
  data/sql/updates/pending_db_world/rev_1675982804406853300.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#15424 fix(Core/Debugging): Improve SymInitialize fail message
  src/common/Debugging/WheatyExceptionReport.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#15426 fix(Core/PacketIO): Require valid WorldSession for CMSG_KEEP_ALIVE
  src/server/game/Server/WorldSocket.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#15425 fix(Core/Achievements): Add log for missing achievement
  src/server/game/Achievements/AchievementMgr.cpp
Labels: CORE, To Be Merged, file-cpp

#15423 fix(Core/Spell): Removed gathering failure chance from herbalism and …
  src/server/game/Spells/Spell.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#15418 fix(Core/Mail): Reorder mail attachment checks to be able to report n…
  src/server/game/Handlers/MailHandler.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#14104 fix(Core/Battlefield): Wintergrasp Workshops SW/SE to Attacker
  src/server/game/Battlefield/Battlefield.cpp
  src/server/game/Battlefield/Battlefield.h
  src/server/game/Battlefield/Zones/BattlefieldWG.cpp
Labels: CORE, To Be Merged, file-cpp

#15052 fix(Script/Core): Remove hardcoded gossips in npc_taxi
  src/server/scripts/World/npc_taxi.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#15329 fix(Core/Spells): Healing Salve having cast time.
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, file-cpp

#15444 fix(Core/Arena): Fix lag caused by arena distribution
  src/server/game/Battlegrounds/ArenaTeam.cpp
  src/server/game/Battlegrounds/ArenaTeam.h
  src/server/game/Battlegrounds/ArenaTeamMgr.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#15468 fix(DB/Creature): Update Charming Totem movement
  data/sql/updates/pending_db_world/rev_1679194930369616000.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#15459 fix(Scripts): Crashfix.
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/instance_the_black_morass.cpp
Labels: CORE, To Be Merged, Script, Priority-Critical, file-cpp

#15490 fix(Scripts/IcecrownCitadel): Rewrite the Spire Frostwyrms
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.h
  src/server/scripts/Northrend/IcecrownCitadel/instance_icecrown_citadel.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#15491 refactor(Scripts/Mechanar): Modernize Mechano Lord Capacitus script
  src/common/Utilities/Util.h
  src/server/scripts/Outland/TempestKeep/Mechanar/boss_mechano_lord_capacitus.cpp
  src/server/scripts/Outland/TempestKeep/Mechanar/mechanar.h
Labels: CORE, To Be Merged, Script, file-cpp

#15495 fix(Scripts/Mechanar): Fix Mechano-Lord Capacitus's Nether Charges
  data/sql/updates/pending_db_world/rev_1679267535485784600.sql
  src/server/scripts/Outland/TempestKeep/Mechanar/boss_mechano_lord_capacitus.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#15493 refactor(Scripts/Mechanar): Modernize Serpethrea script
  src/server/scripts/Outland/TempestKeep/Mechanar/boss_gatewatcher_gyrokill.cpp
  src/server/scripts/Outland/TempestKeep/Mechanar/boss_gatewatcher_ironhand.cpp
  src/server/scripts/Outland/TempestKeep/Mechanar/boss_nethermancer_sepethrea.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#15494 refactor(Scripts/Mechanar): Modernize Pathaleon's script
  src/server/scripts/Outland/TempestKeep/Mechanar/boss_pathaleon_the_calculator.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#15500 fix(Scripts/Mechanar): Few updates to Sepethrea
  data/sql/updates/pending_db_world/rev_1679277561975731600.sql
  src/server/scripts/Outland/TempestKeep/Mechanar/boss_nethermancer_sepethrea.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#15497 fix(DB/Creature): Use sniffed flags for Fen Ray in Underbog
  data/sql/updates/pending_db_world/rev_1679272475578975200.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Instance - Dungeon - Outland, 61-64

#15496 fix(Core/Spells): Improve Feign Death scripts
  data/sql/updates/pending_db_world/rev_1679268639264716700.sql
  src/server/scripts/Spells/spell_generic.cpp
Labels: ChromieCraft Generic, DB, CORE, To Be Merged, Script, file-cpp

#15486 fix(Scripts/Instances): Old Hillsbrad Foothills - Captain Skarloc casting wrong spell
  src/server/scripts/Kalimdor/CavernsOfTime/EscapeFromDurnholdeKeep/boss_captain_skarloc.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#15482 fix(DB/Arcatraz): Fix Arcatraz Sentinels and Corpses
  data/sql/updates/pending_db_world/rev_1679102126965546700.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Instance - Dungeon - Outland, 70
