Repository azerothcore/azerothcore-wotlk, pull requests merged in 2023-05, with the labels that each got.

#16144 revert(DB/Warden): Remove the Warden checks recently added
  data/sql/updates/pending_db_world/rev_1682877796694580200.sql
Labels: DB

#16145 chore(Scripts/BloodFurnace): Clean up unused code in Broggok script
  src/server/scripts/Outland/HellfireCitadel/BloodFurnace/boss_broggok.cpp
  src/server/scripts/Outland/HellfireCitadel/BloodFurnace/instance_blood_furnace.cpp
Labels: CORE, Script, file-cpp

#16166 fix: Crash on ProcessDelayedDamages
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/World/World.cpp
Labels: CORE, file-cpp

#16159 fix(DB/Event): Correct Orphan Matron Mercy item restoration gossip
  data/sql/updates/pending_db_world/rev_1683034504648319100.sql
Labels: DB, To Be Merged, World Event

#16153 fix(DB/Creature): Add Namdo Bizzfizzle
  data/sql/updates/pending_db_world/rev_1682964437089894300.sql
Labels: DB, To Be Merged

#16152 fix(DB/Creature): Add missing pathing to Exodar Peacekeeper
  data/sql/updates/pending_db_world/rev_1682962686229106300.sql
Labels: ChromieCraft Generic, DB, To Be Merged

#16109 feat(Core/Hooks): Add parameter to detect XP origin for OnGiveXP hook.
  src/server/game/Entities/Player/KillRewarder.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerQuest.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, file-cpp

#16183 Fix(Core/Spells): Delayed Damage system
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Globals/ObjectAccessor.cpp
  src/server/game/Globals/ObjectAccessor.h
  src/server/game/World/IWorld.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/game/World/World.h
Labels: CORE, file-cpp

#16174 fix(DB/MagtheridonLair): Revamp Magtheridon's Lair spawns
  data/sql/updates/pending_db_world/rev_1683251018722971200.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Instance - Raid - Outland, 70

#16130 fix(DB/SAI): Rework The Slave Pens Trash SAI
  data/sql/updates/pending_db_world/rev_1682710323496877200.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Instance - Dungeon - Outland, 70

#16156 fix(DB/Creature): Implement Antonio Perelli script
  data/sql/updates/pending_db_world/rev_1682972046295168400.sql
Labels: 1-19, 20-29, DB, To Be Merged

#16173 fix(DB/Quest): Correct quest progression in Children's Week Alliance Side
  data/sql/updates/pending_db_world/rev_1683046565991365200.sql
Labels: DB, To Be Merged, Ready to be Reviewed, World Event

#16175 fix(DB/Creature): Add pathing to Zandras
  data/sql/updates/pending_db_world/rev_1683258798551630600.sql
Labels: DB, To Be Merged, 65-69

#16170 fix(DB/Creature): Correct Cleric and Ghostrider of Karabor factions
  data/sql/updates/pending_db_world/rev_1683170469129035500.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 70

#16151 fix(DB/BloodmystIsle): Add Tzerak Pathing and missing Nazzivius gameobjects
  data/sql/updates/pending_db_world/rev_1682962366213388000.sql
Labels: 1-19, DB, To Be Merged, Ready to be Reviewed

#16123 fix(DB/SAI): Rework Trash SAI for Blood Furnace
  data/sql/updates/pending_db_world/rev_1682710323496877200.sql
  src/server/scripts/Outland/HellfireCitadel/BloodFurnace/boss_kelidan_the_breaker.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, Instance - Dungeon - Outland, 70, file-cpp

#15312 fix(DB/SAI): Void Baron Galaxis encounter.
  data/sql/updates/pending_db_world/rev_1678298704175831000.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: DB, CORE, Ready to be Reviewed, file-cpp, Tested

#16184 fix(Vehicle): Crash
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, file-cpp

#16182 fix(DB/creature_template): Remove Creature 621
  data/sql/updates/pending_db_world/rev_1683303351155130800.sql
Labels: DB, Ready to be Reviewed

#16169 fix(Scripts/TheSlavePens): port SAI from bosses to C++
  data/sql/updates/pending_db_world/add_scriptnames_to_bosses.sql
  src/server/scripts/Outland/CoilfangReservoir/SlavePens/boss_mennu_the_betrayer.cpp
  src/server/scripts/Outland/CoilfangReservoir/SlavePens/boss_quagmirran.cpp
  src/server/scripts/Outland/CoilfangReservoir/SlavePens/boss_rokmar_the_crackler.cpp
  src/server/scripts/Outland/CoilfangReservoir/SlavePens/the_slave_pens.h
  src/server/scripts/Outland/outland_script_loader.cpp
Labels: DB, CORE, Script, file-cpp

#16178 fix(Scripts/Outland): add missing C++ code and remove SAI scripts from Tavarok and Darkweaver Syth
  data/sql/updates/pending_db_world/tavarok_darkweaver_sai_removal.sql
  src/server/scripts/Outland/Auchindoun/ManaTombs/boss_tavarok.cpp
  src/server/scripts/Outland/Auchindoun/ManaTombs/mana_tombs.h
  src/server/scripts/Outland/Auchindoun/SethekkHalls/boss_darkweaver_syth.cpp
  src/server/scripts/Outland/outland_script_loader.cpp
Labels: DB, CORE, Script, file-cpp

#16196 fix(DB/SAI): add RP event for Lieutenant Gravelhammer and Captain Auric Sunchaser in Allerian Stronghold (port from TC)
  data/sql/updates/pending_db_world/tc-gravelhammer-auric-sunchaser-rp-sai-fix.sql
Labels: DB, To Be Merged

#14566 fix(Scripts/Underbog: Underbat's Tentacle Lash should be casted only …
  data/sql/updates/pending_db_world/rev_1673176236867407100.sql
  src/server/scripts/Outland/CoilfangReservoir/underbog/underbog.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, Instance - Dungeon - Outland, 61-64, file-cpp

#16246 revert(Core/Player): Revert Delayed Damage System
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Globals/ObjectAccessor.cpp
  src/server/game/Globals/ObjectAccessor.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/World/IWorld.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/game/World/World.h
Labels: CORE, To Be Merged, file-cpp

#16091 fix(Scripts/ShatteredHalls): fixes to Warbring O'mrogg combat scripts and timers
  data/sql/updates/pending_db_world/omroggequip.sql
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/boss_warbringer_omrogg.cpp
Labels: DB, CORE, Script, file-cpp

#16048 fix(DB/Karazhan): Update mech_immune_mask to make Spectral Performers immune to CC
  data/sql/updates/pending_db_world/fixmechimmunemaskspectperf.sql
Labels: DB

#16103 fix(Core/Spells): Apply AURA_STATE_FAERIE_FIRE to Lambent Blood.
  src/server/game/Spells/SpellInfo.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#16186 fix(DB/SAI): Rework Auchenai Crypts trash SAI
  data/sql/updates/pending_db_world/rev_1683317616042194600.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed, Instance - Dungeon - Outland, 70

#16168 fix(Core/ObjectMgr.cpp): Wrong format occurred (invalid format string)
  src/server/game/Globals/ObjectMgr.cpp
Labels: CORE, file-cpp

#15938 Revert "fix(Core/Spells): Seal of Command, Seal of Vengeance and Seal…
  src/server/game/Spells/SpellEffects.cpp
Labels: ChromieCraft Generic, CORE, Ready to be Reviewed, Class - Paladin, file-cpp

#14724 fix(Scripts/Underbog): Rework Swamplord Muselek
  data/sql/updates/pending_db_world/rev_1671902937557452500.sql
  src/server/scripts/Outland/CoilfangReservoir/underbog/boss_swamplord_muselek.cpp
  src/server/scripts/Outland/outland_script_loader.cpp
Labels: DB, WIP, CORE, Script, file-cpp

#15039 fix(Core/mail): letter paper
  src/server/game/Mails/Mail.h
Labels: CORE, Ready to be Reviewed, file-cpp

#13759 fix(DB/Creature): Root Ironhand Guardian
  data/sql/updates/pending_db_world/rev_1668017149389906100.sql
Labels: 50-59, DB, WIP, Instance - Dungeon - Vanilla

#13176 fix(Scripts/Activation Crystals): Instance The Violet Hold
  data/sql/updates/pending_db_world/rev_1664500389792248200.sql
  src/server/scripts/Northrend/VioletHold/violet_hold.cpp
  src/server/scripts/Northrend/VioletHold/violet_hold.h
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#14929 fix(DB/Creature): Several equipment fixes
  data/sql/updates/pending_db_world/rev_1675983261651004100.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#14809 fix(CORE/Player): Apply equip effect auras with -1 duration
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#16250 fix(Scripts/HellfireRamparts): modernise boss scripts for Hellfire Ramparts
  src/server/scripts/Outland/HellfireCitadel/HellfireRamparts/boss_omor_the_unscarred.cpp
  src/server/scripts/Outland/HellfireCitadel/HellfireRamparts/boss_vazruden_the_herald.cpp
  src/server/scripts/Outland/HellfireCitadel/HellfireRamparts/boss_watchkeeper_gargolmar.cpp
Labels: CORE, Script, file-cpp

#16190 fix(script/boss_mechano_lord_capacitus): Avoid Nether Charge despawn
  src/server/scripts/Outland/TempestKeep/Mechanar/boss_mechano_lord_capacitus.cpp
Labels: CORE, Script, file-cpp

#15201 fix(Instance/Script): Fix Factory Door in Deadmines being closable
  data/sql/updates/pending_db_world/DM_FactoryDoor_Fix.sql
  src/server/scripts/EasternKingdoms/Deadmines/instance_deadmines.cpp
Labels: DB, CORE, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#16163 add(DB/Warden): New checks (Detects PQR)
  data/sql/updates/pending_db_world/warden_pqr.sql
Labels: DB

#16195 fix(DB/Nagrand): add missing ability to Ravenous Windroc
  data/sql/updates/pending_db_world/ravenous_windroc.sql
Labels: DB, To Be Merged

#16251 fix(DB): Remove dynamically spawned necropoli gameobjects.
  data/sql/updates/pending_db_world/correct-scourge-necropoli.sql
Labels: DB

#16041 chore(core): Cleanup code p2
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/Achievements/AchievementMgr.cpp
  src/server/game/Calendar/CalendarMgr.cpp
  src/server/game/DataStores/M2Stores.cpp
  src/server/game/DungeonFinding/LFG.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Handlers/LFGHandler.cpp
  src/server/game/Handlers/PetHandler.cpp
  src/server/game/Movement/MovementGenerators/WaypointMovementGenerator.cpp
  src/server/game/Scripting/MapScripts.cpp
  src/server/game/Scripting/ScriptMgr.cpp
Labels: CORE, file-cpp

#16118 fix(DB/Loot): fix gold drops of ethereal mobs in Bash'ir Landing
  data/sql/updates/pending_db_world/bashir_new_gold_rates.sql
Labels: DB, Ready to be Reviewed

#16165 fix(Scripts/HallsOfReflection): Improve Halls of Reflection Events (Horde)
  data/sql/updates/pending_db_world/Fix_NPCs_Halls_of_Reflection.sql
  src/server/scripts/Northrend/FrozenHalls/HallsOfReflection/halls_of_reflection.cpp
  src/server/scripts/Northrend/FrozenHalls/HallsOfReflection/halls_of_reflection.h
  src/server/scripts/Northrend/FrozenHalls/HallsOfReflection/instance_halls_of_reflection.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#15955 fix (Core/Player) Double health regen from spirit
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#15505 fix(DB/SAI): Move Floon,Raliq the Drunk and Sal'salabim to SAI.
  data/sql/updates/pending_db_world/rev_1679319177066175200.sql
  src/server/scripts/Outland/zone_shattrath_city.cpp
  src/server/scripts/Outland/zone_terokkar_forest.cpp
Labels: DB, CORE, Script, file-cpp

#15940 fix(Core/Spells): Seal of Command, Seal of Vengeance and Seal of Corruption do not benefit from percentage damage increases
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: ChromieCraft Generic, CORE, To Be Merged, Ready to be Reviewed, Class - Paladin, file-cpp

#16167 fix(Scripts/ShatteredHalls): fix some timers/mechanics of Grand Warlock Nethekurse
  data/sql/updates/pending_db_world/add_areatrigger_nethekurse.sql
  data/sql/updates/pending_db_world/gully_netherkurse_sql_lines.sql
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/boss_nethekurse.cpp
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/instance_shattered_halls.cpp
Labels: DB, CORE, Script, file-cpp

#16247 Revert(conditions): Gordok Shackle Key should not be seen if you already have one.
  data/sql/updates/pending_db_world/rev_1683957297429455600.sql
Labels: DB, Loot, Instance - Dungeon - Vanilla

#16194 fix(DB/creature_template): Adjust Flameshocker's values
  data/sql/updates/pending_db_world/rev_1683530792489127900.sql
Labels: DB

#16098 fix(DB/SAI): Add RP for Quest - `Strange Brew` completion.
  data/sql/updates/pending_db_world/rev_1682576689740907500.sql
Labels: DB, Ready to be Reviewed

#16220 (feature) Add `Rate.Drop.Item.GroupAmount` to increase loot generated from loot groups
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/Loot/LootMgr.cpp
  src/server/game/Loot/LootMgr.h
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
Labels: CORE, file-cpp

#16252 fix(DB/Quest): Missing RP event after completing the quest "Deciphering the Book"
  data/sql/updates/pending_db_world/quest9557.sql
Labels: DB

#16253 add(DB/Creature): Jessera of Mac'Aree + Messenger Hermesius
  data/sql/updates/pending_db_world/add-text-17663-17703.sql
Labels: DB

#16260 add(DB\NPC) NPC Harold Lane is not performing his 'sick/ill' emotes
  data/sql/updates/pending_db_world/18218.sql
Labels: DB

#16188 fix(DB/Loot): Orphic Bracers
  data/sql/updates/pending_db_world/fix-orphic-bracers-loot.sql
Labels: DB, WIP

#16076 fix(Core/Spells): Dungeon T3 2P Bonuses for Wastewalker & Doomplate.
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: Merge Conflicts, CORE, Ready to be Reviewed, file-cpp

#15265 fix(DB/Creature): Plundering the Plunderers - Polly improvements.
  data/sql/updates/pending_db_world/rev_1677938661497953700.sql
Labels: 1-19, DB, To Be Merged

#16264 fix(scripts/HellfireCitadel): Mass struct/model update
  data/sql/updates/pending_db_world/rev_1684044915713162200.sql
  src/server/scripts/Outland/HellfireCitadel/BloodFurnace/blood_furnace.h
  src/server/scripts/Outland/HellfireCitadel/BloodFurnace/boss_broggok.cpp
  src/server/scripts/Outland/HellfireCitadel/BloodFurnace/boss_kelidan_the_breaker.cpp
  src/server/scripts/Outland/HellfireCitadel/BloodFurnace/boss_the_maker.cpp
  src/server/scripts/Outland/HellfireCitadel/HellfireRamparts/boss_omor_the_unscarred.cpp
  src/server/scripts/Outland/HellfireCitadel/HellfireRamparts/boss_vazruden_the_herald.cpp
  src/server/scripts/Outland/HellfireCitadel/HellfireRamparts/boss_watchkeeper_gargolmar.cpp
  src/server/scripts/Outland/HellfireCitadel/HellfireRamparts/hellfire_ramparts.h
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/boss_nethekurse.cpp
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/boss_warbringer_omrogg.cpp
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/boss_warchief_kargath_bladefist.cpp
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/shattered_halls.h
Labels: DB, CORE, Script, file-cpp

#16255 add(DB/Quest): "All Clear!" - Missing RP Event
  data/sql/updates/pending_db_world/20913.sql
Labels: DB

#16278 feat(apps/scripts): set a logging file for gdb using starter app
  apps/startup-scripts/run-engine
  apps/startup-scripts/starter
Labels: Bash

#16254 feat(Core/SAI): Implement SMART_ACTION_DISABLE
  data/sql/updates/pending_db_world/rev_1684036819129474700.sql
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: DB, CORE, Ready to be Reviewed, Needs Feedback, file-cpp, Requires WIKI Update

#16306 fix(Core/Player): Instance.IgnoreRaid kicking people out
  src/server/game/Entities/Player/PlayerStorage.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#16321 chore(Scripts/BloodFurnace): Clean up Keli'dan script
  data/sql/updates/pending_db_world/rev_1684449165991504600.sql
  src/server/scripts/Outland/HellfireCitadel/BloodFurnace/boss_kelidan_the_breaker.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, Instance - Dungeon - Outland, file-cpp

#16330 fix(DB/Creature): Misc fixes for TBC Heroic dungeons
  data/sql/updates/pending_db_world/rev_1684593078469435100.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Instance - Dungeon - Outland, 70

#16331 fix(DB/creature) add missing stealth detection to mobs
  data/sql/updates/pending_db_world/rev_1684589406305000945.sql
Labels: DB

#16334 fix(DB/ShatteredHalls): Implement scripted adds for Porung and Kargath
  data/sql/updates/pending_db_world/rev_1684618396046160600.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Instance - Dungeon - Outland, 70

#16265 chore(Scripts/ShatteredHalls): Rework Nethekurse
  data/sql/updates/pending_db_world/rev_1684108506441826000.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/boss_nethekurse.cpp
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/instance_shattered_halls.cpp
Labels: DB, CORE, Script, file-cpp

#16346 fix(Core/Scripts): Rewrite Warbringer O'mrogg
  data/sql/updates/pending_db_world/rev_1684616338556943400.sql
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/boss_warbringer_omrogg.cpp
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/instance_shattered_halls.cpp
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/shattered_halls.h
Labels: DB, CORE, Waiting to be Tested, Script, Instance - Dungeon - Outland, 70, file-cpp

#16355 fix(Core/Scripts): Rewrite Warchief Kargath Bladefist
  data/sql/updates/pending_db_world/rev_1684773536924402300.sql
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/boss_warchief_kargath_bladefist.cpp
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/instance_shattered_halls.cpp
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/shattered_halls.h
Labels: DB, CORE, Script, Instance - Dungeon - Outland, 70, file-cpp

#16344 fix(DB/Character): Allow names to be accent senstive
  data/sql/base/db_characters/characters.sql
  data/sql/updates/pending_db_characters/rev_1684700137059902900.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#16326 fix(Core/Spells): Hunter snake trap damage
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Entities/Pet/PetDefines.h
  src/server/scripts/Pet/pet_hunter.cpp
Labels: CORE, Script, file-cpp

#16350 fix(DB/SAI): Update Blackrock Summoner (9818) summoning logic
  data/sql/updates/pending_db_world/rev_1684738074772236115.sql
Labels: DB, To Be Merged

#16342 fix(DB/creature_template_spell): Add "Threaten" spell to "Wild Fel Stalker"
  data/sql/updates/pending_db_world/rev_1684697962199868700.sql
Labels: DB

#16338 fix(DB/ArathiHighlands): set Kenata Dabyrie's run speed to a more realistic value
  data/sql/updates/pending_db_world/fix_run_speed_dabyrie.sql
Labels: DB, To Be Merged

#16305 fix(Core/Player): Logic
  src/server/game/Entities/Player/PlayerStorage.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#16308 fix(Core/SAI): Allow LINK events to use event_chance
  src/server/game/AI/SmartScripts/SmartScript.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#16322 fix(DB/Loot): Overtuned loot drops in Hellfire Citadel dungeons
  data/sql/updates/pending_db_world/rev_1684493123181040400.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Instance - Dungeon - Outland

#16378 chore(SQL): fix delete query
  data/sql/updates/db_world/2023_05_21_01.sql
Labels: DB

#16310 fix(scripts/npc) Experience Eliminator only asks pertinent questions
  src/server/scripts/World/npcs_special.cpp
Labels: CORE, Script, file-cpp

#16381 fix(DB/ShatteredHalls): Fix Legionnaires in Sparring Hall calling 2 adds at a time
  data/sql/updates/pending_db_world/rev_1685245089801017800.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Instance - Dungeon - Outland, 70

#16384 fix(Scripts/ShatteredHalls): Fix Nethekurse delay after peon dies
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/boss_nethekurse.cpp
Labels: CORE, Script, file-cpp

#16386 fix(DB/ShatteredHalls): Lower chance on pattern drops for Shattered Hand Legionnaire
  data/sql/updates/pending_db_world/fix-loot-shh.sql
Labels: DB

#16388 fix(Core/Script): Kargath should prevent adds spawn on death
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/boss_warchief_kargath_bladefist.cpp
Labels: CORE, Script, file-cpp

#16387 fix(Core/Creature): Re-Add IGNORE_ASSISTANCE_CALL flag
  data/sql/updates/pending_db_world/rev_1685289370798076700.sql
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Entities/Creature/enuminfo_CreatureData.cpp
Labels: ChromieCraft Generic, DB, CORE, To Be Merged, Ready to be Reviewed, file-cpp, Requires WIKI Update

#16389 fix(Scripts/Nethekurse): Prevent boss from being pulled early
  data/sql/updates/pending_db_world/rev_1685290938570269300.sql
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/boss_nethekurse.cpp
Labels: Hack Fix, DB, CORE, Ready to be Reviewed, Script, Instance - Dungeon - Outland, 70, file-cpp

#16383 (WIP) fix(Scripts/ShatteredHalls): Implement the Flame Gauntlet event
  data/sql/updates/pending_db_world/rev_1684108506441826000.sql
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/instance_shattered_halls.cpp
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/shattered_halls.h
Labels: DB, CORE, Script, file-cpp

#16279 refactor(scripts/Outland): World Boss model update
  src/server/scripts/Outland/boss_doomlord_kazzak.cpp
  src/server/scripts/Outland/boss_doomwalker.cpp
Labels: CORE, Script, file-cpp

#16340 fix (scripts/cs) Fix '.send items' command to no longer require an itemId count
  src/server/scripts/Commands/cs_send.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#16268 refactor(scripts/CavernsOfTime): Mass struct/model update
  src/server/scripts/Kalimdor/CavernsOfTime/EscapeFromDurnholdeKeep/boss_captain_skarloc.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/EscapeFromDurnholdeKeep/boss_epoch_hunter.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/EscapeFromDurnholdeKeep/boss_lieutenant_drake.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/EscapeFromDurnholdeKeep/old_hillsbrad.h
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/boss_aeonus.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/boss_chrono_lord_deja.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/boss_temporus.cpp
Labels: CORE, Script, file-cpp

#16394 fix(Scripts/ShatteredHalls): Fire Executioner's call on heroic only
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/instance_shattered_halls.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#16395 fix(Scripts/ShatteredHalls): Nethekurse shouldn't roleplay in combat
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/boss_nethekurse.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#16380 fix(DB/ShadowmoonValley): add immunities to Uvuros
  data/sql/updates/pending_db_world/Uvuros_Immunities.sql
Labels: DB

#16367 fix(DB/HellfirePeninsula): remove very strange resistance from Kaliri Swooper, Matriarch and the Hatchlings
  data/sql/updates/pending_db_world/fix-kaliri-resist.sql
Labels: DB, To Be Merged

#15296 fix(Script/Zone): Hellfire Peninsula - Beacons not attracting mobs.
  data/sql/updates/pending_db_world/rev_1678132905589082800.sql
  src/server/scripts/Outland/zone_hellfire_peninsula.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp
