Repository azerothcore/azerothcore-wotlk, pull requests merged in 2023-12, with the labels that each got.

#17919 feat(Core/ChatHandler): Add SendErrorMessage helper
  src/server/game/Chat/Chat.cpp
  src/server/game/Chat/Chat.h
  src/server/scripts/Commands/PlayerCommand.cpp
  src/server/scripts/Commands/cs_account.cpp
  src/server/scripts/Commands/cs_achievement.cpp
  src/server/scripts/Commands/cs_arena.cpp
  src/server/scripts/Commands/cs_ban.cpp
  src/server/scripts/Commands/cs_bf.cpp
  src/server/scripts/Commands/cs_cache.cpp
  src/server/scripts/Commands/cs_cast.cpp
  src/server/scripts/Commands/cs_character.cpp
  src/server/scripts/Commands/cs_cheat.cpp
  src/server/scripts/Commands/cs_debug.cpp
  src/server/scripts/Commands/cs_deserter.cpp
  src/server/scripts/Commands/cs_disable.cpp
  src/server/scripts/Commands/cs_event.cpp
  src/server/scripts/Commands/cs_gm.cpp
  src/server/scripts/Commands/cs_go.cpp
  src/server/scripts/Commands/cs_gobject.cpp
  src/server/scripts/Commands/cs_guild.cpp
  src/server/scripts/Commands/cs_honor.cpp
  src/server/scripts/Commands/cs_instance.cpp
  src/server/scripts/Commands/cs_inventory.cpp
  src/server/scripts/Commands/cs_item.cpp
  src/server/scripts/Commands/cs_learn.cpp
  src/server/scripts/Commands/cs_list.cpp
  src/server/scripts/Commands/cs_lookup.cpp
  src/server/scripts/Commands/cs_message.cpp
  src/server/scripts/Commands/cs_misc.cpp
  src/server/scripts/Commands/cs_modify.cpp
  src/server/scripts/Commands/cs_npc.cpp
  src/server/scripts/Commands/cs_pet.cpp
  src/server/scripts/Commands/cs_quest.cpp
  src/server/scripts/Commands/cs_reload.cpp
  src/server/scripts/Commands/cs_reset.cpp
  src/server/scripts/Commands/cs_send.cpp
  src/server/scripts/Commands/cs_server.cpp
  src/server/scripts/Commands/cs_tele.cpp
  src/server/scripts/Commands/cs_titles.cpp
  src/server/scripts/Commands/cs_wp.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#17915 fix(Scripts/Command): Allow player name/guid in additem
  data/sql/updates/pending_db_world/rev_1701389243654647400.sql
  src/server/scripts/Commands/cs_misc.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp

#17926 fix(DB/BloodmystIsle): add SAI to Zevrax
  data/sql/updates/pending_db_world/add-spells-zevrax.sql
Labels: DB

#17909 fix(DB/Gameobject): Sniffed Values - "Striking Back" Quest Midsummer …
  data/sql/updates/pending_db_world/rev_1701289191898515900.sql
Labels: DB, Ready to be Reviewed, World Event

#17924 fix(Core/Quest): Throw error if quest_template RewardItemId is not se…
  src/server/game/Globals/ObjectMgr.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#17928 fix(DB/Quest): Typo in rep requirement for quest 11026
  data/sql/updates/pending_db_world/rev_1701597665901809700.sql
Labels: DB

#17933 fix(Scripts/AlteracValley): Balinda Stoneheart
  data/sql/updates/pending_db_world/rev_1701608044519062000.sql
  src/server/scripts/EasternKingdoms/AlteracValley/boss_balinda.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17916 Fix(DB/Script) fix quest 12862 and 13060 When All Else Fails
  data/sql/updates/pending_db_world/fix_quest_12862_13060.sql
  src/server/scripts/Northrend/zone_storm_peaks.cpp
Labels: DB, CORE, Script, file-cpp

#17935 feat(Core/Scripting): Implement AfterInstanceGameObjectCreate() global hook
  src/server/game/Instances/InstanceScript.cpp
  src/server/game/Scripting/ScriptDefines/GlobalScript.cpp
  src/server/game/Scripting/ScriptDefines/GlobalScript.h
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, To Be Merged, file-cpp

#17934 refactor(Scripts/SerpetnshrineCavern): Clear up unused variables
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/instance_serpent_shrine.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17927 fix(DB/BloodmystIsle): add wander movement to Deathclaw
  data/sql/updates/pending_db_world/deathclaw-wander.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#17937 fix(DB/Spells): Hellfire Peninsula portal XYZ.
  data/sql/updates/pending_db_world/rev_1701692168915380100.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#17946 fix(DB/Pools): Correct Inconspicuous Landmark
  data/sql/updates/pending_db_world/rev_1701758049251094300.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#17939 fix(scripts/SerpentShrine): #17918 Errors generated
  data/sql/updates/pending_db_world/SerpentShrine.sql
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_lurker_below.cpp
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/instance_serpent_shrine.cpp
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/serpent_shrine.h
Labels: DB, CORE, Script, file-cpp

#17953 fix(Scripts/SSC): Leotheras demon form fixes
  data/sql/updates/pending_db_world/shadow-of-leotheras-health-set.sql
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_leotheras_the_blind.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17952 fix(Scripts/SSC): codestyle fix in SSC after recent PR
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/instance_serpent_shrine.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17955 refactor(Scripts/Midsummer): use scheduler provided by CreatureAI
  src/server/scripts/Events/midsummer.cpp
Labels: CORE, Ready to be Reviewed, World Event, Script, file-cpp

#17962 fix(Scripts/Commands): Crash on go xyz with invalid mapid
  src/server/scripts/Commands/cs_go.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17947 chore: remove unused AnticheatSetSkipOnePacketForASH() function
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Handlers/MovementHandler.cpp
  src/server/game/Handlers/TaxiHandler.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.h
  src/server/game/Scripting/ScriptMgr.h
  src/server/game/Spells/SpellEffects.cpp
  src/server/scripts/Northrend/Nexus/EyeOfEternity/boss_malygos.cpp
Labels: CORE, Script, file-cpp

#17966 fix(DB/Gameobject): Sniffed Values for 181371 'Midsummer Bonfire Spel…
  data/sql/updates/pending_db_world/rev_1702128487628226700.sql
Labels: DB, Ready to be Reviewed, World Event

#17849 fix(Scripts/Karazhan): fixing the Aran drink routine and reset behavior
  src/server/scripts/EasternKingdoms/Karazhan/boss_shade_of_aran.cpp
Labels: CORE, Script, file-cpp

#17973 feat(Core/Hooks): Add OnPlayerJustDied hook
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.h
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#17975 fix(Scripts/SerpentshrineCavern): Fix Hydross not moving before grid …
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_hydross_the_unstable.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17959 fix(DB/Creature): Sniffed Values for 26520 'Festival Scorchling'
  data/sql/updates/pending_db_world/rev_1702044195229039200.sql
Labels: DB, Ready to be Reviewed, World Event

#17958 fix(DB/Creature): Sniffed Values for 26355 '[DND] Midsummer Bonfire F…
  data/sql/updates/pending_db_world/rev_1702041029987157100.sql
Labels: DB, Ready to be Reviewed, World Event

#17978 fix(DB/SSC): Added knockback immunity Fathom-Lord adds
  data/sql/updates/pending_db_world/rev_1702246889888310000.sql
Labels: DB

#17977 fix(DB/SSC): Added mechanic_immune_mask to a couple creatures
  data/sql/updates/pending_db_world/rev_1702245200712395800.sql
Labels: DB

#17976 fix(Scripts/SerpentshrineCavern): Leotheras inner demons should only …
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_leotheras_the_blind.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#17979 fix(Core/Spells): Add ignore LOS to Tidal Wave
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, file-cpp

#17981 fix(Core/SSC): Added boss boundaries
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_fathomlord_karathress.cpp
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/instance_serpent_shrine.cpp
Labels: CORE, Script, file-cpp

#17982 fix(Core/SSC): Fix Lady Vashj summons
  data/sql/updates/pending_db_world/rev_1702268269121700300.sql
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_lady_vashj.cpp
  src/server/scripts/Spells/spell_generic.cpp
Labels: DB, CORE, Script, file-cpp

#17983 fix(Scripts/SerpentshrineCavern): Leotheras should engage once adds a…
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_leotheras_the_blind.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17984 fix(Scripts/SerpentshrineCavern): The Lurker should emerge once all a…
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_lurker_below.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17986 fix(DB/SpellScript): remove spell_script_names entry that is no longer used
  data/sql/updates/pending_db_world/delete_unused_spellscript_name.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#17985 refactor(Scripts/UtgardeKeep): Clean up unused variables
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/instance_utgarde_keep.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/utgarde_keep.h
Labels: To Be Merged

#17846 fix(DB/Creature) Add items to Creature hands
  data/sql/updates/pending_db_world/rev_1700894450549367900.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed

#17987 refactor(Scripts/Outland): Update Doomwalker to new register model
  src/server/scripts/Outland/boss_doomwalker.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17993 fix(Scripts/SSC): make The Lurker Below spout rotate faster again
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_lurker_below.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp, Tested

#17992 fix(Core/SAI/SSC): Allow Farthest target to set a min distance
  data/sql/updates/pending_db_world/rev_1702318402325328200.sql
  src/server/game/AI/CoreAI/UnitAI.h
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, file-cpp, Requires WIKI Update

#17996 fix(DB/Loot): Lady Vashj non-set items
  data/sql/updates/pending_db_world/rev_1702340603344359300.sql
Labels: DB, To Be Merged

#18000 fix(DB/SSC): update bosses movement speed
  data/sql/updates/pending_db_world/rev_1702347891613495300.sql
Labels: DB, Ready to be Reviewed

#17998 fix(DB/SSC): Fix Toxic Sporebats Z Position
  data/sql/updates/pending_db_world/rev_1702346080894902800.sql
Labels: DB, Ready to be Reviewed

#17995 fix(DB/SSC): Coilfang Strider should not be immune to snare/root
  data/sql/updates/pending_db_world/rev_1702339323045769600.sql
Labels: DB, To Be Merged

#17997 fix(DB/Item): Tainted Core loot rules
  data/sql/updates/pending_db_world/rev_1702342807328245400.sql
Labels: DB, To Be Merged

#17990 fix(Scripts/Commands): fix wpgps and add sai option for formating
  data/sql/updates/pending_db_world/rev_1702306388357732400.sql
  src/server/scripts/Commands/cs_debug.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp

#17974 Fix(DB/SAI) Events are added after completing a mission
  data/sql/updates/pending_db_world/rev_1702220889643717100.sql
Labels: DB

#17957 fix(DB/Creature): Sniffed Values for 26258 '[DND] Midsummer Bonfire F…
  data/sql/updates/pending_db_world/rev_1702040340615084100.sql
Labels: DB, Ready to be Reviewed, World Event

#18001 fix(Scripts/SerpentshrineCaverns): fix double submerge phases
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_lurker_below.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17951 fix(DB/Creature): Sniffed Values for 16592 'Midsummer Bonfire'
  data/sql/updates/pending_db_world/rev_1701939340973772000.sql
Labels: DB, Ready to be Reviewed, World Event

#17956 fix(DB/Creature): Sniffed Values for 17066 'Ribbon Pole Debug Target'
  data/sql/updates/pending_db_world/rev_1702039528508458700.sql
Labels: DB, Ready to be Reviewed, World Event

#17964 fix(Event/Midsummer): miscellaneous cleanups of spawns
  data/sql/updates/pending_db_world/rev_1702120071739163800.sql
Labels: DB, Ready to be Reviewed, World Event

#17994 chore(Core/Entities): remove useless includes
  src/server/game/Entities/Object/ObjectPosSelector.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Vehicle/Vehicle.cpp
Labels: CORE, To Be Merged, file-cpp

#18002 fix(Scripts/SerpentshrineCavern): Use proper spells to handle the Lur…
  data/sql/updates/pending_db_world/rev_1702354806261348200.sql
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_lurker_below.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18003 fix(Scripts/SerpentshrineCavern): fix Hydross not casting Water Tomb …
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_hydross_the_unstable.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#18007 fix(DB/SAI): Vashj'ir Honor Guard should cast Freightening Shout
  data/sql/updates/pending_db_world/rev_1702391940911282400.sql
Labels: DB

#18006 fix(DB/SSC): Fathom-Guard Caribdis should be able to be interrupted
  data/sql/updates/pending_db_world/rev_1702390051865119400.sql
Labels: DB

#18005 fix(DB/SSC): Trash linked spawn
  data/sql/updates/pending_db_world/rev_1702386539450917700.sql
Labels: DB

#18008 fix(Core/SSC): Rancid Mushroom mechanic
  data/sql/updates/pending_db_world/rev_1702400889402948200.sql
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/instance_serpent_shrine.cpp
Labels: DB, CORE, Script, file-cpp

#18009 fix(Scripts/SSC): play emerge animation on the Lurker Below and make sure whirl doesn't happen during spout
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_lurker_below.cpp
Labels: CORE, Script, file-cpp

#18011 feat(Core/Object): Play radius sound/music.
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#18014 fix(Scripts/SerpentshrineCavern): Fix Lurker spawn coords and spout s…
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_lurker_below.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18018 feat(Core/SmartScripts): SMART_EVENT_SUMMONED_UNIT_EVADE
  src/server/game/AI/CoreAI/GameObjectAI.h
  src/server/game/AI/CreatureAI.cpp
  src/server/game/AI/CreatureAI.h
  src/server/game/AI/SmartScripts/SmartAI.cpp
  src/server/game/AI/SmartScripts/SmartAI.h
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp, Requires WIKI Update

#18004 chore(Scripts): remove useless includes
  src/server/apps/authserver/Server/AuthSession.cpp
  src/server/database/Updater/DBUpdater.cpp
  src/server/scripts/Commands/cs_send.cpp
  src/server/scripts/Commands/cs_server.cpp
  src/server/scripts/Commands/cs_spectator.cpp
  src/server/scripts/Commands/cs_tele.cpp
  src/server/scripts/Commands/cs_ticket.cpp
  src/server/scripts/Commands/cs_titles.cpp
  src/server/scripts/Commands/cs_wp.cpp
  src/server/scripts/OutdoorPvP/OutdoorPvPZM.cpp
  src/server/scripts/Spells/spell_item.cpp
  src/server/scripts/Spells/spell_paladin.cpp
Labels: CORE, To Be Merged, Script, run-build, file-cpp

#18037 fix(Scripts/SerpentshrineCavern): Despawn Lurker's pool and fix visua…
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_lurker_below.cpp
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/instance_serpent_shrine.cpp
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/serpent_shrine.h
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18036 chore(Core): remove useless includes
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Grids/Notifiers/GridNotifiers.cpp
  src/server/game/Maps/MapInstanced.cpp
  src/server/game/Movement/MovementGenerators/EscortMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/HomeMovementGenerator.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Tools/CharacterDatabaseCleaner.cpp
Labels: CORE, To Be Merged, run-build, file-cpp

#18032 #18031 fix ritual of souls
  src/server/scripts/World/go_scripts.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#18029 fix(DB/Procs): Spell Bomb not having cooldown
  data/sql/updates/pending_db_world/rev_1703092164960613400.sql
Labels: DB, Ready to be Reviewed

#18025 fix(DB/Creature): update various midsummer spawns with sniffed values
  data/sql/updates/pending_db_world/rev_1702823363366738900.sql
Labels: DB, Ready to be Reviewed, World Event

#18048 chore(Scripts/World): Remove unused legacy scripts
  src/server/scripts/World/mob_generic_creature.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#18047 chore(Scripts): Remove placeholder Ironforge/AlteracMountains files
  src/server/scripts/EasternKingdoms/zone_alterac_mountains.cpp
  src/server/scripts/EasternKingdoms/zone_ironforge.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#18061 chore(Scripts/Northrend): remove useless includes
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/instance_ahnkahet.cpp
  src/server/scripts/Northrend/ChamberOfAspects/ObsidianSanctum/instance_obsidian_sanctum.cpp
  src/server/scripts/Northrend/ChamberOfAspects/RubySanctum/boss_halion.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheChampion/instance_trial_of_the_champion.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/instance_trial_of_the_crusader.cpp
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/boss_forgemaster_garfrost.cpp
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/boss_krickandick.cpp
  src/server/scripts/Northrend/Gundrak/instance_gundrak.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_the_lich_king.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel_teleport.cpp
  src/server/scripts/Northrend/IcecrownCitadel/instance_icecrown_citadel.cpp
  src/server/scripts/Northrend/Nexus/EyeOfEternity/boss_malygos.cpp
  src/server/scripts/Northrend/Nexus/Nexus/boss_anomalus.cpp
  src/server/scripts/Northrend/Nexus/Oculus/instance_oculus.cpp
  src/server/scripts/Northrend/Nexus/Oculus/oculus.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardePinnacle/utgarde_pinnacle.cpp
  src/server/scripts/Northrend/zone_borean_tundra.cpp
  src/server/scripts/Northrend/zone_dragonblight.cpp
  src/server/scripts/Northrend/zone_storm_peaks.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#18023 fix(Scripts/Midsummer): Implement Midsummer Bonfire mechanics
  data/sql/updates/pending_db_world/rev_1701522254381754000.sql
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/scripts/Events/midsummer.cpp
Labels: DB, CORE, Ready to be Reviewed, World Event, Script, file-cpp

#18056 feat(Core/Spells): Implement SPELL_ATTR0_CU_BYPASS_MECHANIC_IMMUNITY
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Spells/SpellInfo.h
Labels: CORE, To Be Merged, file-cpp, Requires WIKI Update

#18057 fix(DB/Creature): Leotheras the Blind banish immunity
  data/sql/updates/pending_db_world/rev_1703459500908922900.sql
Labels: DB, To Be Merged

#18065 chore(Scripts/Kalimdor): remove useless includes
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/instance_hyjal.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/EscapeFromDurnholdeKeep/instance_old_hillsbrad.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/instance_the_black_morass.cpp
  src/server/scripts/Kalimdor/RagefireChasm/instance_ragefire_chasm.cpp
  src/server/scripts/Kalimdor/RazorfenDowns/razorfen_downs.cpp
  src/server/scripts/Kalimdor/RazorfenKraul/instance_razorfen_kraul.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_buru.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/instance_ruins_of_ahnqiraj.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/instance_temple_of_ahnqiraj.cpp
  src/server/scripts/Kalimdor/ZulFarrak/zulfarrak.cpp
  src/server/scripts/Kalimdor/boss_azuregos.cpp
  src/server/scripts/Kalimdor/zone_feralas.cpp
  src/server/scripts/Kalimdor/zone_the_barrens.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#18067 fix(DB/Creature): Update 'Flame Keeper' / 'Flame Warden' spawns with …
  data/sql/updates/pending_db_world/rev_1703599369042875400.sql
Labels: DB, Ready to be Reviewed, World Event

#18075 chore(Scripts/EK): remove useless includes
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/instance_blackrock_spire.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_garr.cpp
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter3.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/boss_jeklik.cpp
  src/server/scripts/EasternKingdoms/zone_blasted_lands.cpp
  src/server/scripts/EasternKingdoms/zone_burning_steppes.cpp
  src/server/scripts/EasternKingdoms/zone_ghostlands.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#18082 fix(Scripts/ScarletMonastery): Prevent Whitemane from dying before resurrecting Mograine
  src/server/scripts/EasternKingdoms/ScarletMonastery/instance_scarlet_monastery.cpp
Labels: CORE, Script, file-cpp

#18079 fix(DB/Custom): Rotting Touch should stack from different sources
  data/sql/updates/pending_db_world/rev_1703920580435795500.sql
Labels: DB, To Be Merged, Ready to be Reviewed
