Repository azerothcore/azerothcore-wotlk, pull requests merged in 2023-09, with the labels that each got.

#17155 fix(Scripts/Karazhan): fix gossip from the Grandmother in the Big Bad Wolf fight
  src/server/scripts/EasternKingdoms/Karazhan/bosses_opera.cpp
Labels: CORE, Script, file-cpp

#17153 fix(Scripts/Karazhan): Maiden of Virtue repentance should have a cast…
  src/server/scripts/EasternKingdoms/Karazhan/boss_maiden_of_virtue.cpp
Labels: To Be Merged

#17172 fix(Scripts/Karazhan): make it so door closes when Big Bad Wolf is engaged in Little Red Riding Hood in the Opera
  src/server/scripts/EasternKingdoms/Karazhan/bosses_opera.cpp
  src/server/scripts/EasternKingdoms/Karazhan/karazhan.cpp
Labels: CORE, Script, file-cpp

#17151 fix(Scripts/Karazhan): change to right gossip menu for Barnes
  src/server/scripts/EasternKingdoms/Karazhan/karazhan.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#17112 fix(DB/Azshara): adjusting y and z axes for node
  data/sql/updates/pending_db_world/truesilver-azshara-spawn-guid-9329-update.sql
Labels: DB

#17107 fix(DB/Netherstorm): adding CC immunities to Ethereum Prisoners
  data/sql/updates/pending_db_world/ethereum-prisoner-update.sql
Labels: DB, Ready to be Reviewed

#17095 fix(DB/Deeprun Tram): add movement and events to Haggle in Deeprun Tram using sniffs
  data/sql/updates/pending_db_world/haggle.sql
Labels: DB, Ready to be Reviewed

#17173 fix(Scripts/Karazhan): Fix Nightbane health phase percentages
  src/server/scripts/EasternKingdoms/Karazhan/boss_nightbane.cpp
  src/server/scripts/EasternKingdoms/Karazhan/instance_karazhan.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#17174 fix(Scripts/Karazhan): Remove hacked knockback effect from Aran Flame…
  src/server/scripts/EasternKingdoms/Karazhan/boss_shade_of_aran.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#17152 fix(Scripts/Karazhan): Remove redundant Garrote cast and despawn gues…
  src/server/scripts/EasternKingdoms/Karazhan/boss_moroes.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17136 fix(Scripts/MagtheridonsLair): make it so no attack is being done during Quake and fix p1 cheese tactic
  src/server/scripts/Outland/HellfireCitadel/MagtheridonsLair/boss_magtheridon.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#17086 fix(Core/Player): Allow to swap bags when they are filled
  src/server/game/Entities/Player/PlayerStorage.cpp
Labels: CORE, Ready to be Reviewed, file-cpp, Tested

#17069 fix(Core/InstanceMap): Stop using deleted player in RemovePlayerFromMap
  src/server/game/Maps/Map.cpp
Labels: CORE, file-cpp

#17128 fix(scripts/Magtheridon): Remove ThreatList before release
  src/server/scripts/Outland/HellfireCitadel/MagtheridonsLair/boss_magtheridon.cpp
Labels: CORE, Script, file-cpp

#17054 fix(Scripts/Ulduar): update Winter Jormungar and Snow Mound creature script
  data/sql/updates/pending_db_world/winter-jormungar-auras.sql
  src/server/scripts/Northrend/Ulduar/Ulduar/ulduar.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/ulduar.h
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp

#17044 refactor(Core/Script): Refactor Void Reaver boss script to new scheduler
  src/server/scripts/Outland/TempestKeep/Eye/boss_void_reaver.cpp
  src/server/scripts/Outland/TempestKeep/Eye/the_eye.h
Labels: CORE, Script, file-cpp

#17198 fix(Scripts/Magtheridon): add correct way to reset threat list
  src/server/scripts/Outland/HellfireCitadel/MagtheridonsLair/boss_magtheridon.cpp
Labels: CORE, Script, file-cpp, Tested

#17209 feat(Core/Scripting): Implement OnAllowedToLootContainerCheck() hook
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Scripting/ScriptDefines/GlobalScript.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, To Be Merged, file-cpp

#17222 fix(Core/AuctionHouse): fix crash in BuildListAuctionItems
  src/server/game/AuctionHouse/AuctionHouseMgr.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#16934 refactor(Apps, Deps): Remove Deno as a dependency to the dashboard
  .github/workflows/import_pending.yml
  apps/bash_shared/deno.sh
  apps/bash_shared/includes.sh
  apps/docker/docker-cmd.sh
  apps/docker/docker-cmd.ts
  apps/installer/main.sh
  apps/installer/main.ts
  apps/installer/utils.ts
  deps/deno/bin/.gitignore
  deps/deno/bin/README.md
Labels: Workflow, Bash, run-build

#17066 fix: log error in case configuration not found
  src/common/Configuration/Config.cpp
Labels: CORE, To Be Merged, file-cpp

#17225 fix(CI): pending sql changelog script's invocation
  .github/workflows/import_pending.yml
Labels: Workflow

#17226 fix(CI): rebase instead of unshallow fetch
  .github/workflows/import_pending.yml
Labels: Workflow

#17090 feat(Core/SmartAI): Implement a few more stuff
  data/sql/updates/pending_db_world/rev_1693093120417899200.sql
  src/server/game/AI/SmartScripts/SmartAI.cpp
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: DB, CORE, Ready to be Reviewed, file-cpp, Requires WIKI Update

#17187 feat(DB/Creature): Add CreateObject column in the creature table
  data/sql/updates/pending_db_world/rev_1693858384423226200.sql
Labels: DB, Ready to be Reviewed, Requires WIKI Update

#17229 fix(CI): pending files
  .github/workflows/import_pending.yml
Labels: Workflow, To Be Merged, Ready to be Reviewed

#17231 fix(apps/Docker): Missing arg for build:prod
  apps/docker/docker-cmd.sh
Labels: Bash

#17230 fix(CI): only run cpp check on AC
  .github/workflows/cpp-check.yml
Labels: Workflow, To Be Merged, Ready to be Reviewed

#17233 chore(DB/Creature): Correct VerifiedBuild for unverified chess piece spells.
  data/sql/updates/pending_db_world/verify-your-builds.sql
Labels: DB, Ready to be Reviewed

#17237 fix(Scripts/Karazhan): Malchezaar infernals now spawn in the correct locations under the right conditions
  data/sql/updates/pending_db_world/helpers-malchezaar.sql
  src/server/scripts/EasternKingdoms/Karazhan/boss_prince_malchezaar.cpp
  src/server/scripts/EasternKingdoms/Karazhan/karazhan.h
Labels: DB, CORE, Script, file-cpp

#17246 fix(Scripts/Karazhan): Should always be able to talk to chess pieces …
  data/sql/updates/pending_db_world/rev_1694662379689891600.sql
  src/server/scripts/EasternKingdoms/Karazhan/instance_karazhan.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp, Tested

#17180 fix(Core): Implement ACHIEVEMENT_CRITERIA_TYPE_OWN_RANK
  data/sql/updates/pending_db_world/rev_1693745806698601000.sql
  src/server/game/Achievements/AchievementMgr.cpp
  src/server/game/Entities/Player/Player.cpp
Labels: DB, CORE, To Be Merged, file-cpp

#17251 chore(Core/Misc): Silence compile warning in boost::process with vers…
  src/common/Utilities/StartProcess.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#17252 chore(CI): Update deps for Windows and Mac builds
  .github/workflows/windows_build.yml
  apps/compiler/includes/functions.sh
  apps/installer/includes/os_configs/osx.sh
  apps/installer/includes/os_configs/windows.sh
Labels: Workflow, To Be Merged, Ready to be Reviewed, Bash, run-build

#17253 chore(docs): remove reference to BountySource
  .github/README.md
Labels: To Be Merged, Ready to be Reviewed

#17241 feat(DB): Add another column for comments
  data/sql/updates/pending_db_world/rev_1694636334573006200.sql
Labels: DB, Ready to be Reviewed, Needs Feedback, Requires WIKI Update

#17188 refactor(DB): Unify two player stat tables.
  data/sql/updates/pending_db_world/condense-tables.sql
  src/server/game/Globals/ObjectMgr.cpp
Labels: DB, CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp, Requires WIKI Update

#17232 fix(DB/Creature): Correct Orc Warlock controlled spell
  data/sql/updates/pending_db_world/rev_1694389067923549800.sql
Labels: DB, To Be Merged

#17260 fix(Scripts/Karazhan): decrease Aran cast cooldown on normal spells
  src/server/scripts/EasternKingdoms/Karazhan/boss_shade_of_aran.cpp
Labels: CORE, Waiting to be Tested, Script, file-cpp

#17265 Refactor (Scripts/Spells) Check for existence of AD debuff instead of adding a custom cooldown to heal
  src/server/scripts/Spells/spell_paladin.cpp
Labels: CORE, Script, file-cpp

#17102 fix(Scripts/Chat): Fix chat logger
  src/common/Logging/Log.cpp
  src/common/Logging/Log.h
  src/common/Logging/LogCommon.h
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/scripts/World/chat_log.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17087 chore(Core/enumutils): regenerate enumutils
  src/common/Logging/enuminfo_LogCommon.cpp
  src/common/Utilities/SmartEnum.h
  src/server/game/AI/CreatureAI.h
  src/server/game/AI/enuminfo_CreatureAI.cpp
  src/server/game/Entities/Creature/enuminfo_CreatureData.cpp
  src/server/game/Entities/Unit/enuminfo_Unit.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#17221 chore(Scripts/DK): Move CheckCast to spell_dk_raise_ally script
  src/server/game/Spells/Spell.cpp
  src/server/scripts/Spells/spell_dk.cpp
Labels: CORE, Script, file-cpp

#17217 fix(db/creature): Modernize and follow-up on PR #9912 #9943 #10052 #10282 #10285 #12702 #12751 #12765 #12854
  data/sql/updates/pending_db_world/rev_1694148121469432000.sql
Labels: DB, To Be Merged

#17261 fix(DB/Creature): Netherspite is immune to taunts
  data/sql/updates/pending_db_world/rev_1694778808871595100.sql
Labels: DB, To Be Merged

#17269 fix(Scripts/Karazhan): remove redundant spellcasting check on Netherspite to ensure he moves back to phase 1
  src/server/scripts/EasternKingdoms/Karazhan/boss_netherspite.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#17234 fix(DB/Karazhan): fix Curator's patrol movement using sniffs
  data/sql/updates/pending_db_world/curator.sql
Labels: DB, To Be Merged

#17249 fix(Core/Scripts): Magtheridon Debris
  data/sql/updates/pending_db_world/rev_1694652704784938400.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/Outland/HellfireCitadel/MagtheridonsLair/boss_magtheridon.cpp
  src/server/scripts/Outland/HellfireCitadel/MagtheridonsLair/instance_magtheridons_lair.cpp
  src/server/scripts/Outland/HellfireCitadel/MagtheridonsLair/magtheridons_lair.h
Labels: DB, CORE, Waiting to be Tested, Script, file-cpp

#17081 refactor(Scripts/SSC): Hydross the Unstable boss script updated
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_hydross_the_unstable.cpp
Labels: CORE, Waiting to be Tested, Script, file-cpp

#17255 fix(DB/Creature): The Big Bad Wolf should be Taunt immune
  data/sql/updates/pending_db_world/rev_1694739263824086500.sql
Labels: DB, To Be Merged

#16880 fix(Scripts/BWL): Orb of Domination can no longer be used when you are controlling a pet
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_razorgore.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#17256 fix(DB/Creature): Ravenous Flayer Matriarch
  data/sql/updates/pending_db_world/rev_1694740225097878900.sql
Labels: DB, To Be Merged

#17062 fix(Scripts/Darkshore): ensure Kerlonian Evershade is always in bear form
  data/sql/updates/pending_db_world/remove-aura-from-kerlonian.sql
  src/server/scripts/Kalimdor/zone_darkshore.cpp
Labels: DB, CORE, Waiting to be Tested, Script, file-cpp

#17275 fix(Core/TaskScheduler): warning
  src/common/Utilities/TaskScheduler.h
Labels: CORE, Ready to be Reviewed, file-cpp

#17283 fix(Core/GameObject): Also send EventInform() calls for GAMEOBJECT_TY…
  src/server/game/Entities/GameObject/GameObject.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#17274 chore(misc): cleanup
  src/cmake/macros/FindOpenSSL.cmake
  src/common/Collision/Maps/MapDefines.h
  src/common/GitRevision.cpp
  src/common/GitRevision.h
  src/common/Utilities/EnumFlag.h
  src/common/Utilities/TaskScheduler.cpp
  src/common/Utilities/TaskScheduler.h
  src/server/game/Battlegrounds/BattlegroundScore.h
  src/server/game/Miscellaneous/Language.h
  src/server/game/Movement/Spline/MoveSpline.h
  src/server/game/Movement/Spline/MoveSplineFlag.h
  src/server/game/Movement/Spline/MoveSplineInit.h
  src/server/game/Movement/Spline/MoveSplineInitArgs.h
  src/server/game/Movement/Spline/MovementPacketBuilder.h
  src/server/game/Movement/Spline/MovementTypedefs.h
  src/server/game/Movement/Spline/Spline.h
  src/server/scripts/Kalimdor/ZulFarrak/zulfarrak.cpp
  src/server/scripts/Outland/CoilfangReservoir/underbog/instance_the_underbog.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17272 chore(Worldserver/Config): Clean up and reorganize config file
  src/server/apps/worldserver/worldserver.conf.dist
Labels: CORE, Ready to be Reviewed

#17257 fix(DB/SAI): Rework Sethekk Halls SAI
  data/sql/updates/pending_db_world/rev_1694744446848459200.sql
Labels: DB, To Be Merged

#17270 fix (Scripts/Karazhan) Curator fixes
  data/sql/updates/pending_db_world/rev_1694861198470600600.sql
  src/server/scripts/EasternKingdoms/Karazhan/boss_curator.cpp
Labels: DB, CORE, Script, file-cpp

#17284 feat(Core/Instance): Add TaskScheduler to the InstanceScript class
  src/server/game/Instances/InstanceScript.cpp
  src/server/game/Instances/InstanceScript.h
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/instance_ruins_of_ahnqiraj.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/instance_temple_of_ahnqiraj.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17282 fix(Scripts/Karazhan): Shade of Aran now no longer casts spells whilst he should be drinking
  src/server/scripts/EasternKingdoms/Karazhan/boss_shade_of_aran.cpp
Labels: CORE, Script, file-cpp

#17273 chore(misc): Mordenize maths
  src/common/Common.h
  src/server/game/Server/WorldSocket.cpp
Labels: CORE, Ready to be Reviewed, run-build, file-cpp

#16508 enforceDBCAttributes set to false bypass code block
  src/server/game/Globals/ObjectMgr.cpp
Labels: CORE, Waiting to be Tested, file-cpp

#16597 fix(Scrpits/Quest): Improve Recharging the Batteries
  data/sql/updates/pending_db_world/rev_1687359733617622800.sql
  src/server/scripts/Outland/zone_netherstorm.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp

#16671 fix(DB/GameEventCreature): Removed duplicated fire festival Flame Wardens
  data/sql/updates/pending_db_world/rev_1688549401806530816.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed

#17290 fix(Scripts/Karazhan): Fix Enfeeble hitting more than 5 targets
  data/sql/updates/pending_db_world/rev_1694976478402282600.sql
  src/server/scripts/EasternKingdoms/Karazhan/boss_prince_malchezaar.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#16825 fix(Core/Position): Normalize Position.GetRelativeAngle
  src/server/game/Entities/Object/Position.h
Labels: CORE, Waiting to be Tested, file-cpp

#16974 Move Fairbanks gossip to the database
  data/sql/updates/pending_db_world/rev_1691673730300871200.sql
  src/server/scripts/EasternKingdoms/ScarletMonastery/instance_scarlet_monastery.cpp
Labels: DB, CORE, Waiting to be Tested, Script, file-cpp

#17285 chore(CI): Hello Github Bot and Update actions version
  .github/workflows/build_dbimport.yml
  .github/workflows/check_pending_sql.yml
  .github/workflows/codestyle.yml
  .github/workflows/core_build.yml
  .github/workflows/core_matrix_build.yml
  .github/workflows/core_modules_build.yml
  .github/workflows/cpp-check.yml
  .github/workflows/docker_build.yml
  .github/workflows/import_pending.yml
  .github/workflows/macos_build.yml
  .github/workflows/pr_labeler.yml
  .github/workflows/tools_build.yml
  .github/workflows/windows_build.yml
Labels: Workflow

#16258 add(DB/Quest) "Know Thine Enemy" - Missing RP event
  data/sql/updates/pending_db_world/62896.sql
Labels: DB, Waiting to be Tested, To Be Merged, Ready to be Reviewed

#16607 Added emoticons and dialogue events to Warlock Quest NPC Godrick Farsan (ID 5693).
  data/sql/updates/pending_db_world/rev_1687513981074967100.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#17286 fix(Scripts/MagistersTerrace): Script Kalecgos' appearance after usin…
  data/sql/updates/pending_db_world/rev_1694958987022484200.sql
  src/server/scripts/EasternKingdoms/MagistersTerrace/instance_magisters_terrace.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/magisters_terrace.h
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17292 fix(DB/SAI): Worldserver Error in Dalaran
  data/sql/updates/pending_db_world/rev_1694983857958013500.sql
Labels: DB, To Be Merged

#17297 fix(Scripts/Karazhan): Fix Terestrian Illhoof not summoning any imps
  data/sql/updates/pending_db_world/rev_1695008245587651800.sql
  src/server/scripts/EasternKingdoms/Karazhan/boss_terestian_illhoof.cpp
  src/server/scripts/EasternKingdoms/Karazhan/instance_karazhan.cpp
  src/server/scripts/EasternKingdoms/Karazhan/karazhan.h
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17296 fix(Scripts/Karazhan): Fix Aran's chase distance and Blink conditions
  data/sql/updates/pending_db_world/rev_1695004374973517300.sql
  src/server/scripts/EasternKingdoms/Karazhan/boss_shade_of_aran.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17303 chore(CI): revert previous changes to import_pending.yml
  .github/workflows/import_pending.yml
Labels: Workflow, To Be Merged

#17304 fix(Scripts/Karazhan): fix visual of infernals on Malchezaar
  src/server/scripts/EasternKingdoms/Karazhan/boss_prince_malchezaar.cpp
Labels: CORE, Script, file-cpp

#17309 fix(DB/Karazhan): make infernal helper targets in Kara invisible to players
  data/sql/updates/pending_db_world/make-infernals-invisible.sql
Labels: DB

#17310 fix(Scripts/Karazhan): Regen Curator mana on reset
  src/server/scripts/EasternKingdoms/Karazhan/boss_curator.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17307 fix(Scripts/Karazhan): Fix fear immunity for Strawman
  data/sql/updates/pending_db_world/rev_1695111326975856300.sql
  src/server/scripts/EasternKingdoms/Karazhan/bosses_opera.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#17312 fix(Scripts/Karazhan): Move Aran's elemental AI to SAI
  data/sql/updates/pending_db_world/rev_1695168508123583100.sql
  src/server/scripts/EasternKingdoms/Karazhan/boss_shade_of_aran.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17311 fix(Scripts/Karazhan): Delay chain spawning so it spawns on proper place
  src/server/scripts/EasternKingdoms/Karazhan/boss_terestian_illhoof.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#16590 Core: Addition of a Hook in CanFlyInZone check
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Scripting/ScriptDefines/PlayerScript.cpp
  src/server/game/Scripting/ScriptMgr.h
  src/server/game/Spells/SpellInfo.cpp
  src/server/game/Spells/SpellInfo.h
Labels: CORE, Waiting to be Tested, To Be Merged, Ready to be Reviewed, file-cpp

#16710 fix(DB/questpoi): 7321 - Soothing Turtle Bisque - correct POI for Horde
  data/sql/updates/pending_db_world/db7321fix_poi.sql
Labels: DB, To Be Merged, Needs Feedback, Needs sniff

#16711 fix(DB/quest): 6392 - Return to Brock - incorrect completion text
  data/sql/updates/pending_db_world/questfix6392.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Needs sniff

#16887 fx(DB/Quest): The Stories Dead Men Tell Quest Fix
  data/sql/updates/pending_db_world/questfix.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#16891 fix(DB/Quest): Return To Obadei
  data/sql/updates/pending_db_world/ReturnToObadei.sql
Labels: DB, Waiting to be Tested, To Be Merged, Ready to be Reviewed

#16985 fix(DB/SAI) Add spore burst with 15% trigger chance
  data/sql/updates/pending_db_world/rev_1691842029005931700.sql
Labels: DB, To Be Merged

#17042 Added smatAI to creatures for Warlock Pet Summoning Quests
  data/sql/updates/pending_db_world/rev_1692493990178861500.sql
Labels: DB, Waiting to be Tested, To Be Merged

#17064 fix(Core/Unit): Added bluewall AoE check
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#16452 fix (DB/Item) Import stats of S1 and S2 Waist/Wrist/Feet from wowhead/wotlk
  data/sql/updates/pending_db_world/rev_1685745892775868100.sql
Labels: DB, Ready to be Reviewed

#17114 refactor(Core): Source config more aggressively from env, rephrase a few of the messages
  src/common/Configuration/Config.cpp
  src/server/apps/authserver/Main.cpp
  src/server/apps/worldserver/Main.cpp
Labels: CORE, file-cpp

#17240 fix: cppcheck failure step
  .github/workflows/cpp-check.yml
  .suppress.cppcheck
  src/server/apps/authserver/Server/AuthSession.h
  src/server/game/Server/Packets/MiscPackets.h
Labels: Workflow, CORE, file-cpp

#17263 fix(Core): Implement ACHIEVEMENT_FLAG_AVERAGE
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/game/Achievements/AchievementMgr.cpp
  src/server/game/Achievements/AchievementMgr.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerStorage.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#17319 fix(Core): Implement ACHIEVEMENT_CRITERIA_TYPE_ROLL_DISENCHANT
  src/server/game/Achievements/AchievementMgr.cpp
  src/server/game/Handlers/GroupHandler.cpp
  src/server/shared/DataStores/DBCEnums.h
Labels: CORE, file-cpp

#17264 fix(Scripts/Karazhan): Aran now evades when pulled out of the room
  src/server/scripts/EasternKingdoms/Karazhan/boss_shade_of_aran.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#17316 fix(Core): Implement ACHIEVEMENT_CRITERIA_TYPE_COMPLETE_RAID
  src/server/game/Achievements/AchievementMgr.cpp
  src/server/game/Instances/InstanceSaveMgr.cpp
Labels: CORE, file-cpp

#17315 fix (Script/Karazhan) Voidzones should only happen in Portal Phase
  src/server/scripts/EasternKingdoms/Karazhan/boss_netherspite.cpp
Labels: CORE, Script, file-cpp

#17320 fix(Core/Unit): Fix CanSwim method not accurate for players
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, file-cpp

#17328 fix(CI): windows build
  .github/workflows/windows_build.yml
Labels: Workflow, run-build

#17324 refactor(Scripts/Midsummer): Remove old unused code for spell 45644
  src/server/scripts/Events/midsummer.cpp
Labels: CORE, Script, file-cpp

#17301 fix(DB/Quests): adding AllowableRaces flags for Quests 'The Mark of the Lightbringer' and 'Tomb of the Lightbringer'
  data/sql/updates/pending_db_world/lightbringer-quest-allowableraces.sql
Labels: DB, To Be Merged

#17331 feat(Scripts/Commands): Display creature entry when using the npc nea…
  data/sql/updates/pending_db_world/rev_1695556771332912400.sql
  src/server/scripts/Commands/cs_npc.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17314 fix (Scripts/Karazhan) Sync Enfeeble and Shadow Nova
  src/server/scripts/EasternKingdoms/Karazhan/boss_prince_malchezaar.cpp
Labels: CORE, Script, file-cpp

#17333 fix(Scripts/Quest): improve Catch the Wild Wolpertinger!
  data/sql/updates/pending_db_world/rev_1695559726583951400.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/Events/brewfest.cpp
Labels: DB, CORE, Script, file-cpp

#17323 fix(Scripts/Midsummer): Add missing torch shadows
  src/server/scripts/Events/midsummer.cpp
Labels: CORE, Script, file-cpp

#16275 fix(DB/GameObject): fix Malchezaar door being selectable
  data/sql/updates/pending_db_world/make_malchezaar_door_not_interactable.sql
Labels: DB, To Be Merged

#17351 fix(Scripts/Commands): Fix list creature string output
  src/server/scripts/Commands/cs_list.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#17348 fix(Scripts/Spells): Fix Healing & Mana injectors not giving bonus to…
  data/sql/updates/pending_db_world/rev_1695609935652952000.sql
  src/server/game/Spells/SpellEffects.cpp
  src/server/scripts/Spells/spell_item.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#17347 refactor(Scripts/GruulsLair): Clean up instance script
  src/server/scripts/Outland/GruulsLair/instance_gruuls_lair.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#17346 refactor(Scripts/MagistersTerrace): Clean up instance script
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_felblood_kaelthas.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_priestess_delrissa.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_selin_fireheart.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_vexallus.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/instance_magisters_terrace.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/magisters_terrace.h
Labels: CORE, To Be Merged, Script, file-cpp

#17349 fix(Scripts/Karazhan): Make Chess door non interactable
  data/sql/updates/pending_db_world/rev_1695611850243926000.sql
  src/server/scripts/EasternKingdoms/Karazhan/instance_karazhan.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#17329 fix(Scripts/Karazhan): Fix Shade of Aran Blizzard and use proper spel…
  data/sql/updates/pending_db_world/rev_1695546719351253200.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/EasternKingdoms/Karazhan/boss_shade_of_aran.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#17335 fix(DB/Text): Add missing Netherspite text emotes
  data/sql/updates/pending_db_world/rev_1695579044772631700.sql
  src/server/scripts/EasternKingdoms/Karazhan/boss_netherspite.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#17341 fix(Scripts/SlavePens): Correct target selector for Quagmirran Acid Spray
  data/sql/updates/pending_db_world/rev_1695589175269497100.sql
  src/server/scripts/Outland/CoilfangReservoir/SlavePens/boss_quagmirran.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17336 fix(DB/Conditions): Fix Berthold teleport gossip conditions
  data/sql/updates/pending_db_world/rev_1695581559864061500.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#17337 fix(Scripts/SethekkHalls): Fix Anzu not leaving banish phase when all…
  src/server/scripts/Outland/Auchindoun/SethekkHalls/boss_anzu.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17343 fix(Scripts/Spells): Druid Dash require Cat Form
  src/server/scripts/Spells/spell_druid.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17342 fix(Scripts/Spells): Fix Glyph of Voidwalker applying to every pet
  data/sql/updates/pending_db_world/rev_1695598231920750800.sql
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Entities/Pet/PetDefines.h
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/Spells/spell_warlock.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#17344 fix(Scripts/Ulduar): Respawn Algalon on wipes
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_algalon_the_observer.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/instance_ulduar.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17339 fix(Core/Spells): Correct swapped TARGET_UNIT_NEARBY_ALLY and TARGET_…
  src/server/game/Spells/SpellInfo.cpp
  src/server/shared/SharedDefines.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#17354 (DB/Fix): Argent Dawn shoulder enchant quest fixes
  data/sql/updates/pending_db_world/rev_1695612785136315613.sql
Labels: DB

#17357 fix(Player/Achievement): fix crash
  src/server/game/Instances/InstanceSaveMgr.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Priority-Critical, file-cpp

#17345 fix(Scripts/Spells): Fix Furious Howl not giving ranged attack power …
  data/sql/updates/pending_db_world/rev_1695604876617457700.sql
  src/server/scripts/Spells/spell_hunter.cpp
Labels: DB, WIP, CORE, Script, file-cpp

#17362 fix (Script/Karazhan) Netherspite resets threat after portal phase
  src/server/scripts/EasternKingdoms/Karazhan/boss_netherspite.cpp
Labels: CORE, Script, file-cpp

#17359 fix(Scripts/Karazhan): Fix Aran combat movement behavior
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/scripts/EasternKingdoms/Karazhan/boss_shade_of_aran.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17363 fix(DB/Karazhan): make Malchezaar interrupt immune
  data/sql/updates/pending_db_world/malchezaar-interrupt-immune.sql
Labels: DB

#17358 fix(Scripts/Midsummer): Make beam target Ribbon Pole top
  data/sql/updates/pending_db_world/rev_1695647577303392800.sql
  src/server/scripts/Events/midsummer.cpp
Labels: DB, CORE, Script, file-cpp

#17083 refactor(Scripts/SSC): Lady Vashj boss script updated
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_lady_vashj.cpp
Labels: CORE, Waiting to be Tested, Script, file-cpp

#17365 chore: fix sql
  data/sql/updates/db_world/2023_09_26_02.sql
Labels: DB

#17079 refactor(Scripts/SSC): Fathomlord Karathress boss script updated
  data/sql/updates/pending_db_world/fathomguards.sql
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_fathomlord_karathress.cpp
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/instance_serpent_shrine.cpp
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/serpent_shrine.h
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp

#17190 fix(DB/reference_loot_template): Corrected Shadow Labyrinth gem drops
  data/sql/updates/pending_db_world/SL_gem_loot_fix.sql
Labels: DB

#17373 fix(Scripts/SSC): Morogrim Tidewalker now summons the water globules again
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_morogrim_tidewalker.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#17372 fix(Core/Quest): AllowableRaces to uint32 for custom Racemasks
  data/sql/updates/pending_db_world/uint32_quest_template.sql
  src/server/game/Quests/QuestDef.cpp
Labels: DB, CORE, To Be Merged, file-cpp

#17375 fix(Scripts/Karazhan): allow Aran to cast pyroblast also when interrupted
  src/server/scripts/EasternKingdoms/Karazhan/boss_shade_of_aran.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#17376 fix(Scripts/Karazhan): Update Aran script to use boss states
  src/server/scripts/EasternKingdoms/Karazhan/boss_shade_of_aran.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#17377 fix(Scripts/Karazhan): Clear Netherspite portal targets on transition
  src/server/scripts/EasternKingdoms/Karazhan/boss_netherspite.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#17364 fix(Scripts/Magtheridon): make the timers of Quake and Blast Nova independent from each other
  src/server/scripts/Outland/HellfireCitadel/MagtheridonsLair/boss_magtheridon.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#15919 Implement visibility notifier
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/Battlegrounds/Zones/BattlegroundAB.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Object/ObjectDefines.h
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerUpdates.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Grids/Grid.h
  src/server/game/Grids/GridStates.cpp
  src/server/game/Grids/GridStates.h
  src/server/game/Grids/NGrid.cpp
  src/server/game/Grids/NGrid.h
  src/server/game/Grids/Notifiers/GridNotifiers.cpp
  src/server/game/Grids/Notifiers/GridNotifiers.h
  src/server/game/Grids/Notifiers/GridNotifiersImpl.h
  src/server/game/Grids/ObjectGridLoader.cpp
  src/server/game/Grids/ObjectGridLoader.h
  src/server/game/Instances/InstanceSaveMgr.cpp
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
  src/server/game/Maps/MapInstanced.cpp
  src/server/game/Maps/MapInstanced.h
  src/server/game/Maps/MapMgr.cpp
  src/server/game/Maps/MapMgr.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/scripts/Events/midsummer.cpp
  src/server/scripts/Outland/TempestKeep/Eye/boss_alar.cpp
Labels: CORE, Waiting to be Tested, Script, file-cpp

#17374 feat(Core/Scripting): Implement `OnGameObjectModifyHealth()` hook
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Scripting/ScriptDefines/GameObjectScript.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, file-cpp

#17379 refactor(Scripts/Midsummer): Assign enum values to gameobjects and sp…
  src/server/scripts/Events/midsummer.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#17385 fix(DB/Conditions): Archmage Leryda ring retrieve gossip should requi…
  data/sql/updates/pending_db_world/rev_1695958565247447300.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#17390 refactor(Scripts/Midsummer): Add/Update Validate() for spell checks
  src/server/scripts/Events/midsummer.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#17392 fix(Scripts/Karazhan): Restore Netherspite DestroyPortals() function
  src/server/scripts/EasternKingdoms/Karazhan/boss_netherspite.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#17393 fix(Scripts/Spells): Fix Dash applying bonuses in other forms (restor…
  src/server/scripts/Spells/spell_druid.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, Instance - Dungeon - Outland, file-cpp
