Repository azerothcore/azerothcore-wotlk, pull requests merged in 2024-07, with the labels that each got.

#19243 fix(Script/Commands): output lookup quest and npc near
  data/sql/updates/pending_db_world/rev_1719791096484121500.sql
  src/server/game/Miscellaneous/Language.h
  src/server/scripts/Commands/cs_lookup.cpp
  src/server/scripts/Commands/cs_npc.cpp
Labels: DB, CORE, Script, file-cpp

#19250 fix(DB/SAI): Xeleth
  data/sql/updates/pending_db_world/rev_1719843096503724800.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19241 refactor(Scripts/EasternKingdoms)SpellScripts
  src/server/scripts/EasternKingdoms/zone_blasted_lands.cpp
  src/server/scripts/EasternKingdoms/zone_isle_of_queldanas.cpp
  src/server/scripts/EasternKingdoms/zone_undercity.cpp
Labels: Script, file-cpp

#19255 chore(Core/Misc): #include cleanup
  src/server/apps/authserver/Server/AuthSocketMgr.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Server/WorldSocket.cpp
  src/server/scripts/Commands/cs_lookup.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/molten_core.cpp
  src/server/scripts/EasternKingdoms/Karazhan/boss_nightbane.cpp
  src/server/scripts/EasternKingdoms/Karazhan/karazhan.cpp
  src/server/scripts/EasternKingdoms/ShadowfangKeep/boss_apothecary_hummel.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjal.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/the_black_morass.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/ruins_of_ahnqiraj.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/temple_of_ahnqiraj.cpp
  src/server/scripts/Kalimdor/ZulFarrak/instance_zulfarrak.cpp
  src/server/scripts/Northrend/FrozenHalls/ForgeOfSouls/forge_of_souls.cpp
  src/server/scripts/Northrend/FrozenHalls/HallsOfReflection/halls_of_reflection.cpp
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/pit_of_saron.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_icecrown_gunship_battle.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_valithria_dreamwalker.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
  src/server/scripts/Northrend/Naxxramas/boss_maexxna.cpp
  src/server/scripts/Northrend/Nexus/Oculus/oculus.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/ulduar.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/utgarde_keep.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardePinnacle/utgarde_pinnacle.cpp
  src/server/scripts/Northrend/VioletHold/violet_hold.cpp
  src/server/scripts/Northrend/zone_dalaran.cpp
  src/server/scripts/Northrend/zone_dragonblight.cpp
  src/server/scripts/OutdoorPvP/OutdoorPvPNA.cpp
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/instance_serpent_shrine.cpp
  src/server/scripts/Outland/CoilfangReservoir/SlavePens/boss_ahune.cpp
  src/server/scripts/Outland/TempestKeep/Eye/boss_alar.cpp
  src/server/scripts/Outland/TempestKeep/arcatraz/arcatraz.cpp
  src/server/shared/Network/NetworkThread.h
  src/server/shared/Network/Socket.h
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#19251 fix(DB/Creature): Correct movement speed of Hyjal bosses.
  data/sql/updates/pending_db_world/hyjal-boss-speeds.sql
Labels: DB, Ready to be Reviewed

#19257 Revert "Add (core\db): Support for Homebind Orientation (#13389)"
  data/sql/updates/pending_db_character/rev_1719945200692175000.sql
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/game/DungeonFinding/LFGScripts.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerStorage.cpp
  src/server/game/Entities/Player/PlayerUpdates.cpp
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Handlers/MiscHandler.cpp
  src/server/game/Handlers/MovementHandler.cpp
  src/server/game/Maps/Map.cpp
  src/server/game/Spells/Spell.cpp
  src/server/scripts/Commands/cs_misc.cpp
  src/server/scripts/Commands/cs_tele.cpp
  src/server/scripts/Northrend/VaultOfArchavon/instance_vault_of_archavon.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp

#19259 refactor(Core/ObjectMgr): Handle Profanity & Reserved Names in load
  src/server/game/Battlegrounds/ArenaTeam.cpp
  src/server/game/Entities/Player/PlayerStorage.cpp
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Guilds/Guild.cpp
  src/server/game/Handlers/PetHandler.cpp
  src/server/game/Handlers/PetitionsHandler.cpp
  src/server/game/World/World.cpp
  src/server/scripts/Commands/cs_character.cpp
  src/server/scripts/Commands/cs_guild.cpp
  src/server/scripts/Commands/cs_reload.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#19252 fix(Core/Scripting): fix OnBeforeCreateInstanceScript hook
  src/server/game/Maps/Map.cpp
  src/server/game/Scripting/ScriptDefines/AllMapScript.cpp
  src/server/game/Scripting/ScriptDefines/AllMapScript.h
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, Ready to be Reviewed, file-cpp

#18808 Check to see if other members in your arena team are queued or in a r…
  src/server/game/Groups/Group.cpp
Labels: CORE, Waiting to be Tested, file-cpp

#19213 fix(Scripts/TheEye): Kael'thas adjustments.
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#19271 fix(Core/Quest): typo in RewardQuest makes LFG quests not reward if dead
  src/server/game/Entities/Player/PlayerQuest.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#19273 fix(DB/Gameobject): Move Karazhan chess chest.
  data/sql/updates/pending_db_world/kara-chest-pos.sql
Labels: DB, Ready to be Reviewed

#19264 fix(Scripts/TK): Kael'thas mind control should reset threat
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#19277 fix(Core/Pet): prevent LoadPetFromDB to trigger a fake summon spell cast in most cases
  src/server/game/Entities/Pet/Pet.cpp
Labels: CORE, file-cpp

#19275 feat(Core/SAI): implement new removeObjectFromWorld param for SMART_A…
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#19272 fix(Core/Loot): implement automatic pass in group loot for items that…
  src/server/game/Groups/Group.cpp
  src/server/game/Groups/Group.h
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#19274 fix(Core/Spells): Shapeshift should show in Old Hillsbrad Foothills a…
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19262 chore(Core/DBC): define unused unknown dbc fields
  src/server/game/DataStores/DBCStores.cpp
  src/server/game/DataStores/DBCStores.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellInfo.cpp
  src/server/shared/DataStores/DBCStructure.h
  src/server/shared/DataStores/DBCfmt.h
Labels: CORE, Ready to be Reviewed, file-cpp

#19236 chore(Core/Conf): Show better logging when fatal config options are m…
  src/common/Configuration/Config.cpp
  src/server/database/Database/DatabaseLoader.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19244 refactor(Script/Dalaran): Minigob Manabonk
  src/server/scripts/Northrend/zone_dalaran.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#19237 fix(Core/Character): TeleportTo() in HandlePlayerLoginFromDB() causes…
  src/server/game/Handlers/CharacterHandler.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19254 fix(Core/Spell): Implement SPELL_ATTR1_AURA_STAYS_AFTER_COMBAT
  src/common/Logging/enuminfo_LogCommon.cpp
  src/server/game/Entities/Item/enuminfo_Item.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/enuminfo_Unit.cpp
  src/server/game/Quests/enuminfo_QuestDef.cpp
  src/server/game/Warden/enuminfo_WardenCheckMgr.cpp
  src/server/shared/SharedDefines.h
  src/server/shared/enuminfo_SharedDefines.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19193 fix(Scripts/HyjalSummit): Couple Archimonde adjustments.
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_archimonde.cpp
Labels: Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#19276 fix(DB/RazorfenDowns): set Idol Room Spawner no longer visible
  data/sql/updates/pending_db_world/rev_1720109494288604410.sql
Labels: DB

#19278 chore(Core/Spells): Fix compile warning
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: To Be Merged, Ready to be Reviewed

#19183 fix(Scripts/Naxxramas): Razuvious' Death Knight Understudy RP
  data/sql/updates/pending_db_world/rev_1715986644313348181.sql
  src/server/scripts/Northrend/Naxxramas/boss_razuvious.cpp
  src/server/scripts/Northrend/Naxxramas/instance_naxxramas.cpp
  src/server/scripts/Northrend/Naxxramas/naxxramas.h
Labels: DB, Script, file-cpp

#18852 fix(db/sai) Added healing options for the Silver Dawn Healer in the Eastern Plaguelands
  data/sql/updates/pending_db_world/rev_1714139994033487600.sql
Labels: DB

#19010 refactor(Scripts/ZulAman): Nalorakk refactored
  data/sql/updates/pending_db_world/waypoints.sql
  src/server/scripts/EasternKingdoms/ZulAman/boss_nalorakk.cpp
  src/server/scripts/EasternKingdoms/ZulAman/instance_zulaman.cpp
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.h
Labels: DB, CORE, Script, file-cpp

#19233 fix(Scripts/Shattrath): Daily Dungeon quests holograms
  data/sql/updates/pending_db_world/rev_1719691851180437100.sql
  src/server/scripts/Outland/zone_shattrath_city.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp

#18867 fix(Core/Pets): Correct Pet size for bigger pets 2
  src/server/game/Entities/Pet/Pet.cpp
Labels: CORE, Testing in Progress, file-cpp

#19280 fix(DB/Spells): Allow Sablemane's Sleeping Powder to bypass stun immu…
  data/sql/updates/pending_db_world/rev_1720131063062734900.sql
Labels: To Be Merged, Ready to be Reviewed

#19281 fix(Scripts/Item): Fix Fel Mana Potion not benefiting from Alchemist'…
  data/sql/updates/pending_db_world/rev_1720136214539685800.sql
  src/server/scripts/Spells/spell_item.cpp
Labels: DB, To Be Merged, Script, file-cpp

#19267 fix(Core/Handlers): Adjust start swing handler.
  src/server/game/Handlers/CombatHandler.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#19282 fix(DB/character)Migrate SQL files to the correct folder
  data/sql/updates/pending_db_characters/rev_1719945200692175000.sql
Labels: DB

#19286 fix(Core/Misc): unused param
  src/server/scripts/Spells/spell_item.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#19287 fix(Core/Unit): Invalidate update object cache when changing health in the same world update tick.
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
Labels: CORE, Ready to be Reviewed, file-cpp

#19290 fix(DB/Creature): Rewrite Voidshrieker AI
  data/sql/updates/pending_db_world/rev_1720211249204769700.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19297 chore(Scripts/Commands): QOL server debug
  src/server/game/Conditions/ConditionMgr.cpp
  src/server/game/Time/UpdateTime.cpp
  src/server/scripts/Commands/cs_reload.cpp
  src/server/scripts/Commands/cs_server.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#19299 chore(DB/Loot): Remove Metzen's Letters and Notes from creature loot tables
  data/sql/updates/pending_db_world/rev_1720224478854376400.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19298 fix(DB/Creature): Add AI to Affray Challenger
  data/sql/updates/pending_db_world/rev_1720223739574037500.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19291 fix(DB/Condition): Fix condition type for restoring Scale of the Sands exalted ring
  data/sql/updates/pending_db_world/rev_1720214274816211200.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19288 fix(Scripts/BlackTemple): Move Teron Gorefiend to scheduler and add Berserk
  src/server/scripts/Outland/BlackTemple/boss_teron_gorefiend.cpp
Labels: To Be Merged, Ready to be Reviewed, Instance - Raid - Outland, Script, 70, file-cpp

#19300 fix(DB/Creature): Skyguard Prisoner shoul spawn with ReactState Passive
  data/sql/updates/pending_db_world/rev_1720225685784761500.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19301 fix(DB/Quests): Marks of Kil'Jaeden and Firewing Signets quests should be available at Neutral 0
  data/sql/updates/pending_db_world/rev_1720226619555284700.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19309 fix(Scripts/ShadeOfAran): Make immune to Mind-numbing and Cure of Tongue
  src/server/scripts/EasternKingdoms/Karazhan/boss_shade_of_aran.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#19308 fix(DB/Creature): Verog the Dervish ReactState
  data/sql/updates/pending_db_world/rev_1720233129521675900.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19307 fix(DB/Creature): Prevent Hellfire Peninsula's Pit Commander from cancelling Timed Event
  data/sql/updates/pending_db_world/rev_1720232245698455400.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19296 feat(Core/SAI): SetData now has invoker
  src/server/game/AI/CoreAI/UnitAI.h
  src/server/game/AI/ScriptedAI/ScriptedCreature.h
  src/server/game/AI/SmartScripts/SmartAI.cpp
  src/server/game/AI/SmartScripts/SmartAI.h
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScript.h
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
Labels: CORE, file-cpp, Requires WIKI Update, Tested

#19318 fix(DB/SAI): Zeppit's RP for collecting blood
  data/sql/updates/pending_db_world/rev_1720259679409109500.sql
Labels: DB, Ready to be Reviewed

#19302 fix(Core/Player): Vertical Message distance
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/GameObject/GameObject.h
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Grids/Notifiers/GridNotifiers.cpp
  src/server/game/Grids/Notifiers/GridNotifiers.h
  src/server/game/Time/UpdateTime.cpp
Labels: CORE, Waiting to be Tested, file-cpp

#19316 fix(DB/TheBlackTemple): make Promenade Sentinel kick immune
  data/sql/updates/pending_db_world/promenade-kick-immune.sql
Labels: DB

#19315 fix(DB/TheBlackTemple): Ashtongue Feral Spirit detection range
  data/sql/updates/pending_db_world/detect.sql
Labels: DB

#19310 fix(DB/Quest): Spirits of the Feralfen
  data/sql/updates/pending_db_world/rev_1720238285754402600.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19305 feat(Core/Chat): Provide a fully-formed protocol for addons to intera…
  src/server/game/Chat/Chat.cpp
  src/server/game/Chat/Chat.h
  src/server/game/Handlers/ChatHandler.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19317 fix(Scripts/HyjalSummit): Add damage over time component to Doomfire debuff.
  data/sql/updates/pending_db_world/doomfire-dot.sql
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_archimonde.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp

#19303 fix(DB/Gossip): Allow Estelle Gendry to give players Thieves' Tools
  data/sql/updates/pending_db_world/rev_1720229222612824600.sql
Labels: DB, To Be Merged

#19306 fix(DB/Item): Increase ppm of Netherstrand Longbow
  data/sql/updates/pending_db_world/rev_1720231700188069900.sql
Labels: DB, To Be Merged

#19335 fix(Scripts/HyjalSummit): Rage Winterchill Spells
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_rage_winterchill.cpp
Labels: To Be Merged, Ready to be Reviewed, Instance - Raid - Outland, Script, 70, file-cpp

#19331 fix(DB/Creature): Talon King Ikiss should be immune to interrupts
  data/sql/updates/pending_db_world/rev_1720367551396070400.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19304 fix(DB/Creature): Remove Bleed immunities from mechanical & undead creatures
  data/sql/updates/pending_db_world/rev_1720230463035941600.sql
Labels: DB, To Be Merged

#19326 fix(Core/Spells): Greater Fireball should ignore resistances
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19328 fix(DB/OnyxiasLair): Respawn Onyxian Warders.
  data/sql/updates/pending_db_world/onyxia-warders.sql
Labels: DB, Ready to be Reviewed

#19329 fix(DB/Karazhan): Respawn Skeletal Gryphons.
  data/sql/updates/pending_db_world/kara-gryphons.sql
Labels: DB, Ready to be Reviewed

#19320 fix(Build): -Wsign-compare
  src/server/scripts/EasternKingdoms/Karazhan/boss_shade_of_aran.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#19240 fix(CI): linux-build: add -Werror parameter
  .github/actions/linux-build/action.yml
  .github/workflows/core-build-nopch.yml
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/Calendar/CalendarMgr.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_archimonde.cpp
  src/server/scripts/Outland/zone_shattrath_city.cpp
  src/server/scripts/Spells/spell_generic.cpp
  src/server/shared/Network/Socket.h
Labels: Workflow, CORE, Script, file-cpp, CI/CD

#19347 fix(DB/Gameobject): Replace all The Eye gameobjects
  data/sql/updates/pending_db_world/rev_1720395872346487800.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19373 fix(DB/SAI): 'Threat from Above' giving double credit on kill
  data/sql/updates/pending_db_world/rev_1720533126868678600.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19356 fix(DB/Quest): Add ability to request missing quest item Manna-Enriched Horse Feed
  data/sql/updates/pending_db_world/rev_1720413117680804600.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19351 fix(DB/Gameobject): Add more locations for Glinting Mud
  data/sql/updates/pending_db_world/rev_1720407351886654900.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19338 fix(DB/Creature): Don't continue Crystalcore Sentinel RP script when combat starts
  data/sql/updates/pending_db_world/rev_1720372819954042700.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19355 fix(DB/Creature): Mo'grosh Shaman
  data/sql/updates/pending_db_world/rev_1720412580617188000.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19346 refactor(Scripts/Northrend): spell scripts registry macros
  data/sql/updates/pending_db_world/rev_1719837695782021791.sql
  src/server/scripts/Northrend/isle_of_conquest.cpp
  src/server/scripts/Northrend/zone_borean_tundra.cpp
  src/server/scripts/Northrend/zone_dragonblight.cpp
  src/server/scripts/Northrend/zone_grizzly_hills.cpp
  src/server/scripts/Northrend/zone_icecrown.cpp
  src/server/scripts/Northrend/zone_sholazar_basin.cpp
  src/server/scripts/Northrend/zone_storm_peaks.cpp
  src/server/scripts/Northrend/zone_wintergrasp.cpp
Labels: DB, Script, file-cpp

#19332 fix(DB/Creature): Attempt to avoid Timed Event overlap in Underbog Colossus
  data/sql/updates/pending_db_world/rev_1720367999640087800.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Instance - Raid - Outland, 70

#19334 fix(DB/Formations): Solarian static trash packs
  data/sql/updates/pending_db_world/rev_1720368973655043800.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19337 fix(DB/Creature): Add Blink to Netherstrand Longbow
  data/sql/updates/pending_db_world/rev_1720372030178282300.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19350 fix(DB/Creature): Damage Requirement for Infernal Attacker
  data/sql/updates/pending_db_world/rev_1720402396845233700.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19363 fix(DB/Quest): 'A Special Thank You' should require friendly rep
  data/sql/updates/pending_db_world/rev_1720451450348532100.sql
Labels: DB, To Be Merged

#19333 fix(DB/Creature): Shadowlord Deathwail's respawn time
  data/sql/updates/pending_db_world/rev_1720368758501918700.sql
Labels: DB, To Be Merged

#19354 fix(DB/Quest): Add SpecialFlags to Scale of Sands ring swap quests
  data/sql/updates/pending_db_world/rev_1720411446927878900.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19345 fix(Scripts/HyjalSummit): Correct Soul Charge color assignments.
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_archimonde.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#19336 fix(DB/Loot): Normalize Epic Gear Zone Drops in The Eye
  data/sql/updates/pending_db_world/rev_1720371062445685800.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19319 fix(Core/Pets): Correct Pet size for pets 3
  src/server/game/Entities/Pet/Pet.cpp
Labels: CORE, file-cpp

#19340 refactor(Scripts/Commands): remove unused imports
  src/server/scripts/Commands/PlayerCommand.h
  src/server/scripts/Commands/cs_achievement.cpp
  src/server/scripts/Commands/cs_debug.cpp
  src/server/scripts/Commands/cs_disable.cpp
  src/server/scripts/Commands/cs_event.cpp
  src/server/scripts/Commands/cs_gear.cpp
  src/server/scripts/Commands/cs_gobject.cpp
  src/server/scripts/Commands/cs_group.cpp
  src/server/scripts/Commands/cs_instance.cpp
  src/server/scripts/Commands/cs_lfg.cpp
  src/server/scripts/Commands/cs_list.cpp
  src/server/scripts/Commands/cs_lookup.cpp
  src/server/scripts/Commands/cs_misc.cpp
  src/server/scripts/Commands/cs_mmaps.cpp
  src/server/scripts/Commands/cs_modify.cpp
  src/server/scripts/Commands/cs_reset.cpp
  src/server/scripts/Commands/cs_server.cpp
  src/server/scripts/Commands/cs_spectator.cpp
  src/server/scripts/Commands/cs_wp.cpp
Labels: Ready to be Reviewed, Script, run-build, file-cpp

#19349 fix(DB/Creature): Tweak timers for Crystalcore Devastator
  data/sql/updates/pending_db_world/rev_1720401165519242700.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19364 fix(DB/Custom): Introspection aura(s) should be a debuff
  data/sql/updates/pending_db_world/rev_1720452811650880300.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19372 fix(Core/Totem): Totems shouldn't be immune to intervene.
  src/server/game/Entities/Totem/Totem.cpp
  src/server/game/Entities/Totem/Totem.h
Labels: CORE, Ready to be Reviewed, file-cpp

#19366 fix(DB/Creature): Sturdy Plate shouldn't be selectable.
  data/sql/updates/pending_db_world/rev_1720460884217798700.sql
Labels: DB, To Be Merged

#19378 refactor(Scripts/BlackTemple): Update Mother Sharahz script
  src/server/scripts/Outland/BlackTemple/boss_mother_shahraz.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#19348 fix(DB/Creature): Add pet spells to Tempest-Smith
  data/sql/updates/pending_db_world/rev_1720400328193554900.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19311 fix(Core/GameObject): Use correct spell at meeting stone
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Spells/SpellEffects.cpp
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19188 feat(Core/Unit): Implement munching as a configurable option.
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#19395 fix(DB/Creature): Adjust some values of Hyjal trash creatures.
  data/sql/updates/pending_db_world/hyjal-trash-adjustments.sql
Labels: DB

#19393 fix(Scripts/HyjalSummit): Adjust Azgalor's Rain of Fire timings.
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_azgalor.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#19394 fix(DB/Creature): Update Hyjal boss swing timers.
  data/sql/updates/pending_db_world/hyjal-swing-timers.sql
Labels: DB, To Be Merged

#19392 fix(DB/Item): add flag CU_DURATION_REAL_TIME to 21174 'Empty Festive …
  data/sql/updates/pending_db_world/rev_1720780836000850100.sql
Labels: DB, Ready to be Reviewed, World Event

#19386 fix(Scripts/Spells): warlock demonic pact
  data/sql/updates/pending_db_world/rev_1720633619992216684.sql
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/Spells/spell_warlock.cpp
Labels: DB, CORE, Script, file-cpp

#19385 fix(DB/Creature): Time-Lost Skettis High Priest & Talonpriests
  data/sql/updates/pending_db_world/rev_1720719550227839300.sql
Labels: DB, To Be Merged

#19365 fix(DB/Conditions): Spawn only 1 'Zelfrax'
  data/sql/updates/pending_db_world/rev_1720456456817446800.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19398 fix(Scripts/TK): KT Mindcontrol should respect Line of Sight
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#19391 fix(Core/Spells): BT - Summon Shadowfiens should spawn 11, instead of 1
  data/sql/updates/pending_db_world/rev_1720886969204406200.sql
  src/server/scripts/Outland/BlackTemple/black_temple.h
  src/server/scripts/Outland/BlackTemple/instance_black_temple.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp

#19400 fix(DB/Creature): Rewrite Skettis mini bosses
  data/sql/updates/pending_db_world/rev_1720906730828914400.sql
Labels: DB, To Be Merged, Ready to be Reviewed, 70

#19387 fix(Scripts/Midsummer): correctly despawn gameobjects
  data/sql/updates/pending_db_world/rev_1720553647517970800.sql
  src/server/scripts/Events/firework_show/firework_show.cpp
  src/server/scripts/Events/midsummer.cpp
Labels: DB, Ready to be Reviewed, World Event, Script, file-cpp

#19401 fix(Scripts/Netherstorm): Rewrite Phase Hunter AI
  data/sql/updates/pending_db_world/rev_1720928725467169800.sql
  src/server/scripts/Outland/zone_netherstorm.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#19397 fix(Core/Unit): Adjust melee attack stop logic.
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19380 fix(Creature): Remove bad SmartAI entries.
  data/sql/updates/pending_db_world/bad-ai.sql
Labels: DB, Ready to be Reviewed

#19389 fix(Scripts/ZG): Jin'do using wrong hex spell
  src/server/scripts/EasternKingdoms/ZulGurub/boss_jindo.cpp
Labels: To Be Merged, Script, file-cpp

#19402 fix(DB/Creature): Remove disable movement flag from Shadowy Construct
  data/sql/updates/pending_db_world/rev_1720962309189833000.sql
Labels: DB, To Be Merged

#19406 fix(Scripts/Commands): Ticket response
  data/sql/updates/pending_db_world/rev_1721087507268967000.sql
  src/server/game/Miscellaneous/Language.h
  src/server/game/Tickets/TicketMgr.h
  src/server/scripts/Commands/cs_ticket.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp, Requires WIKI Update

#19410 fix(DB/Loot): Add loot for Tenris Mirkblood event boss.
  data/sql/updates/pending_db_world/mirkblood-loot.sql
Labels: DB, Ready to be Reviewed

#19409 chore(Core/GameObjectAI): Cleanup register macro
  src/server/game/Scripting/ScriptDefines/GameObjectScript.h
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/ahnkahet.h
Labels: CORE, Script, file-cpp

#19412 chore(Scripts/ServerMail): Cleanup the code
  src/server/scripts/World/server_mail.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#19258 fix(Core/Spells): Script Glumdor's Steal Weapon
  data/sql/updates/pending_db_world/rev_1719942973235275500.sql
  src/server/scripts/Spells/spell_generic.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp

#19321 fix(Scripts/Karazhan): Nightbane Combat Abilities
  data/sql/updates/pending_db_world/rev_1719929004534756216.sql
  src/server/scripts/EasternKingdoms/Karazhan/boss_nightbane.cpp
Labels: DB, Script, file-cpp

#19322 fix(Scripts/Spells): warlock seed of corruption
  data/sql/updates/pending_db_world/rev_1719253714347835736.sql
  src/server/game/Entities/Unit/Unit.cpp
  src/server/scripts/Outland/TempestKeep/arcatraz/boss_zereketh_the_unbound.cpp
  src/server/scripts/Spells/spell_warlock.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp

#19114 fix(DB/PageText): Glyphic Scroll text
  data/sql/updates/pending_db_world/rev_1718995543775863200.sql
Labels: DB

#19421 fix(DB/Creature): Hellfire Training Dummies shouldn't be attackable
  data/sql/updates/pending_db_world/rev_1721187314824254400.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19420 fix(DB/Creature): Small Black Temple adjustments
  data/sql/updates/pending_db_world/rev_1721186384223205700.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Instance - Raid - Outland, 70

#19383 fix(Scripts/Spells): Revive pets with full mana in bgs
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Entities/Pet/Pet.h
  src/server/scripts/Spells/spell_generic.cpp
Labels: CORE, Script, file-cpp

#19376 fix(Core/Unit): add melee spell breaking for spells with cast time
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#19405 fix(Scripts/BlackwingLair): Nefarian say low health and rewrite p3
  data/sql/updates/pending_db_world/rev_1715084722919779733.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_nefarian.cpp
Labels: DB, Script, file-cpp

#19404 fix(DB/Creature): fix spout emote text for The Lurker Below
  data/sql/updates/pending_db_world/rev_1720992304054237637.sql
Labels: DB, To Be Merged

#19247 fix(Core/Spells): Gor'drek's Ointment
  data/sql/updates/pending_db_world/rev_1719813803735600900.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/Spells/spell_item.cpp
  src/server/scripts/World/item_scripts.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp

#19292 fix(Core/Spell): Implement SPELL_ATTR6_NO_PUSHBACK
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/shared/SharedDefines.h
  src/server/shared/enuminfo_SharedDefines.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#19102 fix(Core/Spells): Restore sending SMSG_CAST_FAILED for spells in SPEL…
  src/server/game/Spells/Spell.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#19424 fix(DB/game_event): revert squash 11.0.0 changes
  data/sql/updates/pending_db_world/rev_1721227700722018000.sql
Labels: DB, Ready to be Reviewed

#19428 fix(DB): Correct collation for c_t_model
  data/sql/base/db_world/creature_template_model.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19422 fix(Core/Spell): Allow using SpellDifficulty in bg
  data/sql/updates/pending_db_world/rev_1721214859612463300.sql
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/Northrend/isle_of_conquest.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp

#19415 docs(DB): Database Squash
  data/sql/base/database-squash.md
Labels: To Be Merged, Ready to be Reviewed, Documentation

#19411 chore(Scripts/ChatLog): Cleanup the code
  src/server/scripts/World/chat_log.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#19430 fix(Scripts/ChatLog): Whoopsies
  src/server/scripts/World/chat_log.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#19434 fix(Core): Correct packet structure for combat stop messages.
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Handlers/CombatHandler.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19431 fix(Spells/SpellInfoCorrections): remove AURA_INTERRUPT_FLAG_NOT_ABOVEWATER from some mounts
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, file-cpp

#19438 fix(Core): Further adjust packet structure for attack stop opcode.
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Handlers/CombatHandler.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19435 fix(Scripts/BlackTemple): Ashtongue Defenders unable to attack Akama
  src/server/scripts/Outland/BlackTemple/boss_shade_of_akama.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#19432 fix(Scripts/BlackTemple): Vengeful Spirit, Shadow of Death Remove
  data/sql/updates/pending_db_world/rev_1721315048505216800.sql
  src/server/scripts/Outland/BlackTemple/boss_teron_gorefiend.cpp
  src/server/scripts/Outland/BlackTemple/instance_black_temple.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Instance - Raid - Outland, Script, 70, file-cpp

#19443 fix(Scripts/Reload): Only send reload output to GMs
  src/server/scripts/Commands/cs_reload.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#19417 fix(DB/Item): Bouquet of Orange Marigolds
  data/sql/updates/pending_db_world/rev_1721179877054180200.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19441 fix(Scripts/ChatLogger): Differentiate addon whisper from player whisper
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/scripts/World/chat_log.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#19444 fix(DB/Creature): Ormus the Penitent
  data/sql/updates/pending_db_world/rev_1721400804205047100.sql
Labels: DB, Ready to be Reviewed

#19447 fix(Core/Config): Allow `#` outside of comments
  src/common/Configuration/Config.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19413 chore(Core/Misc): Remove deprecated code
  src/common/Configuration/Config.cpp
  src/common/Configuration/Config.h
  src/server/game/Chat/ChatCommands/ChatCommand.h
  src/server/game/Entities/Creature/GossipDef.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/scripts/Commands/cs_account.cpp
  src/server/scripts/Commands/cs_ban.cpp
  src/server/scripts/Commands/cs_learn.cpp
  src/server/scripts/Commands/cs_wp.cpp
  src/test/mocks/WorldMock.h
Labels: CORE, To Be Merged, Script, UnitTests, file-cpp

#19453 fix(CI): tools
  .github/actions/linux-build/action.yml
  .github/workflows/tools_build.yml
Labels: Workflow, To Be Merged, Ready to be Reviewed, run-build

#19454 feat(Core/Unit): Enable/Disable Daze config
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
Labels: CORE, file-cpp

#19455 fix(DB/Spells): Mortal Wound and Sunder Armor stack from different ca…
  data/sql/updates/pending_db_world/rev_1721515391969215900.sql
Labels: To Be Merged, Ready to be Reviewed

#19461 refactor(Scripts/Outland): remove unused imports
  src/server/scripts/Outland/Auchindoun/ShadowLabyrinth/boss_murmur.cpp
  src/server/scripts/Outland/Auchindoun/ShadowLabyrinth/instance_shadow_labyrinth.cpp
  src/server/scripts/Outland/Auchindoun/ShadowLabyrinth/shadow_labyrinth.h
  src/server/scripts/Outland/BlackTemple/black_temple.h
  src/server/scripts/Outland/BlackTemple/boss_bloodboil.cpp
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
  src/server/scripts/Outland/BlackTemple/boss_mother_shahraz.cpp
  src/server/scripts/Outland/BlackTemple/boss_reliquary_of_souls.cpp
  src/server/scripts/Outland/BlackTemple/boss_shade_of_akama.cpp
  src/server/scripts/Outland/BlackTemple/boss_teron_gorefiend.cpp
  src/server/scripts/Outland/BlackTemple/boss_warlord_najentus.cpp
  src/server/scripts/Outland/BlackTemple/illidari_council.cpp
  src/server/scripts/Outland/BlackTemple/instance_black_temple.cpp
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_fathomlord_karathress.cpp
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_hydross_the_unstable.cpp
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_lady_vashj.cpp
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_leotheras_the_blind.cpp
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_lurker_below.cpp
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_morogrim_tidewalker.cpp
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/instance_serpent_shrine.cpp
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/serpent_shrine.h
  src/server/scripts/Outland/CoilfangReservoir/SlavePens/boss_ahune.cpp
  src/server/scripts/Outland/CoilfangReservoir/SteamVault/steam_vault.h
  src/server/scripts/Outland/GruulsLair/boss_gruul.cpp
  src/server/scripts/Outland/GruulsLair/gruuls_lair.h
  src/server/scripts/Outland/HellfireCitadel/HellfireRamparts/boss_vazruden_the_herald.cpp
  src/server/scripts/Outland/HellfireCitadel/HellfireRamparts/boss_watchkeeper_gargolmar.cpp
  src/server/scripts/Outland/HellfireCitadel/HellfireRamparts/hellfire_ramparts.h
  src/server/scripts/Outland/HellfireCitadel/MagtheridonsLair/boss_magtheridon.cpp
  src/server/scripts/Outland/HellfireCitadel/MagtheridonsLair/magtheridons_lair.h
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/boss_nethekurse.cpp
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/shattered_halls.h
  src/server/scripts/Outland/TempestKeep/Eye/boss_alar.cpp
  src/server/scripts/Outland/TempestKeep/Eye/boss_astromancer.cpp
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
  src/server/scripts/Outland/TempestKeep/Eye/instance_the_eye.cpp
  src/server/scripts/Outland/TempestKeep/Eye/the_eye.h
  src/server/scripts/Outland/TempestKeep/Mechanar/boss_nethermancer_sepethrea.cpp
  src/server/scripts/Outland/TempestKeep/Mechanar/mechanar.h
  src/server/scripts/Outland/TempestKeep/arcatraz/arcatraz.cpp
  src/server/scripts/Outland/TempestKeep/arcatraz/arcatraz.h
  src/server/scripts/Outland/TempestKeep/botanica/instance_the_botanica.cpp
  src/server/scripts/Outland/TempestKeep/botanica/the_botanica.h
  src/server/scripts/Outland/zone_blades_edge_mountains.cpp
  src/server/scripts/Outland/zone_nagrand.cpp
Labels: Ready to be Reviewed, Script, run-build, file-cpp

#19458 refactor(Scripts/misc): remove unused imports
  src/server/scripts/Events/midsummer.cpp
  src/server/scripts/OutdoorPvP/OutdoorPvPEP.cpp
  src/server/scripts/OutdoorPvP/OutdoorPvPGH.cpp
  src/server/scripts/Pet/pet_priest.cpp
  src/server/scripts/Spells/spell_quest.cpp
  src/server/scripts/Spells/spell_shaman.cpp
  src/server/scripts/World/achievement_scripts.cpp
  src/server/scripts/World/areatrigger_scripts.cpp
  src/server/scripts/World/chat_log.cpp
  src/server/scripts/World/guards.cpp
  src/server/scripts/World/npc_stave_of_ancients.h
  src/server/scripts/World/player_scripts.cpp
Labels: Ready to be Reviewed, Script, run-build, file-cpp

#19457 refactor(Scripts/EasternKingdoms): remove unused imports
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_broodlord_lashlayer.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_chromaggus.cpp
  src/server/scripts/EasternKingdoms/Karazhan/boss_terestian_illhoof.cpp
  src/server/scripts/EasternKingdoms/Karazhan/karazhan.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_felblood_kaelthas.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/magisters_terrace.h
  src/server/scripts/EasternKingdoms/ShadowfangKeep/instance_shadowfang_keep.cpp
  src/server/scripts/EasternKingdoms/ShadowfangKeep/shadowfang_keep.h
  src/server/scripts/EasternKingdoms/Stratholme/stratholme.h
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_brutallus.cpp
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_eredar_twins.cpp
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_felmyst.cpp
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kalecgos.cpp
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kiljaeden.cpp
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_muru.cpp
  src/server/scripts/EasternKingdoms/SunwellPlateau/instance_sunwell_plateau.cpp
  src/server/scripts/EasternKingdoms/SunwellPlateau/sunwell_plateau.h
  src/server/scripts/EasternKingdoms/ZulAman/boss_akilzon.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/boss_venoxis.cpp
  src/server/scripts/EasternKingdoms/zone_stormwind_city.cpp
  src/server/scripts/EasternKingdoms/zone_undercity.cpp
Labels: To Be Merged, Script, run-build, file-cpp

#19044 fix(DB/Creature): add Apprentice Morlann RP Event
  data/sql/updates/pending_db_world/rev_1718007800531434000.sql
Labels: DB, To Be Merged

#19464 fix(DB/Creature): Illidan taunt immunity
  data/sql/updates/pending_db_world/rev_1721705202781499700.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19449 refactor(Core/Chat): PSendSysMessage to `fmt`
  data/sql/updates/pending_db_world/rev_1721436522058676600.sql
  src/server/game/ArenaSpectator/ArenaSpectator.cpp
  src/server/game/Battlegrounds/BattlegroundQueue.cpp
  src/server/game/Chat/Channels/Channel.cpp
  src/server/game/Chat/Chat.cpp
  src/server/game/Chat/Chat.h
  src/server/game/Chat/ChatCommands/ChatCommand.cpp
  src/server/game/Chat/ChatCommands/ChatCommandArgs.cpp
  src/server/game/Chat/ChatCommands/ChatCommandArgs.h
  src/server/game/Chat/ChatCommands/ChatCommandHelpers.h
  src/server/game/Chat/ChatCommands/ChatCommandTags.cpp
  src/server/game/Chat/ChatCommands/ChatCommandTags.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/PlayerStorage.cpp
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Guilds/Guild.cpp
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Handlers/MiscHandler.cpp
  src/server/scripts/Commands/cs_account.cpp
  src/server/scripts/Commands/cs_arena.cpp
  src/server/scripts/Commands/cs_ban.cpp
  src/server/scripts/Commands/cs_cache.cpp
  src/server/scripts/Commands/cs_character.cpp
  src/server/scripts/Commands/cs_cheat.cpp
  src/server/scripts/Commands/cs_debug.cpp
  src/server/scripts/Commands/cs_deserter.cpp
  src/server/scripts/Commands/cs_disable.cpp
  src/server/scripts/Commands/cs_event.cpp
  src/server/scripts/Commands/cs_gear.cpp
  src/server/scripts/Commands/cs_gm.cpp
  src/server/scripts/Commands/cs_gobject.cpp
  src/server/scripts/Commands/cs_group.cpp
  src/server/scripts/Commands/cs_guild.cpp
  src/server/scripts/Commands/cs_instance.cpp
  src/server/scripts/Commands/cs_item.cpp
  src/server/scripts/Commands/cs_learn.cpp
  src/server/scripts/Commands/cs_lfg.cpp
  src/server/scripts/Commands/cs_list.cpp
  src/server/scripts/Commands/cs_lookup.cpp
  src/server/scripts/Commands/cs_message.cpp
  src/server/scripts/Commands/cs_misc.cpp
  src/server/scripts/Commands/cs_mmaps.cpp
  src/server/scripts/Commands/cs_modify.cpp
  src/server/scripts/Commands/cs_npc.cpp
  src/server/scripts/Commands/cs_pet.cpp
  src/server/scripts/Commands/cs_quest.cpp
  src/server/scripts/Commands/cs_reset.cpp
  src/server/scripts/Commands/cs_send.cpp
  src/server/scripts/Commands/cs_server.cpp
  src/server/scripts/Commands/cs_tele.cpp
  src/server/scripts/Commands/cs_ticket.cpp
  src/server/scripts/Commands/cs_wp.cpp
Labels: DB, CORE, Waiting to be Tested, Ready to be Reviewed, Script, run-build, file-cpp
