Repository azerothcore/azerothcore-wotlk, pull requests merged in 2024-03, with the labels that each got.

#18463 fix(Scripts/SerpentshrineCavern) Filter Watery Grave Target
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_morogrim_tidewalker.cpp
Labels: CORE, Script, file-cpp

#18464 fix(DB/World): Creatures not respawning within pools of their own
  data/sql/updates/pending_db_world/Fix_Rare_Respawn.sql
Labels: DB, Ready to be Reviewed

#18450 fix(DB/Gameobject): Sniffed Values for 'Barber Chair' spawns
  data/sql/updates/pending_db_world/rev_1709225636578523600.sql
Labels: DB, Ready to be Reviewed

#18482 fix(Scripts/TheEye): make legendary TK dagger have 100% proc chance
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, file-cpp

#18481 fix(Scripts/TheEye): make sure Telonicus doesn't erroneously cast Conflagration and cast Remote Toy instead
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: CORE, Script, file-cpp

#18370 fix(DB/Translation/FR) : Deputy Willem greetings gossip text
  data/sql/updates/pending_db_world/rev_1708463355574751000.sql
Labels: DB

#18490 fix(DB/Spell): Correct Al'ar flame quill target positions
  data/sql/updates/pending_db_world/rev_1709573522401985500.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18492 fix(DB/TheEye): Nether Scryer and Phoenix Hawk spell behaviour
  data/sql/updates/pending_db_world/change_target.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18495 fix(Scripts/TheEye): amend Al'ar divebomb timer in p2
  src/server/scripts/Outland/TempestKeep/Eye/boss_alar.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18494 fix(DB/Creature): High King Maulgar's council saving you to the insta…
  data/sql/updates/pending_db_world/rev_1709579468048511400.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18432 fix(DB/Gameobject): Add some missing 'Anvil, Forge, Alchemy Lab' spawns
  data/sql/updates/pending_db_world/rev_1709065962197103700.sql
Labels: DB, Ready to be Reviewed

#18465 Fix(DB/SAI) update quest 6002 poi and text
  data/sql/updates/pending_db_world/rev_1709299008995982200.sql
Labels: DB, Ready to be Reviewed

#18496 fix(Scripts/TheEye): make sure Solarian does not cast arcane missiles on target with Wrath of the Astromancer active
  src/server/scripts/Outland/TempestKeep/Eye/boss_astromancer.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18502 fix(DB/Creature): Kael Phoenix should not be immune to slows
  data/sql/updates/pending_db_world/rev_1709718488788677100.sql
Labels: DB

#18504 fix(Scripts/TheEye): Al'ar phoenix spawn positions in p2
  src/server/scripts/Outland/TempestKeep/Eye/boss_alar.cpp
Labels: CORE, Script, file-cpp

#18480 fix(Scripts/TheEye): make Solarian not overlap casts and not cast arcane missiles into p2 transition
  data/sql/updates/pending_db_world/change_voicelines.sql
  src/server/scripts/Outland/TempestKeep/Eye/boss_astromancer.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#18508 fix(DB/SAI): Remove Shadowlord Deathwail's immunity.
  data/sql/updates/pending_db_world/deathwail.sql
Labels: DB, Ready to be Reviewed

#18501 fix(Core/SmartScripts): LOS check spell for SmartScipts
  src/server/game/AI/SmartScripts/SmartScript.cpp
Labels: CORE, file-cpp, Tested

#18509 fix(DB/Gameobject): Sniffed Values for 'Chair' spawns (part 2)
  data/sql/updates/pending_db_world/rev_1709894986927561900.sql
Labels: DB, Ready to be Reviewed

#18478 fix(Scripts/Karazhan): Chess Event Cross Faction
  src/server/scripts/EasternKingdoms/Karazhan/boss_chess_event.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#18511 fix(Scripts/TheEye): ensure Ember of Al'ar always spawn in the right spot
  src/server/scripts/Outland/TempestKeep/Eye/boss_alar.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18513 fix(Scripts/Karazhan): Correct chess piece gossip faction check.
  src/server/scripts/EasternKingdoms/Karazhan/boss_chess_event.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#18328 fix(DB/Item): 44844 'Turkey Caller' - add flag CU_DURATION_REAL_TIME
  data/sql/updates/pending_db_world/rev_1707943090372200600.sql
Labels: DB, To Be Merged, World Event

#18517 fix(Scripts/TheEye): boss boundaries and Kael door
  src/server/scripts/Outland/TempestKeep/Eye/boss_astromancer.cpp
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
  src/server/scripts/Outland/TempestKeep/Eye/boss_void_reaver.cpp
  src/server/scripts/Outland/TempestKeep/Eye/instance_the_eye.cpp
  src/server/scripts/Outland/TempestKeep/Eye/the_eye.h
Labels: WIP, CORE, Script, file-cpp

#18389 fix(Core/PVP): Fix OutDoorPVP CustomSpell handling
  src/server/game/OutdoorPvP/OutdoorPvP.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#18505 fix(CI): fix tools_build
  .github/workflows/tools_build.yml
Labels: Workflow, Ready to be Reviewed, run-build

#18499 fix(Docs): readme: fix broken link to CODE_OF_CONDUCT.md
  .github/README.md
Labels: Ready to be Reviewed

#18500 fix(Docs): readme: fix broken license links
  .github/README.md
Labels: Ready to be Reviewed

#18507 fix(CI/MacOS): Fix MacOS dependency installation
  apps/installer/includes/os_configs/osx.sh
Labels: Bash, run-build

#18537 fix(DB/Gameobject): Sniffed Values for 'Bonfire' spawns
  data/sql/updates/pending_db_world/rev_1710170054243486300.sql
Labels: DB, Ready to be Reviewed

#18531 fix(Scripts/TempestKeep): Kael pyroblast target only main target
  data/sql/updates/pending_db_world/rev_1710146818912293800.sql
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18540 fix(Scripts/TheEye): make sure Al'ar doesn't cast anything during rebirt + phoenix spawning
  src/server/scripts/Outland/TempestKeep/Eye/boss_alar.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18539 fix(Scripts/TheEye): allow Solarian to cast on pets/totems
  src/server/scripts/Outland/TempestKeep/Eye/boss_astromancer.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18542 fix(DB/TheEye): make falconer move towards you
  data/sql/updates/pending_db_world/tempest_falconer.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18544 fix(Scripts/TheEye): remove auras from Solarian on invisiblity and sniffed spell
  src/server/scripts/Outland/TempestKeep/Eye/boss_astromancer.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#18541 fix(DB/Gameobject): fix phaseMask of two 'Bench' spawns
  data/sql/updates/pending_db_world/rev_1710238997622002200.sql
Labels: DB, Ready to be Reviewed

#18552 fix(Scripts/TheEye): maybe fix Al'ar transition
  src/server/scripts/Outland/TempestKeep/Eye/boss_alar.cpp
Labels: CORE, Script, file-cpp

#18553 fix(Scripts/TheEye): make sure Al'ar doesn't schedule abilities multiple times
  src/server/scripts/Outland/TempestKeep/Eye/boss_alar.cpp
Labels: CORE, Script, file-cpp

#18554 fix(Scripts/TheEye): another Al'ar hotfix
  src/server/scripts/Outland/TempestKeep/Eye/boss_alar.cpp
Labels: CORE, Script, file-cpp

#18518 fix (SpellInfoCorrections) Add them to the spells list
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, file-cpp

#18555 fix(Core/Spells): Domination affect max 5 targets
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#18393 feature(Core/DB): Implement ".reset items" command
  data/sql/updates/pending_db_world/rev_1708782048020249700.sql
  src/server/game/Entities/Player/Player.h
  src/server/game/Miscellaneous/Language.h
  src/server/scripts/Commands/cs_reset.cpp
Labels: DB, CORE, Script, file-cpp

#18519 chore. Avoid failures in the tests of custom items
  src/server/game/Globals/ObjectMgr.cpp
Labels: CORE, file-cpp

#18559 fix(Scripts/Commands): Fix crash when using additem from console
  src/server/scripts/Commands/cs_misc.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18563 fix(Scripts/TheEye): increase dagger proc chance and make sure mind control only targets players
  data/sql/updates/pending_db_world/fix_dagger_proc.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: DB, CORE, Script, file-cpp

#18532 fix(DB/Creature) Underground Orgrimmar Grunt
  data/sql/updates/pending_db_world/rev_1710471363617470300.sql
Labels: DB, To Be Merged

#18580 fix(Scripts/TheEye): fix Kael progress bug and some other issues
  data/sql/updates/pending_db_world/weapons_flags.sql
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18578 fix(DB/Gameobject): Sniffed Values for 'Dwarven Campfire' spawns
  data/sql/updates/pending_db_world/rev_1710791876132546100.sql
Labels: DB, Ready to be Reviewed

#18565 fix(DB/Gameobject): Sniffed Values for 'Warm Fire' spawns
  data/sql/updates/pending_db_world/rev_1710615003666178000.sql
Labels: DB, Ready to be Reviewed

#18569 fix(DB/BlackTemple): Rework Black Temple
  data/sql/updates/pending_db_world/rev_1710358311839208100.sql
  src/server/game/Entities/Creature/CreatureGroups.cpp
  src/server/game/Entities/Creature/CreatureGroups.h
  src/server/game/Movement/MovementGenerators/RandomMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/WaypointMovementGenerator.cpp
Labels: DB, CORE, Instance - Raid - Outland, 70, file-cpp

#18512 fix(Scripts/HyjalSummit): Rewrite Battle for Mount Hyjal
  data/sql/updates/pending_db_world/rev_1708737709108426300.sql
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_anetheron.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_archimonde.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_azgalor.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_kazrogal.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_rage_winterchill.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjal.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjal.h
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjalAI.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjalAI.h
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjal_trash.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjal_trash.h
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/instance_hyjal.cpp
  src/server/scripts/Kalimdor/kalimdor_script_loader.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Instance - Raid - Outland, Script, 70, file-cpp, Tested

#18584 fix(Scripts/TheEye): fix MC overlap
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18566 fix(DB/Gameobject): Sniffed Values for 'Door' spawns
  data/sql/updates/pending_db_world/rev_1710656783612389500.sql
Labels: DB, Ready to be Reviewed

#18514 fix (Core/Scripting): SMART_EVENT_NEAR_PLAYERS
  src/server/game/AI/SmartScripts/SmartScript.cpp
Labels: CORE, To Be Merged, file-cpp, Tested

#18528 fix(DB/Gameobject): Sniffed Values for 'Wooden Bench' spawns (part 2)
  data/sql/updates/pending_db_world/rev_1710100757022847900.sql
Labels: DB, Ready to be Reviewed

#18315 chore. Correctly disable gm command dbg messages by default
  src/server/apps/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged, Ready to be Reviewed, Tested

#18390 fix(Core/Spells): Fixed work of sobering spells and other improvements for drunk system
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, To Be Merged, file-cpp, Tested

#17590 fix(DB/Creature Formation) Scholo: Make Alexei Barov's adds respawn correctly
  data/sql/updates/pending_db_world/rev_1698310971939947916.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Tested

#18296 feat(build): initial development nix flake
  flake.lock
  flake.nix
Labels: To Be Merged, Tested

#18587 Fix spell 35329 (Vibrant Blood)
  src/server/game/Spells/SpellInfo.cpp
Labels: CORE, file-cpp

#18588 fix(Scripts/TheEye): Fix Ember of Alar ember blast percent damage
  src/server/scripts/Outland/TempestKeep/Eye/boss_alar.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18586 fix(Scripts/Mechanar): Fix Ranging Flames should choose a new target …
  src/server/scripts/Outland/TempestKeep/Mechanar/boss_nethermancer_sepethrea.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18585 fix(Scripts/TheEye): Make Solarian visible on phase transition
  src/server/scripts/Outland/TempestKeep/Eye/boss_astromancer.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18592 fix(Scripts/TheEye): make sure schedules are cancelled when advisors die in p1
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18599 fix(Scripts/TheEye): Alar dont take 2% damage during dive bomb
  src/server/scripts/Outland/TempestKeep/Eye/boss_alar.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18604 fix(Scripts/HyjalSummit): Don't reset trash counter on scheduled waves
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/instance_hyjal.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#18603 fix(Scripts/HyjalSummit): Frost Wyrms casting wrong spell
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjal.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#18607 fix(DB/Gameobject): Sniffed Values for 'Burning Embers' spawns
  data/sql/updates/pending_db_world/rev_1711137005523939400.sql
Labels: DB, Ready to be Reviewed

#18606 fix(DB/Gameobject): Sniffed Values for 'Campfire' spawns (part 2)
  data/sql/updates/pending_db_world/rev_1711135869477702200.sql
Labels: DB, Ready to be Reviewed

#18609 fix(DB/Gameobject): Sniffed Values for '%Brazier%' spawns
  data/sql/updates/pending_db_world/rev_1711138823032172600.sql
Labels: DB, Ready to be Reviewed

#18503 fix(DB/SAI): Added a talking event between Creature 26828
  data/sql/updates/pending_db_world/rev_1709209411982077500.sql
Labels: DB, Tested

#18126 fix(db/sai) Modified summoned felhunter smart AI
  data/sql/updates/pending_db_world/rev_1704609963729945200.sql
Labels: DB, To Be Merged, Tested

#18069 fix(DB/Item): Change races for Fluorescent Green Mechanostrider
  data/sql/updates/pending_db_world/Mechanostrider_Race.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Tested

#17236 fix(DB\Creatures): updating npcflags on Blackrock Bar mobs
  data/sql/updates/pending_db_world/blackrock-mobs-npc-flag-updates.sql
Labels: DB, To Be Merged, Tested

#18325 fix(DB/Quest): Quest chaining for quest 9759
  data/sql/updates/pending_db_world/rev_1707926446130552000.sql
Labels: DB, To Be Merged, Tested

#18600 fix(DB/Gameobject): Sniffed Values for '%Anvil%' spawns
  data/sql/updates/pending_db_world/rev_1711052568260107500.sql
Labels: DB, Ready to be Reviewed

#18562 fix(DB/Gameobject): Sniffed Values for 'Blazing Fire' spawns
  data/sql/updates/pending_db_world/rev_1710592015812217100.sql
Labels: DB, Ready to be Reviewed

#18560 fix(DB/Gameobject): Sniffed Values for 'Mighty Blaze' spawns
  data/sql/updates/pending_db_world/rev_1710574764650717300.sql
Labels: DB, Ready to be Reviewed

#18516 (Instance/Culling of Stratholme/Trial of Crusader) removed duplicated gossip_menus, fixed hardcoded texts
  data/sql/updates/pending_db_world/stratholme_toc_txt_fix.sql
  src/server/scripts/Kalimdor/CavernsOfTime/CullingOfStratholme/boss_infinite.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/CullingOfStratholme/culling_of_stratholme.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_twin_valkyr.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/instance_trial_of_the_crusader.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/trial_of_the_crusader.h
Labels: DB, CORE, Script, file-cpp

#18613 fix(Scripts/TheEye): make Void Reaver abilities ignore LOS
  src/server/scripts/Outland/TempestKeep/Eye/boss_void_reaver.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#18614 fix(Scripts/SSC): make adds reset when one leaves the room
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_fathomlord_karathress.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18605 feat(core): account delete hook
  src/server/game/Accounts/AccountMgr.cpp
  src/server/game/Scripting/ScriptDefines/AccountScript.cpp
  src/server/game/Scripting/ScriptDefines/AccountScript.h
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, To Be Merged, file-cpp

#18583 chore(PlayerScript/Hook) : Add CanSetTradeItem Hook in PlayerScript
  src/server/game/Handlers/TradeHandler.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.h
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, To Be Merged, file-cpp, Tested

#18594 fix(Scripts/Hyjal): Archimonde refactored
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_archimonde.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_azgalor.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjal.h
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp, Tested

#17281 feat(CI): rework core ubuntu build, ubuntu-22 support
  .github/actions/linux-build/action.yml
  .github/workflows/core-build-nopch.yml
  .github/workflows/core-build-pch.yml
  .github/workflows/core_modules_build.yml
Labels: Workflow, To Be Merged, run-build, CI/CD

#18602 feat(Core/Compression): Move packets compression from map to network thread
  src/server/game/Battlegrounds/Zones/BattlegroundSA.cpp
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Updates/UpdateData.cpp
  src/server/game/Entities/Object/Updates/UpdateData.h
  src/server/game/Entities/Player/PlayerUpdates.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Grids/Notifiers/GridNotifiers.cpp
  src/server/game/Groups/Group.cpp
  src/server/game/Maps/Map.cpp
  src/server/game/Server/WorldSocket.cpp
  src/server/game/Server/WorldSocket.h
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_brutallus.cpp
  src/server/scripts/Spells/spell_priest.cpp
Labels: CORE, Script, file-cpp

#18631 fix(ci): ensure module build clones modules
  .github/workflows/core_modules_build.yml
Labels: Workflow, run-build

#18630 fix(Scripts/BossAI): add optional variable to BossAI class to make sure the boss calls for help
  src/server/game/AI/ScriptedAI/ScriptedCreature.cpp
  src/server/game/AI/ScriptedAI/ScriptedCreature.h
  src/server/scripts/Outland/TempestKeep/Eye/boss_astromancer.cpp
  src/server/scripts/Outland/TempestKeep/Eye/boss_void_reaver.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#18633 fix(DB/Gameobject): update initial state of some Brazier spawns
  data/sql/updates/pending_db_world/rev_1711804492859268400.sql
Labels: DB, Ready to be Reviewed

#18632 fix(CI): correct name suffix of PCH jobs
  .github/workflows/core-build-pch.yml
Labels: Workflow

#18629 fix(DB/TheEye): make Thaladred walk
  data/sql/updates/pending_db_world/thaladred-movement.sql
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18641 fix(DB/TheEye): remove faulty talon of al'ar reference from reference loot template
  data/sql/updates/pending_db_world/alar-loot.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18640 fix(Scripts/Hyjal): Shadowy Necromancers now use Unholy Frenzy + Skeleton mage abilities
  data/sql/updates/pending_db_world/skeletonmages.sql
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjal.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjal.h
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp
