Repository azerothcore/azerothcore-wotlk, pull requests merged in 2024-09, with the labels that each got.

#19836 fix(Core/Guild): Require repair rights in order to make use of guild repairs.
  src/server/game/Guilds/Guild.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19833 fix(DB/Creature): Fix unit flags for Arcane Charge trigger npc
  data/sql/updates/pending_db_world/rev_1725143233684093900.sql
Labels: DB, To Be Merged

#19797 fix(Core/GameObject): Allow use of Mage portal if caster is offline and still in group
  src/server/game/Entities/GameObject/GameObject.cpp
Labels: CORE, Ready to be Reviewed, file-cpp, Tested

#19687 fix(Core/Movement) Don't move for change in orientation only
  src/server/game/Movement/Spline/MoveSplineInit.cpp
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, Ready to be Reviewed, file-cpp, Tested

#19796 fix(Core/Spell): warrior stances proccing darkmoon card vengeance damage
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, Ready to be Reviewed, file-cpp, Tested

#19847 fix(DB/Creature): Adjust Shadowy Construct run speed.
  data/sql/updates/pending_db_world/shadowy-construct-speed.sql
Labels: DB, Ready to be Reviewed

#19848 fix(DB/Spell): Don't allow Molten Flame damage to stack from multiple spawns.
  data/sql/updates/pending_db_world/molten-flame-stack.sql
Labels: DB, Ready to be Reviewed

#19849 fix(Scripts/BlackTemple): Adjust order of damage calculations for Shared Rule.
  src/server/scripts/Outland/BlackTemple/boss_illidari_council.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#19853 fix(Core/GameObject): fixup allow use of Mage portal if caster is offline and still in group
  src/server/game/Entities/GameObject/GameObject.cpp
Labels: CORE, file-cpp

#19852 fix(Core/Handlers): Don't allow data to be sent while not grouped.
  src/server/game/Handlers/GroupHandler.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19768 fix(Scripts/BlackTemple): Fix Zerevor not casting Dampen Magic OOC
  src/server/game/AI/CreatureAI.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/scripts/Outland/BlackTemple/boss_illidari_council.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#19855 fix(DB/Creature): Black Temple - Dragonmaw Wyrmcallers don't use Jab …
  data/sql/updates/pending_db_world/2024_09_02_00.sql
Labels: DB

#19844 fix(DB/Creature): Steamvault - Coilfang Oracle casts Frostshock twice
  data/sql/updates/pending_db_world/2024_09_01_00.sql
Labels: DB, Ready to be Reviewed, Tested

#19838 refactor(Core/Misc): Acore::StringFormat to fmt format
  apps/Fmt/FormatReplace.py
  src/common/Banner.cpp
  src/common/Collision/Management/MMapMgr.cpp
  src/common/Configuration/Config.cpp
  src/common/Debugging/Errors.cpp
  src/common/Debugging/Errors.h
  src/common/Logging/AppenderConsole.cpp
  src/common/Logging/AppenderFile.cpp
  src/common/Logging/Log.h
  src/common/Utilities/StringFormat.h
  src/common/Utilities/Timer.cpp
  src/server/database/Database/DatabaseWorkerPool.h
  src/server/database/Database/PreparedStatement.cpp
  src/server/database/Database/Transaction.h
  src/server/database/Updater/DBUpdater.cpp
  src/server/game/Battlegrounds/ArenaScore.h
  src/server/game/Battlegrounds/BattlegroundQueue.cpp
  src/server/game/Chat/Chat.h
  src/server/game/Chat/ChatCommands/ChatCommand.cpp
  src/server/game/Chat/ChatCommands/ChatCommand.h
  src/server/game/Chat/ChatCommands/ChatCommandArgs.h
  src/server/game/Chat/ChatCommands/ChatCommandHelpers.h
  src/server/game/Tools/PlayerDump.cpp
  src/server/game/Warden/Warden.cpp
  src/server/game/Warden/WardenCheckMgr.cpp
  src/server/game/Warden/WardenPayloadMgr.cpp
  src/server/scripts/Commands/cs_character.cpp
  src/server/scripts/Commands/cs_debug.cpp
  src/server/scripts/Commands/cs_message.cpp
  src/server/scripts/Commands/cs_send.cpp
  src/server/scripts/Commands/cs_server.cpp
  src/server/scripts/Spells/spell_generic.cpp
  src/server/shared/DataStores/DBCDatabaseLoader.cpp
  src/server/shared/Packets/ByteBuffer.cpp
  src/server/shared/Secrets/SecretMgr.cpp
  src/tools/map_extractor/System.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#19837 chore(Core/Misc): update floor and ceil to std
  src/server/game/Entities/Item/ItemEnchantmentMgr.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Handlers/ItemHandler.cpp
  src/server/game/Handlers/NPCHandler.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Time/UpdateTime.cpp
  src/server/scripts/EasternKingdoms/ZulAman/boss_akilzon.cpp
  src/server/scripts/Northrend/zone_wintergrasp.cpp
  src/server/scripts/Spells/spell_generic.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#19708 fix(Conf): sync default values with core defaults
  src/server/apps/worldserver/Main.cpp
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/database/Database/DatabaseLoader.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Time/UpdateTime.cpp
  src/server/game/World/World.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19841 chore(Apps/Codestyle): add new codestyle checks for pointers and range loops
  apps/codestyle/codestyle.py
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/SocialMgr.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Movement/Spline/Spline.cpp
  src/server/game/Warden/Warden.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/blackrock_depths.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockDepths/instance_blackrock_depths.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_solakar_flamewreath.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/instance_blackrock_spire.cpp
  src/server/scripts/Kalimdor/DireMaul/instance_dire_maul.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
  src/server/scripts/Northrend/Naxxramas/boss_gluth.cpp
  src/server/scripts/Northrend/Naxxramas/boss_gothik.cpp
  src/server/scripts/Northrend/Naxxramas/boss_heigan.cpp
  src/server/scripts/Northrend/Naxxramas/boss_sapphiron.cpp
  src/server/scripts/Spells/spell_hunter.cpp
  src/server/shared/Packets/ByteBuffer.h
Labels: CORE, Script, file-cpp

#19851 feat(Core/Achievements): Add possibility to complete achievements and update achievement criteria for offline players.
  data/sql/updates/pending_db_characters/character_achievement_offline_updates.sql
  src/common/Common.h
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/database/Database/Implementation/CharacterDatabase.h
  src/server/game/Achievements/AchievementMgr.cpp
  src/server/game/Achievements/AchievementMgr.h
  src/server/game/AuctionHouse/AuctionHouseMgr.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerStorage.cpp
  src/server/game/Entities/Player/PlayerUpdates.cpp
  src/server/game/Handlers/CharacterHandler.cpp
Labels: DB, CORE, Ready to be Reviewed, file-cpp

#19740 fix(Core/Handlers): Only remove emote if player is moving.
  src/server/game/Handlers/MovementHandler.cpp
Labels: CORE, Waiting to be Tested, file-cpp

#19751 fix(Core/AI): Improve creature leashing behavior.
  src/server/game/AI/CreatureAI.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.h
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/pit_of_saron.cpp
  src/server/scripts/Pet/pet_hunter.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#19856 feat(Scripting): add OnBeforeArenaCheckWinConditions hook for mod-arena-replay compatibility
  src/server/game/Battlegrounds/Arena.cpp
  src/server/game/Scripting/ScriptDefines/ArenaScript.cpp
  src/server/game/Scripting/ScriptDefines/ArenaScript.h
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, Waiting to be Tested, file-cpp

#19867 Fix(Core/Misc): Acore::StringFormat to fmt format
  src/common/Collision/Management/MMapMgr.cpp
Labels: CORE, file-cpp

#19574 fix(Scripts/BlackTemple): Rewrite Illidan Stormrage Fight
  data/sql/updates/pending_db_world/rev_1722993051676997100.sql
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
Labels: DB, Ready to be Reviewed, Instance - Raid - Outland, Script, 70, file-cpp

#19722 fix(Core/Creature): Creature Scale.
  src/server/game/Entities/Creature/Creature.cpp
Labels: CORE, file-cpp

#19870 Fix(docker) Modules SQL do not get updated or populated for docker set ups
  apps/docker/Dockerfile
  src/tools/CMakeLists.txt
  src/tools/dbimport/Main.cpp
  src/tools/dbimport/dbimport.conf.dist
Labels: CORE, To Be Merged, run-build, file-cpp

#19880 fix(Entities/Unit): Add leash extension with damage dealt.
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#19888 fix(Scripts/Commands): .gps formatting transport offset
  src/server/scripts/Commands/cs_misc.cpp
Labels: Script, file-cpp

#19881 fix(Scripts/BlackTemple): Remove Shear from Illidan following wrath p…
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#19889 fix(Core/AI): Creature SetInCombatState Leashing.
  src/server/game/Entities/Unit/Unit.cpp
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/pit_of_saron.cpp
Labels: CORE, Script, file-cpp

#19890 fix(Scripts/Commands): .gps formatting transport offset
  src/server/game/Entities/Player/PlayerUpdates.cpp
  src/server/scripts/Commands/cs_misc.cpp
Labels: CORE, Script, file-cpp

#19891 fix(Scripts/BlackTemple): blade_of_azzinoth...and Possible crash
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
Labels: Script, file-cpp

#19886 fix(Scripts/BlackTemple): Gurtogg Bloodboil shouldnt cast bloodboil o…
  src/server/scripts/Outland/BlackTemple/boss_bloodboil.cpp
Labels: Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#19893 fix(Scripts/ZulAman): Nalorakk sometimes not move when player close
  src/server/scripts/EasternKingdoms/ZulAman/boss_nalorakk.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#18679 feat(Battlegrounds): make it compatible with custom arena type
  src/server/game/Battlegrounds/ArenaTeam.cpp
  src/server/game/Battlegrounds/BattlegroundQueue.cpp
  src/server/game/Scripting/ScriptDefines/AllBattlegroundScript.cpp
  src/server/game/Scripting/ScriptDefines/AllBattlegroundScript.h
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, file-cpp

#19916 fix(Core/AI): Add back leash update.
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#19898 fix(Core/AI): Initialize movement leash timer to five seconds.
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.h
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#19897 fix(Core/AI): creature leashing behavior.
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
Labels: CORE, file-cpp

#19923 fix(Core/AI): Reduce movement leash extension interval.
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.h
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#19812 fix(DB/Creature) Black Temple - Shadowmoon Blood Mages dont use Blood…
  data/sql/updates/pending_db_world/2024_08_31_00.sql
Labels: DB, To Be Merged

#19784 fix(Core/Pet): Control Infernal without enslave
  src/server/game/Entities/Creature/TemporarySummon.cpp
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, To Be Merged, file-cpp

#19806 fix(Scripts/UBRS): increase Drakkisath's conflagrate interval from 10s..13s to 18s..25s, avoiding near infinite CC chains
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_drakkisath.cpp
Labels: Script, file-cpp

#19617 fix(DB/SAI): Missings spells for few creatures in Blade's Edge Mountains
  data/sql/updates/pending_db_world/rev_1723574442391883600.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed, Waiting For More Info from Author

#19821 refactor(Cote/Unit): cleanup - part2
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
Labels: CORE, To Be Merged, file-cpp

#19819 fix(Core/Spells): Resolve a case of triggered spells prolonging combat.
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/Spell.cpp
Labels: CORE, To Be Merged, file-cpp

#19945 fix(Scripts/BlackTemple): Ajust Judgment timers and pass all the script to std::chrono
  src/server/scripts/Outland/BlackTemple/boss_illidari_council.cpp
Labels: Script, file-cpp

#19950 refactor(Scripts/TempestKeep): remove an dev residual from Kael'Thas revamp
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: Script, file-cpp

#19951 Revert "chore(Debug/Scripting): improve debug errors during the unloading scripts (#19643)"
  src/server/game/Scripting/ScriptMgr.cpp
Labels: CORE, file-cpp

#18746 fix(Scripts/Battlegrounds/AlteracValley): Adding missing Tower Archers
  src/server/game/Battlegrounds/Zones/BattlegroundAV.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundAV.h
Labels: CORE, Ready to be Reviewed, file-cpp

#19884 fix(Core/PlayerStorage): Equip OH, 2H, Titan's Grip weapon swapping
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/PlayerStorage.cpp
Labels: CORE, file-cpp

#19927 fix(Core/Creature): Add support for CREATURE_FLAG_EXTRA_NO_PARRY_HAST…
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, file-cpp

#19947 fix(Scripts/BlackTemple): Fix variable not being set to true when Ak…
  src/server/scripts/Outland/BlackTemple/boss_shade_of_akama.cpp
Labels: To Be Merged, Script, file-cpp

#19967 fix(Scripts/BlackTemple): fix blaze and flame bast casting for Flame of Azzinoth
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
Labels: Script, file-cpp

#19948 fix(Scripts/BlackTemple): Shadow demon - Allow to move while casting Paralyze
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, file-cpp

#19944 fix(Scripts/BlackTemple): Parasitic Shadowfiends should not target pl…
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
Labels: To Be Merged, Script, file-cpp

#19946 fix(Scripts/BlackTemple): Implement emotes when opening Najentus and …
  data/sql/updates/pending_db_world/rev_1726132179936077700.sql
  src/server/game/Instances/InstanceScript.cpp
  src/server/game/Instances/InstanceScript.h
  src/server/scripts/Outland/BlackTemple/black_temple.h
  src/server/scripts/Outland/BlackTemple/instance_black_temple.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#19975 fix(Scripts/BT): correct illidari council enrage timer
  src/server/scripts/Outland/BlackTemple/boss_illidari_council.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#19969 fix(Scripts/Commands): Fix level up achievements not being granted
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/scripts/Commands/cs_character.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#19976 chore(Core/Achievement): cleanup offline achievement
  data/sql/updates/db_characters/2024_09_03_00.sql
  src/server/game/Achievements/AchievementMgr.cpp
Labels: DB, CORE, Ready to be Reviewed, file-cpp

#19962 fix(Core/PlayerQuest): Introduce flag QUEST_SPECIAL_FLAGS_NO_LOREMAST…
  data/sql/updates/pending_db_world/rev_1726231075608295100.sql
  src/server/game/Achievements/AchievementMgr.cpp
  src/server/game/Quests/QuestDef.cpp
  src/server/game/Quests/QuestDef.h
Labels: DB, CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp, Requires WIKI Update

#19983 fix(Core/Spells): Revert triggered spell logic change.
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/Spell.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19984 fix(DB/Command): Add help values for various commands.
  data/sql/updates/pending_db_world/command-syntax.sql
  src/server/scripts/Commands/cs_debug.cpp
  src/server/scripts/Commands/cs_misc.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp

#19968 fix(Scripts/BlackTemple): Flames of Azzinoth - Fix the charge logic
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
Labels: To Be Merged, Script, file-cpp

#19451 refactor(Deps/MySQL): Drop MariaDB and MySQL 5.7/8.1 and add MySQL 8.…
  .github/SECURITY.md
  data/sql/create/drop_mysql.sql
  data/sql/create/drop_mysql_8.sql
  src/cmake/macros/FindMySQL.cmake
  src/cmake/showoptions.cmake
  src/server/apps/authserver/authserver.conf.dist
  src/server/apps/worldserver/Main.cpp
  src/server/database/Database/DatabaseWorkerPool.cpp
  src/server/database/Database/DatabaseWorkerPool.h
  src/server/database/Database/MySQLConnection.cpp
  src/server/database/Updater/DBUpdater.cpp
  src/tools/dbimport/dbimport.conf.dist
Labels: DB, CORE, Ready to be Reviewed, CMake, run-build, Documentation, file-cpp, To Be Merged - Later, Requires WIKI Update

#19991 fix(Core/Spells): Resolve a case of triggered spells prolonging combat.
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/Spell.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#19882 fix(Core/Loot) fix bug with loot
  src/server/game/Groups/Group.cpp
Labels: CORE, To Be Merged, file-cpp

#19957 Fix(db/creature) black temple illidari assassin riposte ability missing
  data/sql/updates/pending_db_world/2024_09_13_00.sql
Labels: DB, To Be Merged

#20003 fix(apps/installer): fix Debian 12 build with mysql
  apps/installer/includes/os_configs/debian.sh
Labels: To Be Merged, Bash

#19997 fix(CI/macOS): Fix macOS CI dependency installation by updating macOS version.
  .github/SECURITY.md
  .github/workflows/macos_build.yml
  apps/ci/mac/ci-compile.sh
Labels: Workflow, To Be Merged, Bash, run-build, Documentation

#19926 fix(DB/ArgentTournament): Stabled Campaign Warhorse missing error message
  data/sql/updates/pending_db_world/rev_1725899053676428516.sql
  src/server/scripts/Spells/spell_generic.cpp
Labels: DB, Script, file-cpp, Tested

#19920 fix(Core/Object): do not add Object to Transport when summoned by a Vehicle
  src/server/game/Entities/Object/Object.cpp
Labels: CORE, To Be Merged, file-cpp, Tested

#19979 chore(Core/AllMapScript) Update structure
  src/server/game/Scripting/ScriptDefines/AllMapScript.cpp
  src/server/game/Scripting/ScriptDefines/AllMapScript.h
  src/server/game/Scripting/ScriptMgr.cpp
Labels: CORE, To Be Merged, file-cpp

#20012 fix(Scripts/Commands): Prevent crash if you use doublequotes in go cr…
  src/server/scripts/Commands/cs_go.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#19846 fix(DB/Creature) Ebon Blade Commander Equipment
  data/sql/updates/pending_db_world/rev_1725226115559982400.sql
Labels: DB, To Be Merged

#20004 feat(Core/Commands): Add debug command for applying a spell cooldown.
  data/sql/updates/pending_db_world/debug-cooldown.sql
  src/server/scripts/Commands/cs_debug.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp, Tested

#18332 feat(Core/Items): Delete old item id from recovery item
  data/sql/updates/pending_db_characters/rev_1707981003566465200.sql
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/database/Database/Implementation/CharacterDatabase.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
Labels: DB, CORE, Waiting to be Tested, To Be Merged, Ready to be Reviewed, file-cpp

#19130 fix(DB/quest_offer_reward): C'Thun's Legacy turnin dialogue
  data/sql/updates/pending_db_world/rev_1719113163679056400.sql
Labels: DB, To Be Merged

#19910 fix(DB/Creature): [Loot] Unyielding mobs low drop of Runecloth
  data/sql/updates/pending_db_world/2024_09_08_00.sql
Labels: DB

#18611 (Pit of Saron, AzjolNerub) assign BroadcastTextId to creature_text
  data/sql/updates/pending_db_world/txt_line_fix.sql
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/pit_of_saron.h
Labels: DB, Script, file-cpp

#20014 fix(Core/Spells): Fix Fatal Attraction procing multiple times for eac…
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, file-cpp, Tested

#18887 fix(DB/Item): Buycount adjustment for Star's Lament and Star's Tear
  data/sql/updates/pending_db_world/starstearlament.sql
Labels: DB, Ready to be Reviewed

#19577 fix(DB/Quest) - Omit deprecated Pledge of Secrecy from Goblin and Gnome Engineering Questlines.
  data/sql/updates/pending_db_world/rev_1723083294200919589.sql
Labels: DB, Ready to be Reviewed

#19567 fix(Scripts/Quest): Fires Over Skettis
  data/sql/updates/pending_db_world/rev_1722989630849981700.sql
  src/server/scripts/Spells/spell_item.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp, Tested

#20013 refactor(Core/Database): improve abort messages for mysql errors
  src/server/database/Database/MySQLConnection.cpp
  src/server/database/Database/MySQLConnection.h
Labels: CORE, Ready to be Reviewed, file-cpp

#19706 fix(DB/Creature Loot) - Update Eye and Hound Culuthas loot tables
  data/sql/updates/pending_db_world/rev_1724384703130549345.sql
Labels: DB, To Be Merged

#19987 fix(DB/Event): Love is in the Air event missing Love Boat vehicles 1
  data/sql/updates/pending_db_world/rev_1725993194571320983.sql
Labels: DB, To Be Merged, Tested

#20033 fix(Core/Loot): Fix crash for round robin loot mode when solving quest item for offline loot owner.
  src/server/game/Loot/LootMgr.cpp
Labels: CORE, file-cpp

#20005 fix(Scripts/TheEye): Kael'thas p5 transition, flight, MotionMaster:MoveTakeoff
  data/sql/updates/pending_db_world/rev_1726786940038269786.sql
  src/server/game/Movement/MotionMaster.cpp
  src/server/game/Movement/MotionMaster.h
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: DB, CORE, Script, file-cpp

#20031 fix(Core/Spells): Prevent aura application if the target is immune
  src/server/game/Spells/Spell.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#20036 fix(Scripts/BlackTemple): Correct the door announcement to only annou…
  src/server/scripts/Outland/BlackTemple/instance_black_temple.cpp
Labels: To Be Merged, Script, file-cpp

#20035 fix(DB/Creature): Fix Illidan walking to waypoints instead of flying
  data/sql/updates/pending_db_world/rev_1727190899998700700.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Tested

#20030 refactor(SQL/Quest) Rescuing the Rescuers ID 11244
  data/sql/updates/pending_db_world/rev_1727135984894325000.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: DB, CORE, file-cpp

#20015 fix(Core/Unit): fix Dual Wield for more creatures, CREATURE_FLAG_EXTRA_USE_OFFHAND_ATTACK, creature disarm damage
  data/sql/updates/pending_db_world/rev_1726975868981293914.sql
  src/server/game/AI/CoreAI/UnitAI.cpp
  src/server/game/AI/ScriptedAI/ScriptedCreature.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Entities/Creature/enuminfo_CreatureData.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerUpdates.cpp
  src/server/game/Entities/Unit/StatSystem.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Spells/Spell.cpp
Labels: DB, CORE, file-cpp, Tested

#20042 fix(Scripts/Spells): Remove immunity application from Preparation buff
  src/server/scripts/Spells/spell_generic.cpp
Labels: To Be Merged, Script, file-cpp

#20023 fix(DB/Creature): SSC - Leotheras the blind - Adds are not chained
  data/sql/updates/pending_db_world/2024_09_23_00.sql
Labels: DB, Tested

#20047 fixup (Core/Unit): fix Dual Wield for more creatures...
  src/server/game/Entities/Unit/Unit.h
Labels: CORE, file-cpp

#20049 fix(DB/Creature): Add proper unit flags to Phantom Leotheras.
  data/sql/updates/pending_db_world/phantom-leotheras-flags.sql
Labels: DB, Ready to be Reviewed

#20034 chore(DB/CreatureText) Translate text in city guards
  data/sql/updates/pending_db_world/rev_1727182333854036800.sql
Labels: DB

#20039 new BattlegroundDesertionTypes for hook OnBattlegroundDesertion
  src/server/game/Battlegrounds/Battleground.h
  src/server/game/Battlegrounds/BattlegroundQueue.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Handlers/BattleGroundHandler.cpp
  src/server/game/Server/WorldSession.cpp
Labels: CORE, To Be Merged, file-cpp

#20061 (DB/Creatures): fixup Dual Wield for creatures, remove some CREATURE_FLAG_EXTRA_USE_OFFHAND_ATTACK
  data/sql/updates/pending_db_world/rev_1727429234467651703.sql
Labels: DB, Tested

#19971 fix(Script/BlackTemple): teleport position with fatal attraction
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/scripts/Outland/BlackTemple/boss_mother_shahraz.cpp
Labels: CORE, To Be Merged, Script, file-cpp, Tested

#20071 fix(DB/Creature): remove stun immunity from Coilfang Strider
  data/sql/updates/pending_db_world/rev_1727516139226526128.sql
Labels: DB

#20064 fix(DB/Spells): Add extra craft chance for Super Healing Potion.
  data/sql/updates/pending_db_world/super-healing-extra.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed

#20074 fix(Core/Script) - Black Temple - Gurtogg Bloodboil - Bewildering Strike mechanics doesnt work as it should
  src/server/scripts/Outland/BlackTemple/boss_bloodboil.cpp
Labels: Script, file-cpp, Tested

#20081 fix(CI/Codestyle): Fix codestyle CI error introduced with the new rule for ifs.
  src/server/scripts/Outland/BlackTemple/boss_mother_shahraz.cpp
Labels: Script, file-cpp

#20080 fix(Scripts/ICC): Fix Valkyr "teleportation" effect caused by movement desynchronization between server and client.
  src/server/scripts/Northrend/IcecrownCitadel/boss_the_lich_king.cpp
Labels: Script, file-cpp

#20069 fix(Core/Battlefield): shapeshift aura removal from players on leaving arena or battleground
  src/server/game/Battlegrounds/Battleground.cpp
Labels: CORE, file-cpp

#20087 refactor(src/server/game/Handlers): remove unused imports
  src/server/game/Handlers/AddonHandler.h
  src/server/game/Handlers/AuctionHouseHandler.cpp
  src/server/game/Handlers/BankHandler.cpp
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Handlers/CombatHandler.cpp
  src/server/game/Handlers/DuelHandler.cpp
  src/server/game/Handlers/GuildHandler.cpp
  src/server/game/Handlers/NPCHandler.cpp
  src/server/game/Handlers/PetHandler.cpp
  src/server/game/Handlers/SkillHandler.cpp
  src/server/game/Handlers/SpellHandler.cpp
  src/server/game/Handlers/TaxiHandler.cpp
Labels: CORE, run-build, file-cpp

#20086 refactor(Scripts): remove unused imports
  src/server/scripts/Commands/cs_character.cpp
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter1.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.h
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_ignis.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/instance_ulduar.cpp
  src/server/scripts/Outland/HellfireCitadel/BloodFurnace/blood_furnace.h
  src/server/scripts/World/go_scripts.cpp
Labels: Script, run-build, file-cpp

#19505 refactor(src/server/apps|database|shared): remove unused imports
  src/server/apps/authserver/Authentication/AuthCodes.h
  src/server/apps/authserver/Main.cpp
  src/server/apps/authserver/Server/AuthSession.cpp
  src/server/apps/authserver/Server/AuthSession.h
  src/server/apps/worldserver/ACSoap/ACSoap.h
  src/server/apps/worldserver/RemoteAccess/RASession.h
  src/server/database/Database/AdhocStatement.cpp
  src/server/database/Database/DatabaseEnv.h
  src/server/database/Database/DatabaseEnvFwd.h
  src/server/database/Database/Field.cpp
  src/server/database/Database/Field.h
  src/server/database/Database/MySQLConnection.cpp
  src/server/database/Database/MySQLConnection.h
  src/server/database/Database/PreparedStatement.cpp
  src/server/database/Database/PreparedStatement.h
  src/server/database/Database/QueryCallback.h
  src/server/database/Database/Transaction.h
  src/server/database/Updater/DBUpdater.cpp
  src/server/database/Updater/UpdateFetcher.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.h
  src/server/shared/DataStores/DBCDatabaseLoader.cpp
  src/server/shared/DataStores/DBCDatabaseLoader.h
  src/server/shared/DataStores/DBCStorageIterator.h
  src/server/shared/DataStores/DBCStructure.h
  src/server/shared/Realms/Realm.cpp
  src/server/shared/Realms/RealmList.h
  src/server/shared/Secrets/SecretMgr.cpp
  src/server/shared/Secrets/SecretMgr.h
Labels: CORE, To Be Merged, Ready to be Reviewed, run-build, file-cpp

#20098 refactor(src/server/game/Movement): remove unused imports
  src/server/game/Movement/MovementGenerator.h
  src/server/game/Movement/MovementGenerators/ConfusedMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/EscortMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/FleeingMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/PointMovementGenerator.cpp
Labels: CORE, run-build, file-cpp

#20097 refactor(src/server/game/Battle*): remove unused imports
  src/server/game/Battlefield/Battlefield.h
  src/server/game/Battlefield/Zones/BattlefieldWG.h
  src/server/game/Battlegrounds/ArenaScore.h
  src/server/game/Battlegrounds/ArenaTeam.h
  src/server/game/Battlegrounds/BattlegroundMgr.h
  src/server/game/Battlegrounds/BattlegroundScore.h
  src/server/game/Battlegrounds/Zones/BattlegroundAV.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundEY.h
  src/server/game/Battlegrounds/Zones/BattlegroundRV.cpp
Labels: CORE, run-build, file-cpp

#20096 refactor(src/server/game/Entities): remove unused imports
  src/server/game/Entities/DynamicObject/DynamicObject.cpp
  src/server/game/Entities/GameObject/GameObjectData.h
  src/server/game/Entities/Player/PlayerStorage.cpp
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, To Be Merged, run-build, file-cpp

#20100 fix(Core/GuardAI): Fix crash that happens in GuardAI when killer is null.
  src/server/game/AI/CoreAI/GuardAI.cpp
Labels: CORE, file-cpp
