Repository azerothcore/azerothcore-wotlk, pull requests merged in 2024-08, with the labels that each got.

#19488 fix(Scripts/HyjalSummit): Adjust Air Burst cast targetting.
  data/sql/updates/pending_db_world/air-burst-script.sql
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_archimonde.cpp
Labels: DB, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#19543 fix(Scripts/BlackTemple): Mother Shahraz should not use frenzy
  src/server/scripts/Outland/BlackTemple/boss_mother_shahraz.cpp
Labels: To Be Merged, Script, file-cpp

#19144 fix(Core/Spells): Flame Wave
  data/sql/updates/pending_db_world/rev_1719208787140826600.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, file-cpp

#19549 fix(Core/Spells): Chromatic Resistance Aura shouldn't give holy resis…
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#19556 fix(DB/Creature): Add taunt immunity to Archimonde.
  data/sql/updates/pending_db_world/archi-taunt.sql
Labels: DB, Ready to be Reviewed

#19557 fix (DB/Creature) Adjust Warpslinter max standing to go above friendly
  data/sql/updates/pending_db_world/rev_1722866773520106000.sql
Labels: DB, To Be Merged

#19558 feat(Scripts/Commands): Morph Mount
  data/sql/updates/pending_db_world/rev_1722817302187444800.sql
  src/server/scripts/Commands/cs_modify.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp

#19560 fix(DB/Loot): Update uncommon drops for Ethereum prisoner creatures.
  data/sql/updates/pending_db_world/ethereum-redux.sql
Labels: DB, Ready to be Reviewed

#19544 fix(Scripts/Hyjal): Anetheron dont sleep main tank
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_anetheron.cpp
Labels: To Be Merged, Script, file-cpp

#19561 fix(Scripts/BlackTemple): Mother Shahraz Periodic part 2
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/Outland/BlackTemple/boss_mother_shahraz.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#19563 fix(DB/Creature): Adjust various values of Black Temple creatures.
  data/sql/updates/pending_db_world/black-temple-values.sql
Labels: DB, Ready to be Reviewed

#19570 fix(Scripts/ShadowmoonValley): Dragonmaw Races Reset
  src/server/scripts/Outland/zone_shadowmoon_valley.cpp
Labels: Ready to be Reviewed, Script, file-cpp, Tested

#19490 refactor(Core/World): Move SendGMText to ChatHandler and allow `fmt`
  data/sql/updates/pending_db_world/rev_1722121237522834800.sql
  src/server/game/Chat/Chat.cpp
  src/server/game/Chat/Chat.h
  src/server/game/Handlers/TicketHandler.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/scripts/Commands/cs_message.cpp
  src/test/mocks/WorldMock.h
Labels: DB, CORE, Ready to be Reviewed, Script, UnitTests, file-cpp

#19491 refactor(Core/Chat): Move SendNotification to ChatHander
  src/server/game/Battlegrounds/Battleground.cpp
  src/server/game/Chat/Chat.cpp
  src/server/game/Chat/Chat.h
  src/server/game/Entities/Player/PlayerGossip.cpp
  src/server/game/Handlers/AuctionHouseHandler.cpp
  src/server/game/Handlers/BattleGroundHandler.cpp
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Handlers/ChatHandler.cpp
  src/server/game/Handlers/GroupHandler.cpp
  src/server/game/Handlers/MailHandler.cpp
  src/server/game/Handlers/MiscHandler.cpp
  src/server/game/Handlers/QuestHandler.cpp
  src/server/game/Handlers/TicketHandler.cpp
  src/server/game/Handlers/TradeHandler.cpp
  src/server/game/Instances/InstanceScript.cpp
  src/server/game/Server/WorldSession.cpp
  src/server/game/Server/WorldSession.h
  src/server/game/Spells/SpellEffects.cpp
  src/server/scripts/Commands/cs_gm.cpp
  src/server/scripts/Commands/cs_misc.cpp
  src/server/scripts/World/go_scripts.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#19585 refactor(Core/ChatHandler): Cleanup retriving session and checking fo…
  src/server/game/Chat/Chat.cpp
  src/server/game/Chat/Chat.h
Labels: CORE, Ready to be Reviewed, file-cpp

#19593 fix(Core/Chat): Correct misstake in b81bcfb causing outputs to CLI not working properly
  src/server/game/Chat/Chat.cpp
  src/server/game/Chat/Chat.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#19601 fix(Core/Entities): Only add use to spell caster objects if cast succeeds.
  src/server/game/Entities/GameObject/GameObject.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19612 fix(Shared/Socket): incorrect nodiscard flag
  src/server/shared/Network/Socket.h
Labels: CORE, Ready to be Reviewed, file-cpp

#19605 fix(Core/SpellInfo): Disallow damage scaling trigger spells to get scaled twice.
  src/server/game/Spells/SpellInfo.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19599 fix(Core/Spells): Adjust ownership and follow logic for guardian summons.
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#19602 fix(Core): Ritual animations
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellDefines.h
Labels: CORE, Ready to be Reviewed, file-cpp, Requires WIKI Update, Tested

#19545 docs: small improvements to the AUTHORS page
  AUTHORS
Labels: To Be Merged

#19546 fix(Scripts): Rewrite Level 70 Elite Tauren Chieftain.
  data/sql/updates/pending_db_world/l70-etc.sql
  data/sql/updates/pending_db_world/shattrath-saul.sql
  src/server/scripts/World/go_scripts.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp

#19604 fix(Core/Spell) Ritual spells cooldown on cancel
  src/server/game/Spells/Spell.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19600 fix(Core): Adjustments to summoning ritual object handling.
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19475 feat(DB/Module): introduce module_string table
  data/sql/updates/pending_db_world/rev_1721853644831454300.sql
  src/server/game/Chat/Chat.cpp
  src/server/game/Chat/Chat.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Server/WorldSession.cpp
  src/server/game/Server/WorldSession.h
  src/server/game/World/World.cpp
  src/server/scripts/Commands/cs_reload.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp, Requires WIKI Update

#19615 fix(Core/Creature): quest_greeting_locale
  data/sql/updates/pending_db_world/rev_1723569725185190500.sql
  src/server/game/Entities/Creature/GossipDef.cpp
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/World/World.cpp
  src/server/scripts/Commands/cs_reload.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp

#19618 feat(Core/LFG): Option to disable deserter
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/DungeonFinding/LFGScripts.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19619 chore(Script/Misc): cleanup
  apps/Fmt/FormatReplace.py
  src/server/game/Battlegrounds/BattlegroundQueue.cpp
  src/server/game/Spells/Auras/SpellAuras.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellScript.cpp
  src/server/game/Tickets/TicketMgr.cpp
  src/server/scripts/Commands/PlayerCommand.cpp
  src/server/scripts/Commands/cs_account.cpp
  src/server/scripts/Commands/cs_bag.cpp
  src/server/scripts/Commands/cs_ban.cpp
  src/server/scripts/Commands/cs_character.cpp
  src/server/scripts/Commands/cs_debug.cpp
  src/server/scripts/Commands/cs_inventory.cpp
  src/server/scripts/Commands/cs_lookup.cpp
  src/server/scripts/Commands/cs_message.cpp
  src/server/scripts/Commands/cs_misc.cpp
  src/server/scripts/Commands/cs_mmaps.cpp
  src/server/scripts/Commands/cs_modify.cpp
  src/server/scripts/Commands/cs_npc.cpp
  src/server/scripts/Commands/cs_quest.cpp
  src/server/scripts/Commands/cs_tele.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#19627 Revert "chore(Script/Misc): cleanup"
  apps/Fmt/FormatReplace.py
  src/server/game/Battlegrounds/BattlegroundQueue.cpp
  src/server/game/Spells/Auras/SpellAuras.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellScript.cpp
  src/server/game/Tickets/TicketMgr.cpp
  src/server/scripts/Commands/PlayerCommand.cpp
  src/server/scripts/Commands/cs_account.cpp
  src/server/scripts/Commands/cs_bag.cpp
  src/server/scripts/Commands/cs_ban.cpp
  src/server/scripts/Commands/cs_character.cpp
  src/server/scripts/Commands/cs_debug.cpp
  src/server/scripts/Commands/cs_inventory.cpp
  src/server/scripts/Commands/cs_lookup.cpp
  src/server/scripts/Commands/cs_message.cpp
  src/server/scripts/Commands/cs_misc.cpp
  src/server/scripts/Commands/cs_mmaps.cpp
  src/server/scripts/Commands/cs_modify.cpp
  src/server/scripts/Commands/cs_npc.cpp
  src/server/scripts/Commands/cs_quest.cpp
  src/server/scripts/Commands/cs_tele.cpp
Labels: CORE, Script, file-cpp

#19622 refactor(Core/Entities): Cleanup Unit header file
  src/server/game/Combat/ThreatMgr.h
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Item/Item.h
  src/server/game/Entities/Pet/Pet.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Unit/CharmInfo.cpp
  src/server/game/Entities/Unit/CharmInfo.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Entities/Unit/UnitDefines.h
  src/server/game/Entities/Unit/UnitUtils.h
  src/server/game/Entities/Vehicle/Vehicle.h
  src/server/game/Handlers/PetHandler.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19633 fix(Core/Entities): crash fix cause by a pointer change in #19622
  src/server/game/AI/CoreAI/PetAI.cpp
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/CharmInfo.cpp
  src/server/game/Entities/Unit/CharmInfo.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Spells/Spell.cpp
Labels: CORE, file-cpp

#19630 fix(Core/PlayerUpdates): incorrect backslash in a debug_log
  src/server/game/Entities/Player/PlayerUpdates.cpp
Labels: CORE, file-cpp

#19634 fix(CI/MacOS): Fix macOS mysql setup.
  apps/ci/mac/ci-compile.sh
Labels: Bash, run-build

#19646 fix(DB/Creature): High Nethermancer Zerevor taunt & interrupt immunity
  data/sql/updates/pending_db_world/rev_1723822265566661700.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19639 fix(DB/Creature): Gathios the Shatterer taunt immunity
  data/sql/updates/pending_db_world/rev_1723769203579692900.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19642 fix(DB/Creature): Remove Veras Darkshadow stun immunity
  data/sql/updates/pending_db_world/rev_1723780227197753900.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19285 chore(APPS/installer): Detection of BSD* OS
  apps/installer/includes/functions.sh
Labels: Bash

#19664 fix(Core/Spells): Revert ownership and follow logic adjustment for guardian summons.
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19537 apps(docker): Fix Warnings in Dockerfile
  apps/docker/Dockerfile
Labels: Platform-Docker, Ready to be Reviewed, run-build

#19666 fix(Core/Spell): check for player before dereferencing
  src/server/game/Spells/Spell.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#19640 fix(Scripts/BlackTemple): Gathios Judgment spell should consume seals
  src/server/scripts/Outland/BlackTemple/illidari_council.cpp
Labels: To Be Merged, Script, file-cpp

#19669 fix(Core/Creature): Nullcheck for questgreeting greeting
  src/server/game/Entities/Creature/GossipDef.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19629 fix(Dep/Boost): corrects a warning about path changes in boost process
  src/common/Utilities/StartProcess.cpp
Labels: CORE, Ready to be Reviewed, run-build, file-cpp

#19674 fix(Script/Vehicles): The next player entering Salvaged Siege Engine …
  src/server/scripts/Northrend/Ulduar/Ulduar/ulduar.cpp
Labels: Script, file-cpp

#19650 fix(Core/Map): Exempt raids from the hourly limit
  src/server/game/Maps/MapMgr.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#19620 fix(DB/SAI): Aether Ray spells and timers
  data/sql/updates/pending_db_world/rev_1723619543080521000.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed

#19529 fix (Core/Spells) remove object size for hit calculation of aoe aura spells that target enemies
  src/server/game/Grids/Notifiers/GridNotifiers.h
  src/server/game/Spells/Spell.cpp
Labels: CORE, file-cpp, To Be Merged - Later

#19653 Fix(black temple) gathios the shatterer shouldnt use hammer of justice on random players
  src/server/scripts/Outland/BlackTemple/illidari_council.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#19682 fix(DB/Creature): Essence of Desire & Essence of Suffering taunt immu…
  data/sql/updates/pending_db_world/rev_1724025497789221500.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19676 refactor(Core/Misc): Use NpcFlag helpers
  src/server/game/AI/CoreAI/PassiveAI.cpp
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjal.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_yoggsaron.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#19446 fix(Core/PetHandler): Allow PetAI to handle flags
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Handlers/PetHandler.cpp
Labels: CORE, Waiting to be Tested, file-cpp

#19621 fix(DB/SAI): Hemathion spells and timers
  data/sql/updates/pending_db_world/rev_1723613411731670300.sql
Labels: DB, Ready to be Reviewed, Tested

#19686 fix(DB/Creature): Correct Greater Fire Elemental template values.
  data/sql/updates/pending_db_world/ele-class.sql
Labels: DB, Ready to be Reviewed

#19641 fix(Scripts/BlackTemple): Fatal Attraction
  data/sql/updates/pending_db_world/rev_1723778762924716800.sql
  src/server/scripts/Outland/BlackTemple/boss_mother_shahraz.cpp
Labels: DB, To Be Merged, Script, file-cpp

#19638 fix(Core/Spells): Power of the Guardian should persist through death
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, file-cpp

#19643 chore(Debug/Scripting): improve debug errors during the unloading scripts
  src/server/game/Scripting/ScriptMgr.cpp
Labels: CORE, file-cpp

#18897 fix(sql): added end RP for Harlan Needs a Resupply Quest
  data/sql/updates/pending_db_world/rev_1715685551507749400.sql
Labels: DB, To Be Merged, Tested

#19636 fix(Scripts/SethekkHalls): Prevent multiple spawns of Anzu
  data/sql/updates/pending_db_world/rev_1723763212128826500.sql
  src/server/scripts/Outland/Auchindoun/SethekkHalls/instance_sethekk_halls.cpp
  src/server/scripts/Outland/Auchindoun/SethekkHalls/sethekk_halls.h
Labels: DB, Ready to be Reviewed, Script, file-cpp, Tested

#19573 fix(DB/Quest): deeprun rat roundup
  data/sql/updates/pending_db_world/rev_1722804930814975200.sql
Labels: DB, Ready to be Reviewed

#19684 fix(Core/Spells): Fix movement impairment auras not being removed
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/SpellInfo.cpp
  src/server/game/Spells/SpellInfo.h
Labels: CORE, Ready to be Reviewed, file-cpp, Tested

#19703 fix (Core/Spells) partially revert #19529
  src/server/game/Spells/Spell.cpp
Labels: CORE, file-cpp

#19702 fix(Core/WorldSocketMgr): sync default Network.OutUBuff with worldser…
  src/server/game/Server/WorldSocketMgr.cpp
Labels: CORE, file-cpp

#19649 fix(apps/installer): update for Debian 12 using mysql
  apps/installer/includes/os_configs/debian.sh
Labels: Ready to be Reviewed, Bash

#19672 fix(Scripts/BlackTemple) Gathios the Shatterer shouldnt use the same spell twice in a row
  src/server/scripts/Outland/BlackTemple/illidari_council.cpp
Labels: Script, file-cpp

#19611 fix(DB/RP): Add missing RP for Recover the Cargo!
  data/sql/updates/pending_db_world/gossip_8934.sql
Labels: DB, To Be Merged, Tested

#19736 refactor(Scripts/TempleOfAhnQiraj): Clean up Cthun script
  src/server/game/AI/ScriptedAI/ScriptedCreature.h
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_cthun.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#19696 fix(Core/Spell) Reset cd on some channeled spells
  src/server/game/Spells/Spell.cpp
Labels: CORE, Ready to be Reviewed, file-cpp, Tested

#19614 fix(DB/SAI): Twilight Prophet - Incorrect target type resulting to an…
  data/sql/updates/pending_db_world/rev_1723561675882603800.sql
Labels: DB

#19730 fix(Scripts/BlackTemple): L5 Arcane Charge should be modified by dama…
  data/sql/updates/pending_db_world/rev_1724540286668312700.sql
  src/server/scripts/Outland/BlackTemple/instance_black_temple.cpp
  src/server/scripts/Spells/spell_generic.cpp
Labels: DB, Waiting to be Tested, Script, file-cpp

#19603 fix (Core/Unit) add AutoRpeatSpell delay to Auto Shot as well
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, To Be Merged, file-cpp

#19742 refactor(Scripts/RuinsOfAhnQiraj): Clean up Ayamiss script
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_ayamiss.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#19732 fix(DB/Creature): Added dialogue for the mob "Pilot Bellowfiz" (1378) when idle
  data/sql/updates/pending_db_world/rev_1724552482874297000.sql
Labels: DB

#19737 fix(apps/installer): update for Ubuntu 22.04/24.04 with mysql 8.4 LTS
  apps/installer/includes/os_configs/ubuntu.sh
Labels: Ready to be Reviewed, Bash

#19744 refactor(Scripts/BlackTemple): Update the Illidari Council script to the new registration method
  src/server/scripts/Outland/BlackTemple/boss_illidari_council.cpp
  src/server/scripts/Outland/BlackTemple/illidari_council.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#19714 chore(Apps/CodeStyle): rewrite Ci-codestyle in python
  .github/workflows/codestyle.yml
  apps/ci/ci-codestyle.sh
  apps/codestyle/codestyle.py
Labels: Workflow, To Be Merged, Bash

#19755 fix(DB/Creature): Adjust Illidan Stormrage's class.
  data/sql/updates/pending_db_world/illidan-class.sql
Labels: DB, Ready to be Reviewed

#19760 fix(Core/SpellMgr): Remove binary attribute from Drain Soul.
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19757 fix(Scripts/BlackTemple): Improve Illidari Council Empyreal Balance.
  data/sql/updates/pending_db_world/illidari-empyreal-balance.sql
  src/server/scripts/Outland/BlackTemple/boss_illidari_council.cpp
Labels: DB, Script, file-cpp

#19756 fix(Scripts/Spells): General's Heart trinket
  data/sql/updates/pending_db_world/rev_1724764338252798941.sql
  src/server/scripts/Spells/spell_generic.cpp
Labels: DB, Script, file-cpp

#19752 fix(Scripts/Spells): L1 Arcane Charge should hit 3 targets
  data/sql/updates/pending_db_world/rev_1724722289062405500.sql
  src/server/scripts/Spells/spell_generic.cpp
Labels: DB, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#19745 feat(Scripts/Commands): Implement "pct" optional to the damage command
  src/server/scripts/Commands/cs_misc.cpp
Labels: To Be Merged, Ready to be Reviewed

#19731 fix(DB/Creature): Added SmartAi to the creature "Warlord Zim'bo" (26544).
  data/sql/updates/pending_db_world/rev_1724552033443919200.sql
Labels: DB

#19763 fix(Core/Creature): Fix grace period for can attack check.
  src/server/game/Entities/Creature/Creature.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19762 refactor(Core/SpellMgr): Remove nested ifs for binary evaluation.
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19750 fix(Core/Pool): Fix degradation of pools over time
  src/server/game/Pools/PoolMgr.cpp
Labels: CORE, Waiting to be Tested, file-cpp

#19734 fix(DB/Creature): Quest Therylune's Escape - party completion issue
  data/sql/updates/pending_db_world/2024_08_25_01.sql
Labels: DB

#19733 fix(DB/Creature): Quest Escape through Force - party completion issue
  data/sql/updates/pending_db_world/2024_08_25_00.sql
Labels: DB

#19707 fix(DB/Creature):Quest Precarious Predicament does not complete
  data/sql/updates/pending_db_world/2024_08_23_00.sql
Labels: DB

#19677 docs(Core): improve several functions documentation
  src/server/game/AI/CoreAI/UnitAI.cpp
  src/server/game/AI/CoreAI/UnitAI.h
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Movement/MotionMaster.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19499 feat(Core/SmartScripts): Implement Scripted Spawn System
  data/sql/updates/pending_db_world/rev_1717715555182000500.sql
  src/server/game/AI/SmartScripts/SmartAI.cpp
  src/server/game/AI/SmartScripts/SmartAI.h
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: DB, CORE, Ready to be Reviewed, file-cpp, Requires WIKI Update

#19772 chore(SQL): Collision in 2024_08_28_03.sql
  data/sql/updates/db_world/2024_08_28_03.sql
Labels: DB

#19542 fix(DB) Removes Quel'dorei Ghosts/Wraiths text reference to broadcast_text 12690
  data/sql/updates/pending_db_world/rev_1722505977523322600.sql
Labels: DB, Ready to be Reviewed

#19775 fix(DB/Waypoints): Set Promenade Sentinels to walk their paths.
  data/sql/updates/pending_db_world/promenade-running.sql
Labels: DB, Ready to be Reviewed

#18087 fix(scripts/npc_calvin_montague) Added emotes when completing quests
  data/sql/updates/pending_db_world/rev_1704025138911597700.sql
  src/server/scripts/EasternKingdoms/eastern_kingdoms_script_loader.cpp
  src/server/scripts/EasternKingdoms/zone_tirisfal_glades.cpp
Labels: DB, Script, file-cpp

#19787 fix(GossipMenu) Dalaran guide guards
  data/sql/updates/pending_db_world/rev_1724894325123537700.sql
Labels: DB, To Be Merged

#19779 fix(DB/Creature): Correct Promenade Sentinel speed.
  data/sql/updates/pending_db_world/promenade-speed.sql
Labels: DB, Ready to be Reviewed

#19770 fix(Scripts/BlackTemple): Adjust handling for Shared Rule spell.
  data/sql/updates/pending_db_world/shared-rule.sql
  src/server/scripts/Outland/BlackTemple/boss_illidari_council.cpp
Labels: DB, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#19725 fix(Conf): drop unused options from worldserver.conf.dist
  src/server/apps/worldserver/worldserver.conf.dist
Labels: CORE, Ready to be Reviewed

#19800 fix(DB/Creature): Add taunt immunity to Gurtogg Bloodboil.
  data/sql/updates/pending_db_world/bloodboil-taunt.sql
Labels: DB, Ready to be Reviewed

#19648 fix(Scripts/TempestKeep): revamp Kael'Thas
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#19801 fix(Scripts/TheEye): Kaelthas remove enchanted weapons
  data/sql/updates/pending_db_world/rev_1725040501028883764.sql
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp

#19809 fix(Scripts/BlackTemple): Ensure Illidari council health is balanced across wipes.
  src/server/scripts/Outland/BlackTemple/boss_illidari_council.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#19808 fix(Scripts/BlackTemple): Call evade for Council creature when members evade.
  src/server/scripts/Outland/BlackTemple/boss_illidari_council.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#19811 fix(Core/CharmInfo): Respect charm spell indices when adding to action bar.
  src/server/game/Entities/Unit/CharmInfo.cpp
  src/server/game/Entities/Unit/CharmInfo.h
Labels: CORE, Ready to be Reviewed, file-cpp, Tested

#19816 fix(Core/AI): remove an unused variable in ScriptedAI
  src/server/game/AI/ScriptedAI/ScriptedCreature.cpp
  src/server/game/AI/ScriptedAI/ScriptedCreature.h
Labels: CORE, file-cpp

#19813 fix(DB/Creature) SSC - Greyheart Spellbinder miss Banish ability
  data/sql/updates/pending_db_world/2024_08_31_01.sql
Labels: DB

#19814 fix(DB/Item): Feathermoon Headdress has the wrong stats
  data/sql/updates/pending_db_world/2024_08_31_02.sql
  src/server/game/Globals/ObjectMgr.cpp
Labels: DB, CORE, Ready to be Reviewed, file-cpp, Tested

#19778 fix(CI/codestyle): bump dependencies for Node.js 20
  .github/workflows/codestyle.yml
Labels: Workflow, Ready to be Reviewed

#18931 fix(ICC/Deathbringer Saurfang) NPC Muradin Dialogues
  src/server/game/Entities/Creature/Creature.cpp
  src/server/scripts/Northrend/IcecrownCitadel/instance_icecrown_citadel.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#19820 fix(Scripts/BlackTemple): Fix Mother Shahraz teleport
  src/server/scripts/Outland/BlackTemple/boss_mother_shahraz.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#19830 refactor(Core): Correct typo.
  src/server/game/Achievements/AchievementMgr.cpp
  src/server/game/Achievements/AchievementMgr.h
  src/server/game/Entities/Item/ItemTemplate.h
  src/server/game/Entities/Player/PlayerStorage.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/instance_trial_of_the_crusader.cpp
  src/server/scripts/Spells/spell_generic.cpp
  src/server/shared/SharedDefines.h
  src/server/shared/enuminfo_SharedDefines.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#19828 refactor(Core/Item): Add helpers
  apps/codestyle/codestyle.py
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Entities/Item/Item.cpp
  src/server/game/Entities/Item/Item.h
  src/server/game/Entities/Item/ItemTemplate.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/PlayerStorage.cpp
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Groups/Group.cpp
  src/server/game/Handlers/AuctionHouseHandler.cpp
  src/server/game/Handlers/ItemHandler.cpp
  src/server/game/Handlers/LootHandler.cpp
  src/server/game/Handlers/MailHandler.cpp
  src/server/game/Handlers/SpellHandler.cpp
  src/server/game/Handlers/TradeHandler.cpp
  src/server/game/Loot/LootItemStorage.cpp
  src/server/game/Loot/LootMgr.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, Ready to be Reviewed, file-cpp
