Repository azerothcore/azerothcore-wotlk, pull requests merged in 2024-12, with the labels that each got.

#20768 fix(DB/Creature) Scarlet Infantrymen.
  data/sql/updates/pending_db_world/scarlet_infantrymen.sql
Labels: DB, To Be Merged

#20801 fix(Scripts/Commands) fix formatting in server debug
  src/server/scripts/Commands/cs_server.cpp
Labels: Script, file-cpp

#20800 fix(Core/Spells): Logic misstake for spells that can be cast on dead …
  src/server/game/Spells/SpellInfo.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#20796 refactor(Scripts/VioletHold): Move all spells to spelldifficul…
  data/sql/updates/pending_db_world/rev_1733008614260192200.sql
  src/server/scripts/Northrend/VioletHold/boss_cyanigosa.cpp
  src/server/scripts/Northrend/VioletHold/boss_erekem.cpp
  src/server/scripts/Northrend/VioletHold/boss_ichoron.cpp
  src/server/scripts/Northrend/VioletHold/boss_lavanthor.cpp
  src/server/scripts/Northrend/VioletHold/boss_moragg.cpp
  src/server/scripts/Northrend/VioletHold/boss_xevozz.cpp
  src/server/scripts/Northrend/VioletHold/boss_zuramat.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#20802 refactor(Core/Spells): Add helpers for HasAuraType
  src/server/game/AI/CoreAI/PetAI.cpp
  src/server/game/Battlegrounds/Battleground.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundSA.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/PlayerStorage.cpp
  src/server/game/Entities/Player/PlayerUpdates.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Grids/Notifiers/GridNotifiers.cpp
  src/server/game/Grids/Notifiers/GridNotifiers.h
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Handlers/MiscHandler.cpp
  src/server/game/Handlers/PetHandler.cpp
  src/server/game/Handlers/SpellHandler.cpp
  src/server/game/Server/WorldSession.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellEffects.cpp
  src/server/game/Spells/SpellInfo.cpp
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/Commands/cs_reset.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_broodlord_lashlayer.cpp
  src/server/scripts/Events/hallows_end.cpp
  src/server/scripts/Events/winter_veil.cpp
  src/server/scripts/Northrend/ChamberOfAspects/RubySanctum/boss_halion.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_faction_champions.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_twin_valkyr.cpp
  src/server/scripts/Northrend/FrozenHalls/HallsOfReflection/halls_of_reflection.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_lord_marrowgar.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_sindragosa.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_mimiron.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_yoggsaron.cpp
  src/server/scripts/Northrend/zone_storm_peaks.cpp
  src/server/scripts/Pet/pet_generic.cpp
  src/server/scripts/Spells/spell_dk.cpp
  src/server/scripts/Spells/spell_generic.cpp
  src/server/scripts/Spells/spell_item.cpp
  src/server/scripts/Spells/spell_quest.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#20719 fix(Scripts/ZulAman): eagle gauntlet
  data/sql/updates/pending_db_world/rev_1732461302175126777.sql
  src/server/scripts/EasternKingdoms/ZulAman/instance_zulaman.cpp
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.cpp
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.h
Labels: DB, Script, file-cpp

#20804 feat(Core/SAI): Add pet variable to SMART_TARGET_INVOKER_PARTY
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: CORE, Ready to be Reviewed, file-cpp

#20808 fix(Scripts/ZulAman): Fix Zuljin targetting players during eagle phase
  src/server/scripts/EasternKingdoms/ZulAman/boss_zuljin.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20810 chore(Scripts/Karazhan): Remove unused variables
  src/server/scripts/EasternKingdoms/Karazhan/instance_karazhan.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20723 fix(Core/Players): don't set full heath/mana/rage while Dead
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, To Be Merged, file-cpp

#20760 fix(Core/Vmaps): Do not ignore model rotation when calculating liquid level
  src/common/Collision/Models/ModelInstance.cpp
Labels: CORE, Waiting to be Tested, file-cpp

#20614 fix(Core/Pet) Remove unnecessary Pet Class reassignments
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, Waiting to be Tested, file-cpp

#20762 fix(DB/Quest) - Added the missing NPC Starters for Regthar Deathgate
  data/sql/updates/pending_db_world/rev_1732828124635270700.sql
Labels: DB, Ready to be Reviewed

#20812 fix(DB/Gameobject): Sniffed Values for 'Log Pile' spawns
  data/sql/updates/pending_db_world/rev_1733085332800762800.sql
Labels: DB, Ready to be Reviewed

#20814 fix(DB/Quest) - Removed breadcrum quest from The Crown of Will (2/5)
  data/sql/updates/pending_db_world/rev_1733102613803729900.sql
Labels: DB, Ready to be Reviewed

#20805 feat(Core/Scripting): Implement SetAutoAttackAllowed() to disable aut…
  src/server/game/AI/ScriptedAI/ScriptedCreature.cpp
  src/server/game/AI/ScriptedAI/ScriptedCreature.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#20815 fix(Tools/MapExtractor) Update MPQ patch iterator to also load patch files 4 through 9
  src/tools/map_extractor/System.cpp
Labels: CORE, run-build, file-cpp

#20817 fix (DB/Loot) Critters are not skinnable
  data/sql/updates/pending_db_world/rev_1733152346182084675.sql
Labels: DB

#20819 feat(Core/Unit): Implement GetCompanionPet() helper
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#20813 fix(DB/Creature) - Eydis Darkbane no longer stuck under the ground
  data/sql/updates/pending_db_world/rev_1733101752745206200.sql
Labels: DB, Ready to be Reviewed

#20818 fix (DB/Loot) Old Hillsbrad Foothills guards should not skinnable
  data/sql/updates/pending_db_world/rev_1733154050654802692.sql
Labels: DB

#20828 fix(Scripts/ZulAman): Overpower spell cooldown
  src/server/scripts/EasternKingdoms/ZulAman/boss_zuljin.cpp
Labels: To Be Merged, Ready to be Reviewed

#20447 fix(DB/Conditions): 'Zeth'Gor Must Burn!' setting the sky on fire
  data/sql/updates/pending_db_world/rev_1730814217046191100.sql
Labels: DB, To Be Merged, Tested

#20312 Fix(DB/Script): Halls of Stone, Brann escort
  data/sql/updates/pending_db_world/rev_1729968739299017200.sql
  src/server/scripts/Northrend/Ulduar/HallsOfStone/boss_sjonnir.cpp
  src/server/scripts/Northrend/Ulduar/HallsOfStone/brann_bronzebeard.cpp
  src/server/scripts/Northrend/Ulduar/HallsOfStone/halls_of_stone.h
  src/server/scripts/Northrend/Ulduar/HallsOfStone/instance_halls_of_stone.cpp
Labels: DB, Script, file-cpp, Tested

#20833 fix(DB/SAI): Swiftmane Waypoint ReactState
  data/sql/updates/pending_db_world/rev_1733253947081144253.sql
Labels: DB

#20832 fix(CI/nopch-modules): bump to ubuntu-24.04/clang-18, align with nopc…
  .github/workflows/core_modules_build.yml
Labels: Workflow, To Be Merged, Ready to be Reviewed, file-cpp

#20838 fix(Scripts/Karazhan): Nightbane Speed
  src/server/scripts/EasternKingdoms/Karazhan/boss_nightbane.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#20842 fix(Scripts/ZulAman): Akil'zon storm damage should multiply per tick
  data/sql/updates/pending_db_world/rev_1733366049086007200.sql
  src/server/scripts/EasternKingdoms/ZulAman/boss_akilzon.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#20153 fix(Core/SpellAuraEffects): use caster's level to scale amount to break crowd control auras
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: CORE, To Be Merged, file-cpp

#20827 fix(DB/Creatures) Scarlet Enclave phase 4 npcs (1-2).
  data/sql/updates/pending_db_world/Scarlet_Enclave_Phase_4.sql
Labels: DB, To Be Merged

#20854 fix(DB/Gameobject): Sniffed Values for 'Boss Fight Altar' spawns
  data/sql/updates/pending_db_world/rev_1733563031329419100.sql
Labels: DB, Ready to be Reviewed, World Event

#20853 fix(DB/Gameobject): Sniffed Values for 'DwarvenTableSmall' spawns
  data/sql/updates/pending_db_world/rev_1733557953974539700.sql
Labels: DB, Ready to be Reviewed, World Event

#20851 fix(DB/Gameobject): Sniffed Values for 'Starsong Scroll' spawns
  data/sql/updates/pending_db_world/rev_1733520787103950300.sql
Labels: DB, Ready to be Reviewed, World Event

#20850 fix(DB/Gameobject): Sniffed Values for 'Lucky Red Envelope' spawns
  data/sql/updates/pending_db_world/rev_1733520465657996700.sql
Labels: DB, Ready to be Reviewed, World Event

#20849 fix(DB/Gameobject): Improve spawns positions of 180867 `Greater Moonl…
  data/sql/updates/pending_db_world/rev_1733518561776718500.sql
Labels: DB, Ready to be Reviewed, World Event

#20852 fix(DB/Creatures) Scarlet Enclave phase 4 npcs (2-2).
  data/sql/updates/pending_db_world/Scarlet_Enclave_Phase_4_2_of_2.sql
Labels: DB, To Be Merged

#20861 Fix(DB/Spawn) Silt Crawlers under the landscape (another two).
  data/sql/updates/pending_db_world/Silt_Crawlers.sql
Labels: DB, To Be Merged, Tested

#20867 fix(Core/AI): Increase movement leash extension interval.
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.h
Labels: CORE, To Be Merged, file-cpp, Tested

#20866 fix(DB/Creature): Sniffed Values for 'Lunar - Revelers' spawns
  data/sql/updates/pending_db_world/rev_1733661355303660900.sql
Labels: DB, To Be Merged, World Event

#20874 fix(Scripts/SunwellPlateau): Fix Entropius despawning
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_muru.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20875 fix(Scripts/ZulAman): Zuljin abilities shouldnt overlap
  src/server/scripts/EasternKingdoms/ZulAman/boss_zuljin.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20763 fix(DB/Creature) - Removed the profession requirement to interact with trainer
  data/sql/updates/pending_db_world/rev_1732828384228776300.sql
Labels: DB, To Be Merged

#20888 fix(DB/Creature)Amani Eagle doesn't use Talon ability.
  data/sql/updates/pending_db_world/Amani_Eagle_Talon.sql
Labels: DB, To Be Merged

#20767 fix(DB/Loot): improve Illidan loot
  data/sql/updates/pending_db_world/rev_1732889463640565780.sql
Labels: DB, To Be Merged, 70

#20876 fix(Scripts/ZulAman): Dont update Hexlord timers while casting
  src/server/scripts/EasternKingdoms/ZulAman/boss_hexlord.cpp
Labels: To Be Merged, Script, file-cpp, Tested

#20884 fix(DB/Creature) Havenshire Horses run from Stables to New Havalon.
  data/sql/updates/pending_db_world/Havenshire_Horses_group.sql
Labels: DB, To Be Merged

#20894 fix(Scripts/ZulAman): Malacrass adds shouldnt change on wipes
  src/server/scripts/EasternKingdoms/ZulAman/boss_hexlord.cpp
Labels: To Be Merged, Script, file-cpp

#20898 fix(DB/Creature): Amanishi Tempest should be immune to taunts, fears …
  data/sql/updates/pending_db_world/rev_1733952980797257200.sql
Labels: To Be Merged

#20902 fix(Scripts/IcecrownCitadel): Vengeful Shade unroot timer fix
  src/server/scripts/Northrend/IcecrownCitadel/boss_lady_deathwhisper.cpp
Labels: Script, file-cpp

#20900 fix(DB/Creature): Fix ZA bosses not despawning on evade
  data/sql/updates/pending_db_world/rev_1733968037822883300.sql
  src/server/scripts/EasternKingdoms/ZulAman/boss_zuljin.cpp
Labels: DB, To Be Merged, Script, file-cpp

#20899 feat(Core/SAI): Implement SMART_ACTION_DISMOUNT (206)
  data/sql/updates/pending_db_world/rev_1733966897261929100.sql
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: DB, CORE, To Be Merged, file-cpp

#20321 Fix(Core/Player): Energy regen rate bonuses
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, To Be Merged, file-cpp, Tested

#19932 fix(Scripts/TrialOfChampion): fail and send custom spell error when trying to mount without lance equipped
  data/sql/updates/pending_db_world/rev_1725926206241976759.sql
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheChampion/boss_grand_champions.cpp
Labels: DB, To Be Merged, Script, file-cpp

#20797 feat(Core/Player): implement Spell Queue
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerUpdates.cpp
  src/server/game/Entities/Unit/CharmInfo.cpp
  src/server/game/Entities/Unit/CharmInfo.h
  src/server/game/Handlers/SpellHandler.cpp
  src/server/game/Spells/Spell.h
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
Labels: CORE, To Be Merged, file-cpp, Tested

#20872 feat(Core/WorldObjects): implement Heartbeat timers
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
Labels: CORE, To Be Merged, file-cpp

#20917 feat(Core/Player)Add quest failure sound when inventory is full or quest failed
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerStorage.cpp
Labels: CORE, To Be Merged, file-cpp

#20912 fix(DB/Creature): Illidari Nightlord remove distract and add banish i…
  data/sql/updates/pending_db_world/rev_1734093171824341700.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#20914 fix(Scripts/TheEye): Kaelthas reduce time until all advisors phase
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: To Be Merged, Script, file-cpp

#20918 fix(DB/SAI): several missing abilities in Zul'Aman
  data/sql/updates/pending_db_world/rev_1734169883724571000.sql
Labels: DB, To Be Merged

#20836 feat(Core/Player) Option to adjust max rest bonus via config
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#20542 feat(Core): Allow localized motd
  data/sql/updates/pending_db_auth/rev_1731984288401879600.sql
  data/sql/updates/pending_db_world/rev_1731983948814732800.sql
  src/common/Common.cpp
  src/common/Common.h
  src/server/apps/worldserver/RemoteAccess/RASession.cpp
  src/server/database/Database/Implementation/LoginDatabase.cpp
  src/server/database/Database/Implementation/LoginDatabase.h
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Motd/MotdMgr.cpp
  src/server/game/Motd/MotdMgr.h
  src/server/game/Scripting/ScriptDefines/WorldScript.cpp
  src/server/game/Scripting/ScriptDefines/WorldScript.h
  src/server/game/Scripting/ScriptMgr.h
  src/server/scripts/Commands/cs_reload.cpp
  src/server/scripts/Commands/cs_server.cpp
Labels: DB, CORE, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#20920 feat(DB): New DB exporter and versioning tools for DB squashes
  apps/DatabaseExporter/DatabaseExporter.ps1
  apps/DatabaseExporter/databaseexporter.md
  apps/VersionUpdater/VersionUpdater.ps1
  apps/VersionUpdater/versionupdater.md
  data/sql/base/database-squash.md
Labels: Ready to be Reviewed, Documentation

#20944 fix(Core/Player): SpellQueue fix typo StartRecoveryCategory
  src/server/game/Entities/Player/PlayerUpdates.cpp
Labels: CORE, To Be Merged, file-cpp

#20943 fix(DB/CreatureSAI) - Removed "Charm" Flag from Frayfeather Stagwing and Frayfeather Skystormer
  data/sql/updates/pending_db_world/rev_1734390991161353200.sql
Labels: DB, Ready to be Reviewed

#20897 fix(Scripts/ZulAman): Fix Electric Storm shouldnt hit safe players
  src/server/scripts/EasternKingdoms/ZulAman/boss_akilzon.cpp
Labels: To Be Merged, Script, file-cpp, Tested

#20925 feat(Core/Commad)Update gm fly to behave like a toggle
  src/server/scripts/Commands/cs_gm.cpp
Labels: To Be Merged, Script, file-cpp, Tested

#20937 fix(Script/ZulAman): Nalorakk abilities.
  src/server/scripts/EasternKingdoms/ZulAman/boss_nalorakk.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20962 ci: fix codestyle and cppcheck reports
  src/common/GitRevision.cpp
  src/server/scripts/EasternKingdoms/ZulAman/boss_nalorakk.cpp
Labels: CORE, Script, file-cpp

#20922 fix(DB/Creature) Scarlet Land Cannons
  data/sql/updates/pending_db_world/Scarlet_Land_Cannons.sql
Labels: DB, To Be Merged, Tested

#20939 refactor(Core/Random): Remove unused map based RNG
  src/server/game/Entities/Object/Object.h
  src/server/game/Movement/MovementGenerators/ConfusedMovementGenerator.cpp
  src/server/game/Spells/Spell.h
Labels: CORE, To Be Merged, file-cpp

#20830 feat(Core/AuctionHouse): Rework auctionhouse search threading
  src/server/apps/worldserver/Main.cpp
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/AuctionHouse/AuctionHouseMgr.cpp
  src/server/game/AuctionHouse/AuctionHouseMgr.h
  src/server/game/AuctionHouse/AuctionHouseSearcher.cpp
  src/server/game/AuctionHouse/AuctionHouseSearcher.h
  src/server/game/Entities/Player/Player.h
  src/server/game/Handlers/AuctionHouseHandler.cpp
  src/server/game/Mails/Mail.cpp
  src/server/game/Misc/AsyncAuctionListing.cpp
  src/server/game/Misc/AsyncAuctionListing.h
  src/server/game/Server/WorldSession.cpp
  src/server/game/Server/WorldSession.h
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/game/World/World.h
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#20936 fix(Core/Database): Gracefully close database workers
  src/common/Threading/PCQueue.h
  src/server/database/Database/DatabaseWorker.cpp
  src/server/database/Database/DatabaseWorker.h
  src/server/database/Database/DatabaseWorkerPool.cpp
  src/server/game/World/World.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#20970 fix(Core/Player)Quest failure sound when inventory full
  src/server/game/Entities/Player/PlayerQuest.cpp
  src/server/game/Entities/Player/PlayerStorage.cpp
Labels: CORE, file-cpp

#20957 fix(Scripts/BlackTemple): Update AreaBoundary to avoid reset in the corners with Illidari council
  src/server/scripts/Outland/BlackTemple/boss_illidari_council.cpp
  src/server/scripts/Outland/BlackTemple/instance_black_temple.cpp
Labels: Script, file-cpp

#20972 fix(Scripts/Spells): Fix Aether Ray behaviour for quest Wrangle Aethe…
  src/server/scripts/Spells/spell_quest.cpp
Labels: To Be Merged, Script, file-cpp

#20913 Added dialogue between Archmage Mordent Evenshade and Sentinel Stillbough
  data/sql/updates/pending_db_world/rev_1734101479985626400.sql
Labels: DB, Ready to be Reviewed, Tested

#20940 refactor(Core/Misc): Use steady_timer instead of deadline_timer
  src/common/Asio/DeadlineTimer.h
  src/common/Asio/IoContext.h
  src/common/Metric/Metric.cpp
  src/common/Metric/Metric.h
  src/server/apps/authserver/Main.cpp
  src/server/apps/worldserver/Main.cpp
  src/server/shared/Network/NetworkThread.h
  src/server/shared/Realms/RealmList.cpp
  src/server/shared/Realms/RealmList.h
Labels: CORE, To Be Merged, file-cpp, Tested

#20870 refactor(Deps/MySQL): replace hardcoded MySQL paths
  src/cmake/macros/FindMySQL.cmake
Labels: To Be Merged, Ready to be Reviewed, CMake, run-build

#20822 feat(tools/vmap4_extractor) Add detection of collision-only material IDs
  src/tools/vmap4_extractor/wmo.cpp
Labels: CORE, To Be Merged, run-build, file-cpp

#20976 docker-compose: ac-database: bump to mysql LTS
  docker-compose.yml
Labels: run-build

#20977 feat(CI/Codestyle): check for curly brackets before/after if/else statements
  apps/codestyle/codestyle.py
  src/server/game/Battlegrounds/BattlegroundQueue.cpp
  src/server/game/Handlers/MovementHandler.cpp
  src/server/scripts/Northrend/Nexus/Oculus/oculus.cpp
  src/server/scripts/OutdoorPvP/OutdoorPvPNA.cpp
Labels: CORE, To Be Merged, Script, run-build, file-cpp

#20910 chore(Licence): Add an agreement to relicense for futur PRs
  pull_request_template.md
Labels: To Be Merged, Documentation

#20978 fix(DB/item_loot_template): fix Santa sometimes handing out empty pr…
  data/sql/updates/pending_db_world/rev_1734635884187539100.sql
Labels: DB, Ready to be Reviewed, World Event

#20926 fix(Core/WorldSession): incorrect fmt formatting
  src/server/game/Handlers/MiscHandler.cpp
  src/server/game/Server/WorldSession.cpp
  src/server/game/Server/WorldSession.h
Labels: CORE, To Be Merged, file-cpp

#20971 fix(DB/Loot)Add missing heavy stone loot entries
  data/sql/updates/pending_db_world/rev_1734571285903931000.sql
Labels: DB

#20975 fix(DB/Object) Add Saronite Arrows in Phase 2.
  data/sql/updates/pending_db_world/P2_Saronite_Arrows.sql
Labels: DB, To Be Merged

#20996 feat(CI/Codestyle); Check for double semicolons
  apps/codestyle/codestyle.py
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerSettings.cpp
  src/server/game/Handlers/MiscHandler.cpp
  src/server/game/Instances/InstanceSaveMgr.h
Labels: CORE, file-cpp

#20997 feat(CI/modules_build): trigger on file change instead label
  .github/workflows/core_modules_build.yml
Labels: Workflow, Ready to be Reviewed

#20998 feat(CI/Codestyle): Check for tabs
  apps/codestyle/codestyle.py
  src/cmake/macros/FindMySQL.cmake
Labels: CMake

#20988 fix(Creature/Loot) Remove Black Pearl item from all creatures.
  data/sql/updates/pending_db_world/remove_black_pearl.sql
Labels: DB, Ready to be Reviewed

#20989 refactor(Core/Unit): Add naming for all ShapeshiftFlags
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/UnitDefines.h
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellInfo.cpp
Labels: CORE, To Be Merged, file-cpp

#21009 fix(CI): do not run on draft PRs
  .github/workflows/codestyle.yml
  .github/workflows/core-build-nopch.yml
  .github/workflows/core_modules_build.yml
  .github/workflows/pr_labeler.yml
  .github/workflows/sql-codestyle.yml
Labels: Workflow, Ready to be Reviewed

#20999 Core/TempSummons: avoid use MoveInLineOfSight before InitSummon
  src/server/game/Entities/Creature/TemporarySummon.cpp
  src/server/game/Entities/Creature/TemporarySummon.h
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Maps/Map.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#21008 fix(Script/Command): Allow guid for npc move and delete
  src/server/scripts/Commands/cs_npc.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#21006 refactor(Core/Time): Introduce GetExpirationTime instead of calculati…
  src/common/Asio/SteadyTimer.h
  src/common/Metric/Metric.cpp
  src/server/apps/authserver/Main.cpp
  src/server/apps/worldserver/Main.cpp
  src/server/shared/Realms/RealmList.cpp
Labels: CORE, file-cpp

#20906 feat(Core/GameEvents)Add new command & load function to reload game event npc vendors
  data/sql/updates/pending_db_world/rev_1734055142233360300.sql
  src/server/database/Database/Implementation/WorldDatabase.cpp
  src/server/database/Database/Implementation/WorldDatabase.h
  src/server/game/Events/GameEventMgr.cpp
  src/server/game/Events/GameEventMgr.h
  src/server/scripts/Commands/cs_reload.cpp
Labels: DB, CORE, Waiting to be Tested, Script, file-cpp

#20617 feat(Core) Add new config option for npc speeds
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
Labels: CORE, Waiting to be Tested, file-cpp

#17834 fix(Scripts/IcecrownCitadel): Make Blood-Queen Lana'thel bite tanks as well
  src/server/scripts/Northrend/IcecrownCitadel/boss_blood_queen_lana_thel.cpp
Labels: CORE, Script, file-cpp

#21002 refactor(CI/Codestyle): Move the SQL check to python
  .github/workflows/codestyle.yml
  .github/workflows/sql-codestyle.yml
  apps/ci/ci-pending.sh
  apps/codestyle/codestyle-cpp.py
  apps/codestyle/codestyle-sql.py
Labels: Workflow, Bash, Tested

#21019 fix(Core/Auctionhouse): Fix auctionhouse searches with locales other than enUS
  src/server/game/AuctionHouse/AuctionHouseSearcher.cpp
Labels: CORE, Ready to be Reviewed, file-cpp, Tested

#21004 fix(Scripts/Hyjal) First wave should not grant reputation
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/instance_hyjal.cpp
Labels: Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#21033 fix(Core/Network): fix high idle cpu load in NetworkThread
  src/server/shared/Network/NetworkThread.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#21027 fix(Apps/Codestyle): rewrite semi-colon check
  apps/codestyle/codestyle-sql.py
Labels: Workflow, To Be Merged, Ready to be Reviewed

#21029 fix(DB/Object) Sniffed Saronite Arrows spawn in phase 1.
  data/sql/updates/pending_db_world/Saronite_Arrows_Phase_1.sql
Labels: DB, To Be Merged

#21035 fix(DB/Locale): deDE fixes for page texts
  data/sql/updates/pending_db_world/update_page_text_locale.sql
Labels: DB, Ready to be Reviewed

#20919 fix(Script/Zul'Aman): adjust Zuljin timers
  src/server/scripts/EasternKingdoms/ZulAman/boss_zuljin.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#21022 feat(CI/linux-build): introduce option to set maxerrors for compilation
  .github/actions/linux-build/action.yml
  .github/workflows/core_modules_build.yml
Labels: Workflow, Ready to be Reviewed

#21043 fix(Core/Log): fmt output for appender
  src/common/Logging/Appender.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#21030 fix(DB/Creature)Ashtongue Stormcaller missing interrupt immunity
  data/sql/updates/pending_db_world/rev_1734977925243177000.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed

#21031 fix(DB/Creature) Illidari Nightlord's Fear can be interrupted
  data/sql/updates/pending_db_world/rev_1734978274366357000.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed

#21042 chore(Scripts/SSC): Move Vashj summons to the new format
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/instance_serpent_shrine.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#21040 feat(Unit/Misc): HasAnyAuras() HasAllAuras() HasAuras()
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_chromaggus.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_twinemperors.cpp
  src/server/scripts/Kalimdor/zone_desolace.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_sindragosa.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_the_lich_king.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
  src/server/scripts/Northrend/Nexus/Oculus/boss_eregos.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_hodir.cpp
  src/server/scripts/Northrend/zone_dalaran.cpp
  src/server/scripts/Northrend/zone_icecrown.cpp
  src/server/scripts/Outland/HellfireCitadel/MagtheridonsLair/boss_magtheridon.cpp
  src/server/scripts/Spells/spell_dk.cpp
  src/server/scripts/Spells/spell_paladin.cpp
  src/server/scripts/World/achievement_scripts.cpp
  src/server/scripts/World/boss_emerald_dragons.cpp
  src/server/scripts/World/npc_stave_of_ancients.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#21047 fix(Scripts/SSC): Fix console panel gate not opening
  data/sql/updates/pending_db_world/rev_1735214037279163200.sql
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/instance_serpent_shrine.cpp
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/serpent_shrine.h
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#21045 fix(Core/Spells): Initial threat for periodic effects
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, file-cpp

#21012 fix(Scripts/ICC): Use threatlist for vampiric bite
  data/sql/updates/pending_db_world/rev_1734867444551549700.sql
  src/server/scripts/Northrend/IcecrownCitadel/boss_blood_queen_lana_thel.cpp
Labels: DB, To Be Merged, Script, file-cpp, Tested

#19795 fix(Scripts/Spells): Death Knight Army of the Dead auras
  data/sql/updates/pending_db_world/rev_1724946417358596409.sql
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Entities/Pet/PetDefines.h
  src/server/scripts/Pet/pet_dk.cpp
  src/server/scripts/Spells/spell_dk.cpp
  src/server/scripts/Spells/spell_generic.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#20901 fix(DB/CreatureSAI) - SAI overhaul of Deadwood Warrior, Gardener and Pathfinder
  data/sql/updates/pending_db_world/rev_1733968258139506300.sql
Labels: DB, Ready to be Reviewed, Tested

#21062 fix(DB/Locale): deDE fix gossip id for Arcanist Helion
  data/sql/updates/pending_db_world/update_gossip_menu.sql
Labels: DB

#21058 chore(DB): Delete empty/null entries
  data/sql/updates/pending_db_world/rev_1735437140186286300.sql
Labels: DB

#21060 fix(Scripts/Zul'Aman): Band-Aid fix for hostage loot.
  data/sql/updates/pending_db_world/za-hostage-bandaid.sql
  src/server/scripts/EasternKingdoms/ZulAman/instance_zulaman.cpp
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.cpp
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.h
Labels: DB, Ready to be Reviewed, Script, file-cpp

#21061 fix(Scripts/Karazhan): Chess pieces reset to correct positions
  src/server/scripts/EasternKingdoms/Karazhan/boss_chess_event.cpp
  src/server/scripts/EasternKingdoms/Karazhan/instance_karazhan.cpp
Labels: To Be Merged, Script, file-cpp

#21049 fix(DB/Locale): deDE fixes cata quest texts to wrath state
  data/sql/updates/pending_db_world/fix-cata-texts.sql
Labels: DB

#21059 fix(DB/Locale): deDE fixes cata quest texts to wrath state - part 2
  data/sql/updates/pending_db_world/fix_cata_texts_2.sql
Labels: DB

#21064 fix(Scripts/ZulAman): add Altar Torch visuals
  src/server/scripts/EasternKingdoms/ZulAman/instance_zulaman.cpp
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.h
Labels: To Be Merged, Script, file-cpp

#21065 fix(Scripts/ZulAman): add Boss Boundaries
  src/server/scripts/EasternKingdoms/ZulAman/instance_zulaman.cpp
Labels: Script, file-cpp, Tested

#21037 fix(DB/SAI): restore Drakuru’s (id: 28802) health to 100% upon charming
  data/sql/updates/pending_db_world/rev_1735053928227867164.sql
Labels: DB, To Be Merged, Tested

#21068 fix(Core/Player): fix output for disabled maps
  src/server/game/Entities/Player/PlayerStorage.cpp
Labels: CORE, file-cpp

#21057 fix(DB/Scripts): Reset Scourgelord Tyrannus encounter state
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/boss_scourgelord_tyrannus.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#21067 fix(DB/Locale): deDE fixes for quest greetings
  data/sql/updates/pending_db_world/update_quest_greeting1.sql
Labels: DB, To Be Merged

#21070 fix(Scripts/PitOfSaron): Fix Scourgelord Tyrannus not respawning afte…
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/boss_scourgelord_tyrannus.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20947 fix(Scripts/ZulAman): Eagle Gauntlet behavior
  data/sql/updates/pending_db_world/rev_1734398393541318995.sql
  src/server/scripts/EasternKingdoms/ZulAman/instance_zulaman.cpp
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.cpp
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.h
Labels: DB, To Be Merged, Script, file-cpp, Tested

#21069 fix(DB/Creature) Scarlet Peasant SmartAI.
  data/sql/updates/pending_db_world/Scarlet_Peasant.sql
Labels: DB, To Be Merged

#21048 fix (DB/Creature) Citizen of Havenshire waypoints and SmartAI.
  data/sql/updates/pending_db_world/Citizen_of_Havenshire.sql
Labels: DB, To Be Merged
