Repository azerothcore/azerothcore-wotlk, pull requests merged in 2024-06, with the labels that each got.

#18984 fix(CI): fix ubuntu-24.04 build
  .github/actions/linux-build/action.yml
Labels: To Be Merged, Ready to be Reviewed, run-build

#18986 fix(Scripts/Hyjal): fix some build warnings for unused parameters
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_anetheron.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_azgalor.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, run-build, file-cpp

#18983 fix(CI): bump pr-labeler dependencies for usage of Node.js 20
  .github/workflows/pr_labeler.yml
Labels: Workflow, Ready to be Reviewed, CI/CD

#18981 fix(DB): Couple Netherwing related fixes.
  data/sql/updates/pending_db_world/netherwing-misc.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18990 fix(CI): I think this fixes the labeler :D
  .github/labeler.yml
Labels: Workflow, To Be Merged, Ready to be Reviewed

#18996 fix(Core/Mail): calculate unReadMails and m_nextMailDelivereTime usin…
  src/server/game/Entities/Player/PlayerUpdates.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#18998 fix(DB/achievement_reward): award title on Hand of A'dal FoS
  data/sql/updates/pending_db_world/hand_of_adal.sql
Labels: DB

#18997 fix(Scripts/Hyjal): correctly despawn summoned creatures on Jaina/Thrall death
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_anetheron.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_azgalor.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjal.h
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/instance_hyjal.cpp
Labels: CORE, Script, file-cpp

#19000 fix(Script/Hyjal): Fix encounter states not reseting if bosses are de…
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/instance_hyjal.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18989 fix(Core/PetHandler): when dismissing a charmed unit owned by another unit; stop the charm instead of despawning
  src/server/game/Handlers/PetHandler.cpp
Labels: CORE, Ready to be Reviewed

#19003 fix(Scripts/Hyjal): archimonde enrage after 10 minutes
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_archimonde.cpp
Labels: CORE, Script, file-cpp

#19005 fix(Scripts/Hyjal): Anetheron cast Carrion Swarm on non player targets
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_anetheron.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#19004 chore(Scripts/Hyjal): Clean up unsafe calls and code style
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/instance_hyjal.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18991 chore(CI): Nuke checks
  .github/workflows/core-build-nopch.yml
  .github/workflows/core-build-pch.yml
  .github/workflows/import_pending.yml
  .github/workflows/pr_labeler.yml
  .github/workflows/tools_build.yml
Labels: Workflow, To Be Merged, Ready to be Reviewed

#18940 fix(Core/PlayerQuest): make timed quests failable
  src/server/game/Entities/Player/PlayerQuest.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19007 fix(Core/Battleground): Adjust Eye of the Storm tick rate.
  src/server/game/Battlegrounds/Zones/BattlegroundEY.h
Labels: CORE, file-cpp

#18995 fix(CI): add missing ticks to labeler.yml file paths
  .github/labeler.yml
Labels: To Be Merged, Ready to be Reviewed

#19011 fix(Core/Networking): Fix crash in Proxy Protocol when removing closed sockets.
  src/server/shared/Network/NetworkThread.h
Labels: CORE, file-cpp

#19012 fix(Scripts/Hyjal): Fix Azgalor Doom targetting tanks since its an AoE spell
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_azgalor.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18906 fix(Core/ItemScript): make some more pets play Fetch Ball
  data/sql/updates/pending_db_world/rev_1715963160927436310.sql
  src/server/scripts/Pet/pet_generic.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp

#19015 fix(Core/Player): Delete by group
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19016 fix(CI/labeler): fix some paths for proper labeling
  .github/labeler.yml
Labels: Ready to be Reviewed, CI/CD

#19019 fix(Scripts/Halls of Stone): corrected Brann dialogue to match live game
  src/server/scripts/Northrend/Ulduar/HallsOfStone/brann_bronzebeard.cpp
Labels: Script, file-cpp

#17669 fix(DB/Stratholme): add Magistrate Barthilas escape event in Stratholme
  data/sql/updates/pending_db_world/rev_1699566747105058500.sql
  src/server/scripts/EasternKingdoms/Stratholme/instance_stratholme.cpp
  src/server/scripts/EasternKingdoms/Stratholme/stratholme.h
Labels: DB, Waiting to be Tested, Script, file-cpp

#19018 fix(DB/achievement_reward): Glory of the Ulduar Raider mail subject line
  data/sql/updates/pending_db_world/rev_1717701052651037100.sql
Labels: DB

#19021 fix(DB/Item): Egg Basket
  data/sql/updates/pending_db_world/rev_1717749728079323600.sql
Labels: DB, Ready to be Reviewed

#18982 fix(DB/Gameobject): Rebuild all Kalimdor gathering nodes using sniffed data
  data/sql/updates/pending_db_world/rev_1717129582391555700.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19027 fix(Scripts/Hyjal): Change the spawn and the movement of Doomfire
  data/sql/updates/pending_db_world/Doomfire_spirit_speed.sql
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_archimonde.cpp
Labels: DB, Script, file-cpp

#19031 fix(Scripts/Hyjal): some Archimonde fixes
  data/sql/updates/pending_db_world/spell_scripts.sql
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_archimonde.cpp
Labels: DB, Script, file-cpp

#19032 fix(DB/Creature): Correct model info for Hyjal bosses.
  data/sql/updates/pending_db_world/hyjal-models.sql
Labels: DB, Ready to be Reviewed

#19034 Refactor(Scripts/Naxxramas): Spell Scripts use registry macros
  data/sql/updates/pending_db_world/rev_1717886186186050826.sql
  src/server/scripts/Northrend/Naxxramas/boss_four_horsemen.cpp
  src/server/scripts/Northrend/Naxxramas/boss_gluth.cpp
  src/server/scripts/Northrend/Naxxramas/boss_gothik.cpp
  src/server/scripts/Northrend/Naxxramas/boss_grobbulus.cpp
  src/server/scripts/Northrend/Naxxramas/boss_kelthuzad.cpp
  src/server/scripts/Northrend/Naxxramas/boss_sapphiron.cpp
  src/server/scripts/Northrend/Naxxramas/boss_thaddius.cpp
Labels: DB, To Be Merged, Script, file-cpp

#18913 chore(Command/unstuck) use command with offline players
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/scripts/Commands/cs_misc.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#19036 fix(DB/SAI): Subdue the Subduer should credit group
  data/sql/updates/pending_db_world/rev_1717964255204489800.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19037 fix(Scripts/Hyjal): Air Burst back to random target
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_archimonde.cpp
Labels: Script, file-cpp

#19035 chore(Scripts/Hyjal): Clean up redundancy
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjal.h
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/instance_hyjal.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#19038 fix(DB/SAI): Watoosun Polluted Essence shouldnt cast Acid Splash
  data/sql/updates/pending_db_world/rev_1717965047865056400.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19043 fix:(DB/creatures) Repair the position of the chicken in Southshore
  data/sql/updates/pending_db_world/rev_1718001686055216100.sql
Labels: DB

#19042 fix(DB/Creature): Vashj elementals disorient immunity
  data/sql/updates/pending_db_world/rev_1717979069932709000.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19041 fix(Scripts/SSC): Fix Serpentshrine Parasites not being summoned
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/instance_serpent_shrine.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#19040 fix(DB/Creature): Crystalcore Sentinals & Devastators knockback immunity
  data/sql/updates/pending_db_world/rev_1717972134201713800.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19039 fix(Scripts/NPC): Fix arcanite dragonling attacking non flagged players
  src/server/scripts/World/npcs_special.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#19046 fix(Scripts/Hyjal): remove very scary call by reference and posis without initialization
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_archimonde.cpp
Labels: Script, file-cpp

#19045 refactor(Scripts/Ulduar): Spell Scripts use registry macros
  data/sql/updates/pending_db_world/rev_1717949882122545112.sql
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_algalon_the_observer.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_assembly_of_iron.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_auriaya.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_flame_leviathan.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_general_vezax.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_ignis.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_kologarn.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_mimiron.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_thorim.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_xt002.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_yoggsaron.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/ulduar.cpp
Labels: DB, Script, file-cpp

#19049 fix(DB/Gameobject): unlink 'Mighty Blaze' spawns from game events
  data/sql/updates/pending_db_world/rev_1718130548137611500.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19022 fix(CI/labeler): update Core, Documentation, Cmake labelling
  .github/labeler.yml
Labels: Ready to be Reviewed, CI/CD

#19047 fix(DB/Creature): Kadrak's wrong axe model
  data/sql/updates/pending_db_world/rev_1718086018134799100.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19052 fix(CI): reintroduce ubuntu-22.04 checks
  .github/workflows/core-build-nopch.yml
  .github/workflows/core-build-pch.yml
Labels: Workflow, To Be Merged, CI/CD

#19054 fix(Core/Pet): Warlock pet handling
  src/server/game/Entities/Pet/Pet.cpp
Labels: CORE, file-cpp

#19057 fix(docs): sync SECURITY.md with current CI config
  .github/SECURITY.md
Labels: To Be Merged, Documentation

#19055 fix(DB/Creature): Reth'hedron spawn timer
  data/sql/updates/pending_db_world/rev_1718275290940257000.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19064 fix(DB/Formations): Aqueous Lord formation behaviour
  data/sql/updates/pending_db_world/rev_1718466700851370000.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19063 fix(DB/Spell): Sludge Nova stack from different casters
  data/sql/updates/pending_db_world/rev_1718465866090605600.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19061 fix(DB/Creature): Aquaneous Lord taunt immunity
  data/sql/updates/pending_db_world/rev_1718459860752594600.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19059 fix(DB/Item): Stormherald PPM adjustment.
  data/sql/updates/pending_db_world/stunherald.sql
Labels: DB, Ready to be Reviewed

#19058 feat(CI): enable fail-fast for pch/nopch
  .github/workflows/core-build-nopch.yml
  .github/workflows/core-build-pch.yml
Labels: Workflow, Ready to be Reviewed, CI/CD

#19065 fix(Scripts/BlackTemple): Fix Free Friend spell
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/scripts/Outland/BlackTemple/instance_black_temple.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#19066 fix(Scripts/BlackTemple): Fix Najentus not enraging after 8 min
  src/server/scripts/Outland/BlackTemple/boss_warlord_najentus.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#19067 fix(DB/Achievement): Pilgrim reward mail
  data/sql/updates/pending_db_world/rev_1718481266706776400.sql
Labels: DB, Ready to be Reviewed

#18757 fix(Scripts/Spells): Flag of Ownership
  src/server/scripts/Spells/spell_generic.cpp
Labels: Script, file-cpp

#19074 fix(Scripts/BlackTemple): Fix najentus enrage not reseting
  src/server/scripts/Outland/BlackTemple/boss_warlord_najentus.cpp
Labels: To Be Merged, Script, file-cpp

#19077 fix(DB/Spells): Infinity Blade's Magic Disruption should stack for di…
  data/sql/updates/pending_db_world/rev_1718547209203696600.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19070 fix(Core/AI): Fix bosses being stuck IN_PROGRESS if despawnonevade fl…
  src/server/game/AI/CreatureAI.cpp
  src/server/game/AI/ScriptedAI/ScriptedCreature.cpp
  src/server/game/AI/ScriptedAI/ScriptedCreature.h
  src/server/scripts/EasternKingdoms/ZulGurub/boss_jindo.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#19069 fix(Scripts/Hyjal): Archimonde should gain charges regardless of deat…
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_archimonde.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjal.h
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/instance_hyjal.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#19079 fix(DB/Creature): Correct model info for Black Temple bosses.
  data/sql/updates/pending_db_world/bt-bosses.sql
Labels: DB, Ready to be Reviewed

#19078 fix(Scripts/ObsidianSanctum): add Flame Tsunami knockback
  data/sql/updates/pending_db_world/rev_1718486949488763477.sql
  src/server/scripts/Northrend/ChamberOfAspects/ObsidianSanctum/boss_sartharion.cpp
Labels: DB, Script, file-cpp

#19081 fix(Scripts/AllCommandScript) CanExecuteCommand renamed and moved to be executed for all commands.
  src/server/game/Chat/ChatCommands/ChatCommand.cpp
  src/server/game/Scripting/ScriptDefines/AllCommandScript.cpp
  src/server/game/Scripting/ScriptDefines/AllCommandScript.h
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, To Be Merged, file-cpp

#19076 fix(Scripts/BlackTemple): Akama shade missing says
  src/server/scripts/Outland/BlackTemple/boss_shade_of_akama.cpp
Labels: Script, file-cpp

#19075 fix(Scripts/SlavePens): Rewrite Ahune.
  data/sql/updates/pending_db_world/ahune.sql
  src/server/scripts/Outland/CoilfangReservoir/SlavePens/boss_ahune.cpp
  src/server/scripts/Outland/CoilfangReservoir/SlavePens/instance_the_slave_pens.cpp
Labels: DB, Waiting to be Tested, To Be Merged, Ready to be Reviewed, World Event, Script, file-cpp

#17890 fix(core/spell): Presence of Mind should not apply cooldown mods on c…
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, Waiting to be Tested, file-cpp

#19083 fix(DB/Creature): Archmage Xylem patrol from mangos-wotlk
  data/sql/updates/pending_db_world/rev_1718663929978276800.sql
Labels: DB, Ready to be Reviewed

#19082 fix(Core/Spells): Don't send SMSG_CAST_FAILED for interrupted spells …
  src/server/game/Spells/Spell.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#19071 fix(DB/Procs): Add proc info for lower ranks of Reckoning talent.
  data/sql/updates/pending_db_world/reckoning-downrank.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed

#19086 fix(DB/Hyjal):
  data/sql/updates/pending_db_world/Hyjal.sql
Labels: DB

#19060 fix(Core): Correct Quest XP Display when modified by SPELL_AURA_MOD_XP_QUEST_PCT
  src/server/game/Entities/Creature/GossipDef.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerQuest.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#19089 fix(DB/Creature): Port Force-Commander Gorax patrol from mangos-wotlk
  data/sql/updates/pending_db_world/rev_1718712283431197500.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19088 fix(DB/Loot): Mote of Shadow incorrect low value for 2 npcs
  data/sql/updates/pending_db_world/rev_1718710211512527300.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19087 fix(Scripts/ICC): Fix Valithria reseting
  src/server/scripts/Northrend/IcecrownCitadel/boss_valithria_dreamwalker.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#19073 fix(Scripts/Spells): Implement damage scaling based off DoT stack count for Seal of Vengeance and Corruption.
  data/sql/updates/pending_db_world/seals.sql
  src/server/game/Entities/Unit/Unit.cpp
  src/server/scripts/Spells/spell_paladin.cpp
Labels: DB, CORE, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#19091 fix(DB/Creature): Fix minor issues with Dragonmaw Peons
  data/sql/updates/pending_db_world/rev_1718749668931737500.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19090 fix(Core/SmartAI): add prevent almost infinite spinning of mutual target to pets
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
Labels: CORE, file-cpp

#19092 fix(DB/Command): fix help typo 'trigered' for .cast commands
  data/sql/updates/pending_db_world/rev_1718702527397206595.sql
Labels: DB, To Be Merged

#19095 fix(DB/Loot): Correct oversight with Hyjal trash loot.
  data/sql/updates/pending_db_world/molten-fury.sql
Labels: DB, Ready to be Reviewed

#19096 fix(Scripts/Hyjal): Fix wave count not showing for Rage Winterchill w…
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/instance_hyjal.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#19097 fix(DB/Loot): Adjust Ancient Gem Vein loot table.
  data/sql/updates/pending_db_world/hyjal-gem-veins.sql
Labels: DB, Ready to be Reviewed

#19101 fix(Core/Spells): Partially revert spell cancel behavior change.
  src/server/game/Spells/Spell.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#19099 fix(DB/Creature): Illidari Fearbringer immunities
  data/sql/updates/pending_db_world/rev_1718872164901436000.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19098 fix(DB/Creature): Bonechewer Taskmaster taunt immunity
  data/sql/updates/pending_db_world/rev_1718871720074355000.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19094 fix(DB/Conditions): Spell Protection of Elune only targets players
  data/sql/updates/pending_db_world/rev_1718844992509230300.sql
Labels: DB, To Be Merged

#19025 fix(DB/Kalimdor): limit Warchief's Blessing to level 63 and below and Horde only
  data/sql/updates/pending_db_world/rev_1717787014792496771.sql
Labels: DB

#19024 fix(DB/StranglethornVale): Spirit of Zandalar limit to 63 and below, apply to Booty Bay
  data/sql/updates/pending_db_world/rev_1717779996280157826.sql
Labels: DB

#19026 fix(Scripts/Kalimdor): adjust Thrall's and Herald WCB timings, limit to Orgrimmar and Crossroads
  data/sql/updates/pending_db_world/rev_1717788081682357961.sql
  src/server/scripts/Kalimdor/zone_orgrimmar.cpp
Labels: DB, Script, file-cpp

#19105 fix(DB/Creature): Correct Doomfire/Spirit speed.
  data/sql/updates/pending_db_world/doomfire-speed.sql
Labels: DB, Ready to be Reviewed

#19108 fix(Scripts/Midsummer): Resolve Ribbon Pole crash.
  src/server/scripts/Events/midsummer.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#19106 fix(Core/Ahune): Chest and Quest
  src/server/scripts/Outland/CoilfangReservoir/SlavePens/boss_ahune.cpp
Labels: Script, file-cpp

#19110 fix(DB/Creature): Finish correcting Doomfire Spirit speed.
  data/sql/updates/pending_db_world/doomfire-speed-again.sql
Labels: DB, Ready to be Reviewed

#19109 fix(Scripts/Midsummer): use GUID storage rather than Player object
  src/server/scripts/Events/midsummer.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#19115 fix(DB/Creature): add TRIGGER flag to 'Ribbon Pole Fire Spiral Bunny'
  data/sql/updates/pending_db_world/rev_1718997265683510500.sql
Labels: DB, Ready to be Reviewed

#19111 fix(DB/Gossip): Refik missing text for lowlevel tailoring
  data/sql/updates/pending_db_world/rev_1718948799326042600.sql
Labels: DB

#19116 fix(Core/PlayerQuest): Introduce flag QUEST_SPECIAL_FLAGS_CAN_FAIL_IN…
  data/sql/updates/pending_db_world/rev_1718999602991537300.sql
  src/server/game/Entities/Player/PlayerQuest.cpp
  src/server/game/Quests/QuestDef.h
Labels: DB, CORE, Ready to be Reviewed, file-cpp, Requires WIKI Update

#19121 fix(Scripts/Kalimdor) Thrall Warchief's Blessing, add level and reputation requirement, spike activation
  data/sql/updates/pending_db_world/rev_1719024661180085554.sql
  src/server/scripts/Kalimdor/zone_orgrimmar.cpp
Labels: DB, Script, file-cpp

#19123 refactor(Scripts/TempestKeep): Spell Scripts use registry macros
  data/sql/updates/pending_db_world/rev_1719036750384415139.sql
  src/server/scripts/Outland/TempestKeep/Eye/instance_the_eye.cpp
  src/server/scripts/Outland/TempestKeep/arcatraz/arcatraz.cpp
  src/server/scripts/Outland/TempestKeep/botanica/instance_the_botanica.cpp
Labels: DB, Script, file-cpp

#19122 refactor(Scripts/BlackTemple): Spell Scripts use registry macros
  data/sql/updates/pending_db_world/rev_1719035147610263349.sql
  src/server/scripts/Outland/BlackTemple/boss_bloodboil.cpp
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
  src/server/scripts/Outland/BlackTemple/boss_mother_shahraz.cpp
  src/server/scripts/Outland/BlackTemple/boss_reliquary_of_souls.cpp
  src/server/scripts/Outland/BlackTemple/illidari_council.cpp
  src/server/scripts/Outland/BlackTemple/instance_black_temple.cpp
Labels: DB, Script, file-cpp

#19120 fix(DB/Creature): Fix Dragonmaw Wind Rider and Sky Stalker taunt immu…
  data/sql/updates/pending_db_world/rev_1719017127223217300.sql
Labels: To Be Merged, Ready to be Reviewed

#19119 fix(DB/Spells): Scourgebane Draugh & Infusion should stack with flask…
  data/sql/updates/pending_db_world/rev_1719016208690175900.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19118 fix(DB/Creature): Fix Dragonmaw Wind Rider interrupt immunity
  data/sql/updates/pending_db_world/rev_1719015578865296300.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19125 fix(DB/Kalimdor): Thrall's WCB fixup
  data/sql/updates/pending_db_world/rev_1719050119960028055.sql
Labels: DB

#19126 refactor(Scripts/Hodir): spellscripts use registry macros
  data/sql/updates/pending_db_world/rev_1719051177326126718.sql
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_hodir.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_ignis.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_xt002.cpp
Labels: DB, Script, file-cpp

#19134 refactor(Scripts/Northrend): dungeons Spell Scripts registry macros
  data/sql/updates/pending_db_world/rev_1719137457631116516.sql
  src/server/scripts/Northrend/AzjolNerub/AzjolNerub/boss_hadronox.cpp
  src/server/scripts/Northrend/AzjolNerub/AzjolNerub/instance_azjol_nerub.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheChampion/boss_argent_challenge.cpp
  src/server/scripts/Northrend/DraktharonKeep/boss_dred.cpp
  src/server/scripts/Northrend/DraktharonKeep/boss_novos.cpp
  src/server/scripts/Northrend/DraktharonKeep/boss_tharon_ja.cpp
  src/server/scripts/Northrend/DraktharonKeep/boss_trollgore.cpp
  src/server/scripts/Northrend/DraktharonKeep/instance_drak_tharon_keep.cpp
  src/server/scripts/Northrend/FrozenHalls/ForgeOfSouls/boss_bronjahm.cpp
  src/server/scripts/Northrend/FrozenHalls/ForgeOfSouls/boss_devourer_of_souls.cpp
  src/server/scripts/Northrend/FrozenHalls/ForgeOfSouls/forge_of_souls.cpp
  src/server/scripts/Northrend/FrozenHalls/HallsOfReflection/boss_marwyn.cpp
  src/server/scripts/Northrend/FrozenHalls/HallsOfReflection/halls_of_reflection.cpp
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/boss_forgemaster_garfrost.cpp
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/boss_krickandick.cpp
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/pit_of_saron.cpp
  src/server/scripts/Northrend/Gundrak/boss_drakkari_colossus.cpp
  src/server/scripts/Northrend/Gundrak/boss_gal_darah.cpp
  src/server/scripts/Northrend/Gundrak/boss_moorabi.cpp
  src/server/scripts/Northrend/Gundrak/boss_slad_ran.cpp
  src/server/scripts/Northrend/Nexus/EyeOfEternity/boss_malygos.cpp
  src/server/scripts/Northrend/Nexus/Nexus/boss_magus_telestra.cpp
  src/server/scripts/Northrend/Nexus/Oculus/oculus.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/boss_keleseth.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardeKeep/utgarde_keep.cpp
  src/server/scripts/Northrend/UtgardeKeep/UtgardePinnacle/boss_svala.cpp
  src/server/scripts/Northrend/VioletHold/boss_moragg.cpp
  src/server/scripts/Northrend/VioletHold/violet_hold.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp

#19141 fix(Scripts/Midsummer): fix handling of unwanted npc and gameobject s…
  data/sql/updates/pending_db_world/rev_1719166715720224400.sql
  src/server/scripts/Events/midsummer.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, World Event, Script, file-cpp

#19133 fix(Script/ICC): Make Plagueworks Release Valves noninteractable afte…
  src/server/scripts/Northrend/IcecrownCitadel/instance_icecrown_citadel.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#19142 refactor(Scripts/Northrend): fixup spell_hadronox_summon_periodic_crypt_fiend_aura
  data/sql/updates/pending_db_world/rev_1719201621798878998.sql
  src/server/scripts/Northrend/AzjolNerub/AzjolNerub/boss_hadronox.cpp
Labels: DB, Script, run-build, file-cpp

#19143 fix(DB/SAI): Torek's Assault not completing for party members
  data/sql/updates/pending_db_world/rev_1719204209610400400.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19149 fix(DB/Creature): Add parry hasting exception for a few TBC raid bosses.
  data/sql/updates/pending_db_world/tbc-boss-parry-hasting.sql
Labels: DB, Ready to be Reviewed

#19150 fix(Creature): Adjust Ahune Frozen Core level.
  data/sql/updates/pending_db_world/ahune-frozen-core-level.sql
Labels: DB, Ready to be Reviewed, World Event

#19161 fix(CI): fix Error.log check
  .github/actions/linux-build/action.yml
Labels: To Be Merged, CI/CD

#19132 refactor(Scripts/Outland): spell scripts use registry macros
  data/sql/updates/pending_db_world/rev_1719134265835105342.sql
  src/server/scripts/Outland/boss_doomlord_kazzak.cpp
  src/server/scripts/Outland/zone_blades_edge_mountains.cpp
  src/server/scripts/Outland/zone_hellfire_peninsula.cpp
  src/server/scripts/Outland/zone_shadowmoon_valley.cpp
  src/server/scripts/Outland/zone_terokkar_forest.cpp
Labels: DB, Script, file-cpp

#19158 fix(DB/Conditions): Zaxxis Insignia should drop without any conditions.
  data/sql/updates/pending_db_world/rev_1719292494710324800.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19166 fix(DB/Loot): Correct chances related to Captain Rumsey's Lager recipe.
  data/sql/updates/pending_db_world/lager-loot.sql
Labels: DB, Ready to be Reviewed

#19164 fix(Core/Spells): Script Drunken Haze & Drunken Skull Crack
  data/sql/updates/pending_db_world/rev_1719311513285669100.sql
  src/server/scripts/Spells/spell_generic.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#19163 fix(DB/SAI): Kirin'Var Apprentice not throwing hammer and missing aura
  data/sql/updates/pending_db_world/rev_1719307113805462600.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19159 fix(DB/Formations): Link Durnholde Lodges
  data/sql/updates/pending_db_world/rev_1719293888962296500.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19156 fix(DB/Loot): Add guaranteed drops to Ethereum Prisoner loot tables.
  data/sql/updates/pending_db_world/ethereum-loot.sql
Labels: DB, Ready to be Reviewed

#19154 fix(DB/SAI): Lashh'an Talonite pets
  data/sql/updates/pending_db_world/rev_1719258494164779500.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19162 fix(DB/SAI): Tormented Soul & Soulbind spell
  data/sql/updates/pending_db_world/rev_1719301072788927300.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19177 fix(DB/SAI): A large number of SAI are lost
  data/sql/updates/db_world/2024_06_25_09.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19093 fix(Core/Spell): Bladestorm remove reset swing and allow meleeSwingSpell during
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Spell.cpp
Labels: CORE, file-cpp

#19176 fix(Core/Movement): implement Pause and Resume to WaypointMovementGenerator
  src/server/game/Movement/MovementGenerators/WaypointMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/WaypointMovementGenerator.h
Labels: CORE, file-cpp

#19184 refactor(Scripts/Karazhan): Spell Scripts registry macros
  data/sql/updates/pending_db_world/rev_1719389660449504177.sql
  src/server/scripts/EasternKingdoms/Karazhan/instance_karazhan.cpp
Labels: DB, Script, file-cpp

#19185 refactor(Scripts/Kalimdor): Spell Scripts registry macros
  data/sql/updates/pending_db_world/rev_1719389480144846526.sql
  src/server/scripts/Kalimdor/CavernsOfTime/CullingOfStratholme/boss_salramm.cpp
  src/server/scripts/Kalimdor/ZulFarrak/instance_zulfarrak.cpp
  src/server/scripts/Kalimdor/zone_durotar.cpp
  src/server/scripts/Kalimdor/zone_dustwallow_marsh.cpp
  src/server/scripts/Kalimdor/zone_feralas.cpp
Labels: DB, Script, file-cpp

#19152 fix(Scripts/SlavePens): Remove permanent knockback aura on ice spear bunny.
  data/sql/updates/pending_db_world/ahune-ice-spear.sql
  src/server/scripts/Outland/CoilfangReservoir/SlavePens/boss_ahune.cpp
Labels: DB, Ready to be Reviewed, World Event, Script, file-cpp

#19182 fix(DB): fix Booty Bay / Gnomegeran Transpolyporter
  data/sql/updates/pending_db_world/rev_1719427468873631200.sql
Labels: DB, Ready to be Reviewed, Tested

#19172 fix(DB/Formations): Link Fleshbeasts in pairs
  data/sql/updates/pending_db_world/rev_1719354087766677500.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19140 fix(CORE/RAID): added correct spell to boss Anub'Arak to clear his debuffs on submerge
  src/server/scripts/Northrend/AzjolNerub/AzjolNerub/boss_anubarak.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_anubarak_trial.cpp
Labels: Script, file-cpp

#19153 fix(DB/cooldown_overrides): Bleeding Hollow Necrolyte - Raise Dead no…
  data/sql/updates/pending_db_world/rev_1719238141739725400.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#19139 fix(Core/AI): Don't set boss state to none if already complete
  src/server/game/AI/ScriptedAI/ScriptedCreature.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#19165 fix(DB/Creature): Port Treebole WP from mangos-wotlk
  data/sql/updates/pending_db_world/rev_1719322993021854900.sql
Labels: DB, Ready to be Reviewed

#19186 refactor(Scripts/BlackrockMountain): Spell Scripts registry macros
  data/sql/updates/pending_db_world/rev_1719389897107886822.sql
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/boss_razorgore.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackwingLair/instance_blackwing_lair.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_baron_geddon.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_garr.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_magmadar.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_majordomo_executus.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_shazzrah.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/molten_core.cpp
Labels: DB, Script, file-cpp

#18934 fix(Scripts/Karazhan) Nightbane take off phase handling
  data/sql/updates/pending_db_world/rev_1716758365231980439.sql
  src/server/scripts/EasternKingdoms/Karazhan/boss_nightbane.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp

#19192 Update ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.cpp
Labels: CORE, file-cpp

#19189 fix(DB/Creature): Blight Geist using wrong target_type
  data/sql/updates/pending_db_world/rev_1719452424249472600.sql
Labels: DB, To Be Merged

#19202 fix(Scripts/SlavePens): Adjust Ahune spell casts.
  src/server/scripts/Outland/CoilfangReservoir/SlavePens/boss_ahune.cpp
Labels: Ready to be Reviewed, World Event, Script, file-cpp

#19209 fix(Core/Auras): Add SPELL_ATTR0_CU_ONLY_ONE_AREA_AURA
  data/sql/updates/pending_db_world/rev_1719551591152750100.sql
  src/server/game/Spells/Auras/SpellAuras.cpp
  src/server/game/Spells/SpellInfo.h
Labels: DB, CORE, Ready to be Reviewed, file-cpp, Requires WIKI Update

#19204 fix(Scripts/Karazhan): Allow portal color effects to overlap on players.
  src/server/scripts/EasternKingdoms/Karazhan/boss_netherspite.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#19169 fix(DB/SAI): Lashh'an Wing Guard
  data/sql/updates/pending_db_world/rev_1719344429715330100.sql
Labels: DB, To Be Merged

#19203 fix(Scripts/Karazhan): Destroy Netherspite portals on death.
  src/server/scripts/EasternKingdoms/Karazhan/boss_netherspite.cpp
Labels: Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#19211 fix(Core/Spells): Midsummer spinning visual interrupt on gossip
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, file-cpp

#19215 fix(Scripts/Midsummer): Add despawn to Ice Stones and drop respawn time.
  data/sql/updates/pending_db_world/ice-stone-despawns.sql
Labels: DB, Ready to be Reviewed, World Event

#19217 fix(DB/Midsummer): Add missing slippery floor bunny.
  data/sql/updates/pending_db_world/missing-ahune-ice-bunny.sql
Labels: DB, Ready to be Reviewed, World Event

#19219 fix(DB/Creature): Correct model info for Ahune related mobs.
  data/sql/updates/pending_db_world/ahune-model-info.sql
Labels: DB, Ready to be Reviewed, World Event

#19218 fix(Loot/Midsummer): Add loot to Pocket Full of Snow.
  data/sql/updates/pending_db_world/ahune-pocket-full-of-loot.sql
Labels: DB, Ready to be Reviewed, World Event
