Repository azerothcore/azerothcore-wotlk, pull requests merged in 2024-04, with the labels that each got.

#18628 feat(Core/Optimization): Reduce CPU consumption by allocating sendBuffer only when it is needed.
  src/server/game/Server/WorldSocket.cpp
Labels: CORE, file-cpp

#18622 feat(Core/Optimization): Create index for sSkillLineAbilityStore to speedup search by skillLine.
  src/server/game/DataStores/DBCStores.cpp
  src/server/game/DataStores/DBCStores.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Spells/SpellMgr.cpp
  src/server/scripts/Commands/cs_learn.cpp
Labels: CORE, Script, file-cpp

#18646 fix(Scripts/TheEye): fix targetting logic in Void Reaver
  src/server/scripts/Outland/TempestKeep/Eye/boss_void_reaver.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18643 fix(DB/TheEye): remove unused reference and add Talon of the Phoenix back
  data/sql/updates/pending_db_world/alar-loooot.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18650 fix(DB/Creature): Void Reaver Movement Speed and Model Info
  data/sql/updates/pending_db_world/rev_1712070277049871600.sql
Labels: DB, To Be Merged, Instance - Raid - Outland, 70

#18651 fix(Scripts/TheEye): Lord Sanguinar's Bellowing Roar timer
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: CORE, To Be Merged, Instance - Raid - Outland, Script, 70, file-cpp

#18653 fix(Scripts/TheEye): Fix crash in Kaelthas.
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: CORE, Script, file-cpp

#18620 fix(DB/Gameobject): Sniffed Values for 'Forge' spawns
  data/sql/updates/pending_db_world/rev_1711633613954464100.sql
Labels: DB, Ready to be Reviewed

#18616 fix: Loch Modan multiple ore spawn
  data/sql/updates/pending_db_world/rev_1711490977417590640.sql
Labels: DB, Waiting to be Tested, Needs sniff

#18601 fix(Scripts/BlackTemple): Rewrite Shade of Akama
  data/sql/updates/pending_db_world/rev_1711048056647652400.sql
  src/server/scripts/Outland/BlackTemple/black_temple.h
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
  src/server/scripts/Outland/BlackTemple/boss_shade_of_akama.cpp
  src/server/scripts/Outland/BlackTemple/illidari_council.cpp
  src/server/scripts/Outland/BlackTemple/instance_black_temple.cpp
Labels: DB, CORE, Waiting to be Tested, Ready to be Reviewed, Instance - Raid - Outland, Script, 70, file-cpp

#18656 fix(DB/Gameobject): remove duplicate 'Door' spawns in Black Temple
  data/sql/updates/pending_db_world/rev_1712085690434398700.sql
Labels: DB, Ready to be Reviewed

#18665 fix(Scripts/BlackTemple): Illidan not accessing Akama's guid
  data/sql/updates/pending_db_world/rev_1712171769662178600.sql
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#18669 fix(Core/Battleground): correctly limit Eye of the Storm max points to 1600
  src/server/game/Battlegrounds/Zones/BattlegroundEY.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#18637 feat(Core/Optimization): Optimize build of units update object by leveraging cache
  src/server/game/Entities/Corpse/Corpse.cpp
  src/server/game/Entities/Corpse/Corpse.h
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/GameObject/GameObject.h
  src/server/game/Entities/Item/Container/Bag.cpp
  src/server/game/Entities/Item/Container/Bag.h
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Scripting/ScriptDefines/UnitScript.cpp
  src/server/game/Scripting/ScriptDefines/UnitScript.h
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, file-cpp

#18671 fix(Core/Player): Fix memory leak.
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, file-cpp

#18674 fix(CI): Don't cache pch builds
  .github/actions/linux-build/action.yml
Labels: run-build

#18673 fix(Script/illidari_council.cpp). Add override in EnterEvadeMode
  src/server/scripts/Outland/BlackTemple/illidari_council.cpp
Labels: CORE, Script, file-cpp

#18676 Fix "go xyz" command crash
  src/server/scripts/Commands/cs_go.cpp
Labels: CORE, Script, file-cpp

#18652 fix(Scripts/TempleOfAhnQiraj): Fix Vem enrage
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_bug_trio.cpp
Labels: CORE, Script, file-cpp

#18647 feat(Core/Optimization): Correctly document sendBuffer size and optimize it.
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/Server/WorldSocket.cpp
Labels: CORE, file-cpp

#18678 fix(Scripts/TheEye): Fix Alar not using abilities if no target is in …
  src/server/scripts/Outland/TempestKeep/Eye/boss_alar.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18683 fix(Scripts/TheEye): increase Void Reaver boundary so he does not reset when tanked against the wall
  src/server/scripts/Outland/TempestKeep/Eye/instance_the_eye.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18682 fix(DB/Hyjal): weird loot format for Archimonde
  data/sql/updates/pending_db_world/archi_loot_fix.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18680 fix(Scripts/Hyjal): make sure Jaina takes no damage from Death and Decay
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjal.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18689 [Instance:Ahnkahet] Fixed problem gathering GUIDS from bosses.
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/ahnkahet.h
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/boss_elder_nadox.cpp
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/boss_jedoga_shadowseeker.cpp
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/instance_ahnkahet.cpp
Labels: CORE, Script, file-cpp

#18693 fix(Scripts/TheEye): make Al'ar not get stuck during dive bomb when no enemies in melee range
  src/server/scripts/Outland/TempestKeep/Eye/boss_alar.cpp
Labels: CORE, Script, file-cpp

#18677 fix(Scripts/TheEye): Kaelthas: Roar timer
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: CORE, Script, file-cpp

#18672 feat(Core/Scripts): Optimize PlayerScripts by calling only overridden/implemented functions.
  src/server/game/DungeonFinding/LFGScripts.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.h
  src/server/game/Scripting/ScriptMgr.h
  src/server/game/Scripting/ScriptMgrMacros.h
  src/server/game/Scripting/ScriptObject.h
  src/server/scripts/Events/midsummer.cpp
  src/server/scripts/World/action_ip_logger.cpp
  src/server/scripts/World/chat_log.cpp
  src/server/scripts/World/player_scripts.cpp
  src/server/scripts/World/server_mail.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#18697 feat(Core/Scripts): Optimize AccountScript need#18672
  src/server/game/Scripting/ScriptDefines/AccountScript.cpp
  src/server/game/Scripting/ScriptDefines/AccountScript.h
Labels: CORE, file-cpp

#18701 feat(Core/Scripts): Optimize MovementHandlerScript need#18672
  src/server/game/Scripting/ScriptDefines/MovementHandlerScript.cpp
  src/server/game/Scripting/ScriptDefines/MovementHandlerScript.h
Labels: CORE, file-cpp

#18700 feat(Core/Scripts): Optimize ArenaScript need#18672
  src/server/game/Scripting/ScriptDefines/ArenaScript.cpp
  src/server/game/Scripting/ScriptDefines/ArenaScript.h
Labels: CORE, file-cpp

#18699 feat(Core/Scripts): Optimize ArenaTeamScript need#18672
  src/server/game/Scripting/ScriptDefines/ArenaTeamScript.cpp
  src/server/game/Scripting/ScriptDefines/ArenaTeamScript.h
Labels: CORE, file-cpp

#18698 feat(Core/Scripts): Optimize AuctionHouseScript need#18672
  src/server/game/Scripting/ScriptDefines/AuctionHouseScript.cpp
  src/server/game/Scripting/ScriptDefines/AuctionHouseScript.h
Labels: CORE, file-cpp

#18718 fix(Core/Scripts): Fix build and crash when calling uninitialized scripts
  src/server/game/Scripting/ScriptDefines/AccountScript.h
  src/server/game/Scripting/ScriptDefines/ArenaScript.h
  src/server/game/Scripting/ScriptDefines/ArenaTeamScript.h
  src/server/game/Scripting/ScriptDefines/AuctionHouseScript.h
  src/server/game/Scripting/ScriptDefines/MovementHandlerScript.h
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, file-cpp

#18708 refactor(Core/Scripts): Optimize Script
  src/server/game/Scripting/ScriptDefines/AccountScript.cpp
  src/server/game/Scripting/ScriptDefines/ArenaScript.cpp
  src/server/game/Scripting/ScriptDefines/ArenaTeamScript.cpp
  src/server/game/Scripting/ScriptDefines/AuctionHouseScript.cpp
  src/server/game/Scripting/ScriptDefines/MovementHandlerScript.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.h
Labels: CORE, file-cpp

#18709 feat(Core/Scripts): Optimize DatabaseScript
  src/server/game/Scripting/ScriptDefines/DatabaseScript.cpp
  src/server/game/Scripting/ScriptDefines/DatabaseScript.h
Labels: CORE, file-cpp

#18710 feat(Core/Scripts): Optimize FormulaScript
  src/server/game/Scripting/ScriptDefines/FormulaScript.cpp
  src/server/game/Scripting/ScriptDefines/FormulaScript.h
Labels: CORE, file-cpp

#18712 feat(Core/Scripts): Optimize GlobalScript
  src/server/game/Scripting/ScriptDefines/GlobalScript.cpp
  src/server/game/Scripting/ScriptDefines/GlobalScript.h
Labels: CORE, file-cpp

#18724 feat(Core/Scripts): Optimize WorldScript
  src/server/game/Scripting/ScriptDefines/WorldScript.cpp
  src/server/game/Scripting/ScriptDefines/WorldScript.h
  src/server/game/Scripting/ScriptMgr.cpp
Labels: CORE, file-cpp

#18723 feat(Core/Scripts): Optimize WorldObjectScript
  src/server/game/Scripting/ScriptDefines/WorldObjectScript.cpp
  src/server/game/Scripting/ScriptDefines/WorldObjectScript.h
Labels: CORE, file-cpp

#18722 feat(Core/Scripts): Optimize UnitScript
  src/server/game/Scripting/ScriptDefines/UnitScript.cpp
  src/server/game/Scripting/ScriptDefines/UnitScript.h
Labels: CORE, file-cpp

#18721 feat(Core/Scripts): Optimize ServerScript
  src/server/game/Scripting/ScriptDefines/ServerScript.cpp
  src/server/game/Scripting/ScriptDefines/ServerScript.h
Labels: CORE, file-cpp

#18720 feat(Core/Scripts): Optimize PetScript
  src/server/game/Scripting/ScriptDefines/PetScript.cpp
  src/server/game/Scripting/ScriptDefines/PetScript.h
Labels: CORE, file-cpp

#18716 feat(Core/Scripts): Optimize MailScript
  src/server/game/Scripting/ScriptDefines/MailScript.cpp
  src/server/game/Scripting/ScriptDefines/MailScript.h
Labels: CORE, file-cpp

#18715 feat(Core/Scripts): Optimize LootScript
  src/server/game/Scripting/ScriptDefines/LootScript.cpp
  src/server/game/Scripting/ScriptDefines/LootScript.h
Labels: CORE, file-cpp

#18714 feat(Core/Scripts): Optimize GuildScript
  src/server/game/Scripting/ScriptDefines/GuildScript.cpp
  src/server/game/Scripting/ScriptDefines/GuildScript.h
Labels: CORE, file-cpp

#18713 feat(Core/Scripts): Optimize GroupScript
  src/server/game/DungeonFinding/LFGScripts.cpp
  src/server/game/Scripting/ScriptDefines/GroupScript.cpp
  src/server/game/Scripting/ScriptDefines/GroupScript.h
Labels: CORE, file-cpp

#18711 feat(Core/Scripts): Optimize GameEventScript
  src/server/game/Scripting/ScriptDefines/GameEventScript.cpp
  src/server/game/Scripting/ScriptDefines/GameEventScript.h
Labels: CORE, file-cpp

#18702 feat(Core/Scripts): Optimize AllSpellScript
  src/server/game/Scripting/ScriptDefines/AllSpellScript.cpp
  src/server/game/Scripting/ScriptDefines/AllSpellScript.h
Labels: CORE, file-cpp

#18703 feat(Core/Scripts): Optimize AllCommandScript
  src/server/game/Scripting/ScriptDefines/AllCommandScript.cpp
  src/server/game/Scripting/ScriptDefines/AllCommandScript.h
Labels: CORE, file-cpp

#18704 feat(Core/Scripts): Optimize AllBattlegroundScript
  src/server/game/Scripting/ScriptDefines/AllBattlegroundScript.cpp
  src/server/game/Scripting/ScriptDefines/AllBattlegroundScript.h
Labels: CORE, file-cpp

#18705 feat(Core/Scripts): Optimize AchievementScript
  src/server/game/Scripting/ScriptDefines/AchievementScript.cpp
  src/server/game/Scripting/ScriptDefines/AchievementScript.h
Labels: CORE, file-cpp

#18681 fix(Scripts/Hyjal): Archimonde finger of death condition
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_archimonde.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18730 fix(Core/Scripts): Fix one more typo after scripts refactoring
  src/server/game/Scripting/ScriptMgrMacros.h
Labels: CORE, file-cpp

#18735 fix(Core/Spells): Fix Anetheron sleep only targetting himself
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#18733 fix(DB/Creature): Towering Infernals should be immune to taunt
  data/sql/updates/pending_db_world/rev_1713017015376822300.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18732 fix(Scripts/Hyjal): Fix Mark of Kazrogal not dealing damage when unab…
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_kazrogal.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18743 fix. Prevent character deletion if you have an email
  src/server/game/Handlers/CharacterHandler.cpp
Labels: CORE, file-cpp

#18740 fix(Core/Spells): Dive Bomb should not share damage
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#18738 fix(Scripts/Hyjal): Azgalor Doom should not be cast on the MT
  src/server/game/AI/CoreAI/UnitAI.cpp
  src/server/game/AI/CoreAI/UnitAI.h
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_azgalor.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18736 fix(DB/Creature): Al'lar should despawn on evade
  data/sql/updates/pending_db_world/rev_1713022406349814900.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18737 fix(DB/Creature): Remove Distract immunity from Hyjal bosses except A…
  data/sql/updates/pending_db_world/rev_1713024535116935100.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18745 fix(DB/Spells): Add Pet Spells to Shadowy Necromancer
  data/sql/updates/pending_db_world/rev_1713097857608850100.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Instance - Raid - Outland, 70

#18707 chore(DB/Creature): Make use of comment field to make explicit which creatures have GUID-specific scripting
  data/sql/updates/pending_db_world/rev_1712889407279485900.sql
Labels: DB, Ready to be Reviewed

#18753 fix(Scripts/Hyjal): fix Mark of Kaz'rogal timer
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_kazrogal.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#18755 fix. fatal error: comparison of integers of different signs
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_kazrogal.cpp
Labels: CORE, Script, file-cpp

#18660 fix(Scripts/Pet): Fix crash when spawning lightwell by hand
  src/server/scripts/Pet/pet_priest.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, run-build, file-cpp

#18706 feat(Core/SmartAI): Add support for usage of waypoint_data in SAI
  data/sql/updates/pending_db_world/rev_1712889530436412200.sql
  src/server/game/AI/SmartScripts/SmartAI.cpp
  src/server/game/AI/SmartScripts/SmartAI.h
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: DB, CORE, Ready to be Reviewed, 70, file-cpp, Requires WIKI Update

#18610 fix(DB/Gameobject): Sniffed Values for 'Fire' spawns
  data/sql/updates/pending_db_world/rev_1711310669959067500.sql
Labels: DB, Ready to be Reviewed

#18765 chore(DB/Creature): worldserver error
  data/sql/updates/pending_db_world/rev_1713534008677560300.sql
Labels: DB, To Be Merged

#18766 fix(Scripts/Hyjal): Cannibalize should heal more than 1
  data/sql/updates/pending_db_world/rev_1713549415418061715.sql
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/hyjal.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp

#18770 fix(DB/SAI): make 'Midsummer Celebrants' talk regularly
  data/sql/updates/pending_db_world/rev_1713615045654319800.sql
Labels: DB, Ready to be Reviewed, World Event

#18762 fix(DB/Gameobject): Sniffed Values for '%Cauldron%' spawns
  data/sql/updates/pending_db_world/rev_1713467863396026800.sql
Labels: DB, Ready to be Reviewed

#18775 fix(DB/Gameobject): Sniffed Values for 179548 'A Dusty Tome' spawns
  data/sql/updates/pending_db_world/rev_1713699453958519800.sql
Labels: DB, Ready to be Reviewed

#18657 fix(Scripts/TheEye): Update Kaelthas Phoenix timers
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#18768 fix(DB/Gameobject): add missing script to some fire places
  data/sql/updates/pending_db_world/rev_1713610036097360400.sql
Labels: DB, Ready to be Reviewed

#18771 fix(DB/Spell) Fix the Spell Upgrade Zigguraut visuals
  data/sql/updates/pending_db_world/rev_1713631238575683400.sql
Labels: DB

#18734 fix(DB/Creature)Added paths for patrolling mobs in the Scarlet Abbey chapel area
  data/sql/updates/pending_db_world/rev_1713004478213792900.sql
Labels: DB

#18655 fix(Scripts/TheEye): Update Astromancer timings and add phase
  src/server/scripts/Outland/TempestKeep/Eye/boss_astromancer.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#18654 fix(Scripts/TheEye): Update Alar Dive Bomb timings
  src/server/scripts/Outland/TempestKeep/Eye/boss_alar.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#18739 fix(DB/Creature): Add a small event for mission 1781
  data/sql/updates/pending_db_world/rev_1713019573985621400.sql
Labels: DB, To Be Merged, Tested

#18795 fix(Core/SmartAI) fatal error: unused parameter pathId
  src/server/game/AI/SmartScripts/SmartAI.cpp
Labels: CORE, file-cpp

#18798 fix(Core/Pet): Fix pets chasing when pet and target spins uncontrollable
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
Labels: CORE, file-cpp

#18777 fix(DB/Gameobject): Sniffed Values for 'Doodad_DwarfSign_Alchemist01' spawns
  data/sql/updates/pending_db_world/rev_1713785804437634300.sql
Labels: DB, Ready to be Reviewed

#18692 fix(DB/Creature): Manually apply 'automated z correction' to DB spawns
  data/sql/updates/pending_db_world/rev_1712669118514469200.sql
Labels: DB, To Be Merged

#18811 fix(Core/GameObject): load guid based scripts correctly
  src/server/game/Entities/GameObject/GameObject.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#18780 fix(DB/Gameobject): Sniffed Values for 'AuctionNode' spawns
  data/sql/updates/pending_db_world/rev_1713790630268201700.sql
Labels: DB, Ready to be Reviewed

#18759 fix(Core/Battleground): EOTS adjust flag respawn timer
  src/server/game/Battlegrounds/Zones/BattlegroundEY.h
Labels: CORE, file-cpp

#18726 refactor(Scripts/Karazhan): 'uint' It can never be less than 0
  src/server/scripts/EasternKingdoms/Karazhan/boss_chess_event.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#18806 fix(Scripts/PlayerScript): PlayerScript Error
  src/server/game/Scripting/ScriptDefines/PlayerScript.cpp
Labels: CORE, To Be Merged, file-cpp

#18781 fix(DB/Gossip_Menu_Option_Locale): fix german umlauts
  data/sql/updates/pending_db_world/rev_1713803843196763300.sql
Labels: DB, To Be Merged, Tested

#18748 fix(Scripts/Arenas): Updating timer for Shadow Sight spawns
  src/server/game/Battlegrounds/Zones/BattlegroundBE.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundDS.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundNA.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundRL.cpp
Labels: CORE, To Be Merged, file-cpp

#18625 fix(DB/Creature): fixed Timber respawn time
  data/sql/updates/pending_db_world/fix-issue-18433.sql
Labels: DB, To Be Merged

#18812 fix(Core/Map): remove hackfix that blocked update of GOs beeing set active
  src/server/game/Maps/Map.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp
