Repository azerothcore/azerothcore-wotlk, pull requests merged in 2024-10, with the labels that each got.

#20115 fix(DB/Creature): Adjust Flame of Azzinoth model data.
  data/sql/updates/pending_db_world/illidan-elemental-model.sql
Labels: DB, Ready to be Reviewed

#20095 refactor(src/server/game/AI): remove unused imports
  src/server/game/AI/CoreAI/GameObjectAI.h
  src/server/game/AI/CoreAI/PassiveAI.cpp
  src/server/game/AI/CoreAI/ReactorAI.cpp
  src/server/game/AI/CoreAI/TotemAI.h
  src/server/game/AI/CreatureAI.h
  src/server/game/AI/CreatureAIImpl.h
  src/server/game/AI/GameObjectAIFactory.h
  src/server/game/AI/SmartScripts/SmartAI.h
Labels: CORE, To Be Merged, run-build, file-cpp

#20094 refactor(src/server/game/Grids): remove unused imports
  src/server/game/Grids/Cells/Cell.h
  src/server/game/Grids/Cells/CellImpl.h
  src/server/game/Grids/Notifiers/GridNotifiers.cpp
  src/server/game/Grids/Notifiers/GridNotifiersImpl.h
  src/server/game/Grids/ObjectGridLoader.cpp
  src/server/game/Grids/ObjectGridLoader.h
Labels: CORE, To Be Merged, run-build, file-cpp

#20093 refactor(src/server/game/Chat): remove unused imports
  src/server/game/Chat/Chat.cpp
  src/server/game/Chat/Chat.h
  src/server/game/Chat/ChatCommands/ChatCommand.h
  src/server/game/Chat/ChatCommands/ChatCommandHelpers.cpp
  src/server/game/Chat/ChatCommands/ChatCommandHelpers.h
  src/server/game/Chat/ChatCommands/ChatCommandTags.h
  src/server/game/Chat/Hyperlinks.h
Labels: CORE, To Be Merged, run-build, file-cpp

#20092 refactor(src/server/game/Spells): remove unused imports
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellDefines.h
  src/server/game/Spells/SpellEffects.cpp
  src/server/game/Spells/SpellMgr.cpp
Labels: CORE, To Be Merged, run-build, file-cpp

#20090 refactor(src/server/game/World): remove unused imports
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/game/World/World.h
Labels: CORE, To Be Merged, run-build, file-cpp

#20088 refactor(src/server/game/Globals): remove unused imports
  src/server/game/Globals/ObjectAccessor.cpp
  src/server/game/Globals/ObjectAccessor.h
  src/server/game/Globals/ObjectMgr.h
Labels: CORE, To Be Merged, run-build, file-cpp

#20104 fix(DB/Creature): Icecrown Orgrim's Hammer and The Skybreaker map icons
  data/sql/updates/pending_db_world/rev_1727647338172762248.sql
Labels: DB, To Be Merged, Tested

#20060 fix(Core/Spells): Restricted aura application prevention when immune …
  src/server/game/Spells/Spell.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp, Tested

#20076 fix(Scripts/TheBlackTemple): resetting behaviour in p1 for Shade of Akama
  data/sql/updates/pending_db_world/factions_shade.sql
  src/server/scripts/Outland/BlackTemple/boss_shade_of_akama.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp

#20079 fix(Core/Unit): Flight Form riding crop, vehicle speed auras
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/Auras/SpellAuraDefines.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/scripts/Spells/spell_druid.cpp
Labels: CORE, To Be Merged, Script, file-cpp, Tested

#20117 fix(DB/Gameobject): add gameobjects to transports
  data/sql/updates/pending_db_world/rev_1727634134273698700.sql
Labels: DB, Ready to be Reviewed

#20118 fix(Scripts/TheBlackTemple): remove gossip option on Akama when Illidan is dead
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
Labels: Ready to be Reviewed, Script, file-cpp, Tested

#20062 fix(Creature/Model) Model probability change
  data/sql/updates/pending_db_world/rev_1727463144776588300.sql
Labels: DB

#20119 fix(DB/WailingCaverns): make Boahn cast snake form
  data/sql/updates/pending_db_world/boahn.sql
Labels: DB, To Be Merged, Tested

#20120 fix(DB/Creature): Adjust move type of various Black Temple creatures.
  data/sql/updates/pending_db_world/bt-path-runners.sql
Labels: DB, Ready to be Reviewed

#20125 fix(Scripts/BlackTemple): Reset Illidan threat with phase four.
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
Labels: Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#20128 fix(Core/Items): Fix exploit where multiple auras could be applied from a single enchantment.
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, file-cpp

#20122 fix(DB/Spell): Link triggered Shattrath flask effects to flask aura and proper area.
  data/sql/updates/pending_db_world/shattrath-flasks.sql
Labels: DB, Ready to be Reviewed, Tested

#20124 fix(Core/Unit): update death state before handling RemoveAllAurasOnDeath()
  src/server/game/Combat/ThreatMgr.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
Labels: CORE, file-cpp

#20133 fix(Scripts/BlackTemple): exclude off tank of the Azzinoth Flame's charge
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
Labels: Script, file-cpp

#20130 fix(Scripts/Dragonblight): Fix Torturer Leclaft spamming abilities
  src/server/scripts/Northrend/zone_dragonblight.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20150 fix(Core/CharmInfo): Add exception for Kil'jaeden dragon charm spells.
  src/server/game/Entities/Unit/CharmInfo.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#20154 fix(Core/Spell): Include damaging spells for starting combat.
  src/server/game/Spells/Spell.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#20137 fix(Script/Mother Shahraz) Add new teleport points.
  src/server/scripts/Outland/BlackTemple/boss_mother_shahraz.cpp
Labels: To Be Merged, Script, file-cpp

#19377 fix(Core/Unit): add rage gain when attack is fully blocked, dodged or parried
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, To Be Merged, file-cpp, Tested

#20155 fix(Core/Unit): Add mana drain effect to Black Bow of the Betrayer.
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, To Be Merged, file-cpp

#20054 fix(DB/Spell): Remove Arcane Missile spell info overrides.
  data/sql/updates/pending_db_world/arcane-missile-dbc.sql
Labels: DB, Ready to be Reviewed

#20163 fix(Core/Scripts): Further improve the ScheduleHealthCheck() function
  src/server/game/AI/ScriptedAI/ScriptedCreature.cpp
  src/server/game/AI/ScriptedAI/ScriptedCreature.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#20161 fix(Script): Fix npc following player after starting duel
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter1.cpp
Labels: To Be Merged, Script, file-cpp, Tested

#20172 fix(Scripts/BlackTemple): Adjust caster of Blaze spell.
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#20174 fix(Scripts/BlackTemple): Add resets for enrage events with death.
  src/server/scripts/Outland/BlackTemple/boss_mother_shahraz.cpp
  src/server/scripts/Outland/BlackTemple/boss_warlord_najentus.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#20177 fix(DB/Creature): Adjust model probability for Whirling Blade trigger creatures.
  data/sql/updates/pending_db_world/whirling-blade-model.sql
Labels: DB, Ready to be Reviewed

#20114 refactor: Use emplace_back instead of push_back to avoid extra copy/m…
  src/server/game/AI/CoreAI/PetAI.cpp
  src/server/game/Addons/AddonMgr.cpp
  src/server/game/Addons/AddonMgr.h
  src/server/game/Chat/Channels/ChannelMgr.cpp
  src/server/game/Loot/LootItemStorage.cpp
  src/server/game/Skills/SkillDiscovery.cpp
  src/server/scripts/Commands/cs_quest.cpp
  src/tools/mmaps_generator/MapBuilder.cpp
  src/tools/mmaps_generator/MapBuilder.h
  src/tools/mmaps_generator/PathCommon.h
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#20099 fix(core/QuestHandler) question marks not shown
  src/server/game/Handlers/QuestHandler.cpp
Labels: CORE, Waiting to be Tested, file-cpp

#20082 fix(Core/Vehicles): feat vehicle seat addon, vehicle enter/exit positions
  data/sql/updates/pending_db_world/rev_1725993194571320983.sql
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Vehicle/Vehicle.cpp
  src/server/game/Entities/Vehicle/Vehicle.h
  src/server/game/Entities/Vehicle/VehicleDefines.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Handlers/MovementHandler.cpp
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/game/World/World.cpp
Labels: DB, CORE, To Be Merged, file-cpp, Tested

#19895 fix(Scripts/ZulAman): Nalorakk can't able to trigger instance events when death
  src/server/scripts/EasternKingdoms/ZulAman/boss_nalorakk.cpp
Labels: To Be Merged, Script, file-cpp

#20151 fix(SQL/smart_scripts) target in script 1436800
  data/sql/updates/pending_db_world/rev_1728233546701933600.sql
Labels: DB, To Be Merged

#20063 fix(DB/Creature): Sniffed Values for 'Monstrous Kaliri Egg Trigger' s…
  data/sql/updates/pending_db_world/rev_1727467120698661800.sql
Labels: DB, To Be Merged

#20165 fix(Core/SpellInfoCorrections): Add Arcane Missiles spell info correction.
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, file-cpp

#20179 fix(Core/Spells): Fix crash
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/Spell.cpp
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#20173 fix(Scripts/BlackTemple): Adjust cast behavior for Supremus's charge.
  src/server/scripts/Outland/BlackTemple/boss_supremus.cpp
Labels: To Be Merged, Script, file-cpp, Tested

#20176 fix(Scripts/BlackTemple): Remove Naj'entus Spines from players on engage.
  data/sql/updates/pending_db_world/najentus-spine-removal.sql
  src/server/scripts/Outland/BlackTemple/boss_warlord_najentus.cpp
Labels: DB, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#20181 fix(DB/Creature): Adjust Teron Gorefiend's model data.
  data/sql/updates/pending_db_world/gorefiend-model-data.sql
Labels: DB, Ready to be Reviewed

#20178 Fix(Script) A Special Surprise Npcs issues.
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter2.cpp
Labels: Script, file-cpp

#20182 fix(Scripts/BlackTemple): Flames should not charge players within 25y…
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
Labels: Waiting to be Tested, Script, file-cpp

#20183 fix(Scripts/BlackTemple): Ensure root state is cleared on wipes
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20152 Fix(DB/SAI) Into The realm of Shadows issues
  data/sql/updates/pending_db_world/rev_1728239921994699100.sql
Labels: DB, To Be Merged, Tested

#20175 fix(Core/Spells): supress caster procs for Siphon Life heal
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, file-cpp

#20132 fix(cpp/db): how to win friends and infleunce enemies missing dialogue
  data/sql/updates/pending_db_world/rev_1728059831124992100.sql
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter2.cpp
Labels: DB, To Be Merged, Script, file-cpp, Tested

#20105 fix(DB/Quest): Assign proper quest starters for Brewfest souvenir quests.
  data/sql/updates/pending_db_world/rev_1727708457969593200.sql
Labels: DB, To Be Merged

#20185 refactor(Scripts/ZulAman): Move Hexlord adds to SAI
  data/sql/updates/pending_db_world/rev_1728726995329687900.sql
  src/server/scripts/EasternKingdoms/ZulAman/boss_hexlord.cpp
Labels: DB, To Be Merged, Script, file-cpp

#20170 Fix(DB/Script): Phase change for DK starter area Eye of Acherus and npcs.
  data/sql/updates/pending_db_world/DK_NPC_Phases_Fix.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: DB, CORE, To Be Merged, file-cpp, DB Spawns

#20180 fix(DB/Creature): update Shandy's creature_text
  data/sql/updates/pending_db_world/shandy-fix.sql
Labels: DB, To Be Merged

#20201 fix(Scripts/BlackTemple): Grant proper encounter credit for Illidari Council.
  src/server/scripts/Outland/BlackTemple/boss_illidari_council.cpp
Labels: To Be Merged, Script, file-cpp

#20200 fix(Scripts/BlackTemple): Fix Gathios not recasting Consecration
  src/server/scripts/Outland/BlackTemple/boss_illidari_council.cpp
Labels: To Be Merged, Script, file-cpp

#20199 fix(Scripts/BlackTemple): Clear events on evade (so he doesnt move wh…
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
Labels: To Be Merged, Script, file-cpp

#20198 fix(DB/Creature): Illidari Council skip player damage req
  data/sql/updates/pending_db_world/rev_1728859739562034100.sql
Labels: DB, To Be Merged

#20197 fix(DB): Missing additional crashed flying machines gameobjects
  data/sql/updates/pending_db_world/rev_1728850639076317100.sql
Labels: DB

#20205 fix(DB/Gameobject): Sniffed Values for 'Draenethyst Mine Crystal' spawns
  data/sql/updates/pending_db_world/rev_1728935460036509400.sql
Labels: DB, Ready to be Reviewed

#20192 Fix(DB)Stable Master Kitrik adding path.
  data/sql/updates/pending_db_world/Kitrik wp.sql
Labels: DB, Ready to be Reviewed, Tested

#20207 fix(DB): Fix importer
  data/sql/updates/pending_db_world/Kitrik_wp.sql
Labels: DB

#20208 fix(DB): Fix importer part 2
  data/sql/updates/pending_db_world/Kitrik_wp.sql
Labels: DB

#20209 fix(CI): simplify ci-pending-sql.sh and make it safer
  apps/ci/ci-pending-sql.sh
Labels: Bash

#20210 Fix(DB) Resolve Stable Master Kitrik missing path.
  data/sql/updates/pending_db_world/Kitrik_Fix_waypoint.sql
Labels: DB, To Be Merged

#20202 Fix(DB) Preachers path.
  data/sql/updates/pending_db_world/Scarlet_Preachers_path.sql
Labels: DB, To Be Merged

#20219 fix(CI/Import SQL): reference previous pending update in header
  apps/ci/ci-pending-sql.sh
Labels: Bash

#20218 fix(DB/Creature): Adjust various values of Sunwell Plateau creatures.
  data/sql/updates/pending_db_world/sunwell-creature-values.sql
Labels: DB, Ready to be Reviewed

#20221 fix(DB/Creature): Sniffed Values for 'Oomailiq' spawns
  data/sql/updates/pending_db_world/rev_1729021118457928000.sql
Labels: DB, Ready to be Reviewed

#20212 Fix(DB) Scarlet Preachers phase 2 correction.
  data/sql/updates/pending_db_world/Scarlet_preachers_initgroup_wp.sql
Labels: DB, Ready to be Reviewed, Tested

#20222 fix(DB/Creature): Adjust various values of Zul'Aman creatures.
  data/sql/updates/pending_db_world/zulaman-creature-values.sql
Labels: DB, Ready to be Reviewed

#20220 fix(Core/Items): Don't remove all owned auras on removing enchantments.
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, file-cpp

#20229 chore(Core): Correct typo of `Suppress`.
  deps/g3dlite/source/CollisionDetection.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/Outland/Auchindoun/ShadowLabyrinth/boss_murmur.cpp
  src/server/scripts/Spells/spell_druid.cpp
  src/server/shared/SharedDefines.h
  src/server/shared/enuminfo_SharedDefines.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#20213 Fix(DB) Scarlet Commanders and Crusaders group and waypoints.
  data/sql/updates/pending_db_world/Scarlet_Group_Patrol.sql
Labels: DB, To Be Merged

#20032 fix(Core/Spells): SPELL_ATTR1_IMMUNITY_PURGES_EFFECT should not remov…
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, Waiting to be Tested, file-cpp

#20227 fix(Core/CharmInfo): Adjust how spells are given to charmed creatures.
  src/server/game/Entities/Unit/CharmInfo.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#20243 fix(DB/Quest): fix Standards and Practices Quest spawns
  data/sql/updates/pending_db_world/rev_1729280864308751500.sql
Labels: DB, Ready to be Reviewed

#20245 Revert "fix(Core/Spells): SPELL_ATTR1_IMMUNITY_PURGES_EFFECT should not remov…"
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, file-cpp

#20228 Update README.md - update build status logos and links
  .github/README.md
Labels: To Be Merged, Documentation

#20247 fix(DB/Gameobject): Sniffed Values for 'G_Witch*' spawns
  data/sql/updates/pending_db_world/rev_1729366796998536500.sql
Labels: DB, To Be Merged, World Event

#20249 fix(DB/Gameobject): Sniffed Values for 'CandleBlack01' spawns
  data/sql/updates/pending_db_world/rev_1729425181955359400.sql
Labels: DB, To Be Merged, World Event

#20248 fix(DB/Gameobject): Sniffed Values for 'G_Pumpkin*' spawns
  data/sql/updates/pending_db_world/rev_1729421122207404600.sql
Labels: DB, To Be Merged, World Event

#20254 fix(DB/Gameobject): Sniffed Values for 'Skull 01' spawns
  data/sql/updates/pending_db_world/rev_1729454932992384900.sql
Labels: DB, Ready to be Reviewed, World Event

#20253 fix(DB/Gameobject): Sniffed Values for 'SkullCandle01' spawns
  data/sql/updates/pending_db_world/rev_1729453994124891500.sql
Labels: DB, Ready to be Reviewed, World Event

#20252 fix(DB/Gameobject): Sniffed Values for 'G_Ghost_01' spawns
  data/sql/updates/pending_db_world/rev_1729452965567764700.sql
Labels: DB, Ready to be Reviewed, World Event

#20251 fix(DB/Gameobject): Sniffed Values for 'G_HangingSkeleton_01' spawns
  data/sql/updates/pending_db_world/rev_1729451776782122600.sql
Labels: DB, Ready to be Reviewed, World Event

#20262 fix(Scripts/BlackTemple): Randomize Eye Beam target position.
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
Labels: Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#20264 fix(Scripts/BlackTemple): Properly randomize Illidan initial Eye Beam and order.
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
Labels: Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#16739 fix(Core/SmartAI) : use explicit stack DS for ProcessAction instead of recursion
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScript.h
Labels: CORE, Ready to be Reviewed, file-cpp, Tested

#20255 fix(DB/Gameobject): Sniffed Values for 'Bat01/Bat02' spawns
  data/sql/updates/pending_db_world/rev_1729537931575974500.sql
Labels: DB, Ready to be Reviewed, World Event

#20276 fix(Scripts/BlackTemple): Reset Illidan combat movement
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
Labels: To Be Merged, Script, file-cpp

#20282 fix(DB/Gameobject): Sniffed Values for 'Fire Effigy' spawns
  data/sql/updates/pending_db_world/rev_1729712239807225500.sql
Labels: DB, Ready to be Reviewed, World Event

#20281 fix(DB/Gameobject): Sniffed Values for 'Water Bucket(s)' spawns
  data/sql/updates/pending_db_world/rev_1729711596307895600.sql
Labels: DB, Ready to be Reviewed, World Event

#20280 fix(DB/Gameobject): Sniffed Values for 'Water Barrel' spawns
  data/sql/updates/pending_db_world/rev_1729710393833071500.sql
Labels: DB, Ready to be Reviewed, World Event

#20279 fix(DB/Gameobject): Sniffed Values for 'Apple Bob' spawns
  data/sql/updates/pending_db_world/rev_1729708855723932000.sql
Labels: DB, Ready to be Reviewed, World Event

#20273 fix(DB/SmartScript): Fix Illidan Shadow Demons not killing their targets
  data/sql/updates/pending_db_world/rev_1729732350483337300.sql
Labels: DB, To Be Merged, Tested

#20272 fix(Scripts/BlackTemple): Apply Shadow Prison spell immunities
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
Labels: To Be Merged, Script, file-cpp, Tested

#20283 fix(Core/SAI): rooted check blocks vehicles from casting quest credit
  src/server/game/AI/SmartScripts/SmartScript.cpp
Labels: CORE, file-cpp

#20271 fix(Scripts/BlackTemple): Prevent Illidan transformation during cutscene
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
Labels: Ready to be Reviewed, Script, file-cpp, Tested

#20286 fix(Scripts/BlackTemple): Fix Illidan Demon Phase being delayed indef…
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
Labels: To Be Merged, Script, file-cpp, Tested

#20156 fix(Core/BG): Fix double method call on removing a player
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, Waiting to be Tested, file-cpp

#20288 fix(DB/Creature): Sniffed Values for 'Headless Horseman - Fire (DND)'…
  data/sql/updates/pending_db_world/rev_1729801306113720000.sql
Labels: DB, Ready to be Reviewed, World Event

#20295 fix(DB/Gameobject): Sniffed Values for 'Candy Bucket' spawns
  data/sql/updates/pending_db_world/rev_1729884184909584000.sql
Labels: DB, Ready to be Reviewed, World Event

#20195 refactor(Scripts/ZulAman): refactor Jan'alai
  src/server/scripts/EasternKingdoms/ZulAman/boss_janalai.cpp
Labels: Script, file-cpp

#20300 fix(DB/Gameobject): Sniffed Values for 'HangingSkullLight0x' spawns
  data/sql/updates/pending_db_world/rev_1729918137193299400.sql
Labels: DB, Ready to be Reviewed, World Event

#20291 fix(DB/creature_loot_template): Removing Dalaran Wizard's Robe from Witchwing harpies
  data/sql/updates/pending_db_world/#19606-dalaran-wizards-robe.sql
Labels: DB

#20302 fix(DB/Gameobject): Sniffed Values for 'Hallow's End - Misc' spawns
  data/sql/updates/pending_db_world/rev_1729943411184671500.sql
Labels: DB, Ready to be Reviewed, World Event

#20307 fix(DB/Gameobject): Sniffed Values for 'Laying Skeleton 02' spawns
  data/sql/updates/pending_db_world/rev_1729969915840937600.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#20297 fix(DB/Emote): Add STATE_WORK_MINING emote to certain iron rune laborers
  data/sql/updates/pending_db_world/rev_1729898849364366600.sql
Labels: DB

#20311 refactor(src/server/game/*): remove unused imports (big part 2)
  src/server/game/DungeonFinding/LFGMgr.cpp
  src/server/game/DungeonFinding/LFGQueue.cpp
  src/server/game/Entities/Object/Position.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Groups/Group.cpp
  src/server/game/Guilds/Guild.h
  src/server/game/Handlers/ItemHandler.cpp
  src/server/game/Handlers/MiscHandler.cpp
  src/server/game/Loot/LootItemStorage.h
  src/server/game/Loot/LootMgr.cpp
  src/server/game/Loot/LootMgr.h
  src/server/game/Mails/Mail.h
  src/server/game/Misc/AsyncAuctionListing.h
  src/server/game/Misc/GameGraveyard.h
  src/server/game/OutdoorPvP/OutdoorPvP.h
  src/server/game/OutdoorPvP/OutdoorPvPMgr.h
  src/server/game/Petitions/PetitionMgr.h
  src/server/scripts/Commands/cs_reload.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, run-build, file-cpp

#20310 refactor(src/server/game/*): remove unused imports (big part 1)
  src/server/game/AI/CreatureAIImpl.h
  src/server/game/Achievements/AchievementMgr.h
  src/server/game/Addons/AddonMgr.h
  src/server/game/ArenaSpectator/ArenaSpectator.cpp
  src/server/game/Battlegrounds/BattlegroundQueue.h
  src/server/game/Chat/Channels/Channel.h
  src/server/game/Chat/Channels/ChannelMgr.h
  src/server/game/Chat/Chat.h
  src/server/game/Chat/ChatCommands/ChatCommand.h
  src/server/game/Chat/ChatCommands/ChatCommandArgs.h
  src/server/game/Combat/HostileRefMgr.h
  src/server/game/Combat/ThreatMgr.h
  src/server/game/Conditions/ConditionMgr.h
  src/server/game/Conditions/DisableMgr.cpp
  src/server/game/Conditions/DisableMgr.h
  src/server/game/DataStores/M2Stores.cpp
  src/server/game/DungeonFinding/LFG.h
  src/server/game/DungeonFinding/LFGPlayerData.h
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Events/GameEventMgr.cpp
  src/server/game/Grids/GridDefines.h
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
  src/server/game/Maps/MapInstanced.cpp
  src/server/game/Maps/MapMgr.h
  src/server/game/Maps/MapUpdater.h
  src/server/game/Maps/ZoneScript.h
  src/server/game/Spells/Spell.cpp
  src/server/game/Warden/Warden.cpp
  src/server/game/Warden/WardenMac.h
  src/server/game/Warden/WardenWin.h
  src/server/scripts/EasternKingdoms/Karazhan/boss_chess_event.cpp
  src/server/scripts/EasternKingdoms/Karazhan/boss_shade_of_aran.cpp
  src/server/scripts/Events/pilgrims_bounty.cpp
  src/server/scripts/Kalimdor/zone_silithus.cpp
  src/server/scripts/Northrend/AzjolNerub/AzjolNerub/boss_anubarak.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheChampion/boss_grand_champions.cpp
  src/server/scripts/Northrend/DraktharonKeep/boss_trollgore.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_deathbringer_saurfang.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_festergut.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel_teleport.cpp
  src/server/scripts/Outland/Auchindoun/SethekkHalls/boss_talon_king_ikiss.cpp
  src/server/scripts/Outland/BlackTemple/boss_illidari_council.cpp
  src/server/scripts/Outland/GruulsLair/boss_high_king_maulgar.cpp
  src/server/scripts/Outland/HellfireCitadel/BloodFurnace/boss_broggok.cpp
  src/server/scripts/Pet/pet_mage.cpp
  src/server/scripts/Spells/spell_item.cpp
  src/server/scripts/World/item_scripts.cpp
  src/server/scripts/World/mob_generic_creature.cpp
  src/server/scripts/World/npc_professions.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, run-build, file-cpp

#20308 fix(DB/Gameobject): Sniffed Values for 'Laying Skeleton 03' spawns
  data/sql/updates/pending_db_world/rev_1729970893985724600.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#20315 refactor(src/server/game/*): remove unused imports (big part 3)
  src/server/game/AI/CoreAI/GuardAI.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Item/Item.cpp
  src/server/game/Entities/Player/PlayerStorage.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Handlers/MiscHandler.cpp
  src/server/game/Mails/Mail.cpp
  src/server/game/Scripting/ScriptMgr.h
  src/server/game/Scripting/ScriptObject.h
  src/server/game/Server/WorldPacket.h
  src/server/game/Server/WorldSession.cpp
  src/server/game/Server/WorldSocket.cpp
  src/server/game/Server/WorldSocket.h
  src/server/game/Spells/SpellInfo.cpp
  src/server/game/Texts/CreatureTextMgr.h
  src/server/game/Tools/PlayerDump.h
  src/server/game/Weather/Weather.h
Labels: CORE, To Be Merged, Ready to be Reviewed, run-build, file-cpp

#20318 fix(DB/Gameobject): final cleanup of Hallow's End decorations
  data/sql/updates/pending_db_world/rev_1729972036319397600.sql
Labels: DB, Ready to be Reviewed, World Event

#20319 fix(DB): Adjust faction change swap for Sergeant's Heavy back.
  data/sql/updates/pending_db_world/sergeants-heavy-back-faction-change.sql
Labels: DB, Ready to be Reviewed

#20316 refactor(src/server/database|shared): remove unused import
  src/common/Logging/Log.h
  src/server/database/Database/DatabaseEnv.h
  src/server/database/Updater/DBUpdater.h
  src/server/game/Addons/AddonMgr.cpp
  src/server/game/Movement/Waypoints/WaypointMgr.cpp
  src/server/shared/Network/AsyncAcceptor.h
  src/server/shared/Network/NetworkThread.h
  src/server/shared/Realms/RealmList.cpp
  src/server/shared/Realms/RealmList.h
Labels: CORE, To Be Merged, Ready to be Reviewed, run-build, file-cpp

#20290 fix(DB/game_event): Fix Kalu'ak Fishing Derby starting times
  data/sql/updates/pending_db_world/#20186-kaluak-fishing-derby.sql
Labels: DB

#20330 Fix(DB/Creature) Feral Dragonhawk Hatchling are skinnable.
  data/sql/updates/pending_db_world/Feral_Dragonhawk_Hatchling_skinnable.sql
Labels: DB, To Be Merged

#20048 fix(Scripts/Icecrown Citadel): Correct pipe pathing for Vengeful Fles…
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
Labels: To Be Merged, Script, file-cpp, Tested

#20317 fix(Core/BattlegroundAV): Add Hallow's End decorations to Alterac Valley
  src/server/game/Battlegrounds/Zones/BattlegroundAV.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundAV.h
Labels: CORE, Ready to be Reviewed, World Event, Battlegrounds, file-cpp

#20335 fix (Script/Black Temple) Spawn Shadow Demons 30s into phase 4
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
Labels: Instance - Raid - Outland, Script, 70, file-cpp

#20365 fix(DB/SAI): Replace bad spell ID for Sunblade Vindicator's Mortal Strike.
  data/sql/updates/pending_db_world/sunblade-vindicator-strike.sql
Labels: DB, To Be Merged, Tested

#20375 fix(DB/Creature): Add auras to Sunblade Scout.
  data/sql/updates/pending_db_world/sunblade-scout-auras.sql
Labels: DB, Ready to be Reviewed

#20377 refactor(src/common|server): remove unused import (big part 1)
  src/common/DataStores/DBCFileLoader.cpp
  src/common/Dynamic/TypeContainer.h
  src/common/Logging/enuminfo_LogCommon.cpp
  src/common/Threading/MPSCQueue.h
  src/common/Utilities/ByteConverter.h
  src/common/Utilities/IteratorPair.h
  src/common/Utilities/SFMTRand.cpp
  src/common/Utilities/SmartEnum.h
  src/server/database/Updater/DBUpdater.cpp
  src/server/game/Scripting/ScriptMgr.cpp
  src/server/game/Spells/SpellEffects.cpp
  src/server/scripts/Commands/cs_debug.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/mob_anubisath_sentinel.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_blood_prince_council.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_festergut.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_icecrown_gunship_battle.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_sindragosa.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_the_lich_king.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_valithria_dreamwalker.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.h
  src/server/scripts/OutdoorPvP/OutdoorPvPHP.cpp
  src/server/scripts/Outland/CoilfangReservoir/SlavePens/boss_ahune.cpp
  src/server/scripts/Outland/zone_shattrath_city.cpp
  src/server/scripts/World/action_ip_logger.cpp
  src/server/shared/Realms/Realm.cpp
  src/server/shared/Realms/RealmList.cpp
  src/server/shared/enuminfo_SharedDefines.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, run-build, file-cpp

#20368 fix(DB/Creature): Shadow Demon knockback immunity
  data/sql/updates/pending_db_world/rev_1730331051873196200.sql
Labels: DB, To Be Merged
