Repository azerothcore/azerothcore-wotlk, pull requests merged in 2024-01, with the labels that each got.

#18080 refactor(Core/GameObject): Move the GameObject state save handling to…
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/database/Database/Implementation/CharacterDatabase.h
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/GameObject/GameObject.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Instances/InstanceScript.cpp
  src/server/game/Instances/InstanceScript.h
  src/server/game/Maps/Map.cpp
  src/server/game/World/World.cpp
  src/server/scripts/EasternKingdoms/Deadmines/instance_deadmines.cpp
  src/server/scripts/EasternKingdoms/Gnomeregan/instance_gnomeregan.cpp
  src/server/scripts/EasternKingdoms/Scholomance/instance_scholomance.cpp
  src/server/scripts/EasternKingdoms/Stratholme/instance_stratholme.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18072 fix(DB/Gameobject): Update all 'Mailbox' spawns with sniffed values
  data/sql/updates/pending_db_world/rev_1703711417382340800.sql
Labels: DB, Ready to be Reviewed

#18068 fix(Core/Unit): Remove delay for Conflagrate aura state
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, file-cpp

#18092 fix(DB/BloodmystIsle): add sniffed abilities to Zarakh
  data/sql/updates/pending_db_world/zarakh.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18090 Fix(Core): Fix item disappearing on selling item on auction
  src/server/game/Handlers/AuctionHouseHandler.cpp
Labels: CORE, file-cpp

#18093 fix(DB/BloodmystIsle): add sniffed abilities to Sunhawk Spy
  data/sql/updates/pending_db_world/sunhawk-spy.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18094 fix(DB/SSC): change Morogrim's combat reach and model bounds based on sniffs
  data/sql/updates/pending_db_world/morogrim-reach.sql
Labels: DB

#18071 fix(Scripts/Midsummer): Improve Torch Catching based on sniffs
  data/sql/updates/pending_db_world/rev_1703680658578159100.sql
  src/server/scripts/Events/midsummer.cpp
Labels: DB, CORE, Ready to be Reviewed, World Event, Script, file-cpp

#18060 feat(Core/World): Implement DoForAllPlayers() helper for all online p…
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/scripts/Commands/cs_reset.cpp
  src/test/mocks/WorldMock.h
Labels: CORE, To Be Merged, Script, UnitTests, file-cpp

#18058 refactor(Scripts/TheEye): Update Astromancer's spellscripts to new re…
  src/server/scripts/Outland/TempestKeep/Eye/boss_astromancer.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#18054 refactor(Scripts/Areatrigger): Move Scholazar Waygate script to SAI
  data/sql/updates/pending_db_world/rev_1703449890835634600.sql
  src/server/scripts/World/areatrigger_scripts.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp

#18064 fix(Core/Player): Check if the player can summon the warlock pet on B…
  src/server/game/Entities/Pet/Pet.cpp
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#18089 fix(DB/Nagrand): script Gava'xi OOC rp with sniffs
  data/sql/updates/pending_db_world/gava_xi_ooc_rp.sql
Labels: DB, To Be Merged

#18026 Fix combat movement
  data/sql/updates/pending_db_world/2023_12_14_00.sql
  src/server/game/AI/SmartScripts/SmartAI.cpp
  src/server/game/AI/SmartScripts/SmartAI.h
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScript.h
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
Labels: DB, CORE, file-cpp

#18098 fix(DB/Conditions): Quest Sniffing Out the Perpetrator
  data/sql/updates/pending_db_world/rev_1704198878008192900.sql
Labels: DB

#18103 fix(Core/LFG): Hide XP from max players
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerQuest.cpp
  src/server/game/Handlers/LFGHandler.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#18086 fix(DB/TerokkarForest): add patrol movement to Ironjaw
  data/sql/updates/pending_db_world/ironjaw.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18105 fix(DB/TempestKeep): Rebuild Tempest Keep
  data/sql/updates/pending_db_world/tk.sql
Labels: DB, Ready to be Reviewed, Instance - Raid - Outland, 70

#18104 fix(Core/Quest): Calculate reward money with RATE_REWARD_BONUS_MONEY …
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/Quests/QuestDef.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#18110 fix(DB/Creature): Update 'Commoner' spawns with sniffed values
  data/sql/updates/pending_db_world/rev_1704377167191663200.sql
Labels: DB, Ready to be Reviewed, World Event

#18108 fix(DB/HellfirePeninsula): remove botched caster movement scripting from Arch Mage Xintor
  data/sql/updates/pending_db_world/rework-xintor.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18073 fix(DB/Creature): Fix '(Master) Fire Eater' / '(Master) Flame Eater' spawns and SAI based on sniffs
  data/sql/updates/pending_db_world/rev_1703714972387347200.sql
Labels: DB, Ready to be Reviewed, World Event

#18111 fix(DB/Creature): Fix Shadow of Leotheras banish immunity
  data/sql/updates/pending_db_world/rev_1704419804837515700.sql
Labels: DB, To Be Merged

#18085 fix(DB/Gameobject): Update 'Caribou Trap' spawns with sniffed values
  data/sql/updates/pending_db_world/rev_1703933164908912300.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed

#18114 fix(Scripts/SSC): Update Hydross Mark Timers
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_hydross_the_unstable.cpp
Labels: CORE, Script, file-cpp

#18117 fix(DB/SSC): change Ranger-General's Chestguard on Lurker to The Seal of Danzalar
  data/sql/updates/pending_db_world/update_lurker_loottable.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18121 fix(DB): Correct bad delete query
  data/sql/updates/db_world/2023_11_12_07.sql
Labels: DB, Ready to be Reviewed

#18088 Fix(DB/SAI) Fixed a dialogue error when "Tendris Warpwood" died
  data/sql/updates/pending_db_world/rev_1704030025660316800.sql
Labels: DB

#18122 fix(DB): Bad query
  data/sql/updates/db_world/2023_11_12_07.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18127 fix(Script/Spell): Vanish Purge behavior
  data/sql/updates/pending_db_world/rev_1704634658411960800.sql
  src/server/game/Spells/SpellEffects.cpp
  src/server/scripts/Spells/spell_rogue.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp

#18128 fix(Core/Player): Sometimes Player whisper is sent as boss whisper
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#18091 fix(DB/Loot): port drop chances for Insane Strength Potion and Mana Pot Injector recipes from CMaNGOS
  data/sql/updates/pending_db_world/insane-strength-pot.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18129 feat(Scripts/Commands): Implement gameobject respawn command
  data/sql/updates/pending_db_world/rev_1704643532152504000.sql
  src/server/game/Miscellaneous/Language.h
  src/server/scripts/Commands/cs_gobject.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18130 fix(Scripts/SerpentshrineCavern): Fix Lurker pool not respawning afte…
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_lurker_below.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#18132 fix(DB/Creature): Vashj's Enchanted Elementals knockback immunity
  data/sql/updates/pending_db_world/rev_1704668562192640700.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18134 fix(DB/Conditions): Fix Midsummer Bonfire gossip menu option conditions
  data/sql/updates/pending_db_world/rev_1704658911516061000.sql
Labels: DB, Ready to be Reviewed, World Event

#17880 refactor(CI): Squash docker ci into one workflow
  .github/actions/docker-tag-and-build/action.yml
  .github/workflows/docker_build.yml
Labels: Workflow, run-build

#18123 (script/Pilgrims bounty) Use client-side localized text
  src/server/scripts/Events/pilgrims_bounty.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp, Tested

#17847 fix(Scripts/Quest): improve Securing the Celestial Ridge
  data/sql/updates/pending_db_world/rev_1700913491921182500.sql
  src/server/scripts/Outland/zone_netherstorm.cpp
Labels: DB, CORE, Script, file-cpp

#18131 fix(DB/npc_text): Fix Orgrimmar Grunt directions for barber shop
  data/sql/updates/pending_db_world/rev_1704657014016572900.sql
Labels: DB, Ready to be Reviewed

#18124 fix(CI): Probably fix vanishing CIs from PRs
  .github/workflows/core-build-nopch.yml
  .github/workflows/core-build-pch.yml
Labels: Workflow

#18147 fix(CI): revert `if` in job conditionals on docker build
  .github/workflows/docker_build.yml
Labels: Workflow, run-build

#18153 fix(Core/Creature): Reduce z offset for automated spawn correction
  src/server/game/Entities/Creature/Creature.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#18154 fix(DB/Creature): Sniffed Values for 28344 'Blazzle'
  data/sql/updates/pending_db_world/rev_1705005159549564700.sql
Labels: DB, Ready to be Reviewed

#18155 fix(Scripts/Rogue): Fix Vanish not granting stealth
  src/server/scripts/Spells/spell_rogue.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#18162 fix(Core/ThreatMgr): Remove temp threat on resetting threat list
  src/server/game/Combat/ThreatMgr.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp, Tested

#18163 feat(Core/Hook): New hook OnBeforePlayerLogout
  src/server/game/Scripting/ScriptDefines/PlayerScript.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.h
  src/server/game/Scripting/ScriptMgr.h
  src/server/game/Server/WorldSession.cpp
Labels: CORE, To Be Merged, file-cpp

#18168 fix(DB/Gameobject): Midsummer gameobject spawn cleanups
  data/sql/updates/pending_db_world/rev_1705092713015591500.sql
Labels: DB, Ready to be Reviewed, World Event

#18166 fix(DB/Creature): Warlock trainers in Orgrimmar should talk orcish
  data/sql/updates/pending_db_world/rev_1705189109284336800.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18160 fix(DB/Gameobject): Sniffed Values for 181307 'Camp Mug'
  data/sql/updates/pending_db_world/rev_1705060650691801700.sql
Labels: DB, Ready to be Reviewed, World Event

#18145 fix(DB/Gameobject): Sniffed Values for 180046 'Chair'
  data/sql/updates/pending_db_world/rev_1704835582555070100.sql
Labels: DB, Ready to be Reviewed

#18158 fix(DB/Gameobject): Sniffed Values for 181302 'Camp Crate'
  data/sql/updates/pending_db_world/rev_1705045773931139800.sql
Labels: DB, Ready to be Reviewed, World Event

#18159 fix(DB/Gameobject): Sniffed Values for 181306 'Camp Jug'
  data/sql/updates/pending_db_world/rev_1705047627268701300.sql
Labels: DB, Ready to be Reviewed, World Event

#18152 fix(DB/Creature): Update 'Magical Menagerie' Cosmetic creature spawns…
  data/sql/updates/pending_db_world/rev_1704916944244599500.sql
Labels: DB, Ready to be Reviewed

#18144 fix(DB/Gameobject): Sniffed Values for 180045 'Stormwind Gypsy Wagon'
  data/sql/updates/pending_db_world/rev_1704833818090519400.sql
Labels: DB, Ready to be Reviewed

#18137 fix(DB/Gameobject): Sniffed Values for 180665 'Draconic for Dummies'
  data/sql/updates/pending_db_world/rev_1704744571249555200.sql
Labels: DB, Ready to be Reviewed

#18136 fix(Core/Player): Fix Player not starting at full health
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#18135 fix(DB/SAI): Move GameObjectScript go_midsummer_bonfire to SAI
  data/sql/updates/pending_db_world/rev_1704713347931310000.sql
  src/server/scripts/Events/midsummer.cpp
Labels: DB, CORE, Ready to be Reviewed, World Event, Script, file-cpp

#18125 Fix(script/instance_icecrown_citadel) Lich King Whispers uses localized languages
  data/sql/updates/pending_db_world/rev_1704518041243129300.sql
  src/server/scripts/Northrend/IcecrownCitadel/instance_icecrown_citadel.cpp
Labels: DB, CORE, Script, file-cpp

#18165 fix(DB/Creature): Update all commoneer talking intervals to 300s
  data/sql/updates/pending_db_world/rev_1705186167693993300.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18133 fix(scripts/Karazhan): Add cleave and threat resets to Nightbane
  src/server/scripts/EasternKingdoms/Karazhan/boss_nightbane.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#17878 fix(DB/IcecrownCitadel): Fix Rotface resetting behaviour
  data/sql/updates/pending_db_world/rev_1701079229296730800.sql
Labels: DB

#15634 fix(CORE/OPvP): Halaa Mechanics not working properly
  data/sql/updates/pending_db_world/rev_1680005777631310400.sql
  src/server/game/Miscellaneous/Language.h
  src/server/scripts/OutdoorPvP/OutdoorPvPNA.cpp
  src/server/scripts/OutdoorPvP/OutdoorPvPNA.h
Labels: DB, CORE, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#18170 chore(DB/Creature): fix guid conflicts
  data/sql/updates/pending_db_world/rev_1705256343927806600.sql
Labels: DB

#18179 fix(Scripts/IcecrownCitadel): Fix Sindragosa respawn
  src/server/scripts/Northrend/IcecrownCitadel/instance_icecrown_citadel.cpp
Labels: CORE, Script, file-cpp

#18185 fix(DB/SSC): Make sure Tainted Elementals on Vashj have better movement
  data/sql/updates/pending_db_world/tainted-ele-vashj.sql
Labels: To Be Merged, Ready to be Reviewed

#18184 fix(DB/SSC): Make sure Lurker archers don't move after spawning
  data/sql/updates/pending_db_world/lurker-adds.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18183 fix(DB/Karazhan): make sure conjured elementals on Aran don't move after spawning
  data/sql/updates/pending_db_world/aran-water-elementals.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18187 fix(Scripts/SSC): make sure Vashj doesn't move during P2
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_lady_vashj.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#18195 fix(DB/Creature): fix additional guid conflicts
  data/sql/updates/pending_db_world/rev_1705672576334561600.sql
Labels: DB, Ready to be Reviewed

#18192 fix(DB/Creature): Update Dalaran 'The Wonderworks' creatures with SAI…
  data/sql/updates/pending_db_world/rev_1705604986240392900.sql
Labels: DB, Ready to be Reviewed

#18189 fix (Core/Unit) Apply Capacitor cooldown on trigger proc instead of on stack add
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, file-cpp

#18186 fix(DB/TheEye): change spelltimers based on sniffs
  data/sql/updates/pending_db_world/tk-sai-revamped.sql
Labels: DB

#18188 fix(DB/Gameobject): Sniffed Values for 181637 'Sha'naar Relic'
  data/sql/updates/pending_db_world/rev_1705519867655359000.sql
Labels: DB, Ready to be Reviewed

#18203 fix(scripts/commands) prevent crash on set motd
  data/sql/updates/pending_db_world/rev_1705791671858497500.sql
  src/server/scripts/Commands/cs_server.cpp
Labels: CORE, Script, file-cpp

#18171 fix(Scripts/Midsummer): Correct behavior for Striking Back quests.
  data/sql/updates/pending_db_world/striking-back-init.sql
  src/server/scripts/Events/midsummer.cpp
Labels: DB, CORE, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#18204 fix(DB): Collation error
  data/sql/base/db_world/item_dbc.sql
  data/sql/base/db_world/lfgdungeons_dbc.sql
  data/sql/updates/db_world/2024_01_20_06.sql
  data/sql/updates/pending_db_world/rev_1705789020183035200.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#18200 fix(Core/Creature): Remove automated z spawn correction
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/scripts/Commands/cs_npc.cpp
  src/server/scripts/Commands/cs_wp.cpp
  src/server/scripts/OutdoorPvP/OutdoorPvPNA.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#18201 Fix(core): Support MariaDB 10.x when using mysql client libraries
  src/server/database/Database/DatabaseWorkerPool.cpp
  src/server/database/Database/DatabaseWorkerPool.h
  src/server/database/Database/MySQLConnection.cpp
  src/server/database/Database/MySQLConnection.h
Labels: CORE, file-cpp

#18209 fix(Conf): typo
  src/server/apps/worldserver/worldserver.conf.dist
Labels: CORE

#18216 fix(DB): Revert squish 8.0 game_event changes
  data/sql/updates/pending_db_world/rev_1705951274696547500.sql
Labels: DB, Ready to be Reviewed

#18221 fix(CORE/INSTANCE): typo
  src/server/game/Instances/InstanceSaveMgr.cpp
Labels: CORE, file-cpp

#18227 feat(Core/Spell): Add helper for TriggeredCastFlag
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
Labels: CORE, To Be Merged, file-cpp

#18233 fix(DB/TheEye): fix some trash immunities in The Tempest Keep
  data/sql/updates/pending_db_world/tk-immunities-fix.sql
Labels: DB

#18222 fix(Core/Quests): Create quest money reward config and adjust max level bonus reward function.
  data/sql/updates/pending_db_world/drop-column.sql
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Quests/QuestDef.cpp
  src/server/game/Quests/QuestDef.h
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
Labels: DB, CORE, Ready to be Reviewed, file-cpp, Tested
