Repository azerothcore/azerothcore-wotlk, pull requests merged in 2024-11, with the labels that each got.

#20388 refactor(src/common|server): remove unused import (big part 2)
  src/common/Logging/AppenderFile.h
  src/common/Metric/Metric.h
  src/common/Utilities/IteratorPair.h
  src/server/game/Grids/Notifiers/GridNotifiersImpl.h
  src/server/game/Tools/PlayerDump.h
  src/server/game/Warden/Warden.h
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_ouro.cpp
  src/server/shared/Realms/Realm.cpp
  src/server/shared/Realms/Realm.h
  src/server/shared/Realms/RealmList.h
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, run-build, file-cpp

#20258 fix(Core/Movement): fix a small memory leak in RandomMovementGenerator
  src/server/game/Movement/MovementGenerators/RandomMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/RandomMovementGenerator.h
Labels: CORE, Ready to be Reviewed, file-cpp, Tested

#20395 fix(Scripts/BlackTemple): Parasitic Shadowfiends only target players
  src/server/scripts/Outland/BlackTemple/boss_illidan.cpp
Labels: To Be Merged, Script, file-cpp

#20394 fix(Core/Spells): Fix Gurtogg Bloodboil applying Acid Wound to himself
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, file-cpp

#20396 fix(DB/Creature): Remove stunned flag from Syndicate Thiefs
  data/sql/updates/pending_db_world/rev_1730474098944363200.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#20401 refactor(Scripts/Northrend): spell scripts use registry macros
  data/sql/updates/pending_db_world/rev_1730483264891546354.sql
  src/server/scripts/Northrend/Ulduar/HallsOfLightning/boss_loken.cpp
  src/server/scripts/Northrend/Ulduar/HallsOfStone/boss_krystallus.cpp
  src/server/scripts/Northrend/Ulduar/HallsOfStone/brann_bronzebeard.cpp
  src/server/scripts/Northrend/VaultOfArchavon/boss_archavon.cpp
  src/server/scripts/Northrend/VaultOfArchavon/boss_emalon.cpp
  src/server/scripts/Northrend/VaultOfArchavon/boss_koralon.cpp
Labels: DB, Script, file-cpp

#20400 refactor(scripts/CrusadersColiseum): spell scripts use registry macros
  data/sql/updates/pending_db_world/rev_1730483438978049424.sql
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_anubarak_trial.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_faction_champions.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_lord_jaraxxus.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_twin_valkyr.cpp
Labels: DB, Script, file-cpp

#20399 refactor(Scripts/EasternKingdoms): spell scripts use registry macros
  data/sql/updates/pending_db_world/rev_1730480939942370941.sql
  src/server/scripts/EasternKingdoms/Gnomeregan/instance_gnomeregan.cpp
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter1.cpp
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter5.cpp
  src/server/scripts/EasternKingdoms/Scholomance/instance_scholomance.cpp
  src/server/scripts/EasternKingdoms/ShadowfangKeep/instance_shadowfang_keep.cpp
  src/server/scripts/EasternKingdoms/SunkenTemple/instance_sunken_temple.cpp
  src/server/scripts/EasternKingdoms/Uldaman/instance_uldaman.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/boss_mandokir.cpp
Labels: DB, Script, file-cpp

#20398 feat(DB): Expand `game_event_npc_vendor` key to include event entry.
  data/sql/updates/pending_db_world/game-event-npc-vendor-key.sql
Labels: DB, Ready to be Reviewed

#20333 fix(Scripts/Outland): Fix crash in dragonmaw_race_npc by refreshing players pointer in lambda function.
  src/server/scripts/Outland/zone_shadowmoon_valley.cpp
Labels: Script, file-cpp

#20406 fix(DB/Gameobject): Sniffed Values for "Pilgrim's Bounty" spawns
  data/sql/updates/pending_db_world/rev_1730495848024739200.sql
Labels: DB, Ready to be Reviewed, World Event

#20360 fix(Scripts/Netherstorm): make "Mark V is Alive!" group completable
  src/server/scripts/Outland/zone_netherstorm.cpp
Labels: Script, file-cpp

#20366 fix(Scripts/Events): Hallow's End Headless Horsemen fly intro
  data/sql/updates/pending_db_world/rev_1730310110375137038.sql
  src/server/scripts/Events/hallows_end.cpp
Labels: DB, Script, file-cpp

#20355 fix(Scripts/Kalimdor): Cavern of Time custodian escort quest group completion
  src/server/scripts/Kalimdor/zone_tanaris.cpp
Labels: Script, file-cpp

#20293 fix(DB/gameobject_queststarter): Added queststarter records for GameObject 142122
  data/sql/updates/pending_db_world/gameobject_142122_add_quest_starters.sql
Labels: DB, Ready to be Reviewed

#20332 fix(DB/Loot): Add Weighted Jack-o'-Lanterns to Crudely Wrapped Gift.
  data/sql/updates/pending_db_world/gift-loot-jack-o-lantern.sql
Labels: DB, Ready to be Reviewed

#20417 fixup(Scripts/CrusaderColiseum)spellscripts
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/boss_twin_valkyr.cpp
Labels: Script, file-cpp

#20418 fix(Spells/SpellScript): fix CI, rename the log for Validate
  src/server/game/Spells/SpellScript.cpp
Labels: CORE, file-cpp

#20422 fix(DB/Creature): Sniffed Values for 'Pilgrim's Bounty' spawns
  data/sql/updates/pending_db_world/rev_1730576806851331700.sql
Labels: DB, Ready to be Reviewed, World Event

#20419 fix(Core/Movement): remove unecessary reset()
  src/server/game/Movement/MovementGenerators/RandomMovementGenerator.cpp
Labels: CORE, file-cpp

#20432 fix(DB/Procs): Eye of Magtheridon not procing on miss
  data/sql/updates/pending_db_world/rev_1730665013024686700.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#20427 fix(DB/Gameobject): Sniffed Values for 'Lights' spawns
  data/sql/updates/pending_db_world/rev_1730631772192751500.sql
Labels: DB, Ready to be Reviewed, World Event

#20426 fix(DB/Creature): Sniffed Values for 'Hallow's End' spawns
  data/sql/updates/pending_db_world/rev_1730623224902752600.sql
Labels: DB, Ready to be Reviewed, World Event

#20429 fix(DB/Custom): Spotlight aura stacking
  data/sql/updates/pending_db_world/rev_1730643881779967700.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#20405 Fix(SQL): First Blood Elf packs are not linked properly.
  data/sql/updates/pending_db_world/rev_1730520438291701981.sql
Labels: DB, To Be Merged, Tested

#20403 Fix(SQL): Pack near the first scout is not linked properly
  data/sql/updates/pending_db_world/rev_1730519194220305125.sql
Labels: DB, To Be Merged, Tested

#20374 fix(Core/Unit): Only allow Judgement of Light/Wisdom to proc for targets friendly to caster.
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#20299 fix(Core/Spells): Adjust logic for removing/applying auras related to areas.
  src/server/game/Spells/Auras/SpellAuras.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#20421 Fix(SQL): Unleashed Hellion's Rain of Fire
  data/sql/updates/pending_db_world/rev_1730575812039136017.sql
Labels: DB, To Be Merged, Tested

#20404 Fix(SQL): deactivated sunblade protectors is not linked properly
  data/sql/updates/pending_db_world/rev_1730519930456661020.sql
Labels: DB, To Be Merged, Tested

#20411 fix(Core/Spells): Luffa removing bleeds over level 60
  data/sql/updates/pending_db_world/rev_1730488634123195500.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/Spells/spell_item.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp

#20434 fix(DB/Gameobject): Sniffed Values for 'Xmas*' spawns
  data/sql/updates/pending_db_world/rev_1730696860845829300.sql
Labels: DB, Ready to be Reviewed, World Event

#20206 refactor(Scripts/ZulAman): refactor set data to instance boss states and refactor Hex Lord Malacrass
  src/server/scripts/EasternKingdoms/ZulAman/boss_akilzon.cpp
  src/server/scripts/EasternKingdoms/ZulAman/boss_halazzi.cpp
  src/server/scripts/EasternKingdoms/ZulAman/boss_hexlord.cpp
  src/server/scripts/EasternKingdoms/ZulAman/boss_janalai.cpp
  src/server/scripts/EasternKingdoms/ZulAman/boss_nalorakk.cpp
  src/server/scripts/EasternKingdoms/ZulAman/boss_zuljin.cpp
  src/server/scripts/EasternKingdoms/ZulAman/instance_zulaman.cpp
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.h
Labels: Script, file-cpp

#20449 fix(CI/SQL import): don't use octal
  apps/ci/ci-pending-sql.sh
Labels: Bash

#20455 fix(Core/Spells): 'Black Qiraji Battle Tank' being removed on map change/teleport
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#20452 fix(DB/Gameobject): Sniffed Values for 'Winter Veil' spawns (part 2)
  data/sql/updates/pending_db_world/rev_1730833751913402600.sql
Labels: DB, Ready to be Reviewed, World Event

#20433 fix(DB/Spell): Add spell effect data for Shattered Sun transform auras.
  data/sql/updates/pending_db_world/shattered-sun-transform-serversides.sql
Labels: DB, Ready to be Reviewed

#20444 fix(DB/Quests): 'Strange Energy' having prerequisites
  data/sql/updates/pending_db_world/rev_1730805281119063500.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#20453 fix(Scripts/Item): Obsidian Armor & Frostfire Regalia Set
  data/sql/updates/pending_db_world/rev_1730834742791547700.sql
  src/server/scripts/Spells/spell_generic.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp

#20463 fix(Scripts/ZG): Poisonous Blood not being removed after Blood Siphon
  data/sql/updates/pending_db_world/rev_1730893685558312500.sql
  src/server/scripts/EasternKingdoms/ZulGurub/boss_hakkar.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp

#20462 fix(DB/Gameobject): Sniffed Values for 'Winter Veil Gifts' spawns
  data/sql/updates/pending_db_world/rev_1730891144516714500.sql
Labels: DB, Ready to be Reviewed, World Event

#20464 fix(DB/Gameobject): Sniffed Values for 'Lauranna's Guide to Zangarmar…
  data/sql/updates/pending_db_world/rev_1730893568606190900.sql
Labels: DB, Ready to be Reviewed

#20461 fix(Scripts/AQ20): Set General Rajaxx's Thundercrash to min 100 dmg
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_rajaxx.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20467 fix(Core/Unit): Fix crash during Judgement of Light/Wisdom proc
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, file-cpp

#20459 fix(DB/Creature): Darting Hatchling missing periodic aura
  data/sql/updates/pending_db_world/rev_1730883055614829500.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#20466 fix(DB/Creature): Sniffed Values for 'Winter Veil' spawns
  data/sql/updates/pending_db_world/rev_1730904790999971200.sql
Labels: DB, Ready to be Reviewed, World Event

#20473 fix(DB/Gameobject): Sniffed Values for 'Sitting Skeleton 04' spawns
  data/sql/updates/pending_db_world/rev_1730924236923694300.sql
Labels: DB, Ready to be Reviewed, World Event

#20474 fix(DB/Gameobject): Sniffed Values for 'Zul' Aman cages' spawns
  data/sql/updates/pending_db_world/rev_1730924996458156200.sql
Labels: DB, Ready to be Reviewed

#20472 fix(DB/Creature): Sniffed Values for 'Winter Veil Gifts' spawns
  data/sql/updates/pending_db_world/rev_1730923393720388300.sql
Labels: DB, Ready to be Reviewed, World Event

#20469 fix(DB/Procs): Ephemeral Snowflake having wrong icd
  data/sql/updates/pending_db_world/rev_1730911503089002300.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#20477 fix(DB/Creature): Fix Zul'jin spawn position
  data/sql/updates/pending_db_world/rev_1730989779516531800.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#20478 fix(DB/Gameobject): Sniffed Values for 'Zul' Aman doors' spawns
  data/sql/updates/pending_db_world/rev_1731013217812295500.sql
Labels: DB, Ready to be Reviewed

#20440 fix(DB/Gameobject): Sniffed Values for 'Winter Veil' spawns
  data/sql/updates/pending_db_world/rev_1730754407287605600.sql
Labels: DB, Ready to be Reviewed, World Event

#20481 Fix(Core/Scripts): Kael'thas' Arcane Spheres & Phoenix should despawn
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_felblood_kaelthas.cpp
Labels: Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#20442 fix(DB/SAI): Arzeth the Merciless not moving on respawn
  data/sql/updates/pending_db_world/rev_1730802205082380900.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#20487 refactor(src/tools): remove unused imports
  src/tools/map_extractor/dbcfile.cpp
  src/tools/map_extractor/dbcfile.h
  src/tools/map_extractor/mpq_libmpq04.h
  src/tools/mmaps_generator/IntermediateValues.h
  src/tools/mmaps_generator/MapBuilder.cpp
  src/tools/mmaps_generator/MapBuilder.h
  src/tools/mmaps_generator/PathCommon.h
  src/tools/mmaps_generator/TerrainBuilder.cpp
  src/tools/mmaps_generator/TerrainBuilder.h
  src/tools/vmap4_extractor/adtfile.cpp
  src/tools/vmap4_extractor/dbcfile.cpp
  src/tools/vmap4_extractor/dbcfile.h
  src/tools/vmap4_extractor/gameobject_extract.cpp
  src/tools/vmap4_extractor/model.h
  src/tools/vmap4_extractor/mpq_libmpq04.h
  src/tools/vmap4_extractor/wdtfile.h
  src/tools/vmap4_extractor/wmo.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, run-build, file-cpp

#20456 refactor(Scripts/ZA): Update Zul'jin
  data/sql/updates/pending_db_world/rev_1730866003318081300.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/EasternKingdoms/ZulAman/boss_zuljin.cpp
  src/server/scripts/EasternKingdoms/ZulAman/instance_zulaman.cpp
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.h
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#20458 fix(DB/Creature): Magma Elemental interrupt
  data/sql/updates/pending_db_world/rev_1730874923490368506.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed

#20491 fix(Scripts/ZulAman): Move Harrison Jones spawn to DB
  data/sql/updates/pending_db_world/rev_1731165151168533600.sql
  src/server/scripts/EasternKingdoms/ZulAman/instance_zulaman.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#20496 refactor(Scripts/ZulAman): Move Jan'alai Fire Bomb to SAI
  data/sql/updates/pending_db_world/rev_1731192427658198900.sql
  src/server/scripts/EasternKingdoms/ZulAman/boss_janalai.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#20504 fix(Core/SAI): Don't try to reposition Rooted inhabit type creatures
  src/server/game/AI/SmartScripts/SmartScript.cpp
Labels: CORE, To Be Merged, file-cpp, Tested

#20490 fix(Scripts/ZulAman): Fix Sacrifice timers not updating after latest …
  src/server/scripts/EasternKingdoms/ZulAman/instance_zulaman.cpp
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.cpp
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.h
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20493 fix(Scripts/ZulAman): Fix Akilzon not spawning eagles and update script
  data/sql/updates/pending_db_world/rev_1731176128691196300.sql
  src/server/scripts/EasternKingdoms/ZulAman/boss_akilzon.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#20510 chore(Core/Creature): Fix typo
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/Entities/Creature/CreatureData.h
  src/server/game/Entities/Creature/enuminfo_CreatureData.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#20499 fix(Scripts/ZulAman): Fix crash in Nalorakk script
  src/server/scripts/EasternKingdoms/ZulAman/boss_nalorakk.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20507 fix(Scripts/SSC): Fix Leotheras running in melee range in demon phase
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_leotheras_the_blind.cpp
Labels: To Be Merged, Script, file-cpp, Tested

#20506 fix(Scripts/Spells): Limit Cyclone (39594) to 4 targets
  data/sql/updates/pending_db_world/rev_1731221614295821000.sql
  src/server/scripts/Spells/spell_generic.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#20498 refactor(Scripts/ZulAman): Move Spirit of the Lynx to SAI
  data/sql/updates/pending_db_world/rev_1731208074789403000.sql
  src/server/scripts/EasternKingdoms/ZulAman/boss_halazzi.cpp
Labels: To Be Merged, Ready to be Reviewed

#20492 fix(Scripts/Commands): Remove Spirit of Redemption when using Revive …
  src/server/scripts/Commands/cs_misc.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20505 fix(Scripts/SSC): Improve Tainted Elemental combat behaviour
  data/sql/updates/pending_db_world/rev_1731220503708811500.sql
  src/server/scripts/Outland/CoilfangReservoir/SerpentShrine/boss_lady_vashj.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#20502 fix(Scripts/MagisterTerrace): Add all spells to SpellDifficulty dbc
  data/sql/updates/pending_db_world/rev_1731215535134824600.sql
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_felblood_kaelthas.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_priestess_delrissa.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_selin_fireheart.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_vexallus.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#20495 refactor(Scripts/MagisterTerrace): Move Kalecgos script to SAI
  data/sql/updates/pending_db_world/rev_1731187917937110400.sql
  src/server/scripts/EasternKingdoms/MagistersTerrace/instance_magisters_terrace.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/magisters_terrace.h
Labels: DB, To Be Merged, Script, file-cpp

#20508 feat(Core/Scripting): Implement SetInvincibility() to prevent creatur…
  src/server/game/AI/ScriptedAI/ScriptedCreature.cpp
  src/server/game/AI/ScriptedAI/ScriptedCreature.h
  src/server/scripts/EasternKingdoms/BlackrockMountain/BlackrockSpire/boss_gyth.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#20515 refactor(Scripts/SunwellPlateau): Refactor areatriggers to OnlyOnceAr…
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_brutallus.cpp
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_eredar_twins.cpp
  src/server/scripts/EasternKingdoms/SunwellPlateau/instance_sunwell_plateau.cpp
  src/server/scripts/EasternKingdoms/SunwellPlateau/sunwell_plateau.h
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20451 fix(DB/Loot): Humbert's set
  data/sql/updates/pending_db_world/rev_1730825421243583400.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#20497 fix(Scripts/ZulAman): Amani Hatchers should hatch eggs at increasing …
  data/sql/updates/pending_db_world/rev_1731194758257727900.sql
  src/server/scripts/EasternKingdoms/ZulAman/boss_janalai.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#20516 refactor(Scripts/SunwellPlateau): Modernize Eredar Twins script
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_eredar_twins.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20520 fix(DB/Creature): Fix Hexlord Malacrass spawn position and remove Har…
  data/sql/updates/pending_db_world/rev_1731318072739017900.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#20523 fix(DB/Creature): Adjust Harrison Jones's movement type.
  data/sql/updates/pending_db_world/harrison-jones-hack.sql
Labels: DB, Ready to be Reviewed

#20359 fix(Scripts/BoreanTundra): make Escape from the Winterfin Caverns group completable
  src/server/scripts/Northrend/zone_borean_tundra.cpp
Labels: Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#20526 fix(DB/Gameobject): Sniffed Values for 'Zul' Aman Misc' spawns
  data/sql/updates/pending_db_world/rev_1731354714210375200.sql
Labels: DB, Ready to be Reviewed

#20531 fix(Scripts/ZulAman): Set Akilzon encounter in progress when engaged
  src/server/scripts/EasternKingdoms/ZulAman/boss_akilzon.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20479 fix(Core/Spells): Jump Speed Calculations
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, Ready to be Reviewed, file-cpp, Tested

#20536 fix(Scripts/Commands): Fix crash when using npc set origin faction wi…
  src/server/scripts/Commands/cs_npc.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20540 refactor(src/server/scripts): remove unused imports
  src/server/scripts/Commands/cs_list.cpp
  src/server/scripts/EasternKingdoms/zone_eversong_woods.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/instance_hyjal.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/TheBlackMorass/instance_the_black_morass.cpp
  src/server/scripts/Kalimdor/zone_moonglade.cpp
  src/server/scripts/Northrend/ChamberOfAspects/RubySanctum/instance_ruby_sanctum.cpp
  src/server/scripts/Northrend/FrozenHalls/ForgeOfSouls/instance_forge_of_souls.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, run-build, file-cpp

#20541 refactor(src/server/game): optimise imports
  src/server/apps/worldserver/RemoteAccess/RASession.cpp
  src/server/game/AI/SmartScripts/SmartScript.h
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
  src/server/game/Battlefield/Zones/BattlefieldWG.h
  src/server/game/Battlegrounds/BattlegroundQueue.h
  src/server/game/Chat/Channels/Channel.h
  src/server/game/Chat/Hyperlinks.cpp
  src/server/game/DungeonFinding/LFGQueue.h
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Creature/CreatureGroups.cpp
  src/server/game/Entities/Creature/CreatureGroups.h
  src/server/game/Entities/Creature/GossipDef.h
  src/server/game/Entities/GameObject/GameObject.h
  src/server/game/Entities/GameObject/GameObjectData.h
  src/server/game/Entities/Item/ItemEnchantmentMgr.cpp
  src/server/game/Entities/Object/Position.cpp
  src/server/game/Entities/Player/CinematicMgr.h
  src/server/game/Entities/Unit/CharmInfo.h
  src/server/game/Grids/NGrid.h
  src/server/game/Guilds/Guild.h
  src/server/game/Loot/LootItemStorage.cpp
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/TransportMgr.cpp
  src/server/game/Misc/DynamicVisibility.h
  src/server/game/Movement/MotionMaster.h
  src/server/game/Movement/MovementGenerators/FleeingMovementGenerator.h
  src/server/game/Movement/MovementGenerators/PathGenerator.h
  src/server/game/Movement/MovementGenerators/PointMovementGenerator.h
  src/server/game/Movement/MovementGenerators/RandomMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/RandomMovementGenerator.h
  src/server/game/Movement/Waypoints/WaypointMgr.h
  src/server/game/Pools/PoolMgr.cpp
  src/server/game/Reputation/ReputationMgr.h
  src/server/game/Scripting/MapScripts.cpp
  src/server/game/Scripting/ScriptDefines/GlobalScript.h
  src/server/game/Scripting/ScriptDefines/ServerScript.h
  src/server/game/Scripting/ScriptObject.h
  src/server/game/Spells/Spell.h
  src/server/game/Time/UpdateTime.h
  src/server/game/Tools/CharacterDatabaseCleaner.cpp
  src/server/game/Tools/PlayerDump.h
  src/server/game/Warden/WardenCheckMgr.cpp
  src/server/game/Weather/WeatherMgr.cpp
  src/server/game/World/World.h
  src/server/scripts/Commands/cs_misc.cpp
Labels: CORE, Script, run-build, file-cpp

#20265 fix(DB/game_tele) Updated for Wrath of the Lich King
  data/sql/updates/pending_db_world/rev_1729603880657213700.sql
Labels: DB

#20539 fix(gameobject/Wrong Banners): Wrong faction banners while event 20 running.
  data/sql/updates/pending_db_world/rev_1731438952898922800.sql
Labels: DB, To Be Merged

#20548 refactor(Scripts/SunwellPlateau): Update Brutallus script
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_brutallus.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20547 fix(Scripts/ZulAman): speed up gong event
  data/sql/updates/pending_db_world/rev_1731513769607437914.sql
  src/server/scripts/EasternKingdoms/ZulAman/instance_zulaman.cpp
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.cpp
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.h
Labels: DB, Script, file-cpp

#20435 Fix(Sql/Creature): Correct felguard annihilator ids
  data/sql/updates/pending_db_world/rev_1730699152248147966.sql
Labels: DB, Ready to be Reviewed, Tested

#20348 Fix(DB/SAI) Added dialogue and emotes for Creature (19316).
  data/sql/updates/pending_db_world/rev_1730205089330945800.sql
Labels: DB, To Be Merged, Tested

#20549 fix(Scripts/TheEye): Fix Wrath of the Astromancer's original caster
  src/server/scripts/Outland/TempestKeep/Eye/boss_astromancer.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20553 fix(Scripts/ZulAman): Remove Eletrical Storm hacks
  data/sql/updates/pending_db_world/rev_1731545993422354000.sql
  src/server/scripts/EasternKingdoms/ZulAman/boss_akilzon.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#20554 fix(Scripts/ZulAman): Permbind players when using the gong
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20551 refactor(Scripts/SunwellPlateau): Modernize Muru script
  data/sql/updates/pending_db_world/rev_1731534309713710300.sql
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_muru.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#20555 fix(Core/Instance): Save persistent data to DB on updates
  src/server/game/Instances/InstanceScript.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#20556 chore(Scripts/ZulAman): Update Akilzon to new register method
  src/server/scripts/EasternKingdoms/ZulAman/boss_akilzon.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20552 fix(Core/Spells): Fix Lay on Hands healing bypassing Cyclone
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, To Be Merged, file-cpp

#20350 feat(core): Add hook for applying weapon damage
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.h
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, To Be Merged, file-cpp

#20188 fix(Scripts/TheEye): Kael'thas advisors, refactor and RP
  data/sql/updates/pending_db_world/rev_1726878416572918109.sql
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: DB, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#20562 fix(DB/SAI): Correct Dawnblade Summoner timers and combat movement
  data/sql/updates/pending_db_world/rev_1731595481697504000.sql
Labels: DB, To Be Merged, Tested

#20560 fix(Scripts/Spells): Spell school reflectors should have failure chan…
  data/sql/updates/pending_db_world/rev_1731586109166584600.sql
  src/server/scripts/Spells/spell_item.cpp
Labels: DB, To Be Merged, Script, file-cpp

#20564 feat(Core): Add hook during command security evaluation.
  src/server/game/Chat/ChatCommands/ChatCommand.cpp
  src/server/game/Scripting/ScriptDefines/AllCommandScript.cpp
  src/server/game/Scripting/ScriptDefines/AllCommandScript.h
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, Ready to be Reviewed, file-cpp

#20563 fix(DB/SAI): Remove SAI to set unselectable flag from Sunblade Protectors
  data/sql/updates/pending_db_world/rev_1731611937411826300.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#20573 fixup(Scripts/TheEye): spawn Kaelthas' advisors with full hp
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: Script, file-cpp

#20358 fix(Core/Spell): EffectQuestComplete, set quest to rewarded instead of complete
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerQuest.cpp
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, To Be Merged, file-cpp, Tested

#20568 fix(Scripts/ZulAman): Save Massive Gate state to DB
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.cpp
Labels: To Be Merged, Script, file-cpp

#20301 Fix(DB/SAI) Stonard talking to the NPCs in the refuge camp
  data/sql/updates/pending_db_world/rev_1718404604171613900.sql
Labels: DB, To Be Merged, Tested

#20572 fix(Scripts/TheEye): Fix Al'ar berserk timer
  src/server/scripts/Outland/TempestKeep/Eye/boss_alar.cpp
Labels: To Be Merged, Script, file-cpp, Tested

#20580 fix(Scripts/ZulAman): Update Malacrass adds spawn positions
  src/server/scripts/EasternKingdoms/ZulAman/boss_hexlord.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20376 Fix(DB/creature_template): Fix quest 12028 - Spiritual Insight
  data/sql/updates/pending_db_world/rev_1730390397729810000.sql
Labels: DB, To Be Merged, Tested

#20582 feat(Core/Instances): Implement SummonData
  src/server/game/Instances/InstanceScript.cpp
  src/server/game/Instances/InstanceScript.h
  src/server/scripts/Outland/BlackTemple/instance_black_temple.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#20581 fix(DB/Creature): Sniffed Values for 'Lunar - Elders' spawns
  data/sql/updates/pending_db_world/rev_1731673168265331400.sql
Labels: DB, Ready to be Reviewed, World Event

#20576 fix(DB/Gameobject): Sniffed Values for 'The Dark Portal and the Fall …
  data/sql/updates/pending_db_world/rev_1731657875138095000.sql
Labels: DB, Ready to be Reviewed

#20578 fix(conf/worldserver): add Logger.sql.updates option
  src/server/apps/worldserver/worldserver.conf.dist
Labels: CORE, Ready to be Reviewed

#20586 refactor(Scripts/SunwellPlateau): Move summons to the new summon data…
  src/server/scripts/EasternKingdoms/SunwellPlateau/instance_sunwell_plateau.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20543 Fix(SQL/SAI): dawnblade marksman distance
  data/sql/updates/pending_db_world/rev_1731487213354414876.sql
Labels: DB, To Be Merged, Tested

#20587 fix(DB/Creature): M'uru should not reposition in combat
  data/sql/updates/pending_db_world/rev_1731719085948895000.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#20583 refactor(Scripts/SunwellPlateau): Modernize Kil'jaeden script
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kiljaeden.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20588 refactor(Scripts/SunwellPlateau): Update Kalecgos script
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kalecgos.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20593 fix(DB/Creature): Sniffed Values for 'Lunar - Misc' spawns
  data/sql/updates/pending_db_world/rev_1731759427494541200.sql
Labels: DB, Ready to be Reviewed, World Event

#20068 fix(Core/Spells): implicit target selection for chain spells that should ignore crowd controlled targets
  src/server/game/Spells/SpellInfo.cpp
Labels: CORE, To Be Merged, file-cpp

#20589 refactor(Scripts/ZulAman): Move Amani Hatchling to SAI
  data/sql/updates/pending_db_world/rev_1731726839690566900.sql
  src/server/scripts/EasternKingdoms/ZulAman/boss_janalai.cpp
  src/server/scripts/EasternKingdoms/ZulAman/instance_zulaman.cpp
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.h
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#20597 fix(DB/Creature) - Darkfang Venomspitter under the map
  data/sql/updates/pending_db_world/rev_1731773696314015000.sql
Labels: DB, To Be Merged, Tested

#20596 refactor(Scripts/Naxxramas): Modernize Anubrekhan script
  src/server/scripts/Northrend/Naxxramas/boss_anubrekhan.cpp
  src/server/scripts/Northrend/Naxxramas/instance_naxxramas.cpp
  src/server/scripts/Northrend/Naxxramas/naxxramas.h
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20232 fix(Core/Player): properly update m_usedTalentCount
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, To Be Merged, file-cpp, Tested

#20579 fix(DB/Quest): Morgan Stern [1260] not required for 1204
  data/sql/updates/pending_db_world/rev_1731668322577028300.sql
Labels: DB, To Be Merged

#20603 refactor(Scripts/ZulGurub): Modernize Gahzranka script
  src/server/scripts/EasternKingdoms/ZulGurub/boss_gahzranka.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#20600 Fix(DB/Spawn) Silt Crawlers under the landscape.
  data/sql/updates/pending_db_world/silt_crawler_zspawn.sql
Labels: DB, To Be Merged

#20609 fix(DB/Creature): Zul'jin and Akil'zon should be taunt immune
  data/sql/updates/pending_db_world/rev_1731858489096200800.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#20611 refactor(Scripts/MagisterTerrace): Update Priestess Delrissa
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_priestess_delrissa.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/instance_magisters_terrace.cpp
Labels: Script, file-cpp

#20608 fix(DB/Quest) - Vital Supplies [1477] and Report to Mountaineer Rockgar [468] are now Optional
  data/sql/updates/pending_db_world/rev_1731845823275781900.sql
Labels: DB, To Be Merged

#20615 fix(Scripts/ZulAman): Narolakk dont engage after wave dies and attack…
  src/server/scripts/EasternKingdoms/ZulAman/boss_nalorakk.cpp
Labels: Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#20612 fix(Scripts/ZulAman): Fix Janalai berserk
  src/server/scripts/EasternKingdoms/ZulAman/boss_janalai.cpp
Labels: To Be Merged, Script, file-cpp

#20598 fix(DB/SAI): Fix Sunblade Protector behaviour
  data/sql/updates/pending_db_world/rev_1731793823275142100.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#20620 fix(Scripts/TheEye): Advisors add Sanguinar's Bellowing Roar
  src/server/scripts/Outland/TempestKeep/Eye/boss_kaelthas.cpp
Labels: Script, file-cpp

#20632 fix(Scripts/ZulAman): Fix Gust of Wind targetting tanks and eagles no…
  src/server/scripts/EasternKingdoms/ZulAman/boss_akilzon.cpp
Labels: To Be Merged, Script, file-cpp

#20633 fix(Scripts/ZulAman): Restore hatcher side switch
  src/server/scripts/EasternKingdoms/ZulAman/boss_janalai.cpp
Labels: To Be Merged, Script, file-cpp

#20621 fix(DB/Spawn) - Drywallow Daggermaw under the map
  data/sql/updates/pending_db_world/rev_1731926761837137300.sql
Labels: DB, To Be Merged

#20639 fix(DB/Conditions): Ur'dan require quest to buy stardust
  data/sql/updates/pending_db_world/rev_1731998925094021764.sql
Labels: DB

#20446 fix(Scripts/Item): Multiphase Goggles not showing disturbances on minimap
  data/sql/updates/pending_db_world/rev_1730810247500544000.sql
  src/server/scripts/Spells/spell_item.cpp
Labels: DB, Waiting to be Tested, Script, file-cpp

#20641 fix(DB/Creature): Remove Amani Bear Mounts from Zul'Aman.
  data/sql/updates/pending_db_world/remove_amani_bear_mount.sql
Labels: DB

#20647 fix(DB/Conditions): Mana Remnants can be used only near Crystal Wards
  data/sql/updates/pending_db_world/rev_1732080184310717121.sql
Labels: DB, To Be Merged, Tested

#20643 fix(DB/skinning): add missing skinning loot 1/4
  data/sql/updates/pending_db_world/skinloot_1_on_4.sql
Labels: DB, To Be Merged

#20646 fix(DB/skinning): missing skinloot 4/4
  data/sql/updates/pending_db_world/skinloot_4_on_4.sql
Labels: DB, To Be Merged

#20644 fix(DB/Skinning): add missing skinloot 2/4
  data/sql/updates/pending_db_world/skinloot_2_on_4.sql
Labels: DB, To Be Merged

#20650 fix(Scripts/ZulAman): Halazzi Phases
  data/sql/updates/pending_db_world/rev_1732070236293413533.sql
  src/server/scripts/EasternKingdoms/ZulAman/boss_halazzi.cpp
  src/server/scripts/Spells/spell_generic.cpp
Labels: DB, Script, file-cpp

#20660 fix(DB/Creature): Jan'alai taunt immunity
  data/sql/updates/pending_db_world/rev_1732125382543129600.sql
Labels: DB, To Be Merged

#20662 fix(Scripts/ZulAman): Fix Janalai Enrage/Berserk behaviour
  src/server/scripts/EasternKingdoms/ZulAman/boss_janalai.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp
