Repository azerothcore/azerothcore-wotlk, pull requests merged in 2025-09, with the labels that each got.

#22764 fix(Scripts/World): Swap Shard communication spell to direct cast instead of AoE.
  src/server/scripts/World/scourge_invasion.cpp
Labels: Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#22774 feat(core): implement 31-bit safe petition_id for improved database integrity
  data/sql/updates/pending_db_characters/rev_1756841669142726711.sql
  src/server/database/Database/Implementation/CharacterDatabase.cpp
  src/server/database/Database/Implementation/CharacterDatabase.h
  src/server/game/Handlers/PetitionsHandler.cpp
  src/server/game/Petitions/PetitionMgr.cpp
  src/server/game/Petitions/PetitionMgr.h
Labels: DB, CORE, file-cpp

#22773 fix(DB/Gameobject): Sniffed Values for 'various doodad' spawns
  data/sql/updates/pending_db_world/rev_1756700338678545400.sql
Labels: DB, To Be Merged

#22779 fix(Scripts/Spells): Fix group credit for Salvaging Life's Strength quest spell
  src/server/scripts/Spells/spell_quest.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#22786 feat(MenuSystem): Implement unified menu system for AzerothCore management
  apps/bash_shared/menu_system.sh
  apps/compiler/compiler.sh
  apps/compiler/test/test_compiler.bats
  apps/installer/includes/modules-manager/module-main.sh
  apps/installer/includes/modules-manager/modules.sh
  apps/installer/main.sh
  apps/installer/test/test_module_commands.bats
Labels: Bash

#22787 fix(Scripts/WorldState): zone invasion marks self as defeated when ti…
  src/server/scripts/World/scourge_invasion.cpp
Labels: To Be Merged, Script, file-cpp

#22784 fix(DB/SmartAI): low-level scourge invasion mobs are killed by guards
  data/sql/updates/pending_db_world/rev_1756924523176702951.sql
Labels: DB, Ready to be Reviewed

#22765 fix(Core): Fix oculus npc belgaristrasz gossip menu
  src/server/scripts/Northrend/Nexus/Oculus/oculus.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#22789 fix(Core/SAI): Fix crash in SMART_TARGET_OWNER_OR_SUMMONER
  src/server/game/AI/SmartScripts/SmartScript.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#22788 fix(DB/SAI): Despawn Frozen Phylactery on use
  data/sql/updates/pending_db_world/rev_1756947824261630300.sql
Labels: To Be Merged, Ready to be Reviewed

#22782 fix(DB/Creature): Remove incorrect other gender display from Vurtok Axebreaker.
  data/sql/updates/pending_db_world/vurtok-axebreaker.sql
Labels: DB, Ready to be Reviewed

#22796 fix(DB/Gameobject): Sniffed Values for 'Gravestone' spawns
  data/sql/updates/pending_db_world/rev_1757011554068939700.sql
Labels: DB, Ready to be Reviewed

#22805 fix(DB/SmartAI): Quest Draconis Gastritis can't be completed
  data/sql/updates/pending_db_world/rev_1757021490795481832.sql
Labels: DB, To Be Merged

#22770 fix(DB/Creature): Correct spells for Orc Warlock chess piece.
  data/sql/updates/pending_db_world/kara-chess-warlock.sql
Labels: DB, To Be Merged, Tested

#22813 fix(Scripts/Spells): Shadow of Doom death sometimes deals no damage
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#22810 fix(DB/Event): missing Ironforge Argent Quartermaster
  data/sql/updates/pending_db_world/rev_1757111466618260938.sql
Labels: DB, To Be Merged

#22809 fix(DB/SAI): Scourge Invasion mini bosses various issues
  data/sql/updates/pending_db_world/rev_1757106899882085716.sql
Labels: DB, Ready to be Reviewed

#22647 fix(Scripts/AzjolNerub): Modernize Krikthir the Gatewatcher script
  data/sql/updates/pending_db_world/rev_1754697821248272400.sql
  src/server/scripts/Northrend/AzjolNerub/AzjolNerub/azjol_nerub.h
  src/server/scripts/Northrend/AzjolNerub/AzjolNerub/boss_hadronox.cpp
  src/server/scripts/Northrend/AzjolNerub/AzjolNerub/boss_krikthir_the_gatewatcher.cpp
  src/server/scripts/Northrend/AzjolNerub/AzjolNerub/instance_azjol_nerub.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#22811 fix(Core/Player): Haunted Memento aura is present when item is in bank
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerStorage.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#22815 fix(DB/Creature) Add immunities to various NPCs.
  data/sql/updates/pending_db_world/immunities.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#22819 fix(CMake/Boost): package finding logic + suppress deprecation warnings + support Boost 1.89
  deps/boost/CMakeLists.txt
Labels: Ready to be Reviewed, run-build

#22828 feat(Core/Visibility): Far visibility worldobjects
  src/common/Dynamic/TypeContainer.h
  src/common/Dynamic/TypeContainerFunctions.h
  src/common/Dynamic/TypeContainerVisitor.h
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Entities/Object/ObjectDefines.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerUpdates.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Grids/Cells/Cell.h
  src/server/game/Grids/Cells/CellImpl.h
  src/server/game/Grids/GridCell.h
  src/server/game/Grids/GridDefines.h
  src/server/game/Grids/MapGrid.h
  src/server/game/Grids/Notifiers/GridNotifiers.cpp
  src/server/game/Grids/Notifiers/GridNotifiers.h
  src/server/game/Grids/Notifiers/GridNotifiersImpl.h
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
  src/server/scripts/Commands/cs_debug.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp, Tested

#22830 fix(Core/Visibility): Fix visibility issue at sight limit
  src/server/game/Grids/Notifiers/GridNotifiers.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#22837 fix(Core/Visibility): Add some safety to visibility grid container
  src/server/game/Maps/Map.cpp
Labels: CORE, To Be Merged, file-cpp

#22838 fix(Core/Visibility): Mark destructible objects infinite visibility
  src/server/game/Entities/GameObject/GameObjectData.h
Labels: CORE, To Be Merged, file-cpp

#22845 fix(Scripts/Northrend): Scourge Plague Spreader summons ghouls mid-air
  data/sql/updates/pending_db_world/rev_1757369338961290855.sql
  src/server/scripts/Northrend/zone_borean_tundra.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp

#22843 fix(DB/Gameobject): Sniffed Values for 'Meat Wagon' spawns
  data/sql/updates/pending_db_world/rev_1757354065794360100.sql
Labels: DB, Ready to be Reviewed

#22848 fix(Scripts/Stormpeaks): Fix Feed Stormcrest Eagle spell target condi…
  data/sql/updates/pending_db_world/rev_1757394793226041500.sql
  src/server/scripts/Northrend/zone_storm_peaks.cpp
Labels: DB, To Be Merged, Script, file-cpp, Tested

#22859 fix(Core/Formations): Prevent formation members from moving when cont…
  src/server/game/Entities/Creature/CreatureGroups.cpp
Labels: CORE, To Be Merged, file-cpp, Tested

#22899 fix(DB/SAI): Scavenge-bot not granting credit for Weakness to Lightni…
  data/sql/updates/pending_db_world/rev_1757729642856846300.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#22888 fix(DB/SmartAI): Fortunate Misunderstandings quest completion and oracle pathing
  data/sql/updates/pending_db_world/rev_1757629862309909472.sql
Labels: DB, To Be Merged, Tested

#22858 fix(DB/StormPeaks) Add quest prerequisite for Unwelcome Guests
  data/sql/updates/pending_db_world/rev_1757462707122831818.sql
Labels: DB, Ready to be Reviewed

#22908 fix(DB/Creature) Remove skinning loot from Soriid the Devourer
  data/sql/updates/pending_db_world/rev_1757794989983160217.sql
Labels: DB, To Be Merged

#22904 fix(DB/Quest) - Only allow either News for Rakoria or News from Zangarmarsh be picked up and completed
  data/sql/updates/pending_db_world/rev_1757775301662884000.sql
Labels: DB, Ready to be Reviewed, Tested

#22891 fix(DB/Sholazar) Captive Crocolisk no longer has a wonky path.
  data/sql/updates/pending_db_world/A_Rough_Ride.sql
Labels: DB, To Be Merged

#22897 feat(Core/AI): Allow preventing health check events while casting
  src/server/game/AI/ScriptedAI/ScriptedCreature.cpp
  src/server/game/AI/ScriptedAI/ScriptedCreature.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#22921 chore(PlayerSettings): Save data and lowGuid
  src/server/game/Entities/Player/PlayerSettings.cpp
  src/server/game/Entities/Player/PlayerSettings.h
Labels: CORE, file-cpp

#22918 feat(Core/SAI): Implement delay option to SMART_ACTION_TALK
  src/server/game/AI/CreatureAI.cpp
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: CORE, To Be Merged, file-cpp, Requires WIKI Update, Tested

#22937 fix(Core/Creature): ensure target is valid when acquiring GUID
  src/server/game/AI/CreatureAI.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#22931 fix(Scripts/BoreanTundra): Script Soul Deflection spell
  data/sql/updates/pending_db_world/rev_1757938084848429700.sql
  src/server/scripts/Northrend/zone_borean_tundra.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp, Tested

#22941 feat(Core/Spells): Implement OnSpellCastFinished hook
  src/server/game/AI/CreatureAI.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#22959 refactor(DB/SmartAI): quest 'Uncovering the Tunnels'
  data/sql/updates/pending_db_world/rev_1758204763903362829.sql
Labels: DB, To Be Merged

#22961 refactor(DB/SmartAI): quest 'X Marks... Your Doom!'
  data/sql/updates/pending_db_world/rev_1758206177120204426.sql
Labels: DB, To Be Merged

#22963 fix(DB/Creature): Sindragosa's Fall Wyrm Reanimator/Frost Brood Spawn…
  data/sql/updates/pending_db_world/rev_1758207433975886913.sql
Labels: DB, To Be Merged

#22973 feat(NPC): add configuration for creature repositioning during NPC combat
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/AI/CreatureAI.cpp
  src/server/game/World/WorldConfig.cpp
  src/server/game/World/WorldConfig.h
Labels: CORE, file-cpp

#22914 fix(DB/StormPeaks): Fix Fjorlin Frostbrow gossip prerequisite conditions
  data/sql/updates/pending_db_world/rev_1757860823237473326.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed

#22980 fix(DB/Misc): Fix Neutralizing the Cauldrons animations
  data/sql/updates/pending_db_world/rev_1758363588780639900.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#22974 feat(Core/SAI): enhance movement actions with force destination option
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: CORE, Ready to be Reviewed, file-cpp, Requires WIKI Update

#22978 Improve INSTALL_ARGS handling and update OpenSSL version
  apps/installer/includes/os_configs/windows.sh
Labels: Bash, run-build

#22971 chore(Core/Handlers): Remove unused item query optimization.
  src/server/game/Entities/Item/ItemTemplate.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Handlers/ItemHandler.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#22986 fix(Core/Spells): crashfix
  src/server/game/Spells/Spell.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#22987 fix(DB/SmartAI): add AI to some Northrend creatures
  data/sql/updates/pending_db_world/rev_1758378870340447581.sql
Labels: DB, Ready to be Reviewed

#22985 fix(DB/SmartAI): Frostbrood Spawn can now fly away
  data/sql/updates/pending_db_world/rev_1758378011419760275.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#22968 fix(Scripts/Spells): Fix Relief of the Fallen quest issues
  data/sql/updates/pending_db_world/rev_1758151023989286000.sql
  src/server/scripts/Spells/spell_quest.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp, Tested

#23023 Revert "fix(Core/Conditions): `ConditionList` use after free (#23006)"
  src/server/game/Conditions/ConditionMgr.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
  src/server/game/Spells/SpellInfo.cpp
  src/server/game/Spells/SpellInfo.h
  src/server/game/Spells/SpellMgr.cpp
  src/server/game/Spells/SpellMgr.h
Labels: CORE, To Be Merged, Priority-Critical, file-cpp

#23029 fix(DB/Quest): add prerequisite to Sniffing out the Perpetrator quest
  data/sql/updates/pending_db_world/rev_1758920110063277481.sql
Labels: DB, Ready to be Reviewed

#23028 fix(DB/Quest): add prerequisite to Catching up with Brann quest
  data/sql/updates/pending_db_world/rev_1758919967448732024.sql
Labels: DB, Ready to be Reviewed

#23030 feat(bash): test command in dashboard + fix tests
  .github/CODEOWNERS
  .github/workflows/dashboard-ci.yml
  apps/bash_shared/common.sh
  apps/bash_shared/defines.sh
  apps/bash_shared/includes.sh
  apps/compiler/includes/functions.sh
  apps/installer/main.sh
  apps/test-framework/README.md
  apps/test-framework/run-bash-tests.sh
  apps/test-framework/run-core-tests.sh
  apps/test-framework/test-main.sh
  conf/dist/config.sh
  src/test/mocks/WorldMock.h
  src/test/server/game/Battlegrounds/ArenaSeason/ArenaSeasonRewardDistributorTest.cpp
  src/test/server/game/Battlegrounds/ArenaSeason/ArenaTeamFilterTest.cpp
Labels: Workflow, Bash, UnitTests, Documentation, file-cpp

#23025 refactor(Player): replace visibility detection calls with dedicated methods
  apps/test-framework/run-core-tests.sh
  src/server/game/Entities/Player/Player.cpp
  src/test/server/game/Commands/GmVisibleCommandTest.cpp
Labels: CORE, Bash, UnitTests, file-cpp

#23033 fix(Core/SAI): Fix crash when using SMART_TARGET_INSTANCE_STORAGE in …
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/game/AI/SmartScripts/SmartScriptMgr.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#23031 fix(Core/Spells): updates trajectory target selection
  data/sql/updates/pending_db_world/rev_1758965186881591714.sql
  src/server/game/Entities/Object/Position.cpp
  src/server/game/Entities/Object/Position.h
  src/server/game/Handlers/SpellHandler.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/Spell.h
  src/server/game/Spells/SpellMgr.cpp
Labels: DB, CORE, Ready to be Reviewed, file-cpp, Tested

#22772 fix(Core/Weather): Improve weather system thread safety
  src/server/game/Entities/Player/PlayerUpdates.cpp
  src/server/game/Handlers/CharacterHandler.cpp
  src/server/game/Maps/Map.cpp
  src/server/game/Maps/Map.h
  src/server/game/Server/WorldSessionMgr.cpp
  src/server/game/Server/WorldSessionMgr.h
  src/server/game/Weather/Weather.cpp
  src/server/game/Weather/Weather.h
  src/server/game/Weather/WeatherMgr.cpp
  src/server/game/Weather/WeatherMgr.h
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/scripts/Commands/cs_misc.cpp
  src/server/scripts/OutdoorPvP/OutdoorPvPEP.cpp
  src/server/scripts/OutdoorPvP/OutdoorPvPHP.cpp
  src/server/scripts/OutdoorPvP/OutdoorPvPNA.cpp
  src/server/scripts/OutdoorPvP/OutdoorPvPSI.cpp
  src/server/scripts/OutdoorPvP/OutdoorPvPTF.cpp
  src/server/scripts/OutdoorPvP/OutdoorPvPZM.cpp
  src/server/scripts/World/scourge_invasion.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#23064 fix(Script/Gundrak) Drakkari Colossus will now call help from Drakkari Golems
  data/sql/updates/pending_db_world/rev_1759191371018343890.sql
Labels: DB, Ready to be Reviewed

#23071 fix(DB) Riding Ram Upgraded to a beast from a critter
  data/sql/updates/pending_db_world/rev_1759192557957949899.sql
Labels: DB, To Be Merged

#23065 fix(Script/Gundrak) Drakkari Colossus will now use Mortal Strikes
  data/sql/updates/pending_db_world/rev_1759180852833254842.sql
  src/server/scripts/Northrend/Gundrak/boss_drakkari_colossus.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp
