Repository azerothcore/azerothcore-wotlk, pull requests merged in 2025-03, with the labels that each got.

#21625 fix (Core/Spells) remove custom loop so that one lightning damage instance can only proc one lightning overload
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, file-cpp

#21124 feat(Core/Conf/BG): Allow battlegrounds to be configurable (#20320)
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/Battlegrounds/Zones/BattlegroundAB.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundAB.h
  src/server/game/Battlegrounds/Zones/BattlegroundAV.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundAV.h
  src/server/game/Battlegrounds/Zones/BattlegroundEY.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundEY.h
  src/server/game/Battlegrounds/Zones/BattlegroundWS.cpp
  src/server/game/Battlegrounds/Zones/BattlegroundWS.h
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
Labels: CORE, To Be Merged, file-cpp, Tested

#21626 fix(DB/Text) Add correct text on Sunblade Scouts.
  data/sql/updates/pending_db_world/Scout_text.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21621 fix (Core/Wintergrasp) Change spell used by WG NPCs
  src/server/scripts/Northrend/zone_wintergrasp.cpp
Labels: Script, file-cpp

#21619 fix (Core/Wintergrasp) Icon now disappears when player leaves queue
  src/server/game/Battlefield/Battlefield.cpp
Labels: CORE, To Be Merged, file-cpp

#21620 fix (Core/Wintergrasp) hearthstone was visibly on cooldown when player left WG
  src/server/game/Battlefield/Battlefield.cpp
Labels: CORE, To Be Merged, file-cpp

#20480 fix(DB): clarify IDs for faction changes
  data/sql/updates/pending_db_world/rev_1731031220479040900.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed

#21622 fix (Core/Wintergrasp) Fix map and battle icon
  src/server/game/Battlefield/Battlefield.cpp
  src/server/game/Battlefield/Battlefield.h
  src/server/game/Battlefield/Zones/BattlefieldWG.cpp
  src/server/game/Battlefield/Zones/BattlefieldWG.h
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, To Be Merged, file-cpp

#21631 fix(CI/Codestyle): Escape all MySQL keywords and skip /* comments
  apps/codestyle/codestyle-sql.py
Labels: To Be Merged

#21639 fix(CI/Codestyle): Minor typo in insert_delete_safety_check
  apps/codestyle/codestyle-sql.py
Labels: To Be Merged

#21637 fix(Scripts/SunwellPlateau): Fix Felmyst air phase
  data/sql/updates/pending_db_world/rev_1740880295787400500.sql
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_felmyst.cpp
Labels: DB, Waiting to be Tested, To Be Merged, Ready to be Reviewed, Script, file-cpp

#21630 fix(DB): Add Argent Dawn spawns for Scourge Invasion.
  data/sql/updates/pending_db_world/scourge-invasion-spawns.sql
Labels: DB, Ready to be Reviewed

#21628 fix(DB/Disables): Remove incorrectly disabled quests.
  data/sql/updates/pending_db_world/zombie-infestation-quest-disables.sql
Labels: DB, Ready to be Reviewed

#21640 fix(CI/linux-build): use correct OS name for cache key
  .github/actions/linux-build/action.yml
Labels: To Be Merged, Ready to be Reviewed

#21641 fix(DB/Creature): Disable Felmyst pathfinding
  data/sql/updates/pending_db_world/rev_1740956472100490700.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21638 fix(DB): Add spawns for Tenris Mirkblood room in Karazhan.
  data/sql/updates/pending_db_world/chamber-of-secrets-spawns.sql
Labels: DB, Ready to be Reviewed

#21624 fix(CI/modules-build): add all current azerothcore modules
  apps/ci/ci-install-modules.sh
Labels: To Be Merged, Ready to be Reviewed, Bash, Requires WIKI Update

#21635 fix(Core/Bones): Unable to create bones
  src/server/game/Maps/Map.cpp
Labels: CORE, file-cpp

#21636 fix(Core/PvP): Sometimes mobs and objects fail to spawn in OutdoorPvP
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
Labels: CORE, file-cpp

#21595 fix(Scripts/Ulduar) Fix Kologarn script
  data/sql/updates/pending_db_world/rev_1740514128965406500.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/Northrend/Ulduar/Ulduar/boss_kologarn.cpp
Labels: DB, CORE, Script, file-cpp

#21645 fix (Core/Spells) readd 33% chance for lightning overload to fail on chain lightning
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, file-cpp

#21655 fix(DB/Gameobject): Sniffed Values for 'Isle Daily Gobs' spawns
  data/sql/updates/pending_db_world/rev_1741192843791719000.sql
Labels: DB, To Be Merged

#21658 fix(DB/Creature) Solve some Shadowsword Assassin issues.
  data/sql/updates/pending_db_world/SwP_Assassins.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21665 fix(Core/Tickets): Fix crash in `ticket complete` command.
  src/server/scripts/Commands/cs_ticket.cpp
Labels: Script, file-cpp, Tested

#21671 fix(DB/Creature) Adds Disable Gravity to Shield Orb.
  data/sql/updates/pending_db_world/Shield_Orb.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21653 Revert "fix (Core/Unit): add AutoRpeatSpell delay to Auto Shot as wel…
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, file-cpp

#21629 fix(Scripts/SunwellPlateau): Sunblade Scout activate protector
  data/sql/updates/pending_db_world/rev_1740865223570459564.sql
  src/server/scripts/EasternKingdoms/SunwellPlateau/instance_sunwell_plateau.cpp
Labels: DB, To Be Merged, Script, file-cpp, Tested

#21366 fix(DB/SAI) add Wind trader mu'fah smart script
  data/sql/updates/pending_db_world/rev_1739101498649767900.sql
Labels: DB, Tested

#21590 refactor(Core/ServerMail): Refactor to Dedicated Manager Class with Multi-Item & Condition Support
  data/sql/updates/pending_db_characters/rev_1740310084140595600.sql
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/Mails/Mail.h
  src/server/game/Mails/ServerMailMgr.cpp
  src/server/game/Mails/ServerMailMgr.h
  src/server/game/World/World.cpp
  src/server/scripts/Commands/cs_reload.cpp
  src/server/scripts/World/server_mail.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp, Requires WIKI Update

#21463 fix(Core/SpellInfoCorrections): Fix "Throw Bomb" spell
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, file-cpp, Tested

#21454 fix(DB/SpellProc): Update Fists of fury proc chance to 5%
  data/sql/updates/pending_db_world/fists_of_fury_ppm.sql
Labels: DB, To Be Merged

#21634 fix(Core/PvP): OutdoorPvPZM - fetch creature spawnId correctly
  src/server/scripts/OutdoorPvP/OutdoorPvPZM.cpp
Labels: Script, file-cpp

#21662 fix(Quest/HillsbradFoothills) Elixir of Pain quest now has no prerequisite
  data/sql/updates/pending_db_world/rev_1741311298145347710.sql
Labels: DB, To Be Merged

#21672 fix(DB/Loot Comments) - Added Missing Reference and Creature Loot Comments
  data/sql/updates/pending_db_world/rev_1741450790378026700.sql
Labels: DB, To Be Merged

#21679 fix(Script/SunwellPlateau): duplicate keys instance objects
  src/server/scripts/EasternKingdoms/SunwellPlateau/sunwell_plateau.h
Labels: Ready to be Reviewed, Script, file-cpp

#21666 feat(Core/Entities): add OnPlayerCanGiveLevel script hook
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.h
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, To Be Merged, file-cpp

#21681 fix(Scripts/SunwellPlateau): Add Brutallus Flame Ring explosion
  data/sql/updates/pending_db_world/rev_1741564748117866104.sql
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_brutallus.cpp
Labels: DB, To Be Merged, Script, file-cpp, Tested

#21683 fix(Core/Group): fix group loot for quest items
  src/server/game/Groups/Group.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp, Tested

#21100 fix(DB/Quest): Zapped Giants now behave correctly
  data/sql/updates/pending_db_world/rev_1736100900062273000.sql
Labels: DB, Tested

#21676 feat(Core/Entities): Add OnPlayerSendListInventory script hook
  src/server/game/Handlers/ItemHandler.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.cpp
  src/server/game/Scripting/ScriptDefines/PlayerScript.h
  src/server/game/Scripting/ScriptMgr.h
Labels: CORE, file-cpp

#21693 fix(DB/Loot) Add missing loots on Eredar Twins and Entropius.
  data/sql/updates/pending_db_world/Twins_Entropius_loots.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21696 fix(DB/Gameobject): Sniffed Values for 'Orb of the Blue Flight' spawns
  data/sql/updates/pending_db_world/rev_1741721422424352200.sql
Labels: DB, To Be Merged

#21206 fix(Scripts/ZulAman): text with symbol and improved frog movement
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.cpp
Labels: To Be Merged, Script, file-cpp

#21687 fix(Script/Felmyst) Demonic Vapor Trail now despawn.
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_felmyst.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#21689 fix(Script/SunwellPlateau): Correct some spell's timers.
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kalecgos.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#21688 fix(Script/Brutallus) Correct Meteror Slash Timer.
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_brutallus.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#21667 fix(Core/Calendar): Fix crash on deletion while iterating through calendar events.
  src/server/game/Calendar/CalendarMgr.cpp
  src/server/game/Calendar/CalendarMgr.h
Labels: CORE, run-build, file-cpp

#21709 fix(Scripts/SunwellPlateau): Felmyst Demonic Vapor
  data/sql/updates/pending_db_world/rev_1741970015446422305.sql
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_felmyst.cpp
Labels: DB, To Be Merged, Script, file-cpp, Tested

#21711 fix(Core/Movement): Allow MoveFollow to not inherit speed of the target
  src/server/game/AI/ScriptedAI/ScriptedFollowerAI.cpp
  src/server/game/AI/ScriptedAI/ScriptedFollowerAI.h
  src/server/game/Movement/MotionMaster.cpp
  src/server/game/Movement/MotionMaster.h
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.cpp
  src/server/game/Movement/MovementGenerators/TargetedMovementGenerator.h
Labels: CORE, Ready to be Reviewed, file-cpp

#21714 fix(DB/Quest): Fixes the prerequisite quest for "A Job Undone"
  data/sql/updates/pending_db_world/rev_1742065742639088616.sql
Labels: DB

#21710 fix(DB/Halls of Stone) Trash inside dungeon now drops [Relic of Ulduar]
  data/sql/updates/pending_db_world/rev_1741995038650745837.sql
Labels: DB

#21713 fix(DB/Halls of Lightning) Trash inside dungeon now drop [Relic of Ulduar]
  data/sql/updates/pending_db_world/rev_1742048288044499573.sql
Labels: DB

#20241 fix(DB/Core/Quests): Fix the quest "Load'er Up"
  data/sql/updates/pending_db_world/rev_1729269741948776900.sql
  src/server/scripts/Northrend/zone_borean_tundra.cpp
Labels: DB, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#21721 fix(DB/Quest): Fixes missing prerequisite quest for "Pushed Too Far"
  data/sql/updates/pending_db_world/rev_1742151359540917588.sql
Labels: DB, To Be Merged

#21650 fix(Scripts/Spells): add warrior heroic strike daze bonus damage
  data/sql/updates/pending_db_world/rev_1741106880644889078.sql
  src/server/scripts/Spells/spell_warrior.cpp
Labels: DB, Script, file-cpp

#21310 fix(DB/FISHING): Fix "Disarmed!" fishing quest
  data/sql/updates/pending_db_world/rev_1738495222613876100.sql
Labels: DB, Tested

#21287 fix(Scripts/AzjolNerub): Boss Herald Volazj - Insanity spell cast
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/boss_herald_volazj.cpp
Labels: To Be Merged, Script, file-cpp

#21731 fix(Scripts/Outland): add missing `return` if no target is found
  src/server/scripts/EasternKingdoms/SunwellPlateau/instance_sunwell_plateau.cpp
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.cpp
Labels: To Be Merged, Script, file-cpp

#21730 fix(Scripts/SunwellPlateau): Sathrovarr's Curse of Boundless Agony
  data/sql/updates/pending_db_world/rev_1742307871360448426.sql
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kalecgos.cpp
Labels: DB, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#21733 fix(Scripts/SunwellPlateau): Increase delay before choosing lane and …
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_felmyst.cpp
Labels: To Be Merged, Script, file-cpp, Tested

#21735 fix(DB/Creature) Add formation for the the last pack before Kalecgos.
  data/sql/updates/pending_db_world/CF_pack.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21738 fix(Script/Boss) Decrease Kalecgos human form spawn timer.
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kalecgos.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#21699 fix(DB/Gameobject): Sniffed Values for 'SWP / MGT' spawns
  data/sql/updates/pending_db_world/rev_1741871776203919300.sql
Labels: DB, Ready to be Reviewed, Tested

#21744 fix(scripts/Nexus): Magus Telestra death
  src/server/scripts/Northrend/Nexus/Nexus/boss_magus_telestra.cpp
Labels: Script, file-cpp

#21746 fix(Scripts/SunwellPlateau): Implement twins boundary wipe mechanic
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_eredar_twins.cpp
Labels: To Be Merged, Script, Tested

#21745 fix(Scripts/SunwellPlateau): Felmyst Strafe strafe spells
  data/sql/updates/pending_db_world/rev_1742570511379893181.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_felmyst.cpp
Labels: DB, CORE, To Be Merged, Script, file-cpp, Tested

#21747 fix(Scripts/SunwellPlateau): M'Uru ability DARKNESS now spawns dispellable skulls
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_muru.cpp
Labels: To Be Merged, Script, file-cpp

#21750 fix(Creature/Formations) Volatile Fiend Packs now are in formation.
  data/sql/updates/pending_db_world/Volatile_Fiend_Packs.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21751 fix(Scripts/SunwellPlateau): Fix twin emotes in phase 2
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_eredar_twins.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#21753 fix(Scripts/SunwellPlateau): Remove despawn on evade flag from KJ and…
  data/sql/updates/pending_db_world/rev_1742696079168623800.sql
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kiljaeden.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#21770 fix(DB/Creature) Eredar Twins should be immune to taunt.
  data/sql/updates/pending_db_world/Twins_Taunt_Immune.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21772 fix(DB/SmartScript) Alumeth the Ascended will now repeat cast Psychicscream around 20 seconds
  data/sql/updates/pending_db_world/rev_1742912009931722789.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21777 fix(Scripts/SunwellPlateau): Update twin timers and Flame Sear target…
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_eredar_twins.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#21791 fix(DB/SunwellPlateau) M'uru should Hard Reset.
  data/sql/updates/pending_db_world/M'uru_extra_flags.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21784 fix(DB/Creature) Set Kirtonos the Herald to level 60
  data/sql/updates/pending_db_world/rev_1742991334856523357.sql
Labels: DB

#21787 fix(Core/Spells): implement `SPELL_ATTR7_TREAT_AS_NPC_AOE`
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/Spells/spell_dk.cpp
  src/server/shared/SharedDefines.h
  src/server/shared/enuminfo_SharedDefines.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#21796 fix(DB/Condition) Scarlet Cannons now require Massacre at Light’s Point to be used.
  data/sql/updates/pending_db_world/Scarlet_Cannon_Condition.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21755 (db/Creautre) - Adds Heroic version of Brann Bronzebeard to Halls of Stone
  data/sql/updates/pending_db_world/rev_1742750116866370300.sql
Labels: DB, Ready to be Reviewed

#21797 fix(DB/Creature) Remove Random in Radius and edit orientation for some Scarlet Peasants.
  data/sql/updates/pending_db_world/Scarlet_Peasants.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21757 fix(DB/Creature) Southshore Assassins now despawn when OOC for 30 seconds.
  data/sql/updates/pending_db_world/Southshore_assassins_spawn.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21809 fix(Script/Sunwell) Edit Felmyst timers and move emote in the right spell cast.
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_felmyst.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#21752 Fix(Core/Wintergrasp): Retrieve the missing Tower Cannon
  src/server/game/Battlefield/Zones/BattlefieldWG.h
Labels: CORE, To Be Merged, file-cpp

#21814 fix(DB/Creatures) Fix various issues on DK starting area (phase 1 and 64).
  data/sql/updates/pending_db_world/Geist_and_DKs.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21815 fix(DB/Creature) Remove Immune to Distract Flag on M'uru.
  data/sql/updates/pending_db_world/Muru_distract.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21816 fix(db/CreatureLoot) - Removal of "Rod of Lianthe" and "Nightmare Vine" from "Eclipsion Hawkstrider"'s Loot
  data/sql/updates/pending_db_world/rev_1743350402194716900.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21823 fix(Warden) Warden Anti-Cheat Timing Attack Protection WINDOWS
  src/server/game/Warden/WardenWin.cpp
Labels: CORE, To Be Merged, run-build, file-cpp

#21758 fix(DB/Quest) Added missing russian quest locale and fix wrong russian locale. #1
  data/sql/updates/pending_db_world/russian-quest-locale-part1.sql
Labels: DB, Ready to be Reviewed

#21831 Fix(DB/Loot) Remove Sunglow Vest from Eredar Twins loot.
  data/sql/updates/pending_db_world/Wrong_Loot.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21780 fix(DB/Creature) fix Bannok Grimaxe's Axe Toss has a missing model
  data/sql/updates/pending_db_world/ac-fix-NPC9596-axe-model.sql
Labels: DB, To Be Merged, Tested
