Repository azerothcore/azerothcore-wotlk, pull requests merged in 2025-06, with the labels that each got.

#22254 fix(Scripts/AhnKahet): Modernize Amanitar script
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/boss_amanitar.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#22270 fix(Core/Script/Deathknight) Lock Deathknights from the dungeonfinder until they complete their starting zone
  data/sql/updates/pending_db_world/rev_1748972350605073197.sql
  src/server/game/DungeonFinding/LFGMgr.cpp
  src/server/scripts/EasternKingdoms/zone_stormwind_city.cpp
  src/server/scripts/Kalimdor/zone_orgrimmar.cpp
Labels: DB, CORE, Script, file-cpp

#22268 fix (Scripts/ScarletEnclave): Death Knight Initiates now despawn when defeated.
  data/sql/updates/pending_db_world/DK_Remove_auras.sql
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter1.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#22255 fix(DB/Creature): Remove extra Shaffar adds
  data/sql/updates/pending_db_world/rev_1748707579733807961.sql
  src/server/scripts/Outland/Auchindoun/ManaTombs/boss_nexusprince_shaffar.cpp
Labels: DB, Script, file-cpp

#22264 fix(Core/Spell) Revert paladin seal hackfixes
  src/server/game/Spells/SpellEffects.cpp
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, file-cpp

#22232 fix(Core/Spells): weapon damage based magic abilities gain too much effect from spell aura % damage increase
  src/server/game/Spells/SpellEffects.cpp
Labels: CORE, To Be Merged, file-cpp, Tested

#22257 chore(Core/Guild): Adjust variable declaration name to match usage.
  src/server/game/Guilds/Guild.h
Labels: CORE, Ready to be Reviewed, file-cpp

#22259 refactor(Core): Make use of standard config usage for guild member limit option.
  src/server/game/Guilds/Guild.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#22081 fix(Scripts/UP): King Ymiron should use only 1 boat ability at a time & Spirit Fount speed
  src/server/scripts/Northrend/UtgardeKeep/UtgardePinnacle/boss_ymiron.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#22146 fix(DB/Quest) - "Fine Gold Thread" is now repeatable
  data/sql/updates/pending_db_world/rev_1747574437797050200.sql
Labels: DB, Ready to be Reviewed

#22284 refactor(Core/Spells): Remove effectively unused switch case.
  src/server/game/Spells/SpellInfo.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#22281 fix(DB/Command): update `wchange` help
  data/sql/updates/pending_db_world/rev_1749254753115209766.sql
Labels: DB, Ready to be Reviewed, Requires WIKI Update

#22151 Make Errors.log overwritable
  src/server/apps/worldserver/worldserver.conf.dist
Labels: CORE, Ready to be Reviewed

#22283 refactor(Core/Channel): Cast moderation level to account types and avoid boolean evaluation.
  src/server/game/Chat/Channels/Channel.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#22138 fix(Core/Spells): channels no longer update player server-side orientation
  src/server/game/Spells/Spell.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#22203 fix(DB/creature_loot) - Durar's and Kathorn's Power Cell corrected drop rate to 100%
  data/sql/updates/pending_db_world/1748186943.sql
Labels: DB, To Be Merged

#22277 fix(DB/Quest) Added/Fix missing russian quest locale and fix wrong russian locale. #3
  data/sql/updates/pending_db_world/russian-quest-locale-part3.sql
Labels: DB, To Be Merged

#22206 fix(Core/Scripting): `UnitScript::DealDamage` always returns the original damage value
  src/server/game/Scripting/ScriptDefines/UnitScript.cpp
Labels: CORE, To Be Merged, file-cpp

#21785 fix(DB/CreatureLoot) Fix loot table for Archimonde
  data/sql/updates/pending_db_world/rev_1742999045239897727.sql
Labels: DB

#22190 fix(DB/areatrigger_teleport) - Multiple updated areatriggers.
  data/sql/updates/pending_db_world/rev_1748021905087919900.sql
Labels: DB, Ready to be Reviewed

#22019 fix(Core/Unit): use casttime for ppm calculation of spells
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, To Be Merged, file-cpp

#22271 fix(Core/Spell): Halve healing threat generated by paladins
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
  src/server/game/Spells/Spell.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#22294 fix(DB/SAI): Savage Cave Beast should enrage every 30-35s
  data/sql/updates/pending_db_world/rev_1749519143875704500.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#22299 fix(DB/SAI): Fix Bonegrinder not casting Frightening Shout
  data/sql/updates/pending_db_world/rev_1749524506982671600.sql
Labels: To Be Merged

#22322 fix(DB/Loot) - Archimonde now properly drops the Helms
  data/sql/updates/pending_db_world/rev_1750008344185215400.sql
Labels: DB, Ready to be Reviewed

#22320 fix(Scripts/ScarletEnclave): Improve Might of Mograine aura behavior.
  data/sql/updates/pending_db_world/might-of-mograine.sql
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter5.cpp
  src/server/scripts/Spells/spell_generic.cpp
Labels: DB, To Be Merged, Script, file-cpp, Tested

#22319 fix(DB/Gameobject): Correct Area 52 Mailbox faction.
  data/sql/updates/pending_db_world/area-52-mailbox.sql
Labels: DB, To Be Merged, Tested

#22327 fix(Scripts/Items): Bloodsail Admiral's hat should despawn parrot on …
  data/sql/updates/pending_db_world/rev_1750044481482063700.sql
  src/server/scripts/Spells/spell_item.cpp
Labels: DB, Script, file-cpp

#22309 fix(DB): set game_event_* tables to use smallint
  data/sql/updates/pending_db_world/rev_1749848424024494127.sql
  src/server/game/Events/GameEventMgr.cpp
  src/server/game/Globals/ObjectMgr.cpp
Labels: DB, CORE, To Be Merged, file-cpp, Requires WIKI Update

#22240 fix(core/SMART_EVENT_LINK) - Seperation and clarification of "not found or invalid, skipped"
  src/server/game/AI/SmartScripts/SmartScript.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#22304 fix(DB/Creature) add CC immunities to the Fel Crystals in the Selin Fireheart encounter
  data/sql/updates/pending_db_world/rev_1749586097955432885.sql
Labels: DB

#22302 fix(Scripts/ZulDrak): Fix Ghymer not being healed by storm clouds
  data/sql/updates/pending_db_world/rev_1749529028851693000.sql
  src/server/scripts/Northrend/zone_zuldrak.cpp
  src/server/scripts/Spells/spell_quest.cpp
Labels: DB, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#22337 feat(Core/Utilities): add `Seconds` overload for `randtime`
  src/common/Utilities/Random.cpp
  src/common/Utilities/Random.h
Labels: CORE, Ready to be Reviewed, file-cpp

#22341 fix(DB/Condition) Deliver Stolen Horse only works near Salanar.
  data/sql/updates/pending_db_world/Stolen_Horse_Cond.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#22303 fix(Scripts/ScarletEnclave): Rewrite Brothers in Death
  data/sql/updates/pending_db_world/rev_1750043682130947900.sql
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter2.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp, Tested

#22317 fix(Scripts/ScarletEnclave): City guards should throw stuff at new DKs
  data/sql/updates/pending_db_world/rev_1749974778510353300.sql
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter5.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp, Tested

#22324 fix (DB/Script/Scarlet Enclave) Corrects some spell timers and adds a new spell for Darion Mograine.
  data/sql/updates/pending_db_world/Defenders_cd.sql
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter5.cpp
Labels: DB, To Be Merged, Script, file-cpp, Tested

#22343 fix (Core) update comments on unused SpellAttributes
  src/server/shared/SharedDefines.h
Labels: CORE, To Be Merged, file-cpp

#22345 fix(Core/SAI): Exclude GMs for player target/event
  src/server/game/AI/SmartScripts/SmartScript.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#22332 fix(Core/Spell) implement SPELL_ATTR5_NOT_ON_PLAYER and SPELL_ATTR5_NOT_ON_PLAYER_CONTROLLED_NPC
  src/server/game/AI/CoreAI/UnitAI.cpp
  src/server/game/Spells/Spell.cpp
  src/server/game/Spells/SpellInfo.cpp
  src/server/shared/SharedDefines.h
Labels: CORE, Ready to be Reviewed, file-cpp, Tested

#22353 fix(Core/AI) crashfix(#22352)
  src/server/game/AI/CoreAI/UnitAI.cpp
Labels: CORE, file-cpp

#22366 fix(Script/SWP): unify events that interact with Anveena in P5 Kil'Jaeden
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kiljaeden.cpp
Labels: Script, file-cpp

#22300 fix(DB/Creature): Bound Air, Fire and Water Elemental damage and immu…
  data/sql/updates/pending_db_world/rev_1749525191796010700.sql
Labels: DB, Ready to be Reviewed, Tested

#22282 refactor(Core/Scripting): Forward-declare AuctionEntry as a struct rather than a class.
  src/server/game/Scripting/ScriptObjectFwd.h
Labels: CORE, To Be Merged, file-cpp

#22369 fix(Player/Skills): Improve skill validation and logging in Player::_…
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#22310 gm command: account create support email
  data/sql/updates/pending_db_world/command.sql
  src/server/database/Database/Implementation/LoginDatabase.cpp
  src/server/game/Accounts/AccountMgr.cpp
  src/server/game/Accounts/AccountMgr.h
  src/server/scripts/Commands/cs_account.cpp
Labels: DB, CORE, Script, file-cpp, Requires WIKI Update

#22375 fix(DB/Creature) Remove respawn time from the smartAI of some npc's in the scarlet enclave.
  data/sql/updates/pending_db_world/Spawn_in_Air.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#22308 fix(Core/Player): Mutilate + Cold Blood crit fix
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Spells/Spell.cpp
Labels: CORE, Ready to be Reviewed, file-cpp, Tested

#22372 refactor(db-scripts): replace PowerShell database tools with Bash scripts and update documentation
  apps/DatabaseExporter/DatabaseExporter.ps1
  apps/DatabaseExporter/databaseexporter.md
  apps/DatabaseSquash/DatabaseExporter/DatabaseExporter.sh
  apps/DatabaseSquash/DatabaseExporter/databaseexporter.md
  apps/DatabaseSquash/DatabaseSquash.sh
  apps/DatabaseSquash/VersionUpdater/VersionUpdater.sh
  apps/DatabaseSquash/VersionUpdater/versionupdater.md
  apps/DatabaseSquash/databasesquash.md
  apps/VersionUpdater/VersionUpdater.ps1
  apps/VersionUpdater/versionupdater.md
  apps/db_exporter/.gitignore
  apps/db_exporter/README.md
  apps/db_exporter/db_export.sh
  data/sql/base/database-squash.md
Labels: Ready to be Reviewed, Bash, Documentation

#22383 fix(Scripts/Spells): add script to GM spell CooldownAll
  data/sql/updates/pending_db_world/rev_1751148569961282780.sql
  src/server/scripts/Spells/spell_generic.cpp
Labels: DB, To Be Merged, Script, file-cpp

#22340 Death Knight Bone shield charges now have a 2 second delay between uses.
  src/server/scripts/Spells/spell_dk.cpp
Labels: Script, Class - Death Knight, file-cpp

#22389 fix(Core/Spells): Fix SPELL_EFFECT_LEAP_BACK not working on targeted …
  data/sql/updates/pending_db_world/rev_1751221090793496700.sql
  src/server/game/Spells/SpellEffects.cpp
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter5.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#22399 refactor(Scripts/Pet): Death Knight use creature register macros
  src/server/scripts/Pet/pet_dk.cpp
Labels: Ready to be Reviewed, Script, file-cpp
