Repository azerothcore/azerothcore-wotlk, pull requests merged in 2025-04, with the labels that each got.

#21826 fix(DB/Creature): set Charm immune (`mechanic_immune_mask`) for SWP Trash demons
  data/sql/updates/pending_db_world/rev_1743426015077494796.sql
Labels: DB, Ready to be Reviewed

#21833 fix(DB/Quest) Gammerita, Mon! Now has no quest requirement
  data/sql/updates/pending_db_world/rev_1743459892596957068.sql
Labels: DB

#21835 fix(Script/Sunwell) Solve some Eredar Twins' timer issues.
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_eredar_twins.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#21837 fix(DB/Quest) Added/Fix missing russian quest locale and fix wrong russian locale. #2
  data/sql/updates/pending_db_world/russian_quest_locale_part2.sql
Labels: DB

#21839 fix(DB/Creature) Add various immunities to Void Sentinel, Berserkers and Fury Mages.
  data/sql/updates/pending_db_world/Muru_mobs_immun.sql
Labels: DB, To Be Merged

#21840 fix(DB/Creature) Reduce Dark Fiend range to explode.
  data/sql/updates/pending_db_world/Dark_Fiend_explode_range.sql
Labels: DB, To Be Merged

#21830 fix(DB/SpellCooldownOverrides): Add Data from SmartAI timers
  data/sql/updates/pending_db_world/rev_1743450507261227014.sql
Labels: DB, To Be Merged

#21834 fix(DB/Creature) Shadow Image now only use one ability at a time.
  data/sql/updates/pending_db_world/Shadow_Image.sql
Labels: DB, To Be Merged

#21842 fix(DB/Creature) Citizen of New Avalon now have a more blizzlike behaviour.
  data/sql/updates/pending_db_world/Citizen_of_New_Avalon.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21841 fix(DB/Conditions) Requires Spirit Calling Aura to loot Lesser Nether Drake Spirit (QuestID: 10853)
  data/sql/updates/pending_db_world/fix-Spirit-Calling-q10853.sql
Labels: DB

#21821 fix(Scripts/ZulAman): Add Beast Tamer missing abilities
  data/sql/updates/pending_db_world/rev_1743363476685228915.sql
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp, Tested

#21844 fix(DB/SpellCooldownOverrides): remove overrides of player spells
  data/sql/updates/pending_db_world/rev_1743610793434465497.sql
Labels: DB, To Be Merged

#21845 fix(Scripts/SunwellPlateau): Add Moorba's teleporter gossip
  data/sql/updates/pending_db_world/rev_1743613994250754577.sql
  src/server/scripts/EasternKingdoms/SunwellPlateau/instance_sunwell_plateau.cpp
Labels: DB, To Be Merged, Script, file-cpp, Tested

#21846 fix(Scripts/Commands): Fix crash in unstuck command
  src/server/scripts/Commands/cs_misc.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#21829 fix(Script/ZulAmen) Hexlord now has fallback behavior as warrior
  src/server/scripts/EasternKingdoms/ZulAman/boss_hexlord.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#21850 fix(DB/SpellCooldownOverrides): remove overrides of player spells
  data/sql/updates/pending_db_world/rev_1743708098406617107.sql
Labels: DB, To Be Merged

#21851 fix(Scripts/SunwellPlateau): Fix Darkness spawning midair
  data/sql/updates/pending_db_world/rev_1743726578196339200.sql
  src/server/game/Entities/Object/Object.h
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_muru.cpp
Labels: DB, CORE, Script, file-cpp

#21864 fix(DB/GossipMenuOption): Swap Exarch Nasuun Anvil and Harbor progress
  data/sql/updates/pending_db_world/rev_1743880021262281174.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21857 fix(DB/CreatureAddon): Remove `auras` Sunwell Radiance
  data/sql/updates/pending_db_world/rev_1743790045084096999.sql
Labels: DB, Ready to be Reviewed

#21865 fix(Scripts/SunwellPlateau): Felmyst should choose the closest side
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_felmyst.cpp
Labels: Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#21883 fix(DB/Loot) Add gold drop, Netherweave Cloth and a drop chance for Gan'arg Analyzer.
  data/sql/updates/pending_db_world/Ganarg_Analyzer.sql
Labels: DB, To Be Merged

#21858 fix(Scripts/BlackTemple): Shahraz Fatal Attraction Teleport
  src/server/game/Entities/Object/Object.cpp
  src/server/game/Entities/Object/Object.h
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/Outland/BlackTemple/boss_mother_shahraz.cpp
Labels: CORE, To Be Merged, Script, file-cpp, Tested

#21859 fix(Scripts/BlackTemple): Shahraz Fatal Attraction number of targets can be fewer than 3
  src/server/scripts/Outland/BlackTemple/boss_mother_shahraz.cpp
Labels: To Be Merged, Script, file-cpp, Tested

#21884 fix (db/Conditions) - Kael'thas Sunstrider's Heroic loot ref will drop the correct recipes to their respective proffesion.
  data/sql/updates/pending_db_world/rev_1744203507462519600.sql
Labels: DB, To Be Merged

#21890 fix(DB/Creature) Hand of the Deceiver is no longer immune to silence and stun.
  data/sql/updates/pending_db_world/Hand_of_Deceiver_IM.sql
Labels: DB, To Be Merged

#21892 fix(Scripts/SunwellPlateau): Correct Singularity behavior in Entropius encounter
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_muru.cpp
Labels: Ready to be Reviewed, Script, file-cpp, Tested

#21897 fix(DB/SpellCustomAttr): make Spell Fury spellstealable
  data/sql/updates/pending_db_world/rev_1744392732263733650.sql
Labels: DB, To Be Merged

#21898 fix(DB/Creature): Add Shadow Bolt Volley to Void Spawn's spells
  data/sql/updates/pending_db_world/rev_1744393940295043689.sql
Labels: DB, To Be Merged

#21907 fix(Script/SunwellPlateau): Kil'jaeden now has a more offy-like last phase.
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kiljaeden.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#21896 fix(Scripts/SunwellPlateau): Set Brutallus corpse despawn timer to 3 minutes
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_brutallus.cpp
Labels: Ready to be Reviewed, Script, file-cpp, Tested

#21909 Fix(Script) Remove a Trailing whitespace from brutallus script.
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_brutallus.cpp
Labels: Script, file-cpp

#21904 fix(Scripts/SunwellPlateau): Add Blink with Nove Arch Mage
  data/sql/updates/pending_db_world/rev_1744421404317179000.sql
  src/server/scripts/EasternKingdoms/SunwellPlateau/instance_sunwell_plateau.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp, Tested

#21894 fix(Scripts/SunwellPlateau): Correct timing for Eredar Twins
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_eredar_twins.cpp
Labels: Ready to be Reviewed, Script, file-cpp, Tested

#21888 fix(Core/Player): Force UpdateZone on resurrect to apply Zone auras
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerUpdates.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#21873 fix(Scripts/SunwellPlateau): Prevent spell casting if nearing air phase
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_felmyst.cpp
Labels: Ready to be Reviewed, Script, file-cpp, Tested

#21912 fix(DB/Creature) Locate more Death Knight Initiates on their sniffed spawn points.
  data/sql/updates/pending_db_world/DK_Init_SP.sql
Labels: DB, To Be Merged

#21914 fix(Scripts/SunwellPlateau): Entropius' darkness spawn height
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_muru.cpp
Labels: To Be Merged, Script, file-cpp, Tested

#21915 fix(DB/Creature) Add Verified Build.
  data/sql/updates/pending_db_world/Verified_Build.sql
Labels: DB, To Be Merged

#21920 fix(DB/Creature): Add model data for Entropius display.
  data/sql/updates/pending_db_world/entropius-model-data.sql
Labels: DB, To Be Merged

#21918 fix(Scripts/SunwellPlateau): Add taunt immunity to Entropius
  data/sql/updates/pending_db_world/rev_1744566662130496377.sql
Labels: DB, To Be Merged

#21867 fix(DB/Creature): Remove unnecessary Netherwing targetting dummy creatures.
  data/sql/updates/pending_db_world/netherwing-bunnies.sql
Labels: DB, Ready to be Reviewed

#21889 fix(Scripts/Creature): Crash for npc_captured_beryl_sorcerer by secur…
  src/server/scripts/Northrend/zone_borean_tundra.cpp
Labels: Script, file-cpp

#21910 fix(Scripts/SunwellPlateau): Move Dark Fiend from SmartAI to ScriptedAI with corrected despawn behavior
  data/sql/updates/pending_db_world/rev_1744470192125627678.sql
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_muru.cpp
Labels: DB, To Be Merged, Script, file-cpp, Tested

#21856 fix(DB/Quest) Return to Thrallmar has proper prerequisite quest Mission: Gateways Murketh and Shaadraz
  data/sql/updates/pending_db_world/rev_1743779900893505053.sql
Labels: DB, To Be Merged

#21919 fix(Script/Sunwell): Adjust Singularity behaviors
  data/sql/updates/pending_db_world/rev_1744559106171295151.sql
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_muru.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp, Tested

#21942 fix(Script/Sunwell): M'uru height check
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_muru.cpp
Labels: To Be Merged, Script, file-cpp

#21932 fix(Scripts/SunwellPlateau): Limit Kil'jaeden's Armageddon ability
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kiljaeden.cpp
Labels: Script, file-cpp

#21943 fix(Core/Scripts): Fix heap-use-after-free in Fingers of Frost proc handler
  src/server/scripts/Spells/spell_mage.cpp
Labels: Script, file-cpp

#21946 fix(Scripts/SunwellPlateau): Void Sentinels spawn at floor level
  data/sql/updates/pending_db_world/rev_1744850939591523000.sql
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_muru.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp, Tested

#21951 fix (DB/Creature) Some SwP packs are now in formation.
  data/sql/updates/pending_db_world/SwP_formations.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21948 fix(Scripts/SunwellPlateau): Fix Alythess not casting Flame Sear in p…
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_eredar_twins.cpp
Labels: Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#21911 fix(Core/AutobroadcastMgr): correctly check for existing textId in SendWorldAnnouncement
  src/server/game/Autobroadcast/AutobroadcastMgr.cpp
Labels: CORE, file-cpp

#21937 fix(Battlefield/WG): set default maxplayer 120, minlevel 75
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/Battlefield/Battlefield.h
  src/server/game/World/World.cpp
Labels: CORE, file-cpp

#21954 fix(Scripts/SunwellPlateau): Correct Felmyst landing pos variable names
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_felmyst.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#21957 fix(Scripts/Noblegarden): fix bunny transformation on egg looting
  data/sql/updates/pending_db_world/rev_1745009912305741300.sql
  src/server/scripts/Events/events_script_loader.cpp
  src/server/scripts/Events/noblegarden.cpp
  src/server/scripts/World/go_scripts.cpp
Labels: DB, World Event, Script, file-cpp, Tested

#21961 fix(Core/SpellInfoCorrections): Suppress Crystal Spire of Karabor procs
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, file-cpp

#21962 fix(DB/Loot): Consolidate Sunwell trash recipe drops into one reference table and update chance.
  data/sql/updates/pending_db_world/sunwell-trash-recipes.sql
Labels: DB, Ready to be Reviewed

#21960 fix(DB): Add and correct arena season rewards.
  data/sql/updates/pending_db_world/arena-rewards.sql
Labels: DB, Ready to be Reviewed

#21922 fix(Core/AI): Ignore PvP flagged players for aggressive pets if owner is not PvP flagged.
  src/server/game/AI/CoreAI/PetAI.cpp
Labels: CORE, To Be Merged, file-cpp, Tested

#21940 chore(Deps/Zlib): Upgrade zlib to 1.3.1
  deps/PackageList.txt
  deps/zlib/adler32.c
  deps/zlib/compress.c
  deps/zlib/crc32.c
  deps/zlib/deflate.c
  deps/zlib/deflate.h
  deps/zlib/gzclose.c
  deps/zlib/gzguts.h
  deps/zlib/gzlib.c
  deps/zlib/gzread.c
  deps/zlib/gzwrite.c
  deps/zlib/infback.c
  deps/zlib/inffast.c
  deps/zlib/inffast.h
  deps/zlib/inflate.c
  deps/zlib/inftrees.c
  deps/zlib/inftrees.h
  deps/zlib/trees.c
  deps/zlib/uncompr.c
  deps/zlib/zconf.h
  deps/zlib/zlib.h
  deps/zlib/zutil.c
  deps/zlib/zutil.h
Labels: To Be Merged, run-build, file-cpp, Tested

#21928 fix(Script/Sunwell): Implement raycast to prevent Singularity throwing players through walls
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_muru.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#21973 fix(Core/Maps): Do not allow entering an instance if the player is
  src/server/game/Maps/MapMgr.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#21987 fix (Script/SWP) use enrage function for brutallus enrage
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_brutallus.cpp
Labels: Script, file-cpp

#21989 fix(DB/SAI): Despawn Mu'ru Void Spawns on evade
  data/sql/updates/pending_db_world/rev_1745536804631681300.sql
Labels: DB, Tested

#21984 fix(Scripts/SunwellPlateau): Make Blue Dragon Breath Haste apply 25% haste effect
  data/sql/updates/pending_db_world/rev_1745497441690295560.sql
Labels: DB, To Be Merged, Tested

#21986 authserver: align mysql ping log level and name to worldserver
  src/server/apps/authserver/Main.cpp
Labels: CORE, file-cpp

#21854 fix(SmartAI): Ensure immediate combat engagement
  src/server/game/AI/SmartScripts/SmartAI.cpp
Labels: CORE, To Be Merged, file-cpp, Tested

#21967 fix(Core/Player) internally handle expertise as float
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/StatSystem.cpp
Labels: CORE, To Be Merged, file-cpp

#21968 fix(deps/PackageList.txt): update for current state of dependencies
  deps/PackageList.txt
  deps/jemalloc/VERSION
Labels: To Be Merged

#21996 fix (DB/Creature) Citizen of New Avalon inside Scarlet Tavern now remain dead.
  data/sql/updates/pending_db_world/Dead_Bodies.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21964 fix(Scripts/SunwellPlateau): Make Twin special abilities target one of the highest 6 in threat of the other twin
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_eredar_twins.cpp
Labels: To Be Merged, Script, file-cpp, Tested

#22013 fix(Core/worldserver.conf) Clarification for AllowTwoSide.Interaction.Auction
  src/server/apps/worldserver/worldserver.conf.dist
Labels: CORE

#22017 fix(DB/Creature) Solve various issues on dk starting area (phase 4).
  data/sql/updates/pending_db_world/DK_Phase_4_various_corrections.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, file-cpp

#22014 fix(Scripts/SunwellPlateau): exclude tank from flame sear
  data/sql/updates/pending_db_world/rev_1745876726796753902.sql
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_eredar_twins.cpp
Labels: DB, To Be Merged, Script, file-cpp

#22012 fix(db/locale): Added missing Russian translation for the (Shaman) Totems
  data/sql/updates/pending_db_world/shaman-totem-ruru-fix.sql
Labels: DB

#22021 fix(DB/Spells) add Battle Squawk to Melee Haste aura stack group
  data/sql/updates/pending_db_world/rev_1745940911894528370.sql
Labels: DB, To Be Merged

#22022 fix(DB/Spells) add K'iru's Song of Victory to Intellect and Stamina aura stack groups
  data/sql/updates/pending_db_world/rev_1745941039161439470.sql
Labels: DB, To Be Merged

#21959 fix(Core/Creature): Implement respond to call for help faction flag.
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/shared/DataStores/DBCStructure.h
Labels: CORE, Ready to be Reviewed, file-cpp, Tested

#21991 fix(Scripts/SunwellPlateau): Dark Fiends should use threat table and not deal melee damage
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_muru.cpp
Labels: Ready to be Reviewed, Script, file-cpp, Tested

#22024 fix(Scripts/SunwellPlateau): Ensure proper reset for Kil'jaeden encounter
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kiljaeden.cpp
Labels: Script, file-cpp, Tested

#21819 chore(Core/Spells): move db `spell_dbc` corrections to SpellInfoCorre…
  data/sql/updates/pending_db_world/rev_1743358272289715719.sql
  data/sql/updates/pending_db_world/rev_1743363476685228915.sql
  src/server/game/Spells/SpellDefines.h
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: DB, CORE, Ready to be Reviewed, file-cpp

#22032 Revert "Fix(Core/Player): Energy regen rate bonuses (#20321)"
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, To Be Merged, file-cpp
