Repository azerothcore/azerothcore-wotlk, pull requests merged in 2025-05, with the labels that each got.

#22033 fix (DB/Creature) The Horses' pack and the single horse now have a path and jump the fence.
  data/sql/updates/pending_db_world/Horses_inside_fences.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#22038 refactor(Scripts/BlackTemple) remove tanks from Fatal Attraction after setting the target amount
  src/server/scripts/Outland/BlackTemple/boss_mother_shahraz.cpp
Labels: To Be Merged, Script, file-cpp

#22035 fix(DB/Spells) Thunderfury does not stack with Infected Wounds/Thunderclap/Icy Touch anymore
  data/sql/updates/pending_db_world/rev_1746124496649257276.sql
Labels: DB

#22045 fix(DB/GameObject): place Alchemy Lab on the Alchemy Table
  data/sql/updates/pending_db_world/rev_1746309097356194167.sql
Labels: DB, To Be Merged

#22041 fix(Core/Player): smooth energy regeneration with `SPELL_AURA_MOD_POWER_REGEN_PERCENT` mods
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Unit/StatSystem.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/Auras/SpellAuraEffects.cpp
Labels: CORE, To Be Merged, file-cpp

#22046 fix(DB/Formations): Naxxramas - Embalming Slime
  data/sql/updates/pending_db_world/rev_1746334701815945000.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#22055 fix(Scripts/CoS): First trio transforming on low HP
  src/server/scripts/Kalimdor/CavernsOfTime/CullingOfStratholme/culling_of_stratholme.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#22056 fix(DB/Custom): UP Avenging Spirit's Wither should stack from multip…
  data/sql/updates/pending_db_world/rev_1746375534917967600.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#22050 fix(DB/Conditions): Gather Lumber not despawning Coldwind Tree GOs
  data/sql/updates/pending_db_world/rev_1746351205964053400.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#22051 fix(DB/Conditions): Quest 'Harp on This!' not allowing interaction wi…
  data/sql/updates/pending_db_world/rev_1746352785809387700.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21965 refactor(Core/AI) don't add currentTarget to the front of the SelectTargetList for MaxThreat/Random
  src/server/game/AI/CoreAI/UnitAI.h
  src/server/game/AI/SmartScripts/SmartScript.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_gehennas.cpp
  src/server/scripts/EasternKingdoms/BlackrockMountain/MoltenCore/boss_majordomo_executus.cpp
  src/server/scripts/EasternKingdoms/Karazhan/boss_netherspite.cpp
  src/server/scripts/EasternKingdoms/Karazhan/boss_prince_malchezaar.cpp
  src/server/scripts/EasternKingdoms/Karazhan/bosses_opera.cpp
  src/server/scripts/EasternKingdoms/Scholomance/boss_darkmaster_gandling.cpp
  src/server/scripts/EasternKingdoms/Scholomance/boss_kirtonos_the_herald.cpp
  src/server/scripts/EasternKingdoms/ZulAman/boss_akilzon.cpp
  src/server/scripts/EasternKingdoms/ZulAman/boss_zuljin.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/boss_hazzarah.cpp
  src/server/scripts/EasternKingdoms/ZulGurub/boss_renataki.cpp
  src/server/scripts/EasternKingdoms/zone_duskwood.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/BattleForMountHyjal/boss_anetheron.cpp
  src/server/scripts/Kalimdor/CavernsOfTime/EscapeFromDurnholdeKeep/boss_lieutenant_drake.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/boss_kurinnaxx.cpp
  src/server/scripts/Kalimdor/RuinsOfAhnQiraj/ruins_of_ahnqiraj.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_fankriss.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/boss_sartura.cpp
  src/server/scripts/Kalimdor/TempleOfAhnQiraj/temple_of_ahnqiraj.cpp
  src/server/scripts/Northrend/ChamberOfAspects/ObsidianSanctum/boss_sartharion.cpp
  src/server/scripts/Northrend/ChamberOfAspects/RubySanctum/boss_halion.cpp
  src/server/scripts/Northrend/Gundrak/boss_eck.cpp
  src/server/scripts/Northrend/Gundrak/boss_gal_darah.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_deathbringer_saurfang.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_lady_deathwhisper.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_lord_marrowgar.cpp
  src/server/scripts/Northrend/IcecrownCitadel/boss_professor_putricide.cpp
  src/server/scripts/Northrend/IcecrownCitadel/icecrown_citadel.cpp
  src/server/scripts/Northrend/Naxxramas/boss_grobbulus.cpp
  src/server/scripts/Northrend/Naxxramas/boss_kelthuzad.cpp
  src/server/scripts/Northrend/VaultOfArchavon/boss_archavon.cpp
  src/server/scripts/Outland/Auchindoun/SethekkHalls/boss_anzu.cpp
  src/server/scripts/Outland/Auchindoun/SethekkHalls/boss_talon_king_ikiss.cpp
  src/server/scripts/Outland/BlackTemple/boss_bloodboil.cpp
  src/server/scripts/Outland/BlackTemple/boss_teron_gorefiend.cpp
  src/server/scripts/Outland/BlackTemple/boss_warlord_najentus.cpp
  src/server/scripts/Outland/CoilfangReservoir/SteamVault/boss_mekgineer_steamrigger.cpp
  src/server/scripts/Outland/CoilfangReservoir/underbog/boss_the_black_stalker.cpp
  src/server/scripts/Outland/GruulsLair/boss_gruul.cpp
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/boss_warbringer_omrogg.cpp
  src/server/scripts/Outland/TempestKeep/Mechanar/boss_pathaleon_the_calculator.cpp
  src/server/scripts/Outland/TempestKeep/arcatraz/boss_harbinger_skyriss.cpp
  src/server/scripts/Outland/TempestKeep/botanica/boss_thorngrin_the_tender.cpp
  src/server/scripts/Outland/boss_doomwalker.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#22047 fix(Core/Spells): Allow glyphed PS to be casted while Seduced
  src/server/game/Spells/Spell.cpp
Labels: CORE, To Be Merged, file-cpp

#22059 fix(DB/Creature) Havenshire Horses now have a blizz-like behaviour when dismounted or die.
  data/sql/updates/pending_db_world/Horses_Behaviour.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#22067 Revert "fix(Core/Spells): Allow glyphed PS to be casted while Seduced…
  src/server/game/Spells/Spell.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#22006 fix(Scripts/SunwellPlateau): Ensure Kil'jaeden encounter resets correctly on evade
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kiljaeden.cpp
Labels: To Be Merged, Script, file-cpp, Tested

#22065 fix(DB/Creature): Remove Wrath Enforcer damage requirement
  data/sql/updates/pending_db_world/rev_1746546682435566500.sql
Labels: DB, To Be Merged

#22086 refactor(Core/World): Move various worldstate related functions to worldstate class.
  src/server/game/Battlefield/Zones/BattlefieldWG.cpp
  src/server/game/Battlefield/Zones/BattlefieldWG.h
  src/server/game/Battlegrounds/BattlegroundMgr.cpp
  src/server/game/Conditions/ConditionMgr.cpp
  src/server/game/Events/GameEventMgr.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/game/World/World.h
  src/server/game/World/WorldState.cpp
  src/server/game/World/WorldState.h
  src/server/scripts/OutdoorPvP/OutdoorPvPTF.cpp
  src/server/scripts/World/npcs_special.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#22083 fix(DB/Creature): Ahn'kahar Watcher will no longer spawn in normal mode.
  data/sql/updates/pending_db_world/rev_1746722946182306100.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#22092 fix(DB/Loot) - Lorgalis Manuscript no longer drops from creatures.
  data/sql/updates/pending_db_world/rev_1746808964702490700.sql
Labels: DB, Ready to be Reviewed

#22093 fix (Script/Sunwell Plateau) Edit some Kil'jaeden dialogue and spells' timers.
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kiljaeden.cpp
Labels: Waiting to be Tested, Script, file-cpp

#22052 fix(Scripts/Desolace): Kodo Roundup
  src/server/scripts/Kalimdor/zone_desolace.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp, Tested

#22097 fix(DB/Conditions): 'Opening the Backdoor' pre-quests
  data/sql/updates/pending_db_world/rev_1746846052760295300.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#22018 fix(Spells/Paladin) remove custom cooldown and procFlags from Judgement of Wisdom/Light
  data/sql/updates/pending_db_world/rev_1745955461043147883.sql
  src/server/game/Entities/Unit/Unit.cpp
Labels: DB, CORE, Ready to be Reviewed, file-cpp, Tested

#22072 fix(Core/Spells) reimplement SPELL_ATTR3_CAN_PROC_FROM_PROCS
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, file-cpp, Tested

#22100 fix(DB/Text) Fix correct text in "help server exit" & "help reload config" commands.
  data/sql/updates/pending_db_world/rev_1746892458024076300.sql
Labels: DB

#22029 fix(Scripts): Use distinct sound entry for BRD L70ETC Music Doodad.
  src/server/scripts/World/go_scripts.cpp
Labels: Ready to be Reviewed, Script, file-cpp, Tested

#22114 fix (DB/Creature) Add Taunt Immunity to Kil'Jaeden.
  data/sql/updates/pending_db_world/Kil'Jaeden_taunt_imm.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#22115 fix (Script/Sunwell Plateau) Edit Kil'Jaeden Darkness Timers.
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kiljaeden.cpp
Labels: Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#22106 fix(DB/Creature) Scarlet Crusaders don't hook invisible Eye of Acherus anymore (phase 2).
  data/sql/updates/pending_db_world/CrusadersAI.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#22113 fix(Scripts/SunwellPlateau): Fix flame dart timers and cast in all ph…
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kiljaeden.cpp
Labels: Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#22119 fixup! refactor(Core/World): Move various worldstate related function…
  src/server/game/World/World.cpp
Labels: CORE, Ready to be Reviewed, file-cpp, Tested

#22120 fix(DB/Creature): Correct Kil'jaeden's model info.
  data/sql/updates/pending_db_world/kj-model-inf.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#22123 feat(apps/extractor): add extractor for non windows
  apps/extractor/extractor.sh
  apps/extractor/extractor_es.sh
Labels: To Be Merged, Bash, Requires WIKI Update

#22125 fix(Scripts/SunwellPlateau): Spell Fury spellsteal resets stacks and is no longer consumes on dot ticks
  data/sql/updates/pending_db_world/rev_1747255986267456043.sql
  src/server/scripts/EasternKingdoms/SunwellPlateau/instance_sunwell_plateau.cpp
Labels: DB, To Be Merged, Script, file-cpp, Tested

#22133 fix(Scripts/Spells): Kil'Jaeden Fire Bloom AoE pet damage
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, file-cpp

#22139 fix(Scripts/SunwellPlateau): Fix Killjaeden text spam
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kiljaeden.cpp
Labels: To Be Merged, Script, file-cpp

#22145 fix(Scripts/Zone): Quest 'Fire At Will!' should give group credit
  src/server/scripts/Outland/zone_blades_edge_mountains.cpp
Labels: To Be Merged, Script, file-cpp

#22137 fix(DB/SAI) - Removes Link in Smart AI for creature Ziggurat Defender
  data/sql/updates/pending_db_world/rev_1747490492456641600.sql
Labels: DB, Ready to be Reviewed, Tested

#22091 fix(DB/Loot) - Dalaran Wizard's Robe no longer drops from un-wanted creatures.
  data/sql/updates/pending_db_world/rev_1746808346708867700.sql
Labels: DB, To Be Merged

#22124 fix(DB/Loot): Adjust Thori'dal drop chance.
  data/sql/updates/pending_db_world/thoridal-chance.sql
Labels: DB, Ready to be Reviewed

#22156 fix(DB/Spells) Shadow Bolt Volley of Hand of Deceivers on the Kil'jaeden fight stack
  data/sql/updates/pending_db_world/rev_1747667082397759252.sql
Labels: DB

#22164 fix(Core/Player): aura removal logic to equipped "Use" items
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, Ready to be Reviewed, file-cpp, Tested

#22162 fix (DB/Creature) Kil'Jaeden Sinister Reflections now have 3 seconds of delay before attacking.
  data/sql/updates/pending_db_world/Sinister_Reflection_delay.sql
Labels: DB, Waiting to be Tested, Ready to be Reviewed

#22177 Worldserver conf table reference correction
  src/server/apps/worldserver/worldserver.conf.dist
Labels: CORE, To Be Merged

#22149 Update 2 mobs with broken damage
  data/sql/updates/pending_db_world/rev_1747602093331873790.sql
Labels: DB, To Be Merged

#22129 fix(Core/Creature): Leashing improvements.
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
Labels: CORE, Ready to be Reviewed, file-cpp, Tested

#22126 refactor(Core/Worldstate): Remove redundant worldstate usage.
  src/server/game/Entities/Player/Player.cpp
  src/server/game/World/WorldStateDefines.h
Labels: CORE, To Be Merged, file-cpp

#22102 fix(Scripts/Spells): re-add startDelay for some traps
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#22057 fix(Scripts/Northrend): Crashing wave should do double damage to frozen …
  data/sql/updates/pending_db_world/rev_1746386778261085100.sql
  src/server/scripts/Northrend/zone_icecrown.cpp
Labels: DB, To Be Merged, Script, file-cpp, Tested

#22142 fix(DB/Creature): Captured Totem shouldn't be attackable
  data/sql/updates/pending_db_world/rev_1747547690190698400.sql
Labels: DB, To Be Merged

#22191 fix(DB/Spells): Shield of the Blue output damage reduction
  data/sql/updates/pending_db_world/rev_1748062500283594000.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#22201 fix(Scripts/SunwellPlateau): crash in Sinister Reflection Clone spellscript
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kiljaeden.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#22143 fix(Core/Spells): Siphon Bloodgem should not be canceled on orientati…
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, file-cpp, Tested

#22209 fix(DB/SAI): Portal Keepers using wrong Arcane Missiles
  data/sql/updates/pending_db_world/rev_1748237026512147100.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: DB, CORE, To Be Merged, file-cpp

#22186 fix(DB/Command) - Updates the "guild rank" command to be more clear.
  data/sql/updates/pending_db_world/rev_1748014533868385000.sql
Labels: DB, Ready to be Reviewed

#22223 fix(Scripts/SunwellPlateau): Don't inflict Darkness damage if Darkness aura is removed by death,
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kiljaeden.cpp
Labels: To Be Merged, Script, file-cpp, Tested

#22222 fix(DB/SAI) - Updates the SAI for NPCs related to ETC event to no longer display errors.
  data/sql/updates/pending_db_world/rev_1748352373614749600.sql
Labels: DB, Ready to be Reviewed, Tested

#22208 fix(Instance/OldKingdom): Elder Nadox enrage & health check
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/boss_elder_nadox.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#22244 fix(Scripts/AhnKahet): Amanitar shouldn't be immune to nature damage
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/boss_amanitar.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#22165 fix(Scripts/Karazhan): Script Wrath of the Titans
  data/sql/updates/pending_db_world/rev_1747771724670222200.sql
  src/server/scripts/EasternKingdoms/Karazhan/karazhan.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp

#22195 fix(Instance/VioletHold): Sinclari gossip order, crystals being spamma…
  data/sql/updates/pending_db_world/rev_1748079927926024900.sql
  src/server/scripts/Northrend/VioletHold/instance_violet_hold.cpp
  src/server/scripts/Northrend/VioletHold/violet_hold.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#22245 fix(Core/Creature): Use home position for leash distance check for creatures with no movement.
  src/server/game/Entities/Creature/Creature.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#22150 fix(Scripts/Items): Noblegarden Chocolate instantly giving Well Fed buff
  data/sql/updates/pending_db_world/rev_1747599295510408800.sql
  src/server/scripts/Events/noblegarden.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp

#22082 fix(Scripts/OldKingdom): Ahn'kahar Spell Flinger failing to channel S…
  data/sql/updates/pending_db_world/rev_1746721372812798600.sql
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/ahnkahet.h
  src/server/scripts/Northrend/AzjolNerub/ahnkahet/instance_ahnkahet.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp

#22198 fix(Instance/Oculus): Varos Cloudstrider does not summon Azure Ring Captain
  data/sql/updates/pending_db_world/rev_1748093860285297800.sql
  src/server/scripts/Northrend/Nexus/Oculus/boss_varos.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp

#22204 feat(Core/Commands): Add group revive command
  data/sql/updates/pending_db_world/rev_1748187004151486800.sql
  src/server/scripts/Commands/cs_group.cpp
Labels: DB, Ready to be Reviewed, Script, file-cpp, Requires WIKI Update

#22253 fix(Scripts/SunwellPlateau): Eredar Twins blaze trap delay
  data/sql/updates/pending_db_world/rev_1748640298121075698.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_eredar_twins.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp

#22249 fix (DB/Script) Move Eye of Acherus event to SmartAI.
  data/sql/updates/pending_db_world/Eye_of_Acherus.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/EasternKingdoms/ScarletEnclave/chapter1.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp, Tested
