Repository azerothcore/azerothcore-wotlk, pull requests merged in 2025-01, with the labels that each got.

#21054 fix(Core/Spells): Remove level scaling from Booming Voice
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, file-cpp

#21063 fix(Scripts/ZulAman): reset Nalorakk's intro on wipe
  src/server/scripts/EasternKingdoms/ZulAman/boss_nalorakk.cpp
Labels: Ready to be Reviewed, Script, file-cpp, Tested

#21083 fix(Scripts/ZulAman): Fix Jan'lai teleport spells
  data/sql/updates/pending_db_world/rev_1735913324331119200.sql
  src/server/scripts/EasternKingdoms/ZulAman/boss_janalai.cpp
Labels: DB, To Be Merged, Script, file-cpp, Tested

#21087 fix(Scripts/ZulAman): make Zul'Jin p3 cyclones go to random targets
  src/server/scripts/EasternKingdoms/ZulAman/boss_zuljin.cpp
Labels: To Be Merged, Script, file-cpp, Tested

#21076 fix(DB/Locale): deDE fixes for quest offer reward entry 8346
  data/sql/updates/pending_db_world/fix_quest_offer_8346.sql
Labels: DB, Ready to be Reviewed

#21075 fix(DB/SAI): Add dialogue between creature argah 27440 and creature sagai 27441
  data/sql/updates/pending_db_world/rev_1735703152636383200.sql
Labels: DB, Tested

#21084 fix(Scripts/ZulAman): initial Amani'shi pack
  data/sql/updates/pending_db_world/rev_1735913072331031069.sql
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.cpp
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.h
Labels: DB, Ready to be Reviewed, Script, file-cpp, Tested

#21092 fix (DB/Creature) Remove some Amanshi Scouts and add a Waypoint for two of them.
  data/sql/updates/pending_db_world/Amanshi_Scouts_Cleaning.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#20992 fix(DB/Creature): Set respawn to 15s for Soul Fragments in the Shrine of Lost Souls
  data/sql/updates/pending_db_world/rev_1734751988808151700.sql
Labels: DB, DB Spawns, Tested

#20923 fix(DB/Creature): Correct behavior and emote of oil-covered birds
  data/sql/updates/pending_db_world/hawkfix.sql
Labels: DB, To Be Merged, Tested

#21096 fix(DB/SmartAI): more consistent bear summon, despawn bear on reset
  data/sql/updates/pending_db_world/rev_1736079931234163195.sql
Labels: DB, To Be Merged, Tested

#21095 fix(Scripts/ZulAman): add Scout run to drums
  data/sql/updates/pending_db_world/rev_1736079931234163195.sql
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.cpp
Labels: DB, Script, file-cpp, Tested

#21094 fix(DB/Creature) Rain of Darkness and Saronite Arrows spawn.
  data/sql/updates/pending_db_world/Rain_of_Darkness.sql
Labels: DB, To Be Merged

#21097 fix(DB/SmartAI): `HEALTH_PCT` where Min equals Max
  data/sql/updates/pending_db_world/rev_1736093307962776687.sql
Labels: DB

#21098 fix(Scripts/ZulAman): Fix initial pack not chasing distant players
  data/sql/updates/pending_db_world/rev_1736106102651280100.sql
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.cpp
Labels: To Be Merged, Tested

#21101 refactor(Scripts/ZulAman): clean up Helazzi code
  src/server/scripts/EasternKingdoms/ZulAman/boss_halazzi.cpp
Labels: To Be Merged, Script, file-cpp, Tested

#21089 fix(Scripts/ZulAman): make sure Malacrass timer is delayed only when it should be triggered during channel of Spirit Bolts
  src/common/Utilities/TaskScheduler.cpp
  src/common/Utilities/TaskScheduler.h
  src/server/scripts/EasternKingdoms/ZulAman/boss_akilzon.cpp
  src/server/scripts/EasternKingdoms/ZulAman/boss_hexlord.cpp
Labels: CORE, Script, file-cpp

#21110 fix(DB/Creature) Clean road to Halazzi.
  data/sql/updates/pending_db_world/Clean_Road_to_Halazzi.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21108 fix(DB/Creature) Add Waypoint and Creature Formation for Medicine Man and Wind Walker
  data/sql/updates/pending_db_world/Amani'shi_Wanderer_Path.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21106 fix(Core/Misc): Correct some fmt logs
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Motd/MotdMgr.cpp
  src/server/scripts/Commands/cs_npc.cpp
  src/server/scripts/Commands/cs_send.cpp
Labels: CORE, To Be Merged, Script, file-cpp

#20981 fix(DB/Loot) Sealed Craftsman's Writ loot problem
  data/sql/updates/pending_db_world/rev_1734664149862386300.sql
Labels: DB, To Be Merged, Tested

#21053 fix(DB/Conditions): remove conditions for Rune of Mazthoril
  data/sql/updates/pending_db_world/rev_1735381972383875988.sql
Labels: DB

#21093 fix(Scripts/Halion): Halion freeze against "Feign Death" hunters
  src/server/scripts/Northrend/ChamberOfAspects/RubySanctum/boss_halion.cpp
Labels: Script, file-cpp

#21113 fix(Scripts/ZulAman): Scout's hut search should ignore the world trigger near Jan'alai
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.cpp
Labels: To Be Merged, Script, file-cpp, Tested

#21081 fix(Core/Threading): Modernize/Improve thread safety, performance, and maintainability of the MapUpdater class
  src/common/Threading/PCQueue.h
  src/server/game/Maps/MapUpdater.cpp
  src/server/game/Maps/MapUpdater.h
Labels: CORE, Waiting to be Tested, file-cpp

#21102 fix(Scripts/SunwellPlateau): Muru - Changed the amount of Tick Negative Energy Periodic
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_muru.cpp
Labels: Script, file-cpp

#21120 fix(DB/Creatures) Remove Tanzar from his cage and activate group loot for its chest.
  data/sql/updates/pending_db_world/Band_Aid_Tanzar.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21117 fix(Scripts/Spells): Move Curse of Mending (7098 & 39647) to spell sc…
  data/sql/updates/pending_db_world/rev_1736342655634713400.sql
  src/server/game/Entities/Unit/Unit.cpp
  src/server/scripts/Spells/spell_generic.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#21021 fix(DB/Creature)Badlands Reagent Run II dragons don't aggro when sucking blood
  data/sql/updates/pending_db_world/rev_1734919858671408200.sql
Labels: DB, To Be Merged

#21114 fix(DB/Core/Quest): Add scripts & spawn for quest "Imprisoned in the citadel"
  data/sql/updates/pending_db_world/rev_1736296967844459600.sql
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/instance_shattered_halls.cpp
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/shattered_halls.h
Labels: DB, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#21132 fix(Scripts/ZulAman): Zul'jin Add Cooldown to EnergyStorm proc
  data/sql/updates/pending_db_world/rev_1736536297178305597.sql
  src/server/scripts/EasternKingdoms/ZulAman/boss_zuljin.cpp
Labels: DB, Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#21133 fix(Scripts/ZulAman): Fix Hexlord gate not opening after crashes
  src/server/scripts/EasternKingdoms/ZulAman/instance_zulaman.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#21103 fix(Player/SpellQueue): bandaid crashfix
  src/server/game/Entities/Player/PlayerUpdates.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#21134 feat(Scripts/Commands): Update GetBossState to display all states
  data/sql/updates/pending_db_world/rev_1736546523943069600.sql
  src/server/scripts/Commands/cs_instance.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#21136 feat(Scripts/Commands): Implement opendoor command
  data/sql/updates/pending_db_world/rev_1736551855453244500.sql
  src/server/game/Miscellaneous/Language.h
  src/server/scripts/Commands/cs_misc.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp, Requires WIKI Update

#21130 fix(DB/Creature): Akil'zon interrupt immunity
  data/sql/updates/pending_db_world/rev_1736537763501202700.sql
Labels: DB

#21135 fix(DB/SAI): Fix Marauding Bursters repositioning in combat
  data/sql/updates/pending_db_world/rev_1736550580324276200.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21142 fix(DB/Creature) - Removes weapons from Rorgish Jowl
  data/sql/updates/pending_db_world/rev_1736627805988028300.sql
Labels: DB, Ready to be Reviewed

#21139 fix(DB/Loot): Malacrass should drop 2 pieces of loot and sometimes Tiny Vodoo Mask
  data/sql/updates/pending_db_world/rev_1736616775226885710.sql
Labels: DB, Loot, 70

#21138 fix(Scripts/ZulAman): Use Zul'jins threatlist to search for cyclone t…
  src/server/scripts/EasternKingdoms/ZulAman/boss_zuljin.cpp
Labels: Script, file-cpp

#21118 fix(Core/Group) CF Faction Assign & Leader Instance Faction
  src/server/game/Instances/InstanceScript.h
  src/server/game/Maps/Map.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheChampion/instance_trial_of_the_champion.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/instance_trial_of_the_crusader.cpp
  src/server/scripts/Northrend/FrozenHalls/ForgeOfSouls/instance_forge_of_souls.cpp
  src/server/scripts/Northrend/FrozenHalls/HallsOfReflection/instance_halls_of_reflection.cpp
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/instance_pit_of_saron.cpp
  src/server/scripts/Northrend/IcecrownCitadel/instance_icecrown_citadel.cpp
  src/server/scripts/Northrend/Nexus/Nexus/instance_nexus.cpp
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/instance_shattered_halls.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#21154 fix(DB/Conditions): Havenshire horses spellclick should require Grand…
  data/sql/updates/pending_db_world/rev_1736783548288617200.sql
Labels: DB, To Be Merged, Tested

#21155 fix(Core/Map): Fix crash OnPlayerLeave()
  src/server/game/Maps/Map.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#21147 fix(DB/Creature) Sunfury Bloodwarder do not intercept anymore
  data/sql/updates/pending_db_world/rev_1736654302862534200.sql
Labels: DB, Ready to be Reviewed, Needs sniff

#21157 fix(DB/page_text) - Added Sniffed Texts to the plaques in Hall of Champions (Scarlet Monastery Armoury)
  data/sql/updates/pending_db_world/rev_1736798670655210700.sql
Labels: DB, To Be Merged

#21160 fix(Scripts/ZulAman): Store chest count in DB
  src/server/scripts/EasternKingdoms/ZulAman/instance_zulaman.cpp
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.h
Labels: To Be Merged, Script, file-cpp, Tested

#21153 fix(DB/Creature) Remove double Nerub'ar Victims and set a Crystalline Tender movement type to 0.
  data/sql/updates/pending_db_world/Nerub_ar_Victim.sql
Labels: DB, To Be Merged

#21129 fix(Scripts/ZulAman): Akilzon Gauntlet hyperspawn, handling Eagle Trash Triggers
  data/sql/updates/pending_db_world/rev_1736530112429984785.sql
  src/server/scripts/EasternKingdoms/ZulAman/instance_zulaman.cpp
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.cpp
Labels: DB, To Be Merged, Script, file-cpp, Tested

#21152 fix(DB/Creature) Solve some npc problems along the road to Drakos.
  data/sql/updates/pending_db_world/The_Oculus_Trashes.sql
Labels: DB, To Be Merged

#21165 fix(DB/SAI): Amani'shi Berserker SAI
  data/sql/updates/pending_db_world/rev_1736878480882390600.sql
Labels: DB, To Be Merged

#21169 fix(Scripts/ZulAman): Zul'Jin reduce procs of Energy Storm Aura
  data/sql/updates/pending_db_world/rev_1736879270259477703.sql
  src/server/scripts/Spells/spell_generic.cpp
Labels: DB, Script, file-cpp

#20948 fix(DB/Spell): fix item "Blessed Medallion of Karabor"
  data/sql/updates/pending_db_world/rev_1734414765273447900.sql
Labels: DB, To Be Merged

#21171 fix(DB/Creature) Some Borean Tundra npcs now have a smartai.
  data/sql/updates/pending_db_world/Borean_Tundra_npcs.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21175 fix(DB/Spell): Correct map ID for Medallion of Karabor.
  data/sql/updates/pending_db_world/karabor-fix.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21177 fix(Scripts/ZulAman): prevent early engaging of door guardians to skip timed event
  data/sql/updates/pending_db_world/rev_1736947882353306449.sql
  src/server/scripts/EasternKingdoms/ZulAman/instance_zulaman.cpp
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.cpp
  src/server/scripts/EasternKingdoms/ZulAman/zulaman.h
Labels: DB, Ready to be Reviewed, Script, file-cpp

#21159 fix(Scripts/Silverpine): Fix Fearleia not reseting and modernize Pyre…
  data/sql/updates/pending_db_world/rev_1736821783299547900.sql
  src/server/scripts/EasternKingdoms/zone_silverpine_forest.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#21187 fix(DB/SAI): Amani Lynx shouldn't use dash
  data/sql/updates/pending_db_world/rev_1736985935365008000.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21188 fix(DB/SAI): Tamed Amani Crocolisk abilities
  data/sql/updates/pending_db_world/rev_1736987711191058900.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21185 fix(DB/Spell): Add sniffed data for Medallion of Karabor.
  data/sql/updates/pending_db_world/karabor-sniffed.sql
Labels: DB, To Be Merged, Ready to be Reviewed, Tested

#21192 refactor(Github/Misc): Deprecate Suggestion label and use Github Type
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: To Be Merged, Ready to be Reviewed

#21189 fix(DB/Creature) Bloodscalp Witch Doctor can now move during combat.
  data/sql/updates/pending_db_world/Witch_Doctor.sql
Labels: DB, To Be Merged, Tested

#21196 fix(DB/Creature): Remove rooted inhabit type from Coilfang Beast Tamer
  data/sql/updates/pending_db_world/rev_1737076652910686700.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21191 fix(Core/Misc): Resolve output formatting issues with fmt library
  src/server/game/Maps/Map.cpp
  src/server/scripts/Commands/cs_ban.cpp
  src/server/scripts/Commands/cs_debug.cpp
  src/server/scripts/Commands/cs_mmaps.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#21193 fix(Script/WP): correct output of wp show command
  data/sql/updates/pending_db_world/rev_1737057271097545900.sql
  src/server/scripts/Commands/cs_wp.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#21168 refactor(Core/Instances): Implement GetTeamIdInInstance() for two-fac…
  src/server/game/Instances/InstanceScript.cpp
  src/server/game/Instances/InstanceScript.h
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheChampion/instance_trial_of_the_champion.cpp
  src/server/scripts/Northrend/CrusadersColiseum/TrialOfTheCrusader/instance_trial_of_the_crusader.cpp
  src/server/scripts/Northrend/FrozenHalls/ForgeOfSouls/instance_forge_of_souls.cpp
  src/server/scripts/Northrend/FrozenHalls/HallsOfReflection/instance_halls_of_reflection.cpp
  src/server/scripts/Northrend/FrozenHalls/PitOfSaron/instance_pit_of_saron.cpp
  src/server/scripts/Northrend/IcecrownCitadel/instance_icecrown_citadel.cpp
  src/server/scripts/Northrend/Nexus/Nexus/instance_nexus.cpp
  src/server/scripts/Outland/HellfireCitadel/ShatteredHalls/instance_shattered_halls.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#21200 fix(Core/Unit): Fix fast creatures chasing indefinitely
  src/server/game/Entities/Unit/Unit.cpp
Labels: CORE, Waiting to be Tested, Ready to be Reviewed, file-cpp

#21197 fix(DB/Gameobject): pooling and sniffed Values for 19018 'Giant Clam' spawns
  data/sql/updates/pending_db_world/rev_1737114512656810300.sql
Labels: DB, Ready to be Reviewed, DB Spawns, Tested

#21199 fix(DB/Creature) Kel'thuzad no longer attacks players.
  data/sql/updates/pending_db_world/KelThuzad_Bortun.sql
Labels: DB, To Be Merged

#21149 feat(Scripting/Spell): Add new hooks for Spell (OnSpellCast, OnSpellPrepare, OnSpellCancel)
  src/server/game/Scripting/ScriptDefines/AllSpellScript.cpp
  src/server/game/Scripting/ScriptDefines/AllSpellScript.h
  src/server/game/Scripting/ScriptMgr.h
  src/server/game/Spells/Spell.cpp
Labels: CORE, file-cpp

#21203 fix(DB/Gameobject): Pooling and sniffed Values for 2744 'Giant Clam' spawns
  data/sql/updates/pending_db_world/rev_1737185996167599600.sql
Labels: DB, Tested

#21201 feat(Core) - Additional "ActionButton" log information.
  src/server/game/Entities/Player/PlayerStorage.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#21167 fix(Scripts/Naxxramas): fixed invalid horseman state on instance init
  src/server/scripts/Northrend/Naxxramas/instance_naxxramas.cpp
Labels: Script, file-cpp, Tested

#21183 fix(Core/DB) - Correct the max length of a username
  data/sql/updates/pending_db_world/rev_1736963775000223100.sql
  src/server/game/Accounts/AccountMgr.h
Labels: DB, CORE, Ready to be Reviewed, file-cpp

#17558 fix(Scripts/ScarletMonastery): improvement ScarletMonastery
  data/sql/updates/pending_db_world/rev_1697941424465768700.sql
  src/server/game/Spells/SpellInfo.cpp
  src/server/scripts/EasternKingdoms/ScarletMonastery/instance_scarlet_monastery.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, file-cpp, Tested

#21044 chore(Docker): Update dev container to ubuntu24.04
  apps/docker/Dockerfile.dev-server
  docker-compose.yml
Labels: Ready to be Reviewed, run-build

#21211 fix(Core/ObjectMgr): Potential crash in GetModuleString()
  src/server/game/Globals/ObjectMgr.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#21207 refactor(Scripts/BloodFurnace): Clean up instance script
  src/server/game/Instances/InstanceScript.cpp
  src/server/game/Instances/InstanceScript.h
  src/server/scripts/Outland/HellfireCitadel/BloodFurnace/blood_furnace.h
  src/server/scripts/Outland/HellfireCitadel/BloodFurnace/boss_broggok.cpp
  src/server/scripts/Outland/HellfireCitadel/BloodFurnace/boss_kelidan_the_breaker.cpp
  src/server/scripts/Outland/HellfireCitadel/BloodFurnace/boss_the_maker.cpp
  src/server/scripts/Outland/HellfireCitadel/BloodFurnace/instance_blood_furnace.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#21216 fix(Core/Gameobject): prevent getting empty fishing loot
  src/server/game/Entities/GameObject/GameObject.cpp
Labels: CORE, Ready to be Reviewed, file-cpp

#21217 refactor(Core/Loot): Simplify GetFishLoot with for loop and merge Get…
  src/server/game/Entities/GameObject/GameObject.cpp
  src/server/game/Entities/GameObject/GameObject.h
  src/server/game/Entities/Player/Player.cpp
Labels: CORE, Ready to be Reviewed, file-cpp, Tested

#21026 chore(Apps/Codestyle): add new checks for SQL files
  apps/codestyle/codestyle-sql.py
Labels: To Be Merged

#21145 refactor(Core/Player): Improve Channel.RestrictedLfg handling
  src/server/game/ArenaSpectator/ArenaSpectator.cpp
  src/server/game/Chat/Channels/Channel.cpp
  src/server/game/Chat/Channels/Channel.h
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Player/Player.h
  src/server/game/Entities/Player/PlayerUpdates.cpp
  src/server/game/Handlers/ChannelHandler.cpp
  src/server/game/Handlers/LFGHandler.cpp
  src/server/scripts/Commands/cs_misc.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#21221 fix(Core/Instances): Ensure team is acquired before spawning creatures
  src/server/game/Instances/InstanceScript.cpp
  src/server/game/Instances/InstanceScript.h
  src/server/game/Maps/Map.cpp
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#21227 fix(DB/Creature) Fel Crystals no longer follow players.
  data/sql/updates/pending_db_world/Fel_Crystals.sql
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_selin_fireheart.cpp
Labels: DB, To Be Merged, Script, file-cpp, Tested

#21229 fix(DB/Creature) Sunblade Sentinel "Fel Lighting" has different timers and comment updated.
  data/sql/updates/pending_db_world/Sunblade_Sentinel.sql
Labels: DB, To Be Merged

#21244 fix(DB/Creature) Kael'Thas Phoenix now only use fireball during gravity Lapse.
  data/sql/updates/pending_db_world/Phoenix_Fireball.sql
Labels: DB, To Be Merged

#21240 fix(Scripts/MagistersTerrace) Pheonix will now reset after death
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_felblood_kaelthas.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#21239 fix(Scripts/MagistersTerrace) Add 5s Vexallus Pure Energy
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_vexallus.cpp
Labels: Ready to be Reviewed, Script, file-cpp

#21246 fix(DB/Creature): Felblood Kael'thas should despawn on evade
  data/sql/updates/pending_db_world/rev_1737600555496919400.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21247 fix(Scripts/MagisterTerrace): Implement missing Kaelthas text line
  data/sql/updates/pending_db_world/rev_1737602003829088500.sql
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_felblood_kaelthas.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#21245 fix(DB/Creature): Correct Sunblade Sentinel fel lightning
  data/sql/updates/pending_db_world/rev_1737598069427538700.sql
Labels: To Be Merged, Ready to be Reviewed

#21127 fix(Core/Threading): Refactored LockedQueue / MPSCQueue - Improve thread safety, performance, and memory management
  src/common/Threading/LockedQueue.h
  src/common/Threading/MPSCQueue.h
Labels: CORE, Ready to be Reviewed, file-cpp

#21249 fix(DB/Creature): Fix Flamestrike inhabit types
  data/sql/updates/pending_db_world/rev_1737641541738329200.sql
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_felblood_kaelthas.cpp
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#21260 fix(Scripts/MagisterTerrace): Fix Phoenixes and eggs not despawning
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_felblood_kaelthas.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/magisters_terrace.h
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#21262 fix(DB/Loot) Clean up loot of bosses in MGT HC
  data/sql/updates/pending_db_world/rev_1737730013774604750.sql
Labels: DB, Loot, 70

#21268 fix(Apps/Codestyle): ignore comments for some checks
  apps/codestyle/codestyle-sql.py
Labels: Ready to be Reviewed, CI/CD

#21261 fix(DB/SAI): Correct Phoenix/Egg rebirth and combat behaviour
  data/sql/updates/pending_db_world/rev_1737721489253815600.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21267 fix(Core/Auction): Fix usable item search in auction
  src/server/game/Handlers/AuctionHouseHandler.cpp
Labels: CORE, file-cpp

#21253 fix(Scripts/BT) Fix Gurtogg will not use acidic wound in phase 2
  src/server/scripts/Outland/BlackTemple/boss_bloodboil.cpp
Labels: Waiting to be Tested, Ready to be Reviewed, Script, file-cpp

#20190 SECURITY.md File Update
  .github/SECURITY.md
Labels: Ready to be Reviewed, Documentation

#20946 feat(Core/Autobroacast)Add localized autobroadcast messages
  data/sql/updates/pending_db_auth/rev_1734400454914932600.sql
  src/server/database/Database/Implementation/LoginDatabase.cpp
  src/server/database/Database/Implementation/LoginDatabase.h
  src/server/game/Autobroadcast/AutobroadcastMgr.cpp
  src/server/game/Autobroadcast/AutobroadcastMgr.h
  src/server/game/World/World.cpp
Labels: DB, CORE, Waiting to be Tested, file-cpp, Requires WIKI Update

#19824 feat(Core/Creatures): implement a sparring system
  data/sql/updates/pending_db_world/rev_1724592400426298600.sql
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Creature/Creature.h
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/game/Globals/ObjectMgr.cpp
  src/server/game/Globals/ObjectMgr.h
  src/server/game/World/World.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, file-cpp, Tested

#21275 fix(DB/Creature) Several Dragonflayers now have a SmartAI.
  data/sql/updates/pending_db_world/Dragonflayers.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#21050 fix(DB/SAI) - Fixes quest Counterattack! sometimes not being completed and adds 1 ability to the creature.
  data/sql/updates/pending_db_world/rev_1735350584050913500.sql
Labels: DB, Waiting to be Tested

#21279 feat(Core/Unit): Implement SetEmoteState() and ClearEmoteState() helpers
  src/server/game/Entities/Unit/Unit.h
Labels: CORE, To Be Merged, Ready to be Reviewed, file-cpp

#21252 refactor(Core/Motd): improve and simplify
  data/sql/updates/pending_db_world/rev_1737663805709739900.sql
  src/common/Common.cpp
  src/common/Common.h
  src/server/database/Database/Implementation/LoginDatabase.cpp
  src/server/database/Database/Implementation/LoginDatabase.h
  src/server/game/Miscellaneous/Language.h
  src/server/game/Motd/MotdMgr.cpp
  src/server/game/Motd/MotdMgr.h
  src/server/scripts/Commands/cs_server.cpp
Labels: DB, CORE, To Be Merged, Ready to be Reviewed, Script, file-cpp

#21278 fix(Scripts/MagisterTerrace): Rescript Kael's intro
  data/sql/updates/pending_db_world/rev_1737933911029419400.sql
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_felblood_kaelthas.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/instance_magisters_terrace.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/magisters_terrace.h
Labels: DB, To Be Merged, Ready to be Reviewed, Script, file-cpp

#21269 fix(DB/SAI) Fix Amani Trainer Abilities
  data/sql/updates/pending_db_world/rev_1737768610786833000.sql
Labels: DB

#21282 fix(DB/Creature) Update Amani Trainer SmartAI comments.
  data/sql/updates/pending_db_world/Amani_Trainer_Comment.sql
Labels: DB, To Be Merged

#21290 fix(Scripts/SunwellPlateau): Fix Madrigosa flight movement
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_brutallus.cpp
Labels: Script, file-cpp

#21289 fix(Scripts/MagisterTerrace): Fix Kael's outro and close door during …
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_felblood_kaelthas.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/instance_magisters_terrace.cpp
Labels: To Be Merged, Ready to be Reviewed, Script, file-cpp

#21291 fix(Scripts/SunwellPlateau): Fix Felmyst start fight
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_felmyst.cpp
Labels: Script, file-cpp

#21219 feat(Core/WorldState): implement Battle for Sun's Reach Event
  data/sql/updates/pending_db_characters/rev_1737318437190767069.sql
  data/sql/updates/pending_db_world/rev_1737318437190767069.sql
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/game/Entities/Player/Player.cpp
  src/server/game/World/IWorld.h
  src/server/game/World/World.cpp
  src/server/game/World/WorldState.cpp
  src/server/game/World/WorldState.h
  src/server/scripts/Commands/cs_script_loader.cpp
  src/server/scripts/Commands/cs_worldstate.cpp
  src/server/scripts/World/suns_reach_reclamation.cpp
  src/server/scripts/World/world_script_loader.cpp
Labels: DB, CORE, Ready to be Reviewed, Script, run-build, file-cpp, Tested

#21266 fix(Scripts/MagisterTerrace/DB) Vexallus Boss Complete Overhaul
  data/sql/updates/pending_db_world/rev_1737753927638017570.sql
  src/server/game/Spells/SpellInfoCorrections.cpp
  src/server/scripts/EasternKingdoms/MagistersTerrace/boss_vexallus.cpp
Labels: DB, CORE, Script, file-cpp
