Repository azerothcore/azerothcore-wotlk, pull requests merged in 2025-10, with the labels that each got.

#23036 fix(Scripts/Commands): escape string before query on go creature command
  src/server/scripts/Commands/cs_go.cpp
Labels: Script, file-cpp

#22944 fix(DB/gameobject): Adjust Quetz'lun's Corpse Spell Focus location
  data/sql/updates/pending_db_world/rev_1758041289461617900.sql
Labels: DB, Ready to be Reviewed, Tested

#23042 feat(Core/Updater): Add configurable shutdown delay on update exceptions
  src/server/apps/worldserver/worldserver.conf.dist
  src/server/database/Updater/DBUpdater.cpp
Labels: CORE, To Be Merged, file-cpp

#23074 fix(DB/SmartAI): Icecrown quest Seeds of Chaos flight speed and eject
  data/sql/updates/pending_db_world/rev_1759325091278152494.sql
Labels: DB, Ready to be Reviewed, Tested

#23081 fix(CI/Windows): installer script - update OpenSSL version to 3.5.4
  apps/installer/includes/os_configs/windows.sh
Labels: Bash, run-build

#23078 fix(Core/Unit): add Dual Wield 'auto' to improve scripting
  src/server/game/AI/ScriptedAI/ScriptedCreature.cpp
  src/server/game/Entities/Creature/Creature.cpp
  src/server/game/Entities/Player/Player.cpp
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
  src/server/scripts/Northrend/Gundrak/boss_moorabi.cpp
Labels: CORE, Ready to be Reviewed, Script, file-cpp

#23095 fix(DB/Gameobject): Sniffed Values for 'Big Rancid Meat' spawns
  data/sql/updates/pending_db_world/rev_1759525004799036400.sql
Labels: DB, Ready to be Reviewed

#23094 fix(DB/Gameobject): Sniffed Values for 'Stolen Pack' spawns
  data/sql/updates/pending_db_world/rev_1759524261297901900.sql
Labels: DB, To Be Merged, Tested

#23076 fix(Scripts/Northrend): quest Sniffing out the Perpetrator
  data/sql/updates/pending_db_world/rev_1759519474819030750.sql
  src/server/scripts/Northrend/zone_storm_peaks.cpp
Labels: DB, To Be Merged, Script, file-cpp, Tested

#23041 fix(Core/Unit): Fix thorns/retribution aura only dealing damage on white hits
  src/server/game/Entities/Unit/Unit.cpp
  src/server/game/Entities/Unit/Unit.h
Labels: CORE, Ready to be Reviewed, file-cpp, Tested

#23104 fix(DB/SmartAI): Fix Fuel Tank and Horde Siege Tank issues.
  data/sql/updates/pending_db_world/Siege_tank.sql
Labels: DB, To Be Merged, Ready to be Reviewed

#23110 fix(DB/Gameobject): Sniffed Values for 'Doodad_Nox_portal_top01' spawns
  data/sql/updates/pending_db_world/rev_1759598138082148000.sql
Labels: DB, Ready to be Reviewed

#22939 fix(Script/Kil'Jaeden) Sinister reflection delays 5 seconds before set in combat
  src/server/scripts/EasternKingdoms/SunwellPlateau/boss_kiljaeden.cpp
Labels: Script, file-cpp

#23136 fix(DB/Creature) Remove immunity to Disarm from Gal'darah.
  data/sql/updates/pending_db_world/Disarm.sql
Labels: DB, To Be Merged

#23112 fix(Scripts/CoS): Fix chest despawning when player leaves map
  src/server/scripts/Kalimdor/CavernsOfTime/CullingOfStratholme/culling_of_stratholme.cpp
Labels: To Be Merged, Script, file-cpp, Tested

#23109 fix(Scripts/IsleOfQueldanas): Fix Greengill Slave script
  data/sql/updates/pending_db_world/rev_1759604146375864300.sql
  src/server/scripts/EasternKingdoms/zone_isle_of_queldanas.cpp
Labels: DB, To Be Merged, Script, file-cpp, Tested

#23102 fix(Core/Spells): Drakkari Medicine Man Earth Shield max targets
  src/server/game/Spells/SpellInfoCorrections.cpp
Labels: CORE, To Be Merged, file-cpp, Tested
